[2015-11-17 07:35] ArtemGovorov commented on #222
It's a pretty common need to set up a context, use it for a few tests, then have a nested `describe` to tune a few more things in the context and run a few more tests with the modified context.

For example, if one has a `Project` entity that needs to be created, then configured, then started, etc.:

[code]

In a real code each step may contain much more to set up the context. While it's possible

[2015-11-17 08:51] jamestalmage commented on #232
https://github.com/floatdrop/pinkie/pull/11

[code]

Let me know if it works for you. (note that is still an open branch, and might get some changes before the PR is done - don't use it IRL).

[2015-11-17 09:00] TrySound commented on #232
@jamestalmage Yep, works fine. Thank you

[2015-11-17 11:00] novemberborn commented on #222
I appreciate that. I may be able to help once the code churn settles down.

[2015-11-17 11:02] sindresorhus commented on #222
Thanks for all the use-cases. The more practical use-cases we get, the easier it is to evaluate a possible feature and how to implement it.

[2015-11-17 11:12] vdemedes commented on #132
Closing via #204.

[2015-11-17 11:12] #132 closed

[2015-11-17 15:09] sindresorhus commented on #229
The main focus for AVA right now is testing Node.js things. We do intend to support browser use-cases too, but that takes the backseat for now.

Would exposing the Node.js binary `--require` flag while disabling our Babel hook solve your problem?
So you could for example do: `$ ava --require=babel-core/register --require=jsx/register`

@vdemedes Thoughts?

[2015-11-17 15:23] sindresorhus commented on #214
I don't have anything against using domains. It's fine if you use it correctly and it will not go away for a long time. I do, however, wonder if it's worth doing this. Promises and async functions are the future and we already handle those nicely. This really only applies to async exceptions in callback-style APIs, right?

From what I can remember, [async listener](https://www.npmjs.com/package/as

[2015-11-17 15:23] sindresorhus commented on #214
@vdemedes ?

[2015-11-17 15:40] madbence commented on #214
fyi [`continuation-local-storage`](https://www.npmjs.com/package/continuation-local-storage) is built on top of `async-listener`, which provides a simple `get`/`set` api to track data across async boundaries.

[2015-11-17 15:43] jamestalmage commented on #214
I noticed in the bluebird codebase that it publishes unhandledRejections to a specific domain (at least I thought that was what it was doing), so we should be able to trace promise rejections back to a specific test.

There are still multiple ways to find yourself in a callback that is not wrapped in a promise. (event-emitters, setTimeout).

I'm certainly not married to Domains (I've never played

[2015-11-17 15:58] sindresorhus commented on #214
Yeah, I just don't want us to waste too much time on legacy use-cases.

https://github.com/sindresorhus/delay

https://github.com/zenparsing/es-observable (I know, I know :p)

[2015-11-17 16:00] scottcorgan commented on #27
I know that a PR is better than this question, BUT, is this still a priority?

[2015-11-17 16:02] jamestalmage commented on #214
Is async-listener landed? Doesn't seem to be.

[2015-11-17 16:02] vdemedes commented on #214
As for me, I don't think it's worth doing it at the moment. As @sindresorhus stated, it only applies to "async" errors/exceptions. For now, we have more important stuff to focus on. Maybe in the future, who knows.

[2015-11-17 16:04] jprichardson commented on #27
:+1:

[2015-11-17 16:10] sindresorhus commented on #214
@jamestalmage Read some weeks ago on an issue that it was close to landing. That's all I know.

We can continue discussing this, but let's defer actually doing it until later. There are lot of other more important issues to attend to.

[2015-11-17 16:17] jamestalmage commented on #27
From my reading of the TAP spec, I it does not seem very well suited to concurrency. You would need to buffer individual tests and then log them all at once so they don't walk all over each-other.

[2015-11-17 16:36] vdemedes commented on #229
Perfect solution for this issue. I have nothing against this, should be clean to implement ;)

[2015-11-18 07:45] jprichardson commented on #183
If you add TAP support, I can get AVA running really easily in my plugin: https://github.com/jprichardson/trinity. Sorry, no screenshots yet. Works similarly to the others. But, I use it all day, every day and it works great. Supports Mocha and Tape out of the box as it just parses TAP output.

[2015-11-18 13:42] JakeChampion opened #238 "Only run babel over the test code"
### Issue:
Application code doesn't use a preprocessor and uses a feature that is not implemented in their production JS engine of choice. The tests will pass because they precompile the application code, upon deployment the application will fail as the engine doesn't support the feature being used.

### Steps to reproduce:
Write a function which uses a feature not implemented by the engine but is

[2015-11-18 13:59] sindresorhus commented on #238
Are you using latest AVA version? We fixed that some time ago.

[2015-11-18 14:50] JakeChampion commented on #238
Was 3 minor versions behind.

[2015-11-18 14:50] #238 closed

[2015-11-18 20:11] jacobmendoza commented on #183
Actually, it seems that supporting TAP would make a lot of sense. Several plugins could benefit from that (As @jprichardson, f.e). Don't have the required knowledge about AVA to add anything to @jamestalmage comments.

Regarding rspec-tree-runner code, just a quick update. The entire plugin is some sort of learning experiment and I don't have much experience in any of the technologies involved, so

[2015-11-19 05:52] scarletsky commented on #207
@mnzt
I have the same issue, how can you solve it ?

[2015-11-19 07:25] mnzt commented on #207
@scarletsky

Go into your own `node_modules` and remove babel packages, then remove them from your `package.json`. After that, `npm install - -save-dev ava` should get it working.

I think there may still be an issue with ava using local babel packages, I'll do some bug testing tonight and see if that's the case.

[2015-11-19 07:29] scarletsky commented on #207
@mnzt
Which babel version are you using? 5 or 6 ?

[2015-11-19 07:32] mnzt commented on #207
@scarletsky I'm not running any babel packages in the project, due to those causing the error.

Can you try removing your local babel packages in your project, and see if that temp-fixes things? If so, then I'll reopen this issue and we can provide extra debug info.

[2015-11-19 07:43] scarletsky commented on #207
@mnzt
after removing babel packages with `rm -rf node_modules/babel*`, I run tests again.

[code]

[code]

[code]

[2015-11-19 07:53] mnzt commented on #207
@scarletsky well removing babel packages clears up the original issue, I'll put in a merge request later to fix if no one else does first.

Unfortunately I can't debug your issue from mobile, hopefully some one else can help out in the mean time. It might be worth opening a separate issue for it.

[2015-11-19 10:00] mnzt commented on #207
@sindresorhus was this fixed in `0.5.0`?

[2015-11-19 10:03] scarletsky commented on #207
No, in fact, I am using 0.5.0...

[2015-11-19 10:46] rightaway commented on #222
@ArtemGovorov Well put. Similar use case here.

Right, ideally just the selected test and only its associated `before/after/beforeEach/afterEach` hooks (at its own level and parent levels in the nesting) would run.

[2015-11-19 16:25] #201 closed

[2015-11-19 18:59] sindresorhus opened #242 "Use `debug` in the IPC channel for a better debugging experience"
From: https://github.com/sindresorhus/ava/pull/225#issuecomment-157338839

[2015-11-19 20:28] #242 closed

[2015-11-19 20:28] sindresorhus commented on #242
<img width="1440" alt="screen shot 2015-11-20 at 03 27 19" src="https://cloud.githubusercontent.com/assets/170270/11283318/b911610e-8f36-11e5-882a-9cca3c27c0f0.png">

@vdemedes @jamestalmage Feel free to add more `debug` instances where it makes sense ;)

[2015-11-20 08:44] hellsan631 commented on #207
@scarletsky I had this problem (TypeError: (0 , _ava2.default) is not a function) and was tinkering around trying to fix. Deleted my node_modules folder and accidentally ran ava and it worked. Apparently if you have a local copy of ava and a global copy of ava, it gives you the error you had above.

[2015-11-20 08:47] mnzt commented on #207
@hellsan631 seems very variable, similar sort of issue with the original error with local modules interfering with ava's.

[2015-11-20 09:33] sindresorhus opened #244 "Proposal to make test() behavior more explicit and optimize for the future"
Continued from https://github.com/sindresorhus/ava/issues/133.

-

I've been thinking a lot about sync vs. async tests and I really would like to make it more explicit and optimize for the future. Currently when using `test()` it's ambiguous whether the test is sync or async. The reality is also that most tests are sync and it's annoying and easy to forget the `t.end()` in every test (even I forge

[2015-11-20 09:39] ben-eb commented on #244
:+1:

[2015-11-20 09:42] TrySound opened #245 "Error when using global `ava` command."
After updating to ava 0.5
If I run `$ npm test` tests are passed. If I run `$ ava` i get this error
[code]

The same if I try to run empty tests with `t.end();` only

[2015-11-20 09:44] SamVerschueren commented on #244
I'm ok with changing this. In `one-line` modules, most of the time you only have one test. But it still forces you to write `t.end` or `t.plan`.

[code]

With these changes, this can be written to

[code]

I never use `t.end` in a callback, because promises (await/async) all-the-way! Maybe sometimes when using streams if it's not possible to use `get-stream`.

So in general, good for me!

[2015-11-20 09:45] sindresorhus commented on #245
Could you share the test file?

-

@jamestalmage Any way we could show the stack of the uncaught exception?

We should also hide our own stack on `Error: Never got test results from` as it has no purpose and is only noise.

[2015-11-20 09:47] TrySound commented on #245
https://github.com/TrySound/rollup-plugin-string/blob/master/test/index.js
I remember about chdir. Will remove

[2015-11-20 09:53] sindresorhus commented on #226
Yes, definitely.

[2015-11-20 09:55] sindresorhus commented on #245
@TrySound I cloned your repo, npm installed, and ran `npm test` on Node.js 0.12 and worked fine for me. Weird. Can you try `rm -rf node_modules && npm cache clean && npm install && npm test`?

[2015-11-20 09:56] TrySound commented on #245
@sindresorhus Yeah, I think npm test runs ava from local node_modules. But as I said `$ ava` command doesn't work.

[2015-11-20 10:01] sindresorhus commented on #245
@TrySound Try upgrading the global AVA version?

[2015-11-20 10:03] Qix- commented on #244
I approve, but I would drop the legacy support and release as a major. Why not go all-the-way?

The use of the `async` keyword keeps things clean and seems much more natural to me, personally. `test()` now remains an all-in-one method (of sorts) that can still show explicit sync/async tests.

:+1:

[2015-11-20 10:06] SamVerschueren commented on #244
@Qix- I guess the legacy can't be dropped. How would one test something like [this](https://github.com/sindresorhus/pageres-cli/blob/master/test/test.js#L15-L25) without `t.plan` or `t.end` support?

[2015-11-20 10:10] sindresorhus commented on #244
@Qix- `test.async()` is there for callback-based APIs which isn't going away anytime soon...

[2015-11-20 10:20] TrySound commented on #245
[code]

[2015-11-20 10:35] Qix- commented on #244
Oh I see, nevermind. :+1:

[2015-11-20 13:59] taylorhakes commented on #244
Does `t.end()` exist in the sync version? Might be easier to upgrade, but add confusion later.

Maybe `test.callback` might be a better name? I seems like async is still possible in the regular version.

[2015-11-20 14:11] sindresorhus commented on #244
We can expose it there as a noop function.

Even though the main use-case is for callback-style APIs doesn't mean that's the only. I'd rather name it for what it is.

No, it will finish at the end of the tick. So async operations will be ignored.

[2015-11-20 15:06] sparty02 opened #246 "Use released 'destory-circular' dep from npm"
```package.json``` has a github-linked dep for ```destroy-circular```, as:

```"destroy-circular": "jamestalmage/destroy-circular#feeb7d1",```

That seems to look like it's in line with the 1.1.0 release of ```destroy-circular``` out on npm.  Can this leverage the npm 1.1.0 release instead?  I'm in an environment that doesn't have direct access to github; we use a proxied npm repo.

cc/ @jamestalm

[2015-11-20 15:12] sindresorhus commented on #246
It's not the same. We depend on https://github.com/jonpacker/destroy-circular/pull/1

We plan to fix it here instead: https://github.com/sindresorhus/serialize-error/issues/2

[2015-11-20 15:12] #246 closed

[2015-11-20 15:24] mariuslundgard commented on #207
I get this error too. This package doesn't seem to be compatible with babel v6.

[2015-11-20 15:29] mnzt commented on #207
Ava should really be using absolute paths for it's packages.

[2015-11-20 16:15] taylorhakes commented on #244
Makes sense. I would be a little confused by `t.end` being a noop. I'd rather have it not exist to make sure I didn't make a mistake.

I guess we disagree on what is async. I consider this async.
[code]

[2015-11-20 17:05] af commented on #244
This looks great!

[2015-11-20 18:06] sindresorhus commented on #244
Yeah, good point. I agree that's better.

Oh, I misunderstood you. Yes, async is possible with `test()` by using an async function.

[2015-11-20 18:46] sparty02 commented on #156
I actually want my source code (non-test) to be transpiled by babel as well..... i.e. I want to be able to ```import``` a module that is written in ES6 into my ava test module.  Is there a suggested technique for this today?  Or is this a pending enhancement?

[2015-11-20 18:50] sindresorhus commented on #156
@sparty02 Pending enhancement. Definitely something we want to support, but haven't had the chance yet. See https://github.com/sindresorhus/ava/issues/111. Any thoughts there much appreciated.

[2015-11-20 19:12] sparty02 commented on #156
@sindresorhus  ahh.... thanks for the reference to #111.  I'll take a look!

[2015-11-20 19:23] sparty02 commented on #111
```import babel-core/register``` is a really good, simple workaround until this feature lands.  @sindresorhus what do you think about putting this in the README until it's officially addressed?

[2015-11-20 19:25] sindresorhus commented on #111
@sparty02 Sure, PR welcome.

[2015-11-20 19:46] kevbook commented on #245
Same problem

[2015-11-20 22:33] jamestalmage commented on #244
:+1:
This is the problem I was trying to communicate with #199, and I think this change provides a great solution.

Let's take that further:

[code]

[2015-11-20 22:46] jamestalmage opened #248 "Show stack trace of uncaught exceptions."
See this comment: https://github.com/sindresorhus/ava/issues/245#issuecomment-158339191

@sindresorhus - Can you start assigning me tasks you want me to own so I don't forget about them? I read some of this stuff on mobile, and it can be a pain trying to remember everything I'm supposed to follow up on when I get back to a keyboard. It would be really nice if Github allowed some sort of "Pinning"

[2015-11-20 22:51] jamestalmage commented on #207
We are not Babel v6 ready. #221 is in progress, but until some blocking issues get resolved - v6 is not an option. It will happen soon.

[2015-11-20 22:53] jamestalmage commented on #207
[code]

This is a known issue in Babel v6: https://phabricator.babeljs.io/T6644

This is the primary blocker for AVA upgrading to Babel.

[2015-11-20 22:58] jamestalmage commented on #223
@novemberborn

What issue are you trying to address here? Correct line numbers in stack trace output of transpiled test files? Consuming source-maps? Give us an example of how AVA is not doing what you expect.

[2015-11-20 23:51] hellsan631 commented on #207
I wasn't using babel v6 when ```TypeError: (0 , _ava2.default) is not a function``` happened. Still using babel v5, both locally and globally.

[2015-11-21 00:09] jamestalmage commented on #207
Oops - the actual error confirmed to be Babel6 is:

[code]

I copy and pasted without noticing the difference.

That said, I suspect you have a babel 6 dependency hanging out.

Assuming you are not on windows, can you run the following **from your project directory**:

[code]

And paste the contents here.

[2015-11-21 01:16] hellsan631 commented on #207
I don't think so. I am on windows, but I have cygwin installed, so grep still works.

Here are my versions
NPM: 3.3.12
Node: 4.2.2

[code]

Brought up nothing in the local repo. Going for global:

[code]

```babelify@6.4.0``` didn't get babel 6 until ```babelify@7.0.0```

[2015-11-21 02:02] jamestalmage commented on #207
Is `ava` only installed globally?

[2015-11-21 06:45] hellsan631 commented on #207
Yep. It works when its installed only globally.

When ava is installed __only locally__, the ava command doesn't work.
When ava is installed __only globally__, ava works fine

However in the guide, you recommend one of the first steps being ava --init, which installed ava as a dev-dependency. So ava is installed then both globally and locally. ava then triggers the type error above when I try and

[2015-11-21 06:51] jamestalmage commented on #207
Try reinstalling locally and running as follows:

`./node_modules/.bin/ava`, that will execute the locally installed version.

Still, the global one should work, as long as it is the same version as your local install.

You may want to also try the following, just to ensure you are not working off a corrupted install:

[code]

[2015-11-21 07:34] hellsan631 commented on #207
I get various errors when trying to run it locally using the path to bin instead.

[code]

Tried the cache clean and still no dice. My full error is here as follows:

[code]

[2015-11-21 07:39] jamestalmage commented on #207
That looks like a stack trace from running globally. What happens with a local run `./node_modules/.bin/ava`

[2015-11-21 07:49] hellsan631 commented on #207
[code]
Well, that worked. hmm. Weird, because just a second ago i tried it and got some syntax erros (listed above). but now, after uninstalling it and reinstalling it it works

[2015-11-21 07:54] jamestalmage commented on #207
You probably got those because we had you delete `babel` in earlier steps.

If you put the following in package.json:

[code]

Then you can run `npm test`, and it will use the local version every time.

[2015-11-21 08:16] sindresorhus commented on #244
@jamestalmage :+1:!

[2015-11-21 10:53] rightaway opened #249 "If specifying a directory, tests in subdirectories should be run too"
If I do `ava test` where test is a directory, it only runs the files directly under `test`. But if I had subdirectories under it, those don't get run. I think it should run all tests in that directory recursively. Or at least there should be a command line flag like `-r` to get this behavior.

[2015-11-21 10:55] sindresorhus commented on #249
It's intentionally not recursive, as a good default and simplicity. If you need it to be recursive just specify the appropriate glob pattern. Like: `$ ava test/**`.

[2015-11-21 11:14] rightaway commented on #249
Ok. Now if I have a file `test/test1.js` and `test/subtest/test2.js` (each with one test called `runTest` in it) and run `ava test/**/*.js` (glob pattern in ZSH) on the command line, the output looks like this

[code]

But it should look more like

[code]

At least while nested groups aren't available (https://github.com/sindresorhus/ava/issues/222) using directories is a good way to organize stru

[2015-11-21 11:21] sindresorhus commented on #249
We don't add options lightly and we try very hard to keep AVA simple. You can solve this with a glob pattern. We'll fix the output somehow.

[2015-11-21 11:27] rightaway commented on #249
A suggestion of how it could look. After seeing all the files passed in with the glob pattern it should strip the leading directories that are all in common. The way if someone passes in a pattern like `some/sub/directory/**/*.js`, and the only files that appear are `some/sub/directory/sub/path/test1.js` and `some/sub/directory/sub/path/test2.js`, then the part in common `some/sub/directory/sub/pa

[2015-11-21 11:28] sindresorhus commented on #249
Agreed, that's what I was thinking too.

[2015-11-21 12:35] Qix- commented on #249
I think it should be recursive by default.

In my case, I want to mimic my `lib/` folder with test files in order to yield more [succinct output](https://github.com/sindresorhus/ava/issues/53#issuecomment-141339499) with nested files.

Further, this is how other languages' test systems work and is analogous to those for me, personally - hence my decision to structure my tests like this.

As of now

[2015-11-21 13:28] Qix- opened #250 "PowerAssert shows incorrect line"
I assume it's a mapping issue since we're transpiling things with babel.

<img width="138" alt="screen shot 2015-11-21 at 06 28 14" src="https://cloud.githubusercontent.com/assets/885648/11318672/12a429e4-9019-11e5-85ce-9bb75c0988ac.png">
<img width="433" alt="screen shot 2015-11-21 at 06 28 28" src="https://cloud.githubusercontent.com/assets/885648/11318675/1a841250-9019-11e5-8e53-0bc2b6297a66.pn

[2015-11-21 13:49] novemberborn commented on #223
Correcting line numbers in stack trace output, yes. Sorry didn't make that clear.

Though it's not just the test files. If the code you're testing was previously transpiled and contains the source map pragma then errors coming from that code will also be presented correctly. This will help debugging your code and tests.

[2015-11-22 03:28] jamestalmage opened #252 "proposal: Hide `Test` internals. Expose a delegate object instead."
We expose instances of `Test` to the user. It's the `t` in the following code:

[code]

That has all kinds of internal information on it, including

 - `assertCount`
 - `planCount`
 - `duration`
 - `_timeStart`
 - `planStack`
 - etc, etc, etc.

We are already looping over all the public methods and binding them to the test [here](https://github.com/sindresorhus/ava/blob/0caf0cf7b29615ca3da94812d91

[2015-11-22 03:48] jamestalmage commented on #244
In the case of an a function that has not been explicitly declared `async`, what becomes of `t.plan()`?

I thoroughly dislike the use of `t.plan` as a shortcut for automatically ending tests, but a lot of people are used to that.

If we have an **implied** async function, I say `t.plan` is only used as another form of assertion ("this is how many assertions we had"). We do not shortcut the end of

[2015-11-22 04:04] Qix- commented on #244
For the record, `t.plan()` is useful to catch loop bound errors, such as when you expect a loop to run X amount of times with Y amount of assertions (`t.plan(X + Y)`), and the loop runs too long/short.

Another, probably more relevant use of planned assertions are double-callback invocations. If a callback is called multiple times, the easiest and cleanest way to detect multiple assertions is with

[2015-11-22 04:18] jamestalmage commented on #244
@Qix-
I never said plan was useless. Just that I do not like using it as a means of auto ending your test.
It certainly has value for all the things you just described. With auto-ending, you can do this:

[code]

With my proposed modification to `plan`, you would be required to do this:

[code]

The issue that arises is this:

[code]

In this case, we may "auto-end" the test because you reached yo

[2015-11-22 06:08] jamestalmage commented on #244
OK,
I took an initial stab at this in #253.

It depends on PR #243 - so it is best to [focus on the commit](https://github.com/jamestalmage/ava/commit/40045b81e9ac43843ebf0af66feff15118e087d9) where I actually implement this proposal.

[2015-11-22 08:17] jamestalmage commented on #250
Duplicate of #223.

PR for Fix: #254

[2015-11-22 08:19] jamestalmage commented on #223
#254 fixes this for your test file.

Getting it completely right will not be trivial. See #254 for discussion.

[2015-11-22 09:00] jamestalmage opened #255 "logger.js: beautifyStackTrace is removing relevant lines on Windows"
See AppVeyor failures on #254

[2015-11-22 09:09] jamestalmage opened #256 "start using `tap.match` in unit tests"
We have lots of assertions on regular expressions, but we are using `tap.true(regex.test(...))` and similar. When these fail, the reporter outputs really terrible info ("expected true got false" is the gist).
Using `tap.match` provides more information.

There are a number of PR's open right now, so let's wait to do that cleanup until some of the big ones have been merged.

[2015-11-22 10:39] Qix- commented on #250
:+1: couldn't find it in the issue search for some reason. Thanks.

[2015-11-22 10:39] #250 closed

[2015-11-22 10:39] jamestalmage commented on #245
Fixed in #257. This was another Windows specific issue. Fun, fun, fun!

[2015-11-22 13:10] Qix- commented on #121
Showing the last assertion makes absolutely zero sense.

[code]

In the above, the last assertion is the only one that shows up, leading me to initially believe everything leading up to it was ok. Low and behold, I commented it out and the one before it (`ctx.inIndent === true`) also failed the assertion. Now I have to comment out every single assertion until I find the one that is **actually** th

[2015-11-22 18:19] sotojuan commented on #226
I'll submit my PR later for this, but I "fixed" it doing two things:

* Add `node_modules/` to the array [here](https://github.com/sindresorhus/ava/blob/master/cli.js#L203)

* Add:

[code]

Below the `if` statement in the same place as above. This makes sure all paths that have `node_modules` in them are gone in case the user did something like `ava **`.

I am not sure if this is the most efficien

[2015-11-23 00:19] jamestalmage commented on #220
Duplicate of #121

Fix PR: #259

[2015-11-23 03:16] sindresorhus commented on #256
Sure, since we don't have `power-assert` with `tap`.

[2015-11-23 03:21] #255 closed

[2015-11-23 03:29] #220 closed

[2015-11-23 06:24] sindresorhus commented on #121
@Qix- Totally agree. Not sure why I did this initially.

[2015-11-23 06:39] #223 closed

[2015-11-23 07:04] jamestalmage opened #261 "verbose mode"
With #259, we have moved from only printing the last assertion failure, to only printing the first.

Once #243 (chainable methods) happens, I think we should allow printing of every failed assertion to give the most information possible.

[code]

Perhaps `only` mode should also just imply `verbose` mode (you should have way less noise with a single test).

[2015-11-23 07:15] #121 closed

[2015-11-23 07:16] sindresorhus commented on #261
Not sure we should have a `verbose` modifier. I don't see why would want to augment just some tests. I'd rather have a `--verbose` flag for all tests.

I like the idea of `only` triggering verbose mode for those tests.

[2015-11-23 09:27] Qix- commented on #261
`ava -v` would be wonderful.

[2015-11-23 11:34] sindresorhus commented on #244
@jamestalmage I agree `t.plan` in "implied async" should not auto-end the test. I already decided that, but forgot to write it down. With those we actually have the opportunity to catch "more than planned assertions async", which we previously couldn't (can you add a test for that in your commit?).

As for "declared async" (test.async), I'm not sure. I would like to change it, both because it's be

[2015-11-23 12:11] Qix- commented on #244
If you're referring to `test.async(() =>` vs `test(async t =>`, why not `test.callback(t =>`?

[2015-11-23 15:37] sindresorhus commented on #244
@Qix- Already answered in https://github.com/sindresorhus/ava/issues/244#issuecomment-158411625.

[2015-11-23 15:56] sindresorhus commented on #252
:+1: from me. @vdemedes ?

[2015-11-23 18:16] jamestalmage commented on #244
OK, next question:

What should happen if they are using "declared async" (test.async), and they return a Promise?

The current behavior is to auto-end with the Promise, but it seems to me that once you have declared `test.async`, you have bought into the legacy API, and should be **required** to call `t.end()` at that point.

Consider this scenario that might arise when you are forced to deal wit

[2015-11-23 18:24] SamVerschueren commented on #244
In that case, you have to call `t.end` because you explicitly "subscribed" for that behaviour.

[2015-11-23 19:24] jamestalmage opened #263 "regression: array.includes no longer working."
Reference: https://github.com/sindresorhus/serialize-error/pull/3#discussion_r45643804

The following no longer works:

[code]

I get the following error:

We are using the `runtime` plugin, to avoid any polyfills, so it makes sense that Array.prototype.includes does not actually exist. I would have thought the runtime plugin would have picked this up and provided it via some helper function.

We

[2015-11-23 19:36] jamestalmage commented on #263
So it looks like the last time this passed, was on `ava@0.3.0`.
[At that point](https://github.com/sindresorhus/ava/blob/v0.3.0/lib/babel.js) we were using `babel-core/register`, which loads polyfills.

So maybe the `runtime` plugin has never handled this.

[2015-11-23 22:01] vdemedes commented on #252
What if we just made them non-enumerable? So that we won't need to use `this.options.assertCount` instead of `this.assertCount` inside `lib/test.js` itself.

[2015-11-23 22:05] vdemedes commented on #261
As for me, I can't find the use-case for a verbose mode in my mind. If you could help me with that, that'd be great :) If I have 10 assertions with 1st assertion causing the rest to fail, why do we need to see the other 9? Are there any examples in some projects or other test runners, where this functionality is needed/implemented?

[2015-11-23 22:12] jamestalmage commented on #252
We would not need to do that. We would create a different object, and put methods on it that were bound to the test instance test:

[code]

Or we could use [`delegates`](https://www.npmjs.com/package/delegates).

The problem with non-enumerable is that they can still be clobbered. I am working on #25 (registering custom assertion methods) - and we don't want to have to force them to avoid our inte

[2015-11-23 22:12] vdemedes commented on #252
Oh, I get it now. `delegates` usage would be really good, love this module.

[2015-11-23 22:22] jamestalmage commented on #261
`tap`/`tape` show you every assertion failure.

Usually, yes - you only need to see the first assertion. Though sometimes additional information can be helpful:

[code]

Granted, the solution above is pretty obvious - reorder the assertions. But that is not so easy to see in every problem.

[2015-11-23 22:32] jamestalmage commented on #261
Here is an example where I wish I could have seen every failure:
  https://github.com/jamestalmage/babel-plugin-detective/blob/master/test/babel-6-test.js#L165

I could not use `deepEquals`, and using `assert` which throws at the first error was annoying because you can not know ahead of time which failure will highlight your mistake.

[2015-11-23 23:42] jamestalmage commented on #244
OK, so when using callbacks, auto-ending with plan does have a use. Coordinating ending after two or more callbacks who will be called in indeterminate order:

[code]

That is pretty niche though. So what about an opt-in (or opt-out) auto-ending behavior:

[code]

[2015-11-23 23:49] ben-eb commented on #244
@jamestalmage I find optional boolean parameters to be an anti-pattern, would either prefer a string literal or an options object. :smile:

http://ariya.ofilabs.com/2011/08/hall-of-api-shame-boolean-trap.html

[2015-11-23 23:56] jamestalmage commented on #244
Good call!

String literal sounds less verbose, and I guess I don't see needing to shove a lot of options in there.

[code]

Optionally, the `plan` function could return a chainable object:

[code]

[2015-11-24 06:26] thejameskyle commented on #263
Babel can't resolve instance methods on references to polyfills.

Think about it this way, how can a compiler **know** what `keys` is in this case? Until it knows that it can't possibly know what `includes` is referring to.

[code]

There is the potential in this particular case to do something about it because we can infer that the result of `Object.keys` is an array. However, if you had a case l

[2015-11-24 06:35] jamestalmage commented on #263
Couldn't you transform it to something like this:

[code]

Obviously there is a performance hit for this way. Is that the only reason it is considered unacceptable, or are there other reasons?

[2015-11-24 06:41] thejameskyle commented on #263
If you're going to include the code to polyfill it, why not just polyfill it?

Also, I don't think we'd ever be interested in going down that route in core, you're welcome to try your hand at in in your own plugin.

[2015-11-24 06:47] jamestalmage commented on #263
AVA is trying to provide as much ES2015+ support inside tests, while not polluting the production environment at all.  ES2015 convenience in the tests, while still allowing you to write really tiny, dependency-less modules that do not require a build step. I thought the goals of the optional runtime plugin were similar.

[2015-11-24 07:55] sindresorhus commented on #263
Wonder if the [`vm`](https://nodejs.org/api/vm.html) module could help in this situation.

[2015-11-24 08:28] jamestalmage commented on #263
Interesting. Looking back at the `0.10` docs, it seems there is some historical flakiness. It would probably be pretty painful.

The list of prototype polyfills is [not that long](https://github.com/addyosmani/es6-tools#polyfills). A plugin might be easier.

@thejameskyle - Does the `runtime` plugin provide non polluting polyfills for static methods? `Array.of`, `String.fromCodePoint`, etc?

[2015-11-24 08:56] #226 closed

[2015-11-24 10:05] vdemedes commented on #261
This shouldn't really bother us, since AVA is not trying to replicate tap/tape, but trying to stand out.

In that case, verbose mode should definitely be optional and dead-clear to enable. I'm not a fan of enabling verbose mode automatically for `test.only()`.

[2015-11-24 10:31] sindresorhus commented on #261
Been thinking hard about this one today. I've changed my mind about implicit verbose when using `test.only()`. That's just too magic. As for a `--verbose` flag, I guess that could be useful, but I've honestly never needed it. I think we should punt it for now, but leave this open for additional comments. We can make a decisions later.

[2015-11-24 17:29] sindresorhus commented on #244
That should not be allowed. They should instead use `test()`. We should detect it and throw an helpful error message.

I think we should drop auto-ending. Not even an option for it. I want to keep AVA simple and consistent. Instead, we should document how to count callbacks and `t.end()` when reached and recommend instead just splitting up the test into multiple, which is better anyways.

[2015-11-24 17:31] vdemedes commented on #244
@sindresorhus +1!

[2015-11-24 22:45] jamestalmage commented on #246
@sparty02 - as of `0.6.1` we no longer have a git dependency.

[2015-11-24 23:32] thejameskyle commented on #263
Babel can actually do that through `babel-plugin-transform-runtime`

https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-runtime/src/definitions.js#L25

These are aliases to core-js functions:

[code]
[code]

[2015-11-25 00:14] jamestalmage commented on #263
That's what I thought. So, **if** I were to write a plugin to fill in the gaps for AVA, I would only need to tackle instance methods. `transform-runtime`  handles globals (Promise, Map, etc) and static instance methods (Array.of, etc).

[2015-11-25 00:44] dralletje opened #268 "Why no semantic versioning?"
This is not really an issue, but more a curious question.
Not sure if it belongs here or would fit better on twitter, haha!

Why doesn't the project use 'hardcore' semantic versioning? Why is it still 0.X.X?

[2015-11-25 01:11] sindresorhus commented on #268
It follows semver, but it's unstable, hence not being v1 yet. No idea what you mean by "hardcore semantic"? Can you elaborate on why you think it doesn't follow semver?

[2015-11-25 02:28] jamestalmage commented on #268
Related: http://semver.org/

 4 - Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable.

--

Use [Caret Ranges](https://www.npmjs.com/package/semver#caret-ranges-1-2-3-0-2-5-0-0-4) in `package.json` when it comes to `pre-1.0.0` projects.
(I personally use caret ranges just about everywhere)

Allows changes that do no

[2015-11-25 03:28] dbkaplun commented on #244
+1

[2015-11-25 04:04] jamestalmage commented on #80
Closed via: https://github.com/sindresorhus/ava/commit/c5d02f1f3c8ba7dabbdb53fdc9710f0cd117a9d3

[2015-11-25 04:04] #80 closed

[2015-11-25 04:20] jamestalmage commented on #137
Closed via: https://github.com/sindresorhus/ava/commit/97409864e2f2f3ed103b13ae6602cad4744a6815

[2015-11-25 04:20] #137 closed

[2015-11-25 04:32] jamestalmage commented on #133
We have consensus in #244, and a proposed implementation in #253.
I will leave #244 open until we merge a solution. Closing this now.

[2015-11-25 04:32] #133 closed

[2015-11-25 04:35] jamestalmage commented on #185
@novemberborn With https://github.com/sindresorhus/ava/commit/fb98d5dcff7ac4810efa5ef5ee42b0d041c89d13 merged where do we stand on this?

Can this be closed, or is this a different issue?

[2015-11-25 04:38] jamestalmage commented on #248
Duplicate of #255, Closed by #257

[2015-11-25 04:38] #248 closed

[2015-11-25 04:40] sindresorhus commented on #248
Will do from now on. You can also self-assign yourself tasks, on the right-hand side (Assignee).

[2015-11-25 04:42] jamestalmage commented on #248
Yep - I asked that before you added me.

[2015-11-25 04:43] sindresorhus opened #269 "Hide our own error stack on IPC messaged errors"
From: https://github.com/sindresorhus/ava/issues/245#issuecomment-158339191

-

Our error stack is pretty useless when an error comes from the forked process.

[2015-11-25 04:51] jamestalmage commented on #269
Agreed.

I think the best solution is to stop rejecting the promise in that case. Rejection has the side affect of bailing out of `Promise.all` early, so other test files may not finish. We should resolve with an failure result, that will simply be summarized in the output. We should save rejection for unexpected/unrecoverable problems.

[2015-11-25 04:53] jamestalmage commented on #268
@dralletje
I think we answered your question. If not, please reopen this.

[2015-11-25 04:53] #268 closed

[2015-11-25 06:43] #128 closed

[2015-11-25 07:11] SamVerschueren commented on #128
Awesome!

[2015-11-25 10:57] alubbe commented on #18
Just some quick feedback from an early user that it would be awesome to have custom reporters :)

[2015-11-25 11:04] alubbe opened #271 "Better runtime errors"
If my test throws a runtime error, it gets printed as an `AssertionError`, which swallows the stack trace. For example,
[code]
only prints
[code]
It would be really helpful to get a stack trace here.

[2015-11-25 11:10] alubbe opened #272 "Add filename to the names of failing tests"
Due to the test reports of successful runs using the filenames, I've DRYed up my test names, e.g.,
[code]
However, when an assertion fails, it gives only the test name, making it a bit harder to quickly see where the failure happened:
[code]
What do you think about printing this instead:
[code]

[2015-11-25 11:36] novemberborn commented on #185
@jamestalmage it's a different issue. Code coverage is computed over the compiled output, so the stats will be wrong and it's hard to see which line in the original code was not covered. `remap-istanbul` uses source maps to compute the coverage of the original source.

The approach I mentioned above works for my project, which uses a watcher to transpile source files and write them to disk, with t

[2015-11-25 11:37] novemberborn commented on #185
By which I mean, since AVA isn't responsible for the coverage reports, it's not a bug with the project. Workarounds could be explained (maybe I should do so! :wink:) but it's fairly tricky.

[2015-11-26 03:42] EduardoLopes commented on #245
Same Problem. The test works if i run `npm test` and i got that same error if i run `ava test.js`

ava version: `0.6.1`

here's the project i was trying on: https://github.com/EduardoLopes/palette-lovers

[2015-11-26 05:31] MarkHerhold commented on #175
I hit the exact same issue with AVA.

[2015-11-26 05:41] sindresorhus commented on #175
@MarkHerhold Read #32 for context of why it's like it is. I'm surprised the `config` module doesn't just find the upwards closest config file.

[2015-11-26 06:25] sindresorhus commented on #18
@alubbe That will come when we add TAP support #27. You can then use any [TAP-reporter](https://github.com/substack/tape#pretty-reporters).

[2015-11-26 07:25] TrySound commented on #245
@jamestalmage Why `ava-cli` is not permanent solution? By the way local `ava` runs without errors

[2015-11-26 07:55] jamestalmage commented on #245
Because eventually I would like to see it just be `npm install -g ava`, and because that has not been discussed/approved by the rest of the AVA team.

Did it solve your problem?

[2015-11-26 08:15] TrySound commented on #245
@jamestalmage Yep, works :)

[2015-11-26 10:12] alubbe commented on #18
Awesome, I just hope that the concurrency doesn't end up posing a problem for TAP.

[2015-11-26 12:42] novemberborn commented on #185
Here's the writeup of my workaround: https://medium.com/@novemberborn/code-coverage-with-babel-istanbul-nyc-83b8c2f1093

[2015-11-26 15:38] jamestalmage commented on #18
We likely will have to buffer and output one whole test at a time.

[2015-11-26 15:45] MoOx opened #274 ""Maximum call stack size exceeded" from espurify"
This test is ok

[code]

But this one create an issue

[code]

Error

[code]

Some infos:

❯ node --version
v5.0.0

❯ npm --version
3.5.1

babel 5.8.x

[2015-11-26 16:08] MarkHerhold commented on #175
@sindresorhus OK, that is fine. This is a major turn-off in terms of adoption of AVA. (https://github.com/sindresorhus/ava/issues/222 does not help either). I looks like the config module lets me define an environment variable called `NODE_CONFIG_DIR` which should solve the problem. I don't like the idea that my application runs from a different working directory during test as compared to develop

[2015-11-26 16:44] twada commented on #274
@MoOx Thank you for reporting and reproduction case.

Currently, power-assert only supports standard AST Nodes defined in [The ESTree Spec](https://github.com/estree/estree).
JSX nodes are not supported.

I'll fix this when AVA gets Babel 6 ready.
I'm so sorry for the inconvenience.

[2015-11-26 21:15] sparty02 commented on #246
@jamestalmage thanks for the update!

[2015-11-27 06:15] #244 closed

[2015-11-27 09:38] MoOx commented on #274
So why the first example is working? (Reminder I use babel 5.8 for the moment since lots of things are not working/ready for 6)

[2015-11-27 10:14] twada commented on #274
@MoOx

In the first example, JSX element is on the __outside__ of assertion argument expression (in this case, arguments of `t.is`) so power-assert ignored it.

In the second example, JSX element is on the __inside__ of assertion argument expression, so power-assert tried to infer more information, and something wrong has occurred.

[2015-11-27 14:45] mnzt commented on #207
Is this to be kept the same, @sindresorhus?

I personally feel a user should be able to run `ava` globally and for the tests to run; it feels much more natural, at least to me.

[2015-11-27 23:37] jamestalmage commented on #271
:+1:

[2015-11-28 10:03] jamestalmage opened #278 "t.endIf(boolean) to replace removed auto-ending behavior."
API would be simple:

[code]

This would also require we formally document and lock `t.assertCount` as part of the API.

[2015-11-28 20:38] vdemedes commented on #278
To be honest, I am not a fan of this kind of API. As for me, I'd rather write `t.end()` in every non-promise test instead of `t.endIf(condition)`.

[2015-11-29 02:32] jamestalmage commented on #278
how about just formally exposing `assertCount` in the test object.

[2015-11-29 02:34] jamestalmage commented on #278
I think you're right. Closing.

[2015-11-29 02:34] #278 closed

[2015-11-29 04:52] sindresorhus commented on #278
:-1: from me too. I also don't think we should spend much energy on the legacy `cb` mode. And really, if you need multiple async assertions, you should probably just split up into multiple tests anyways.

[2015-11-29 07:41] #157 closed

[2015-11-29 18:19] vdemedes commented on #27
Coming Soon!

<img width="378" alt="screen shot 2015-11-29 at 7 18 50 pm" src="https://cloud.githubusercontent.com/assets/697676/11459052/179e680e-96ce-11e5-8a87-b092db191964.png">

[2015-11-29 18:30] vdemedes commented on #27
TAP support is ready, waiting for #279.

[2015-11-30 01:53] mindmelting commented on #185
I think the latest release of nyc now works out the box... (or at least it does for me!)

[2015-11-30 02:45] jamestalmage commented on #185
@bcoe,
I want to make sure AVA is able to take advantage of the latest `nyc` source-map goodness. We are doing a couple things that I suspect *may* interfere. I'm just going to list them; If you can tell me if anything sounds problematic, I'd appreciate it.

1. AVA transpiles test files only, and avoids `babel-core/register` by default. This allows users to write tests in ES2015, even when they pr

[2015-11-30 03:17] jamestalmage commented on #222
I want to add one more little spin on groups.

Sometimes I have a group of identical tests that I want to run across a number of inputs. Examples include:

 1. My transform works with `esprima` / `acorn` / `babel` generated tree AST's.
 2. My promise based utility works with `bluebird`, `pinkie`, etc. (Maybe if offers some added bonus features if the more powerful `bluebird` API is available, but

[2015-11-30 03:29] ArtemGovorov commented on #222
@jamestalmage To me the approach you've mentioned in mocha context looks cleaner.

Doesn't have to be outside if your `opts` contain something to distinguish contexts:

[code]

[2015-11-30 04:06] jamestalmage commented on #222
Well, let's flesh out a more complete, functionally identical example for both and see:

[code]

[code]

[2015-11-30 04:18] jamestalmage commented on #222
Now imagine you have a larger test suite where you want to use this setup across multiple test files:

[code]

[code]

I don't know what a convenient way to do this with wrapper functions would be.

[2015-11-30 04:40] ArtemGovorov commented on #222
The second one can a bit shorter:

[code]

And still looks simpler to me because:
- `group` doesn't expose any API, but just serves as a simple container. So less things to learn.
- context (set up in `beforeEach`) is easier discoverable, I just have to looks up the hierarchy. I'm worried that for a test like `bluebird('blue foo', t => t.ok(...));` it may be harder to trace where the context is se

[2015-11-30 04:44] bcoe commented on #185
1. nyc executes first, so the logic that sets aside Babel's require hook using getters/setters should also work for AVA:

https://github.com/bcoe/nyc/blob/master/index.js#L138

2. here's the flow that nyc uses for Babel, I think we could probably use a similar approach:

* nyc delegates to AVA's require hook which will return the transpiled code with a source-map appended.
* nyc will, in turn, ins

[2015-11-30 04:52] jamestalmage commented on #185
Thanks for the quick response. We will follow up as we move those initiatives along.

[2015-11-30 05:05] jamestalmage commented on #222
[code]

While that optimization works here, there are plenty of scenarios where it won't. You may have very complex setups that differ widely (different database backends, parser API's that differ, etc).

I completely disagree on one being "easier to discover". I have seen plenty mocha test suites where it can be really confusing which nested group you are in:

[code]

I'm not saying you couldn't

[2015-11-30 05:44] ArtemGovorov commented on #222
Discoverability is not just readability. With the example you've provided, tools can easily help. Your editor code folding, or jumping to/previewing the parent function would help. Even a simple static analysis tool (like a simple babel plugin), without executing your code, can build you a nice tree showing how things are nested. Combining things dynamically on the other hand makes it from hard to

[2015-11-30 06:37] jamestalmage commented on #222
To be clear, nesting would still be supported in my proposal. You could certainly elect to stick with it. I just strongly dislike look of the extra nesting required with your approach. I just feel my is cleaner and more readable.

If we were to implement my idea. I think a "best practice" would be to name your groups at the top of a file. I can't see how it would be much harder to write a Babel pl

[2015-11-30 06:47] #83 closed

[2015-11-30 06:48] sindresorhus opened #284 "Document programmatic API"
We should document the programmatic API (https://github.com/sindresorhus/ava/pull/279) eventually, but for now I'd like to keep it undocumented so we're free to change around things as we please.

[2015-11-30 06:51] sindresorhus opened #285 "Test programmatic API"
From: https://github.com/sindresorhus/ava/pull/279

Should be done before the next minor release.

We should also convert many of the CLI tests to API tests instead.

[2015-11-30 06:59] jprichardson commented on #27
After I saw this closed by @vdemedes I assumed it was part of `0.7.0`. But didn't see it listed https://github.com/sindresorhus/ava/releases/tag/v0.7.0. Since this issue is still part of `0.7.0`, does that mean that it's in `0.7.0` and hence forgotten about in the release announcement or that a new milestone should be associated with this issue?

[2015-11-30 07:04] jamestalmage commented on #27
@jprichardson - We decided to push #279 to [the next milestone](https://github.com/sindresorhus/ava/pull/279#issuecomment-160478598).

[2015-11-30 07:04] sindresorhus commented on #27
It was closed by a mistake.

[2015-11-30 07:19] ArtemGovorov commented on #222
The issue is that you can't enforce the "best practice" **structure** because you're suggesting to expose an **API**, potential usages of which are limiting static analysis options. For example, please correct me if I'm wrong, but with your suggested API one can do:

[code]

My concerns are not wallaby related (it's actually structure agnostic and doesn't rely on static analysis of test structure

[2015-11-30 07:52] jamestalmage commented on #222
I could perform the same hacks to your mocha `[optA, optB, ...].forEach(...)`, creating the same difficulties.

Then why are you bringing up the Babel plugin? Is that something someone would use IRL?

[2015-11-30 08:06] ArtemGovorov commented on #222
@jamestalmage Mocha doesn't expose a way to combine groups via API, but you do. You can perform "hacks" to abuse mocha structure, but in case of your suggested API it is not in hack - `test.group(...someGroups);`, it's a normal use. And the normal use makes it impossible to run static analysis and determine your tests structure.

I have used Babel as an example of a tool that does static analysis.

[2015-11-30 08:12] ArtemGovorov commented on #222
@jamestalmage here is the real life example:
![w](https://cloud.githubusercontent.com/assets/979966/11466593/c62c54a2-978d-11e5-9286-254cda117c11.gif)
I think I have seen similar plugins in other editors as well.

[2015-11-30 10:19] #252 closed

[2015-11-30 16:09] sotojuan commented on #285
I got this 👍🏼, will look into it today. For the CLI tests, it's just a matter of changing the `child_process` stuff to `new Api...` with the correct arguments and then `api.run()...` right?

[2015-11-30 16:26] radiovisual opened #287 "Error running with Babel 6.x (ReferenceError: [BABEL] ... Unknown option:.babelrc.presets)"
Hey there AVA Team!

I wanted to move my unit tests from mocha to AVA, because AVA seems super cool, but I haven't been able to run any tests yet due to this strange problem:

When I run this command:

`$ npm run test`

Which invokes this line from my `package.json` file:
<pre>
"scripts": {
    "test": "ava"
  }
</pre>

the output I get is this:

<pre>
Michaels-iMac:someapp michael$ npm run test

[2015-11-30 17:44] radiovisual commented on #287
Update: I am currently working around this issue by employing Babel 5.x in my app, which allows me to use AVA without incident.

Here are my Babel 5.x dependencies which allow me to test with AVA:

<pre>
"dependencies": {
    "babel-runtime": "^5.8.29"
  },
  "devDependencies": {
    "ava": "*",
    "babel": "^5.8.23"
  }
</pre>

I think I may have just gotten a little ahead of myself and posted t

[2015-11-30 19:56] jamen opened #288 "Alias names to ".true" and ".false"."
These are tokens, so in some usages they fail...

For instance with how I use AVA, I destructure the functions at the top.  This way I don't have to prefix every operation with `t.` (which looks ugly in my opinion).  So I do this:

[code]

But, whenever you when using functions with token-like names, it fails.  For example, this destructuring fails getting `.true`:

[code]

[code]

Would be nice i

[2015-11-30 20:02] alubbe opened #289 "0.7.0 crashes when used with bluebird's coroutines and sourcemaps"
This simple test runs fine on 0.7.0 with source maps disabled and on 0.6.1 with source maps enabled, but crashes on 0.7.0 with source maps enabled:
[code]
The error is
[code]
With sourcemaps on, coffee produces
[code]
and
[code]
Source maps and 0.7.0 work fine on synchronous tests and on those returning a promise, maybe that helps in pinpointing the issue.
I'm using bluebird@3.0.5 and used this co

[2015-11-30 20:35] jamen commented on #288
I was playing around, and discovered if you reassign the name in the destruction, it doesn't fail.  For instance:

[code]

This passes.

So you can choose to merge this or not.

[2015-12-01 02:27] jamestalmage opened #291 "Review where we forward child stdio streams."
Currently we forward both `stdout` and `stderr` of each forked child process to `stdout` on the main process. In my mind that makes the *least* sense of the the available options. I think we should either:

1. pipe `child.stdout` to `process.stdout`, and `child.stderr` to `process.stderr`.
2. pipe both to `process.stderr`. This keeps `process.stdout` pristine and will not interfere with the pendin

[2015-12-01 02:33] jamestalmage commented on #288
It seems like you have found a good solution to your problem. I don't think it is a good idea for us to start aliasing methods. Eventually we will introduce the ability to fully integrate custom assertions. When that happens, you will be able to modify our default assert plugin with the aliases you desire and apply it once across your entire project.

[2015-12-01 02:53] jamestalmage commented on #289
@alubbe

AVA supports generators out of the box. No need to wrap with `Promise.coroutine`.

Test:
[code]

Output:
[code]

[2015-12-01 03:01] jamestalmage commented on #289
To me, this looks like a problem either with `coffee-scripts` source-map output, or something in source-map support. Either way - it's triggered by calling `bluebird.coroutine` on a non generator function - which is what happens, because AVA transforms generators for you automatically.

[2015-12-01 03:03] jamestalmage commented on #287
Yep, we are working on it.

Closing as a duplicate of #117

[2015-12-01 03:03] #287 closed

[2015-12-01 03:06] jamestalmage commented on #274
Closing since this is not an AVA issue, but a power-assert one.

I opened https://github.com/power-assert-js/power-assert/issues/34 to track this issue there.

[2015-12-01 03:06] #274 closed

[2015-12-01 03:09] jamestalmage commented on #245
Fixed in #277

[2015-12-01 03:09] #245 closed

[2015-12-01 03:25] jamestalmage commented on #175
@MarkHerhold

Currently, the best workaround for achieving the behavior you desire is:

[code]

At the top of every test:

[code]

@sindresorhus @vdemedes  - Do we want to add a flag or environment variable to address this?

[2015-12-01 03:40] sindresorhus commented on #288
I don't see the point of using destructuring when it's more verbose than just doing `t.true()`. We're also not interested in adding aliases as we want to keep it consistent.

https://github.com/sindresorhus/ava/issues/114#issuecomment-152706993

[2015-12-01 03:40] #288 closed

[2015-12-01 04:40] jamen commented on #288
Sounds good :+1:

[2015-12-01 09:33] alubbe commented on #289
How is AVA able to transform the generator when it is handled by `bluebird.coroutine` before `ava.test`? Is this a pre-runtime transformation by babel?

Leaving off the `Promise.coroutine` to feed AVA generators directly doesn't work for all of my tests, in particular those that use a promisifed version of request, like this:
[code]
This time, the error has no stack trace:
[code]
If I add `Promise

[2015-12-01 10:09] jamestalmage commented on #289
@alubbe

Yes.

The following works fine (needed the `http://`, prefix):

[code]

Turning sourcemaps off gave a cleaner error message with source-maps off.

Might be related:
 https://github.com/webpack/webpack/issues/1071

Also, googling `Error: No element indexed by 1`, brings up a ton of issues - all having to do with source-maps.

@novemberborn - Do you have any insights here?

[2015-12-01 17:41] jkimbo opened #295 "Behaviour of beforeEach and afterEach"
I came across some weird behaviour today with ava where the following test gives the following output:

[code]
[code]

It was my assumption that `afterEach` would be called after a test and **before** the `beforeEach` of the next test. Is this expected behaviour? (I am using 0.7 btw)

Thanks!

[2015-12-01 17:41] vdemedes commented on #289
All code examples in this thread are missing `*`, which actually marks a generator function, otherwise it's not.

[code]

@alubbe let me know if that works!

[2015-12-01 18:38] jamestalmage commented on #289
@vdemedes - These are all `coffee-script` examples. You don't use `*` in `coffee-script`, generator functions are implied by use of the `yield` keyword.

[2015-12-01 18:42] vdemedes commented on #289
@jamestalmage oh, what a mess...

[2015-12-01 18:53] jamestalmage commented on #289
Also, in these the `Error: No element indexed by 1` error is *always* masking another error. In the second example it was improper use of the `request` API. The problem is that, instead of exposing the actual underlying error, `source-map-support` is choking on the provided source-maps when it tries to beautify the thrown error and throwing a different one entirely.

This issue (choking on source-

[2015-12-01 19:05] jamestalmage commented on #140
This is closed by #181 and #253.

`t.plan()` no longer auto ends for you. You must return a promise or  call `t.end()`.

`t.end()` can only be used in "callback mode", which is enabled with `test.cb(t => {})`

[2015-12-01 19:05] #140 closed

[2015-12-01 19:59] jamestalmage commented on #289
https://github.com/evanw/node-source-map-support/pull/117

[2015-12-01 20:02] vdemedes commented on #295
Yes, `beforeEach` and `afterEach` work just like you expected, no worries ;) You are seeing such output, because AVA runs tests in parallel. It means, that `Test 2` does not wait for `Test 1` to complete, but both tests run at the same time.

[2015-12-01 20:03] #295 closed

[2015-12-01 20:04] vdemedes commented on #285
@sotojuan Converting 'child_process stuff to api' - right, but with a new API we can and should test more cases and have more precise tests.

[2015-12-01 20:37] novemberborn commented on #289
@jamestalmage that PR seems like a good step to at least avoid not receiving any stack trace.

I'll try and reproduce the issue, see if I can step through the `source-map` code to find out more.

[2015-12-01 20:56] novemberborn commented on #185
https://github.com/bcoe/nyc/pull/65 takes care of that.

This might have to be documented better on nyc's side, I'll look into that.

That said, the test files don't need to be instrumented, the source files that are being tested do. It would help though if AVA's documentation could explain the requirements so users don't have to read up on nyc. I'll look into that when things settle with nyc.

[2015-12-01 22:43] jkimbo commented on #295
@vdemedes ah ok that makes sense! I missed the difference between the test files being run in parallel and the tests being run concurrently. Since the tests get run concurrently how would you recommend patching global objects for tests? The original reason I came across this issue was because I was trying to patch the `process.nextTick` method so that I could make Promises synchronous in my tests

[2015-12-01 22:57] vdemedes commented on #295
AVA both runs test files and tests concurrently :)

I'd recommend use `before()` and `after()` methods, here's the [docs for them](https://github.com/sindresorhus/ava#before--after-hooks).

I may not understand your goal correctly, but if I advise using [async/await](https://github.com/sindresorhus/ava#async-function-support) in your tests in order to write "synchronous looking" code.

Let me know

[2015-12-01 22:57] jamestalmage commented on #295
@jkimbo
You have two options.

Place the `process.nextTick` patch in `before` and `after`. These only get run once - so they shouldn't clobber each other.

If your mock needs to maintain context, use [`t.context`](https://github.com/sindresorhus/ava#before--after-hooks) to pass information between `beforeEach` and the actual test (don't store it as a variable outside the functions). Note that `t.c

[2015-12-01 22:58] jamestalmage commented on #295
@vdemedes beat me by six seconds!

With a much better point regarding using `async`/`await` to boot.

[2015-12-01 23:00] vdemedes commented on #295
![](http://i.giphy.com/10cRi957Dc7tM4.gif)

[2015-12-01 23:26] jkimbo commented on #295
Haha thanks guys! Very helpful!

To give some more context around why I'm patching `process.nextTick`, I'm running some code that triggers a fetch request. I patch fetch out to be a promise I control in the test and then I assert some state, resolve the promise and assert the resultant state. The problem I had with that workflow was that the promise resolve would queue up a microtask and so I coul

[2015-12-01 23:31] jkimbo commented on #295
FYI I got this idea from jest: https://facebook.github.io/jest/docs/api.html#jest-runallticks

[2015-12-02 02:26] jamestalmage commented on #295
@jkimbo - I don't know a lot about React, so I may be missing something.

Why can't you just do:

[code]

If that returns too quickly (i.e. await returns before state has settled), you could do:

[code]

[2015-12-02 10:42] jkimbo commented on #295
@jamestalmage that works really well thanks!

[2015-12-02 14:34] MoOx commented on #186
FYI, here is how I do for now

[code]

[2015-12-02 15:35] sotojuan commented on #285
I see. Well, I'll begin with converting some over the weekend, but can you give some examples of more precise tests?

[2015-12-02 17:57] novemberborn commented on #289
The compiled coffee-script code means that there is no `async/await` for AVA to compile. It just sees a test function which returns a promise. So that's not the issue.

0.7.0 contains https://github.com/sindresorhus/ava/pull/273 which passes an input source map to the Babel compiler used by AVA. If I disable the input source map I see this source map for Babel's output:

[code]

*With* the input s

[2015-12-02 19:33] jamestalmage commented on #289
This is a `generator/yield` example, and `coffee-script` outputs an actual generator function, (i.e. `function *() {...}`). `async/await` support is not in `coffee-script` yet. (I take your point though - the problem is a bad source map).

That is wrapped in a `try/catch`. Any crash of `source-map-support` would be caught.

That certainly seems like a bug. Can you submit an issue on the Babel trac

[2015-12-02 21:39] novemberborn commented on #289
It outputs `test("peter", Promise.coroutine(function*(t) {` actually. I haven't checked but I assume that returns a function which returns a promise. The test passes if input source maps are disabled.

Ah yes that's the call to `prepareStackTrace`. The error is stored in `Async.firstLineError` which is used in the final build for debugging purpose (see [build tool line](https://github.com/petkaant

[2015-12-02 22:22] jamestalmage commented on #289
Why do you think I punted this to you? :trollface:

Seriously though, the issue tracker is pretty straightforward once you dig in. As for the codebase, I feel your pain. I would recommend browsing a clean clone (don't run tests in the clean clone - it generates lots of additional sources that are just confusing until you get a basic grasp of the layout and build system).

[2015-12-02 23:24] vdemedes commented on #285
@sohamkamani I don't have them in my mind at the moment (1am), but I'm sure you will get some ideas during CLI -> API conversion :) Anyway, let's start with what we have right now. Sounds good?

[2015-12-02 23:27] vdemedes commented on #291
I like this one, although option 1 seems "more correct".

[2015-12-03 01:25] jamestalmage commented on #291
I certainly think option 2 is the way to go. I can't really think of a scenario where it would cause a problem. If you want to test what is written to stdout you are likely forking inside your test, or mocking.

[2015-12-03 01:32] sotojuan commented on #285
👍 even if you mentioned the wrong person : )

[2015-12-03 01:32] sindresorhus commented on #291
Let's go with option 2.

[2015-12-03 02:01] #291 closed

[2015-12-03 03:39] jokeyrhyme commented on #202
Apparently it's just `babel` in package.json now, not `babelConfig`: https://babeljs.io/docs/usage/babelrc/#use-via-package-json

[2015-12-03 09:30] jamen opened #298 "`t.same` masks RangeError that is thrown when testing objects with circular references."
I'm not sure how far this goes outside of context, but this is what I experienced with my project...  When you create a constructor object in JavaScript and give it a circular property, AVA fails where it normally wouldn't...  Take this example for instance:

[code]

[code]

[2015-12-03 09:46] jamestalmage commented on #298
That assertion will fail with just about any assertion library.  Using `assert.deepStrictEqual` (on which `same` is based).

[code]

So, this is not a problem with our assertion per se, but that we are masking the true source of the error. I am pretty sure that this is actually related to `power-assert`.

@twada - how should we handle this? A simple `assertError instanceof assert.AssertionError` w

[2015-12-03 10:47] twada commented on #298
@jamestalmage Thank you for clarification.

You mean AVA is masking the source of error [here](https://github.com/sindresorhus/ava/blob/v0.7.0/lib/assert.js#L62-L63). I think so too. It converts `RangeError` to `AssertionError`, so `power-assert` (wrapping `same`) report it with power-assert context.

To avoid it, yes, `assertError instanceof assert.AssertionError` may help.
`power-assert` will re

[2015-12-03 10:50] jamestalmage commented on #298
Ahh - you are right. I forgot we did that. Thanks @twada

[2015-12-03 10:54] twada commented on #298
@jamestalmage My pleasure! :smiley:

[2015-12-03 11:43] jamestalmage commented on #298
#300 prevents the error masking.
#301 uses `deeper` to allow comparison of circular objects.

So, either way, the fix for this lands soon.

[2015-12-03 14:52] novemberborn commented on #289
Transforming `test2.js` with `babel-core@6.2.1` gives an entirely different source map:

[code]

If I force that into `lib/babel` the test doesn't crash.

I found <https://github.com/babel/babel/commit/0ef60724454a5c725e944a4b32275cee61f252ba> which links to <https://github.com/babel/babel/pull/2522> and <https://github.com/babel/babel-loader/issues/116> which discuss a similar "No element indexed

[2015-12-03 17:45] jamen commented on #298
Sounds good.

[2015-12-03 17:45] #298 closed

[2015-12-03 22:13] #9 closed

[2015-12-03 23:51] joshuajabbour commented on #207
Really wish the readme clearly stated ava doesn't work with babel 6. I use babel 6 to write my app with es6, but that means it's impossible to use ava to test my app until this issue is resolved. Spent way too long trying to figure this out.

Maybe I'm not understanding things, but this really seems flawed. So if I want to use ava, I'll have to make sure the version of babel used by ava stays in s

[2015-12-04 00:09] mnzt commented on #207
@joshuajabbour when trying to run your tests, are you using `ava foo/bar.js` or are you using `npm test' after initialising Ava?

[2015-12-04 00:53] jamestalmage commented on #207
@mnzt - This issue is caused by installing babel 6 locally, not local vs global `ava` cli execution.

FYI:

As of [`0.7.0`](https://github.com/sindresorhus/ava/releases/tag/v0.7.0), the `ava` command will always run the local version of `ava` if available. Even if invoked globally. That release contains a number of breaking changes, so [read the changelog](https://github.com/sindresorhus/ava/relea

[2015-12-04 01:06] jamestalmage commented on #207
That is a good point - I will fix that immediately.

I agree. Unfortunately a solution that allows you to use whatever version of Babel you want is not trivial. We are waiting on a few blocking issues in Babel 6, and will transition at that time.

[2015-12-04 01:11] joshuajabbour commented on #207
@mnzt Does it matter? Both give me the same error, the one you posted in the original issue.

[2015-12-04 01:17] joshuajabbour commented on #207
@mnzt To be more clear, my issue is definitely that I have babel 6 installed and ava doesn't understand how to use it. It sounds like a flaw in the design of ava, because I'm using babel 6 to write my application code. ava should be able to use whatever babel I prefer to parse the test files.

[2015-12-04 03:21] jamestalmage opened #304 "Pass `context` as second parameter"
I originally proposed this back in #122 before I even knew about `t.context`. At the time, I closed it because `t.context` seemed sufficient. I am now starting to think it is a good idea again. I find myself want ing to shorten `t.context.foo` a lot. Right now that requires destructuring or a variable declaration at the top of each test.

[code]

If `t.context` were passed as a second parameter, b

[2015-12-04 03:46] jamestalmage commented on #304
FWIW, the implementation is super easy: #305

[2015-12-04 10:25] sindresorhus commented on #207
@joshuajabbour Ideally, yes, but Babel 6 broke all the things. Babel 6 was also super broken when released with a gadzillion regressions, hence why it has taken us some time to move to it.

[2015-12-04 10:27] vdemedes commented on #304
I'm not a fan of this to be honest. It does not really save any characters:

[code]

vs

[code]

The latter actually has less characters.

[2015-12-04 10:29] novemberborn commented on #207
Given the discussion in #292 I'm not sure AVA even needs to use the Babel that's in user's projects. AVA should ship with its own Babel dependency for compiling test files. If users want different behavior they should be able to override test file compilation, which will enable them to use any Babel version they want.

[2015-12-04 10:30] vdemedes opened #306 "Document skipping assertions"
Since #258 we have an ability to skip individual assertions, but there's no documentation yet.

@jamestalmage want to pick it up?

[2015-12-04 10:30] sindresorhus commented on #304
We now have two different ways to do the same thing, which I'm not a super big fan of.

Would it have been less painful if we had named it `t.ctx`? Or is it that you can't use the helper names directly? Do you have an realistic example of when the verboseness is painful? I usually only use context for a few things, and the minor verboseness doesn't really bother me much.

[2015-12-04 10:31] sindresorhus commented on #207
@novemberborn Yes, with the Babel 6 change we're not going to use the users Babel, but instead just tell users to use npm@3 if they want to enforce a version as npm will deduplicate it for the user.

[2015-12-04 10:44] #272 closed

[2015-12-04 10:46] jamestalmage commented on #304
So, coming from mocha, I used to be able to do this:

[code]

Now I am left repeating a bunch of boilerplate.

Only because you called the variable `context`, if you called it `c`, you would have saved a few.

[2015-12-04 10:48] jamestalmage commented on #306
sure.

[2015-12-04 11:20] novemberborn commented on #207
@sindresorhus npm won't be able to dedupe if the user depends on a version outside of the SemVer range of AVA's dependencies. Which is effectively where we are with Babel 5 at the moment. Babel 6 is incompatible and shouldn't be used. In the future a user won't be able to force Babel 7 either.

My understanding of #292 is that AVA provides certain transformations of the test source. If different t

[2015-12-04 11:20] alubbe commented on #272
Awesome, thanks!
Am 04.12.2015 10:44 vorm. schrieb "Sindre Sorhus" <notifications@github.com

[2015-12-04 11:26] jamestalmage commented on #207
https://github.com/sindresorhus/ava/pull/221#discussion_r46668343

[2015-12-04 11:30] sindresorhus commented on #207
That's the whole point. The user would then be able to use Babel 5 themselves, even if we only support Babel 6+, or inverse.

Yes, but the above will work for most.

[2015-12-04 11:38] jamestalmage commented on #207
The solution discussed in https://github.com/bcoe/nyc/issues/70 could become of use to us in this situation as well.

[2015-12-04 15:10] sparty02 commented on #185
I tried ```nyc``` with ```ava``` and failed...  :cry:   I feel like I'm doing something really simple wrong.

Here's a snippet of my run scripts:

[code]

Any chance someone on this thread could assist in some light guidance?  I'd be happy to follow up with some ```README``` updates.

[2015-12-04 15:12] jamestalmage commented on #185
[code]

[2015-12-04 15:14] sparty02 commented on #185
@jamestalmage with that change, running ```npm test```   :

[code]

[2015-12-04 15:15] jamestalmage commented on #185
have you installed ava locally?

`npm install --save-dev ava`

[2015-12-04 15:16] sparty02 commented on #185
Yeah, ava runs just fine by itself.  Here is a snippet from my dev deps:
[code]

[2015-12-04 15:21] jamestalmage commented on #185
Huh,
Delete your `node_modules` folder then:
[code]

[2015-12-04 15:31] sparty02 commented on #185
Tried that, no dice.... same error as above....  :disappointed:

[2015-12-04 19:46] sehyoc opened #307 "support for webpack"
There are some great ideas in this project.  However, I can't run ava in our project because we are using Webpack.    One approach is to separate out ava into multiple projects where core runtime time should just deal with running test not worry about transpilers.   .

[2015-12-04 20:16] sindresorhus commented on #307
We will do Browserify and Webpack support at some point, but we're not there yet. See #24.

[2015-12-04 20:16] #307 closed

[2015-12-05 17:28] novemberborn commented on #185
@sparty02 what Node and npm versions are you running?

[2015-12-06 17:57] ecowden opened #308 "Stacktrace for syntax errors incorrectly points to the test file"
If I have a function under test with a syntax error like:

[code]

...and a test like:

[code]

Then the syntax error is reported pointing to the `require` statement in the test file instead of the file with the error:

[code]

This is pretty confusing and is especially tricky for newer Node developers.

[2015-12-06 18:03] ecowden commented on #271
+1

[2015-12-06 18:09] mattkrick opened #309 "throws doesn't count against assertion count and doesn't require error param"
Here's my actual code:
[code]
As is, it fails unless the first line is `t.plan(0)` (Assertion count does not match planned). I would assume a `throws` would count as an assertion, right?

Second, the docs show `error` is the second required param, but the assertion is successful no matter what value I put in there. I can even leave it undefined (as above) & it still passes.

As a workaround, I'm u

[2015-12-06 19:03] jamestalmage commented on #309
How does `signupDB` throw? Does it do it synchronously? Then you need to wrap the call in a function:

[code]

Does it return a promise that gets rejected? In that case, do **not** wrap it in a function, but **do** return the result of `t.throws`:

[code]

[2015-12-06 19:22] mattkrick commented on #309
Ahhh, it was the `return` that got me, thanks!
Any word on the `error` param? Seems like it's optional, but if supplied, it can also take the Error's name, as well. If it's functioning correctly let me know & I'll write a little PR for the readme.

[2015-12-06 21:15] mattkrick opened #310 "Recommended pattern for testing REST API endpoints?"
How would you recommend we test endpoints where we need to send http requests? Is this on the roadmap or is there another package that plugs in nicely? I know of other packages like supertest, chakram, and frisby, but nothing seems to have an API as beautiful as ava :smile:

[2015-12-06 21:27] sindresorhus commented on #310
You can use any assert module with AVA, including HTTP ones. The only downside is that planned assertions won't yet work with it (#25). We don't plan on having something like that built-in. There's already a lot of good modules for that. From a quick look it seems Supertest and Chakram should work fine with AVA. Frisby seems tied to Jasmine.

Since this is such a common use-case, I think we should

[2015-12-06 22:08] mattkrick commented on #310
Agreed, a nice example or 2 in the readme would be awesome. I'll play around with some packages & see if any good patterns emerge

[2015-12-07 01:35] jamestalmage commented on #309
If I recall correctly, you must supply a string for an === comparison. I think I noticed that in the source a few days ago and meant to add regexp matching to my todos. Thanks for the reminder.

[2015-12-07 01:43] mattkrick commented on #309
That works for me, thanks!
I'll leave this open in case you wanna use it as a reminder, feel free to close.

[2015-12-07 01:45] jamestalmage commented on #309
Nope, I read the source wrong on that. Should support the same values for `err` that `core-assert#throws` does, with the added option of passing in a string for an === comparison

[2015-12-07 01:49] mattkrick commented on #309
Ah, that explains it then, from `core-assert`:
`assert.throws = function(block, /*optional*/error, /*optional*/message) {...`

[2015-12-07 02:19] mattkrick opened #311 "before and after global hooks? Concurrently testing a shared state"
As I understand it, `before` and `after` are file-specific, meaning when the last test in that file completes, the `after` hook is called.

I'm doing some database testing & I have multiple test files. When all the tests complete, I'd like to drop the table. The problem is, I'm not sure which file will complete last.
If I drop the table at the end of the file A, it'll screw up tests currently runn

[2015-12-07 02:22] BarryThePenguin commented on #311
Can you create your table before you run AVA and clean up after running AVA? This sounds like something more suited to a task runner

[2015-12-07 02:27] mattkrick commented on #311
That's a good suggestion. Until now I've been able to do without one (just webpack + npm) but I guess that's the best choice. Thanks!

[2015-12-07 02:29] BarryThePenguin commented on #311
npm has pre and post scripts https://docs.npmjs.com/misc/scripts

pretest and posttest should be helpful

[2015-12-07 02:32] mattkrick commented on #311
I totally forgot those existed! Oh that's awesome, cheers!

[2015-12-07 02:32] #311 closed

[2015-12-07 12:29] novemberborn commented on #308
Either of these report the error:

[code]

[code]

However `lib/babel` uses `process.on('uncaughtException')` to catch the error, serialize it, and send it to the cli. Here's where the information gets lost.

I think Node runs [this code](https://github.com/nodejs/node/blob/322b36c0a163bc723a6d612d740f98775e0750f6/src/node.cc#L1382:L1388) when writing the error to `stderr` if a process crashes. Th

[2015-12-07 14:48] sparty02 commented on #185
node v4.2.0
npm v3.5.2

[2015-12-07 17:45] novemberborn commented on #185
@sparty02 wait you're on Windows right? nyc's Windows support isn't quite there yet, we'll be tracking progress in <https://github.com/bcoe/nyc/issues/81>.

[2015-12-07 17:49] sotojuan commented on #285
@vdemedes so I am working on converting the CLI tests to use the API, but I am just wondering if this makes sense.

For example, for the first CLI test (ES2015 support):

[code]

The test passes, but I am not sure if this is the best way to test. The original CLI test just checked that it did not return an error, so perhaps doing `t.ok(true)` has the same effect. I tried doing `t.doesNotThrow` but

[2015-12-07 18:01] sparty02 commented on #185
@novemberborn Ah, that must be it then.  I'll watch that issue for updates.... thanks!

[2015-12-08 01:16] sotojuan commented on #310
Just tested out a super basic JSON endpoint with supertest:

[code]

Seems good enough for me, and there's promise versions of supertest that may be even easier to work with.

[2015-12-08 01:23] mattkrick commented on #310
that's good to see! I decided to keep it simple & just use the native (or polyfilled) `fetch`:
[code]

[2015-12-08 08:23] vdemedes commented on #285
@sotojuan replied to your PR there ;)

[2015-12-08 08:25] raisen opened #314 "Testing on a web browser"
Should I be able to write tests that run on a browser (Chrome)? I'm writing an application that uses chrome.* and some Web APIs like DOMParser, so mocking all these methods would be kind troublesome.
If it's possible to run on a browser, do I have to run `browserify` every time I need to run the tests in order for the `require` statements to work?

[2015-12-08 08:28] vdemedes commented on #314
At the moment, AVA can not be run in browser by default. We are definitely looking to support that in future, so I think I can surely say we should expect this feature to land by 1.0.

Closing it in favor (and as a duplicate) of #24.

[2015-12-08 08:28] #314 closed

[2015-12-08 08:35] vdemedes commented on #304
So where we are on this? In my opinion, shortening variable names (like `c`) is a bad practice, because only the original author can understand what those variables are for. It's only useful in JS1k competitions.

I'd stick with `t.context` or at least `t.ctx`, although "full" `t.context` looks simpler and better to me.

And passing context as a second argument results in 2 places where context ca

[2015-12-08 11:45] novemberborn commented on #304
Anecdotally I rarely write a test that does *not* use context. Not sure where to find real-world data on that though.

OTOH it shouldn't be too hard to build a test interface on top of AVA which does expose `context` as a second parameter.

[2015-12-08 12:18] jamestalmage opened #315 "Change weird `false fail false` message."
See here: https://github.com/sindresorhus/ava/pull/313#discussion_r46928584

Calling `t.fail()` gives a really odd message `false fail false`. It should be better.

[2015-12-08 18:23] chiefy commented on #207
Wanted to switch from `tape` to `ava`, but I am locked into babel 6 :+1:

[2015-12-09 00:26] sindresorhus opened #318 "Improve passing data to forked processes"
From: https://github.com/sindresorhus/ava/pull/296#discussion_r47034570

Currently we just proxy the CLI args [manually](https://github.com/sindresorhus/ava/blob/ff5b8dfa5cc9c49a0919c9cad0896cb9c3e971ee/api.js#L45-L57). We should instead just JSON.stringify all the data we want to pass and pass it as the only argument.

[2015-12-09 18:10] vdemedes commented on #318
Or we could just pass `process.argv.slice(2)` to the fork process?

[2015-12-09 18:13] sindresorhus commented on #318
@vdemedes Sure, but now all the places we use those things have to do an additional argument parsing. Even worse when we want to send arrays and more complex data structures down to the child process, like with the `--require` PR. Would be much nicer if anywhere we wanted to use the info from the parent process we could just `JSON.parse(process.argv.slice[2])`.

[2015-12-09 18:13] vdemedes commented on #318
Either way is good for me ;)

[2015-12-10 03:43] jamestalmage commented on #304
I, like @novemberborn, use context a lot.

Here is a crazy idea. What if we used some sort of AST transform to turn this:

[code]

Into something that is async safe:

[code]

[2015-12-10 07:02] vdemedes commented on #304
It is, indeed, crazy :D

[2015-12-10 07:30] jamestalmage commented on #304
I know, I know.

[2015-12-10 09:16] #318 closed

[2015-12-10 09:29] #285 closed

[2015-12-10 16:19] bcoe commented on #185
@sparty02 we've added better support for Windows subprocesses in `yargs@5.0.0`:

https://github.com/bcoe/nyc/blob/master/CHANGELOG.md

It might be worth giving this a shot. If you still run into problems, could you point me at a repo I can test against?

[2015-12-10 22:24] sindresorhus commented on #78
We could also cache the "require resolving", so every test files doesn't have to do that.

Maybe by using https://github.com/bahmutov/cache-require-paths by @bahmutov.

[2015-12-10 23:26] sindresorhus commented on #78
Node.js 5.2.0 is also ~45% faster to startup! :) https://twitter.com/rvagg/status/674775383967858688

[2015-12-10 23:46] jamestalmage commented on #78
I'm not so sure about that. NPM 3's automatic flattening and deduping of the dependency tree really sped up resolve times. Also, I don't see if or how it decides to invalidate the the cache. That seems iffy to me, especially for a testing framework where it's fairly reasonable to expect their dependency tree will change frequently.

That is huge.

[2015-12-10 23:47] jamestalmage commented on #78
I think the biggest improvement will come from moving Babel to the main thread.

[2015-12-10 23:52] sindresorhus commented on #78
Definitely. Was just looking for other minor wins.

[2015-12-11 00:00] jamestalmage commented on #78
I guess it's worth a shot. I just have doubts it is going to be effective with us spawning so many processes, and dealing with a relatively volatile dependency tree. Seems better suited to servers than dev boxes.

[2015-12-11 00:03] sindresorhus commented on #78
Agree. Ignore that.

[2015-12-11 18:02] sotojuan commented on #315
What would be better? Also I'm trying to look where that message is generated, but can't seem to find it. Seems like this would be an easy fix!

[2015-12-11 18:07] jamestalmage commented on #315
[code]

[2015-12-11 18:12] sotojuan commented on #315
Ah so it's an internal thing.

Is something like this better? Got it working.

[code]

[2015-12-11 18:22] jamestalmage commented on #315
Not sure what you mean. `false fail false` is the message AVA generates if you use `t.fail()`

I believe `t.fail(message)` should already show the custom user-provided message. The problem is the default message becomes `false fail false` which is really useless.

I think the solution is simply defining a default message [here](https://github.com/sindresorhus/ava/blob/master/lib/assert.js#L33)

[c

[2015-12-11 18:39] sotojuan commented on #315
That's what I meant! I thought "false fail false" was something someone wrote, not something AVA generated.

So I guess a better message would just be "Test failed" or "Assertion failed"? Let me know!

[2015-12-11 18:49] jamestalmage commented on #315
Maybe: `Test failed via t.fail()` ?

I think it's best the message includes a hint that `t.fail()` was used. A simple "Assertion failed" would be confusing if the test contained multiple other assertions in addition to `t.fail()`

[2015-12-11 19:11] sotojuan commented on #315
That sounds good. I'll send the PR in a few minutes.

[2015-12-11 19:45] jamestalmage commented on #308
Related: https://github.com/nodejs/node-v0.x-archive/issues/3452

[2015-12-11 20:50] #315 closed

[2015-12-11 21:21] jamestalmage commented on #308
It's impossible to fix this in a clean way in JS, the V8 related issues are here:

https://code.google.com/p/v8/issues/detail?id=1914
https://code.google.com/p/v8/issues/detail?id=1281

The only workaround I can see is to wrap `Module.prototype._compile` to temporarily disable our `uncaughtException` handler. Here is a quick prototype of what I am thinking:

[code]

This means any errors thrown sy

[2015-12-11 21:22] vadimdemedes opened #324 "Include assertions in TAP output"
While I was working on TAP support, I realized reporters want to know the assertions for each test. At the moment, test title just duplicated as an assertion.

<img width="636" alt="screen shot 2015-12-11 at 10 10 43 pm" src="https://cloud.githubusercontent.com/assets/697676/11755828/52afcb96-a055-11e5-8259-13d2937ce040.png">

As you see on the screenshot, it results in a double test title.
It hap

[2015-12-11 21:42] jamestalmage commented on #324
I am :+1: for this, but it takes us towards [verbose mode](https://github.com/sindresorhus/ava/issues/261), which was controversial.

Personally, I think once we get TAP in place, it's output should be verbose (showing every assertion, passing or failing). It should be the responsibility of reporters to suppress output they feel is overly verbose.

[2015-12-11 21:44] vdemedes commented on #324
AVA's default output won't change, this is only needed for TAP output. But yes, it is a step forward towards verbose mode.

[2015-12-11 21:46] jamestalmage commented on #324
I was under the assumption that our default output would simply be our own custom TAP reporter.

[2015-12-11 21:47] vdemedes commented on #324
Nope, this issue does not make such assumptions, it's only about tracking assertions. Perhaps we should discuss this after TAP support is landed in master.

[2015-12-11 21:51] jamestalmage commented on #324
Yep, actual code would be easier to discuss. Are you able to land TAP support without this issue being fixed?

[2015-12-11 21:54] vdemedes commented on #324
I can only submit a PR, but I wouldn't want to merge it to master without solving this issue.

[2015-12-11 22:26] jamestalmage commented on #308
sourcemap-support adds an `unhandledException` listener as well (disabling the helpful output). That can be fixed using the `handleUncaughtExceptions` option and setting it to false:

[code]

not sure what problems additional problems that will cause.

[2015-12-11 22:26] jamestalmage commented on #324
let's do that.

[2015-12-11 22:37] jamestalmage commented on #308
OK,
I think a much simpler solution would be to move [this](https://github.com/sindresorhus/ava/blob/6f8e2c4127409271fcdb26c87211931b5054fe9b/lib/babel.js#L74-L76), down to [here](https://github.com/sindresorhus/ava/blob/6f8e2c4127409271fcdb26c87211931b5054fe9b/lib/babel.js#L93) as well as setting the `handleUncaughtExceptions` flag I mentioned in the previous comment(set it [here](https://github.

[2015-12-12 00:07] sotojuan commented on #308
I'll give it a shot—probably later today or tomorrow.

[2015-12-13 05:14] tanraya opened #329 "babel.Transformer TypeError: undefined is not a function"
Hi!

I have following test (es6):

[code]

and following deps:

[code]

When I'm run `ava` command I'm getting this error:

[code]

Can anyone help me to fight this error? I'm honestly confused  with that kind of error.

[2015-12-13 05:36] jamestalmage commented on #329
Bad news:  You can't use Babel 6 yet.
Good news: The fix is in master (https://github.com/sindresorhus/ava/commit/d0c370a1c00db8c02e9d7c4bcbac835b1a6c8a08)

Are you using Babel for your production code, or just in your tests?

If just in tests, then do not install Babel as a dependency at all (it will end up being a duplicate of what AVA installs). AVA will handle handle setting up babel automatic

[2015-12-13 05:36] #329 closed

[2015-12-13 06:53] tanraya commented on #329
@jamestalmage Thank you. Now it's clear.

[2015-12-13 14:34] novemberborn commented on #308
:+1: on the approach outlined by @jamestalmage. The main process will notice the test dying and log the error, and we get to use Node's error logging which includes the actual file.

[2015-12-13 16:18] #308 closed

[2015-12-13 18:28] ecowden commented on #308
Just checked out the fix and it's giving the stack trace I'd expect. Thanks! :+1:

[2015-12-14 00:16] jokeyrhyme commented on #229
With #296 merged, it seems that we might be able to resolve this now...

[2015-12-14 00:43] jamestalmage commented on #229
It's almost there, we really need https://github.com/bcoe/nyc/pull/90 to land for this to work reliably (which is itself waiting on https://github.com/bcoe/nyc/pull/89). A single `.js` extension will *probably* work before then. Once it lands though, it will be a lot easier to integrate all this.

We may also be waiting for https://github.com/babel/babel/pull/3139 before it all works the way I wan

[2015-12-15 01:55] #167 closed

[2015-12-15 03:34] jamestalmage opened #335 "Fix flaky AppVeyor test"
We still have [one test](https://github.com/sindresorhus/ava/blob/f03e4ba2ee2f2f4477ccf7a186d018e09edf0123/test/cli.js#L23-L65) that remains [flaky on AppVeyor](https://ci.appveyor.com/project/sindresorhus/ava/build/547/job/hhivjx4grpxlchnh#L1226).

@sotojuan - Is there any reason we can't turn this into a API test?

That one test accounts for something like 9 out of 10 false negatives on AppVeyor

[2015-12-15 03:59] jamestalmage commented on #335
Now it is even failing on Travis: https://travis-ci.org/sindresorhus/ava/jobs/96899493#L996

[2015-12-15 04:01] sotojuan commented on #335
Should be trivial to make it an API test since the output it's testing is also inside the `api` object. I'm watching a film right now but I'll give it a go afterwards unless someone wants to fix it now.

[2015-12-15 04:04] jamestalmage commented on #335
All you.

[2015-12-15 15:05] vdemedes commented on #256
Fixed by #331.

[2015-12-15 15:05] #256 closed

[2015-12-15 15:48] vdemedes opened #339 "Missing test fixture"
Occurs in latest master.

<img width="960" alt="screen shot 2015-12-15 at 4 47 16 pm" src="https://cloud.githubusercontent.com/assets/697676/11815368/9d0393a0-a34b-11e5-9611-11e9f55e39d3.png">

[2015-12-15 17:15] sotojuan commented on #339
Actually that's just output from the `rejects on error and streams output` test in `fork.js`, which tests the error output when given a nonexistent file. While we test for the correct message in the `err` object, the `fork` function logs the `ENOENT` error to the console. It's expected and not a "real" error! That said if you know of a way to suppress that output, I'd be happy to implement it. May

[2015-12-15 17:16] sotojuan commented on #335
@jamestalmage Do you know if this is fixed? Guess we have to wait and see if people's tests pass.

[2015-12-15 23:05] sindresorhus opened #341 "Improve assertion titles"
Split out of https://github.com/sindresorhus/ava/pull/326#issuecomment-164899780.

[2015-12-16 00:30] jonathanKingston commented on #27
That is the case certainly, I am happy to discuss some of my suggestions that have been aired on TAP specification discussions however likely won't be adopted very quickly at all (Having a different output might be simpler)

[2015-12-16 12:59] hberntsen opened #342 "Debugger support"
The README.md gives me the impression that debugging of tests is possible with the --serial option. It looks like this option is designed for debugging ava itself though.

I tried debugging tests in the following way:

1. `ava --init`
2. `npm install signal-exit`
3. Based on #225, put the following code in `node_modules/ava/debug.js`
[code]
4. Make a simple test with a debugger keyword:
[code]
5.

[2015-12-16 13:18] sindresorhus commented on #342
What Node.js version are you on?

[Debugging is broken in Node.js 5.2.](https://github.com/nodejs/node/issues/4297)

[2015-12-16 13:18] hberntsen commented on #342
v5.1.1

[2015-12-16 20:11] sindresorhus commented on #160
We're now also looking for people interested in translating the docs: https://github.com/sindresorhus/ava-docs

[2015-12-17 01:02] ariporad opened #343 "--require shouldn't be relative to the test."
Hi All, I'm back!

I just wanted to mention that the `--require` argument is relative to the directory of the test, not the directory you're calling it from. This is different from basically everything else, so you might want to change it. (Or not).

If someone could point me in the right direction, I'd be happy to make a PR.

Thanks!

[2015-12-17 02:44] jamestalmage commented on #343
Yep, sounds like a bug.

We do change `process.cwd` to match that of the test file, but that should not affect the `--require` flag. The solution would be to resolve them to absolute paths in `api.js`.

PR welcome. Please make sure to include a test that fails before / passes after your changes.

[2015-12-17 14:09] sindresorhus opened #345 "Use the programmatic API in the gulp & grunt plugins"
Posting here for visibility. Introduced in https://github.com/sindresorhus/ava/pull/279.

https://github.com/sindresorhus/grunt-ava
https://github.com/sindresorhus/gulp-ava

The API doesn't have any docs yet as it's private, but lots of tests to learn from here: https://github.com/sindresorhus/ava/blob/master/test/api.js

[2015-12-21 01:11] sindresorhus commented on #171
Ok, so I think the conclusion is; set a default timeout if `process.env.CI` (I would go with 60s instead of 30s just to be safe), and add ability to add a timeout, but no default.

[2015-12-21 01:38] sindresorhus commented on #342
We definitely want to support using the debugger, but not really sure from the top of my head what's preventing it. We'll look into it. Thanks for reporting @hberntsen :)

@jamestalmage might have a better idea.

I thought https://github.com/sindresorhus/ava/blob/df48ce69b841c8b5fb1f522aa435d3a676876078/lib/babel.js#L26-L37 did that for us. // @novemberborn

Any downside adding this to AVA?

[2015-12-21 01:49] BarryThePenguin commented on #171
fyi [is-ci](https://github.com/watson/is-ci)

[2015-12-21 01:52] jamestalmage commented on #342
That is going to be additionally problematic since AVA will potentially spawn a number of processes at once if you have multiple test files.

I think this is separate from remapping coverage/sourcemaps.

Only the multiple process issue. Can we detect if the debugger is in use and enforce serial execution of the test files?

[2015-12-21 02:07] sindresorhus commented on #342
Chrome DevToools use source maps to adjusts breakpoints too, so I just assumed this would do that too.

Maybe, but I think it would be better to be explicit about it. I think it would be worth introducing a `--debug` flag that activates `--serial` and other things related to debugging. Thoughts?

[2015-12-21 02:30] sindresorhus commented on #339
It definitely shouldn't do that. Might be an exception leak somewhere that don't catch in any promises.

[2015-12-21 02:34] sindresorhus commented on #309
So what's the resolution on this? Anything we can do with the docs to make the behavior clearer?

[2015-12-21 02:36] sindresorhus commented on #269
:+1:

[2015-12-21 02:39] sindresorhus commented on #249
@jamestalmage @vdemedes Thoughts on making it recursive by default? I'm warming up to the idea.

[2015-12-21 02:41] sindresorhus commented on #185
@sparty02 Did that solve your problem? If no, would you be able to provide something that reproduces it?

[2015-12-21 02:47] mattkrick commented on #309
Thanks for following up on this!

In the `throws` section on the readme, it'd be nice to show an example explicitly pointing out that the statement must begin with `return`, that was the big gotcha for me since it's the only one that requires a return.

With regards to the assertion, I'd say for now just add in that `error` can also be optional. In a future version, it'd be nice to be able to test

[2015-12-21 03:26] Qix- commented on #249
All AVA really needs to do is include the file in question and ignore it if it doesn't import the test function.

[2015-12-21 03:26] sotojuan commented on #339
Makes sense. I'll look into it.

[2015-12-21 04:13] jamestalmage commented on #339
This is a byproduct of https://github.com/sindresorhus/ava/issues/308. We are intentionally delaying the installation of our own `uncaughtException` handler so that the correct location for the SyntaxError will be printed. That has the unfortunate side effect of meaning we lose control of when those errors print.

I think @sotojuan's first instinct was correct. Use `hook-std` to mask the error for

[2015-12-21 04:20] jamestalmage commented on #249
I'd prefer to have it throw an error. We fork for each of those and that is expensive. We automatically ignore files with a `_` prefix, so use that for test helpers.

I'm not sure what you mean. Their directory as part of the prefix? Right now we only prefix with the filename (and just the filename) if there is more than one test file. I think it makes sense to prefix directories (find the common

[2015-12-21 04:49] sparty02 commented on #185
@bcoe @sindresorhus sorry guys, I spaced out on this.  I'll give it a shot tomorrow morning and circle back to let you know.

[2015-12-21 08:54] vdemedes commented on #249
I like this suggestion, we could simplify paths and remove the need for globs.

[2015-12-21 08:58] vdemedes commented on #342
+1!

[2015-12-21 10:30] sindresorhus commented on #249
Alright. Let's go for this.

[2015-12-21 12:24] sindresorhus opened #348 "Don't use `regenerator` in `babel-preset-es2015` for newer Node.js versions"
Split out of https://github.com/sindresorhus/ava/pull/333.

Only Node.js 0.10 needs `regenerator`, but it's currently included for any Node.js version.

Someone needs to do a pull request to [`babel-preset-es2015`](https://github.com/babel/babel/tree/master/packages/babel-preset-es2015) and [auto-detect generator support](https://github.com/sindresorhus/has-generator) and conditionally include `re

[2015-12-21 14:46] sparty02 commented on #185
@bcoe I pushed a sample repo at https://github.com/sparty02/nyc-ava-demo.  I stripped it down to almost nothing, and am still hitting the issue, so it almost seems environmental?  Let me know if I can provide any more info!

[2015-12-21 15:15] thedev commented on #348
What do you think about using a post install script ?
Noticed the following discussion: https://github.com/npm/npm/issues/7340

[2015-12-21 15:20] sindresorhus commented on #348
@thedev This isn't about having `regenerator` as a dependency. We just don't want the runtime overhead of using `regenerator` when it's not needed for newer Node.js versions which supports generators.

[2015-12-21 18:29] thejameskyle commented on #348
The Babel preset would not accept a pull request for that, just because the environment that is running Babel supports generators does not mean the targeted environment will.

If you want to create a preset `babel-preset-node-feature-detection` that tests for support for everything before running it, that would likely be the best solution. However, it should warn heavily that you should not distri

[2015-12-21 18:33] sindresorhus commented on #348
@thejameskyle That's a good point. I just considered our case of live transpiling. Would you be open to add an option to the preset for toggling `regenerator`? We really don't want to have to maintain our own presets.

[2015-12-21 18:35] thejameskyle commented on #348
https://phabricator.babeljs.io/T2756

[2015-12-22 07:27] #27 closed

[2015-12-22 13:08] sindresorhus opened #350 "Issue with Babel 6 upgrade"
Forgot to try https://github.com/sindresorhus/ava/commit/9e6d9724d52582714804bf7c8ec71bcd7c4af2ed on an actual project and there's an issue.

It seems Babel 6 tries to read the plugins from CWD.

[code]

// @jamestalmage

[2015-12-22 13:24] brandon93s commented on #249
+1 on making AVA recursive by default. It's the behavior I was expecting initially and doesn't force the user to conform to a standard structure.

[2015-12-22 13:40] vdemedes opened #351 "Performance issues after Babel 6 upgrade"
Since babel 6 upgrade the performance is seriously ****ed up. Using master branch and the following test file:

[code]

[code]

Running it for like 10th time and getting the same results.

Would be great if someone else confirmed this.

[2015-12-22 13:56] sindresorhus commented on #351
Confirmed.

[code]

[2015-12-22 14:12] sindresorhus commented on #351
If I run `npm dedupe` and then try again it's faster.

[code]

[2015-12-22 14:14] sindresorhus commented on #351
Babel 6 is a lot more modular, so that might be where all the overhead comes from. Using npm@3 would also be faster (since it dedupes by default).

[2015-12-22 14:16] vdemedes commented on #351
Then we are stuck with initial delay on every test run. Not good.

[2015-12-22 14:28] vdemedes commented on #351
I think the solution to this is to cache babel's output. There already was some development in that direction in #189, but left incomplete.

My proposal is to cache transformed code based by md5 of original source code. That way, we don't even need to `require('babel')`, when test files don't change. When md5 changes, load babel and re-transpile source code.

This should improve performance.

[2015-12-22 15:54] jamestalmage commented on #351
That is basically a requirement of Babel 6. `npm dedupe` is the only other option.

 I just finished implementing much the same for `nyc` with very good results.  It's part of my plan after I land #349

[2015-12-22 16:08] vdemedes commented on #351
Seems like #349 will take good amount of time. I can implement cache now and send a quick PR, so that we can do a release with babel 6 within next few days.

[2015-12-22 16:37] jamestalmage commented on #350
Ugh. I tried on a couple actual projects that used Babel themselves (Babel 5 and Babel 6), I noticed the problem there, but thought it was related to trying to use `babe-core/register` in the tests.

Working on a solution now.

[2015-12-22 16:41] jamestalmage commented on #350
Done. #353

[2015-12-22 18:36] vdemedes opened #355 "Ignore fixtures and helpers"
How about ignoring by default `fixtures` and `helpers` directories, so that we don't force `_` prefixes on people?

[2015-12-22 18:37] #350 closed

[2015-12-22 19:09] vdemedes commented on #18
What do you think about this?

![demo](https://cloud.githubusercontent.com/assets/697676/11963521/30e79bb2-a8f0-11e5-851a-a54f195aba9b.gif)

[2015-12-22 19:13] sindresorhus commented on #18
@vdemedes :heart: Exactly what I was thinking.

[2015-12-22 19:17] jamestalmage commented on #18
:+1:

[2015-12-22 19:30] SamVerschueren commented on #18
:+1:

[2015-12-22 20:40] sindresorhus commented on #355
:+1:

[2015-12-23 00:58] ariporad commented on #343
Closed by #346.

[2015-12-23 00:58] #343 closed

[2015-12-23 02:19] sotojuan commented on #355
Would this just mean adding something related to those directories [here](https://github.com/sindresorhus/ava/blob/master/api.js#L197)? If so I can work on this during my flight.

[2015-12-23 02:23] sindresorhus commented on #355
@sotojuan Yes, and needs to be documented.

[2015-12-23 05:06] ariporad commented on #222
@sindresorhus: For some context, the way I usually use `describe`s in mocha is (for example), if I'm testing an object, I'll have one describe per method, and various tests within that. That's nice because you can easily see the hierarchy, you get code folding, and the output is formatted nicely.

[2015-12-23 05:48] ariporad commented on #309
@sindresorhus: If you don't mind, I'm going to give this a go. I've been discussing this with @jamestalmage, and here's what I think I need to do (I've started on this a little):

- [ ] Replace test._assertCount with test._assertPromises. Every assertion pushes a Promise (that can just be Promise.resolve/.reject if needed) onto that array, then test.exit() compares the length of the array with the

[2015-12-23 05:50] ariporad commented on #18
:+1:

[2015-12-23 06:12] jamestalmage commented on #309
Just to clarify, there is a bit of a new idea here. That is to track the promises passed to `t.throws()` and `t.doesNotThrow`, and avoid the requirement to do explicitly `return t.throws`

[2015-12-23 08:11] jenius opened #358 "Still getting babel error : ("
I am probably doing something dumb here so apologies for taking your time, but I simply cannot figure out what it is.

Fresh project, Babel 6, es2015 preset, and ava installed as dev dependencies:

[code]

Get the `.babelrc` in order, load up the right preset.

Make a new test file, nice and simple to see if it works:

[code]

Get this error, which seems like it was happening before `v0.8.0` lande

[2015-12-23 08:17] jamestalmage commented on #358
It is finally fixed here: https://github.com/sindresorhus/ava/commit/94797b10386e8d638a9efd09a9b8d08dc9481ac6

...

for real this time.

...

I think! :smile:

-
Note that if you want to use `master`, it's upgraded to Babel 6. You absolutely should (darn near must) upgrade to `npm@3` to use Babel 6. Your only other choice is `npm install && npm dedupe` every time you want to change dependencies.

[2015-12-23 08:20] jenius commented on #358
Ok, I'll use master for now. Ping this issue and close when it's released so I know? I am on `3.x` for npm :grinning:

[2015-12-23 08:23] jenius commented on #358
Just for the record, everything worked fine using master. Thanks! :tada:

[2015-12-23 14:45] portgasd666 commented on #358
I didnt get how I'm supposed to fix this. Can someone help ? Thanks.

[2015-12-23 17:57] krasimir commented on #358
@portgasd666 Instead of setting the following in your `package.json` file:
[code]
you may use:
[code]

However, that's not really a good idea since you are going to get the very latest thing every time when you run `npm i`. So I hope (@jamestalmage) that the change which is now in master will go in the next released version.

[2015-12-23 18:12] portgasd666 commented on #358
Oh okay, thanks mate !

[2015-12-23 18:15] sindresorhus commented on #358
You should not depend on `master` as it's a moving target. Instead depend on the latest commit:

[code]

[2015-12-23 18:20] krasimir commented on #358
@sindresorhus good point!

[2015-12-23 20:34] ariporad commented on #171
@sindresorhus: Just my two cents, but that seems rather confusing. I wouldn't want to have to debug tests that magically fail on the CI but don't fail on my dev machine. At the very least, we need to log something about it.

[2015-12-23 20:40] sindresorhus commented on #171
@ariporad Would you rather have the CI stall indefinitely? We will definitely log why it ended. Happy to hear other suggestions/solutions.

[2015-12-23 20:48] ariporad commented on #171
@sindresorhus: Well, one thing to keep in mind is that Travis stops the test after 10 minutes without output, and caps it at 120 minutes period. AppVeyor has a maximum of 60 minutes. And I personally think it's out of scope for AVA, but it's up to you.

[2015-12-23 20:59] sindresorhus commented on #171
I would also prefer not having to deal with this in AVA, but I got the impression from this thread that CI's would stall forever. I think I'm changing my opinion to timeout being opt-in no matter what.

@vdemedes @jamestalmage ?

[2015-12-23 21:01] ariporad commented on #171
@sindresorhus: I agree. (I hope I didn't imply that there should be no timeouts period, I just meant on the CI). CIs defiantly *do not* just sit there for years waiting for infinite loops to finish. I'm happy to put together a simple little repo to prove that if you want.

[2015-12-23 21:28] ariporad commented on #309
Ok, This is fixed in #360.

[2015-12-24 09:51] vdemedes commented on #358
I assume it's safe to close this?

[2015-12-24 09:53] jenius commented on #358
Has the issue been resolved on a stable release of `ava`? If not I might keep it open until that point :grinning:

[2015-12-24 12:15] #355 closed

[2015-12-24 12:19] sindresorhus commented on #358
@vdemedes Lets just keep it open until we have a new release so we don't get a bunch of duplicate issues when people encounter this.

[2015-12-25 11:13] vadimdemedes opened #365 "Standardize errors in API"
Currently, `errors` array of `API` instance contains exceptions, rejections and failed tests. As a consequence, items can be different from one another and we have to detect what's what in a loop.

We need to standardize the items in `errors` array, so that it's easily "forEachable" and all items have the same properties.

[2015-12-25 11:13] jamestalmage commented on #365
:+1:

[2015-12-25 15:20] sindresorhus commented on #365
:+1:

[2015-12-25 15:58] sindresorhus commented on #351
This can be closed now, right?

[2015-12-25 16:10] vdemedes commented on #351
Yep, #352 got it covered.

[2015-12-25 16:10] #351 closed

[2015-12-25 16:52] ariporad commented on #348
@sindresorhus: Check out [hax/babel-features](https://github.com/hax/babel-features). I'll turn it into a preset if you want. Or we could just use it directly.

[2015-12-25 20:50] ariporad commented on #348
@sindresorhus: Actually, I went ahead and turned that into a preset anyway: [`babel-preset-features`](npm.im/babel-preset-features). It's a drop-in replacement for `babel-preset-e2015`, I'll submit a PR.

[2015-12-25 21:31] ariporad commented on #324
@vdemedes, @jamestalmage: This would be really easy to do once #360 lands. So once #360 lands, I can take this on.

[2015-12-25 21:35] ariporad commented on #339
I'll look into this.

[2015-12-25 21:55] jamestalmage commented on #339
Please read #308. There is no "fixing" this beyond suppressing stderr/stdout for this one test fixture using `hook-std`. Our options are:

1. catch and display the error yourself (i.e. maintain control)
2. See the correct source/line number for syntax errors.

2 is more important. We are choosing the lesser of two evils

[2015-12-25 22:21] dfcreative opened #367 "Feedback"
Hello!
Thanks for the wonderful runner. Mocha really seems to be a pain when it comes to running tests in browser.
But there are UX issues with ava, which made my friend upset.
1. _Installing time_. For mocha, it takes about 4-5 times less to install than ava. Is there a sense in _prepublish_ script, which just compiles all the thing and publishes the bundle? What are the reasons not to?
2. _Launc

[2015-12-25 22:38] #309 closed

[2015-12-25 22:43] sindresorhus opened #368 "Create error class for internal errors"
From https://github.com/sindresorhus/ava/pull/359#issuecomment-167261434.

So we can disable the stack output for them.

Should checked for here: https://github.com/sindresorhus/ava/blob/e52db69261d9b15dd1b69c76d82875b66d024e6b/cli.js#L99

[2015-12-25 22:43] #18 closed

[2015-12-25 22:49] ariporad commented on #324
@jamestalmage, @vdemedes, @sindresourhus: ok, now that #360 is merged, should I start working on this?

[2015-12-25 22:54] jamestalmage commented on #367
AVA does not (yet) support browser side testing.

Mocha doesn't ship with Babel or power-assert, we do.

Make sure you use `npm@3` to install. Babel loads slow on `npm@2`. Transform caching is coming - major speed bump. Babel is always going to introduce extra startup delay.

I need more details before responding. Got a sample program and stack trace?

[2015-12-25 22:54] sindresorhus commented on #367
1. The biggest overhead in installing is installing Babel, but that's also AVA's greatest strength. The ability to use ES2015+ syntax and features while still supporting old Node.js versions. Bundling everything into one file would make startup a LOT slower as the whole file would have to be parsed on startup.
2. I would like to see some numbers on that claim, but the gain on AVA is not for tiny t

[2015-12-25 23:11] dfcreative commented on #367
I wanted to switch to ava in [audio-buffer-utils](https://github.com/audio-lab/audio-buffer-utils), but will wait for a moment. `var test = it`. found it way for now :)
3. Example test.js:
[code]
Running ava:
![image](https://cloud.githubusercontent.com/assets/300067/12004585/a31fa172-ab32-11e5-81b7-6c35194009f7.
It is git bash in windows 7, that may be an issue, IDK. Mocha goes like
![image](http

[2015-12-25 23:20] jamestalmage commented on #367
I think that is an AVA bug. We don't print stack traces if it's not an assertion error. The fix for that is already in development.

[2015-12-25 23:25] sindresorhus opened #369 "Reduce installed package size"
Latest master (b79fdfd8b0e5632eae338b563af1c3be29fecbca), when installed with npm@3.5.2, is 68 MB. Most of that is Babel stuff.

We should look into ways we can reduce the size.

<img width="400" alt="screen shot 2015-12-26 at 00 20 16" src="https://cloud.githubusercontent.com/assets/170270/12004599/76c6a812-ab66-11e5-8265-2fae153efeec.png">

_(Output from DaisyDisk)_

Turns out every single Babel

[2015-12-25 23:28] jamestalmage commented on #324
I'd ask you to hold off. I already started pursuing that in #340, but put it on hold until tap support landed (done), and until @twada and I can find consensus on which parts `power-assert` should handle (pending).

#360 will certainly make this easy, so thanks for that.

If you can find something else to work on that would be great.

[2015-12-25 23:31] ariporad commented on #324
Sure. :)

[2015-12-26 00:00] ariporad commented on #339
@jamestalmage: I know.

After some debugging, I found out that somehow the child process bypasses the parents stderr, as I've tried hook-std, several other npm packages, and several implementations that I've done myself, and none have worked.

[2015-12-26 00:06] ariporad commented on #249
@sindresorhus: Do you want it to be recursive by default, or just to display directories up to a common root?

[2015-12-26 00:11] ariporad commented on #304
@jamestalmage: I think that an AST transform is likely to do more harm than good, from a debugging perspective.

I (personally) think that `t.context` is fine, especially if it's aliased it to `t.ctx`. It's not that long. But a note in the documentation that you can't use closures like you could in mocha would be good though, because it's not immediately obvious to newcomers.

[2015-12-26 00:23] sindresorhus commented on #249
@ariporad Both

[2015-12-26 00:42] jamestalmage commented on #339
Extend `fork.js` to allow us to pass custom options to `child_process.fork`.
Then use `stdio` option and provide a stream we can inspect. `[null, stdout, stderr]`

[2015-12-26 00:58] jamestalmage commented on #304
It's a pretty crazy idea, I agree.

The fact of the matter is that moving from `mocha` to `ava` is a paradigm shift that takes some getting used to.

I find that I'm using `beforeEach` less and less, and helper/init functions more. I still don't like how often my tests start with the same line:

[code]

Seems like a DRY violation.

[2015-12-26 03:10] ariporad commented on #304
Here's an idea: what if we provided some way to pass arbitrary parameters to each test? Something like:

    test.beforeEach(t => [someInitFn()]);

    test((t, foo) => {
        //...
    });

Although this isn't really that diffrent from passing in a ctx parameter, although it's a little DRYer.

If we did this, it would be important to emphasize in the docs the order that the hooks are executed

[2015-12-26 03:49] ariporad commented on #249
@sindresorhus: Ok, I'll take care of it. Can you assign this to me (or give me perms to do that if you prefer)?

[2015-12-26 05:48] vdemedes commented on #367
The fix for stack traces is already in master ;)

[2015-12-26 05:51] vdemedes commented on #304
Hmm, what if I have multiple beforeEach hooks?

[2015-12-26 10:50] #271 closed

[2015-12-26 11:07] Qix- commented on #249
@Ariporad just submit a pull request :)

[2015-12-26 15:14] sindresorhus opened #372 "Assertion output regression"
In master (https://github.com/sindresorhus/ava/commit/945dbea40a6a500a24d54ebcc7e10dcd75647fc7), there's no longer any `power-assert` output.

[code]

[code]

[2015-12-26 15:21] ben-eb commented on #372
Found this whilst writing a failing spec for a module I'm working on; gives this stack trace:

[code]

Test is simply:

[code]

[2015-12-26 17:52] ariporad commented on #304
@vdemedes: Take a look at my example, I added some more detail. Parameters from prior hooks get passed down to newer ones. If you want to have a context object, just do this:

[code]

The more I think about it, the more I like this way. It's very DRY, looks nice, is convenient, and I can't think of a use case where it wouldn't work. For people who really want a context object, we could even includ

[2015-12-26 20:18] ariporad opened #374 "A few devops ideas."
Hi All,

Over the past few days, I've been doing a bit of work on AVA, and I had a few ideas to improve the developer experience, and I wanted to get some feedback on them:

1. `babel.js` is really poorly named. (Personal pet-peeve).
2. It would be nice if there was a way to run tests without coverage, something like `npm run test-fast`. Tests are _**way**_ faster without coverage.
3. A watch mode

[2015-12-26 20:27] sindresorhus commented on #374
1. Any suggestions for what it should be named?
2. Yeah, let's just do that by default and put the coverage in a separate run script and update .travis.yml
3. https://github.com/sindresorhus/ava/issues/70

[2015-12-26 20:53] jamestalmage commented on #374
1. :+1:
2. The penalty for coverage is about to drop from `17 seconds` to `3 seconds` https://github.com/bcoe/nyc/pull/108. I don't think that is necessarily worth maintaining an additional build path.
3. #70 is adding the feature to AVA, I think @ariporad means he wants a good way to use a file watch while hacking on AVA. That would be a `tap` feature request.

More on `2`:

Even without coverage

[2015-12-26 20:54] ariporad commented on #369
@sindresorhus: That appears to be a bug on your machine. On mine it works fine:
![Screenshot](https://www.dropbox.com/s/ahy14tkzy4npvv8/Screenshot%202015-12-26%2012.51.29.png?dl=1)
`ls` spits out the size kind of weird, it's actually 33.2MB:
![Screenshot](https://www.dropbox.com/s/ecrkvvbvtyy0g4u/Screenshot%202015-12-26%2012.53.17.png?dl=1)

So I'm really not sure why you're seeing that. Maybe fil

[2015-12-26 21:21] jamestalmage commented on #369
Actually, it is only `16 MB` @ariporad's number includes dev-dependencies. You need to delete `node_modules` and run

[code]

If you create a new project and just do this:

[code]

I get a relatively svelte `6.8 MB`.

Adding `babel-plugin-espower` brings me to `9.8 MB`. That seems like a pretty significant jump. @twada - Any ideas how we can reduce this?

Adding `babel-runtime@6.X.X` does bump me

[2015-12-26 21:40] ariporad commented on #369
@jamestalmage: that's strange, I did go above and beyond my usual intelligence level and create a new project to install AVA, but I'll try again when I'm home.

[2015-12-26 21:54] vdemedes commented on #304
Sorry, I don't think "waterfall context" would be a useful feature in AVA. Current context implementation is safe to use, because context is shared only between beforeEach/afterEach hooks (which run sequentially) and a single test. It means, that each test has its own context. If you need a global context, it'd be better to use a variable in the global scope, instead of passing it for each test.

[2015-12-27 00:16] ariporad commented on #304
@vdemedes: No, I don't think you understand. In my idea it simulates waterfall context, but each thing is shared only between each beforeEach, test, and afterEach.

Example:

[code]

[2015-12-27 00:19] ariporad commented on #374
@jamestalmage, Thanks, thats a good tip to know! But I still think that we don't need to run coverage by default. And I did mean watch for AVA itself. I was just thinking nodemon as a dev dependency.

@sindresorhus: `child.js`?

Can I go ahead and implement #70? It seems no one has done so.

[2015-12-27 00:37] ariporad commented on #78
@sindresorhus: I have a really stupid idea: What if we `webpack`'d (or something similar) AVA and all of it's dependencies (except the CLI), and have the child processes use that? Then they wouldn't have to do any requiring. If we uglified that, it would eliminate requiring, and greatly reduce parsing time.

[2015-12-27 00:38] ariporad commented on #78
@sindresorhus: I have a really stupid idea: What if we `webpack`'d (or something similar) AVA and all of it's dependencies (except the CLI), and have the child processes use that? Then they wouldn't have to do any requiring. If we uglified that, it would eliminate requiring, and greatly reduce parsing time.

[2015-12-27 00:40] sindresorhus commented on #374
:+1:

I'm not sure I want to deal with that right now. We have enough Babel related overhead and issues. Watching comes with its own headaches. The watch functionality in Node.js core is unreliable and the various watcher libs have edge-cases and downsides, like requiring native addons, which is a no go for us. We've added a lot of features lately, and while I realize it's more fun adding features

[2015-12-27 00:43] ariporad commented on #374
@sindresorhus: Ok.

[2015-12-27 00:46] ariporad commented on #78
@sindresorhus: Or, a *slightly* more sane idea: Make a map of every file in our dependency tree mapped to it's contents, then hook require to use those instead of the file system. Example:

[code]

[2015-12-27 01:07] ariporad commented on #374
Oh, @sindresorhus: Should I implement a coverage-less test option and a `npm run watch` too?

[2015-12-27 01:19] ariporad commented on #102
Ok, @sindresorhus: Here's the problem. Actual/expected are only included when no message is provided, see [here](https://github.com/sindresorhus/core-assert/blob/master/index.js#L68-L74) and [here](https://github.com/sindresorhus/core-assert/blob/master/index.js#L90-L94). So we have to include that in the error message ourself. I'll submit a PR.

[2015-12-27 01:33] ariporad commented on #102
Fixed in #376.

[2015-12-27 01:39] sindresorhus commented on #374
Actually, we already have `test-win` for that. We could just rename it into something more generic. (and update appveyor.yml)

:+1: from me. @jamestalmage ?

[2015-12-27 01:56] ariporad commented on #339
@jamestalmage: Tried that. Didn't work. Tried just manually passing in 'ignore'. Didn't work. My theory is that `fs` overrides the options passed to `fork`, in an evil fashion.

[2015-12-27 02:01] ariporad commented on #374
@sindresorhus: How does `test` sound, and we can rename the test with coverage `test:cov`?

[2015-12-27 02:12] ariporad commented on #263
@jamestalmage: I really don't think it would be that big of a deal to have the polyfill... I can't think of any possible reason (if I knew that the tests ran in ES2015), that the polyfill would confuse me.

[2015-12-27 02:14] ariporad commented on #368
@sindresorhus: Why not just do `delete error.stack`?

[2015-12-27 02:16] ariporad commented on #365
@sindresorhus, @jamestalmage, @vdemedes: How would you want this implemented? Should everything just get wrapped in an error? A promise? A custom object?

[2015-12-27 02:21] ariporad opened #377 "A quick question about the issue tracker."
Hi All,

I'm not sure if I'm allowed to do this (since I'm new and not an official contributor), so let me know and I'll shut up.

Would it be possible to get a `blocked` label (or maybe a milestone)? And maybe a `taken` one (Or just use the assign feature)? That would make it more immediately obvious which issues to try and tackle and which to ignore (via searching "is:open is:issue -label:blocke

[2015-12-27 03:18] sindresorhus commented on #377
You're allowed to ask about anything. That applies to anyone reading this issue tracker.

I added you to the repo so you can assign yourself stuff and handle issues, but don't commit directly to master ;) We should be better at using the assign feature. Feel free to go through the issue tracker and add labels where appropriate.

Just added it https://github.com/sindresorhus/ava/labels/blocked.

[2015-12-27 03:19] sindresorhus commented on #377
Any other feedback to our process welcome :)

[2015-12-27 03:19] #377 closed

[2015-12-27 03:20] sindresorhus commented on #263
@ariporad The problem with such polyfill is that it mutates the global Array prototype, so it would influence not just your test code, but the code being tested.

[2015-12-27 03:21] sindresorhus commented on #368
@ariporad Seems cleaner to use an error subclass as it can be detected as such. Normal errors are expected to have a `.stack` property.

[2015-12-27 03:24] ariporad commented on #377
Thanks @sindresourhus!

And no one should **_ever_** commit on master. GITHUB FLOW FTW!!!!!

[2015-12-27 03:41] Qix- commented on #78
Isn't the overhead of forking the _actual forking_ bit? Like the allocation the OS does to fork processes is what the overhead really brings, unless it's also doing babel compilation for each fork...

[2015-12-27 03:53] jamestalmage commented on #78
That is currently the case, #349 fixes it. Currently, assuming a cache miss - we spend `700ms` just requiring stuff in each child process. In #349 that drops to `150ms`. Those numbers are from my laptop with super speedy SSD's, people using traditional hard drives will see significantly worse performance in either case, but benefit a lot more from #349.

I don't think we should be concatenating fi

[2015-12-27 04:05] #368 closed

[2015-12-27 04:21] sindresorhus commented on #377
Use your fork for now.

[2015-12-27 04:25] jamestalmage commented on #374
What did you have in mind for a `watch` script?

[2015-12-27 04:27] sindresorhus commented on #374
@jamestalmage Do you have any preference on having coverage by default when running `npm test`? I never use it personally so wouldn't mind moving it into `test:cov`, but don't have any strong opinion about it.

[2015-12-27 04:35] jamestalmage commented on #374
Well, when I have 100% coverage - yeah, I like having it there so I know when I'm introducing new code that isn't covered. Since we are so far off complete coverage, it's really hard to see exactly where you are dropping coverage, I guess we could turn it off.

[2015-12-27 05:09] ariporad commented on #377
Sounds great. Thanks again!
On Sat, Dec 26, 2015 at 8:21 PM Sindre Sorhus <notifications@github.com>
wrote:

[2015-12-27 06:07] jamestalmage commented on #118
Caching is in master.

[2015-12-27 06:07] #118 closed

[2015-12-27 07:34] vdemedes commented on #365
I haven't thought about that yet, but every item in `errors` should have the same set of properties, so that we can easily output the list of errors at once. So, whether it's a failed test or uncaught exception (which does not have a test assigned to it), the error object should have the same props.

[2015-12-27 07:39] jamestalmage commented on #365
Also, `unhandledRejection`.

[2015-12-27 07:40] vdemedes commented on #304
Oh, so return value from each hook adds to the arguments of the test function? Still, my opinion is the same. Also, I'm not a fan of dynamic function arguments. This would eliminate the possibility for us to provide something else in 2nd argument in the future.

[2015-12-27 07:54] ariporad commented on #304
@vdemedes: sorry (I don't mean this argumentatively), but what was your opinion? The way I read your last comment it seemed like you didn't want non-async safe context, but this isn't that.

[2015-12-27 08:04] jamestalmage commented on #304
@ariporad

Your idea requires reading through the entirety of the test code to understand what arguments are available and how to access them, remember that a `beforeEach` can technically be written after the current test you are reading, so you need to scan down as well. If you ever reorder your `beforeEach` tests, you then need to refactor any test that depends on that ordering. People who objec

[2015-12-27 08:17] vdemedes commented on #304
@ariporad honestly, I just don't see what real-world benefits this would bring. As @jamestalmage pointed out, it would lead to mess in the tests. We already have context support, but this feels like a magical layer on top of it. And magic is hard to explain in the docs and maintain in the code. If you feel strongly about your idea, feel free to provide real project examples, where this feature wou

[2015-12-27 16:48] Qix- commented on #78
Because that would put a lot of scheduling engineers out of jobs :dancer: /s

[2015-12-27 17:14] ariporad commented on #304
@vdemedes: Yeah, @jamestalmage explained why it wouldn't work. (Thanks, btw). I think the best thing to do is get rid of `t.context`, and pass `ctx` as a second param, and use destructuring.

[2015-12-27 18:35] ariporad commented on #367
@dfcreative, can this be closed?

[2015-12-27 19:17] dfcreative commented on #367
Sure, if each notice is known. Thank you.

[2015-12-27 19:17] #367 closed

[2015-12-27 20:23] vdemedes commented on #304
@ariporad why getting rid of `t.context` would be a best thing?

[2015-12-27 20:25] ariporad commented on #304
@vdemedes: because that way @sindresorhus won't get angry at us for having two ways to do something when we pass context as a second parameter. :tounge:

[2015-12-27 20:27] vdemedes commented on #304
I think we initially agreed that it probably won't happen, as we already provide context via `t.context`.

[2015-12-27 20:30] ariporad commented on #304
@vdemedes: but I think it's worth considering what @jamestalmage was saying about being DRY. If you have context as a second parameter, then you can use destructuring to be rather dry. (Sorry, no example, on mobile)

[2015-12-27 20:38] vdemedes commented on #304
The thing is, we don't want to pass context as a second argument. I think, we can use second argument for something more significant and widely used, `t.end` (`done`) for example.

To sum up, we have context support via `t.context` property. Offering a 2nd way to use it (do the same thing) is not optimal. @sindresorhus offered to rename `t.context` into `t.ctx`, but honestly I'd rather not do that

[2015-12-27 21:16] vdemedes commented on #372
Ok, turns out it's not a bug. It is simply a mini reporter, which does not display error messages. Mini reporter displays only stacks (`err.stack`).

[2015-12-27 21:26] vdemedes commented on #372
No, it is a bug at the same time. The above is also valid, but the cause is different. This regression was introduced with the appearance of API.

[2015-12-27 21:30] vdemedes commented on #372
Nope, it is not a bug, it is lack of API documentation actually. It also related to #365. Mini reporter was displaying errors at the end of output using `api.tests` property, but it should've used `api.errors` property. Messages in `errors` are enhanced, unlike in `tests`.

[2015-12-27 21:44] ariporad commented on #374
@sindresorhus: I have one more larger idea, which I'm not sure if you've ever considered: What about adopting the [Angular commit message guidelines](https://docs.google.com/document/u/3/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit)? They make it really easy to see what a commit is about, and it allows you to do cool things, like [`semantic-release`](npm.im/semantic-release) (which could be

[2015-12-27 22:45] sindresorhus commented on #374
@ariporad It's a good idea, but too annoying in reality. Nobody reads the contributing guidelines, so you end up having to tell people (often multiple times) how to format the commit. It creates annoyance for both the contributor and maintainer with minimal gain. I've seen this so many times in the wild. As for `semantic-release`, I'm not convinced.

That being said, I would be happy to improve on

[2015-12-27 23:24] #372 closed

[2015-12-28 00:12] ariporad commented on #374
@sindresorhus: Fair enough. (Although if you ever change your mind, [GitCop][] can do that automagically).

[GitCop]: https://gitcop.com "GitCop

[2015-12-28 06:02] #249 closed

[2015-12-28 16:00] alubbe opened #381 "Best practice assertions for string inclusion and dynamic regex"
Today, I've run into two cases where I ended up writing helpers to get better errors. After writing them, I realized that it is somewhat against the spirit of "just writing assertions and getting readable errors". So I'd like to find out what you think is best practice here and whether it might make sense to expand what power-assert is displaying.
### String inclusion

I've got some big dynamic st

[2015-12-28 17:02] juanpr2 opened #382 "Support for global variables"
I'm trying to test a component that is based on leaflet, but I get the following error:
[code]
All other tests that don't require leaflet pass.
I suppose AVA doesn't support browser global variables; will there be support for these in the future?
Is there currently a workaround?

[2015-12-28 17:48] ariporad commented on #382
@juanpr2: It looks like your tests are for browser code, (leaflet is for the browser too). AVA currently doesn't support browsers, it currently runs in node. It's not really that we don't support browser globals, _per se_, it's just that we don't yet support running in a browser.

In the future, we're planning to add support for running in the browser, but if you want to test in the browser today,

[2015-12-28 18:39] sindresorhus commented on #382
You can follow https://github.com/sindresorhus/ava/issues/24 regarding browser support.

[2015-12-28 18:39] #382 closed

[2015-12-28 19:54] radiovisual opened #383 "t.throws() not catching throw statements"
Unless I am overlooking something super simple, It seems that `t.throws()` is favoring rejected promises over `throw` statements.  I have setup a small test in order to demonstrate this behavior. In the code below you will find a module with two functions, one that returns a rejected promise, and another that throws an error. You will see how the test to catch the throw (via the rejected promise)

[2015-12-28 19:55] radiovisual commented on #383
I am using AVA 0.8.0.

[2015-12-28 20:41] sotojuan commented on #374
semantic-release looks awesome and I am personally going to use it in my projects but at this point switching to it would be more pain than it's worth.  I think Sindre and the team are going to make sure the version numbers stay sane. Same with enforcing commit message guidelines (even with tools like [commitizen](https://github.com/commitizen/cz-cli)).

On another note, I admit that when I an wor

[2015-12-28 20:46] vdemedes commented on #383
`fn.withThrow()` throws before even getting to `t.throws`: `t.throws(fn.withThrow())`. So `t.throws()` is not executed at all. The correct code would be:

[code]

or:

[code]

[2015-12-28 21:01] radiovisual commented on #383
Ah yes. @vdemedes  You're right. I figured I was staring directly at the problem. Thanks.

[2015-12-28 21:01] #383 closed

[2015-12-29 01:57] franleplant commented on #111
Hi!
`import 'babel-core/register'` and `import 'babel-register'` are not working for me.

[2015-12-29 02:09] jamestalmage commented on #111
You need to install as dependencies of your own project to use outside of tests

[2015-12-29 02:22] franleplant commented on #111
Already done that @jamestalmage

[2015-12-29 02:35] franleplant commented on #111
It was purely a problem with babel presets/plugins/config settings, nvm, thanks a lot

[2015-12-29 02:36] ariporad commented on #111
@franleplant: Ok, then I'm going to close this (let me know if you want it re-opened). Have a nice day!

[2015-12-29 02:39] franleplant commented on #111
:)

[2015-12-29 07:00] jamestalmage commented on #365
Copying a my suggestion [here](https://github.com/sindresorhus/ava/pull/380#issuecomment-167447244):

and a valid counterpoint:

[2015-12-29 11:52] maboiteaspam commented on #358
side note, using `"ava": "sindresorhus/ava#65ae07c"` as a dependency, i can work using the local bin, ie : `node node_modules/.bin/ava` instead of `ava`.
As secondary side node, same sentence for `xo`. The global bin would not work properly.

[2015-12-29 11:58] jamestalmage commented on #358
make sure you have a recent version of AVA installed globally. The global CLI commands actually default to the local installs. With a current global install, you should see no difference between `ava` and `node_modules/.bin/ava`.

[2015-12-29 12:12] sindresorhus commented on #358
Closing as a new release is out. https://github.com/sindresorhus/ava/releases/tag/v0.9.0

[2015-12-29 12:12] #358 closed

[2015-12-29 12:24] jamestalmage opened #386 "Regression: 0.9.0 Not marking tests as failed"
Output on `0.8.0`

<img width="811" alt="screenshot 2015-12-29 07 17 28" src="https://cloud.githubusercontent.com/assets/4082216/12034261/9d0b8d2e-adfc-11e5-88a0-4cb65b352849.png">

`0.9.0` with `--verbose` flag

<img width="650" alt="screenshot 2015-12-29 07 18 42" src="https://cloud.githubusercontent.com/assets/4082216/12034266/b1536680-adfc-11e5-8b34-7feff593836a.png">

`0.9.0` with minimal rep

[2015-12-29 12:48] #339 closed

[2015-12-29 12:58] vdemedes commented on #386
The bug is related to regenerator. Try surrounding https://github.com/jamestalmage/loud-rejection/commit/432b4fb3657ec4af407f4098ee80ff727e1c0d13#diff-1dd241c4cd3fd1dd89c570cee98b79ddR176 with try..catch and `console.log(err)`. It outputs `1` (number).

[2015-12-29 13:00] vdemedes commented on #386
And it outputs `1`, because of this -> https://github.com/jamestalmage/loud-rejection/blob/432b4fb3657ec4af407f4098ee80ff727e1c0d13/test.js#L17. It rejects/resolves with exit code, not with `Error`.

[2015-12-29 13:07] vdemedes commented on #386
Actually, this thing was caused by https://github.com/sindresorhus/ava/commit/945dbea40a6a500a24d54ebcc7e10dcd75647fc7#diff-dd2e881af3311f834199c7b515cff0c7L128.

So, promises need to reject with `Error`s.

[2015-12-29 13:29] #386 closed

[2015-12-29 16:38] Hurtak commented on #111
for anybody trying to make `import 'babel-core/register';` work in AVA, try installing babel-core 5.x.x, that did the trick for me, 6 doesn't work for some reason (you probably need have properly configured .babelrc in your directory or something)

[2015-12-29 21:16] ariporad commented on #111
@Hurtak: Yes. Babel 6 doesn't do anything by default.

[2015-12-30 08:27] SamVerschueren opened #391 "await t.throws is not waiting"
Hi

The latest tests of the [delay](https://github.com/sindresorhus/delay) module are not working as you can see in this [travis](https://travis-ci.org/sindresorhus/delay/jobs/99394818) report.

I investigated it and I noticed some weird stuff was going on with the [`x.throws`](https://github.com/sindresorhus/ava/blob/master/lib/assert.js#L69) method.

[code]

I added an extra log in the [`setTime

[2015-12-30 08:42] SamVerschueren commented on #391
It's actually hard, or maybe impossible, to write a failing test for this as it might be `Babel` related.

So here is a small code snippet

[code]

which results in

[code]

[2015-12-30 12:16] sindresorhus commented on #391
Probably related to https://github.com/sindresorhus/ava/pull/360. You no longer need to `await` `t.throws`.

[2015-12-30 17:54] phuu commented on #24
Hey ava peeps — could someone please make issues for the work that needs doing on ava to make running in a browser possible (or document how to do it!) so I or someone else could work on it? Thanks!

[2015-12-30 19:18] ariporad commented on #24
@sindresorhus: Do we want to start adding browser support? Or are we waiting on that?

If we're going ahead with it, I'd like to help (I'm going back to school soon, so I might not be as active). Would you want to just abandon multi-threaded-ness? Or should we run things in web workers? Or new tabs? iframes? Also, I presume you'd want to integrate with Karma?

[2015-12-30 19:24] jamestalmage commented on #24
My vote is to wait. Having to support browsers will slow us way down. I think browser support should be just about the last thing before `1.0.0`.

[2015-12-30 19:47] ariporad commented on #24
@jamestalmage: Agreed

[2015-12-31 00:18] sindresorhus commented on #24
I have no idea anymore what it would take to make it run in the browser. Browser support comes with an immense amount of overhead, both in edge-cases and user support. I want for us to finish the core of AVA before committing to something like this. We already have more than enough overhead with Babel.

That being said, I don't see any reason we can't discuss potential solutions, and anyone is fre

[2015-12-31 00:30] phuu commented on #24
Ok. It's disappointing but I totally understand — do what's right for this project :smile:

Out of interest, is the test & assertion assertion code (`require('ava')`) decoupled enough from the runner that it could be used made to work in a browser context? It might be possible to keep the babel & parallelisation code node-only, but get the test and assertion code browser-compatible.

[2015-12-31 00:44] sindresorhus commented on #24
@phuu The test runner `lib/runner.js` is decoupled and can be used independently, see its [test](https://github.com/sindresorhus/ava/blob/master/test/runner.js) and how it's used in [index.js](https://github.com/sindresorhus/ava/blob/master/index.js).

[2015-12-31 02:05] TrySound opened #392 "Default reporter swallows console.log"
test.js
[code]
terminal output
[code]

Seems like the last string of logged text is swallowed.It complicate debuggin.

[2015-12-31 04:30] jamestalmage opened #393 "Use an alternative to Bluebird in forked threads."
With #390 - `bluebird` is now %37 of our load time according to `time-require`. It takes about `50ms` on my machine (w/ fast SSD's).

`pinkie` takes <= `1ms` to load on the same machine.

It seems like we mostly use the `bluebird` bells and whistles in the main thread. When it comes to forks, I think our only use of a `bluebird` specific API is [here](https://github.com/sindresorhus/ava/blob/c7ce7

[2015-12-31 04:42] ariporad commented on #393
Hmm... Seems like a great idea. And we don't even have to load anything if there's already a native promise.

Want me to have a go at implementing this?

[2015-12-31 04:52] jamestalmage commented on #393
Yep, use `pinkie-promise` for that.

Lets get consensus with the plan first.

[2015-12-31 04:55] jamestalmage commented on #393
Long stack traces might be a good reason to keep Bluebird around.

See #394.

[2015-12-31 08:14] SamVerschueren commented on #391
That indeed solves the issue in my first post. Refactored the tests and now they are working correctly. My second post actually looks like another issue. Closing this one and will create a new issue. Have to investigate first.

[2015-12-31 08:14] #391 closed

[2015-12-31 08:28] SamVerschueren commented on #391
The code snippet of my second post is wrong, that's why it wasn't working. It had to be `t.throws(delay(), 'foo')`.

[2016-01-01 03:51] JaKXz opened #396 "non-test utility files not being compiled correctly"
Trying to follow DRY principles, but unfortunately util-like files that aren't test files aren't being compiled. My `test/` folder looks like this:

[code]

my utils files that [fail to compile](https://gist.github.com/bde53367a94e4a43b48a) look like this:

[code]

and my test files simply import the function:

[code]

[2016-01-01 04:05] JaKXz commented on #396
I'm using the given `npm test: ava`

I've also tried the `--require` option, passing in the `utils/util1.js` for example but I get `AssertionError`s that say the path is missing.

[2016-01-01 04:25] JaKXz commented on #396
Damn! I missed [this](https://github.com/sindresorhus/ava#transpiling-imported-modules). Sorry!

[2016-01-01 04:25] #396 closed

[2016-01-01 17:36] #306 closed

[2016-01-01 21:22] alubbe opened #399 "power-assert graph missing from TAP output"
Thanks for the awesome TAP support, although I suspect it is really all about nyan-cat.
I noticed that piping the output meant losing the awesomeness of power-assert - is that inherent to supporting TAP at all or is there someway we can have flying rainbow cats and nice asserts?

[2016-01-01 21:51] sindresorhus commented on #392
I noticed this too. This is because of the animated reporting. Although, logging like that isn't very useful when you have more than one tests as the logging is synchronous while the test is not, so the logging could be outputted with a different test. I think a solution here is to handle the logging so that it's outputted with the correct test in verbose mode and with the default minimal reporter

[2016-01-01 22:36] jamestalmage commented on #392
That would be hard to do with console.log unless we either:

1. Force `--serial` when `--verbose` is used (I don't like this idea).
2. Use `domains` to determine which test `console.log` is used from.
3. Provide a `t.log` method.

I think `3` is pretty interesting. It won't help much with capturing logs from production code (unless you use proxyquire to inject it some how). For the `verbose` repor

[2016-01-01 22:38] jamestalmage commented on #399
Hmm. That should not be true. It's probably a bug from when we moved power-assert rendering to the main thread. I will look into it.

[2016-01-01 22:42] sindresorhus commented on #392
Yes, 3 is what I was thinking.

I think we should still log it with the mini reporter as it's still useful to quickly print out some values.

[2016-01-01 22:54] alubbe commented on #399
To reproduce, I ran `ava --tap temp/test_temp/*.js | tnyan` on 0.9.1

[2016-01-01 23:30] alubbe commented on #289
Good news, 0.9.x fixes this issue due to the new babel version!

[2016-01-01 23:30] #289 closed

[2016-01-01 23:34] alubbe commented on #393
Just to chime in from the sidelines, I see two quick points in favor of keeping it:
1) Long stack traces are a really beautiful feature, and much less expensive with bluebird than with most alternatives
2) My main helper file requires (my own version of) bluebird (which is the same as ava's), so if ava switches to another implementation, it will actually make it slightly slower for me.

Granted, p

[2016-01-01 23:56] sindresorhus commented on #393
I don't think it's worth dropping Bluebird. Long stack traces are very useful, especially when it comes to testing.

50ms is a long time for just require & parsing though. Might be worth looking more closely into why it takes so long. Maybe there's something we could do to improve it or at least open an issue on the Bluebird issue tracker about it.

[2016-01-02 00:01] ariporad commented on #392
@sindresorhus, @jamestalmage: We could also try hijacking/monkey-patching wither `process.stdout/stderr` or `console.log`.

[2016-01-02 00:10] sindresorhus commented on #392
Yes, we could, but I have a feeling that comes with a lot of edge-cases, so we should first figure out `t.log`.

[2016-01-02 00:23] jamestalmage commented on #393
Nothing jumps out:  https://gist.github.com/jamestalmage/873252568d8487bb1d95

[2016-01-02 00:31] sindresorhus commented on #393
I was thinking using https://github.com/s-a/iron-node flame graphs to see what actually slows down the loading. Maybe something in Bluebird could be made lazy.

[2016-01-02 00:58] jamestalmage commented on #393
Yes, but if you create this:

[code]

[code]

you get this:

33  ./foo (foo.js)                                  48ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 84%

The output is cumulative of the require time for everything you require, plus your time to eval and return. While bluebird itself takes a long time, everything it `require`s is really fast (`<1ms`)

[2016-01-02 01:05] jamestalmage commented on #393
I just tried that, I am not finding it super useful either.

My only thought would be "make everything lazy".

[2016-01-02 05:43] jamestalmage commented on #399
Seems specific to the `tap-nyan` reporter

I had better success with:

[code]

[2016-01-02 06:17] ecowden commented on #392
Humble lurker here, so feel free to tell me I'm wrong --

Usually, when I find myself dropping in `log` statements for debugging, it's in the code under test, not the test itself. If the data I'm trying to learn about is accessible from the test, I'd just write an assertion anyway. I doubt I'd use `t.log` very much.

I've found debugging particularly tricky when experimenting with AVA since it als

[2016-01-02 09:49] vdemedes commented on #392
I think we should just hide the output from the mini reporter. I've encountered many TAP/mocha reporters, that just don't show console.log()s and that's it. With our animated beauty, there is simply no good way to display console.log() output.

Highly agree with @ecowden, I don't think anyone would use `t.log`.

[2016-01-02 09:50] TrySound commented on #392
But how to debug?

[2016-01-02 09:50] jamestalmage commented on #392
use `--verbose`

[2016-01-02 09:51] vdemedes commented on #392
@jamestalmage++

[2016-01-02 10:10] jamestalmage commented on #392
Yeah, that was my concern as well. However, I think having a way to log output that you can be sure will be printed right underneath the :white_check_mark: of the related test is pretty valuable. Obviously `--serial` is a way to achieve that.

At some point I think we need to start developing a "best practices / hints and tips / faq" document with stuff like this in it. For example, a good heading

[2016-01-02 15:32] alubbe commented on #399
Somewhat better, using tap-mocha-reporter I get
[code]
Now the cat output is part of the assert (not a biggie), but something ate the stack trace. Here is what it looks like with the default reporter:
[code]

[2016-01-02 20:32] JaKXz opened #401 "TAP output not sending the correct number of asserts"
From zoubin/tap-summary#2

Reproducible with: https://gist.github.com/JaKXz/c676f6b5493b0ce90225
- just download the zip and run `npm install && npm test` [assuming you have `tee` on your system, if not just drop the last pipe]

There should be 4 asserts and 2 tests in the output there, but the tests and asserts are printed as the same.

Ideally, the assertion output would include the message from

[2016-01-02 22:28] jamestalmage commented on #401
AVAs tap output doesn't currently show individual assertions, just outputs tests.

Closing as a duplicate of #324.

[2016-01-02 22:28] #401 closed

[2016-01-03 00:09] jamestalmage opened #404 "Document common pitfalls"
There are some points that continue to confuse people (especially as it relates to our async behavior).

One in particular is using closure scope variables to try and pass data between `beforeEach` and individual tests (see #402).

I think we need to create some documentation that addresses each of these types misconceptions so we can quickly link to them. They can be in the `readme` if they are c

[2016-01-03 01:18] ariporad commented on #404
I think this is a really great idea. Also, I'd like to appreciate the relevant issue number.

[2016-01-03 01:45] sindresorhus commented on #404
Good idea!

[2016-01-03 01:47] sindresorhus commented on #404
Pitfalls:
- Using global variables and forgetting that tests are run concurrently.
- `console.log` not logging where the test result is printed (I hope we can fix https://github.com/sindresorhus/ava/issues/392, but we should document until we do)

[2016-01-03 16:56] ariporad commented on #404
Actually, What if we made this a wiki page and linked to it from the README? That way others could contribute?

[2016-01-03 17:33] sparty02 commented on #185
@bcoe @sindresorhus Just a heads up that I saw some activity over on nyc that was done in the past few days that appeared to (at least loosely) be related to better spawn support on Windows.  Long story short, I just tried my use case again with ```ava@0.9.1``` and ```nyc@5.2.0``` and it worked!

[2016-01-03 19:50] sindresorhus commented on #404
No. I want to have quality control on the docs. I don't want random strangers to be able to just freely modify the docs. Also: https://plus.google.com/+sindresorhus/posts/QSS2du26Mg4

They already can with a pull request.

[2016-01-04 02:10] jamestalmage opened #405 "Add a config file."
Probably just an `ava` section in `package.json`.

The available options are getting complex enough that I think we are close to needing this (if we aren't there already).

[code]

These would need to be merged with whatever is specified on the command line (command line taking precedence).

The goal is to be able to specify the default way you want it to behave when you simply type `ava` on the c

[2016-01-04 02:28] jamestalmage opened #406 "Better string and object diffs"
The `power-assert` output is great except for long strings and moderate to large sized JSON objects.

I think for those cases, it is probably better to just output a diff. Something similar to mocha.

(I'm almost certain there was an issue raised about this already, but I couldn't find it quickly).

[2016-01-04 02:36] sindresorhus commented on #405
:+1: I do that with [XO](https://github.com/sindresorhus/xo#config) too. I would prefer only a section in package.json. Makes things simple.

https://github.com/sindresorhus/pkg-conf

[2016-01-04 02:38] sindresorhus commented on #406
Hah, open an issue like this was on my todo list. :+1: :+1:

[2016-01-04 02:45] TrySound commented on #406
Related https://github.com/power-assert-js/power-assert/issues/31

[2016-01-04 02:46] ariporad commented on #405
Agreed. I'd also like to add a "files" section, and have it be "config.ava", vs. "ava "

[2016-01-04 03:02] sindresorhus commented on #405
:+1:

:-1: That's a convention nobody uses. Top-level is simpler and it will never conflict with anything anyways.

[2016-01-04 03:08] jamestalmage commented on #405
Except for https://github.com/bcoe/nyc/issues/131  :smile:

[2016-01-04 03:09] jamestalmage commented on #405
Yeah, I think basically any config value is fair game. I can't think of one we *shouldn't* allow them to configure this way.

[2016-01-04 05:13] jamestalmage commented on #406
Hmm. I don't know. It doesn't depend on `powerAssertContext` at all, just `assertionErrror.expected` and `assertionError.actual`, it certainly **could** be implemented as a custom reporter. I just don't know if that's the best choice.

// @twada

[2016-01-04 07:18] vdemedes commented on #405
Great suggestion, I'm on board!

[2016-01-04 12:44] twada commented on #406
It makes sense when assertion has two args (`t.is`, `t.not`, `t.same`, `t.notSame`).
With one arg (`t.ok`, `t.notOk`), power-assert should handle string diff and that's what [BinaryExpressionRenderer](https://github.com/twada/power-assert-renderers) does.

[2016-01-04 13:05] jamestalmage commented on #406
Oh yeah, forgot about BinaryExpressionRenderer - we definitely want good diffs if they do:

[code]

How about extending BinaryExpressionRenderer with a "minimumLength" parameter that prevents short diffs from being displayed, a diff for `"foo" === "bar"` is unnecessarily verbose.

[2016-01-04 16:48] ariporad commented on #405
@sindresorhus: Except `nyc` and `comitizen` (off the top of my head).

[2016-01-04 17:16] jamestalmage commented on #405
`nyc` is falling off that list very soon: https://github.com/bcoe/nyc/pull/132

[2016-01-04 19:18] #405 closed

[2016-01-05 14:01] jenius commented on #358
Thanks for the awesome work guys. You are the best :tada:

[2016-01-06 04:45] kentcdodds commented on #184
Sorry to chime in here, but I'm looking around at issues looking for something else and noticed this. Another solution to address:

Is there any reason you couldn't just publish a temporary release with `npm publish --tag beta`? [docs](https://docs.npmjs.com/cli/publish)

[2016-01-06 04:57] jamestalmage commented on #184
That requires ownership of the module being deployed. I have been added as a collaborator since making that comment, so it's moot for me in the AVA context, but still applicable to any module you don't own.

I filed [this proposal with npm](https://github.com/npm/npm/issues/11001). The gist is that I think there should be an easy way to deploy hot fixes for projects you don't own (under your own n

[2016-01-06 04:58] kentcdodds commented on #184
Ah, missed your use case there. Makes sense. And The scoped package is a good work around until your proposal is dealt with. :+1:

[2016-01-06 05:20] kentcdodds commented on #111
This issue is solved for me by adding `--require 'babel-register'` (Babel 6) with a `.babelrc` file:

[code]

[2016-01-06 05:46] kentcdodds commented on #111
If you're interested, here's a migration from Mocha to AVA in a small library: https://github.com/kentcdodds/starwars-names/pull/12/files?w=1

[2016-01-06 05:56] jamestalmage commented on #111
Cool!

Your use of the `--require` flag is spot on for what we intended. #407 should make the experience even better.

We would value any feedback on pain points you encountered during the transition.

[2016-01-06 10:13] tmaximini commented on #348
I ran into the same issue, went with https://github.com/alekseykulikov/babel-preset-es2015-node5 for now

[2016-01-06 11:35] jamestalmage commented on #348
@tmaximini What issue? The only difference should be one of performance. If you've got other issues let us know.

[2016-01-06 15:52] kentcdodds commented on #111
Cool, I added a comment about that. I prefer to use `config` to avoid polluting the `package.json` keyspace :-) (It's also technically the recommended way to do what is being done).

Not really any pain points. The only thing that I would say is the assertions are pretty limiting. I prefer the declarative syntax of something like Chai. But I expect that the small surface area of the API is intenti

[2016-01-06 18:03] sindresorhus opened #408 "Builtin reporters should show skipped test count in the result"
`21   passed   3 failed` => `21 passed   2 skipped   3 failed`

[2016-01-07 19:21] kentcdodds commented on #405
Add [`ghooks`](npm.im/ghooks) to the list of modules that use the config convention :-) But meh, it'll never conflict.

[2016-01-07 21:20] jokeyrhyme commented on #24
I found karma-tap, but there may or may not be an issue with how we end up using it: https://github.com/tmcw/karma-tap/issues/10

[2016-01-08 22:18] sotojuan commented on #408
What color should it be?

[2016-01-08 22:25] kevva commented on #408
No color or yellow imo.

[2016-01-08 22:29] sotojuan commented on #408
Sorry I deleted my comment asking about the color because in the tests for the mini reporter it [uses cyan](https://github.com/sindresorhus/ava/blob/master/lib/reporters/mini.js#L29) for skipped.. Though I think for the actual reporting it should be yellow or no color as you say!

[2016-01-08 22:34] jamestalmage commented on #408
@sotojuan - are you working up a PR for this?

[2016-01-08 22:35] kevva commented on #408
Sorry I deleted my comment asking about the color because in the tests for the mini reporter it uses cyan for skipped.. Though I think for the actual reporting it should be yellow or no color as you say!

Yup,  but I think yellow makes more sense depending on how we want to treat skipped tests as.

[2016-01-08 22:41] sotojuan commented on #408
@jamestalmage Yep, working on it now.

[2016-01-08 22:44] jamestalmage commented on #408
OK, I've updated the labels so people know someone is working on it.

[2016-01-09 00:39] #408 closed

[2016-01-09 01:45] #310 closed

[2016-01-09 03:23] mattkrick opened #411 "Testing websockets"
I've got some code that looks like this:
[code]

The output is:
[code]
I'm guessing this is because I'm not calling `t.end()` and I'm not in callback mode. But, if I use `test.cb`, then I can't use async/await because promises throw an error, so I'm forced to enter callback hell. Any ideas on the right way to do this? Any clever ways of getting the `delay`s out would be great, too!

[2016-01-09 03:44] jamestalmage commented on #411
What is the stack trace of the `unhandledRejection`?

Links to real repos work best :smile:

[2016-01-09 04:29] jamestalmage commented on #392
@sindresorhus - for quickly printing out some values, `console.log` works just as well, assuming you intend to delete the log statement later. The output of the `mini` reporter offers no context for log statements in passing tests anyways. There are advantages to not displaying in the `mini` reporter unless there is a failure:

1. The log statements can be given context (by being grouped with the

[2016-01-09 11:51] sindresorhus commented on #392
Usually I just console log in one place so I don't really need a context, but ok with using `--verbose` when I do that.

[2016-01-09 16:56] jamestalmage commented on #392
In that case the mini reporter should be fine. Though maybe we should somehow use hook-std or something to detect a line has been written and avoid deleting lines.

[2016-01-09 17:39] sindresorhus commented on #392
Yup, already suggested something like that initially, using logUpdate.done(). Would be nice.

[2016-01-09 22:31] jamestalmage opened #413 "Feedback from color blind users"
We currently use `red` / `yellow` / `green` to signal `error` / `warning` / `ok`  level messages.

@bcoe brought up a good point in an [`nyc` thread](https://github.com/bcoe/nyc/issues/135#issuecomment-170286779).

I know very little about being colorblind aside from what I've read on Wikipedia, so I would like to here from colorblind users.
1. Is it a big deal to you that AVA try to output colorb

[2016-01-09 22:35] bcoe commented on #413
@jamestalmage if I recall @isaacs did a lot of research into this when he was coming up with a color scheme for node-tap.

[2016-01-09 22:50] jamestalmage commented on #413
https://github.com/tapjs/tap-mocha-reporter/blob/master/lib/reporters/base.js#L54-L75

[2016-01-09 23:18] sindresorhus commented on #413
I naively assume setting it in the terminal would be the best solution as it would fix it everywhere, not just here, but would be cool if someone knowledgeable about this would comment here (or email James).

[2016-01-10 00:39] isaacs commented on #413
tap's default reporter does use quite a bit of red and green.  Mostly, the difference between red and green is also communicated by the text itself, so it's fine.

Where it gets tricky is in the diff coloring, where red and green colors carry a lot of the semantic weight.  I sought out various sorts of less-color-sensitive folks on Twitter, and used [Sim Daltonism](https://itunes.apple.com/us/app/

[2016-01-10 00:56] mattkrick commented on #411
Ah, I found a better way to do it. It uses the nice factory function you introduced me to, but now I use it for a server that creates a worker (and a worker has an HTTP server + WS server in it). Still not foolproof, with 3+ tests I occasionally get really strange `EADDRINUSE` errors that point to a temp file in `~/var/folders` (there's a race condition somewhere, but I dunno where).  For the goog

[2016-01-12 08:37] tusharmath opened #417 "False passed runs for the suite"
I took the test from the documentation —

[code]

Apparently this test is just skipped amidst other tests and thus returns a false passed for the suite. This could be an issue, if the developer forgets to write the `t.end()` in his code.

Or is there something that I am missing?

[2016-01-12 08:58] jamestalmage commented on #417
I just tried your test code, and it just hangs indefinitely (which makes sense - AVA is waiting for you to call end). What output are you getting?

[2016-01-12 10:26] tusharmath commented on #417
I guess you are right. Its not skipping, instead its waiting for it to complete till eternity. I guess there should be a default timeout for async tests.

[2016-01-12 11:31] sindresorhus commented on #417
We decided in https://github.com/sindresorhus/ava/issues/171 not to do a default timeout as there's no good default that fits all, instead we're going to add ability to set timeout.

[2016-01-12 13:16] Qix- commented on #392
Not really. Patching `process.stdout`, `process.stderr` and `fs.write` could do it completely. The only thing that this wouldn't cover is native modules writing to either of those, though that's hard to cover anyway.

[2016-01-13 20:22] #392 closed

[2016-01-13 20:31] jamestalmage opened #420 "Group log output with the relevant test."
Continuation from [here](https://github.com/sindresorhus/ava/issues/392#issuecomment-168344251).

`2` is a less controversial choice, but won't help for logging from production code.

One possibility for such grouping would be to only display the logs when the test failed. I think this is an especially a good idea for `t.log`, as it lets you leave them in your tests without consequence if you thin

[2016-01-13 20:36] vdemedes commented on #420
I'm strongly against this one as it's very irritating when obvious & simple things (like `console.log()`) don't work as expected.

Domains looks like a good solution for our issues. We could also group exceptions & rejections, not just console.log()s. It was mentioned before in some issue too.

The problem with domains is this:

<img width="728" alt="screen shot 2016-01-13 at 9 35 50 pm" src="http

[2016-01-13 20:42] vdemedes commented on #420
Am I crazy or we could use `cluster` module for that? It allows to listen to `error` events when worker (test) fails. Also we could attach to `message` events and:

[code]

[2016-01-13 20:43] sindresorhus commented on #420
:+1: I also want them visible by default.

Do we really need this if we manage to route console calls correctly?

Domains are deprecated, but so much depend on it that they're not going to remove it anytime soon (source: Node.js core people). They don't even have an alternative yet. And the alternative is going to be powerful enough to enable building a user-land implementation of domains. More he

[2016-01-13 20:44] jamestalmage commented on #420
You are probably right. I was more thinking this for `t.log`. My only irritation is that if I put `console.log` in a production file that is called by a lot of tests, I probably only want to see the output of the failing ones. Still - probably best not to.

[2016-01-13 20:45] vdemedes commented on #420
In that case, let's move on with domains on board.

[2016-01-13 20:46] sindresorhus commented on #420
I'm not really familiar with the `cluster` module.

[2016-01-13 20:49] jamestalmage commented on #420
My thought was that it would be similar to `console.log`, but hidden unless the test fails.

That only gives you per-process resolution. We need domains to narrow it down per-test

[2016-01-13 20:53] vdemedes commented on #420
@jamestalmage I actually thought about running a worker per test. I just realized it's completely insane.

[2016-01-13 20:55] vdemedes commented on #420
Mind wonders when you're desperate :D

[2016-01-13 20:56] jamestalmage commented on #420
It's crossed my mind, and [I definitely don't think it's insane](https://www.npmjs.com/package/forking-tap), but probably not very performant.

[2016-01-13 21:01] #417 closed

[2016-01-13 21:15] sindresorhus commented on #420
I considered that a year ago, but decided not to open an issue about it as it would come with a lot of overhead. Might be something worth exploring at some point as totally isolated tests would be so nice.

[2016-01-13 21:17] sindresorhus commented on #420
That's kinda what the message arguments in assertions are meant for, but I guess it could be useful for generic debug stuff when it fails. Not sure `.log` is the best name for something like that, though. Maybe `t.debug()`, which is shown when a test fail or in debug mode?

[2016-01-13 21:20] jamestalmage commented on #420
Could be cool as a configurable option. Turn it off for faster testing on the local dev machine. On for your CI build so you ensure you are writing truly isolated tests.

See https://github.com/jamestalmage/forking-tap

[2016-01-13 21:29] jamestalmage commented on #420
One downside to this is that it hides the async nature of your code from you. You will get nice

[code]

With this proposal, the above will give you a nice, seemingly synchronous log:

[code]

When what will almost certainly be happening is:

[code]

[2016-01-13 21:30] sindresorhus commented on #420
Yeah, can you open an issue? I don't think we should prioritize it right now, but can have an issue to at least discuss and so we don't forget.

[2016-01-13 21:32] sindresorhus commented on #420
Paste your above comment in that issue so not to derail this discussion ;)

[2016-01-13 21:33] jamestalmage commented on #420
My big comment above is directly related to this one.

[2016-01-13 21:47] jamestalmage opened #421 "Run individual tests in separate processes"
Right now we fork per test file, but not per individual test method. We have discussed the latter a few times in other threads, and finally decided to open an issue to discuss.

Pros:
- Truly isolated tests. No chance they interfere with each-other unless they are interacting with outside resources (servers / databases / file system).
- Fresh global state for each test. This would be a big help fo

[2016-01-13 21:55] jamestalmage opened #422 "Clean up redundant assertion error output."
Currently the following:

[code]

Will log the following:

[code]

This is redundant.

It only happens for enhanced assertions.

I think the solution could be as simple as: `err.message + stripFirstLine(err.stack)`.

[2016-01-13 21:59] sindresorhus commented on #421
This would be huge, not only for polyfill dev, but anything that modifies global state.

Sometimes it's worth it. For example in https://github.com/sindresorhus/get-stdin I had to split my tests into two files as they somehow conflicted with each other.

That won't be a goal either. We'll just run it normally there. Running files in parallel will also be gone when run in the browser.

[2016-01-13 22:02] jamestalmage commented on #421
Not sure why that would need to be true. Just open a tab per browser.

[2016-01-13 22:07] sindresorhus commented on #421
Oh, didn't realize that was possible. Make sure the mention that in https://github.com/sindresorhus/ava/issues/24 ;)

[2016-01-13 22:14] jamestalmage commented on #24
The following will be helpful when we do move forward with this:

https://code.google.com/p/chromium/issues/detail?id=485425

[2016-01-13 23:23] BarryThePenguin commented on #24
Would AVA provide a solution for browser testing through it's own web server, browser loader and client, or is the plan to just support, and have examples/recipes, for running tests in a browser environment?

[2016-01-13 23:25] ariporad commented on #24
@BqrryThePenguin: (Awesome username, btw). We would almost certainly
support running tests through karma as the preferred browser setup.
On Wed, Jan 13, 2016 at 3:23 PM Jonathan Haines <notifications@github.com>
wrote:

[2016-01-13 23:35] jamestalmage commented on #24
It depends on how easy it would be to modify karma to run multiple files at once. But karma would definitely be the first thing we look at.

I would like to see it be a bit more than recipes. If nothing else, worst case a shareable karma baseconfig that you can use without modification if you do things "the AVA way"

[2016-01-13 23:36] ariporad commented on #421
@sindresorhus: You changed your profile picture!

As for the actual topic at hand, I'm not really sure either way. On one
hand, it would be nice, but on the other, there would be a *_huge_*
performance penalty. And some unexpected behavior (read: it should be
behind a flag). It kind of starts to remind me of Google Apps Script, which
isn't a good thing.

Also, then before === beforeEach? That's so

[2016-01-13 23:37] ariporad commented on #24
@jamestalmage: I haven't used karma in a while, but IIRC, karma just takes
an array of files.
On Wed, Jan 13, 2016 at 3:35 PM James Talmage <notifications@github.com>
wrote:

[2016-01-13 23:41] sindresorhus commented on #421
@ariporad Test hooks would still work as we would execute the file as normal, but only run a specific test (with hooks) instead of all.

[2016-01-13 23:47] jamestalmage commented on #421
Yep, the only issue would be:

[code]

[2016-01-13 23:49] ariporad commented on #421
@sindresorhus: I know, but then the before hook would have to be run for
each test (because it would have to be run once per thread), therefore
making it equal to beforeEach.
On Wed, Jan 13, 2016 at 3:41 PM ⌁ sɪɴᴅʀᴇ sᴏʀʜᴜs ⌁ <notifications@github.com>
wrote:

[2016-01-13 23:52] sindresorhus commented on #421
Ah, that's true.

[2016-01-14 00:00] jokeyrhyme commented on #24
If you're happy with a simulated browser environment, we can probably already write ava tests with this today: https://github.com/assaf/zombie

[2016-01-14 00:01] jamestalmage commented on #421
Maybe add `setup`/`teardown` methods that maintain the before/after symantics regardless. They wouldn't be able to participate in `t.context`, or `t.context` would need to be serializable

[2016-01-14 00:03] jamestalmage commented on #24
@jokerhyme if that actually works, might make for a good recipe.

[2016-01-14 00:04] sindresorhus commented on #421
I'd rather look into solutions that didn't require adding two new methods with very similar semantics.

[2016-01-14 04:07] therealklanni opened #423 "TAP: Skip count reports `undefined`"
[code]

What more do you need? I briefly looked at the code surrounding this, and it appears that `TapReporter#api.skipCount` is never tracked. I could be wrong. If I get time to take a deeper look into this and submit a fix, I will do so, however don't let that stop anyone from taking a crack at it sooner! :rocket:

[Probably related](https://github.com/sindresorhus/ava/commit/a5e63c0d43bfc13b820

[2016-01-14 04:07] therealklanni commented on #423
@sotojuan please confirm

[2016-01-14 12:01] ghpabs opened #424 "Disable babel via `--no-babel` flag"
I'm wondering if it's possible to disable Babel "transpilation" phase when I run AVA.

I'm using Node 5.x which already has all ES6 features that I need to use.

[2016-01-14 12:10] vdemedes commented on #424
Nope, not at the moment. I was also wondering whether we should have an ability to turn off babel. I think we should leave it as a feature request.

[2016-01-14 12:17] vdemedes opened #425 "SyntaxError in master branch causing tests to fail"
Travis: https://travis-ci.org/sindresorhus/ava/builds/102330293

<img width="1061" alt="screen shot 2016-01-14 at 1 13 23 pm" src="https://cloud.githubusercontent.com/assets/697676/12324166/1bb26352-bac1-11e5-8748-16c0acc0d0d5.png">

This is really weird, because the last commit is https://github.com/sindresorhus/ava/commit/c060e94c8a4c69c4c57367e91f793d62475233a4 and tests were passing before tha

[2016-01-14 13:13] ghpabs commented on #424
Cool, thanks for the reply @vdemedes.

[2016-01-14 13:23] floatdrop commented on #425
Yeah, maybe we should fix `babel-plugin-transform-regenerator` to `6.3.26` version somehow, as suggested in issue about this - https://phabricator.babeljs.io/T2892 ?

[2016-01-14 14:10] nexdrew commented on #425
Having this same problem. [Tests pass](https://travis-ci.org/npm/email-templates/jobs/102221573) with `babel-plugin-transform-regenerator@6.3.26`, [tests fail](https://travis-ci.org/npm/email-templates/jobs/102348734) with `babel-plugin-transform-regenerator@6.4.3`.

The workaround described in the babeljs phabricator link works for me: change `const` to `let` within `async` functions.

[2016-01-14 15:26] sindresorhus commented on #424
@ghpabs That is invalid. Use `let` if you want to reassign the variable. Nothing to do with Babel.

[2016-01-14 15:53] ghpabs commented on #424
Hi @sindresorhus, I don't believe it's invalid JS - *at least not in Node from what I can see*.

Try running the following code in the Node REPL.

[code]

No errors were thrown.

Ps. Maybe this piece of code is only adding complexity to the issue. The original intent for this ticket was the question around disabling Babel.

Thanks!

[2016-01-14 16:51] sindresorhus commented on #424
It's true that it works in sloppy mode (which the REPL is running in), but you should really not depend on that. It's the wrong use of `const` and it's not future proof. It will not work in strict mode or ES2015 modules, which implicitly run in strict mode.

[code]

The whole point of `const` is creating an immutable binding. If you want `const` with mutable binding it's pretty much exactly `let`.

[2016-01-14 16:56] ghpabs commented on #424
Great, thanks for taking the time to explain it. Love your work.

[2016-01-14 19:06] ewnd9 commented on #425
Got it [too](https://travis-ci.org/ewnd9/dictionary-cli/builds/102116475). It also reproduces on local system after clean `npm install`

[2016-01-14 19:56] zeke opened #426 "TAP support is already here, right?"
The following line is in [one of the FAQs](https://github.com/sindresorhus/ava#why-not-mocha-tape-node-tap):

But it looks like TAP output is already supported: https://github.com/sindresorhus/ava#optional-tap-output

Should that line be removed/updated?

[2016-01-14 20:03] vdemedes commented on #426
Good catch, it should be updated. Thanks!

[2016-01-14 20:34] #426 closed

[2016-01-14 21:57] sindresorhus commented on #425
Applied the workaround and released 0.9.2.

[2016-01-14 21:57] #425 closed

[2016-01-14 22:52] sindresorhus commented on #422
Note to self: Update screenshot (https://github.com/sindresorhus/ava/pull/428) when this is done.

[2016-01-14 22:59] vdemedes opened #429 "Stack traces not cleaned up in async tests for thrown errors"
Regarding #418. On master branch the following test has full stack trace in the output:

[code]

<img width="663" alt="screen shot 2016-01-14 at 11 55 40 pm" src="https://cloud.githubusercontent.com/assets/697676/12340343/98193048-bb1a-11e5-8a3b-5504f8fb46fa.png">

Now, if I remove `async` from the code, it works as expected and stack traces are clean:

[code]

<img width="249" alt="screen shot 20

[2016-01-14 23:56] azhang commented on #111
This is what I use in my package.json file:

[code]

[2016-01-15 02:54] #429 closed

[2016-01-15 04:53] ariporad commented on #421
@jamestalmage: Yeah, didn't you hear? @sindresorhus has decreed that there shall be only one possible way to do anything! :smile:

[2016-01-15 06:30] jamestalmage commented on #367
@dfcreative `0.10.0` is out and should improve on issues `2` (startup time) and `3` (output formatting)

[2016-01-15 11:29] asbjornenge commented on #70
There is also the [watch](https://en.wikipedia.org/wiki/Watch_(Unix)) unix command.

But none of these can be compared to ava supporting filewatching internally. I love the **fast feedback loop** `mocha -w` gives me, and would :heart: to see `ava` have this feature.

[2016-01-15 14:14] sindresorhus commented on #421
@ariporad Not at all. I just want us to explore other options before adding more API surface. Adding new methods and options are easy. Keep things minimal while powerful is very hard.

![horrible-ui](https://cloud.githubusercontent.com/assets/170270/12355055/68b5df7e-bb9a-11e5-90eb-285aab88f633.png)

[2016-01-15 14:37] ariporad commented on #421
@sindresorhus: that was like 98% joke, sorry.

On Fri, Jan 15, 2016 at 6:14 AM ⌁ sɪɴᴅʀᴇ sᴏʀʜᴜs ⌁ <notifications@github.com>
wrote:

[2016-01-15 14:45] sindresorhus commented on #421
@ariporad I know, but when rereading my previous comment I sounded a bit dictatorial, so just wanted to clarify ;)

[2016-01-15 14:56] jamestalmage commented on #421
That picture is awesome

[2016-01-15 20:33] jamestalmage opened #435 "Improve default reporter on CI."
The default reporter doesn't look great if the terminal is not a `tty` or doesn't obey ansi cursor position codes:

`node-tap` automatically defaults to the `tap` reporter for non-tty setups. That might make sense for us.

Travis does provide claim a `tty`, but it doesn't honor ansi cursor position codes. [See here](https://travis-ci.org/jamestalmage/option-chain/jobs/102683773#L758). It's not ter

[2016-01-15 20:37] sindresorhus commented on #435
How about defaulting to the verbose reporter?

[2016-01-15 20:41] vdemedes commented on #435
If we're gonna make verbose reporter a default one, we can also remove mini reporter. It will not fit into our no-custom-reporters strategy and might as well be transformed into a TAP reporter.

[2016-01-15 20:43] jamestalmage commented on #435
I would prefer to have to install extra stuff / pipe to get the mini reporter.

[2016-01-15 20:43] sindresorhus commented on #435
@vdemedes I meant defaulting to the verbose reporter **on a CI**, not normally. I love the mini reporter as default in my own terminal.

[2016-01-15 20:44] vdemedes commented on #435
@sindresorhus Oh, in that case - ;)

[2016-01-15 20:50] jamestalmage commented on #435
Yeah, that is what I was thinking, but how should we make that decision?

- `process.stdout.isTTY` will work for AppVeyor, but not Travis.
- [`is-ci`](https://github.com/watson/is-ci) seems more universal. But do we still want to detect `isTTY`?

I was thinking:

- if `not-a-tty` - default to tap
- else if `is-ci` - default to verbose
- default to mini

Pros:

- Defaults to mini on your own machin

[2016-01-15 20:51] vdemedes commented on #435
I think we should simplify our lives and just use `is-ci`.

[2016-01-15 20:54] jamestalmage commented on #435
My only gripe with that would be tap support:

`ava --tap | spec`
 vs
`ava | spec`

Not really a big deal (I think I will prefer our reporters in most cases).

[2016-01-15 20:55] sindresorhus commented on #435
Tap output should IMHO be an explicit choice through `--tap`. I'd prefer `isCI ? verbose : mini`. TAP is a bonus.

Let's add some short-flags then at least: `ava -t | spec` ;)

[2016-01-15 20:59] jamestalmage commented on #435
works for me.

[2016-01-15 21:01] sindresorhus commented on #435
Ditto. And if there's something you don't like about the built-in reporters, you're in a very good position to do something about it ;)

[2016-01-15 21:03] vdemedes commented on #435
We should also remember to always prioritize `--tap` over `isCI` check. So that users who enabled TAP output won't end up with verbose reporter on CI.

[2016-01-15 21:07] jamestalmage commented on #435
:+1:

[2016-01-15 21:07] sindresorhus opened #437 "Add shortflags to the CLI"
https://github.com/sindresorhus/ava/issues/435#issuecomment-172090337

- `-t` => `--tap`
- `-v` => `--verbose`
- `-r` => `--require`
- `-s` => `--serial`

Example, something like `alias: { s: 'str' }` should be added below here https://github.com/sindresorhus/ava/blob/ced24c5090ad5d08eb5a2961dc0bb94d00eee445/cli.js#L72 with the shortflag mapping.

[2016-01-15 21:12] jamestalmage commented on #437
`--fail-fast`

Not sure if I like `-f`, since that is so widely used as `force` (though I'm not sure what people would think that means in the context of a test runner, so maybe not so confusing).

`-b` for bail-out, but we don't use that term.

[2016-01-15 21:15] sindresorhus commented on #437
Yeah, that's exactly why I left out `--fail-fast`. I think it's better written out than a shortflag tbh.

[2016-01-15 21:41] #435 closed

[2016-01-15 22:04] jamestalmage commented on #424
We've talked it over and decided that a `--no-babel` flag is an acceptable (if possibly temporary) fix. It's going to slow things down **a lot**. Especially for `npm@2` users. Any PR should include documentation warning that `npm@3` is highly recommended with that flag.

[2016-01-15 22:27] jamestalmage opened #439 "core-js promises do not offer long stack traces."
Which is a bummer, since `stack-utils` now [makes them look real nice](https://github.com/tapjs/stack-utils/issues/2).

I'm not sure what the best option is here.

One solution would be a PR adding long stack traces to core-js. I'm not sure that's a great one, because my understanding is `core-js` wants to be lean and implement the bare minimum spec. I also don't think it's a trivial undertaking (

[2016-01-15 22:31] sindresorhus commented on #439
If a user uses Bluebird with long stack traces in their app code and something there throws in a test would we get long stack traces from that or does the whole chain need to use Bluebird to get the long stack traces? Long stack traces for the test themselves aren't that useful, but from the app code it definitely is.

Indeed, but if you read the Bluebird source you'll see how coupled everything i

[2016-01-15 22:39] jamestalmage commented on #439
I had that thought. Just a wrapper. Not sure what the performance impact would be. But worth looking into.

That I don't know. Worth testing.

That's probably true. I noticed while incorporating `stack-utils`. In that case I was writing a fixture that created an entire long stack trace inside the test file. So my experience there may differ.

[2016-01-16 00:23] ariporad commented on #424
@jamestalmage: I'll take that on, I need something to do on the plane
tomorrow.
On Fri, Jan 15, 2016 at 2:04 PM James Talmage <notifications@github.com>
wrote:

[2016-01-16 01:00] jamestalmage commented on #424
@ariporad :+1:

[2016-01-16 01:47] jamestalmage opened #440 "Rewrite stack traces of AssertionErrors to hide power-assert calls"
If you do something like:

[code]

and `bar` is not a function, you get:

[code]

I'm not sure if this is something that can be fixed via source-map remapping, or if it can be fixed in `power-assert` somehow.

// @twada @novemberborn

[2016-01-16 13:25] thisconnect opened #441 "performance impact of paralell process on small projects (& switching tape to ava)"
After my tape tests still passed but stopped exiting (for some reason?) I took the chance to switch to ava. My setup is 6 test files each testing on different git repositories, using nodegit (stuff like `git.commit`, or `git.diff`). Each test file has a setup test to clean up (usually removing the repo).

Switching from tape to ava was pretty straight forward. In my case always returning a promise

[2016-01-16 14:03] thisconnect commented on #441
One more side note: Since changing to ava I lost the pretty coloring of DEBUG=kit*

[2016-01-16 21:43] sindresorhus commented on #420
I don't really see that as much of a problem.

[2016-01-16 22:28] sotojuan commented on #437
Does this consist of anything more than doing this?

[code]

Also, would you guys want tests for these? I'm not sure there should because that's `meow` stuff.

[2016-01-16 22:33] sindresorhus commented on #437
Should be:

[code]

No tests needed. Need to update help output and the help output in the readme though.

[2016-01-17 14:08] vdemedes commented on #437
Landed in master.

[2016-01-17 14:08] #437 closed

[2016-01-17 15:00] sindresorhus opened #445 "Recipe for switching from Tape to AVA"
@jamestalmage commented some things on Gitter:

I'd add:

- `t.plan()` doesn't implicitly end the test.
- `test.cb()` for callback tests.

What else?

[2016-01-17 21:35] MoOx commented on #445
My 2 cents:

- t.equal => t.is
- t.deepEqual => t.same
- no need for t.end() in most case

[2016-01-17 21:45] vdemedes opened #446 "Recipe for testing with React"

[2016-01-17 21:46] vdemedes opened #447 "Recipe for testing ES6 modules"

[2016-01-17 22:08] jamestalmage opened #448 "A possible way to provide customizable babel configs using `.babelrc`/`env`"
Continued from:
https://github.com/sindresorhus/ava/pull/398#issuecomment-172386983

My proposal is that we allow the following in `.babelrc`:

[code]

There are a couple questions that need to be answered in order to proceed. Specifically, can we change which `env` Babel uses on a per file basis? It might be as easy as setting `process.env.BABEL_ENV` before each call to `babel.transform(..)`

[2016-01-17 22:10] jamestalmage commented on #445
I think it would be really helpful if, along with the recipe, there was a "conversion cheat sheet" (maybe in a table or something). That listed all the commands:

`node-tap` | `tape` | `ava` | notes
---------------|---------|---------|---------
`t.equal` | `t.equal`| `t.is`|
`t.throws` | `t.throws` | `t.throws`| `ava` also accepts a `Promise` in addition to functions.
... |
... |

I'm not sure if

[2016-01-17 22:15] jamestalmage commented on #447
It's kind of covered by the code coverage recipe, but it might be good to have a simpler recipe that didn't include that.

Some stuff from [this comment](https://github.com/sindresorhus/ava/pull/444#issuecomment-172385855) would apply here as well.

[2016-01-17 22:17] jamestalmage opened #449 "Fix code coverage recipe"
See https://github.com/sindresorhus/ava/pull/444#issuecomment-172385855

We can debate what constitutes "best practice". But the incorrect use of the `--babel` flag should definitely be addressed.

[2016-01-17 22:21] jamestalmage commented on #447
See https://github.com/jamestalmage/__ava-0.8-with-babel-6 for a working example

Repository name is a misnomer now - it uses ava@0.10.0.

[2016-01-18 05:29] billyjanitsch commented on #448
This is a great start! If I want to keep my AVA and base configs identical, do I write `"ava": {}`? This is a little different from how the `.babelrc` env field works in general:

[code]

---

Do you have plans for the general case of a custom register hook, which may transpile imports using transpilers other than Babel? Is that what `--no-babel` is for?

For reference, [here's](https://gist.githu

[2016-01-18 06:54] jamestalmage commented on #448
Yeah - that is what I was thinking, but you raise a good point about that being an odd side-effect. If you have a different idea, this is the place to share.

I think maybe `--no-babel` works in that scenario. My only concern is that leaves everyone else out in the cold when it comes to our caching and "transpile in the main thread" performance enhancements.

If anyone's got a list of alternative

[2016-01-18 15:36] davej opened #452 "Make tests return a promise"
Apologies if this a dupe, I did my best to search existing issues.

I realise that test.serial() is available but this could be a nice alternative because it makes test dependencies more explicit:

[code]

[2016-01-18 16:37] ariporad commented on #452
@sindresorhus: Thoughts?

[2016-01-18 17:10] sindresorhus commented on #452
:-1: I don't see how this is any improvement. It's both harder to read and more code.

And incorrect. It would have to be:

[code]

I think the serial tests are already plenty explicit about their dependencies. They're named serial tests and run serially in the order you specify them.

[2016-01-18 17:23] davej commented on #452
Do you mean the `return`? Arrow expressions automatically return so `return` is not needed.

Perhaps I didn't explain well, the major benefit is that the you can have tests that rely on other tests while still being run in parallel. For example:

[code]

In this example `title1` and `title3` are run at the same time. I'm not sure this is possible with serial tests? It's not really for performance

[2016-01-18 17:43] sindresorhus commented on #452
Ah, didn't notice that, but doing braceless arrow function for anything non-inline isn't very readable.

Ideally your tests should be atomic and not have a dependency on other tests. `test.serial` is mostly there to fill a small niche when you *have to* modify some global state or something can't handle the concurrency.

I would help if you presented a realistic scenario where your proposal would

[2016-01-18 18:11] davej commented on #452
Sometimes your lib has side-effects (e.g. writing to the file-system) and you want to test how your lib behaves after the side-effects because it's often a prime spot for edge-case bugs. It's perfectly possible to do it with `test.serial` (although you would lose concurrency), it's just that I find it's clearer to explicitly express the dependency.

Here's a real-world example form a module I just

[2016-01-18 19:56] vdemedes commented on #452
I'm not a fan of this change, tbh. And as a "bonus", it would break things in AVA core, like reporting number of tests beforehand. Serial tests already solve this issue, so this would also result in a duplicate functionality too.

[2016-01-18 20:11] jamestalmage commented on #452
I'm :-1: as well, for all the reasons discussed above.

[2016-01-18 20:11] #452 closed

[2016-01-19 07:34] #449 closed

[2016-01-19 07:54] jamestalmage commented on #441
@thisconnect - which version of AVA are you on? The last few have all included major performance boosts.

That is only necessary for async tests (if that is what you have, great!). If you have synchronous tests, just let them end synchronously.

That will have major performance implications, especially if your tests are truly asynchronous. The main way to realize faster tests with AVA is to embrac

[2016-01-19 10:04] MoOx opened #456 ""SyntaxError: Unexpected token u" when running a file"
Ava 0.9.x (can't use 0.10 atm, see https://github.com/sindresorhus/ava/pull/398#issuecomment-172386034)

I am running ava on a file and am getting probably a weird cache issue. First time is ok, a second time is not (when I run the same file without modified it).

[code]

If I add a new (blank) line in my file, and run again, tests passes. If I run again without modifing it, boom.

Here are is my

[2016-01-19 10:25] jamestalmage commented on #456
Can you put this in a repo I can clone and reproduce?

[2016-01-19 10:34] MoOx commented on #456
Sure, done.

[code]

To confirm, I am trying this too.

[2016-01-19 10:41] MoOx commented on #456
Well, the demo effect does not seems to work. Closing for now unless I can reproduce.

[2016-01-19 10:41] #456 closed

[2016-01-19 10:43] MoOx commented on #456
Ok I found the issue.
I removed the `.cache` folder and now I cannot reproduce neither in my previous workspace.

[2016-01-19 10:43] MoOx commented on #456
`node_modules/.cache/ava`

[2016-01-19 10:53] MoOx commented on #456
Unfortunately, I kept this cache folder to try to reproduce, but it seems I cannot anymore... Sorry :/

[2016-01-19 14:22] photonstorm opened #457 "Suggestions on testing image based output"
I'm happily using ava to test all of my core math and utility functions, but I'd really like to find a way to use it to check rendering as well. By this I mean comparing the likes of Canvas context output to a batch of stored PNGs (or worst case scenario comparing pngs, output by my test scripts, with saved 'correct' pngs stored locally).

Any thoughts at all on how to accomplish this (if it's eve

[2016-01-19 15:23] tomazzaman commented on #456
@MoOx I've had the same issue just now, turned out I was running the file directly with node (as opposed to with ava cli)

This works:
[code]

This doesnt (regardless of the fact it requires ava in the file):
[code]

See [the worker](https://github.com/sindresorhus/ava/blob/master/lib/test-worker.js#L2), it expects three params.

[2016-01-19 15:54] tomazzaman opened #458 "Can't use JSX in test files (but can in imported ones)"
Here's the test file I'm trying to run:

[code]
The command I'm using:
[code]
I get a syntax error on the line with JSX:
[code]

My `.babelrc`:
[code]

I've tried running the command with `babel-node`, but the result is the same.

Not sure what else to try (apart from avoiding JSX in tests all together)

[2016-01-19 16:17] vdemedes commented on #458
JSX is not yet supported in AVA's tests.

As a workaround, you can separate `<FieldError>` component in a separate file, which you can compile yourself via babel. Then, import the already compiled component and do something like:

[code]

[2016-01-19 16:18] tomazzaman commented on #458
Yep, that's what I'm doing now, here's a working test:
[code]