[2018-08-26 15:10] #1919 closed

[2018-08-26 15:14] novemberborn commented on #1918
Could you elaborate on what you're looking for beyond what AVA already supports? E.g. there is a timeout feature, but it's to help find inactivity in your test suite as a whole, not a particular test.

Are you looking for the timeout error to have feedback on how far pending tests managed to progress towards their execution plan? Or are you hoping to limit how long a particular tests is allowed to

[2018-08-26 15:17] novemberborn commented on #1917
What do you mean by "log"? `stdout` / `stderr`?

I think it may be less confusing if you use verbose mode, IIRC that always writes the separator. But maybe this makes sense for the default mode. It's just that the reporters are a bit of a mess.

[2018-08-26 15:47] novemberborn opened #1921 "Extended config should now be able to disable ava/stage-4"
Babel 7 RC2 fixes https://github.com/babel/babel/issues/7920. Previously, the `ava/stage-4` preset could only be disabled in AVA's `babel.testOptions.presets` configuration.

We need to [enable a test](https://github.com/avajs/ava/blob/539ee907450b874473b609402da6ff9fab0c0dd2/test/api.js#L951) and [update the documentation](https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#disable-ava

[2018-08-26 19:03] afoninsky commented on #1918
No, I'm looking for a way how can I ensure if plan executed OR timeout achieved _in particular test_. Sometimes (often, actually :) I have to test async code without clean interceptors or mocks. So I want to have something like:
[code]
Sure it is a dummy example, but I hope I was able to convey the idea.

[2018-08-27 08:30] Isikiyski opened #1922 "Is there an access for the "# tests passed" or "# tests failed" output on CLI?"
Hello,

A bit of context - I run several folders of AVA's tests in unix parallel processes.
So when a directory is successfull it will say for example 72 tests passed.
Right bellow it another test directory is also successful and it will say - 36 tests passed.

Question - how can I access this stdout msg # tests passed/failed.
I want it because I will make a simplle assertion which will take all p

[2018-08-27 08:33] sindresorhus commented on #1922
The default AVA output is not guaranteed to be stable. It's meant for humans. Check out the [`--tap` flag](https://github.com/avajs/ava#tap-reporter) instead, which generates machine-readable output.

[2018-08-27 08:33] #1922 closed

[2018-08-27 08:35] Sosomqk commented on #1922
Ok, thank you!

[2018-08-27 11:17] #1786 closed

[2018-08-27 11:28] novemberborn commented on #1918
Right, gotcha. AVA's timeout option isn't quite suitable for this.

You could partially get there by calling `t.fail()` after a timeout, but you'll have to detect whether you've reached the plan count yourself.

I think ideally we'd support this through https://github.com/avajs/ava/issues/1692, where you can use `Promise.race()` with a timeout promise, and fail the test if the assertions didn't co

[2018-08-27 11:28] #1918 closed

[2018-08-27 11:28] novemberborn commented on #1692
We should allow the test result to be discarded, perhaps without even waiting for the promise returned by `t.try()` to be fulfilled. Perhaps by adding a `discard()` method on the promise. This would allow calling code to manage timeouts, see https://github.com/avajs/ava/issues/1918#issuecomment-416196601.

[2018-08-27 12:05] novemberborn commented on #1899
Right! So, AVA installs `source-map-support` first. However this module only guards against repeated installations if the same version is used, see https://github.com/evanw/node-source-map-support/issues/200. `@babel/register` uses `^0.4.2` which selects `0.4.8`, whereas AVA uses `0.5.9`.

Consequently in the first scenario, `@babel/register` replaces AVA's installation, which means source maps fo

[2018-08-27 12:05] #1899 closed

[2018-08-27 12:08] novemberborn commented on #974
We currently have an inverse problem where `@babel/register` overrides AVA's `source-map-support`: https://github.com/avajs/ava/issues/1899#issuecomment-416204989.

Regardless I think this issue is the best long-term solution.

We'll have to advocate the same in case AVA is used with files that it didn't compile, so it won't know how to rewrite the call sites. It can't quite go look for source map

[2018-08-27 12:12] ronen commented on #1899
...yes this source map stuff seems like quite a messy tangle, housekeeping is a good idea :)

Thanks for looking into it and for the update.  I'll keep my eye on #974

[2018-08-27 12:19] novemberborn commented on #974
Oh latest `source-map-support` supports multiple source map retrievers: https://github.com/evanw/node-source-map-support/blob/595d533512ab294ce1fdca8501ad7a243173f723/source-map-support.js#L500

So if all tools would try to install the same version, things may actually work!

[2018-08-27 13:25] #1828 closed

[2018-08-27 15:09] novemberborn commented on #1906
I can't quite reproduce the behavior described in #1903 but the default output when AVA can't find test files (in the mini reporter) can definitely be approved. PR soon.

[2018-08-27 15:12] novemberborn commented on #1903
I couldn't quite reproduce this behavior, but https://github.com/avajs/ava/pull/1923 improves the output for the default reporter when there's files without tests.

[2018-08-27 17:34] jamiebuilds commented on #1917
I mean `console.log`, but I'm assuming AVA already has pipes of all the user's stdout/stderr and can detect if they wrote anything.

[2018-08-28 09:35] rhysburnie commented on #1903
I don't see how the import would make a difference, if its no longer `{ test }` then I would just get errors when i try to use tests, ava is simply not finding `*.test.js` files anywhere in my project.

I even throw an error in a `*.test.js` file and get nothing - surely if is was found there would be something in the console?

I see you have node >=8.9.4 listed in engines - which is what Im using

[2018-08-28 09:46] rhysburnie commented on #1903
update:

I updated ava and used `import test from 'ava'` and created a test at same level as package.json
[code]
That works... however it still doesn't reach any other tests for example in my src/ folder...

But according to your docs one of the patterns in the default globs is: `**/*.test.js` shouldnt that find `*.test.js` files in my src/ folder and any folder in my entire project?

[2018-08-28 10:56] #1906 closed

[2018-08-28 21:26] #1921 closed

[2018-08-29 18:54] gajus commented on #1916
@novemberborn Whats the release plan now that Babel v7 is out?

[2018-08-31 04:32] run27017 opened #1926 "deepEqual consider the order of `Map`s and `Set`s"
## Description

Though ava consider maps and sets with different order keys are not the same thing, I think it is not  reasonable. Isn't `new Set([1, 2, 3])` and `new Set([3, 2, 1]` the same thing?

### Test Source

[code]

### Error Message & Stack Trace

[code]

[2018-08-31 08:15] novemberborn commented on #1926
We're erring on the side of caution here. Sets do have an order. I don't want users to write an assertion which they think tests an expected order, and passes, even though the actual order did not match their expectations. If the order is truly insignificant there are still other ways to set up your assertions.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation goi

[2018-08-31 08:15] #1926 closed

[2018-09-01 22:47] revelt commented on #1908
To add my 2p, I never expected ava to transpile my imported files in addition to my test files and documentation told that somewhere. @chrisdothtml you're a rare case :)

Personally I found the ava's [recipe](https://github.com/avajs/ava/blob/master/docs/recipes/es-modules.md) about bypassing the ESM transpiling a little outdated (talking about Node 8) and a bit hit-and-miss in general. Things are

[2018-09-02 17:13] novemberborn commented on #1917
Yea, makes sense.

I tried to figure out how this stuff currently works and I couldn't in a reasonable amount of time. Will add the appropriate labels and leave this open, but it may be something to be done as part of #1776.

[2018-09-02 23:09] rhysburnie commented on #1903
Hi it must be that it is in the project helpers/ directory.

However, it was working with files in the helpers/ directory fine.
Is there ways around that? The exisiting project already had a `src/helpers/` directory

Even if its because helpers/ is ignored why did it work previously? I made no changes and they have always been in helpers

[2018-09-03 08:13] novemberborn commented on #1903
Not at the moment, but I've been considering a stop-gap measure to at least make the helper matching configurable.

I'm curious about that, too. Is it just the test files in `src/helpers` that aren't working, or are there other files as well? Could you share some example file paths?

[2018-09-03 17:17] havenchyk commented on #1903
@novemberborn I have the same problem - my directory is `/dest/blabal/blabla/helpers/filename.js` and this folder just skipped even if I specify `files` section at config to check exactly this `helpers` folder. So the problem is in `helpers` pattern.

Can I help you somehow?

[2018-09-04 08:12] novemberborn commented on #1903
@havenchyk yea, sorry about that. #909 is the issue to track. As I mentioned above I've been wanting a way to change the glob patterns for helpers (including so you can disable it). This is part of a larger, complicated story with many trade-offs… which I haven't had time to properly summarize. Thanks for the offer though, perhaps keep an eye on the [globbing issues](https://github.com/avajs/ava/l

[2018-09-05 09:28] rinu commented on #1690
I'm using ava beta 8 and still getting that SyntaxError. I tried adding `babel-plugin-syntax-object-rest-spread` as well, still nothing.
I'm trying to add unit tests to a project that uses spread syntax all over the place. Apart from this limitation, ava is the first thing that actually works.

[2018-09-05 09:32] novemberborn commented on #1690
@rinu it sounds like you're using spread syntax in your source files? AVA [does not compile sources out of the box](https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#compile-sources), so if you're running on a Node.js version that doesn't support this syntax then it won't work.

It does work in test files, because we do compile those.

[2018-09-05 09:53] rinu commented on #1690
I was following a badly out of date example project (https://github.com/eddyerburgh/vue-test-utils-ava-example) which I think does attempt to compile sources as well. Anyway, thanks @novemberborn for getting me on the right track!

[2018-09-05 17:27] szmarczak opened #1928 "Throw an error on `t.plan(1)`"
The required amount of tests is `1`.
`t.plan(n)` changes that. But `t.plan(1)` changes `1` to `1`, so it's useless.
AVA should throw on `t.plan(1)`, because it always throws when no assertion is done.

[2018-09-06 08:26] novemberborn commented on #1928
Plan also sets a maximum number of assertions. If the test ends and you've exceeded that maximum, the test will fail.

AVA can be configured not to throw, for users who don't use the built-in assertions (see the `failWithoutAssertions` option).

In conclusion `t.plan(1)` does have additional value over AVA's default behavior.

(I'm closing this issue for housekeeping purposes, but let's keep the c

[2018-09-06 08:26] #1928 closed

[2018-09-06 14:44] revelt opened #1929 "docs: document the --reset-cache flag"
## Description

PR https://github.com/avajs/ava/pull/1796 added the `--reset-cache` flag, so let's document it in readme!

[2018-09-06 21:47] alanshaw opened #1930 "Cannot disable AVAs babel pipeline"
https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#disable-avas-babel-pipeline

I get:

  ✖ Unexpected Babel configuration for AVA. See https://github.com/avajs/ava#es2017-support for allowed values.

[2018-09-06 21:52] alanshaw commented on #1930
Apologies - this works in 1.0 beta

[2018-09-06 21:52] #1930 closed

[2018-09-07 13:53] ericmorand commented on #1903
@novemberborn, out of curiosity, what is the reasoning that led to `helpers` folder being excluded?

[2018-09-07 19:15] Lukenickerson opened #1931 "When using an async function in `t.throws()`, receive errors: "Function returned: Promise {}" and "Unhandled rejection""
## Description

In `1.0.0-beta.8` (with no special configuration or command line arguments) I'm seeing an error with essentially the same function that was posted in #1371.

### Test Source

[code]

### Error Message & Stack Trace

Message returned from running the test says something like:

## Environment

Node.js v10.9.0
darwin 17.6.0
AVA 1.0.0-beta.8
npm 6.2.0

[2018-09-09 14:44] novemberborn opened #1932 "Provide useful feedback when using t.throws() with async functions"
As of [1.0.0 beta 7](https://github.com/avajs/ava/releases/tag/v1.0.0-beta.7), `t.throws()` only works with synchronous functions. We should detect when it's used with a promise and provide useful feedback. I also think we should add a no-op `.catch()` handler to the promise to prevent AVA from logging an unhandled rejection.

See: https://github.com/avajs/ava/blob/bfe16300e07c12a1bad2e4f02898b1e7

[2018-09-09 14:45] novemberborn commented on #1931
Ah sorry about that. As of [Beta 7](https://github.com/avajs/ava/releases/tag/v1.0.0-beta.7), `t.throws()` only works for synchronous errors. You'll need to change your test to use `t.throwsAsync()`.

However we should provide better feedback in the test output. I've opened #1932 with some pointers.

[2018-09-09 14:45] #1931 closed

[2018-09-09 14:46] novemberborn commented on #1903
@ericmorand it's supposed to make it easier to group them in say `test/helpers`, but the current pattern is too aggressive and we haven't yet tackled that problem.

[2018-09-09 14:53] novemberborn commented on #1929
Yea that's an oversight. It's documented in the [Babel recipe](https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#reset-avas-cache) but we should document it in the main README as well.

[2018-09-10 08:52] norbertkeri commented on #1372
Is this going to be fixed before 1.0? I'm evaluating whether to use ava for a new project, it's a bit uncomfortable to to manually edit failing tests to see the stack traces.

[2018-09-10 14:59] Akiyamka commented on #1930
Still not work for me.

node -v
```10.6.0```

**ava.config.js**
[code]
npx ava --reset-cache
[code]
test.js
[code]
Crush with error
[code]

[2018-09-11 06:19] Akiyamka commented on #1930
[code]
In every test file help temporary fix this error, bot not fix problem. I still want to turn off the babel, since async/await works great in node 10 without babel

[2018-09-11 08:17] novemberborn commented on #1372
@norbertkeri it's not on the priority list, no. That said the aforementioned refactor has landed so if you'd like to help out with a PR, we can get it in 😉

[2018-09-11 13:06] ryanelian opened #1933 "Update debug package to version 4.0.0"
## Description

I am getting warnings in my CI due to updated debug package:

- https://github.com/visionmedia/debug/issues/603#issuecomment-420237335

- https://github.com/visionmedia/debug/releases/tag/4.0.0

### Test Source

`npm install`

### Error Message & Stack Trace

[code]

### Config

Not applicable.

### Command-Line Arguments

Not applicable.

## Relevant Links

On the descriptions sec

[2018-09-11 15:14] wmik commented on #1903
I'm also experiencing a similar issue while trying to setup testing with
- ***ava*** `v0.25.0`
- ***ts-node*** `v7.0.1`
- ***typescript*** `v3.0.3`

on a 64-bit windows 10 machine running working from **WSL**.

The error message is exactly the same and attempting to specify files like so `npm test src/app.test.ts`  or `ava src/app.test.ts` doesn't change anything.

Currently I've resolved to build

[2018-09-12 07:46] Akiyamka commented on #1930
@nonnontrivial you right, this really solved the problem. I was confused by the examples in the documentation, and ava did not report an error (usually trow error about invalid options in config)

[2018-09-12 14:01] iamstarkov opened #1934 "feature request: ava configs' factory function promise support."
## Description

vs

I propose to add support for a promise from a factory function, because in my case i need to look around the environment I am going to run tests for and read some files. I can use synchronous versions of fs module, but it is contrary to node's guidelines and Ava's spirit.

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

N/A, see above.

### Command

[2018-09-13 08:01] goooseman commented on #1819
I'm working with ava and typescript using following config:

[code]

And just launch ava from ava binary (`npx ava`) works great.
`npx ava test/app.spec.ts` - works ok.
But when I launch it through `profile.js`, it does not work:
`node node_modules/ava/profile.js test/app.spec.ts`
Outputs:
[code]

[2018-09-13 08:10] novemberborn commented on #1934
Yup, we can do that. The restriction was added to reduce the complexity of adding this feature in the first place.

We'll have to make `lib/cli` work asynchronously:

https://github.com/avajs/ava/blob/bfe16300e07c12a1bad2e4f02898b1e7486daf70/lib/cli.js#L24

We'll also need to figure out how to make this work in our ESLint plugin:

https://github.com/avajs/eslint-plugin-ava/blob/6bb239fe1cd97fd6713

[2018-09-13 08:12] novemberborn commented on #1819
@goooseman yes, that's what this issue is about. Would you be able to help us fix it?

Or, perhaps, implement a proper debug mode? https://github.com/avajs/ava/issues/1505

[2018-09-13 08:12] novemberborn commented on #1505
Have folks seen https://github.com/GoogleChromeLabs/ndb? Would be great to make AVA work with that out of the box.

[2018-09-13 10:08] run27017 opened #1935 "'Cannot read property \'substring\' of undefined'"
## Description

Just a simple test, compare two strings.

### Test Source

[code]

### Error Message & Stack Trace

[code]

## Relevant Links

- If your project is public, link to the repo so we can investigate directly.
- **BONUS POINTS:** Create a [minimal reproduction](http://stackoverflow.com/help/mcve) and upload it to GitHub. This will get you the fastest support.

## Environment

- node: `N

[2018-09-13 10:53] goooseman commented on #1819
@novemberborn wrote a little PR to fix that

[2018-09-13 12:27] piercus commented on #1532
@novemberborn I would need to run tests in a specific order.

Reason is : I'm tracking an issue, which is occuring sometimes (but not every time) when running my test suite with ava.

I think it might be related to the order of test, like a test run A is corrupting another test run B.

Problem is : i have 37 tests and even if i know test B (because it is failing) it is very hard to track test run

[2018-09-13 15:33] robertbernardbrown commented on #1929
I can pick this up. Correct me if I'm wrong, but from reading the Babel Recipe and the mentioned PR it looks like `--reset-flag` should only be used when Babel config files are changed. Otherwise, AVA automatically detects changes to test files and recaches them. Is this more or less correct?

[2018-09-13 15:36] revelt commented on #1929
@robertbernardbrown Robert, feel free to pick it up, I'm too busy atm

[2018-09-13 16:39] robertbernardbrown commented on #1929
Cool - just submitted a PR (#1937 ).

Let me know if you see anything that needs changing. Hope it's alright I re-used a little of the explanations offered in the #1796 and the referenced Babel Recipe.

[2018-09-15 16:27] novemberborn commented on #1532
@piercus the order within a test file is currently fixed, though asynchronous tests may complete in a different order based on the async APIs they're relying on.

The order by which test files run is not currently randomized, but we don't guarantee any particular order either.

#595 proposes we randomize the order, which as you found requires a way to *reproduce* that order, too. So ironically tha

[2018-09-15 16:33] #1929 closed

[2018-09-15 16:54] novemberborn commented on #1935
Wow that's unexpected! I've opened an issue in the underlying library: https://github.com/concordancejs/concordance/issues/44.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-09-15 16:54] #1935 closed

[2018-09-15 17:15] #1819 closed

[2018-09-15 17:27] novemberborn commented on #583
#1886 implements this for timeouts, in the `--verbose` logger.

We still want to implement this for when the process is interrupted ("killed"), and in the default mini reporter too.

Thank you @vancouverwill for getting us this far!

[2018-09-15 22:49] amslv commented on #1666
Hey, @novemberborn, I'd like to work on this task

[2018-09-16 13:34] novemberborn commented on #1666
@amslv awesome, thanks!

Since this issue was opened, we added support for `ava.config.js` files. We need to make sure the arguments can be stringified as JSON and then parsed in the worker processes.

We could do the stringifying and the parsing in the main process first, and then use our "deep equal" logic to make sure the values are the same: https://github.com/avajs/ava/blob/6d12abfdff4478a1b6

[2018-09-16 16:24] novemberborn opened #1938 "Support BigInt; update Concordance"
See https://github.com/concordancejs/concordance/issues/42.

The Concordance update will require snapshots to be regenerated. Hopefully we can do this as part of the 1.0 release.

[2018-09-17 13:06] iamstarkov commented on #1934
sounds good

[2018-09-17 16:32] sindresorhus commented on #1825
I for one would love to have a simple stubbing solution built-in. I find libraries like Sinon, while great, a bit too much and hard to use. The downside is that it's difficult to maintain a good stubbing library. There are lots of edge-cases to handle and I don't think we have the resources to handle that. We definitely should improve the extensibility of AVA though, making it super easy to integr

[2018-09-18 02:41] mellster2012 commented on #1908
Agreed. Really like ava, but when trying to bypass transpiling (node.js v8+) none of the recipes and answers really worked here, only a "mix-and-match" combo. In the (eventually) working solution test and source files (using es6 import/export) have to have the .mjs extension, esm must be installed as part of the dev-dependencies, no ava config file or .babelrc file is present, the ava config in pa

[2018-09-18 12:34] iamstarkov opened #1939 "faulty assertion for React component with React.Fragment causes concordance to crash"
## Description

### Test Source

This one works correctly

[code]

this one does not work correctly:

[code]

and causes concordance to crash because it tries to concatenate string with Symbol.

### Error Message & Stack Trace

[code]

### Config

N/A

### Command-Line Arguments

N/A

## Environment

[code]

[2018-09-18 12:39] novemberborn commented on #1939
Which React version is this?

[2018-09-18 12:40] iamstarkov commented on #1939
I think I have a fix

[2018-09-18 12:41] novemberborn commented on #1939
Looks like the name is now a symbol, rather than a string. Should be fixable in `@concordance/react`.

[2018-09-18 12:42] iamstarkov commented on #1939
is it good enough fix?

[2018-09-18 12:43] iamstarkov commented on #1939
it will work for all versions of react with Fragment

[2018-09-18 12:44] novemberborn commented on #1939
We should fix this at the call site: https://github.com/concordancejs/react/blob/7f8101f6f67fd03249af28828b16e69e9d914b60/lib/elementFactory.js#L109

Assuming the symbol is registered, we could detect it and then use `React.Fragment` as the name. But there should be a fallback for other symbols.

[2018-09-18 12:54] iamstarkov commented on #1939
well, Im sorry. you lost me on registered symbol.

But I still think it will be a good idea to defend lib/formatUtils.js@wrap against non string instances. What do you think?

[2018-09-18 13:01] novemberborn commented on #1939
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/for.

No, consider it typed as taking `value` as a string. The problem is in `@concordance/react`. I'd been meaning to take a look at that. There's a flurry of Concordance activity all of a sudden! 😀

[2018-09-18 19:20] iamstarkov commented on #1939
I looked into it for quite some time and cant figure out how to do it =(

[2018-09-19 01:29] grant37 commented on #1932
I'd like to work on this if that's alright. Messing around locally and trying to follow the guidelines here I had success (I think) with:
1. Checking if the `fn` argument to `throws()` returns a promise (and adding the no-op catch here)
2. If it does, calling `fail()` like it's called on line 314 with a message about asynch functions
3. Wrapping all this in a try/catch (no-op) because I got errors

[2018-09-19 08:35] novemberborn commented on #1932
@grant37 sounds like you're nearly there! Please make the PR and we can get it in.

[2018-09-22 14:31] dashuser33 commented on #1692
I arrived at this issue searching for a way to retry assertions until they succeed, similar to how Scala Specs2 does it https://github.com/etorreborre/specs2/blob/master/tests/src/test/scala/org/specs2/matcher/EventuallyMatchersSpec.scala

in pseudo-code:

[code]

In spec2, by default it retries 40 times with a delay of 100ms, but both a configurable. One example of where this is interesting. This

[2018-09-22 20:36] dashuser33 commented on #1692
To help anyone wanting the same feature, here is how I implemented it:

[code]

[2018-09-23 17:08] novemberborn commented on #1939
This should be fixed with https://github.com/concordancejs/react/pull/14.

I have one more PR that needs to land in `concordance` itself, and then I need to do the upgrade dance to get these changes into AVA itself.

[2018-09-25 11:11] ToniChaz commented on #1690
Hi @novemberborn I have tha same problem with ava@1.0.0-beta.8 and Node@10.3.0

![screen shot 2018-09-25 at 13 09 18](https://user-images.githubusercontent.com/3285048/46010861-637c1780-c0c4-11e8-9628-c3ac9ee3620a.png)
![screen shot 2018-09-25 at 13 06 28](https://user-images.githubusercontent.com/3285048/46010870-6a0a8f00-c0c4-11e8-8167-319b532bb873.png)

¿Any solution?

[2018-09-25 12:13] novemberborn commented on #1690
@ToniChaz given that the error is coming from `babylon` this seems to be a problem with your precompiler setup, not AVA.

[2018-09-27 21:18] sgnl commented on #643
I ran into this and it was because in the `README.md` it has the line `"require": ['esm'],` so I added that to my configuration file even though the readme didn't say anything about adding that line, I just assumed and did so.

/avajs/ava/6d12abfdff4478a1b6f4e87237764b89eb05f18d/readme.md#L308

removing this line now removes the "Tests not found in [file path here]" error and ava correctly sees my

[2018-09-30 13:33] Christilut commented on #1903
Same problem here but with beta 8
ava: `1.0.0-beta.8`
ts-node: `7.0.1`
typescript: `3.0.3`

Says `Couldn't find any files to test` regardless of the files pattern.

tsconfig:
[code]

ava.config.js:
[code]

[2018-09-30 13:41] havenchyk commented on #1903
`helpers` are filtered out by default, consider another name of the folder. Maybe also try another pattern like `tests/*.test.ts`

[2018-09-30 14:04] Christilut commented on #1903
My `helpers` folder doesn't include any tests, that should't prevent ava from finding my test files right?

`tests/*.test.ts` didn't find anything either.

But it seems like it runs the compiled files in `dist/` automatically (I noticed because they were leftover files from my old compiling typescript method of running the tests).

If I delete `dist/` then it won't find any files to test. The only

[2018-09-30 15:44] wmik commented on #1903
@Christilut
Try putting the ava configuration object at the top level in the ava.config.js
[code]

[2018-09-30 15:55] #1905 closed

[2018-09-30 15:58] novemberborn commented on #1939
@iamstarkov the necessary changes are landing in #1942.

[2018-09-30 16:11] Christilut commented on #1903
Ah thanks! Missed that during the upgrade :)

[2018-09-30 16:19] novemberborn opened #1943 "Ensure ava.config.js export does not contain an "ava" property"
`ava.config.js` files should include the AVA configuration, without wrapping it inside an AVA field. In other words, this is wrong:

[code]

To prevent confusion, we should check if the configuration has an `ava` key and throw an error.

I realize the documentation is confusing, since we're not consistent in whether we're showing a partial `package.json`, but this will at least help nudge in the r

[2018-09-30 16:23] Christilut opened #1944 "Error: All tests and hooks must be declared synchronously in your test file, and cannot be nested within other tests or hooks."
After the upgrade from `0.25.0` to `1.0.0-beta8` I'm getting this error because I have a `before` and `after.always` hook in a helper file:

[code]

But I'm getting this error `Error: All tests and hooks must be declared synchronously in your test file, and cannot be nested within other tests or hooks.` now.
I used to import the above helper file in every test file.

I'm wondering what the proper

[2018-09-30 16:28] novemberborn commented on #1944
Could you give more context on how you're using this helper file? Are you putting it in the `require` config? Or importing from a test file?

As long as you import the helper file, from the test file, it should still work. (Unless this is wrapped in a function which you're calling asynchronously.)

However I think you're implying an expectation that these hooks were only run once per test run. Tha

[2018-09-30 16:28] #1944 closed

[2018-09-30 16:36] #1938 closed

[2018-09-30 17:30] #1932 closed

[2018-10-01 10:16] iamstarkov commented on #1939
@novemberborn nice

[2018-10-01 11:30] novemberborn commented on #1944
No. But then ideally your test files are independent of each other, so that shouldn't matter.

[2018-10-01 11:54] Christilut commented on #1944
I agree but in this case I want all my tests to run simultaneously on the
same database since the real world database should handle similar scenarios.
But I can achieve that result by just running the tests on a local
database.

On Mon, 1 Oct 2018, 13:30 Mark Wubben, <notifications@github.com> wrote:

[2018-10-01 15:28] NickHeiner commented on #1565
I would also like to be able to specify timeouts in code. I would like to enforce that a test file is run with a timeout, instead of relying on the scripts running the file to know to pass the `--timeout` flag.

[2018-10-01 17:36] wildaces215 commented on #161
Where can I start writing tests for ava it seems like a good place to start contributing to open source software!

[2018-10-02 08:18] novemberborn commented on #161
@wildaces215 you can browse our current code coverage at https://codecov.io/gh/avajs/ava. Look for a file that has little coverage, try and figure out what it does, and see if you can write a test that extends the coverage.

We'd be interested in covering larger pieces of logic rather than small edge cases.

[2018-10-05 18:58] krisnye commented on #1505
This feature is really a necessity. When launched with --inspect it should run tests one at a time and break on the first debugger statement.

[2018-10-06 15:13] mh81 commented on #1730
I have some free time this weekend, I'd be happy to build on @Seiyial's work in his PR and update it with @novemberborn's PR feedback.  Any objection?

[2018-10-07 15:12] novemberborn commented on #1505
@krisnye I agree! Would you like to help us make it a reality?

[2018-10-07 15:18] novemberborn commented on #1767
Now that Babel 7 is out, I think we can assume people are upgrading. We probably shouldn't be making our documentation more complicated by covering Babel 6.

[2018-10-07 15:18] #1767 closed

[2018-10-07 15:19] novemberborn commented on #1730
Go for it @mh81. If you could retain @Seiyial's commits that'd be great.

[2018-10-08 06:05] krisnye commented on #1505
Maybe, you'll take a pull request with it?

[2018-10-08 17:06] danny-andrews commented on #1816
Just for clarification, does ava currently support `babel.config.js`? i.e., is this simply a documentation/test issue?

[2018-10-08 21:12] kevva commented on #1816
Yes, if you add the following to your `ava` config:

[code]

[2018-10-09 08:31] novemberborn commented on #1816
We need to auto-detect it though, like we do `.babelrc` files. That's not implemented yet. We also need tests for that implementation, including what happens when both files are present.

Then, I'd like to update our documentation to use `babel.config.js` rather than `.babelrc`.

[2018-10-09 09:34] kevva commented on #1816
@novemberborn, wouldn't just providing `configFile: true` in `defaultOptions` work? Then it'd fallback to Babels own behaviour. And yeah, needs some tests too.

[2018-10-09 09:43] novemberborn commented on #1816
@kevva yup, I just didn't want to do that without having tests and an understanding of how it all behaves.

[2018-10-10 09:27] motin commented on #1565
Quick note: The proposed workaround does not work when testing observables, but using [the timeout operator](https://www.learnrxjs.io/operators/utility/timeout.html) works fine.

[2018-10-10 13:50] jamiebuilds commented on #1873
I had started on an implementation somewhere but if you're wanting to grab it feel free

[2018-10-10 13:56] havenchyk commented on #1873
No-no, it will take ages for me to implement this @jamiebuilds

I just found this idea very cool and useful and I wanted to check was there any activity after the last comment at this issue

[2018-10-12 16:41] nkint opened #1951 "Typescript with module resolution "esnext" not working"
Hi!
I'm new to AVA but I like to use it with typescript.
I really like it so far but:

## Description

Seems to me that writing test in typescript is currently broken with `"module": "esnext",` in the tsconfig:

[code]

For the complete example you can see my example:
https://github.com/nkint/radial-label-placement

[code]

I need `"module": "esnext",` because of I'm using https://github.com/devel

[2018-10-13 06:17] mesqueeb opened #1952 "Beta 8: Importing Typescript files gives: default is not a function"
## Description

- Ava can handle most of my TS files imported into the AVA test files.
- Ava cannot handle when an imported TS file imports another module. I get the error that `~~.default is not a function`.

### My Ava test file
[code]
And that TS file has this line:
[code]
Merge anything is a public repo [available here](https://github.com/mesqueeb/merge-anything).

### Error Message & Stack Tr

[2018-10-13 06:32] mesqueeb opened #1953 "Mini reporter clobbers stdout"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/1953/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/1953)

Ava: "^1.0.0-beta.8",

I'm trying a simple wait function:
[code]
It will pass but not `console.log` anything after `_0`

[2018-10-13 12:35] novemberborn commented on #1951
TypeScript isn't transpiling ES Modules, and out of the box Node.js doesn't support ESM. I'd combine this with `esm`, see our recipe: https://github.com/avajs/ava/blob/master/docs/recipes/es-modules.md

Since you're not using Babel all you have to do is install `esm` and add it to the `require` config.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-10-13 12:35] #1951 closed

[2018-10-13 12:40] novemberborn commented on #1952
This looks like a runtime error coming from your compiled TypeScript. That's not something AVA is responsible for.

Looking at `merge-anything`, the "main" points at a CJS file, not an ESM file. I think you might have to use `import merge = require('merge-anything')` instead.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-10-13 12:40] #1952 closed

[2018-10-13 12:43] novemberborn commented on #1953
Works for me:

[code]

Note that AVA writes any `console` calls to `stderr`, not `stdout`.

What OS, shell and terminal app are you using?

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-10-13 13:07] #1939 closed

[2018-10-13 15:46] mesqueeb commented on #1952
@novemberborn however the weird thing is that other commonjs files are properly imported even with `import` in ava, just this one cjs file that gives me problems. : S

About your workaround: use `require` instead.
This is not possible because `import merge from 'merge-anything'` is happening in one of my source files. Not in the ava test file. In the source file it works perfectly like so, but imp

[2018-10-13 16:00] novemberborn commented on #1952
Babel isn't touching your test files though. Presumably they're being loaded by `ts-node/register`. You should be able to reproduce this outside of AVA.

[2018-10-13 16:18] mesqueeb commented on #1952
I don’t use babel yes. Only TypeScript.

[2018-10-13 16:42] #1943 closed

[2018-10-13 17:48] havenchyk commented on #1953
@mesqueeb it would be nice if you could create a repository that will reproduce the issue

[2018-10-14 02:03] mesqueeb commented on #1953
@novemberborn @havenchyk Trying to replicate this, I had moved it to a separate test file and it worked.
But when in the same test file as other tests this breaks.

After some tinkering I found it that AVA replaces my console logs with the name of the other test instead of what I wrote in the console log.
Look at this screenshot below: top is a test file with only wait, the second is a test file w

[2018-10-14 02:10] mesqueeb commented on #1952
@novemberborn
It's reproducable if you clone this:
https://github.com/mesqueeb/vuex-easy-firestore/tree/rewrite-tests
notice `tree/rewrite-tests`
Then just `yarn` and `yarn test ./test/utils/setDefaultvalues.js`

As you can see in the top two lines:
[code]
The first one is the TS file from src, the second one is the CJS file compiled by rollup which uses a typescript compiler plugin. No babel is u

[2018-10-14 11:50] Christilut opened #1957 "Power assert not working with TypeScript recipe"
## Description

Since I changed from ava-ts back to ava with better TypeScript support, power assert seems to have stopped working. See output below.

Same with objects or anything else.

I would expect that it prints the incorrect value (so `A.B.Tester` in this case) and if it's an object then the entire object or the diff.

### Test Source

[code]

### Error Message & Stack Trace
[code]

### Con

[2018-10-14 13:11] #1817 closed

[2018-10-14 13:14] novemberborn commented on #1816
`master` now supports `babel.config.js` files, but we still need to update the documentation.

[2018-10-14 14:13] novemberborn commented on #1953
Aha!

Here's a minimal reproduction:

[code]

With the default (mini) reporter:

[code]

With the verbose reporter:

[code]

The mini reporter gets tripped up by the console output. I think that may be a regression cause I distinctly remember testing for this. See <https://github.com/avajs/ava/blob/ff09749e936fb005155fff715b0325a0b02a36c1/lib/reporters/mini.js#L197:L216>.

Thanks for persisting, @

[2018-10-14 14:26] #1893 closed, assigned to novemberborn

[2018-10-14 15:08] #1933 closed

[2018-10-14 20:36] emilio-martinez commented on #1487
@ShinDarth I know it's been a while since the question was asked, but I updated SO with the Typescript setup I've been successful with: https://stackoverflow.com/a/52806849/2989405

[2018-10-15 08:38] novemberborn commented on #1957
I'm not quite sure how we'd combine the two. Perhaps something to revisit once we have more integrated TypeScript support.

[2018-10-15 12:03] Siilwyn commented on #1908
This would be delightful for smaller projects, the only reason I'm still choosing `tape` over `ava` is the 13 MB install size difference.

[2018-10-15 15:10] #1799 closed

[2018-10-15 20:42] sholladay commented on #1908
As long as it is a `devDependency`, the size won't affect your users except during development. Also, I'm willing to bet that if you do `npm ls ava`, you'll find it in your dependency tree already. So `npm` should be able to dedupe it and install only once.

[2018-10-15 21:00] Siilwyn commented on #1908
It does affect the developer experience though and `npm ls ava` certainly does not return in my dependency tree for most projects.

[2018-10-18 14:02] p1pchenk0 opened #1959 "inside ava test() nuxt.renderRoute('/') hangs forever"
## Environment
Node.js v10.9.0
win32 10.0.17134
npm v6.4.1
ava 0.25.0

## Description
In this reproduction there is one test file, which has "before" section, where we build Nuxt and listen to `http://localhost:4000`, but test never ends.

### Test Source
[code]

However, when I run such file without ava, all works fine:
[code]

[2018-10-18 14:08] p1pchenk0 commented on #1959
same is for `ava: 1.0.0-rc.1`

[2018-10-18 15:03] p1pchenk0 commented on #1959
reproduction link: https://github.com/p1pchenk0/nuxt-render-route-hangs

[2018-10-19 07:56] iamstarkov commented on #1806
@novemberborn how hard is it to support non-binary shapshots?

[2018-10-19 08:17] novemberborn commented on #1806
@iamstarkov why are you concerned about the format?

[2018-10-20 13:04] iamstarkov commented on #1806
@novemberborn it drives people away from Ava to jest in my company =(

[2018-10-20 18:18] novemberborn commented on #1806
@iamstarkov do you know what in particular they don’t like?

[2018-10-20 18:52] meherett commented on #1139
**reinstall node_modules**

[2018-10-21 12:55] novemberborn commented on #1959
It's odd. When you run the standalone script there's build output, but not when it's run through AVA. I think Nuxt is acting a little different, but I'm not sure why.

For instance, the port `4000` is definitely open but it's not responding even if I `curl` it directly.

If there's something wrong with the test environment we'd be happy to fix it. That said though, given what Nuxt is doing I'd rec

[2018-10-21 12:55] #1959 closed

[2018-10-21 20:09] peterr101 commented on #1399
Hi, I am new to open source, but I would like to contribute here if possible?

[2018-10-22 06:43] natzcam opened #1964 "Advice regarding indeterminate callbacks"
How best to approach this?

[code]

There is no guarantee which connect callback will be called first, but I need to assert that both got called. Promise.all could solve this but are there any alternatives?

[2018-10-22 07:31] havenchyk commented on #1964
@natzcam I don't know the answer except using `Promise.all`, but the best place for asking such questions is https://spectrum.chat/ava or stackoverflow.

Btw, if you could split this logic into 2 tests it would be easier to track/manipulate from the first sight.

[2018-10-22 08:18] novemberborn commented on #1399
Go for it, @peterr101!

[2018-10-22 08:20] novemberborn commented on #1964
You could also count how many `connect`s are still pending, decrement on each `connect` and within that callback if you hit zero, call `t.end()`.

None of this helps if a callback is invoked twice though.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-10-22 08:20] #1964 closed

[2018-10-22 08:21] novemberborn commented on #1964
You could also count how many `connect`s are still pending, decrement on each `connect` and within that callback if you hit zero, call `t.end()`.

None of this helps if a callback is invoked twice though.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-10-22 12:47] Isikiyski opened #1965 "Can AVA be integrated with Codeceptjs, Cypressjs or other similar frameworks?"
Hello,

I could not find this particular info on the web, but in a nutshell:

Can AVA be used with Cypressjs (https://www.cypress.io/) or  Codeceptjs(https://codecept.io/)

Thanks in advance!

[2018-10-22 12:49] havenchyk commented on #1965
Hey, @Isikiyski, the best place to ask such questions is https://spectrum.chat/ava or stackoverflow.

[2018-10-22 12:57] sindresorhus commented on #1964
You could also use [`p-event`](https://github.com/sindresorhus/p-event) for this:

[code]

[2018-10-23 01:55] natzcam commented on #1964
Tried above, but the test would not complete because connection is initiated on the constructor and `await pEvent(alice, 'connect');` would block new Bob(). Changing the order did not help either, because 'connect' might have been fired already.
[code]
Using Promise.all would solve it though, but it would circle back to my original question. :)
[code]
It would be nice, for callbacks, there is a 'c

[2018-10-23 07:51] rishavsharan commented on #1878
Hi folks.
I am from MS Azure DevOps and this issue is very interesting to us as well.
We would also love it if

-  Ava had native support for junit output via a config variable
-  Ava allowed us to set the test config via an environment variable like "AVA_OPTS" like pytest does. This will allow us to get xml output from every CI/CD project using Ava without the user having to update their config m

[2018-10-23 08:16] novemberborn commented on #1965
As long as you can import an npm library and drive your tests from a Node.js process, you can probably use AVA.

[2018-10-23 08:16] #1965 closed

[2018-10-23 08:19] novemberborn commented on #1964
I think that's functionality one could add atop of AVA once #1692 lands.

[2018-10-23 10:55] p1pchenk0 commented on #1959
@novemberborn is there any way to let ava know to wait for nuxt build? I suppose, it has to be done inside setup file

[2018-10-23 19:17] jamiebuilds commented on #1878
If AVA could output ZAP then you could easily write a tool to [convert it into JUnit XML or TAP](https://github.com/zaptst/zap/issues/10). But you couldn't do it the other way around (at least very well).

Every CI/CD service I've spoken to about this has been frustrated with the existing formats today.

If you want to contribute something better to the open source community I would suggest headin

[2018-10-24 08:21] rishavsharan commented on #1878
Hey Jamie
ZAP seems like a cool new format. Streaming real time results is something we are interested in as it enables the fast failing philosophy. I will be keeping an eye on ZAP and try to increase its visibility internally within my team.

But our focus is right now on serving the current developer need and for that being able to consume any-Unit XML is critical. Having Ava output the xml repo

[2018-10-24 09:34] jamiebuilds commented on #1878
Well I think you already have your answer from this issue then

[1] https://github.com/avajs/ava/issues/1878#issuecomment-407671294

[2018-10-24 23:49] nklayman opened #1967 "Test.each: easily test similar scenarios"
Add a function similar to jest's [test.each](https://jestjs.io/docs/en/api#testeachtable-name-fn-timeout). In my opinion it only needs to support arrays, not tables. This would make it much easier to test similar cases, and would be more readable and concise than a manual for loop or forEach.

[2018-10-25 07:00] rishavsharan commented on #1878
Oh, I did see @novemberborn 's reply and decided to contribute to this conversation by bringing in our perspective as a CI/CD platform.  👍

[2018-10-26 19:46] sarneeh opened #1968 "Ava is not using babel presets from ava config"
## Description
I've followed the latest [babel recipe](https://github.com/avajs/ava/blob/master/docs/recipes/babel.md) to configure `ava` in my project to use it with `React`. Unfortunately, specifying `babel` configuration via the `ava` property in `package.json` doesn't work. What's interesting is that using the same `babel` presets in `.babelrc` make `ava` work properly.

### Test Source

Subje

[2018-10-28 15:28] novemberborn commented on #1878
Hi @rishavsharan, thanks for chiming in. I can see the usefulness, however we won't support any output format that has lower fidelity than we (want to) achieve in our own logger.

We're open to supporting a [NDJSON-based format](http://ndjson.org/) that captures the richness of events we can (or want to be able to) output. I don't particularly care how much of a standard it is, or who standardizes

[2018-10-28 15:31] novemberborn commented on #1968
`@babel/register` doesn't consult AVA's configuration. You haven't configured how it should compile the source files. Thus you get a syntax error when you try to load a source file (through `@babel/register`). It doesn't get compiled so the JSX syntax ends up breaking it.

Using `.babelrc` or `babel.config.js` is the correct approach.

(I'm closing this issue for housekeeping purposes, but let's k

[2018-10-28 15:31] #1968 closed

[2018-10-29 02:52] iamstarkov commented on #1806
@novemberborn they are accustomed to jest snapshots and have routines based on text-based snapshots, so they are don't understand why Ava needs snapshots to be binary and quite unhappy about it

[2018-10-29 14:09] gajus opened #1971 "Add a way to run each test in an isolated environment"
Current documentation says that each test file is run in a separate Node.js process:

[code]

However, this implies that there is no isolation between tests in the same file.

This affects use of mocking modules such as `nock` that modify the global `http.request`.

I suggest adding an option for test-level isolation.

[2018-10-29 14:10] gajus commented on #1971
Just noticed:

https://github.com/avajs/ava/issues/421

[2018-10-29 14:10] #1971 closed

[2018-10-30 13:17] gajus opened #1972 "Inlining tests into the project"
Is there a downside to inlining tests into the project?

Suppose I have a `/src/utilities.js` project file, what would be a reason not to inline the tests?

[code]

Production build would not be affected (it is simple to strip all ava specific function calls and therefore tests).

I have a project with thousands of API integrations. Each integration has its own ad-hoc utilities. Creating a dedicat

[2018-11-01 01:54] makepost commented on #1972
Please do export utilities. What's worth testing is probably a functional unit others would like to reuse. Modules and IIFEs with inaccessible stuff inside are often a pain, when I need just some of their behavior but have to launch something with dependencies the size of my app simply to get a way to execute it.

Tests serve great as up-to-date usage examples, so it's convenient for a library end

[2018-11-01 09:17] novemberborn commented on #1972
@gajus that's an interesting approach for sure. I'd be careful to disable AVA's Babel transforms since they'll suddenly also impact your source code.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-11-01 09:17] #1972 closed

[2018-11-02 08:57] lili21 commented on #1829
any updates?

[2018-11-02 12:35] jackTheRipper opened #1973 "TypeScript: `paths` in `compilerOptions` not handled properly"
## Description

I am currently using Ava for running my test written in TS for my micro-services.

In my TS configuration, I am using the property `path` in `compilerOptions` for resolving some modules.

When running my unit-tests, Ava complains that it cannot find the modules I defined in the `paths`.

When `transpiling` and running my application, the paths are correctly resolved.

Please find b

[2018-11-03 16:48] novemberborn commented on #1973
With the above setup, `ts-node/register` is compiling your TypeScript files. I suppose it should compile `import * as config from '@config/common'` to `import * as config from '../configuration/common'` or something. Hard to say why it isn't, but I don't think this is related to AVA itself. You should be able to reproduce this in a separate script, e.g. `node -r ts-node/register repro.js` where `r

[2018-11-03 19:20] havenchyk commented on #1973
@novemberborn is right, the root cause of this problem is not in AVA itself, but in `ts-node` nature.

tl;dr TypeScript only "understands" aliases, but it doesn't convert them to what we would like to have (real path).

You certainly can run tests with aliases, but you will have to use another tool or script that will convert aliases to normal paths in your js code. I used [module-alias](https://w

[2018-11-03 20:11] stavalfi commented on #1787
Any progress?

[2018-11-04 09:46] erikkemperman commented on #1787
Sorry, this completely fell off my radar, and I am swamped for the time being. If this isn’t actually appearing to bother many, perhaps simply close the issue?

[2018-11-04 13:45] stavalfi commented on #1787
@novemberborn thanks, I will do that.

@erikkemperman it's a bug. Don't close this issue, Even when only a single person suffers from it.

[2018-11-05 13:57] coreyfarrell opened #1976 "Expose test file path within the test process"
## Description

I need the ability to save test artifacts similar to how `t.snapshot` creates `.md` and `.snap` files.  This requires knowing the filename of the actual test file being executed to be available - I assume via `t` but I'm open to any suggestions.  I tried finding what I needed though `process` but `process.argv[2]` is undefined.  Even if the test filename were available from `proces

[2018-11-06 10:16] coreyfarrell commented on #1976
Yes that seems like a better place for it to be.

[2018-11-11 13:14] #1816 closed

[2018-11-13 08:05] sholladay commented on #1976
Nothing new is needed here. You can already get the filepath of the test (or any other file being run in Node) using [`__filename`](https://nodejs.org/api/globals.html#globals_filename). This is way better since it's not AVA-specific.

[2018-11-13 08:35] sholladay commented on #1976
I see. I think I didn't catch onto that because you would also have to pass `t` to the helper, so it doesn't seem any better/worse in that regard.

Wouldn't `import { filePath } from 'ava` be tricky to implement since it has to be statically defined? Wouldn't it have to be `import('ava').then(({ filePath }) => { /* ... */ })`?

[2018-11-13 09:06] novemberborn commented on #1976
AVA loads the test file, so it can set that up in advance.

[2018-11-13 11:35] coreyfarrell commented on #1976
@sholladay I've submitted a patch for the functionality in #1977, was pretty straight forward.

[2018-11-14 18:56] ratiotile opened #1980 "Wrong line number shown for failing assert"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/1980/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/1980)

## Description
AVA reports the wrong line number on failing tests. It seems that sourcemaps aren't working, as the line number is greater than the size of the test file. When the line number falls within the source file, a snippet is displayed, but it does no

[2018-11-15 15:05] ratiotile commented on #1980
edit: updated with [minimal reproduction](https://github.com/ratiotile/ava-bug-1980)

[2018-11-16 08:43] lucaperret opened #1981 "Common module dependency cause TypeError"
## Description

Two module are using a method from the other one, it break only on AVA environment.

### Test Source

**src/a.ts**
[code]
**src/b.ts**
[code]
**test/a.ts**
[code]
### Error Message & Stack Trace

[code]

### Config

`ava.config.js`

[code]

### Command-Line Arguments

[code]

## Relevant Links

- Complete repository: https://github.com/lucaperret/ava-ts-test-fails
- Maybe the same

[2018-11-16 09:40] havenchyk commented on #1981
@lucaperret I just tried your example with circular dependencies and you know, after `tsc` node also complains about the same, so it's not a problem of ava.

[2018-11-16 09:45] havenchyk commented on #1981
@lucaperret maybe you could also provide your tsconfig?

[2018-11-16 10:29] lucaperret commented on #1981
Hi @havenchyk
Here's the `tsconfig.json`
[code]

[2018-11-16 11:50] havenchyk commented on #1981
@lucaperret so, I created a new project, put there a.ts, b.ts and index.ts, index.ts looks like

[code]

then I run `tsc` with your config and got

[code]
for index.js. I tried to run `node dist/index.js` and received this error

[code]

[2018-11-16 13:13] lucaperret commented on #1981
It happen on AVA, but not on building with `tsc`.
Here's the repository: https://github.com/lucaperret/ava-ts-test-fails

[2018-11-16 13:20] havenchyk commented on #1981
Thanks for the repo. @lucaperret, how to make sure it works? I do `npm i`, `npm run build`, `node ./dist/index.js` ->

[code]

and after `npx ts-node ./src/index.ts ` I got `a_1.default is not a function`

What're your results?

[2018-11-16 13:36] lucaperret commented on #1981
Also have this issue when running with node...

[2018-11-16 16:31] havenchyk commented on #1981
@lucaperret I think that the problem is with typescript that doesn't handle circular dependencies well.

[2018-11-16 17:18] lucaperret commented on #1981
Thanks for your help @havenchyk, I'll fix that by creating a module who exports both method.

[2018-11-16 17:18] #1981 closed

[2018-11-17 14:23] Christilut opened #1982 "sources ignored in ava.config.js"
## Description

I have added the `sources` section to `ava.config.js` as below but when I run this command:
[code]
The tests are not re-run when saving a file under the `server/` path.

However, when I add the `sources` parameter as CLI argument then it does work as expect:
[code]

And when I run without any argument then it the `sources` from `ava.config.js` does work:
[code]

So I guess when add

[2018-11-18 17:43] novemberborn commented on #1980
Could you try configuring `@babel/register` so it ignores the test files? See the last example in https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#compile-sources.

I suspect the double compilation may be causing trouble. Perhaps AVA loads its internal source map and the one from `@babel/register` is ignored. Or perhaps both `@babel/register` and AVA are trying to set up source map h

[2018-11-18 17:52] novemberborn commented on #1982
The `--sources` flag doesn't exist… Try setting the `DEBUG` environment variable so it logs the file changes: https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#debugging

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2018-11-18 17:52] #1982 closed

[2018-11-18 18:11] Christilut commented on #1982
Ah okay. I thought that all the options [here](https://github.com/avajs/ava/blob/master/docs/06-configuration.md) were both ava.config.js options and CLI options.

I think I was confused by this line: `Arguments passed to the CLI will always take precedence over the configuration in package.json.` which is followed by the ava.config.js options.

I'll use the debug flag and see why sources is ignor

[2018-11-18 20:34] StevenLiekens commented on #577
@novemberborn link is dead so I'm not sure where to look

[2018-11-18 23:36] RedHatter opened #1984 "Expose config object"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/1984/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/1984)

It would be useful for ava to expose the config object to the tests. For example I need to save some extra files with snapshots, it would be nice if I could pull the `snapshotDir` from the config.

[2018-11-19 00:44] RedHatter commented on #1984
My bad. You can get the config like so.

    import { get as getConfig } from 'ava/lib/worker/options.js';

    test('...', (t, page) => {
      getConfig();
      ...
    });

[2018-11-19 15:34] ratiotile commented on #1980
I followed the docs and tried to configure `@babel/register`
1. `ignore: ['src/test_*']` doesn't work
2. `ignore: ['src/test_parameter_convert.js']` works. Maybe wildcards are broken?
3. `ignore: [/src\/test_.*\.js/]` the ignore items must be regex.

Seems that the docs are wrong about how to configure `@babel/register`. Would you accept a PR on the docs?

[2018-11-20 07:17] jim-king-2000 commented on #1810
Hi @novemberborn , long time no see. Shall we let AVA run *.mjs without "esm" plug-in now? The "esm" plug-in can work, but the error reported by AVA is based to the transpiled code which is hard for us to find the true culprit in our source code.

[2018-11-20 09:31] novemberborn commented on #1980
That may need a file extension.

Always!

OK. It may be a little while until I have time to look into this further.

[2018-11-20 09:34] novemberborn commented on #1810
We won't support it directly while it's behind a flag, but I'd be happy to take PRs that allow AVA to opt-in to experimental Node.js features, if controlled through the appropriate flags.

[2018-11-20 13:47] jim-king-2000 commented on #1810
What bothers us mostly is the line of the errors reported by AVA is **NOT** the line in our source code. How can we (or AVA) circumvent this issue? Shall we add some more plug-ins (which I don't know) to "magically" map the transpiled line to the original line in the error reports? Or should AVA add an experimental flags like nodejs does (usage becomes this: `AVA ./test/*.mjs --experimental-module

[2018-11-21 04:02] NathanielHill opened #1986 "How to run related tests?"
Just trying out AVA instead of Jest in a new monorepo project. I am configuring testing to be run as a pre-commit hook using `husky` and `lint-staged`.

I've run into a problem getting the appropriate tests run by `ava` during a commit. Previously, I would use `lint-staged` which would pass the changed files as arguments to `jest` and using the `--findRelatedTests` flag, jest would run only the te

[2018-11-21 10:11] momocow commented on #1986
I have come up with 2 ideas worthy to have a try:
1. Filter those files from `lint-staged` whose filename is ended with `.test.js`.
2. How about trying `--match` flag provided by `ava` command, which can filter the title of tests?
  (FYI: https://github.com/avajs/ava/blob/master/docs/05-command-line.md#running-tests-with-matching-titles)

Don't blame me if not working ;)
I just happened to read th

[2018-11-21 11:19] havenchyk commented on #1986
Seems to be a feature request, what do you think @novemberborn?

[2018-11-21 14:09] NathanielHill commented on #1986
@momocow Thanks for the thoughts, I don't think either of those really work.

1) Using `lint-staged` I can specifically only apply actions to test files, but this means these actions are run when the test files themselves change, not the files the tests apply to. Not really what I need.
2) This might work, if I put the filename of the tests in each test. However, `lint-staged` is passing complete

[2018-11-21 14:11] NathanielHill commented on #1986
Doesn't seem too complicated. If given a list of test files and a list of staged files, all that needs to be done is determine which if any test files import from the staged file list (passed as command line arguments). My vote would be to keep/use the `files` config for the former list.

[2018-11-21 18:51] Druotic opened #1987 "How to really failFast?"
Is there a way to ensure exactly one test case runs at a time (globally) _and_ when a test fails, do not run any more tests? If not, is that something that would be viewed favorably if I were to open a PR? Thanks!

Context: v0.25.0 Recently, I noticed that `failFast` doesn't seem to behave quite like I expected. For some of our projects, we run the integration tests with `concurrency=1` and all te

[2018-11-21 18:57] havenchyk commented on #1987
@Druotic could you please try `ava@next`? I have the same case (integration tests with `serial: true`) and if one test fails, ava stops executing.

[2018-11-21 19:56] Druotic commented on #1987
@havenchyk Nice! `ava@next` worked like a charm, thanks! Looking forward to the next release 👍

[2018-11-21 19:56] #1987 closed

[2018-11-21 21:10] sramam opened #1988 "Feature Request: store human-readable snapshot files as .yaml/.json vs .md"
## Description
Using ava's snapshot capability, I have increasingly gravitated towards writing data-driven test cases.
The general pattern is:

[code]
This has been greatly simplifying to writing tests.

One nagging inconvenience, is the snapshot.md files.
Which by their nature have to store the "snapshot" as a string, irrespective of it's actual format.
In my case, the data can be voluminous, mak

[2018-11-23 14:33] bailer commented on #1806
To fill in for @iamstarkov: Coming from Jest, the feature I miss the most is the interactive mode that Jest has. It really makes updating one snapshot at a time a breeze though that has nothing to do with storing the snapshot as a binary.

Though a problem I found with binary snapshots is when you update a snapshot in two different branches which comes from the same origin branch. Git can diff and

[2018-11-25 17:15] novemberborn opened #1989 "Clarify that not all configuration options can be overridden by CLI flags"
[Prompted](https://github.com/avajs/ava/issues/1982#issuecomment-439713094) by @christilut, it's not entirely clear that not all configurations can be overridden by CLI flags. This line should be updated:

See https://github.com/avajs/ava/blob/master/docs/06-configuration.md.

[2018-11-25 17:16] novemberborn commented on #1984
You could… but that's an internal API and may break without warning.

Could you elaborate on your use case?

[2018-11-25 17:20] novemberborn commented on #1810
@jim-king-2000 this discussion may be relevant: https://github.com/avajs/ava/issues/1980

There's a lot of different tools interacting here. I don't fully understand what's going wrong either.

---

Again I'd be happy to find a way so you can configure experimental Node.js flags and have them apply to AVA's worker processes.

[2018-11-25 17:36] novemberborn commented on #1986
Yea AVA doesn't do this. Watch mode merely notes which source files are depended on my test files, and uses that to re-run specific test files.

It should be possible to do this outside of AVA by analyzing the dependency tree to select the test files to run. It'd be neat if AVA could do the same to prioritize which tests to run.

Would be great if somebody could spec out how this should work and w

[2018-11-25 17:47] novemberborn commented on #1988
This is too much of an edge-case for how we see snapshots being used, sorry.

It sounds like you may not need the readable files at all, given that the data is perhaps generated elsewhere. You could ignore those files from source control, you only need the `.snap` files committed for use in CI.

[2018-11-25 17:47] #1988 closed

[2018-11-25 17:53] novemberborn commented on #1806
That sounds like a nice feature to have!

Interesting. I haven't run into that but that's probably more due to the kind of projects I work on. A [custom merge driver](https://www.npmjs.com/package/npm-merge-driver) which re-runs the appropriate tests may be a solution.

How often do you run into this where the Markdown file also conflicts? Or, if you can recall, where Jest snapshot files had such

[2018-11-25 18:17] RedHatter commented on #1984
I'm building some until functions to create visual snapshots for regression testing. I need access to the config object so I can get the snapshotDir and whether ava was run with --update-snapshots

[2018-11-26 02:40] jim-king-2000 commented on #1810
Hi @novemberborn , I'm so sorry that I haven't made a minimal repro for the issue I reported. Now when I'm trying to do it, I find that it is not reproduced. So, it is almost perfect of AVA at this time. I'm still looking forward to the experimental flag(s), which would make it absolutely perfect.

[2018-11-26 09:38] novemberborn commented on #1984
https://github.com/avajs/ava/pull/1977 introduces a `meta` object we could hang this off. We should implement a memoizing getter for `snapshotDir` since it's takes a bunch of disk operations to compute.

I'm not sure what to do about the update flag. I can see the value in exposing it but I'm concerned it may prevent us from building interactive update UIs later. Though perhaps at that point we wo

[2018-11-26 09:39] novemberborn commented on #1989
There's some features that should just be configured once and for all, not constantly tweaked through CLI flags.

[2018-11-26 18:02] RedHatter commented on #1984
You could expose the raw command line arguments that were passed to ava. That way if you remove the `--update-snapshots` option from the snapshot work flow any test or functions that depend on it would still work. In addition it would have the added benefit of allowing me to specify `--update-visual-snapshots` if I want.

[2018-11-27 02:31] RedHatter opened #1990 "Dynamic import not supported"
When I try and use dynamic import in my source files ava throws `Error: Not supported`. I have `@babel/plugin-syntax-dynamic-import` enabled in my babelrc.

See minimal repo [here](https://github.com/RedHatter/ava-import).

[2018-11-30 08:38] FreddyFY commented on #1990
I don't know if it'll help you but I had a similar problem.
Changing`@babel/plugin-syntax-dynamic-import` to `dynamic-import-node` worked for me.

[2018-11-30 08:42] Siilwyn opened #1991 "Support pointfree notation with curried assertions?"
Would you consider currying ava assertions putting the data argument last with an additional export?

## Usage example
[code]

Instead of:
[code]

## Implementation outline
[code]

[2018-11-30 08:48] foxbunny commented on #1991
It probably won't be as simple as what you describe as it would need to support both binary and unary forms. It'll probably end up being not worth it. Partially applying `t.is` is probably simplest here:

[code]

[2018-11-30 08:57] Siilwyn commented on #1991
@foxbunny could you expand on what you mean with support for binary and unary? To clarify I wouldn't want variadic currying, by exporting it separately this won't be needed.

So never do this:
[code]

Because using the default export already offers a clean way to do this.

[2018-11-30 09:06] foxbunny commented on #1991
Oh, ok, I get what you mean. Still, there's an increased maintenance cost doing that where partial application is already available natively and can solve the issue. Of course, I'm not the maintainer, so it's not my problem. Just pointing it out.

[2018-11-30 09:18] Siilwyn commented on #1991
Yes thanks for the input! Maintenance cost is an understandable concern, in this case it means when changing or adding assertion (arguments) it would also need to be changed in the 'curry wrapper'. Though since ava is already quite mature I don't see this happen often.

Binding every assertion would be a solution but I'd rather not since it still adds 'noise' as much as passing the argument with a

[2018-11-30 10:02] foxbunny commented on #1991
Personally, I'd rather that ava developers have an easier time maintaining the library because that means it will be more stable for me. I'll trade stable for ergonomics every time, especially since this is a test framework -- it's supposed to be fool-proof. Why not just start a 3rd party project for the curried version?

[2018-11-30 12:10] Siilwyn commented on #1991
Having a 3rd party project would generate even more work, and as I said before this won't add much maintenance time. I understand that this adds complexity like any new feature, and like any new feature the authors can make the call if it is worth adding. It would be very nice to write tests in a functional style. I don't see how this affects the stability of ava.

[2018-11-30 19:12] #1990 closed

[2018-12-01 14:10] sholladay commented on #1989
This hasn't been a problem for me, but still seems like a strange limitation. Wouldn't it simplify the code to not special-case the configuration?

[2018-12-01 14:33] sholladay commented on #1986
Until there is a robust system to analyze the actual test and source files to figure out what to run, you could get 90% of the way there by using `sed` or `awk` in your pre-commit script. Conceptually, what you want to do is map the output of `lint-staged` and append `.test.js` to each of the filepths that it outputs. AVA will then run those tests. So if you change `foo.js`, it will run `foo.test.

[2018-12-03 20:00] novemberborn commented on #1984
AVA actually forwards all arguments after a `--`. So if you do `npx ava my.test.js -- --update-visual-snapshots` you could use that to control some custom snapshotting module.

[2018-12-03 20:05] novemberborn commented on #1991
I can see the utility, but I'm not sure about the actual use cases. @Siilwyn in your example you have promise code, which is better served with `async` / `await`. Assertions also take an optional final assertion message, which makes passing them to array functions impossible (since a number will be passed to the message, which if we're not already throwing on we *should* throw on).

[2018-12-03 20:07] #1989 closed

[2018-12-03 20:10] novemberborn commented on #1989
With say the `require` option, it makes it easier to know which files are required in which order. Specifying different types of glob patterns on the CLI can easily lead to confusion.

[2018-12-03 20:19] RedHatter commented on #1984
Ah, okay, was not aware of that.

[2018-12-04 17:11] Siilwyn commented on #1991
Ah okay, bummer but understandable. :)

[2018-12-04 19:31] Christilut opened #1994 "Searching documentation"
I kinda miss the old documentation style because I could search in everything very quickly. Now I can't do that anymore.

Maybe we can also have 1 file that merges all documentation for people who like to have one giant readme? Should make everyone happy!

[2018-12-05 10:55] Christilut commented on #1994
Thanks, but it's not quite the same

[2018-12-05 11:05] foxbunny commented on #1994
I agree it's not the same.

If the ava devs are fine with introducing some Python dependencies just for documentation, I could look into preparing a MR that ports the existing docs to [MkDocs](https://mkdocs.readthedocs.io/en/859/). It has the ability to create search indices that are strictly client-side, and a single command to publish on GH pages.

Themes can be customized to taste, although I

[2018-12-05 16:37] brokenseal commented on #1278
This is a fairly old thread and the other mentioned issues are inactive as well.

I am thinking of dumping ava in favor of some other tools because of this...

[2018-12-05 17:06] novemberborn commented on #1278
@brokenseal could you give some examples of how this is making you regret using AVA?

[2018-12-05 17:13] brokenseal commented on #1278
Of course, I am using a couple of `test.ok(objA.name === objB.name)`, of course it fails but I will never know what `objA.name` and `objB.name` values are because the representation, in the terminal, of those two objects is so humongous that it even exhausts the maximum lines terminal capacity, there I can't even scroll up enough.

For privacy reasons, I can't share a screenshot at the moment.

[2018-12-06 09:14] Christilut commented on #1994
That site looks nice but I don't feel that it works that well. Search is slow and doesn't work intuitively.

Personally I'd go either 1 giant markdown file or if you want something more fancy maybe Gitbook, which is free for open source anyway.

[2018-12-06 09:34] foxbunny commented on #1994
I've just checked the MkDocs site, the search doesn't work _at all_ for me. Though, I've set it up [for Imba](https://imba.github.io/imba-guide/search.html?q=variable) earlier, and the search is both quick and finds what you need.

[2018-12-06 21:44] sholladay opened #1995 "Errors thrown outside of tests have truncated message"
## Description

AVA is truncating multline error messages before displaying the error in the console when that error is thrown outside of a test (e.g. inside of a helper that is being imported). This doesn't seem to happen if the error is thrown in the test itself.

In the minimal example below, where AVA shows the source code lines with a hardcoded message, this may not seem like a big deal. But

[2018-12-08 17:13] novemberborn commented on #1995
I think that's due to this line:

https://github.com/avajs/ava/blob/eed2e7a9bc7a8bcdd6917206e6685feeda325e14/lib/serialize-error.js#L106

Errors that occur inside tests are probably treated as assertion errors, so they end up being serialized differently.

[2018-12-08 17:19] novemberborn commented on #1454
We've now split the docs into multiple files: https://github.com/avajs/ava/tree/master/docs

I'd like to keep the documentation in this repository, but then publish when `master` is built. Then we should also have a way to browse docs for multiple versions. Also, preferably, a free or low-cost option.

[2018-12-08 17:20] novemberborn commented on #1994
@Christilut agreed. We had to split the documentation since it was too hard to manage. I think we're ready for a site, though. Let's take the conversation to https://github.com/avajs/ava/issues/1454#issuecomment-445475088.

[2018-12-08 17:20] #1994 closed

[2018-12-10 05:20] AgentBurgundy commented on #1986
I'm new to this repository, so my solution is a little rough haha, but after reading what @sholladay said, I figured it would be simple to implement. I got it working by adding a flag to the cli

[code]

Which I later use in `cli.js` where the test files are normally assigned to a constant.\

[code]

Of course there are some issues here, we would probably want to pull the desired test suffix out o

[2018-12-12 16:38] TheeRFG commented on #1487
interesting! I know this is quite old, but thank you, I may look at this!

[2018-12-14 15:05] novemberborn commented on #1986
@AgentBurgundy you can already pass specific file paths to AVA, so you could do this without changing AVA itself.

[2018-12-14 17:50] Marsup opened #1997 "Timeouts shouldn't hide assertion failures"
## Prerequisites

I checked other issues and couldn't find something similar, although #1485 is slightly related and is genuinely both surprising and completely counter-intuitive to me, but I'm not going to start this debate again.

## Description

Test timeouts are hiding failed assertions.

### Test Source

[code]

### Error Message & Stack Trace

[code]

That's all there is, no trace of the ass

[2018-12-16 04:07] btkostner commented on #1109
It's worth mentioning that AVA 1.0 is now out :confetti_ball:. You can use typescript with [this recipe](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md#configuring-ava-to-compile-typescript-files-on-the-fly). I've been using it in production for a while now, and it works great. This issue can be closed.

[2018-12-16 04:15] btkostner commented on #1873
While not exactly the same, I noticed in the 1.0 release docs that you can now do helper setup functions. https://github.com/avajs/ava/blob/master/docs/recipes/puppeteer.md

[2018-12-16 19:45] pvdlg opened #1999 "Incompatibility between 1.0.0 and import-fresh"
I'm testing a module that keeps a state, so I need to import it fresh (bypassing `require` cache) for each test.
In `ava@0.25` I was doing the following:
[code]

However with `ava@1.0.1` the module in `t.context.m` is not imported fresh and contains the state set by other tests.

I tried different approaches to solve this issue, but unsuccessfully so far:

**Call `clear-module` in each test**

[co

[2018-12-17 00:26] pvdlg opened #2000 "Should `t.throws` allows tested function to throw non Errors?"
I'm writing tests for a library that uses [postcss](https://github.com/postcss/postcss). One of my test verifies that [CssSyntaxError](https://github.com/postcss/postcss/blob/84bbc4979f2c6c07cdfbbcb732419abc49b961b1/lib/css-syntax-error.es6#L33) is thrown.

With `ava@1.0.1` my test now fails with `Promise rejected with exception that is not an error: CssSyntaxError {...}`.

I think `postcss` shoul

[2018-12-17 01:09] sindresorhus commented on #2000
Duplicate of #1841

[2018-12-17 01:09] #2000 closed

[2018-12-17 01:13] pvdlg commented on #2000
#1841 was closed, so I opened this one. Does it means this won't be addressed?

Any workaround to suggest when your code depends on a library on which you don't have control that throws non Error object?

[2018-12-17 01:14] sindresorhus commented on #2000
So the end-result is that AVA encourages `postcss` to make `CssSyntaxError` an actual `Error`. That sounds like a win to me.

[2018-12-17 01:20] sindresorhus commented on #2000
We can continue to discuss it here. If we decide that it's worth doing something about it, we'll reopen this issue.

Fix the library? I realize it's not always that simple, but I also don't want to enable bad patterns in AVA and complicate the assertion method and typing definitions for such an edge-case anti-pattern that can actually be fixed in the offending library.

[2018-12-17 01:30] pvdlg commented on #2000
That makes sense and in the case of a popular and well maintained library like `postcss` it's definitely possible to fix. However it's not always the case. So it might worth it to includes an option in `ava` to avoid "punishing" ava user for something they are not really responsible for.

[2018-12-17 01:31] pvdlg commented on #2000
@ai this is this test: https://github.com/pvdlg/karma-postcss-preprocessor/blob/a6ce488420ed3e7a414cb27a7687039a384b4760/test/unit.test.js#L153

Let me know if you want a reduced test case.

[2018-12-17 01:32] ai commented on #2000
We removed `Error` from `CssSyntaxError` parents because of Babel error. I can try to add it back.

[2018-12-17 01:49] ai commented on #2000
Done https://github.com/postcss/postcss/commit/0586a53cfc6a92f538b27e2d5c83c8d3c3bb09fa

[2018-12-17 02:04] ai commented on #2000
Released in 7.0.7

[2018-12-17 02:04] pvdlg commented on #2000
Thanks a lot!

[2018-12-17 09:39] novemberborn commented on #1999
Based on the syntax you posted, I don't know why your tests would stop working.

Is the module you're importing declaring tests? Cause it sure looks like you're declaring everything synchronously.

Could you point me to the relevant code in, I presume, https://github.com/semantic-release/github/pull/143?

[2018-12-17 16:57] pvdlg commented on #1999
I encountered the problem with https://github.com/semantic-release/npm/blob/master/test/integration.test.js

Here is a reduced test case: https://gist.github.com/pvdlg/171b84eecd08b22da547c15c55a6163b

[2018-12-17 17:02] pvdlg commented on #1999
Analyzing a bit further I think it's related to the `cwd` set by AVA when calling `clearModule`.

See this other reduced case: https://gist.github.com/pvdlg/6bd01c2d66350e8bb2f25aba64ad8859

It's similar to the previous, but instead of having the `test.js` file in the `test` directory it's at the root of the project, so `clear-module` is called with `clearModule('.')`. In that scenario `clear-modu

[2018-12-17 17:46] pvdlg commented on #1999
With the second example, in the `clear-module` package, on [this line](https://github.com/sindresorhus/clear-module/blob/fe68245dd2f9accf5ab757c7649b3e41bdb38fe1/index.js#L11), callerPath():
- returns `<project_root>/test.js` in `ava@0.25.0`
- returns `<project_root>/node_modules/ava/lib/test.js` in `ava@1.0.1`

I can't figure out why though....

[2018-12-19 16:30] brokenseal commented on #1278
I understand, I'll see if I can try your advice out then.

[2018-12-20 15:18] zachleat commented on #1953
Just ran into this, thanks for the `--verbose` tip workaround!

[2018-12-21 14:55] Qix- commented on #1428
Issue hunt link is auth-walled :/ Any way to see it without associating it with my account?

[2018-12-21 16:42] Qix- commented on #1428
Edited the OP to mention https://nodejs.org/api/worker_threads.html.

[2018-12-24 13:44] leandrooriente commented on #1205
Guys, do you have any update regarding this request?

I'm facing the same issue.
If I use `t.is(resetBehaviour.calledOnce, false);` it outputs this:
[code]

But if i use `t.false(resetBehaviour.calledOnce)` it returns this huge output:

[code]

I'm using sinon spies and the log output is completely uselesss in this case.

[2018-12-25 16:30] sindresorhus commented on #1999
Turns out the logic in `caller-callsite` is pretty buggy in recent Node.js versions, although it used to work perfectly. That's what happens when you accidentally rely on implementation details...

I have done a new version of `clear-module` and `import-fresh` which both now works with your [test case](https://gist.github.com/pvdlg/6bd01c2d66350e8bb2f25aba64ad8859).

[2018-12-26 22:13] pvdlg commented on #1999
Thanks, that works!
I think we can close this issue then, unless you see a reason to keep it opened?

[2018-12-26 22:31] #1999 closed

[2018-12-30 21:00] GregRos opened #2004 "Calling t.true or t.false with spread operator causes "Unexpected token" error"
## Description

If you call `t.true` or `t.false` with a spread operator instead of specifying the arguments manually, and the assertion fails, you get the following error instead of the failure that should occur:

[code]

I assume this is because the magic assert gets confused when it sees the way in which `t.true` is called.

Other assertions don't have this problem.

### Test Source

[code]

##

[2019-01-02 01:45] alanosman opened #2006 "Question processing tests in order of filenames"
## Question or Feature Request
I'm not sure if this is the right place to post this question, but is there a way to run my tests so they execute file by file?  I find that the tests run asynchronously across files even if I try to use .serial on all of them.

What I want to see are my results grouped by file in an order I define.

thanks

[2019-01-03 10:33] lo1tuma commented on #1424
I wonder if [`Runner`](https://github.com/avajs/ava/blob/9d3b1bad681e1aad18ad8cd53407a7ccb1fc5782/lib/runner.js#L205:L207) is the correct place to implement this. If I remove a test file then the highlighted code in `Runner` would be never executed, right?

[2019-01-03 10:44] lo1tuma commented on #665
Instead of monkey patching globals, node core modules or any other third party modules I usually do dependency injection.

[2019-01-03 16:54] ratiotile commented on #1980
The workaround I've found is to disable AVA's builtin babel transpilation with `compileEnhancements: false, babel: false` and rely on babel/register to do it by with the configuration:

[code]
`@babel/register` requires that the ignore paths are regex expressions and not strings.

Now the reported line numbers of errors are correct both in test files and source files.

[2019-01-04 12:11] lo1tuma commented on #1332
I’ve experimented a little bit with implementing sandboxing in ava via the `vm` module. This seems to be quite tricky because per default you don’t have a node-environment in the context of the vm, which means you don’t have e.g. `require`.
I also tried [`NodeVM` from `vm2` ](https://github.com/patriksimek/vm2#nodevm) which unfortunately has [a bug](https://github.com/patriksimek/vm2/issues/62) wh

[2019-01-06 21:41] niftylettuce opened #2007 "Inaccurate link to docs for error thrown"
[code]

This link does not work: <https://github.com/avajs/ava/blob/v1.0.1/readme.md#throwsthrower-expected-message>

[2019-01-07 08:43] karimsa commented on #1485
This also makes tests more difficult to debug using logs. In my case, I've got all events being logged (such as jobs being executed) which continue to run even after an assertion fails. So in order to figure out which logs actually led up to the failure, I have to insert a `throw` or `return` to forcefully stop the test right after the failure - which is quite annoying.

[2019-01-07 08:56] novemberborn commented on #1997
Agreed. This is ultimately a limitation of the reporters, though we currently don't send the results of individual assertions to the main process either. I'm adding the appropriate labels.

[2019-01-07 09:08] novemberborn commented on #2004
Oh that's an interesting use case!

I think this is an issue with the Babel plugin that we use, I've filed an upstream issue at https://github.com/power-assert-js/babel-plugin-espower/issues/28.

[2019-01-07 09:46] novemberborn commented on #1424
Correct, but this issue is for the scenario where the test file still exists.

[2019-01-07 09:51] novemberborn commented on #1399
@Ullauri yea, looks available. Go for it!

[2019-01-07 09:52] novemberborn commented on #2006
FWIW I'd like to make the reporters write results grouped by file, though AVA won't make guarantees regarding the file execution order.

[2019-01-07 21:17] Ullauri commented on #1399
Sounds good. I think I understand what this request is asking for. Either way, ill open up a PR for it when I'm done.

[2019-01-08 05:06] twada commented on #2004
Thank you for reporting 😃
I've cut a patch release [3.0.1](https://github.com/power-assert-js/babel-plugin-espower/blob/master/CHANGELOG.md#301-2019-01-08). So would you try it again?

[2019-01-09 18:38] coreyfarrell opened #2010 "Feature Request: A way to mark a test 'skipped' after it starts."
## Description

I'm using `ava` to control selenium-webdriver for tests run in Firefox and Chrome.  It cannot be known synchronously if the browser can be run.  An example flow could be:

[code]
In this example `loadPage()` will reject if the browser cannot be started, otherwise it will resolve.  The goal is that the test will report `skipped` if the browser cannot be run.

## Environment

[code]

[2019-01-10 12:31] iamstarkov commented on #1692
I like property based testing too and used jsverify as in [ava-jsverify](https://github.com/imranolas/ava-jsverify) by @imranolas. it worked nice but also augments Ava internals (I believe). so integration can be harsh sometimes.

[2019-01-10 12:32] iamstarkov commented on #1692
I was thinking about utilising macros for this purpose. do you think it is feasible?

[2019-01-11 10:19] denis-sokolov commented on #1881
For future readers, my watcher initially only watched for changes in test files, but not in imported source files. I had to manually configure the `sources` key in my [configuration](https://github.com/avajs/ava/blob/f4b2d196e813cf3549e19703e5a79ebc988fb8ca/docs/06-configuration.md#options):

[code]

[2019-01-11 14:35] novemberborn commented on #2010
That's an interesting use case. Calling it skip may be misleading, since the test did execute. We have `t.pass()` and `t.fail()`. Perhaps `t.warn()`?

Combined with https://github.com/avajs/ava/issues/1692 you could even let some assertions fail, discard them, and then warn that the test could not be completed.

@sindresorhus thoughts?

[2019-01-11 15:21] novemberborn commented on #2004
Thanks @twada, that works great for me.

I've published a patch release of https://www.npmjs.com/package/@ava/babel-preset-transform-test-files to ensure users get the latest `babel-plugin-espower` when they next upgrade AVA. (Will bump AVA's dependency on that preset as part of the release process.)

[2019-01-11 15:21] #2004 closed

[2019-01-11 15:22] #2007 closed

[2019-01-11 15:39] novemberborn commented on #2010
Yes that was my understanding. I'm proposing that `t.warn()` puts the test in a state where it has neither failed nor passed. It wouldn't impact the exit code. You could still return, perhaps we should make that mandatory — e.g. if there is another failing assertion in the same test that would override the warning.

[2019-01-11 15:42] coreyfarrell commented on #2010
Agreed that it should be mandatory to return after calling this function.  One hesitation about `t.warn` is that you have `t.log`.  I've always felt that `t.warning` should exist and be similar to `console.warning` the same way `t.log` is like `console.log`.  Not sure if that could cause confusion if implemented?

[2019-01-11 16:17] novemberborn commented on #1454
Hey @nklayman, that looks nice! Apologies for waiting this long to get back to you, been a bit busy moving to another country 😄

I'm concerned about the lack of versioning support (https://github.com/vuejs/vuepress/issues/1018). I've seen a lot of confusion when it's unclear what version of the documentation you're reading, and ideally we can display documentation for previous versions. What do yo

[2019-01-11 16:22] novemberborn commented on #2010
Yes I was wondering about `warn`… if we can do some bike shedding, the problem is that the test can't pass due to circumstances out of its control, and yet this shouldn't fail CI. Perhaps `t.cancel()`?

---

That said, is it feasible to determine whether the test can run *before* you declare any tests? Once you call `test()` (or any hooks) you must declare all tests synchronously, but that first c

[2019-01-11 16:33] coreyfarrell commented on #2010
`t.cancel` definitely seems better than `t.warn`.

-----

Very interesting, I didn't know it was possible to defer the first registration to ava.  This might be a solution to my specific problem, though honestly something like `t.cancel` would be easier.

[2019-01-11 17:04] nklayman commented on #1454
What about publishing under a different url every time, ie docs.ava.io/v1/, docs.ava.io/v2? You could then create a custom drop-down that would redirect to the correct page. Each url would be its own vuepress app, so search would work fine. There would need to be a way to retrieve new versions from an old page, however.

[2019-01-11 22:19] FinnFrotscher commented on #1505
whats the status of this?

[2019-01-12 01:35] Qix- commented on #1505
Still open, clearly.

[2019-01-13 10:34] #1976 closed

[2019-01-13 10:49] soqt opened #2014 "a recipes for Prisma"
Would someone please create a recipes for Prisma test environment? Prisma is an ORM for graphql development. However when try to clean up database  using Prisma client, it throws an error "only HTTP(S) protocol is supported". It would be nice to have a recipes for projects using Prisma.

[2019-01-14 04:38] nklayman commented on #1454
Does anyone know how to get just the release tag? `https://api.github.com/repos/avajs/ava/releases` gives you a lot of unnecessary info.

[2019-01-14 15:11] szmarczak opened #2017 "Expose current test instance to `test.meta`"
In last release (1.1.0) there was added [`test.meta` feature](https://github.com/avajs/ava/commit/bccd297f38c9f4cf6dbb16dffa7ee8753dbbd12f).

I'd like to propose `test.meta.currentTest` which points to the current test instance. Use case:

[code]

[2019-01-14 19:22] novemberborn commented on #2014
Could you share a bit about how you're using AVA with Prisma?

[2019-01-14 19:33] szmarczak commented on #2017
Hmm, that's true, unfortunately.

You just need to pass the test instance every time, which is quite irritating. I often did `compare(entries, ...)` instead `compare(t, entries)`.

[2019-01-14 19:33] #2017 closed

[2019-01-16 14:20] FinnFrotscher commented on #1505
I have switched to Mocha to get around this problem, but the solution is not satisfactory since it comes with another set of drawbacks.
Could you point me to the right place in Ava? I have not looked much under the hood yet.

[2019-01-17 09:05] novemberborn commented on #2017
We are open to being able to install additional assertions on `t`: https://github.com/avajs/ava/issues/1094

[2019-01-17 11:11] RedKenrok opened #2020 "Allow excludePatterns to be overwritten"
Ava is a great library and enjoy using it. I would love to be able to overwrite the `excludePatterns` property of the `lib/ava-files.js` script as it currently always set to the default of `[ '!**/node_modules/**', '!**/fixtures/**', '!**/helpers/**' ]` at line 118. Because I use the helpers directory name in my library and would like my test directory to follow a similar structure. As a result th

[2019-01-17 12:30] szmarczak commented on #2017
@novemberborn That whould be the right thing :)

[2019-01-18 08:13] #1995 closed

[2019-01-18 08:16] novemberborn commented on #2020
Agreed, see #909. I've been meaning to summarize my thoughts on our various [globbing issues](https://github.com/avajs/ava/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Ascope%3Aglobbing) into a concrete proposal but haven't gotten round to it yet.

[2019-01-18 08:16] #2020 closed

[2019-01-20 17:20] novemberborn commented on #1505
@FinnFrotscher the Node.js flags passed to the worker processes are controlled here:

https://github.com/avajs/ava/blob/ed7807e372f7f50d43597d966a2314bdd7a7d6ff/api.js#L269

AVA's CLI flags are here:

https://github.com/avajs/ava/blob/ed7807e372f7f50d43597d966a2314bdd7a7d6ff/lib/cli.js#L56

There's more stuff in `api.js` around the worker concurrency.

[2019-01-23 09:53] niktekusho opened #2023 "Deprecated workspaceRoot in VS Code debug recipe"
## Description

In the [Debugging tests with Visual Studio Code](https://github.com/avajs/ava/blob/ed7807e372f7f50d43597d966a2314bdd7a7d6ff/docs/recipes/debugging-with-vscode.md) the `{workspaceRoot}` variable has been deprecated since version 1.17 in favor of `{workspaceFolder}`. Relevant links below.

I'm opening this issue just in case anyone has something against changing that variable (in my

[2019-01-24 11:38] niftylettuce opened #2025 "`timeout` option is missing in Configuration documentation"
Docs suggest otherwise at <https://github.com/avajs/ava/blob/master/docs/07-test-timeouts.md>

[2019-01-24 11:40] niftylettuce commented on #2025
Ah, I see that they accept human-friendly Strings.  Perhaps we should document this!

<https://github.com/avajs/ava/blob/bccd297f38c9f4cf6dbb16dffa7ee8753dbbd12f/test/api.js#L269>

[2019-01-24 20:04] incompl opened #2026 "Suggestion for tagline"
I apologize if this seems frivolous, but I really enjoy unit testing and I think the tagline for this project "Testing can be a drag. AVA helps you get it done."  perpetuates a misconception that testing is inherently unpleasant. In my experience when testing is unpleasant it is usually as a result of unpleasant tools. This misconception can contribute to testing-avoidant behavior and results in l

[2019-01-26 16:51] #1565 closed

[2019-01-26 17:02] sindresorhus commented on #1565
@dflupu You need to submit your PR to IssueHunt for me to release the bounty: https://issuehunt.io/repos/26820798/issues/1565

[2019-01-26 17:34] vjpr commented on #1820
I'm still having a lot of trouble with this. I have an es5 library in my codebase that needs to run in the `ava.config.js` file, but it seems its not possible.

Why do we not allow cjs features when using esm to load the config?

[2019-01-26 18:15] sindresorhus commented on #1820
@vjpr What is the exact problem/error?

[2019-01-26 18:18] vjpr commented on #1820
[code]

_ava.config.js_

[code]

_foo.js_

[code]

_bar.js_

[code]

[2019-01-27 09:53] OmgImAlexis opened #2028 "Missing export name in ES module"
## Description
I'm not really sure what's going on here as the file does have the export.

[code]

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]

## Environment

[code]

[2019-01-27 13:14] novemberborn commented on #2023
A PR would be great!

[2019-01-27 13:16] novemberborn commented on #2023
Ah I thought I saw the PR, but then it didn't show up in the links here. Turns out the reference to this issue was incorrect (I've since fixed that). Thanks @niktekusho!

[2019-01-27 13:17] #2023 closed

[2019-01-27 13:18] novemberborn commented on #2025
Ah yes it should be added to https://github.com/avajs/ava/blob/master/docs/06-configuration.md. Thanks for noticing, @niftylettuce.

[2019-01-27 14:06] novemberborn commented on #1820
I agree that should work, @vjpr.

It's an interesting problem. Our default Babel pipeline supports importing from CJS, with `__esModule` interoperability. But, we don't want to apply that to loading the config file, especially if Babel is disabled *through* that file.

Between ESM, CJS and interoperability there's a lot of ways a config file could be written. At least ESM is more forward looking,

[2019-01-27 14:18] novemberborn commented on #2028
One thing that jumps out is that you're loading `esm`, but it doesn't look like you've disabled Babel. AVA will still be compiling ESM syntax, so `esm` won't have much to do…

See https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#preserve-es-module-syntax and https://github.com/avajs/ava/blob/master/docs/recipes/es-modules.md. Try disabling the ESM compilation and see if that helps.

[2019-01-27 14:36] #583 closed

[2019-01-27 17:06] vjpr commented on #1820
I'd like full compat but vars might help too.

Currently the behavior is very limiting. Use case: u have a shared CJS
config file which you want to require your a a config from. It's not
possible unless your codebase is entirely ESM.

On Sun 27. Jan 2019 at 15:06, Mark Wubben <notifications@github.com> wrote:

[2019-01-27 17:17] sindresorhus opened #2030 "Use `unknown` in the TS types instead of `any`"
Pretty much anywhere `any` is used. It's stricter, which is good.

https://stackoverflow.com/questions/51439843/typescript-3-0-unknown-vs-any

It's breaking change, so it will have to wait for AVA v2.

---

The Flow definitions too. `mixed` instead of `any`: https://stackoverflow.com/questions/30004233/what-is-the-difference-between-mixed-and-any

[2019-01-28 00:48] OmgImAlexis commented on #2028
Updating to `ava@1.2.0` and disabling babel fixed the issue. Thank you. ❤️

[2019-01-28 00:48] #2028 closed

[2019-01-28 08:01] niktekusho commented on #2023
Yeah, sorry about that! Glad this was merged quickly! 🎉

[2019-01-28 10:36] OmgImAlexis opened #2031 "Nyc breaking ava?"
## Description
I'm hoping someone here can point me to where this issue may be coming from. It seems `nyc` is having an issue with my code but even weirder is that after running `nyc` `ava` no longer runs properly.

I did find if I did a `git reset --hard` which shouldn't affect anything fixed `ava`?

I've also tried this with `nyc@12.0.2` and `nyc@13.1.0` with the same results.

### Error Message

[2019-01-29 00:53] Chrisyee22 commented on #2025
Hi. If this issue is still open I would be happy to work on it.

[2019-01-29 09:33] novemberborn commented on #2030
Could you be more specific which `any`'s you'd like to replace? For our assertions, `any` seems more appropriate since we're typing what kinds of values you can provide. `unknown` is useful as a way to force yourself to refine the type of value you received.

[2019-01-29 09:39] novemberborn commented on #2031
I think it might be caused by the combination of `nyc` and `esm`. It works great if those tools aren't using cached transforms (like in CI) but can fail locally if you run concurrent test files. Try with the `-c 1` option.

AVA, `nyc` and `esm` cache files in `node_modules/.cache`. Try deleting that directory instead.

(I'm closing this issue for housekeeping purposes, but let's keep the conversat

[2019-01-29 09:39] #2031 closed

[2019-01-29 09:39] novemberborn commented on #2025
That'd be great @Chrisyee22!

[2019-01-29 13:16] bthompson90 commented on #2026
I think we'll find that every developer has their own opinion on testing.  I like the suggestion by @incompl though.  Perhaps we could have a survey?

[2019-01-30 16:37] bongofury opened #2032 "Error: spawn E2BIG when running AVA on many test files"
## Description
I use to run tests inside a monorepo with AVA, each module has its own tests.
After upgrading from version _0.22.0_ to _1.2.0_ , I receive the error **spawn E2BIG**.

The error occurs if I run AVA on all monorepo test files.
If I run AVA on single modules this does not occurs.

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code

[2019-01-31 03:21] soqt commented on #2014
I just realized it has nothing to do with Prisma. I have `prisma server` and `API server` both in separate docker containers. I tried to run `docker-compose exec APIServer ava`, which runs test from `API server container`. However, if there is a request that requesting `http://prisma`, an error throws "Only HTTP(S) protocol is supported". I tried to run `ava` locally and everything is good.   Is t

[2019-01-31 03:46] OmgImAlexis commented on #2031
No worries with closing the issue. Thanks for all the help.

Any other ideas on where to look and is the `Illegal invocation` error a bug?

[code]

[2019-01-31 03:47] OmgImAlexis commented on #2031
@jdalton, sorry to bother but any chance you could look at this and give some guidance on where the issue may be coming from?

[2019-01-31 14:09] vjpr commented on #1820
@novemberborn Could you make the change and then publish an alpha. I will test it on my setup.

[2019-02-01 06:55] be5invis opened #2033 "Tests consuming really large memory"
Hi all. In one of my internal projects I have stress test cases that takes around 3GB each. Therefore what is the best practice to arrange them? Other cases are small so I want the others to be parallel, but the large tests should run in serial or use some sort of locks to limit their parallelism.

[2019-02-01 09:46] novemberborn commented on #2033
You're probably best off running AVA twice, e.g. in the npm scripts:

[code]

It's not great because you get two sets of results, but it'll work in CI where you just want all tests to pass anyway.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-02-01 09:46] #2033 closed

[2019-02-01 09:48] novemberborn commented on #2014
I imagine that should just work, but you need to configure the Docker containers so they can talk to each other.

It sounds like we don't need any additional documentation for Prisma? I'll close this issue.

[2019-02-01 09:48] #2014 closed

[2019-02-01 09:52] novemberborn commented on #2032
Oh fascinating!

We're passing options to the worker processes as a command line argument. I think it ends up being too large. The line is here: https://github.com/avajs/ava/blob/010914b9e5232312d2b611695776919084a65717/api.js#L232

This includes all precompiled files which in your case may be quite a lot. There may be other unnecessary data as well. I'll have a think about how else we can share t

[2019-02-03 15:12] novemberborn commented on #2032
@bongofury could you give #2035 a try? `npm install --save-dev avajs/ava#config-over-ipc`.

[2019-02-04 08:44] sindresorhus commented on #2026
I agree the tagline be a bit more positive.

[2019-02-04 10:14] sindresorhus commented on #2030
So for the assertion parameters, it will work the same as `any`. It's mostly just for consistency, however, had AVA been written in TS, we could have benefitted from the strictness when handling the assertion parameters internally.

For return values, it forces the user to cast it to a proper value, which is good.

[2019-02-04 10:17] sindresorhus commented on #2030
Actually, looking at the type definition in more detail now, I see that there are no `any` being returned. I was sure there was. Maybe there was before 1.0.

[2019-02-04 22:11] bongofury commented on #2032
As stated in the PR, it seems to be ok, thank you!

[2019-02-05 02:52] nklayman commented on #1454
How should I authenticate with the API?

[2019-02-05 03:42] nklayman commented on #1454
Since the graphql api forces use of an authentication token, maybe we should just host a json file with the release data ourselves, as part of the docs site.

[2019-02-05 08:21] novemberborn commented on #2026
We could leave it up to your own interpretation:

@incompl may read this as "Testing! Yay, AVA helps me get it done" and I can read it as "Testing… AVA helps me get it done."

[2019-02-05 08:39] sindresorhus commented on #2030
How so?

[2019-02-05 08:57] novemberborn commented on #2032
@bongofury great. This is out now in v1.2.1.

[2019-02-05 09:19] sindresorhus commented on #2030
And `unknown` means that too. But doesn't matter.

[2019-02-05 19:31] nklayman commented on #1454
Then your access key would be publicly available on the site. I can use a [postversion](https://docs.npmjs.com/misc/scripts) script to automate updating the json file, so it won't be an issue.

[2019-02-06 01:10] nklayman commented on #1454
Updated my fork to support versioning. It requests the `releases.json`, located in the public folder. It creates a dropdown called "versions" and links each version. The link redirects to `/${version}`. I also added a "version" script which adds the latest release to the `releases.json`. All that's left is to publish each version of the docs to `/${version}`.

[2019-02-08 13:54] itaisteinherz commented on #1511
Since #1751 wasn't merged, can I take a shot at fixing this?

[2019-02-08 14:57] novemberborn commented on #1511
Yea go for it @itaisteinherz!

[2019-02-09 16:14] fotonmoton opened #2038 "Support for mocking / ignoring non-js modules"
## Description

I try to test React component with Enzyme and have some issues.
To bundle my project  I use Webpack and css and file loaders to handle non-js modules.
In test environment css and file modules can be ignored, but I don't find any examples in docs how to mock or ignore specific types of modules.

### Source

[code]

### Test Source

[code]

### Error Message & Stack Trace

[code]

[c

[2019-02-10 16:00] novemberborn commented on #1454
Would you mind opening a PR?

[2019-02-10 16:16] novemberborn commented on #2038
You should use a Babel plugin to rewrite those imports, so that Node.js doesn't try to import them as if they were JavaScript. I don't have the right plugin handy for you though.

Alternatively you could try and run your Webpack bundle within AVA but I'm not quite sure how to go about that either.

If anybody has tackled this before, it'd be great to update the documentation to solve this problem.

[2019-02-10 16:42] #1511 closed

[2019-02-10 18:35] fotonmoton commented on #2038
@novemberborn I found workaround. After requiring `@babel/register` you can set
[code]
and this imports will return nothing.
ava.config.js:
[code]
./config/babel.register.js:
[code]
Full code on branch `solution` in this [repo](https://github.com/fotonmoton/ava_ignore_modules).

I think this should be somewhere in docs, or better add support for something like `ignoreExtensions` to configuration s

[2019-02-11 08:35] novemberborn commented on #2038
AVA doesn't follow your imports, it just rewrites them to `require()` calls. Node.js then loads the files and assumes they're JavaScript.

[2019-02-11 10:01] fotonmoton commented on #2038
So if I don't use `@babel/register` I can't rewrite `require()` calls for specific modules? How I can solve this problem without compiling sources on the fly then? Solution above works for me well but, I think, there should be less "hacky" way. Or maybe importing non-js modules is not a good way to compose React components and this problem can be solved outside AVAs context?

[2019-02-11 13:17] novemberborn commented on #2038
Your code, as written, assumes a Webpack build step. If you want it to work in Node.js you'll need to adjust your approach. Pre-compiling using Babel, or `@babel/register`, or perhaps you can test your Webpack bundle itself.

[2019-02-11 19:58] fotonmoton commented on #2038
Yeah, I see argument behind testing final bundle itself - it will contain "final" version of sources and tests for compiled modules will be less "flaky" in some edge cases. I will try to setup Webpack to produce compiled componets and test them instead of compiling on the fly.

[2019-02-11 22:16] fotonmoton commented on #2038
I think title is misleading, I wrote about module imports inside sources not tests, but I don't know how describe problem more precisely.

[2019-02-11 22:57] MackenzieBerliner-Glasser commented on #2025
@Chrisyee22 hey are you still working on this issue? If not I would be happy to work on it :).

[2019-02-11 22:59] Chrisyee22 commented on #2025
@MackenzieBerliner-Glasser I am still working on this issue. Got delayed by a flu. ☹️

[2019-02-11 23:02] MackenzieBerliner-Glasser commented on #2025
@Chrisyee22 oh no :/. I hope you are feeling better!

[2019-02-12 20:55] mtfurlan opened #2040 ""previous failure in test files that were not rerun" not always true with ava --watch"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2040)

## Description

If you have a failing test, and you change it to passing, ava --watch will report tests passed, but also `1 previous failure in test files that were not rerun`

### Test Source
[code]

### Steps to reproduce
* Make a new dir.
* Pu

[2019-02-13 08:11] sindresorhus opened #2041 "The `fake-tty.js` implementation should shim all the methods"
AVA [fakes TTY](https://github.com/avajs/ava/blob/7b6e578dce32a6561e61ed6e2be6de8237b37800/lib/worker/fake-tty.js), but it doesn't implement all the methods. This can cause packages to crash because when `.isTTY === true`, they expect to be able to use certain methods.

Related issue: https://github.com/avajs/ava/pull/1885

Missing methods:

- `.clearLine(dir)`
- `.clearScreenDown()`
- `.cursorTo(

[2019-02-14 07:55] tsaitsau commented on #2041
Bug

[2019-02-14 08:13] novemberborn commented on #2038
I think the title is fine 😄

[2019-02-14 08:14] tsaitsau commented on #2038
Oh thx

Mark Wubben <notifications@github.com>於 2019年2月14日 週四，下午4:13寫道：

[2019-02-14 08:20] novemberborn commented on #2040
Thanks for reporting this @mtfurlan. I've also seen this happen.

[2019-02-14 08:21] novemberborn commented on #2041
Would we shim these as no-ops?

[2019-02-14 11:04] sindresorhus commented on #2041
Well, would be nice if they actually did what they should. It's not hard to shim them. Can use https://github.com/sindresorhus/ansi-escapes for everything except for `.getWindowSize()`, which can just return `[80, 24]`.

[2019-02-14 12:07] fotonmoton opened #2043 "[FEATURE REQUEST] simplification for file extension configuring"
## Description
Feature request: Simplify file extensions configuration.
Configuration must be changed in three places if you want to test files and sources with different extensions:

in `files` array:
[code]

in `babel.extensions`:
[code]

and if you use `@babel/register` for compiling on the fly you should add configurations for it as well:
[code]
Change in `@babel/register` configuration must b

[2019-02-14 15:18] screendriver commented on #1109
The latest Jest 24 release [supports](https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished-typescript-friendly#typescript-support) TypeScript via [@babel/preset-typescript](https://babeljs.io/docs/en/babel-preset-typescript)

[2019-02-14 18:23] ianwalter commented on #1682
Very recently I created [webdriver-helper](https://github.com/ianwalter/webdriver-helper), a simple AVA helper to provide a [WebdriverIO](https://webdriver.io/) browser instance in a test. It works well, and I prefer writing AVA tests instead of using Mocha or Jasmine (which WebdriverIO officially integrates with), but one issue is that `await browser.debug` doesn't work properly. [`browser.debug`

[2019-02-14 19:17] scheung38 opened #2044 "redirect unit tests"
How to test in a scenario where there is redirect, i.e the first statusCode being a 302, and then followed by 200?

[code]
am I looking for response before or after the redirect happens?

## Environment

[code]

[2019-02-15 16:59] mrozbarry commented on #1359
I'm not 100% sure if this is related, but in ava 1.2.x with sinon 7.2.3, when I create a sandbox with mocked timers, I get an error that `clearTimeout` does not exist. I'm willing to open a new issue if this is unrelated, but it seems like it could be.

Ava 1.1.0 is not affected, so I think this has a specific issue with 1.2.0's clearTimeout methods. I'm not certain on the interaction with sinon's

[2019-02-17 21:56] coreyfarrell commented on #2010
I've tweaked the way my tests are declared so they do not get created until after the browser is successfully started, though this does have one drawback.  An example test declaration is:

[code]

The `page` function adds the title and callback to an internal array, then after the browser is successfully started it performs a bunch of calls to `test()` or `test.skip()`.  If this results in an exce

[2019-02-18 06:07] sindresorhus commented on #2010
I like the idea of `t.cancel()`. I can see that being useful for many situations.

[2019-02-18 14:25] coreyfarrell commented on #2010
So in my use case `t.cancel()` would be called before any `t` assertions and be followed by an immediate return:
[code]

So the questions I have - how should ava react if `t.cancel()` and `t` assertions are both run by the same test?  In that case should order matter - `t.true(true);t.cancel();` vs `t.cancel();t.true(true);`?

Also should the promise returned by the test matter to how `t.cancel()`

[2019-02-19 04:16] revelt opened #2046 "feature request: let's add failed test count at the bottom if there are more than X failed"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/2046/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/2046)

## Description

Currently, failed unit test count is shown in the middle of all AVA's log output but not at the bottom. Let's repeat it at the bottom too:

![failed-test-count-at-the-bottom](https://user-images.githubusercontent.com/8344688/52989527-bcde3d80-

[2019-02-19 08:13] eemed commented on #1808
Hi! I would like to take a look at this. This is my first time contributing not only to this project but to any project. I will probably need some help at some point.

[2019-02-20 08:26] novemberborn commented on #2043
Yea that does look cumbersome.

I'm pretty sure we do take `babel.extensions` into account when looking for files, however you have custom patterns for the test files. I can't really think of a reason we shouldn't also look for `.spec.js` files. @sindresorhus?

I think you should also be able to specify `src/` as the source pattern and AVA should select all files with the right extensions within.

[2019-02-20 08:29] novemberborn commented on #1682
@ianwalter the work in https://github.com/avajs/ava/pull/2011 would let you run tests in the main process, and there you'd have access to `stdin`. Would be great to see some experiments with that before adding any additional features to AVA itself.

I can't give you a timeline on when that's ready (mostly because I'm busy with work and it's a large PR) but perhaps you could give the in-progress br

[2019-02-20 08:31] novemberborn commented on #2044
It seems odd to test for either result. Ideally you have one test for a 200 response, and another for a 302 response.

If you do have such variability in your test, I would use `t.true(res.statusCode === 200 || res.statusCode === 302)`. And perhaps an `if () {}` condition before comparing the result.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-02-20 08:31] #2044 closed

[2019-02-20 08:42] novemberborn commented on #1359
If you could open a new issue that'd be great. This issue is more about changing the `fs` module etc.

[2019-02-20 08:52] novemberborn commented on #2010
I'd say you can only cancel if you haven't run assertions: Running assertions on a canceled test causes the test to fail. Canceling a test that has run assertions causes the test to fail.

We'll introduce a new reporting category for canceled tests.

[2019-02-20 08:53] novemberborn commented on #2046
Yea. I need to write up my thoughts on how to merge the verbose and mini reporters and what we want out of that new default reporter…

[2019-02-20 08:54] novemberborn commented on #1808
Go for it @eemed. Don't hesitate to ask questions 👍

[2019-02-20 17:03] ianwalter commented on #1682
@novemberborn Absolutely, will try it out, thanks for your help.

[2019-02-22 06:12] mesqueeb opened #2047 "Error: You gave us a visitor for the node type TSImportType but it's not a valid type"
## Description

Testing broke after updating ava from 1.0.0-beta3 to 1.2.1.

### Test Source

Package: https://github.com/mesqueeb/filter-anything

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]

## Relevant Links

Public repo: https://github.com/

[2019-02-22 06:16] be5invis opened #2048 "Mutexes / external resources"
Sometimes we need to limit some of the tests to run serial, or having a maximum parallel jobs, or wait some external resource to be prepared. Therefore introducing such concepts would be helpful for network-oriented tests or stress tests.

Purposed API:

[code]

[2019-02-22 06:35] sindresorhus commented on #2048
@be5invis It's not clear what `1000` means in your example. And what does `resources('memory')` actually do? Is `memory` the key? Would be nice if you could elaborate a bit more about the proposed API.

[2019-02-22 06:38] be5invis commented on #2048
@sindresorhus

`t.resource` would return a resource manager of a given resource kind (i.e., memory of DB connection), which allocates resource with a given amount.

[code]

[2019-02-22 07:02] sindresorhus commented on #2048
But what is `1000` and who enforces/controls its usage? How would AVA enforce this? AVA could easily control concurrency, but not memory usage and other things.

[2019-02-22 07:07] be5invis commented on #2048
@sindresorhus
`1000` is simply a number, a number representing the resource quantity that the test claimed it will use. It has no link to the actual memory usage. Ah I should name it `stress` instead of `memory`.
Resource managers will take this number, and decide whether to resolve the promise: resolve, wait or throw a error (unable to allocate).

[2019-02-22 18:15] lo1tuma opened #2049 "Update dependency tracking after modules are loaded from AVA's "require" configuration"
See next steps at https://github.com/avajs/ava/issues/2049#issuecomment-469029767.

Original issue description follows.

---

According to the [watch-mode documentation](https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#dependency-tracking) dependency tracking should work when custom extensions/transpilers are configured directly in `ava.config.js` or in the package.json. The lin

[2019-02-24 19:44] nklayman commented on #1454
https://github.com/avajs/ava/pull/2051

[2019-02-24 19:58] nklayman commented on #1967
[code]

Here are 2 example `each` functions that make the tests a little simpler using macros. What do you think about including one of these>

[2019-02-24 20:02] nklayman commented on #1967
It might need some updated to accept different types of args.

[2019-02-25 10:22] novemberborn commented on #2048
Within a test file there's plenty of Node.js modules to help you achieve this. I assume you want to coordinate resources across test files. Could you elaborate on that use case?

[2019-02-25 10:23] be5invis commented on #2048
@novemberborn Yes, coordinate resources across tests.
I have a lib with some stress tests, may take a lot of memory or whatever, so I want to limit the parallelism among them -- they are distributes in multiple files, belonging to multiple sub modules.

[2019-02-25 10:29] lo1tuma commented on #2048
IMHO there is no need for builtin support in ava. We use [`throat`](https://www.npmjs.com/package/throat) to limit the amount of parallel runs of tests using puppeteer.

[2019-02-25 10:30] be5invis commented on #2048
@lo1tuma
Does Throat work across Ava's worker processes?

[2019-02-25 10:40] novemberborn commented on #1967
Could you elaborate what you're proposing with `each1` and `each2`?

[2019-02-25 10:52] lo1tuma commented on #2048
@be5invis good point, probably it doesn’t. I have all the puppeteer-based tests in the same file, so that wasn’t an issue.

[2019-02-25 15:27] ianwalter commented on #2047
I have the same issue. Build failure can be found here: https://github.com/ianwalter/vue-component-reset/pull/3/checks?check_run_id=67824620

[2019-02-25 15:29] ehmicky commented on #1820
I am running into the following problem related to not being able to use `module.exports`:

I need to use an `ava.config.js` with some logic in it, i.e. the `ava` property in `package.json` is not possible. My codebase is written with CJS. I run ESLint on my repositories JavaScript files with the [`sourceType`](https://eslint.org/docs/user-guide/configuring#specifying-parser-options) option set to

[2019-02-25 15:42] KompKK commented on #1525
Can I work on that?

[2019-02-25 17:01] novemberborn commented on #1820
You can use overrides to switch the source type:

[code]

[2019-02-25 17:02] novemberborn commented on #1525
Sounds great @KompKK!

[2019-02-25 17:17] novemberborn commented on #2048
I think this is a duplicate of https://github.com/avajs/ava/issues/1366. @be5invis what do you feel about moving the discussion there?

In order to make progress on this we need to flesh out use cases further, and make the argument for why this can't be done by other modules building on top of AVA. Our proposal process is lacking at the moment, so for now bullet points in GitHub comments will suff

[2019-02-25 17:21] be5invis commented on #2048
Well, my problem is slightly different: #1366 is mostly about preparing some resource before a test run, and my proposal is mainly about parallelism control.

________________________________
发件人: Mark Wubben <notifications@github.com>
发送时间: 星期二, 二月 26, 2019 01:18
收件人: avajs/ava
抄送: Belleve Invis; Mention
主题: Re: [avajs/ava] Mutexes / external resources (#2048)

I think this is a duplicate of #136

[2019-02-25 17:38] ehmicky commented on #1820
Thanks! This works.

[2019-02-26 04:29] nklayman commented on #1967
The idea would be to add one of these functions as `test.each`. The goal is to make it really easy to test similar scenarios, so you aren't using `array.forEach`, writing multiple `test`s, or something similar.

Without `test.each`:
[code]

with `test.each`:
[code]

[2019-02-26 08:41] novemberborn commented on #2048
Yes but what if we can find a solution that works for both? Roughly, if you could start a "resource manager" that can communicate with test workers, you could use that to share random URLs or mutex states.

[2019-02-26 08:43] be5invis commented on #2048
@novemberborn
A resource manager could do both, but in general this issue and #1366 are two different aspects. I recommend handle them separately.

[2019-02-26 08:48] novemberborn commented on #2048
I'm interested in solving the commonalities between those issues, so that specific solutions can be built on top of that.

[2019-02-26 08:51] novemberborn commented on #1967
You could achieve that with a `for` loop, which I find this easier to understand:

[code]

[2019-02-26 20:37] maxrimue commented on #1558
Not 100% relating, but I just spent so much time looking into my Unit Tests because I didn't realize what each symbol stood for in this output for a `deepEqual`:
[code]

Why don't we add a simple
[code]
below? Only the symbols are not completely intuitive to me.

[2019-02-27 09:13] oldj commented on #2047
I had the same issue, then I executed the `npm update` command and everything worked fine.

[2019-02-27 13:33] fotonmoton commented on #2049
You can check out [this](https://github.com/avajs/ava/issues/2043) issue, I have same frustration. Here working [repo](https://github.com/fotonmoton/ava_file_extension_configuration) with TypeScript support for AVA.

[2019-02-27 16:12] nordqvist commented on #1532
For anybody looking for a solution for this, how i came around it was looping through the files and running the tests individually.

```for file in {your test folder}/*; do echo '\n Testing' $file;  ava $file || break; done```

The `|| break` is important, otherwise it will just go to the next test if you try to quit.

[2019-02-27 23:44] mesqueeb commented on #2047
I tried `npm update` but still have the same error.

[2019-02-28 08:07] novemberborn commented on #2047
Hi @mesqueeb, I can reproduce this on your repo, but I don't understand where the error is coming from. However if I remove the `package-lock.json` and `node_modules`, then run `npm install` again, the problem goes away. I think there's a faulty or outdated dependency somewhere in your package lock.

P.S. You don't need to manually install `@ava/babel-preset-stage-4` and `@babel/plugin-proposal-ob

[2019-02-28 08:07] #2047 closed

[2019-02-28 08:49] JerryC8080 commented on #1930
@Akiyamka

I came across the same problem in ava-1.2.1，and below is how i slove the problem:

in package.json
[code]

[2019-02-28 14:39] eemed commented on #1808
@novemberborn So it almost works, but I have 3 tests that won't pass and I can't figure it out. Should we discuss them here or should I make a pull request?

[2019-02-28 14:46] novemberborn commented on #1808
A PR would be best, thanks @eemed.

[2019-02-28 17:40] acchou opened #2055 "Don't report filtered tests as pending"
## Description

When tests fail when using a `-m` title matching filter, Ava says that some tests are pending, even if they are not matched. For example:

[code]

The match criteria is the union of all non-remote tests with all tests matching `*aws*`. The tests matching `remote google` should be filtered out (and indeed are not executed), however they are reported as pending. This is confusing bec

[2019-03-01 02:20] mesqueeb commented on #2047
@novemberborn
thanks.

1. I removed these from package.json:
- `@ava/babel-preset-stage-4`
- `@babel/plugin-proposal-object-rest-spread`
- `@babel/preset-env`

2. and then deleted `node_modules` **and** `package-lock.json`

3. then reinstalled everything with `npm i`

and it works again 🎉

[2019-03-01 14:25] lunelson commented on #1784
I just ran in to this, and was rather hoping that snapshots were separate within a single file, so only the `--match`'d test snapshots would update and not the others.

The thing is, I'm kinda hacking AVA to test Sass code: my tests are in separate `.scss` files but collected and run, each test named for its source filename, by a single JS test file; so I use --match to focus on one `.scss` file a

[2019-03-03 14:31] novemberborn commented on #1359
@mrozbarry this should be fixed with https://github.com/avajs/ava/pull/2057.

[2019-03-03 14:42] novemberborn commented on #2049
Nice find @lo1tuma!

You're right, the dependency tracker works by decorating the functions in `require.extensions`. Thus, it misses any additional functions added when AVA loads the modules from its `require` configuration.

What we should do is after each module is loaded, go through `require.extensions` again to decorate any now undecorated functions. That way we can track most of the dependenc

[2019-03-03 14:45] novemberborn commented on #2049
See these lines which installs the tracker for the first time:

https://github.com/avajs/ava/blob/334e15b4af06492c9aed2800a0764f245d6a908b/lib/worker/subprocess.js#L104:L107

Note that the comment applies to `precompilerHook.install()`.

Then, the module is loaded here:

https://github.com/avajs/ava/blob/334e15b4af06492c9aed2800a0764f245d6a908b/lib/worker/subprocess.js#L111

[2019-03-03 15:03] novemberborn commented on #1558
Let's start with adding `- Received\n+ Expected` when we show diffs, and if they're from a snapshot show `- Received\n+ Snapshot`. We should match the current colors, so the "received" line should be red and the expected/snapshot line green.

In essence, this line should track whether the diff comes from `t.snapshot()`:

https://github.com/avajs/ava/blame/334e15b4af06492c9aed2800a0764f245d6a908b/l

[2019-03-03 15:25] novemberborn commented on #2055
This looks like a bug to me.

I think this line: https://github.com/avajs/ava/blame/d97f11ddbbf824fd72165266770b9ae046e62324/lib/run-status.js#L62

Should be moved to this `else` branch:

https://github.com/avajs/ava/blame/d97f11ddbbf824fd72165266770b9ae046e62324/lib/run-status.js#L86

[2019-03-03 15:30] novemberborn commented on #1784
Best I can come up with is to write your own loader in `require.extensions` which generates the test code on the fly. Then you can configure AVA to treat `.scss` files as test files.

This is a discussion better suited for https://spectrum.chat/ava though.

[2019-03-03 15:45] ehmicky opened #2058 "[Feature request] Custom ava.config.js location"
## Description (in short)

A `--config` CLI flag to specify a custom location for `ava.config.js` would be useful.

## Description (in more details)

My goal is to share my Ava setup across many repositories, both the invocation and the configuration.

My current setup is the following:
  - one shared repository called `gulp-shared-tasks`:
     - at its root is the shared `ava.config.js`
     - at

[2019-03-03 15:58] novemberborn commented on #2058
Yup, see https://github.com/avajs/ava/issues/1857.

Re-reading that issue I see that my questions in https://github.com/avajs/ava/issues/1857#issuecomment-402513251 have been resolved (https://github.com/avajs/ava/issues/1857#issuecomment-405091537), so it's ready to be worked on.

[2019-03-03 15:58] #2058 closed

[2019-03-03 16:06] #2025 closed

[2019-03-03 16:07] ehmicky commented on #2058
Sorry! I did search the issues twice but I must have used the wrong keywords. Thanks for the quick reply.

[2019-03-03 16:14] ehmicky commented on #2058
Actually the solution outlined in #1857 might not work for my use case because the `package.json` is looked up based on the current directory :/

[2019-03-03 16:18] novemberborn commented on #2058
No it still allows `--config`, it's just that it *also* allows `package.json#ava.config`. (Happy to accept a PR just for the CLI flag, by the way.)

[2019-03-03 18:54] ehmicky commented on #2058
Oh great then! From [this comment](https://github.com/avajs/ava/issues/1857#issuecomment-405091537):

I thought the `--config` CLI option was not part of the solution, but if it is then this completely solves this issue.

[2019-03-04 10:44] lunelson commented on #1784
Thanks @novemberborn I've tried to summarize it in the Spectrum chat

[2019-03-05 17:37] vancouverwill commented on #2055
I can take a look, why I'll I'm at it I wouldn't mind adding the pending tests line `writePendingTests()` to tap as it is pretty major feature not to show as the main goal of a test suite is to show the tests which have not passed.

What do you think @novemberborn ?

[2019-03-06 13:36] Fmajor commented on #1602
I tried the `requireGlob` workaround, but got
`Error: All tests and hooks must be declared synchronously in your test file, and cannot be nested within other tests or hooks.`
Is there any other working workaround for the global `before` and  `after` feature?

[2019-03-06 14:21] Fmajor commented on #1602
I just use the `chokidar` package to watch file changes and concat all test files into a single one.
That's really ugly but work for me.
Hope to have the global `before` and `after` feature...

[2019-03-06 17:13] Fmajor opened #2061 "Proposal: the delay option"
I build a website with Nuxt.js, i have complicated backend models and it will take several seconds before the database is initialized and ready to work.
I run ava with the `--watch` option and will failed each time i update the source code (because the tests start immediately after i modify the source code before the database is ready)

Can we have a delay option to control the delay time after th

[2019-03-06 17:28] sindresorhus commented on #2061
I think a better and less fragile solution is for your code to wait for the database to be ready.

[2019-03-06 20:24] novemberborn commented on #2055
@vancouverwill great!

Sure, if you think that's useful. Note that this is only used when a timeout occurs or if you interrupt the test run. You may have to update the reporter code as well. Is there a good way of expressing that in TAP? (This is probably best as a separate PR.)

[2019-03-06 20:32] novemberborn commented on #2061
You could do that detection in an asynchronous `test.before(async () => { await startup() })` hook.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-03-06 20:32] #2061 closed

[2019-03-06 22:05] vancouverwill commented on #2055
yeah good call about separate pr 👍

[2019-03-07 01:08] Fmajor commented on #2061
thanks, i have write anoter function`testInitDone` and put it into the before hook

anyway, i saw the `delay` option in other packages with the `watch` feature, maybe there are conditions that people must use this feature

[2019-03-08 11:07] sprguillen opened #2063 "NuxtJS/VueJS recipe for ava"
Hello, I'm having an error on my component testing when there is a vue mixin on it

[code]

Here is my configuration:

setup.js

[code]

ava.config.js

[code]
logo.spec.js

[code]

Logo.vue

[code]

form-mixin.js (Take note, I shortened the actual code but regardless the point is, it's not working. This is a working mixin).

[code]

I just want ava or vue test-utils to recognize namespaces either

[2019-03-08 23:20] aparajita commented on #2063
You're missing a bunch of config to make aliases work, ava won't read Nuxt's webpack config:

https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#webpack-aliases
https://github.com/shortminds/babel-plugin-webpack-alias-7

**However**, it still won't work even with the documented config. The ava Babel pipeline unfortunately calls babel-plugin-webpack-alias-7 **before** transforming your

[2019-03-09 01:04] okyantoro commented on #2041
Hello @novemberborn

Can I work on this?

[2019-03-11 00:55] vjpr commented on #1820
Just tried this out and it didn't solve all my problems.

When reading the config, it seems to be enforcing strict mode which is breaking my usage of the `caller-id` package.

[code]

---

It also doesn't seem to work with the `module-alias` plugin.

[code]

[2019-03-12 08:59] novemberborn commented on #2061
I can see it being useful if the watcher picks up on files written by another process, and those files are written more slowly than it currently allows for. I don't recall anybody reporting such problems, though.

[2019-03-12 09:02] novemberborn commented on #2041
Yes please, @okyantoro!

[2019-03-13 13:46] shellscape opened #2066 "docs: requesting thorough helper documentation"
## Description

I'd like to request some more thorough documentation around helpers. Helpers can be extremely powerful, yet they have received very little attention in the documentation. For example, see: https://github.com/avajs/ava/blob/master/docs/recipes/puppeteer.md. This document mentions using a helper to wrap and return a function to the test which has an additional parameter, but the doc

[2019-03-14 09:08] arestov opened #2067 "Feature request: API for real time reporting"
I use ava to run api/integration/end-to-end tests in CI process.

I want to get real time feedback. (Don't want to wait 5 minutes to tests complete to get first failed test).
That is why I've choosed http://reportportal.io and going to send reports in real time to it.

Report portal has API and ready client https://github.com/reportportal/client-javascript (as well as intergration agents with jest

[2019-03-14 19:22] Kaelinator opened #2068 "watch error: JavaScript heap out of memory"
## Description

After about an hour or so of development after executing `ava --watch`, the program hangs for a few seconds, followed by the given error message & stack trace. I just have to restart the watch process and I can go on my merry way for the next hour or so, until it crashes again.

Note that the program is computing through nearly 2 megabytes of example data in order to test. It's not

[2019-03-15 08:23] PM5544 commented on #1908
Our setup uses Rollup to bundle ECMAScript Modules into ESM and ES5 (for unsupported browsers), and we want our tests to also be written in ESM.
After a lot of trial and error the only solution that worked was the one in this comment https://github.com/avajs/ava/issues/1908#issuecomment-422235027

[2019-03-15 11:27] IgnusG opened #2069 ""Previous failure in test files that were not rerun" persists even though the failing test file was rerun"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2069)

## Description
The output of the watch mode is very confusing and more often than not unhelpful. I usually have to rerun the whole command since I'm never sure if the tests passed or not.

I was getting 2 failed tests. So I went ahead and fixed o

[2019-03-15 11:31] IgnusG commented on #2069
I was using jest in a previous project and it has a `watchAll` option which disables its "smart" change tracking and reruns all tests anytime anything changes.

I was quite happy with this behavior. Used it quite often for smaller test suites when I just want to see `all green` or a complete list of every failure from every test.

Maybe ava could make use of something similar?

[2019-03-15 11:37] IgnusG commented on #2069
This works really well: `npx sane ava`
sane is just a file watcher I picked randomly from the registry

[2019-03-15 13:26] pwalczyszyn opened #2070 "Feature request: pass test additional arguments to beforeEach function"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/2070/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/2070)

Would be cool if we had access in `beforeEach` hook to additional arguments that can be passed to each test. Kinda like it's demonstrated in [macros](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#reusing-test-logic-through-macros) docs. Th

[2019-03-16 16:46] skycult opened #2072 "Debug AVA with VS Code into a Lerna project"
Thank you for your awesome test runner! I've only a problem using a Lerna monorepo. I use `lerna bootstrap --hoist` to avoid a lot of duplicated modules into every single project inside the monorepo. If I try to debug a test using VSCode configured following your [guide](https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md), I'm not able to debug because the program `${wo

[2019-03-17 16:37] novemberborn commented on #2063
The joy of Node.js-style `require()` calls and ES modules 😄 You could transform the imports earlier by adding the necessary Babel plugin.

Will leave this open as it sounds like our [Vue recipe](https://github.com/avajs/ava/blob/master/docs/recipes/vue.md) could be improved. @sprguillen @aparajita either of you interested in opening a PR with changes?

[2019-03-17 16:39] novemberborn commented on #1820
@vjpr could you share fuller samples of your config files?

[2019-03-17 16:56] novemberborn commented on #2066
Yes this is most definitely welcome!

[2019-03-17 16:57] #2055 closed

[2019-03-17 17:00] novemberborn commented on #2067
We have `--tap` output which is parseable by other programs. I like the idea of an integration you can load into the main process, which can then report progress to services like these.

(Note that this would *not* be a custom CLI reporter.)

Is this something you want to investigate implementing, @arestov?

[2019-03-17 17:02] novemberborn commented on #2068
This sounds like there's a memory leak when running watch mode. That's definitely a bug.

[2019-03-17 17:07] novemberborn commented on #2069
I think there's a bug with the "previous failure in test files that were not rerun". I've also noticed it showing even though I resolved all failures.

---

Did you know you could press `r + enter` and AVA reruns all test files?

[2019-03-17 17:08] novemberborn commented on #2070
Yes that makes sense to me.

[2019-03-17 17:14] novemberborn commented on #2072
I think it should work if you change that value so that it points at your actual AVA installation.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-03-17 17:14] #2072 closed

[2019-03-17 17:17] aparajita commented on #2063
I really wanted ava to work, it looks promising. But we lost a full day trying to get this to work and had to give up. mochapack worked immediately.

I've been an open source maintainer [myself](https://github.com/sublimelinter) so I admire what you're doing. Keep up the good work! And remember that every hour spent on better documentation is 5 hours less of support. 😁

[2019-03-18 07:47] #2041 closed

[2019-03-18 11:51] IgnusG commented on #2069
Yeah, knew that. It's just 2 more key presses than I would prefer :)

[2019-03-18 22:37] skycult commented on #2072
Yes I solved putting the AVA absolute path.
Thank you

[2019-03-19 05:40] theKashey commented on #665
Dependency injection to the rescue ([rewiremock](https://github.com/theKashey/rewiremock) with babel plugin)
[code]
PS: With common js `require` it would be a bit easy, and you will be able to use mockery, for example, to do the same.

[2019-03-19 23:47] lotosotol commented on #840
I have a similar issue retrieving the status of the test suite, I am talking about the full test suite's status which I need to pass to BrowserStack (which accepts passed or failed) - would be great to have the ability to retrieve this before closing browser's window either before calling the .quit() method.

[2019-03-20 22:52] a-deeb commented on #1934
Hi, can help out and continue where things were left off, I just made a PR

[2019-03-21 03:51] a-deeb commented on #1934
PR #2074

[2019-03-21 08:45] novemberborn commented on #1934
@a-deeb thanks, I'll have a look. If you've got questions about GitHub please comment on your PR here: https://github.com/avajs/ava/pull/2076 there's no need to close it and open a new one.

[2019-03-21 12:44] a-deeb commented on #1934
Thanks @novemberborn , if i have any questions ill ask here, and ill do my best to add this feature.

[2019-03-21 16:07] Saul-Mirone commented on #1957
Hi guys, I found a way to use power-assert and typescript with ava!

npm install -D espower-typescript ts-node ava

[code]

Then just run:
`$ TS_NODE_TRANSPILE_ONLY=1 npx ava`

[2019-03-22 02:03] a-deeb commented on #1934
Sorry for opening and closing the PR I had opened before , I did too many commits on it , the changes i made kept failing the tests, to go back to previous version or to the original is the command git checkout -f or git reset --hard or git-revert ,Also I am trying to continue where  @miguelsolano left off

[2019-03-22 02:23] klarkc commented on #1980
Happening to me with this config:

[code]

[2019-03-22 08:15] novemberborn commented on #1934
@a-deeb don't worry about the commit history, we can fix that when we land the PR. There's many different ways of going back to a previous version. Perhaps give GitHub Desktop a try. They've got a post on it here: https://help.github.com/en/desktop/contributing-to-projects/reverting-a-commit

This post has some good information on pushing changes: https://www.atlassian.com/git/tutorials/syncing/gi

[2019-03-22 11:05] pierreh commented on #1692
Please consider my pull request #2078

[2019-03-22 11:05] pierreh commented on #1485
Please consider my pull request #2078

[2019-03-22 14:01] a-deeb commented on #1934
Thanks again @novemberborn  !

[2019-03-23 13:40] Christilut commented on #1957
Doesn't work for me sadly :(

It just says that `Value is not 'true'` now for a t.true() assertion and the line number it shows is way off. Doesn't show any power assertion.

[2019-03-24 04:09] Saul-Mirone commented on #1957
I just found that just set the `compileEnhancements` as true and run `$ TS_NODE_TRANSPILE_ONLY=1 npx ava` is ok, you don't need require the `espower-typescript`, the stack info works correctly.

[2019-03-24 20:40] mihai-dinu opened #2081 "Bind JSON built-ins to allow stubbing"
**See conclusion here: https://github.com/avajs/ava/issues/2081#issuecomment-489430603**

---

## Description

Running a simple test where I'm stubbing the `JSON.parse()` function to return a specific output. In case a failure occurs, ava outputs a "Test failure: Could not serialize error" and then hangs. Same hang appears even if a test passes, but I don't call `sinon.restore()`.

### Test Source

[2019-03-25 00:10] mesqueeb commented on #1973
I have a similar issue, but not with typescript, but regular JavaScript.

I have certain webpack aliases that I also clarified in `jsconfig.js` file in the root of my project like so:

[code]

This makes sure VSCode shows JSDoc style documentation even when using alias imports.
Is it possible to make it so AVA also checks for aliases in `jsconfig.js`, or should I set some special AVA config?

I se

[2019-03-25 03:06] sindresorhus commented on #2081
We should probably do the same as we do with timers and save a reference to the JSON.parse/stringify functions.

https://github.com/avajs/ava/blob/master/lib/now-and-timers.js

[2019-03-25 08:36] novemberborn commented on #1973
@mesqueeb you need to make sure that Node.js resolves those aliases. This PR contains a solution, but I think it's in the wrong place. Perhaps you could give it a try and help out with documenting it? https://github.com/avajs/ava/pull/2071

[2019-03-25 11:30] dnlup commented on #2063
@aparajita @sprguillen
I made a small plugin to do unit testing in Vue.js projects. If you could give me some feedback it would be nice. I went for the *compile with webpack* approach.

https://github.com/dnlup/vue-cli-plugin-unit-ava

[2019-03-26 17:16] vogre opened #2082 "TypeScript defintions are missing the .assert() assertion"
## Description

The TypeScript definitions file is missing the 1.4.0 (power-assert) `assert` assertion:

### Test Source

[code]

### Error Message

[code]

## Environment

ava version 1.4.0

[2019-03-27 07:32] novemberborn commented on #2082
Oops, here I was feeling happy about remembering to update our ESLint rules! 😊

[2019-03-27 08:29] #2082 closed

[2019-03-27 08:59] pollard93 opened #2085 "Ava rerunning all tests when changing single test file, when using .ts files."
## Description

Ava rerunning all tests when changing single test file, when using `.ts` files.

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

[code]

## The cause (I believe)

`node_modules/ava/lib/watcher.js:370` filters `dirtyTests` using the `isTest` function (`node_modules/ava/lib/ava-files.js:208`) whi

[2019-03-27 11:26] novemberborn commented on #2082
Out as 1.4.1.

[2019-03-27 14:05] revelt commented on #1472
I'm back after 1.5 years, still using ava, unit tests are getting out of control, it's very difficult to work on a feature by isolating it in one of test files. This feature is a must-have.

[2019-03-31 10:26] novemberborn commented on #1505
The V8 inspector is available programatically, which could be another interesting approach: https://nodejs.org/api/inspector.html

[2019-03-31 14:23] novemberborn commented on #2081
I'm not so sure. Faking timers isn't great but sometimes unavoidable. Stubbing `JSON.parse()` feels like it's going too far.

[2019-03-31 14:44] novemberborn commented on #2085
Oh good catch! It needs to check against `this.extensions`:

https://github.com/avajs/ava/blob/9ef456bf1a07d35c02906b663af9fe41bb7d1fb9/lib/ava-files.js#L208

[2019-03-31 14:45] novemberborn commented on #1472
@revelt perhaps you might have some time to help us out here?

[2019-04-01 15:05] revelt commented on #1472
Maybe it's an inefficient way but I think I have an MVP of this feature implemented on my local fork.

I haven't wired up CLI flag `--only` to trigger this but all files are (synchronously) read and we check for both `.only(` or secret keyword `avaonly`. If either keyword is found, that particular test file is output as `findTestFiles()` result.

This gives actually **two new features**:

1. `.onl

[2019-04-01 23:53] rubeniskov commented on #909
Two years later... 😞 any update on this? I think that exclusion makes more injuries than benefits, I have the same "issue" using helpers folder as utilities for a module. It's quite hardcore to change my whole project structure because the test runner can't accept a override exclusion. I think this is very restrictive, and also It tooks me while to realize of that inconvenient, Even when the docum

[2019-04-04 06:42] mesqueeb opened #2087 "Replacement for toHaveBeenCalledWith"
I need to check if some mocked functions have been called with certain params.
In Jest I could use [toHaveBeenCalledWith](https://jestjs.io/docs/en/expect#tohavebeencalledwitharg1-arg2-). Is there anything close to this in AVA?

[2019-04-06 14:20] novemberborn commented on #1472
@revelt the problem with looking for substrings is that any other API you're using in your test file that happens to match the substring causes AVA to ignore all other files.

[2019-04-06 14:27] novemberborn commented on #2087
Hi @mesqueeb. AVA doesn't come with any mocking utilities. I'm partial to https://github.com/testdouble/testdouble.js/. https://sinonjs.org is nice too.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-04-06 14:27] #2087 closed

[2019-04-07 23:05] coreyfarrell opened #2089 "Conflict between ava and nyc when nyc uses @babel/register."
## Description

When something causes `@babel/register` to be required to the ava process this can cause a parse error for ava.config.js.

### Test Source

N/A

### Error Message & Stack Trace

[code]

### Config

Any `ava.config.js` ES module, even an empty config:

[code]

`babel.config.js` with `@babel/plugin-transform-modules-commonjs`:
[code]

### Command-Line Arguments

Two commands can repr

[2019-04-08 14:04] coreyfarrell commented on #1976
@novemberborn could you reopen this?  I'm experimenting with some potentially advanced features of nyc.  Specifically if we run `nyc --require ./reconfigure-nyc.js ava` this will cause nyc to wrap each node sub-process and `./reconfigure-nyc.js` will be required.  I'd like to experiment with features such as restricting the nyc `include` option based on which test is currently running.  Pseudo-cod

[2019-04-09 08:41] novemberborn commented on #1976
@coreyfarrell I think you're running into something else. https://github.com/avajs/ava/pull/2035 changed how the test file is passed to the worker process, so it's no longer available through `process.argv` no matter how early you hook it.

We'll also, at some point, support different styles of workers, see https://github.com/avajs/ava/pull/2011. Of course it'd be fine if not all of those modes ca

[2019-04-09 08:43] novemberborn commented on #2089
That's my preferred solution. Happy to take a PR to the documentation / recipes which brings up this edge-case.

Ultimately you're changing the environment AVA is running in, breaking its assumptions. I don't think we need to cater to that.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-04-09 08:43] #2089 closed

[2019-04-09 10:53] coreyfarrell commented on #2089
CC @kevinji.

@novemberborn this seems reasonable to me.  Maybe it's possible/useful to capture the error and produce a more specific error from ava instead of letting the user see the node.js module loader stack trace?

[2019-04-09 11:04] coreyfarrell commented on #1976
So you're suggesting that ava would set `process.env.AVA_TEST_FILE_FOR_DEDICATED_WORKER_PROCESS='test/feature1.js'` that way an nyc `--require` hook could see that and perform desired manipulations of the configuration?

I'm a little unclear from #2011, looks like this will require that we disable one/more options to get the current process per test behavior?

[2019-04-09 20:16] novemberborn commented on #2089
Yes, though looking at the code I'm not even sure how that error would occur: https://github.com/avajs/ava/blob/ebf480779b826dcccc86376caf8ca5af4273e912/lib/load-config.js#L17

[2019-04-09 20:18] novemberborn commented on #1976
Precisely.

We'll see where we settle on as far as the default behavior is concerned, but I can see how certain modes may not work with your use case. But then again they also won't work if you modify globals, so it'll be really project specific.

[2019-04-11 13:05] coreyfarrell commented on #2089
@kevinji @novemberborn I've investigated further, what we are seeing is standard-things/esm#773.  So it looks like this will be fixed in the next release of esm.  I've verified that with `esm@3.2.20` it's OK if `@babel/register` translates ava.config.js to CJS.  I also verified the issue is resolved with a locally built copy of `esm#master`.

As an alternative @kevinji you could pin esm in your ow

[2019-04-12 00:58] kevinji commented on #2089
@coreyfarrell Sweet, thanks for spending the time to look into the issue!

[2019-04-12 14:48] glenndevenish commented on #1316
That webpack recipe is a broken link now...

[2019-04-13 17:55] vinayakkulkarni commented on #2063
https://github.com/vinayakkulkarni/nuxt-ava-e2e-unit-testing

Here's an example of Nuxt & Ava (Unit & E2E tests with Coverage)

[2019-04-14 15:06] novemberborn commented on #1316
@glenndevenish yea it's been removed. IIRC because it had gotten too outdated.

[2019-04-16 10:06] GMartigny opened #2090 "Add a `--node-arguments` flags"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2090)

## Description

It could be useful to be able to de define the flags of the Node process running AVA. [A comment](https://github.com/avajs/ava/issues/1810#issuecomment-394367019) by @novemberborn scratch the surface, but apparently it never got r

[2019-04-16 14:44] teramotodaiki opened #2091 "Internal error after git submodule add babel repository"
## Description

After added babel as a submodule into my project, AVA throws an Internal error.

- git init
- npm init
- npm i -D ava
- git submodule add https://github.com/babel/babel.git
- npx ava →Internal error

### Test Source

Here is a tiny repository to reproduce above error.
https://github.com/teramotodaiki/ava-git-submodule-error

### Error Message & Stack Trace

[code]

More detail is h

[2019-04-17 15:34] elhigu commented on #1505
@novemberborn Actually that seems to work really nice. No need to setup separate test runner scripts to package.json to run in serial mode etc. and when ever I need to stop execution to wait for debugger I can call in test this:

[code]

[2019-04-17 15:49] xieyuheng opened #2094 "what are failing snapshots ?"
like in :
[code]

and in : https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#updating-snapshots

[2019-04-18 11:59] #2094 closed

[2019-04-19 13:08] novemberborn commented on #2090
Thanks for opening this, @GMartigny. Should it be `--node-args` though?

[2019-04-19 13:11] novemberborn commented on #2091
AVA is trying to execute the test files inside the Babel submodule. That doesn't work because they're written with Flow, and not meant for AVA anyhow. Update the `files` option to only select tests inside the `test` directory, e.g. `test/**/*.js`.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-04-19 13:11] #2091 closed

[2019-04-19 13:23] GMartigny commented on #2090
@novemberborn, yes you're right since `--update-snapshots` and `--reset-cache` are kebab-case.

[2019-04-19 14:23] teramotodaiki commented on #2091
Thank you for answering. I have change configuration into some patterns, but same error was thrown. :(

1. Write only `test` directory
[code]

Actual commit: https://github.com/teramotodaiki/ava-git-submodule-error/commit/07dbe64d575c602ab1bff449a66109251b42a785

But same error was thrown.
https://travis-ci.org/teramotodaiki/ava-git-submodule-error/builds/522160851

2. Disable `babel` directory
[c

[2019-04-19 16:12] novemberborn commented on #2030
@sindresorhus I still don't agree this change is necessary, but now would be the time.

[2019-04-19 16:15] novemberborn opened #2097 "Move Flowtype definitions out of this repository?"
I wonder if we should remove the Flowtype definitions from the `ava` package. None of the maintainers use it. We'd ship it under `@ava/flowtype` instead. I found https://github.com/flow-typed/flow-typed which describes this as being possible.

@sindresorhus what do you think?

[2019-04-19 18:31] sindresorhus commented on #2097
👍

[2019-04-20 05:31] maschwenk commented on #1228
Any plans to fix this? I have this exact issue and don't really have recourse? I'd be happy with a workaround (even if hacky)

[2019-04-20 06:57] sindresorhus commented on #2030
Closing. It's not important. Just would be nice with consistency. It wouldn't change the behavior at all anyway.

[2019-04-20 06:57] #2030 closed

[2019-04-20 15:37] novemberborn opened #2099 "Consider not updating snapshots automatically"
It may be considered odd that AVA automatically updates snapshots. From @billyjanitsch https://github.com/avajs/ava/issues/1585#issuecomment-379589219:

Then from @novemberborn https://github.com/avajs/ava/issues/1585#issuecomment-379672636:

[2019-04-20 15:38] novemberborn commented on #1585
I've opened https://github.com/avajs/ava/issues/2099 to track this.

[2019-04-22 09:58] #2097 closed

[2019-04-22 12:50] kaelzhang commented on #1980
The issue always reproduces when `package.json.ava.babel: false`

[2019-04-24 21:55] Laoujin commented on #413
Could we add some configuration for the colors?

chalk.js:
[code]

colors.js
[code]

I tried the following but it didn't take :)
[code]

Would a PR with an additional colors configuration option be merged?

Example `package.json`:
[code]

[2019-04-25 07:04] novemberborn commented on #413
Hi @Laoujin, thanks for the feedback. I think ideally we'd have a theme suitable for color blind users. I'm not sure if there's any standard for CLI tools on how to indicate that preference. We could switch it based on an environment variable — that way you could configure it in your shell and any AVA-using project would pick it up, without needing additional configuration. What do you think?

[2019-04-25 15:51] Laoujin commented on #413
I don't think you can have a "color-blind safe theme" because there are different types of colorblindness: What works for the red/green guys might not be suitable for other types of colorblindness.

But yeah, if there is **any** way to change red to any other color (I usually pick magenta), then I will be very happy.

If you can give a few pointers (ie: implement this like xxx), then perhaps I can

[2019-04-25 16:01] davewasmer commented on #413
@Laoujin configuring the colors certainly isn't a bad feature to add, but if you're looking for a stop-gap solution, most terminals allow you to configure your color scheme such that when ava prints something "red", you can pick what that red color is.

I've done this with my terminal setup, as mentioned above, and found it immensely helpful even outside of ava (since it affects all the terminal c

[2019-04-26 03:59] CrispusDH commented on #1808
It could be closed?

[2019-04-26 04:01] #1808 closed

[2019-04-27 19:15] krisnye commented on #1844
console.log should always show up by default. This is bad behavior. When we add a console.log we always expect to be able to see it.

[2019-04-28 12:37] novemberborn commented on #413
Yea fair enough.

I think if we can make sure we have semantic names for the colors we use, and we can configure those through a straight-forward object, then we could support an `AVA_COLORS` environment variables containing a JSON-encoded object. We'd decode that and merge it with the defaults. We can list sample values in the documentation.

[2019-04-28 12:39] #1585 closed

[2019-04-28 12:39] #1125 closed

[2019-04-28 15:37] novemberborn opened #2105 "Support `helpers` globs"
#2103 removes AVA's support for finding helper files inside `helpers` directories. Instead we'll support this by letting users specify glob patterns to find helpers:

* Implement `helpers` configuration. If specified, it must be an array containing at least one pattern
* Any test files matched by `helpers` patterns must be treated as helpers
* Watch mode must ensure that helpers are treated as sou

[2019-04-28 15:38] novemberborn commented on #1319
See https://github.com/avajs/ava/issues/2105.

[2019-04-28 15:38] #1319 closed

[2019-04-28 15:43] novemberborn opened #2106 "Allow global exclusion patterns to be configured"
As of #2103, AVA ignores [certain directories](https://www.npmjs.com/package/ignore-by-default) by default, including any `node_modules` directories. We should make it possible to configure AVA with a custom set of exclusion patterns, overriding these defaults. For instance this can be used if you only want to ignore certain `node_modules`.

This can also be used to make the watcher more efficient

[2019-04-28 16:00] #909 closed

[2019-04-28 16:00] #1173 closed

[2019-04-28 16:00] #1228 closed

[2019-04-28 16:00] #2085 closed

[2019-04-28 16:00] #736 closed

[2019-04-28 16:00] #1418 closed

[2019-04-28 16:00] #1501 closed

[2019-04-28 16:00] #1540 closed

[2019-04-28 16:00] #1793 closed

[2019-04-28 16:00] #1288 closed

[2019-04-29 00:12] isaacs commented on #413
@novemberborn I did a lot of research into this a few years ago, and haven't heard any complaints about TAP ever since.  https://github.com/avajs/ava/issues/413#issuecomment-170296995 sums it up.  The feedback I got from a bunch of people who struggle with this was:

- Use Sim Daltonism to simulate what the output looks like to various color sensitivities, and pick one that is the least useless in

[2019-04-29 10:15] xieyuheng opened #2109 "support BigInt literal, (such as `123n`)"
example:
[code]

error:
[code]

[2019-04-29 17:19] szmarczak opened #2110 "Display internal Node.js stacktrace if no user stacktrace is present"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2110)

### Current behavior

![image](https://user-images.githubusercontent.com/36894700/56914132-a0bde300-6ab3-11e9-8260-7c3530dc407f.png)

## Expected behavior

[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total:

[2019-04-30 06:05] sindresorhus commented on #2110
Makes sense to me.

I also notice we don't show the `.code` property. We should show that if it's not empty, no matter what.

[2019-04-30 09:02] szmarczak commented on #2110
It should also display `No user stacktrace present.` IMHO

[2019-04-30 14:55] #2109 closed

[2019-05-01 09:03] langri-sha commented on #1505
It would really be nice if we could just pass a convenient `--inspect`.

I've read the guide https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-chrome-devtools.md here and found it requires a bit of muscle power to point to an actual test module and think this would be just the thing to take that work away.

[2019-05-01 16:17] coreyfarrell commented on #2105
Do you plan to make the default helpers pattern be `['**/_*', '**/helpers/**']`?

Also is this a good place to query about the plans for `**/fixtures/**`?  The ability to put fixtures in `test/fixtures/` is useful because nyc already ignores `test/**`.

[2019-05-01 19:05] novemberborn commented on #2105
No. By default, the only helper files are those matched by the test file patterns that start with an underscore. Given how test file extensions can be configured, it's too confusing to have default `helpers` patterns. And it's been causing performance issues for users who don't use helpers but have large repositories.

Ah I forgot to note that in the release. These files are no longer ignored, and

[2019-05-02 04:14] sindresorhus commented on #2090
I would prefer `--node-arguments`. You don't really gain much from shortening it.

It should also be possible to set it as a AVA config property.

[2019-05-02 04:31] sindresorhus commented on #1984
I think it should be named `meta.snapshotDirectory`.

[2019-05-02 06:05] sindresorhus commented on #1378
👍

[2019-05-02 06:07] sindresorhus commented on #1703
Is it still blocked on this. Can you link to the PR/issue that blocks it?

I think it would be better to exit watch mode in that case.

[2019-05-02 06:09] sindresorhus commented on #1685
@novemberborn How about [this one](https://github.com/sindresorhus/type-fest/blob/c6a3d8c2603e9d6b8f20edb0157faae15548cd5b/source/basic.d.ts#L56)?

[2019-05-02 06:14] sindresorhus commented on #1229
Globby now has a [`gitignore` option](https://github.com/sindresorhus/globby#gitignore).

[2019-05-02 06:24] sindresorhus commented on #997
The fix landed in Node.js 8.1.0, so we can do this now.

[2019-05-02 06:25] sindresorhus commented on #1427
@novemberborn Can we close this as we're not using AppVeyor anymore?

[2019-05-02 06:32] #989 closed

[2019-05-02 06:53] sindresorhus commented on #1033
This should not be a problem as we now enforce tests to have unique titles.

[2019-05-02 07:03] sindresorhus commented on #2081
AVA is for testing stuff though. Sometimes stubbing is the only way to test something. Preferably, AVA should gracefully handle any global property being stubbed.

[2019-05-02 07:10] sindresorhus commented on #2043
I guess.

Note that the latest AVA beta release moves to not to support a directory input for test files: https://github.com/avajs/ava/releases/tag/v2.0.0-beta.1

I don't see the point in requiring the dot. Why would it have been a better choice?

[2019-05-02 07:11] sindresorhus commented on #2043
To address the actual issue, this would IMHO be better solved by moving to transpile everything and add first-class TypeScript support. Then none of this config would be needed in the first place.

[2019-05-02 08:04] GMartigny commented on #2090
As a string, an array or both ?

[2019-05-02 08:38] novemberborn commented on #997
I did, in #2096.

[2019-05-02 08:38] #997 closed

[2019-05-02 08:39] novemberborn commented on #1229
Does Globby take care of that? Otherwise overriding exclusion patterns is too difficult. But maybe we can support it as a configuration option.

[2019-05-02 08:40] novemberborn commented on #1685
@sindresorhus I don't use observables much, so sure 😄

[2019-05-02 08:40] #1427 closed

[2019-05-02 08:44] novemberborn commented on #2043
With 2.0 you can select all files, and AVA will filter down to the ones for which an extension is configured.

Yea I don't know. Compatibility, I guess.

@sindresorhus are we agreed to add `.spec.js` to the patterns? It could be considered a breaking change so now's the right time to do it.

[2019-05-02 08:45] novemberborn commented on #2090
Array.

Are there use cases for specifying these flags as a one-off when you run AVA through the CLI, or should we *only* support them as a config property, since you'd want to use them all the time?

[2019-05-02 09:11] sindresorhus commented on #2090
I would say both. For example, you get a warning that you're using a deprecated Node.js API, but it doesn't show a stack trace, so you need to pass in a certain CLI argument to Node.js to force it to show where the warning came from. You only need that once.

[2019-05-02 09:12] GMartigny commented on #2090
Off the top of my head, I see a difference between running test locally and through CI. Maybe for environment purpose too like no having the same flags on different node versions.

[2019-05-02 09:12] sindresorhus commented on #2043
👍 Yes, it's a common pattern.

[2019-05-02 09:21] sindresorhus opened #2112 "Add ability to set environment variables for the process in the AVA config"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/2112/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/2112)

I'd like to see a config property called `environmentVariables` that lets the user set environment variables that are injected into the test file processes. I have often needed to set some test-only environment variables, but it's not easy to do this in a cro

[2019-05-02 15:01] vinayakkulkarni commented on #2112
What about something like this: https://github.com/vinayakkulkarni/nuxt-ava-e2e-unit-testing/blob/master/package.json#L14-L15

[2019-05-03 05:46] mihai-dinu commented on #2081
I was able to stub JSON.parse() using `jest`, so this problem arose when I was trying to move to `ava`.

The more concrete scenario that I have is that I am reading a config file from disk that is stored in json format. So I have a something like this:

[code]

Now, I want to test `getPropFromConfigFile` without having to export `readConfigFile` since that's only used in the above exported functio

[2019-05-03 06:08] sindresorhus commented on #2112
@vinayakkulkarni That doesn't work cross-platform, proving my point:

[2019-05-03 18:46] StuAtGit commented on #421
Chiming in. Albeit with caveats. There are some other (social) processes that are triggering my situation.

Was told "We're using ava for tests, not anything else".. why? It's better, it runs everything in parallel, so speed. Hmm.. but every test I see is marked with "serial()", "Well those tests are bad, good tests can be run in parallel".

Why are they all marked with serial? "Because we're usin

[2019-05-05 13:49] novemberborn commented on #2110
It's a little jarring when there is no stack trace. But, if the Node.js trace lines are useful here, why wouldn't they be useful in other situations?

Should we perhaps color code the trace lines but not filter any?

Agreed we should show all properties of the error.

[2019-05-05 13:57] novemberborn commented on #1703
I think I closed my own PR due to inactivity 😄

Yes, though is it even worth trying to figure out if the Babel options (and / or installed plugins) changed?

[2019-05-05 14:10] novemberborn commented on #2043
OK I've opened a PR for selecting `spec.js` files. I think that addresses everything raised in this issue so far.

I'm closing this issue for housekeeping purposes, but let's keep the conversation going.

[2019-05-05 14:10] #2043 closed

[2019-05-05 14:13] #1685 closed

[2019-05-05 14:16] novemberborn commented on #2081
OK. Let's change `now-and-timers` to `bound-builtins`:

* Re-export `timers`
* Export `now` from `Date.now`
* Export a `JSON` object with bound `parse` and `stringify` methods

[2019-05-05 19:41] mihai-dinu commented on #2081
I can take a swing at making the changes you've mentioned - doesn't seem to be too difficult.

[2019-05-06 08:37] sindresorhus commented on #1703
It might prevent some weird staleness issues. We don't need to detect what changed, only that *something* changed in the Babel-related stuff.

[2019-05-06 08:46] sindresorhus commented on #2110
It's the difference between the error originating from your own code or from Node.js itself. If it originates from your own code, you don't really care or want the Node.js code frames, but if the error originates from Node.js, you definitely want them for context or being able to report it to the Node.js team.

[2019-05-07 04:33] dandv commented on #1641
Indeed, it didn't work. I tried `node --experimental-modules node_modules/.bin/ava ava-test.mjs` and got

[2019-05-07 04:37] dandv commented on #1810
Came here after the Node 12 release announced the anticipating dropping of the `--experimenta-modules` flag in October.

I was hoping I'd be able to run my `.mjs` tests without Babel, since [Jest can't do that](https://github.com/facebook/jest/issues/4842). Can Ava already somehow, or do we need #2090 solved first?

[2019-05-10 07:33] novemberborn commented on #1525
This was resolved with #2052.

[2019-05-10 07:33] #1525 closed

[2019-05-10 18:53] yovasx2 opened #2118 "Tap reporter not returning valuable info"
While integrating with puppetter the stack trace is cool:
[code]

But if we use the `tap` formatter, it returns the first element that is not so valuable:
` 'new WaitTask (node_modules/puppeteer/lib/DOMWorld.js:561:28)'` extracted from:
[code]

instead `  click (test/suite/browser/signin/signin.ad.spec.js:42:16)`

[2019-05-11 06:14] grnch commented on #2112
I've found [`cross-env`](https://www.npmjs.com/package/cross-env) to be a great solution for cross-platform environment variables in NPM tasks.

Let's say you have some NPM script like this that works only on Linux or Mac:

`NODE_ENV=test ava`

All you need to do is just slap `cross-env` in front and you're good to go:

`cross-env NODE_ENV=test ava`

Now it works on Windows too.

If you've already

[2019-05-11 07:19] sindresorhus commented on #2112
@grnch I know about `cross-env`. It's ok, but the commands quickly get messy with it, especially if you need to quote stuff. Using environment variables for tests is a common use-case and AVA can ship with something better built-in.

[2019-05-12 12:49] #2049 closed

[2019-05-12 12:50] novemberborn commented on #1810
@dandv for now, I'd like to solve this through #2090. Closer to October we can get AVA ready to support ESM natively.

[2019-05-12 12:57] novemberborn commented on #2118
What does the TAP spec say about representing stack traces?

[2019-05-13 02:07] 3cp commented on #2038
Pls fix a small typo. Your first sample code is incorrect, while the other sample code is correct. This workaround should be a good addition to the doc.

[2019-05-14 07:28] Gaetan-dc opened #2122 "Cannot find module xxx/*.png"
## Description

Hello,

I have a solution which uses Parcel and runs correctly. I want to implement Ava for testing, however I run into this error : Error: Cannot find module '../../images/modules/*.png'
I have tried a lot of tricks about esm/babel from the documentation but I just can't get it to work. I know my way around javascript but I'm pretty new to the whole npm pipeline.

### Test Source

[2019-05-14 07:36] sindresorhus commented on #2122
This is a non-standard import specifier `../images/modules/*.png`. You need to specify the appropriate Babel plugins in the AVA config that can handle importing  images and using globs.

[2019-05-14 11:00] Gaetan-dc commented on #2122
Thanks, I tried installing babel-plugin-transform-assets-import-to-string and babel-plugin-import-glob (and adding them to the config), but couldn't get it to work either.

I was also wondering why it works with Parcel, so I read their docs a bit more and it turns out they use Babel with the @babel\preset-env to transpile : https://parceljs.org/javascript.html#default-babel-transforms
I tried usin

[2019-05-14 19:30] a-rodin opened #2124 "--fail-fast flag does not work when test files are specified in the command line"
Hi!

Let us say that there are two test files, `test/one.test.js` and `test/two.test.js`. Both of them contain tests that are passing and tests that are failing.

This command stops executing tests after first fail as expected:

[code]

However, this command executes all tests from `test/one.test.js`:

[code]

This behavior is observed for versions `1.4.1` and `2.0.0-beta.1`.

Thanks!

[2019-05-14 19:41] #2124 closed

[2019-05-14 19:42] novemberborn commented on #1685
@sindresorhus I'm not sure we fully understood this change. #1236 referred to a Flowtype issue. For TypeScript, before this change, anything with a `subscribe()` would've been a valid test implementation return value, but now it *also* needs the `[Symbol.observable]()` function. Do we want to require that second property? Should we support *either* property instead?

[2019-05-14 19:48] sindresorhus commented on #1685
I feel that "just a `subscribe` function" is too loose. It could accidentally match just a normal object too. The TS type now ensures it's an actual Observable. All the Observable libraries I know of uses `Symbol.observable`. We can reconsider if it causes any problems.

[2019-05-15 18:27] Awatatah opened #2125 "import test -> SyntaxError: Unexpected identifier"
## Description

Basic installation fails on ava test with typescript is giving me the below stacktrace.

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config
*tsconfig.json*
[code]

*package.json*
[code]

## Environment

Tell us which operating system you are using, as well as which versions of Node.js, npm, and AVA. Run the following to get it quickly:

[code]

[2019-05-16 15:39] industral opened #2127 "SyntaxError: Invalid or unexpected token: Symbol.iterator"
**package.json**

[code]

**index.spec.js**

[code]

Running it, got an error:

[code]

[2019-05-17 22:23] futpib opened #2129 "Feature request: dependencies between tests / partially ordered (serial) tests"
Between running all tests in parallel and running all tests serially there is a middle ground of enforcing a certain ordering of tests (which is currently not supported).

Imagine an endpoint, puppeteer or any other end-to-end test, which has to tests these scenarios:
1. Register a user
2. `N` tests for each free feature
3. Upgrade to a paid plan
4. `M` tests for each paid feature
...

These are n

[2019-05-18 17:33] ahukkanen commented on #2099
I am currently writing a modification to a library that uses AVA for the tests and I found the current behavior very confusing before I bumped into the original issue (#1585) comments. There is also no mention about this behavior in the documentation:
https://github.com/avajs/ava/blob/master/docs/04-snapshot-testing.md

This change would be highly welcomed for newcomers. This is my first time ever

[2019-05-18 19:42] mihai-dinu commented on #1399
I'd like to take a stab at this. I will open a PR with some preliminary/not unit tested code to see if I understood the requirement right.

[2019-05-19 11:46] novemberborn commented on #2081
As discussed in https://github.com/avajs/ava/pull/2117#issuecomment-491607970 we're not sure how to deal with this. Closing, but please comment if you have a solution.

[2019-05-19 11:46] #2081 closed

[2019-05-19 11:47] novemberborn commented on #2038
@3cp I don't think we've properly documented this at all. Would you be interested in converting this approach to a recipe?

[2019-05-19 11:50] novemberborn commented on #2122
`@babel/preset-env` won't make this work.

Going by the name of that plugin, it sounds like you're on the right track.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-05-19 11:50] #2122 closed

[2019-05-19 12:17] novemberborn commented on #2125
You've configured TypeScript to emit ESM syntax, which Node.js does not yet support. If possible you should change the `target` when running tests, but I'm not sure how that'd work with `ts-node`. You could also try the `esm` package but again I'm not sure how that interacts with `ts-node`.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-05-19 12:17] #2125 closed

[2019-05-19 12:23] novemberborn commented on #2127
There's an exception in `node_modules/node-fetch/lib/index.js`. I wouldn't have expected that with Node.js 12 though.

I see you're using `esm`. Perhaps try disabling AVA's transpilation of the `import` syntax: https://github.com/avajs/ava/blob/master/docs/recipes/babel.md#preserve-es-module-syntax. That's all I can think of, really.

(I'm closing this issue for housekeeping purposes, but let's ke

[2019-05-19 12:23] #2127 closed

[2019-05-19 12:39] novemberborn commented on #2129
You could build this on top of AVA. `test()` can be called asynchronously, as long as all tests are registered in one go. This means you could wrap `test()` with some other function that manages the dependencies. Then, wrap the test implementations so make sure you await previous tests before running.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-05-19 12:39] #2129 closed

[2019-05-19 13:51] futpib commented on #2129
If it was built on top of AVA, I imagine it messing up various AVA features:
* `beforeEach`/`afterEach` order will be like in a parallel run, when it should be in dependency order as well
* `test.only`/`ava --match` - with in-framework support, AVA could run selected test with their dependencies. An implementation on top of AVA can not control this
* failure in a dependency test (that is `await`'e

[2019-05-19 14:01] novemberborn commented on #2129
I'd really like to see something like this built on top of AVA before considering how we may add such flow control to AVA itself. It's quite an advanced concept.

Yes, but you could enforce that similarly to how you'd have to order the test themselves.

True, but that just raises the question: would those AVA features even be compatible if we'd implement this ourselves?

You could fail subsequent

[2019-05-19 14:02] #2105 closed

[2019-05-19 14:36] trbrc opened #2132 "Power assert does not work with argument destructuring"
## Description

Ava supports destructuring of the various assert methods of the `t` argument. However, using `assert` this way appears to break the `power-assert` integration.

### Test Source

#### This works

[code]

The output includes the expression:

[code]

#### This breaks

[code]

The output only includes the values expression was evaluated to:

[code]

### Config

[code]

## Environment

[2019-05-20 07:29] trbrc commented on #2132
I see now that it only detects exactly `t.assert` due to the pattern defined in https://github.com/avajs/babel-preset-transform-test-files/blob/master/espower-patterns.json

This makes me think I can probably change it by customizing AVA’s Babel settings. I will see if I can figure it out. Might this be a good thing to document in the [Babel docs](https://github.com/avajs/ava/blob/master/docs/reci

[2019-05-20 17:53] trbrc commented on #2132
I've modified my `ava.config.js` like this. It turns off the `@ava` preset and installs Power assert with its [default options](https://github.com/power-assert-js/babel-plugin-espower#options), which includes the `assert(value, [message])` pattern.

[code]

Is there anything in this configuration that will be incompatible with AVA?

[2019-05-20 20:47] #2132 closed

[2019-05-21 12:52] Gaetan-dc commented on #2122
Still can't make it work. I have tried to reference [the Babel plugins that Parcel uses](https://www.npmjs.com/package/parcel-bundler?activeTab=dependencies), as well as some things from the ava documentation (register, polyfill), but no luck :

[code]

[2019-05-21 15:00] ttfreeman opened #2136 "Cannot read property 'after' of undefined"
I am running Google Cloud's Bookshelf tutorial ([https://cloud.google.com/nodejs/getting-started/tutorial-app](https://cloud.google.com/nodejs/getting-started/tutorial-app)) that has used AVA for testing. All the tests are running successfully except the last clean-up where test.always.after fails with error: "Cannot read property 'after' of undefined". Here is the code:

[code]

[2019-05-22 22:08] nstanard opened #2137 "Ava Vulnerability"
Vulnerability Report:

path: ava > supertap > js-yaml
https://npmjs.com/advisories/813

Supertap PR for bumping the js-yml version.
https://github.com/vadimdemedes/supertap/pull/2

[2019-05-23 03:48] ttfreeman commented on #2136
There was an error in the file. It's supposed to be test.after.always.cb... Could be because they had used a much older version of AVA. Regardless, closing this now...

[2019-05-23 03:48] #2136 closed

[2019-05-23 06:31] Gaetan-dc commented on #2122
I even tried importing a single png file like this (in my test file) :
`import image from "../images/modules/2attcv.png";`

But then I get this error :
`Error [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension: C:\Private\GitHub\MyProject\images\test.png`

I tried babel plugins such as "import-static-files" but nothing solves my issue.

[2019-05-23 06:53] sindresorhus opened #2138 "Add ability to run a test residing on a given line"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24200%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2138)

We currently have `--match` for running specific tests with titles matching a pattern, but sometimes you're in your editor and you just want to quickly run the test you're working on. `--match` comes with the overhead of having to think about th

[2019-05-25 14:56] novemberborn commented on #2137
AVA doesn't load YAML files and therefore is not vulnerable.

The patched version is selected by supertap's dependency range. If you don't have a package lock file you can delete `node_modules`, reinstall, and you'll get the patch. If you have a lock file then use `npm audit fix` to upgrade.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-05-25 14:56] #2137 closed

[2019-05-25 15:01] novemberborn commented on #2136
Yes that tutorial seems to be using AVA 0.25 so it's quite outdated. Apparently they're converting their tests to Mocha so I guess the problem will go away eventually 😬https://github.com/GoogleCloudPlatform/nodejs-getting-started/issues/254

[2019-05-25 15:04] novemberborn commented on #2122
Remember that `babel.testOptions` is only applied, by AVA, to your test files. `@babel/register` won't use that config. You may want to configure Babel itself using a `babel.config.js` file.

[2019-05-25 15:06] novemberborn commented on #2138
Sounds good. I suppose we would know that a specific line is selected. How would we determine what test sits on what line though?

Would you be able to specify multiple lines?

As of 2.0, AVA now expects file paths on the CLI, not glob patterns.

[2019-05-26 10:56] StarpTech opened #2140 "Ava tests blocks run out of order before they are finished"
Hello,
I run into an inconsistent behaviour during testing. It results in random failures.

[code]

Output:

[code]

[code]

How is that possible that the second test is run before the first was done?

Ava: 1.4.1
Node.js: v11.14.0

[2019-05-26 11:07] StarpTech commented on #2140
Wow, I didn't know that even the tests blocks are executed concurrently.
https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#running-tests-serially

[2019-05-26 11:07] #2140 closed

[2019-05-26 11:12] sindresorhus commented on #2140
Tests are run concurrently by default. Order is not guaranteed. This is in the docs.

Ideally, you should write atomic tests that don’t  depend on each other or order. If that’s not possible, there’s `test.serial()` or the `{serial: true}` config.

[2019-05-26 11:17] StarpTech commented on #2140
Hi @sindresorhus they didn't depend on each other but working with [nock](https://github.com/nock/nock) in your tests can lead to strange side effects because it can intercept only one at a time.

[2019-05-27 17:09] yovasx2 opened #2142 "Hooks are counted as tests"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/2142)

When a hook fails it increases the count of tests:
[code]
**Delete test user** is a hook and it counted as a test, the current number of tests is 24, not 25

this is happening for verbose and tap formats

---

<details>
<summary>
<b>IssueHunt Sum

[2019-05-28 04:56] dmitriz opened #2143 "Vulnerabilities in Ava's dependencies?"
Just reporting some potential vulnerabilities in `ava`'s dependencies found by running sonatype-depshild against my repository:

https://github.com/dmitriz/cpsfy/issues/5
https://github.com/dmitriz/cpsfy/issues/6
https://github.com/dmitriz/cpsfy/issues/7
https://github.com/dmitriz/cpsfy/issues/8
https://github.com/dmitriz/cpsfy/issues/9
https://github.com/dmitriz/cpsfy/issues/10
https://github.com

[2019-05-28 08:38] novemberborn commented on #2143
Just because there is a situation in which a particular Node.js package doesn't behave in an expected, safe way does *not* mean that all of its dependents have vulnerabilities. AVA runs in your CI, not on your server. There's virtually no scenario in which AVA itself has a vulnerability that impacts you.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2019-05-28 08:38] #2143 closed

[2019-05-28 08:46] dmitriz commented on #2143
This seems to be a vulnerability of other packages that are installed along with AVA. Even if AVA itself is secure, there seem little to prevent other packages from running malicious scripts upon installation. At least this is my understanding.

[2019-05-28 08:50] novemberborn commented on #2143
You can disable the running of scripts upon installation, look for `ignore-scripts` in https://docs.npmjs.com/cli/install. It's also a configuration option.

Packages that run malicious scripts need to be removed from the npm registry. But that's not the issue with the reports you linked to.

[2019-05-28 08:59] dmitriz commented on #2143
Thanks, I can, but what if they need to run as is normally the case? How can I know which ones to disable and when?

I am sure they are as soon as they are discovered. The problem is, harm could be caused before that. See here for a high profile example: https://github.com/dominictarr/event-stream/issues/116

Don't know to which extent this applies to those lodash packages and what the exact natur

[2019-05-28 09:04] novemberborn commented on #2143
I know, it's impossible!

Yup. Package locks help.

I've only given them a cursory glance so I cannot advice on that.

[2019-05-28 09:11] dmitriz commented on #2143
Not fully unfortunately. :(
They will tell you to update because "that version is too old"...
And if I understand correctly, the lock is skipped if package is installed individually.

[2019-05-28 09:30] novemberborn commented on #2143
No, they ensure a particular set of dependencies is installed. So if a dependency is hijacked you won't unexpectedly upgrade to it.

Correct. It's useful for applications, not packages.

[2019-05-28 09:35] dmitriz commented on #2143
They? The authors of the suspicious package?
For instance, how would it work in that case of event-stream?
I am puzzled.

What I mean is, even if you have the lock set correctly and do "yarn add somepackage", it will be upgraded regardless of the lock, am I missing something?

[2019-05-28 09:42] novemberborn commented on #2143
Package locks.

The package lock ensures you don't upgrade dependencies unexpectedly.

Correct. If you update dependencies then they get updated. There is no silver bullet here.

[2019-05-28 10:02] dmitriz commented on #2143
Then it is enough for the maintainer to upgrade any dependency package changing the lock, then any user installing the new version would also get the new dependencies versions from the new lock. :(

And popular packages like lodash seem to be exactly the most attractive targets for hackers to affect maximum number of users. Right now AVA seem to install 6 lodash packages, each 3 years old. Assumin

[2019-05-28 10:15] novemberborn commented on #2143
No because locks aren't published.

---

You're conflating malicious packages with those that have bugs that in particular circumstances may pose a security risk. As established above, malicious packages need to be removed from the registry. This is indeed what happens. Whether bugs lead to security risks depends entirely on how the code is used. In the case of AVA that's really not a concern.

We

[2019-05-28 10:30] dmitriz commented on #2143
Oh, I have missed that, sorry.
But this feels even more dangerous because different users will get different configuration.
Any reasoning against committing locks, which I understand is general recommended practice?

A bug or rather vulnerability hole in one package might be exploited by another malicious one. As we agreed, harm can still be caused before the malicious package is removed. And even

[2019-05-28 11:05] novemberborn commented on #2143
Correct. Assuming everybody versions their packages correctly then no breakage is supposed to occur…

I'd definitely commit locks in application code. It's usually not worth the bother in small packages with few dependencies. I like doing it for AVA since it's a reasonably big project.

Sure, but this needs to be assessed on a case by case basis. And since AVA is only used in CI it's very unlikely

[2019-05-28 11:20] okandas commented on #982
@novemberborn   I am trying to start contributing to this package and solving this issue. I did a small test with one small issue of not being able to use `darwin 15.5.0` for my test environment.

here is the code and the error is not reproduced it passes, I am wondering why ?

[code]

[2019-05-28 11:44] Gaetan-dc commented on #2122
I see. However the problematic line is actually inside my test file here.
I'll try to see if I can configure Babel with babel.config.js, thanks.

[2019-05-28 15:22] dmitriz commented on #2143
Here is is documented and the fix is actually simple - upgrade all lodash deps to the safe version
4.17.11 or above:

https://app.snyk.io/vuln/SNYK-JS-LODASH-73638

[2019-05-28 22:05] okandas commented on #936
@novemberborn running

[code]
this line will check if the files in watch are a true source [this.avaFiles.isSource(filePath)](https://github.com/avajs/ava/blob/9c8d7a2a8b23d86de90b22757b4a134580b50644/lib/watcher.js#L151) and return true if its indeed a source file ..

[isSource](https://github.com/avajs/ava/blob/9c8d7a2a8b23d86de90b22757b4a134580b50644/lib/ava-files.js#L147)

Once inside the isSo

[2019-05-28 22:11] alexisfontaine commented on #1810
By specifying the [`NODE_OPTIONS` environment variable](https://nodejs.org/api/cli.html#cli_node_options_options), #2112 should also do the trick, whichever gets released first.

[2019-05-29 07:48] novemberborn commented on #2143
Yes, and our lodash dependencies allow that version to be installed.

What I don't yet understand is why the main `lodash` package is updated but not the smaller packages we're using.

[2019-05-29 08:10] Gaetan-dc commented on #2122
I have worked around the issue by accessing my images in another way : I have a static folder containing them, that is transported by the parcel plugin `parcel-plugin-static-files-copy` all the way to the destination folder. So now I can simply use a path to the images instead.

[2019-05-29 13:04] ehmicky opened #2145 "[Feature request] Simpler syntax for snapshot testing of commands that might throw or not"
## Description

Many of my unit tests have the following structures:

[code]

Basically I run a library function with a bunch of inputs, and snapshot the output. I wrote a library ([`test-each`](https://github.com/ehmicky/test-each)) around that concept (data-driven testing + snapshots).

The issue: I also snapshot exceptions that are thrown. Invalid inputs will throw an exception, but others won'

[2019-05-29 13:26] sindresorhus commented on #2145
Unrelated to your request, but you probably want to be using test macros: https://github.com/avajs/ava/blob/bccd297f38c9f4cf6dbb16dffa7ee8753dbbd12f/docs/01-writing-tests.md#reusing-test-logic-through-macros

[2019-05-29 15:15] ehmicky commented on #2145
I am using one of my library ([`test-each`](https://github.com/ehmicky/test-each)) instead of macros. Mostly because I find it to have a simpler syntax. Also this separates the data-driven testing logic from the test runner. (I know that this makes it harder for static analysis like `eslint-plugin-ava` though).

With test macros:

[code]

With `test-each`:

[code]

[2019-05-30 00:30] rianadon opened #2146 "Ava reports incorrect lines and source files with precompiled typescript"
I'm currently using Ava and Instanbul's nyc to run tests compiled to typescript. The tests are compiled with `tsc` and sourcemaps enabled, then I run Ava with the compiled JavaScript.

If I run without nyc (`ava build/tests`), Ava behaves perfectly. The output of a failing test looks like this:
[code]
The sourcemap converts the filename to typescript and the line numbers and source files match the

[2019-05-30 05:39] sindresorhus commented on #2146
Can you try without `nyc`? We've had reports in the past which turned out to be `nyc` problems, not AVA.

[2019-05-30 05:55] rianadon commented on #2146
It works without `nyc` (see the second and third paragraphs of my first comment). So the problem could definitely be entirely with `nyc`. However, since `nyc` read the source map correctly and then Ava running within `nyc` didn't, I figured the issue was with both of them.

If you think it would be more suitable, I could also create an issue on the `nyc` repo. Or do that and close the one here.