[2020-01-19 13:01] #1756 closed

[2020-01-19 14:47] #2348 closed

[2020-01-19 14:47] #2349 closed

[2020-01-19 14:50] #2312 closed

[2020-01-19 18:46] frangio opened #2375 "Watch mode doesn't seem to be debouncing"
I'm running ava 3 over JavaScript test files in watch mode, while I edit TypeScript source files and compile in watch mode in the background with `tsc --watch`.

Sometimes TypeScript seems to trigger two "modify" events on the same JavaScript file, one immediately following the other (I've verified this using inotifywait), and that causes ava to rerun the tests twice. I would expect some debouncin

[2020-01-20 10:03] novemberborn commented on #2375
AVA is likely picking up the changes to the source file and the build output. If these happen to be far enough apart, the test is run twice.

See https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#debugging for how to check what the watcher is responding to.

You'll want to ignore your source files by setting the `ignoredByWatcher` configuration to something like `["src/**/*.ts"]`

[2020-01-20 10:03] #2375 closed

[2020-01-20 15:15] frangio commented on #2375
Ah I think that's what's happening. I was not able to reproduce the issue when ignoring the source files. Thank you!

[2020-01-20 16:59] meyve opened #2376 ""Enhancement compilation must be configured in AVA’s Babel options" error with TypeScript."
I'm trying to run some unit tests with TypeScript using `ts-node` package as described in official ava's TS [recipe](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md).

Facing an error:
[code]

Node version: 13.6.0
Ava version: 3.0.0
TypeScript version: 3.7.5
OS: Linux Mint 19.1 (Tessa)
Running ava both ways leads to same result:
`node ./node_modules/ava/cli.js` as locally insta

[2020-01-20 17:14] novemberborn commented on #2376
Oh that setting is no longer needed. It should be removed from the documentation. I see it in two different places in that file, perhaps it's mentioned elsewhere too.

[2020-01-20 20:59] iljoo commented on #2376
Try this
[code]

[2020-01-21 01:22] jhechtf commented on #2376
@iljoo in running your config I get a new error when attempting to run tests.

[code]

[2020-01-21 08:51] iljoo commented on #2376
Did you install it?  `yarn add -D @ava/babel`

[2020-01-21 08:55] jhechtf commented on #2376
I did, curious why ava doesn't include it on its own though?

Is this mentioned on the install instructions? I didn't see it, and I don't
remember having this issue with earlier versions of ava.

On Tue, Jan 21, 2020, 00:51 Ilia Mikhailov <notifications@github.com> wrote:

[2020-01-21 08:58] webees commented on #2376
I had the same problem after upgrading to`v3.0`, but it was resolved after installing` @ava/babel`.

[2020-01-21 09:28] novemberborn commented on #2376
To be clear, this is *not* needed with AVA 3. Babel is disabled by default, so if you want to use TypeScript with `ts-node` you only need to update the `require` and `extensions` configuration.

The documentation is wrong here, which is why this issue is still open. We'd appreciate a PR to update the TypeScript recipe.

---

[Per the release notes](https://github.com/avajs/ava/releases/tag/v3.0.0)

[2020-01-21 09:32] jhechtf commented on #2376
I'm currently using ava in a typescript project without babel, which is why
the requirement for babel was so strange to me.

I'm also using ava 3 - should it not need the babel step? Do we just remove
the babel key? What configuration for ava v3 makes typescript work without
babel?

On Tue, Jan 21, 2020, 01:28 Mark Wubben <notifications@github.com> wrote:

[2020-01-21 09:35] novemberborn commented on #2376
Again, the documentation is wrong. The `compileEnhancements: false` configuration needs to be removed. You do not need to configure `babel` if you're not using it.

[2020-01-21 09:47] novemberborn commented on #2376
@jhechtf that'd be amazing!

[2020-01-21 09:52] meyve commented on #2376
I removed `compileEnhancements` option entirely from `ava.config.js` and it works.

[2020-01-21 10:26] KnisterPeter opened #2378 "Allow running ava from node 10.13"
Hello,

we would love to migrate to ava 3, but we discovered that while ava is supporting node 10, its starting from 10.18 (https://github.com/avajs/ava/pull/2313).
Unfortunately we would need support from 10.13 which is the first 'Dubnium' release (LTS) for node 10.

We haven't found any documentation on why node 10.18 was chosen and would like to request if its possible do downgrad this to 10.13

[2020-01-21 10:39] novemberborn commented on #2378
It's very likely that AVA 3 works on Node.js 10.13; however it hasn't been tested. npm issues warnings but these are warnings only.

The minimal 12.14 restriction is more interesting since Node.js 12 may still receive additional features. We'll try and avoid relying on those features until the next major version.

Without checking, it's pretty likely that Node.js 10.13 has security vulnerabilities

[2020-01-21 10:39] #2378 closed

[2020-01-21 11:12] KnisterPeter commented on #2378
Hi @novemberborn,

thanks for you fast reply. We are building a tool internally for our company and we need to specify which version we will support to give teams straight guideline.
We could recommend our teams using our tool that they should keep up-to-date with node and use the latest possible version, but we cannot force the teams to do the updates.

Therefore we would welcome (if there are no

[2020-01-21 11:54] #2376 closed

[2020-01-21 11:58] novemberborn commented on #2378
We don't actually test against `10.18.0`. We test against `10.18.0` *or newer*.

You can run yarn with `--ignore-engines`.

There have been security releases since 10.13; your teams really should be upgrading.

[2020-01-21 11:59] novemberborn commented on #2378
Alternatively I recommend you stick with AVA 2 and reassess in a few months.

[2020-01-21 12:09] KnisterPeter commented on #2378
Okay, I've seen that in the github workflow its `^10.18.0` which means you will probably test against newer versions.

I think its not an option for us to tell this a few hundred developers.

Yes, I totally agree, but I still cannot enforce this.

I'll guess we have to stick with ava 2 then.
Thanks for the discussion.

[2020-01-24 19:23] jamietre commented on #1829
This is honestly the killer feature of Jest that keeps me using it. Using sinon to monkey-patch isn't really pracitical; you can't mock default exports, and you still have to import the real version of the thing your're mocking, which can cause deep dependency hierarchies to resolve, which may present large, complex setup tasks to get the code to load in a test.

Just wondering if having some mock

[2020-01-25 07:02] KsRyY commented on #2068
I have experienced the same problem here and I have a `report.json` file generated by Node.js. Here's the Gist [link](https://gist.github.com/KsRyY/23f547a31b6c00dc7af23f06b6a2e0cd)

[2020-01-25 12:47] novemberborn commented on #1829
@jamietre, I'm reluctant to add mocking to AVA itself, but I'd be more than happy to make internal changes to improve the experience of using a third-party mocking system.

[2020-01-25 12:50] novemberborn commented on #2068
@KsRyY thanks for sharing. Unfortunately it doesn't provide insight into which objects are being leaked. We'd need that to try and fix this.

[2020-01-25 13:30] KsRyY commented on #2068
I think Chrome's debug tool could help. The memory tab is important. Trying to make it work.

[2020-01-25 13:41] novemberborn commented on #2068
Perhaps try with https://www.npmjs.com/package/ndb.

[2020-01-25 16:02] novemberborn commented on #1109
Rudimentary support is now in progress at https://github.com/avajs/typescript/pull/1. See also https://github.com/avajs/ava/pull/2379.

Example usage at https://github.com/novemberborn/got/pull/1.

This will go out in AVA 3.1; beyond that I'll create some issues in the https://github.com/avajs/typescript repository for where we can take this next.

[2020-01-25 17:54] lorenzofox3 commented on #2293
Have you considered using the [esm](https://github.com/standard-things/esm) package ? Native ESM module with node is fine, but when you start mixing with old dependencies or use an older version of node, you will quickly bump into problems.

I have been using ``esm`` with my [test runner](https://github.com/lorenzofox3/zora-node) for some time now and I am very happy.

You don't even need to ship

[2020-01-25 20:56] novemberborn commented on #2293
Yes that’s been supported for a long time. You can configure the required modules in AVA’s configuration and well then use it to load all subsequent files.

It’s only a stop gap solution though.

[2020-01-25 22:38] fregante commented on #2293
`esm` is no longer enough in Node 13, at least until this is fixed https://github.com/standard-things/esm/issues/855

[2020-01-26 02:09] KsRyY commented on #2068
@novemberborn
![image](https://user-images.githubusercontent.com/25174488/73129643-b3a21b80-4023-11ea-94f4-6ef4bcd374a0.png)
The leaking is terrible! I'm trying to catch the bug.

[2020-01-26 14:16] novemberborn commented on #2293
All the necessary breaking changes have already gone out in AVA 3.0. The remaining work has been broken up into individual issues that can be worked on. See the [ESM support](https://github.com/orgs/avajs/projects/2) project for details.

[2020-01-26 15:07] novemberborn commented on #1109
AVA 3.1 is now available: https://github.com/avajs/ava/releases/tag/v3.1.0

I've opened some issues to track enhancements here: https://github.com/avajs/typescript/issues

Thank you all for your interest!

[2020-01-26 15:07] #1109 closed

[2020-01-27 02:27] izelnakri opened #2383 "BUG: test.cb('', async(t) => {}) throws wrong error notification [or test.serial.cb when awaited]"
version: 3.1.0
Code below gives an irrevelant error, and test fails while it shouldnt:
[code]

[code]

When I turn await fs.readFile to fs.readFileSync() it works so this is definitely a bug!

I guess this is happening because async function()'s have `return Promise()` during runtime. Such error/return check makes `async` keyword impossible on `test.cb()` and `test.serial.cb()`, which should be al

[2020-01-27 03:16] sindresorhus commented on #2383
This is intentional. `test.cb` is a legacy API. There's almost always a better way. In your case, you should use normal `test.serial()` in combination with `util.promisify` on the `shell` calls.

For example, if a `shell()` call errors now, you'll not get a helpful message as you're not handling the error. If you promisfy the `shell()` calls, it will *just work*.

The last use for `test.cb` is eve

[2020-01-27 03:16] #2383 closed

[2020-01-27 13:06] izelnakri commented on #2383
There are rare cases where callback APIs are favorable, I think the example above is one of them.

If I promisify it, then error handling becomes worse with try/catch on testing error scenarios, becomes much worse at being able to test multiple error scenarios at once, there are also rare cases where this is better than having a test case for each error. By deprecating test.cb() or making it legac

[2020-01-27 13:10] novemberborn commented on #2383
We won't be changing this behavior.

[2020-01-27 18:59] izelnakri commented on #2383
ok, can we remove the API(test.cb and test.serial.cb), or deprecate it with a clear deprecation message?

[2020-01-28 01:21] f593 commented on #32
Open

[2020-01-28 01:21] f593 commented on #32
5

[2020-01-28 08:29] novemberborn commented on #2383
I'd say these are legacy APIs, not quite deprecated.

Perhaps we can change the message? Something like:

[2020-01-28 14:50] izelnakri commented on #2383
Yes thats more clear 👍 However I think it would be even better if we remove or deprecate the methods(test.cb and test.serial.cb) altogether since callback based legacy apis can be promisified, current cb() implementation is very limited without async/await and there would be less documentation, learning and testing surface.

[2020-01-28 18:45] spectranaut opened #2384 "Have the global timeout take into account `t.timeout()` durations"
## What you're trying to do

I appreciate that having a global timeout in order to catch unexpected behavior in a test and not consume too much CI resources. However, some tests take a long time intentionally, and I would like to be able to use `t.timeout()` to explicitly override the global timeouts for just one test. Right now, you can only override the global timeouts if then `t.timeout()` is s

[2020-01-29 08:03] PeterMerkert opened #2385 "AVA does not Bail after Assertion Failure with FailFast Option Enabled"
* What you're trying to do
Stopping AVA within a test when an assertion fails.

* What happened
AVA does run on, despite an assertion being failed.

* What you expected to happen
AVA should stop running further in the test, when an assertion failed when the setting `FailFast` is enabled.

A minimal code sample is:
[code]
This will print `42` on my console, despite the first test actually failing.

[2020-01-29 09:54] novemberborn commented on #2384
The global timeout is a "stop tests in case they're stuck" kind of timeout.

I suppose we could interpret that as "stop tests in case they're stuck, but don't worry for the next 30 seconds nice the test will fail if it's stuck anyway".

The workers will have to send a message to the main process whenever a per-test timeout starts, with the timeout duration. And then in the main process we'd have t

[2020-01-29 09:57] novemberborn commented on #2385
No. Assertions don't throw errors, so they don't cause the test to stop executing.

There are some ways of doing this but whether they make sense depend on your use case. Could you elaborate?

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-01-29 09:57] #2385 closed

[2020-01-29 10:19] PeterMerkert commented on #2385
Thanks for helping out.

The short explanation: I would like to avoid an if-cascade to always double check. It feels like I do not need AVA assertions than any more (except of neat highlighting). So, I want to avoid:
[code]
And anyways, AVA only highlights for me the first assertion failing in a test and not the subsequent ones. So, if there are two assertions failing within a single test, only th

[2020-01-29 12:27] novemberborn commented on #2385
We'd like to show all failures though. See #261.

Right, so you're using AVA to orchestrate a more complex integration test. Which is great! But not quite what it's designed for.

Mind you, I use AVA to run integration tests, with carefully ordered serial tests, and that works great. But I'm mocking the APIs I call out to.

We have an experimental `t.try()` assertion you could use to maybe help wi

[2020-01-31 08:06] link89 commented on #2318
For example, I may set a field named "priority" in metadata whose value could be P0,P1,P2,P3.
Then I would hope that I can execute all P0 by providing some command line options, like `ava --meta-filter "priority=P0"`

[2020-02-01 14:39] novemberborn opened #2386 "Improve message when test.cb() is used with promises"
`test.cb()` is a legacy API. It can be used for testing callback APIs, but for anything more advanced we'd prefer you use `test()` with an async function.

We should update the error message here:

https://github.com/avajs/ava/blob/56338dcb77246b5eca3c01e24d1cb6d66da8f71f/lib/test.js#L597

It should say something like:

We should replace the "promises or async function" part with "observables" as

[2020-02-01 14:44] novemberborn opened #2387 "Remove `test.cb()`"
`test.cb()` is a legacy API. It's probably time to remove it.

Ideally we can define [an experiment](https://github.com/avajs/ava/blob/56338dcb77246b5eca3c01e24d1cb6d66da8f71f/lib/load-config.js#L10), say "noCb" so users can opt in to not having `test.cb()` available.

When enabled, it should be removed from the chain:

https://github.com/avajs/ava/blob/56338dcb77246b5eca3c01e24d1cb6d66da8f71f/lib

[2020-02-01 14:44] novemberborn commented on #2383
Sure. I've opened #2386 and #2387 to track. Chime in if you're interested in contributing, thanks! 😄

[2020-02-01 14:50] novemberborn commented on #2318
I'm not sure that's a general enough use case for AVA.

There are some ways of doing this now, though not as elegant as you have in mind. You could prefix or postfix the test titles, and then use `--match "P0*"`.

You can also pass arguments to the worker processes:

[code]

And then access that flag from `process.argv`. That way you could define a function like:

[code]

(Just thinking out loud h

[2020-02-01 15:28] sindresorhus commented on #2387
Before it’s removed, it’s important that we have docs in place that show common `test.cb` use-cases with `test` instead. For example, promisify, events (using `p-event`), streams (using async iterator or `get-stream`, etc.

[2020-02-01 15:29] sindresorhus commented on #2386
Is it really worth doing this if we plan to remove the API?

[2020-02-01 15:30] link89 commented on #2318
Actually now we are working around this limitation by stringify an object (which contain name, case-id, priority, category, keyword, owner, components) and put it in title and then do whatever we need. But this makes output ugly during case execution.

In my option what `ava` need is to allow users to set more information (an object) to a case instead of just a title (a string). And then users wil

[2020-02-01 16:46] novemberborn commented on #2386
The actual removal may not happen for months.

[2020-02-02 13:59] novemberborn opened #2388 "Make dependency tracking work with ESM imports"
AVA's watch mode tracks which source files are loaded by which test files. This way it knows which test files to re-run. This is based on [instrumenting the `require` code](https://github.com/avajs/ava/blob/56338dcb77246b5eca3c01e24d1cb6d66da8f71f/lib/worker/dependency-tracker.js) in Node.js. We won't be able to track ESM dependencies using this method.

We'll have to find a different way of resol

[2020-02-02 17:16] gloryofrobots opened #2390 "Can not require cjs files inside tests"
Please provide details about:

* What you're trying to do
I am working on eleventy static site generator.
We are using `require()` to load `cjs` and `js` files.
* What happened
It works fine while running as nodejs script, but when running as an ava test it fails inside
require-precompiled module at the line 18
```oldExtension(module, filename);```
because oldExtension is ```undefined```

To illus

[2020-02-04 00:35] arlac77 commented on #2346
Why not switching to async loadConfig() ?

[2020-02-04 02:25] toddkcarlson commented on #2386
From what I understand, this is simply changing the test text, is that correct? If so, I'd like to work on it.

[2020-02-04 08:43] novemberborn commented on #2346
This is to do with ESLint compatibility (since rules must currently be synchronous).

[2020-02-04 08:44] novemberborn commented on #2386
@toddkcarlson great!

There was a PR yesterday that [came and went](https://github.com/avajs/ava/pull/23910), so it's all yours I think.

[2020-02-05 12:15] govardhan27 commented on #2386
Hey is anyone still working on this?
I would like to pick up this task!

[2020-02-05 13:59] toddkcarlson commented on #2386
Yes! I'm working on it. I'll let you know if I need any help @govardhan27

[2020-02-06 10:25] govardhan27 commented on #2386
Yeah sure @toddkcarlson

[2020-02-06 21:41] stavalfi commented on #1666
@novemberborn

I don't understand your comment. are you proposing a way to solve this issue? if yes, can you explain in different way?

---

I did some research and it seems that i must create a temp-js-file that will contain the call to `@babel/register` with all it's options and add it to the `ava.require` section.

do you think my idea is ok?

[2020-02-07 08:44] novemberborn commented on #1666
@stavalfi I'm not sure what your question is. Could you rephrase it?

[2020-02-09 08:50] Budhanatech commented on #2386
Anyone still working on this ?

[2020-02-09 15:00] davidedelvento opened #2392 "SyntaxError: Unexpected token"
I am just trying to get started with AVA and admittedly I have very little experience with javascript in the browser and zero experience with `node.js`

I'm following the instructions on https://github.com/avajs/ava/blob/master/readme.md namely install and set up AVA, with `npm init ava`, then Install `ava` with `npm install --save-dev ava` then created the very same `test.js` file as per document

[2020-02-09 15:03] novemberborn commented on #2392
I reckon you're using an outdated version of Node.js. AVA 3 requires 10.18 at a minimum. If you have no particular requirements I'd recommend you install Node.js 12.15.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-02-09 15:03] #2392 closed

[2020-02-09 15:13] #2344 closed

[2020-02-09 15:18] davidedelvento commented on #2392
Thanks for the instant answer. I am not installing `node.js` myself. It came with the OS (Linux) and indeed is `v8.10.0`.

Shouldn't `npm` take care of that inconsistent dependency?

[2020-02-09 15:20] novemberborn commented on #2392
Your Node.js version is no longer supported, not even by Node.js.

npm manages dependencies, not Node.js itself.

[2020-02-09 15:55] novemberborn commented on #2344
This is now available in AVA 3.3.0. Thank you @arlac77!

[2020-02-09 16:02] novemberborn commented on #2345
This is now available to be worked on.

[2020-02-10 12:44] davidedelvento commented on #2392
Fair enough. I see that ava's package.json has the engines field with the requirement you mentioned. Somewhat I overlooked that when installed. Could you use `{ "engineStrict" : true }` so that would not happen?

Thanks for considering this suggestion.

PS: FWIW, I run an Ubuntu 18.04 which is less than 2 years old and will be around till 2023....

[2020-02-10 14:01] novemberborn commented on #2392
Our engine requirements are advisory only. Sadly, not everybody upgrades at an even pace. Making them mandatory isn't practical for us (but you can configure your npm to enforce it, I believe).

I don't maintain Node.js and its dependencies, so I can't help you with that 😄

[2020-02-10 16:04] toddkcarlson commented on #2386
Yes @Budhanatech

[2020-02-13 09:46] fregante commented on #1139
I'll leave a comment here since this is the latest issue on AVA.

I fixed the `SyntaxError: Unexpected token import` error in Node 12 with
[code]

No `esm` package or babel configuration was required to use `import`/`export` in local files, test files, and imported modules, as long as they also have `type:module` and `main:index.js` set

https://github.com/fregante/webext-storage-cache/commit/47b0

[2020-02-13 12:28] leegee commented on #1816
FWIW, does not support `babel.config.js` by default with `babel:true`

[2020-02-13 14:53] Retsam opened #2397 "Typescript: don't force @types/node to be included"
I've got a browser app, and I'm trying to ensure that `@types/node` aren't included as part of typescript's compilation environment.  I had this working with AVA v2, but AVA v3 is forcing `@types/node`, causing compilation issues.

Here's a example:

[code]

[code]

[code]

The project compiles correctly with `tsconfig.json` but fails with `tconfig.test.json`, because @types/node gets pulled in.

[2020-02-15 11:38] szmarczak commented on #2162
https://travis-ci.org/sindresorhus/got/jobs/650790224 (AVA 3.3.0)

[code]

TS compiled successfully, but for some reason AVA failed.\
I think restarting the Travis job would fix it.

[2020-02-16 11:42] #2386 closed

[2020-02-16 11:57] novemberborn commented on #2397
Oh good catch, fixing in https://github.com/avajs/ava/pull/2398.

We don't even use that symbol anymore.

[2020-02-16 12:03] #2397 closed

[2020-02-16 13:41] novemberborn commented on #1454
I'd still like to see this. A lesson learned from @nklayman's attempt is that the solution shouldn't take me more than a couple of hours to evaluate & integrate, anything that requires more time than that is very likely to languish.

This is best achieved if the website code can live in a separate repository.

Furthermore:

* We want to write Markdown files
* We want to have the documentation brow

[2020-02-16 14:21] novemberborn opened #2401 "Allow `undefined` throws expectations"
For historical reasons, the `expectations` object passed to `t.throws()` and `t.throwsAsync()` was not allowed to be `undefined`.

Now that we've simplified these assertions, we should allow `expectations` to be both `undefined` and `null`. See here:

https://github.com/avajs/ava/blob/55a3649000611900ba6dfbf94faefa6372a70e79/lib/assert.js#L76

This will cause some of our tests to fail, so they'd h

[2020-02-16 15:38] #2247 closed

[2020-02-17 03:16] mesqueeb opened #2403 "TypeScript should not give "is not assignable" errors in t.deepEqual"
Please provide details about:

## What you're trying to do

I have a merge library that works like a "deep" Object.assign, and also returns a "merged interface" for the objects merged.

I'm writing tests with TypeScript as well -- `.ts` files. In the tests I merge objects and then check the results with `deepEqual`.

## What happened

TypeScript is giving me errors like these inside the `deepEqual

[2020-02-17 08:02] novemberborn commented on #2403
That's what `deepEqual` does. This looks like a TypeScript issue to me. Cast both sides to `unknown` and call it a day 😄

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-02-17 08:02] #2403 closed

[2020-02-17 14:03] mesqueeb commented on #2403
Hi @novemberborn I guess I'm confused why this is happening, and I feel that a lot of TS developers who write ava tests in TS will face this problem.

Do you know why the second param in `deepEqual` is checking/comparing its type not with the first param, but instead with a completely different object?

[2020-02-18 09:12] novemberborn commented on #2403
But it's a TypeScript problem, not an AVA problem.

In the image you shared above, I'm assuming the tooltip is the inferred type of `res`? That's clearly a different type than what you're comparing against. But the problem is in the type inference, not AVA.

[2020-02-19 12:26] novemberborn opened #2405 "Evaluate `ava.config.js` scripts in current context"
We can simplify the evaluation of `ava.config.js` files, see this line:

https://github.com/avajs/ava/blob/324e45f2f89e6fa872423c338aba20e202c5b2f5/lib/load-config.js#L27

`runInThisContext()` works better since it has access to all the globals, but *not* `require` and associated variables. Plus, the resulting objects are in the same realm as AVA itself.

Fixes https://github.com/avajs/typescript/

[2020-02-19 23:36] DYefimov opened #2406 "AVA debug --break is hardcoded to bind to loopback interface."
Dockerized AVA in debug mode is difficult to reach due to hardcoded binding to loopback interface (127.0.0.1).

file: [ava/lib/worker/subprocess.js:188](https://github.com/avajs/ava/blob/324e45f2f89e6fa872423c338aba20e202c5b2f5/lib/worker/subprocess.js#L188)
`require('inspector').open(options.debug.port, '127.0.0.1', true);`

Hacking it to 0.0.0.0 fixes the problem.
It would be nice if it defaults

[2020-02-20 07:26] novemberborn commented on #2406
Fair enough.

We can add a "host" argument here:

https://github.com/avajs/ava/blob/324e45f2f89e6fa872423c338aba20e202c5b2f5/lib/cli.js#L134

And then we can add it to the `debug` object:

https://github.com/avajs/ava/blob/324e45f2f89e6fa872423c338aba20e202c5b2f5/lib/cli.js#L148

IIRC it should then be available in the worker process:

https://github.com/avajs/ava/blob/324e45f2f89e6fa872423c338aba

[2020-02-22 14:00] stavalfi commented on #2366
I maybe wrong but I believe that a test runner is not responsible for the user-test-logic.

[2020-02-22 14:05] stavalfi commented on #2285
why your proposition is better than using a single ava.config.js in the root of the monorepo and running test from the root folder? in this way, tests may even run faster because ava would handle the concurrency and the parallelism while lerna/yarn-workspaces would.

* I don't have actual proof to confirm my theory.

What do you think?

[2020-02-22 15:10] novemberborn commented on #2366
Sure, but the behavior of the test runner imposes constraints on the logic that can be written. And we should make sure those are as clear as can be.

[2020-02-22 15:14] novemberborn commented on #2285
One problem is how to find the root. By default, AVA assumes that's the repository containing a `package.json` file.

This issue proposes we speculatively search parent directories, too, until we find a VCS root, hoping to encounter `ava.config.*` files along the way.

I think this would work well both for single-package-per-repository projects and multiple-package-per-repository projects.

[2020-02-22 18:43] bunysae opened #2408 "t.throwsAsync fails when throwing Errors"
**Actual behavior**
When i try to execute the following tests,
[code]
i get the error
[code]

**Expected behavior**
The tests should pass.

**Environment**

- AVA: 3.3.0
- Node.js: v12.10.0
- System: SuSe Linux

[2020-02-23 12:49] romashko-bo-ma commented on #2406
👋
any updates on this one?

[2020-02-23 14:08] novemberborn commented on #2406
@romashko-bo-ma it's been all of three days since this issue was accepted… so clearly not!

Perhaps you'd be interested in picking this up?

[2020-02-23 14:52] novemberborn commented on #2408
You're awaiting `afunc()` before `throwsAsync()` is called.

Change to:

[code]

[2020-02-23 14:52] #2408 closed

[2020-02-23 15:02] #2401 closed

[2020-02-23 15:05] novemberborn opened #2410 "Disallow `null` expectations for `throws` and `throwsAsync` assertions"
As a follow-up to https://github.com/avajs/ava/issues/2401, for the next major AVA release we'll remove support for `null` expectations in `throws` and `throwsAsync` assertions. If you want to specify a message without any other expectations you should set it to `undefined` instead.

This can partially land behind an [experimental flag](https://github.com/avajs/ava/blob/d0e21612390d50f084f7062b051

[2020-02-23 15:18] #2405 closed

[2020-02-23 15:52] novemberborn commented on #2250
This is now available without a flag in AVA 3.4.0!

[2020-02-23 15:52] #2250 closed

[2020-02-23 19:37] gavinpc-mindgrub opened #2411 "Use TypeScript assertion function signatures"
Our team is just checking out AVA, and so far so good.  Thanks for making it!

## Background

TypeScript 3.7 introduces [assertion functions](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#assertion-functions).  This is a control-flow-analysis (CFA) feature targeted at functions like several of those that AVA provides.

## Example

Suppose that you have a `Result` u

[2020-02-23 20:54] novemberborn commented on #2411
Thanks!

I looked into this with https://github.com/avajs/ava/issues/2330 but best I could tell it wouldn't actually work. I get the feeling they added this because it would work in certain scenarios, but it doesn't in many others.

If you were to get it working we'd definitely consider this (and AVA 3 assumes TypeScript 3.7 so that'd be fine), but for now I'm going to close this issue, for house

[2020-02-23 20:54] #2411 closed

[2020-02-23 21:19] gavinpc-mindgrub commented on #2411
Thanks for the reply, @novemberborn! (Which I am also :) )

I swear I searched issue first, but missed that one.

The complication with generics does appear to be a showstopper for `is`-like assertions.

AFAICT, the simpler case of a truthiness test works as desired for the `assert` function, but I understand that it's also desirable to keep the API consistent where possible.

[2020-02-24 14:45] Peque commented on #1395
@josdejong How are you approaching this nowadays? Would you recommend a specific package?

[2020-02-24 17:46] szmarczak commented on #2289
Friendly ping :)

[2020-02-24 19:09] josdejong commented on #1395
There where I use Ava I've created a util function to test whether two numbers are approximately equal. In other projects I use Jest, which has a method [`.toBeCloseTo(number, numDigits?)`](https://jestjs.io/docs/en/expect#tobeclosetonumber-numdigits)

[2020-02-24 20:09] szmarczak opened #2412 "Retain internal stack lines for errors, but color differently"
It would be quite useful because there's sometimes missing context.

[2020-02-24 20:16] novemberborn commented on #2289
Which assertions are you seeing this with?

[2020-02-24 20:17] novemberborn commented on #2412
Could you provide more, uhm, context?

[2020-02-24 20:23] szmarczak commented on #2412
Example:

[code]

Full stack trace:
[code]

I think that `at PromisableRequest.destroy (internal/streams/destroy.js:55:8)` is quite important. Without this AVA implies that `_beforeError` called `_destroy` directly.

[2020-02-24 20:26] szmarczak commented on #2289
`deepEqual` 100% and maybe `is` (don't remember but I think it would give that wall of text too).

[2020-02-25 09:31] novemberborn commented on #2289
It'd be useful to know how each assertion behaves. I must admit I've forgotten by now.

[2020-02-25 10:31] szmarczak commented on #2289
No worries :) I'll send a PR when I have more time.

[2020-02-25 11:38] DYefimov commented on #2406
I can confirm, the above solution works perfectly, as far as I can see.

Unfortunately, I'm not confident enough to submit a PR for this one - I have 20 years of C++ professional experience and using JS just for fun projects, so don't wanna dive deeper into the environments I do not control completely. Sorry for the excuse :)

[2020-02-26 09:21] novemberborn commented on #2406
No worries @DYefimov, though it sounds like you're really close to having a workable PR?

A good way to "force" things to happen in open source is to kick off a PR… I tend to respond to those first when I have time for AVA, instead of other coding tasks.

[2020-02-26 15:30] DYefimov commented on #2406
What a diplomatic answer @novemberborn  :)
Here is the PR then.

Actually, there is one more issue strongly connected to this one.
Namely how AVA handles debug mode at all.

Currently, AVA enters debug mode with the "debug flag cmd option", which requires a filename to "break on" supplied alongside.
This is completely counter-intuitive, and inconvenient.

Where "counter-intuitive" is: one expects

[2020-02-26 18:30] Peque opened #2414 "Provide a cleaner way to write parametric tests"
Having a function like:

[code]

I would like to create multiple tests with multiple combinations of `a` and `b`.

Currently, I can do so by "brute force":

[code]

Or perhaps even better by using a `for` loop:

[code]

It would be great to have a simple/clearer way to write this.

In Python, with the `pytest` framework, I can do:

[code]

I think it is a great example. Note how I can define a lis

[2020-02-27 15:48] kamituel opened #2415 "Automatic CI jobs parallelization breaks some usecases"
**Situation**

I'm running 4 parallel steps in a Bitbucket pipeline. Each of those steps does a **different** thing - each builds and tests a **different** subproject. In one of those subprojects I'm trying to run ava test runner with one test file.

**Problem**

However, in `lib/cli.js` we have this:

[code]

This condition will always evaluate in CI (at least that's the intention) and the `ci-pa

[2020-02-27 16:55] novemberborn commented on #2415
Oh nice use case.

Let's add support for configuration like this:

[code]

I'd like to keep the "ci" prefix, to avoid confusion with the `concurrency` option.

We'd only allow the `false` value for now.

This should be implemented in `lib/cli.js`.

[2020-02-27 17:07] lewisdiamond commented on #1366
I think this is a great start. I've been looking for well integrated solutions to a similar resources issue we have in our test harness. The interesting thing about this solution is that it's simple to implement (given the JSON serialization and static nature of the data passed to workers). However, it also limits the capabilities.

Currently, each of our test create a new cassandra keyspace and i

[2020-02-28 02:03] ronen commented on #1366
@lewisdiamond wrote:

Very good point!  The API described in the [earlier comment](https://github.com/avajs/ava/issues/1366#issuecomment-555919501) allows the resource creator to provide the *same* value to each client.  But a resource creator should be able to provide a *different* value to each client from a pool of precomputed values or, more generally, generating values dynamcally.  I think it

[2020-02-28 09:31] ronen commented on #1366
Minor additional thought on the proposed API:  In the above examples, AVA doesn't know about the `serverHost` keyword until after the server has successfully spun up and `t.provide()` is called, making it hard for AVA to administer the resources.

Instead, I think the resource should be supplied to `test.resource()` rather than to `t.provide()`:
[code]

This way:

* As soon as AVA executes all the

[2020-03-01 16:54] novemberborn commented on #2412
Yea I don't really know why we even do this. If anything, we should use colors and separators to highlight the most useful lines, but not remove anything. Other than AVA-introduced lines.

IIRC this happens in https://github.com/avajs/ava/blob/master/lib/beautify-stack.js.

[2020-03-01 17:07] novemberborn commented on #2406
What is this default behavior you're referring to?

The `debug` command is something we could ship, given our constraints. I've found it quite useful already. The `ava` command is not the `node` command.

[2020-03-01 17:09] novemberborn commented on #2414
The `for` loop is about the best way you can do this currently.

I suppose something like `test.parametrize()` could take an array of parameters. I don't think that's worth including in AVA itself, at least at this stage. Perhaps somebody could publish a little package that wraps around AVA to provide this.

Let's leave this open for now for others to chime in.

[2020-03-01 17:11] #2406 closed

[2020-03-01 20:43] tymfear commented on #2414
But you have macros for that, just create a single macro and re-use it.
That will make much more clearer code and dubegability.

[2020-03-02 14:25] DYefimov commented on #2406
It's definitely useful. But IMHO this is a 'hack' approach from the users perspective.

The default behavior would be:
1. put a break point in any file of interest
2. _do not_ use AVAs debug flag, neither specify the filepath to debug
3. _instead_ supply node with --inspect
4. start debugging _anywhere_ in you project
5. achieve successful break at the breakpoint

To implement this, the best solut

[2020-03-04 08:06] novemberborn commented on #2406
But you don't call `node`. You use `npx ava`, or `ava` directly if you have it in your path.

How? You need to launch some other tool to attach a debugger first.

We want that regardless, actually.

I considered using the `--inspect` argument, but it got tricky when running multiple test files (how to wait for the right file to be ready to debug), and our argument parser behaves differently than N

[2020-03-05 20:48] catalin-luntraru opened #2416 "Anyone knows how to test with setTimeout() and addEventListener()"
More details here https://stackoverflow.com/questions/60553643/ava-test-settimeout-on-addeventlistener

[2020-03-05 23:49] catalin-luntraru commented on #2416
Fixed in stackoverflow

[2020-03-05 23:49] #2416 closed

[2020-03-06 00:54] catalin-luntraru opened #2417 "Nyc + ava gives 0 on all coverage lines"
I followed the steps from https://github.com/avajs/ava/blob/master/docs/recipes/code-coverage.md

My ava config from `package.json` is
[code]

When I run the coverage script I get this:

![image](https://user-images.githubusercontent.com/144854/76039608-a139cc80-5f55-11ea-8fb8-d38ca21b2e47.png)

I don't use babel, and imports are done with `import` not `require`.
I'm on the latest versions of node

[2020-03-06 16:05] rauschma opened #2418 "“Couldn't find any files to test” – provide more information?"
Output:

[code]

`package.json`:

[code]

After a long time of trying to fix this, I found out what’s wrong:

* The entry in `ava.files` must be `"exercises/**/*{_test,_exrc}.ts"` (no curly braces!).
* I originally had two items inside the curly braces, but a single entry should be syntactically legal(?)

Suggestion:

* Would it be possible to provide more information along with the error message

[2020-03-06 17:30] miohtama opened #2419 "Internal error in ava/lib/fork.js when running ava"
I am trying to set up Ava tests for my TypeScript project. So far, I have managed to install dependencies and create a config file `ava.config.js`.

But after creating the config file I get the following Internal error when running ava. It should probably give some more clueful error message and terminate the process nicely.

[code]

[code]

Also the `ava` command hangs, so I need to terminate it

[2020-03-06 18:16] miohtama commented on #2419
I poked the internals. It was failing on `child_process.fork`. I tried to add some console output around it why it happens. However, looks like the rabbit hole was running deep and was full of snakes.

Then I decided to push my luck and upgraded Node v11.0.0 -> v12.16.1.

The problem is gone and the error message is now

[code]

Back to the right track! Thank you for an awesome open source  projec

[2020-03-06 18:16] #2419 closed

[2020-03-07 11:52] catalin-luntraru commented on #971
I ended up using `timecmd ava` for windows, and placed `timecmd.bat` in the root folder of the project. The bat file contains https://stackoverflow.com/a/6209392/670839

[2020-03-08 10:23] novemberborn commented on #2417
I sometimes have trouble getting good reports out of `nyc ava` as well. Sometimes it helps to delete the `coverage` and `.nyc_output` directories. Maybe even `node_modules/.cache`.

So… you're using ESM with Node.js 13? There's a good chance that `nyc` cannot deal with that yet.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-03-08 10:23] #2417 closed

[2020-03-08 10:25] novemberborn commented on #2418
Possibly, to the extend that there even is a standard for this syntax. Of the top of my head there's about 4 layers of dependencies that handle the globbing, this isn't immediately under our control.

Yes, we have an issue for that: https://github.com/avajs/ava/issues/2373

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-03-08 10:25] #2418 closed

[2020-03-08 11:22] catalin-luntraru commented on #2417
For some people nyc and esm works https://github.com/istanbuljs/nyc/issues/905
I will open a ticket on nyc since it's more related to that than ava

[2020-03-09 05:48] cdaringe commented on #2365
i just ran into this.

in most systems, configuration at leaf nodes is more specific than at parent nodes.  a test is configuration is more specific/granular configuration node than global configuration.  in my case, i'm setting `t.timeout(120000)`, and i expect it to be honored. it is currently *not* honored.

i think @sramam's points are on the money. not honoring `t.timeout` is confusing and mi

[2020-03-09 05:55] cdaringe commented on #2414
maybe someone ought write a recipe for that and slap it in the docs. `py.test` fans would eat that up :)

[2020-03-09 18:39] rauschma commented on #2418
Great!

[2020-03-10 07:35] novemberborn commented on #2365
@cdaringe please see https://github.com/avajs/ava/issues/2384 for what we want to do next here.

[2020-03-10 08:14] sramam commented on #2384
How is described behavior different from removing the global timeout and setting a default timeout on every test?

Basically,
- remove global timeout
- by default, `t.timeout(10000)`
- advertise this and let the user modify as necessary.

The net effect is the same IMHO.

[2020-03-10 09:53] novemberborn commented on #2384
When tests run concurrently, within and across worker processes, their duration may vary wildly. The global timeout (misnamed as it may be) is only concerned with making sure something is happening in your test suite.

Individual timeouts can be useful in certain cases, but far from all.

[2020-03-10 10:49] sramam commented on #2384
Disclaimer:  I have now found my peace with the nested timeout and can live with the timeout change.

However, it seems my initial concerns are being experienced/reported by others.
Hopefully, the example below provides an insight.

The output below is meant to be slightly hyperbolic, but convey the confusion I sensed
with the timeout change on first blush.

[code]

This output is completely usele

[2020-03-11 07:19] novemberborn commented on #2384
@sramam are those tests using `serial`? Are they `async`? It's quite possible that the list here does not actually take into account which tests started, just those which haven't completed yet.

[2020-03-11 13:15] sramam commented on #2384
yes - you caught that one quick!

They are serial and async.

Each test is async, because it allows multiple suites to run in parallel.
Each test suite is serial, since they manipulate state on disk in a coordinated fashion - this allows me to use one test.before() to setup, overall, reducing run time by a very large factor.

[2020-03-12 09:10] novemberborn opened #2421 "When global timeouts occur, show unfinished tests, not pending ones"
When a global timeout occurs, we currently print all pending tests, like here:

https://github.com/avajs/ava/blob/b6a46bd7b38a0eb1ce52e552230d066988f0402a/lib/reporters/verbose.js#L163

The problem is that these tests have not necessarily *started*. For instance, if they're declared as `test.serial()`, or if they're non-asynchronous `test()`s.

We should only print those tests *and hooks* that hav

[2020-03-12 09:11] novemberborn commented on #2384
I've opened https://github.com/avajs/ava/issues/2421 to track. I'm going to mark our conversation here as "off-topic", so it doesn't distract from what this issue is hoping to address.

[2020-03-12 14:31] sramam commented on #2421
It'd be really useful to have the duration a test was running for along with this change.

[2020-03-13 11:35] DYefimov commented on #2406
Can't you just pass -- --inspect-brk to the underlying node process?

So, presumably, passing --inspect-brk to the underlying process should work?

Dealt with it too, having messaging though pipes between forks on top of it, plus serialization and other blackjack - yeah, it becomes messy really fast. And inconvenient to debug. That's why I was wondering about multithreading, and if forking is real

[2020-03-14 09:31] kleinfreund commented on #2290
In the meantime, how do I find out what’s actually going wrong?

I upgraded a project’s ava version to 3.5.0 (including the major version change to version 3.0.0). That project is importing a module from a .ts file via `ts-node/register`. Now, I get "Couldn't find any files to test" even though I have tests.

[2020-03-16 05:42] mesqueeb commented on #2421
I've recently starting to see this a lot of the time I run all my tests:

I only have async tests, I guess some are taking longer than AVA allows?

The thing is, even though all my tests are `async`, my custom mocks only use a timeout of `1` ms: `setTimout(() => {}, 1)`

Should I open a new issue for this? When searching for related issues it brought me here.

[2020-03-16 08:35] novemberborn commented on #2421
@mesqueeb note that with AVA 3, we've set a default inactivity timeout of 10 seconds. Before there was no default.

It may be that you have too many concurrent tests and they're slowing each other down. Try using more test files, or using `test.serial()`. You can also try increasing the timeout (`timeout: '30s'` in the configuration).

[2020-03-17 20:54] LoveSponge opened #2423 "--match when debugging"
Not sure if this is possible or supposed to be working currently, will close if it's not a target for development.

Passing `--match` to `ava debug` should allow the user to debug a single test in a test file with many tests.

Not available/working on current <3.5.0> version.

[2020-03-18 07:04] novemberborn commented on #2423
Yes this ought to work.

Does `--match` work without `debug`?

When you use it with `debug`, what behavior are you seeing?

Can you debug without `--match`?

[2020-03-18 12:17] LoveSponge commented on #2423
Thanks for the speedy response.

Match works without debug exactly as expected.
Using it with debug seems to just ignore it entirely.
Debugging works as expected without match.

[2020-03-19 08:31] hikyaru-suzuki commented on #2317
@novemberborn Hi!
Is this issue related https://github.com/avajs/ava/issues/1787 ?
I have been failing debugger after upgraded ava to v3.
But I found how to do debug on WebStorm.
I using
- WebStorm 2019.3.4
- AVA 3.5.0

You will be able to do debug mode by this capture.
![image](https://user-images.githubusercontent.com/43962447/77047037-6335b180-6a07-11ea-8975-e976cba1fdff.png)

I didn't use npm

[2020-03-19 08:41] hikyaru-suzuki commented on #2317
@novemberborn Hi!
Is this issue related https://github.com/avajs/ava/issues/1787 ?
I have been failing debugger after upgraded ava to version 3.
But I found how to do debug on WebStorm.
I using
- WebStorm 2019.3.4
- AVA 3.5.0

You will be able to do debug mode by this capture.
![image](https://user-images.githubusercontent.com/43962447/77047541-3b931900-6a08-11ea-8a33-e3990bf870b4.png)

I didn't u

[2020-03-19 09:36] novemberborn commented on #2317
No, that issue predates AVA 3.

AVA runs your test file in a child process. You don't need to debug AVA itself.

Yup. Ideally we can make this work using `ava debug`.

[2020-03-19 18:52] eirikb commented on #2317
I've made [this plugin](https://plugins.jetbrains.com/plugin/13835-ava-test-run-configuration-generator).
It also has the timeout issue though, not sure how to fix that.

[2020-03-21 15:43] novemberborn commented on #2317
You'd have to set it to a high value, perhaps using the CLI, eg `--timeout=1h`.

The approach [for VSCode](https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md) is to configure the port, combined with `--break` which is somehow needed as well.

Would that work for WebStorm?

[2020-03-21 15:50] novemberborn commented on #2423
I can't reproduce this:

[code]

[code]

[code]

The debugger only kicked in for the `foo` test. (There's only a `test.js` file in this project so there was no need to specify the file path for `ava debug`.)

I can't think of any reason this wouldn't work, so if you could share a reproduction that'd be great.

For now, I'm closing this issue for housekeeping purposes, but happy to re-open of cours

[2020-03-21 15:50] #2423 closed

[2020-03-21 15:59] novemberborn commented on #2412
@szmarczak so you filed https://github.com/avajs/ava/issues/2110 last year, which is pretty similar 😉

There's a PR to fix that one (https://github.com/avajs/ava/pull/2420) which is great. However I think we should still consider retaining the internal stack lines for all errors, whether or not they originated outside of user code, and use color to indicate their relevance.

So we'll keep this iss

[2020-03-21 19:47] eirikb commented on #2317
@novemberborn Not sure how to fix that in the plugin. I don't do debugging, I let IntelliJ (and friends) handle that. I create a generic nodejs run configuration, and this supports both run and debug out of the box. Perhaps I can specify additional flags when run in debug, need to look that up.

[2020-03-24 08:58] KSR-Yasuda opened #2430 "Async assertion timeout is going bad"
`t.notThrowsAsync()` assertion timeouts by the default timeout period.

* OS:      Ubuntu 16.04.6 LTS
* Node.js: v12.14.1
* `ava`:   v3.5.1

The code below timeouts by the default timeout or 10 seconds.

[code]

[code]

`t.timeout()` setting in the test code (Line (A) or (B)),
and command line `--timeout` / `-T` option looks not taking any effect in this case
(although, `ava.timeout` setting in `p

[2020-03-25 05:44] ash0080 commented on #2387
Wish to include p-event similar internal,
events test is the shortcoming of AVA

[2020-03-26 07:18] novemberborn commented on #2387
@ash0080 we'd rather people use `p-event` directly at this stage than add more API surface to AVA.

[2020-03-26 07:24] novemberborn commented on #2430
See https://github.com/avajs/ava/issues/2384.

[2020-03-26 07:24] #2430 closed

[2020-03-27 14:53] adymorz opened #2431 "Add an option to output stdout into a file"
* I am trying to save the output of my test run (only stdout without stderr) to a file, using gulp-ava.
* Neither `AVA` nor `gulp-ava` has a parameter to do this yet. Redirecting the whole output of gulp-ava into a file also redirects output of gulp into it.
* [I implemented the parameter in gulp-ava already](https://github.com/avajs/gulp-ava/pull/32), but it might makes more sense to implement it

[2020-03-27 14:58] novemberborn commented on #2431
No, sorry. AVA is designed to be used on the CLI, and you can redirect outputs in your terminal.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-03-27 14:58] #2431 closed

[2020-03-27 18:22] adymorz commented on #2431
Thanks for your reply. I just added a new comment to the [original pull request in gulp-ava](https://github.com/avajs/gulp-ava/pull/32) containig a new approach.

[2020-03-27 18:50] fregante opened #2432 "With `esm`: AVA 2 supports `type: module`, AVA 3 doesn't"
I know that full ESM support is WIP (#2293) but I wanted to document this regression.

[code]
This exact combination fails:

* Node 12.15 (12.16+ fails regardless)
* AVA 3.0+ (2.4- works)
* `ava.require`: esm
* `type: module` in the current package.json

I also tried dropping the internal [`supportsESM`](https://github.com/avajs/ava/blob/13d66519e7b69e810079673d6583dc7336a16ebe/lib/worker/subproce

[2020-03-27 20:55] novemberborn commented on #2432
Yea sorry about that. The `.mjs` extension can now only be used with proper ES modules, not the `esm` package.

[2020-03-27 20:55] #2432 closed

[2020-03-27 21:00] fregante commented on #2432
I don’t have mjs files, but `type: module`

But fair enough

[2020-03-27 21:23] novemberborn commented on #2432
Right. On mobile, need to check what is supported and what isn’t.

[2020-03-28 11:20] novemberborn commented on #2432
@fregante I see. I'm not sure we can override how Node.js interprets `type: module`. https://github.com/avajs/ava/issues/2345 proposes configuration for file extensions, so that would be the way to go, if we can somehow load these files as CJS.

[2020-03-29 20:29] fregante commented on #2432
There's nothing _extra_ to be supported: the module is a real ES Module and should be loaded as an ES Module just like Node can.

In this specific case it still wouldn't work due to non-`type:module` dependencies, but AVA 3 just fails even with an empty `./index.js`

This is what happens with:

- AVA 2.4
- Node 13.9
- Without ESM
- Only this line inside `test.js`
[code]

[code]

[2020-03-29 20:55] fregante commented on #2432
I think there's some deep issue with this combination:

- AVA 3
- `type:module`
- JSX in tests

The moment I add `@babel/preset-react` and rename it to `test.jsx` it starts throwing this _wrong_ error:

[code]

I spent enough time on this today, I think this issue should be reopened (but it should mention JSX/babel)

[2020-03-29 21:05] fregante commented on #2432
[repro.zip](https://github.com/avajs/ava/files/4399774/repro.zip) contains:

### package.json

[code]

### tests.jsx

[code]

### index.js

[code]

### Error

[code]

[2020-03-30 08:34] novemberborn commented on #2432
@fregante I did not notice you were using `@ava/babel`. Per https://github.com/avajs/babel/issues/13 it cannot load ESM files. You can try running Babel outside of AVA and then using AVA's own ESM support.

[2020-03-31 02:09] DonnieWest commented on #2138
Is this something that is up for grabs? If so, I'd be pleased to take this on @novemberborn

[2020-03-31 06:15] KSR-Yasuda commented on #2430
I got that the global timeout porposes to kill stuck test.

But then, isn't there any way to raise heartbeat or something to prevent timeout?
None of `t.log()`, `t.pass()` or other assertion does care about it
(If any assertion is called, test is anyhow running, isn't it?).

For example, in case of calling external command,
the only thing I can do is to set global timeout far longer enough?

[code

[2020-03-31 08:44] novemberborn commented on #2138
@DonnieWest maybe you could pick up where @ulken left off? If that's OK with you @ulken? https://github.com/avajs/ava/pull/2300

[2020-03-31 08:45] novemberborn commented on #2430
Yes, that's what #2384 is about.

Yes.

[2020-03-31 12:11] ulken commented on #2138
@DonnieWest @novemberborn Let me have a quick look at it. I'll get back to you by the end of the day if I'm up for it or not. My guess is not, but just want to double check the changes that have been made and what's being requested. Thanks!

(Sorry for not replying earlier)

[2020-03-31 20:44] ulken commented on #2138
Hey @DonnieWest. I've looked at it now and depending on @novemberborn's view on my feedback, I might be able to pick this up again. I'll let you know as soon as he replies.

[2020-04-01 00:38] KSR-Yasuda commented on #2384
Okay, I got it. Thank you.
I'll keep an eye on the issue and future updates.

[2020-04-01 00:39] KSR-Yasuda commented on #2430
Okay, I got it. Thank you.
I'll keep an eye on the issue and future updates.

[2020-04-01 09:24] KSR-Yasuda commented on #2430
Note for others:

Perhaps **`process.send({ava: {}})`** can be used as a heartbeat until the update comes.

As above, I found `console.log()` or other stdout/stderr output works so.
This was also that stdout/stderr's `data` events are converted as `ava`'s events to reset the global timer.

`process.send({ava: {}})` would be better:
it does not dirty any console output.

[2020-04-03 13:43] ulken commented on #2138
@DonnieWest Alright, I'll have a final go at this. I'll make sure to let you know if I'm unable to pull it off.

[2020-04-03 14:56] bitjson commented on #1049
Have there been any recent developments to this issue with the release of AVA 3?

Does anyone have a preferred workaround for adding power-assert support with imported macros? (Right now for `deepEqual` I'm stringify-ing the result and expectation in the 3rd `message` parameter.)

[2020-04-04 12:53] #840 closed

[2020-04-04 13:43] mbiesiad opened #2438 "JSPM and SystemJS - 404 not found"
Hi, we should fix a link for:
'JSPM and SystemJS' is unfortunately invalid - official docs (recipes): https://github.com/avajs/ava
here: https://github.com/avajs/ava/blob/master/docs/recipes/jspm-systemjs.md
"404 not found"
Best greetings

[2020-04-04 14:00] novemberborn commented on #2438
Where is the broken link exactly?

[2020-04-04 14:23] mbiesiad commented on #2438
Here: https://github.com/avajs/ava
Recipes field, CTRL+F -> JSPM and SystemJS
![error-404](https://user-images.githubusercontent.com/18367606/78453212-82cc0b80-7690-11ea-8093-952661b44a82.png)
and then:
![error-404-2](https://user-images.githubusercontent.com/18367606/78453215-865f9280-7690-11ea-9aba-37d2bcd25e0e.png)

[2020-04-04 14:42] #2438 closed

[2020-04-04 14:43] novemberborn commented on #2438
Ah, cheers. That recipe was removed in https://github.com/avajs/ava/pull/2319.

[2020-04-06 14:38] shellscape opened #2443 "Support assertion message in t.timeout()"
Please provide details about:

* What you're trying to do

I'd like to display a message to folks observing test runs on a particular timeout to indicate that they need to check some configuration locally. This particular scenario arises from bad user config that is detectable only at runtime (thanks AWS).

* Why you can't use AVA for this

I've sifted through the docs and can't find a good way to

[2020-04-06 15:17] bunysae commented on #840
@novemberborn
Could you transfer the bounty?

[2020-04-06 15:24] novemberborn commented on #840
@sindresorhus knows how to do that 😄

[2020-04-07 08:31] novemberborn commented on #2443
AVA 3.6 gives you `t.passed` in `afterEach` hooks. Though that presupposes you can separate the tests likely to fail due to misconfiguration.

You could use [`t.try()`](https://github.com/avajs/ava/blob/master/docs/03-assertions.md#trytitle-implementation--macro--macro-args) instead:

[code]

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-04-07 11:46] shellscape commented on #2443
Disappointed that this was closed so quickly without any discussion. The trigger happy closing on Sindre's old projects is beginning to be a bit problematic.

While I appreciate the additional info, that solution is massively more complex than the proposed feature.

[2020-04-07 12:06] novemberborn commented on #2443
As I wrote before closing:

And, well, I don't think this is an "old project of Sindre".

---

Sorry, my first reaction is to think about what lower level constructs can be used, before adding features.

That said, adding an assertion message to `t.timeout()` makes sense to me. I need to check how we could then show that in the reporters and then I can update this issue to reflect. What do you thi

[2020-04-07 12:11] shellscape commented on #2443
In all fairness, it's relatively universal that a closed issue is "resolved." That's the impression you're likely to get more often than not, and most users won't circle back after an issue is closed. (It's really not a good look) On some of the larger projects I help maintain, we use labels for housekeeping which makes filtering super easy.

I think that's great and appreciate your willingness to

[2020-04-07 23:06] ulken commented on #1984
I took a stab at this in #2444

[2020-04-08 14:45] gavinpc-mindgrub commented on #1485
@novemberborn I'm curious how you think that `t.try` would help in @arcesino's case.  Calling `commit()` on the result of a `try` also does not stop execution.  Are you suggesting that a test where failures should stop execution, such as the following

[code]

could be rewritten somehow like this?

[code]

I have to agree with the earlier comments that this makes debugging difficult, and I have fa

[2020-04-08 19:03] LoveSponge commented on #2423
@novemberborn Thank you for your time and quick reply, sorry it has taken me so long to get back to you;

# TL;DR

The issue is not that debugging is not working at all, it is. The issue is that when debugging (with debugger statement or VSCode debug) 2 items in the same file, the first item is always debugged first.

This leads me to the belief that even if I only set 1 break point in a file, all

[2020-04-08 19:05] LoveSponge commented on #2423
I've updated the title to better reflect the issue, and my original post.

[2020-04-09 03:57] xenoterracide opened #2445 "Feedback: typescript and first impressions"
shouldn't this work? or will ava only run precompiled tests

[code]
[code]

[code]

feels like the documentation needs work

**UPDATE**
ok, this actually works...
[code]

except... WAT

[code]

[2020-04-09 08:13] ftaiolivista opened #2446 "Ava seems to not work on new LTS 12.16.2"
- Install AVA

- Create a simple test file

const test = require('ava')

test('foo', t => {
    t.pass()
})

test('bar', async t => {
    const bar = Promise.resolve('bar')
    t.is(await bar, 'bar')
})

- Run /node_modules/.bin/ava t.js

Result:

[code]

NODE DUMP
[code]

[2020-04-09 08:23] novemberborn commented on #2446
Does it work with a previous Node.js version? The changes are insignificant: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#12.16.2

This works for me, locally:

[code]

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-04-09 08:23] #2446 closed

[2020-04-09 10:44] ftaiolivista commented on #2446
You are right. Cleaned yarn cache, reinstalled project and deps and now it works. Thank you.

[2020-04-09 13:07] xenoterracide opened #2447 "support ava.config.json5"
https://json5.org would be nice to be able to specify the config in this format.

[2020-04-09 13:48] xenoterracide opened #2448 "vscode launch config doesn't output all of the same information"
seems that ava doesn't print the full output when in a vscode launch configuration.

[code]
here's the launch config

[code]

believed relevant versions

[code]

WORKAROUND: set `"console": "integratedTerminal",` in `launch.json`

[2020-04-09 14:25] novemberborn commented on #2447
Sorry, we'll only support JavaScript formats, and `package.json` under the `ava` key.

[2020-04-09 14:25] #2447 closed

[2020-04-09 15:20] xenoterracide commented on #2448
I think this may be related https://github.com/microsoft/vscode/issues/19750, but I don't fully understand why it wouldn't be fixed with the "std" option.

[2020-04-09 19:24] bitjson opened #2449 "TypeScript types: add `asserts` and return `never` from relevant assertions"
As of TypeScript 3.7, it's now possible to [type assertions using the new `asserts` syntax](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#assertion-functions). It would be great if AVA's assertions used this syntax where possible.

For example:

[code]

This produces the error:
[code]

If the `t.true` method had the following signature:
[code]
The example would not

[2020-04-09 20:28] bitjson commented on #2449
Ah, I missed these related issues: https://github.com/avajs/ava/issues/2411, https://github.com/avajs/ava/issues/2330

Both issues are focused on adding the `asserts` types, which is made more complicated by this error:

[code]

This can be fixed by declaring the type of `t`:

[code]

As I understand it, this is a fundamental limitation of the TypeScript compiler, and assertions with inferred type

[2020-04-10 13:18] novemberborn commented on #2443
We can support an assertion message in `t.timeout()`.

This requires adding an argument here:

https://github.com/avajs/ava/blob/447d37153b5af9139c45cf5b0fd97ad92bea0c14/lib/test.js#L67

And then passing it along to here:

https://github.com/avajs/ava/blob/447d37153b5af9139c45cf5b0fd97ad92bea0c14/lib/test.js#L435

We should retain the default message. I think that should just show up correctly in

[2020-04-10 13:19] shellscape commented on #2443
Fantastic. I'm happy to help with that work if you'd like it

[2020-04-10 13:20] novemberborn commented on #2443
@shellscape yes, PRs welcome 😉

[2020-04-10 13:31] novemberborn commented on #1485
@gavinpc-mindgrub yes, for "expensive" test step that you wish wouldn't execute, you could wrap the previous step in a `t.try()` and stop the test execution.

Of course this only makes sense if you have "expensive" steps within a single test.

Node Tap does something similar, although [it allows top-level assertions and nested tests](https://node-tap.org/docs/structure/).

Could you elaborate on h

[2020-04-10 13:39] novemberborn commented on #2423
Did you notice how `--match` is enclosed in quotes? `'--match "Filter for 1 or more GroupIDs"'`.

Try this instead:

[code]

[2020-04-10 13:44] novemberborn commented on #2445
After installing `@ava/typescript`, setting `"typescript": true` in the AVA configuration enables TypeScript support. You shouldn't change the `extensions`.

At the moment, this only works with pre-compiled files (sources & tests). If that's your jam you won't need `ts-node/register`. This has been working great for my work projects.

(I'm closing this issue for housekeeping purposes, but let's ke

[2020-04-10 13:44] #2445 closed

[2020-04-10 13:49] novemberborn commented on #2448
Ha, I hadn't actually noticed that before. I don't really understand these launch configurations either…

That said, I think the console output is more useful for debugging, even if it's incomplete. So I'd rather not change the recommended configuration.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-04-10 13:49] #2448 closed

[2020-04-10 13:57] novemberborn commented on #2449
Whilst I share your desire to use AVA's assertions for control flow analysis, I'm not sure if it's worth the hoops we'd have to jump through.

If you use `t.context` for instance, you need to specify its type in `ExecutionContext<My_T_Context_Type>`.

I don't think we need to add more assertion methods, either, that will break unless you've explicitly typed `t`.

I'm not sure why this is useful, b

[2020-04-10 14:22] #1984 closed

[2020-04-10 15:00] gavinpc-mindgrub commented on #1485
Hi @novemberborn, thanks for the reply.

First I want to apologize for the harsh tone that I used in my earlier post.  It has been a long, sleepless week for me, and although I did not intend to be critical without being constructive, I see in retrospect that I was.  Thank you, and the rest of the team, for your work on this useful project.

To answer your question, I would say that *not knowing*

[2020-04-10 15:37] gavinpc-mindgrub commented on #2449
@bitjson to emphasize that last point:

This is something I also didn't realize when filing #2411.  The assert-like functions on `t` *do not in fact assert* in the way meant by TypeScript's `asserts` keyword.

[2020-04-11 00:15] mesqueeb opened #2451 "Special characters & t.is"
I'm trying to check some strings with special characters, but I can't seem to:
<img width="1154" alt="image" src="https://user-images.githubusercontent.com/3253920/79030590-bcdb6700-7bd4-11ea-87b4-11b35c85766a.png">

The result looks the same as the string I'm comparing to, but AVA still says it's different...

Please note these are only Latin-1 unicode characters. Aka the "most common" special ch

[2020-04-11 01:52] sindresorhus commented on #2451
Unicode characters can be different even if they look the same. That's why we have `String#normalize()`.

[2020-04-11 02:16] mesqueeb commented on #2451
@sindresorhus thanks. Using `String.normalize()` in my source code & in the tests code solved any of these issues had.

[2020-04-11 02:16] #2451 closed

[2020-04-11 10:44] novemberborn commented on #1485
Hey @gavinpc-mindgrub, no worries, and thanks.

Undoubtedly we could improve our reporter and make it clearer when assertions failed, and when logs were emitted, relative to each other. That should help with debugging.

What's interesting about running tests is that they tend to pass! So while you need to make sure your test doesn't pass when it should have failed, you don't necessarily have to be

[2020-04-11 10:47] novemberborn commented on #2449
Note that the assertion doesn't actually have to throw for TypeScript to infer a type. E.g. given the proper annotations, this should work just fine:

[code]

Unfortunately the necessary syntax may just be too awkward to recommend.

[2020-04-11 19:04] bitjson commented on #2449
Ah! I've always used the `failFast` option, so I didn't realize that – thanks. So returning `never` isn't really correct without the `failFast` behavior.

@novemberborn yep, it's a little contrived. [Here's a real example](https://github.com/bitauth/bitcoin-ts/blob/0412cafb417a5b169bddfbe0afca572c0763df08/src/lib/template/compiler-bch/compiler-bch.spec.ts#L36) of the sort of discriminated type I'd

[2020-04-12 14:15] novemberborn commented on #2449
That's not quite right… `--fail-fast` just stops additional tests from starting, so that your `ava` invocation exits more quickly. Any test that is already running will complete, and failing assertions don't stop their test from completing either.

I appreciate this may be surprising, but so is interrupting the worker processes upon an error. It's a tough balance.

---

I wonder if we're going abo

[2020-04-12 18:17] DemianD commented on #2417
Instead of using nyc, you can also use https://github.com/bcoe/c8 which works with esm

[2020-04-13 11:25] novemberborn commented on #2449
Building on this, if we were to return booleans for whether an assertion passed, we could turn some of them into type guards.

[2020-04-13 15:39] alberto56 opened #2454 "Valid test in code/test.js, but npm test code/test.js results in "Couldn’t find any files to test""
Please provide details about:

* What you're trying to do

Run a test in /app/code/test.js

* Why you can't use AVA for this

Regardless of how I try this, I always get "Couldn’t find any files to test"

    root@7d5a158f4fef:/app# cat package.json
    {
    	"name": "docker-ava",
    	"scripts": {
    		"test": "ava"
    	},
    	"devDependencies": {
    		"ava": "*"
    	}
    }
    root@7d5a158

[2020-04-13 15:44] alberto56 commented on #2454
Ahhh, just saw [I need to specify my test files in configuration](https://github.com/avajs/ava/blob/master/docs/06-configuration.md). Works now.

[2020-04-13 15:44] #2454 closed

[2020-04-14 00:40] bitjson commented on #2449
@novemberborn that looks very promising! And also agreed on assertions returning booleans, that would make some of my tests much more fluent 💯

[2020-04-14 07:11] novemberborn opened #2455 "Have assertions return booleans"
Spurred by conversation in https://github.com/avajs/ava/issues/2449 and https://github.com/avajs/ava/issues/1485 we'd like for our assertions to return booleans. `true` when they pass, `false` when they fail. This does not apply to the `throws()` and `throwsAsync()` assertions.

Failing assertions will fail the test, but do not throw exceptions. This means your test does not stop executing. Usuall

[2020-04-14 07:13] novemberborn opened #2456 "Turn assertions into user-defined type guards"
Once https://github.com/avajs/ava/issues/2455 is out of the way, we should turn our assertions into [user-defined type guards](https://github.com/avajs/ava/issues/2455) wherever possible.

This may require some discussion to figure out the right types. Perhaps we should start off with some proposals in the TypeScript Playground.

[2020-04-14 07:18] novemberborn commented on #1485
I've filed https://github.com/avajs/ava/issues/2455 to have our assertions return booleans, which would go some way towards helping folks prevent "expensive" operations if a test has already failed.

[2020-04-14 07:18] novemberborn commented on #2449
OK see these three issues:

* https://github.com/avajs/ava/issues/2455
* https://github.com/avajs/ava/issues/2456
* https://github.com/avajs/typescript/issues/21

[2020-04-14 07:18] #2449 closed

[2020-04-14 20:47] micaelmbagira opened #2457 "TypeScript errors not displayed when using a reporter"
I have a TypeScript app and I am running the tests with the _tap-xunit_ reporter.
When there is a compilation error and using `--tap` the errors are not displayed

[code]

A more general question would be: is it possible to tap to multiple reporters? In this case, having the _verbose_ reporter on top of _xunit_ would solve it.

[2020-04-14 21:05] ulken commented on #1399
@novemberborn Maybe just the bot is to blame, but shouldn't @mihai-dinu been awarded the bounty for this? Issue is still up on IssueHunt.

[2020-04-14 23:39] LoveSponge commented on #2423
@novemberborn

Works perfectly, thankyou

[2020-04-15 08:04] novemberborn commented on #2457
Our TAP reporter is barely functional unfortunately.

Do errors show in the `--tap` output itself? Would you happen to know how they should be formatted for `tap-xunit`?

[2020-04-15 08:05] novemberborn commented on #1399
@ulken good find. I'm not sure… @sindresorhus?

[2020-04-16 19:48] aviralch commented on #2455
Hello,

can i work on this ?

[2020-04-17 07:16] micaelmbagira commented on #2457
@novemberborn Just did a simple repro case and the errors are displayed in the tap output. I will dig deeper if the problem comes from xunit or my CI/CD.

[2020-04-17 07:16] #2457 closed

[2020-04-17 08:00] novemberborn commented on #2455
@aviralch yea that'd be great, thanks!

[2020-04-17 12:49] pcdevil opened #2458 "Manual rerun doesn't work when verbose mode is off"
Hello,
I'm using AVA with watch mode, and noticed [the manual rerun][1] doesn't work if `verbose` mode is off in the config.

### Setup

related package.json part:
[code]

**ava.config.verbose-off.js**:
[code]

**ava.config.verbose-on.js**:
[code]

### Expected behaviour
When I run the `npm run test` command the tests can be manually rerun by typing `r + <Enter>`.

### Actual behaviour
The documen

[2020-04-18 05:52] SephReed opened #2460 "So -- like -- where do I put my test files as .ts?"
Ever heard of the drunk test?  It's a UX thing where you see if a person can figure it out when drunk: Facebook passes... so does Paypal.

I can't figure out how to make my `/__tests/tets.ts` file to run with `ava`.   I think maybe I'm supposed to do something extra for ava to work with .ts files... it's been a month or two.  This probably should be on the landing page.  I don't know many professi

[2020-04-18 05:55] SephReed commented on #2460
Found this: https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md

Where do the files go and how do they run?

[2020-04-18 05:58] SephReed commented on #2460
Found this: https://github.com/avajs/typescript

I don't get it.  I need to update package.json?  If I'm not installing anything, couldn't ava just figure out that the files end in `.ts` and pretend package.json said some stuff?  I like this project.  Hope this gets fixed eventually.

[2020-04-18 06:00] SephReed commented on #2460
What is this:
[code]

why would I rewrite a path.  Everything is where it's supposed to be.  I'm not trying to hack something together here.  Is this the default?

[2020-04-18 06:02] SephReed commented on #2460
I found this code in one of my old projects:
[code]

It's totally different than what I'm finding in your docs but at least looks reasonable.

[2020-04-18 06:14] SephReed commented on #2460
I tried a bunch more stuff but finally got it.  Holy fuck you guys, it's like two lines of instructions:

1. run this `npm i ts-node --save-dev`

2. add this to your `package.json`
[code]

I don't know if this is a bug or feature request issue, but could you add these instructions to your docs WAY UP at the top.  It's insane how difficult this is for being --- for better or worse -- an industry st

[2020-04-18 06:14] #2460 closed

[2020-04-18 08:42] micaelmbagira opened #2461 "Parallel test failing when CI_NODE_TOTAL is strictly greater than total number of test files"
**How to reproduce**

Consider an app with only 1 test file, `index.spec.ts`:

[code]
and set the following environment variables

[code]

Run the test

[code]

Then change the `CI_NODE_INDEX`: `export CI_NODE_INDEX=1`

**Expected**

ava cannot find any test to run for this index (because there's only 1 test file in total) and **exits with 0**.

**Current behavior**

ava exits with code 1 because

[2020-04-18 11:08] novemberborn commented on #2458
Nice find @pcdevil!

Hopefully we can do some more copy/pasting to solve this?

That'd be amazing. https://github.com/avajs/ava/issues/2217 summarizes an approach. If it's an incentive, this would help solve many other issues that have bounties on them, see this list: https://github.com/avajs/ava/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Ascope%3Areporters+label%3A%22%3Adollar%3A+Fu

[2020-04-18 11:24] novemberborn commented on #2460
There's no special place where you need to place your files.

[`@ava/typescript`](https://github.com/avajs/typescript), at this stage, assumes you compile your codebase first. You then give it a test file in its original location (eg `src/test/thing.ts`) and it'll load the build output (given the rewrite path, so perhaps `build/test/thing.js`).

`ts-node/register` can be quite slow since it might

[2020-04-18 11:26] novemberborn commented on #2461
I agree, it should recognize this scenario and exit with code 0, and perhaps `✅ No files tested in this parallel run` or something along those lines.

[2020-04-18 16:48] juanjoDiaz opened #2462 "Test name uniqueness works differently depending on pattern passed to the CLI."
I have 3 files with the exact same tests with the exact same names.
Each file, however, tests a different implementation.
For the sake of example, you can think of 2 files with the same tests once testing lodash and other testing underscore.

If I run `ava test/{test1,test2,test2}.js` my tests pass just fine.
If I run `ava test/*.js` my tests fail with `error: Duplicate test title: <my test title>

[2020-04-18 18:51] micaelmbagira commented on #2461
@novemberborn i’ll try to open a PR.

[2020-04-18 19:31] novemberborn commented on #2462
Uniqueness should be per file. Any chance there’s a file you’ve overlooked?

[2020-04-18 23:10] pmascheroni commented on #2455
Hi, @novemberborn  I am also attempting an update to this issue and wondering if I could be assigned to it too?  Not sure if that is allowed, but I would like to work on this also.

Thanks

[2020-04-19 08:23] jcubic opened #2465 "A way to hook into showing stack trace and error when test failed"
I have this case: I have Scheme Lisp interpreter written in JavaScript and when tests are failing to show very long no relevant stack trace and line that is not related. Because Ava is tracing only JavaScript and not my Scheme code it don't show the line in tests that are failing but line in my eval function for my language.

![AVA error](https://i.stack.imgur.com/57pVH.png)

Here I've showed the

[2020-04-19 08:26] jcubic commented on #2465
Unfortunately I don't have small reproducible example, for this I need my own language and my unit tests written in that language. Maybe there are other use cases that will benefit from this I'm not sure.

[2020-04-19 10:33] novemberborn commented on #2455
@pmascheroni let's give @aviralch a chance first.

[2020-04-19 10:36] novemberborn commented on #2465
Are you referring to the line highlighted in red? That is meant to show which assertion in your test failed. It shouldn't show something like `src/lips.js` since that's not a test.

Or maybe you're referring to the stack trace below, in grey?

[2020-04-19 11:00] juanjoDiaz commented on #2462
Indeed.

It turned out that I had a file importing two other test files and creating the duplicate.

[2020-04-19 11:00] #2462 closed

[2020-04-19 13:06] jcubic commented on #2465
I'm referring to both, they came from my source not from unit tests, because my unit tests are not written in JavaScript. I have something like this:

[code]
it load all Scheme files and run tests from Scheme. I'm concatenating all the files including Standard libraries and run exec that execute my JavaScript that in turn call ava tests function.

[2020-04-19 13:28] #2461 closed

[2020-04-19 13:32] novemberborn commented on #2465
Could your interpreter rewrite the stack traces? That would work for thrown errors.

If you use the `t.try()` assertion you could access all errors, including thrown ones, and rewrite their stack. That'd be an unsupported hack but it should work.

[2020-04-19 15:13] aviralch commented on #2455
@novemberborn, @pmascheroni this is my first issue, I will try to do this and keep you updated by the end of of week.

[2020-04-19 15:54] novemberborn commented on #2461
I've shipped the fix in v3.7.1.

[2020-04-20 17:20] PlkMarudny opened #2466 "3.7.1 does not work"
Please provide details about:

* What you're trying to do

Set up a simplest possible test, following the documentation

* What happened

When running a test, getting a crash:

[code]

* What you expected to happen

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

We'll also need your

[2020-04-20 17:25] novemberborn commented on #2466
What Node.js version are you using?

[2020-04-20 17:28] PlkMarudny commented on #2466
8.11.1

[2020-04-20 17:34] novemberborn commented on #2466
AVA 3 requires 10.18.

Node.js 8 isn’t even maintained by Node.js anymore. You should migrate away from it.

[2020-04-20 17:34] #2466 closed

[2020-04-20 17:35] PlkMarudny commented on #2466
OK, thank  you.

[2020-04-21 17:11] pcdevil commented on #2458
@novemberborn thanks for the kind response!

I'd prefer another approach :)

I see there were interest from others for #2217 - can I consider it is up for grabs for now?
I have some spare time in the upcoming days, I'd create a draft PR for early feedback and see where I can go with it :)

[2020-04-22 07:39] novemberborn commented on #2458
Sure, but copy/pasting will at least get a fix out sooner.

Sounds great. If you comment on that issue I can assign it to you.

[2020-04-22 08:16] aureooms opened #2467 "Ava --match glob does not match newlines"
Here is how to reproduce

[code]

Then

    ava test.js -m 'test*'

says `Couldn’t find any matching tests`.

Bug or feature? My current workaround is to `JSON.stringify` titles.

[2020-04-22 16:55] SephReed commented on #2460
Ah, that makes a lot of sense.

I use a typescript bundler, which skips the .js file output stage entirely.

[2020-04-22 18:51] pcdevil commented on #2217
as of #2458 I expressed my interest to work with this and I'd take it!

[2020-04-22 18:54] pcdevil commented on #2458
I will see how I can handle - I'm just generally against "ohh, I just copy this piece of code and it will be fine" method, but yes, you are right, the sooner fix the better!

Done!

I'd separate the work with the two issue to reduce the footprint of the fix itself and presumably make it more rapidly.
Do you agree with this? I'm sensing by your previous comment you do, but want to check.

[2020-04-23 06:57] novemberborn commented on #2467
Yes I'd say it's a bug, but it originates in another package: https://github.com/sindresorhus/matcher/issues/24

[2020-04-23 07:01] #2110 closed

[2020-04-23 07:06] novemberborn commented on #2460
Could you elaborate on that?

[2020-04-23 07:07] novemberborn commented on #2458
Yea. Rebuilding the reporters is a *lot* of work.

[2020-04-23 15:08] MaxDesplanches opened #2469 "Gitlab CI with ava and mongodb memory server"
Hello there,

I am using Gitlab CI to execute ava test. Unfortunately, I got an error in pipeline on test execution:

## Setup

#### api-authorization.js

[code]

#### gitlab-ci.yml

[code]

## Expected behaviour

All tests passed (works in local with same command from test script)

## Actual behaviour

#### pipeline from gitlab container
[code]

If you have any ideas, maybe a memory limit ...

th

[2020-04-23 16:03] SephReed commented on #2460
This is the bundler: https://github.com/fuse-box/fuse-box

One can direct it at a root file and it will proceed to compile it and all of its dependencies into a single .js file.  It also does fancy stuff like tree shaking unneeded code.

So it does output a .js file, but not the way that `tsc` would.  I don't have a `/dist` folder with `*.js` files that map to `*.ts` files in `/src`

[2020-04-25 10:58] novemberborn commented on #2469
It looks like there was an uncaught exception, though the stack trace doesn't seem available. There are some improvements due to come out in the next release of AVA that could help you.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-04-25 10:58] #2469 closed

[2020-04-25 11:02] novemberborn commented on #2460
Does your bundle include the tests? Presumably it includes everything _else_, right? So then in your tests you'd import the bundle?

[2020-04-25 11:25] #2458 closed

[2020-04-25 12:48] jcubic commented on #2465
@novemberborn Can you show how to use this API, I can't find it in source code. I have code like this:
[code]
but for all tests it just shows:
[code]

Ho to rewrite the stack? The unit tests only show that you can call e.pass() and e.fail() inside t.try nothing with stack.

[2020-04-25 12:51] novemberborn commented on #2465
See https://github.com/avajs/ava/blob/master/docs/03-assertions.md#trytitle-implementation--macro--macro-args:

[code]

[2020-04-25 15:04] ehmicky opened #2472 "Crashes with Node 14"
Ava crashes when used with Node 14.

`test.js`:

[code]

Command line:

[code]

This is using the default configuration (no configuration file, etc.).

Environment:
  - ava `3.7.1`
  - node `14.0.0` (`13.13.0` does not have this bug)
  - Ubuntu `19.10`

[2020-04-25 15:05] novemberborn commented on #2472
This should be fixed in `master`. Could you give that a try?

[2020-04-25 15:08] ehmicky commented on #2472
This is fixed in `master`!

I tried looking for that bug in GitHub issues/PRs but not in the latest commits, my apologies.

Should I keep this issue open until a release made?

[2020-04-25 15:09] novemberborn commented on #2472
Yes it had already landed 😄

I've pinned this for now. Will close when the release is out. Most likely tomorrow.

[2020-04-25 16:05] jcubic commented on #2465
Thanks, I think it works.

[2020-04-25 16:05] #2465 closed

[2020-04-26 13:58] #1873 closed

[2020-04-26 14:02] #2138 closed

[2020-04-26 14:09] novemberborn opened #2473 "Make line number selection work with @ava/babel & @ava/typescript"
[Line number selection](https://github.com/avajs/ava/blob/master/docs/05-command-line.md#running-tests-at-specific-line-numbers) relies on AVA parsing the test file. This does not work when you use a require hook (such as `ts-node/register`). That's OK. However we do want it to work with our [Babel](https://github.com/avajs/babel) and [TypeScript](https://github.com/avajs/typescript) providers.

U

[2020-04-26 14:34] novemberborn opened #2474 "Process source maps in main process; allow disabling of processing"
Source maps get confusing real fast. I'd like to handle them more explicitly, removing the installation of [`source-map-support`](https://www.npmjs.com/package/source-map-support).

This means that any processing of stack traces should assume they have not been corrected for source maps. We should avoid unnecessarily processing stack traces in the worker processes. That means delaying source extra

[2020-04-26 15:23] novemberborn commented on #2472
3.8 is now available.

[2020-04-26 15:23] #2472 closed

[2020-04-27 09:44] ulken commented on #928
@novemberborn Due to the age of this issue and the introduction of [`t.teardown()`](https://github.com/avajs/ava/blob/master/docs/02-execution-context.md#tteardownfn), is this still desired?

[2020-04-27 09:58] novemberborn commented on #928
I've been thinking about this for a while now. I think as part of https://github.com/avajs/ava/pull/2435 I'd like to have a "set-up" lifecycle thing which can return a teardown function. It's a different use case from "run this before" and "run this after".

I've assigned this to myself for now.

[2020-04-27 11:47] #2467 closed

[2020-04-27 11:54] novemberborn commented on #2467
@aureooms the `matcher` upgrade is now out in AVA 3.8.1.

[2020-04-27 12:48] aureooms commented on #2467
Thanks!

[2020-04-28 16:02] tylerlindell commented on #2203
What did you change to fix this?

[2020-04-29 11:51] sramam commented on #2421
Perhaps this deserves a separate issue, but will log it here and move if that seems more appropriate.

This is the console log I see:

[code]

What's happening is that one test file has a `before()` implementation that needs to make network access that exceeds the 30s global timeout setup (actually it only happens intermittently on the CI system - a bit of a detour to reason about)

Seem it would

[2020-04-30 07:22] novemberborn commented on #2421
@sramam to clarify, what are you expecting to see here?

[2020-04-30 07:37] sramam commented on #2421
Just some indication that it's not the test itself, but which setup/teardown that timed-out.
On larger suits, with multiple authors, I can see how it'll be a nightmare to figure the culprit.

The output as presented above basically says there was a timeout, but everything passed.
Especially when it's intermittent, I'd like to know if it was because of changes just introduced
or because of some oth

[2020-04-30 09:43] sramam commented on #1585
I needed a workaround for this feature.

*The good news:*
Took a bit of digging around, but current implementation (as of ~v3.8) actually
provides the ideal solution (for my use-case!).

The rest of this note documents my use-case.
Hopefully it'll sway the maintainers should this behavior ever be reconsidered.

## The use case
I'm building a code generator, which generates some boiler-plate, which

[2020-04-30 11:07] novemberborn commented on #1585
Could you elaborate *why* you need `t.snapshot()` at all?

That's a private variable. Don't use it.

[2020-04-30 11:47] sramam commented on #1585
I like to write my functions like so:

[code]

A very convenient way to test these, is
[code]

While this looks like the functions are "pure" (meaning on side-effects), in reality the functions are interfacing with external APIs with 100s of lines of output (and state, but that's not important here).

It's very tedious to build exact matchers for such output. Moreover, I don't control the external

[2020-04-30 15:07] jcubic opened #2481 "How to clear ava cache or any temporary files?"
I was working on my unit tests and I was running unit tests from Emacs ansi-term in watch mode using  inotifywait (so they was running in each file save) and something break because now each time I run the tests, every test is marked as pending and passing in same time (first is list all tests with pending status then list of all tests that are passing).

So I tough that this may be some kind of t

[2020-04-30 15:09] jcubic commented on #2481
Just found this but it don't work: `./node_modules/.bin/ava reset-cache`.

[2020-04-30 15:14] jcubic commented on #2481
I'm running ava from nyc (too see conveage) but removing the both cache files don't work.

[2020-04-30 16:04] jcubic commented on #2481
I've commited trivial change and now my clean repo also fail, I'm running `nyc ava --verbose test.js` every tests is marked as pending and passing.

[2020-04-30 17:42] jcubic commented on #2481
Finally solved the issue using really long timeout: `nyc ava --timeout 10m --verbose test.js`

Maybe there are just lot of tests and since they are all async it take time.

[2020-04-30 17:42] #2481 closed

[2020-05-01 08:39] novemberborn commented on #1585
For snapshot testing to work, you need to compare against a known-good snapshot. That should involve a human looking at the generated snapshot report, ideally during code review.

If you generate a snapshot during CI then that does not happen, and you won't detect unintended changes.

It's not clear to me yet why you need to create new snapshots in CI. Where is your known-good snapshot coming from

[2020-05-01 08:40] novemberborn commented on #2481
FWIW, AVA itself no longer writes temporary files. That only happens if you use `@ava/babel`.

[2020-05-01 09:24] jcubic commented on #2481
Yea it was not cache as I primary though it's just the my tests runs finish in 27 seconds (`user	0m27,328s` according to linux `time` command) and everything is async so it's probably real timeout but I'm not sure why it work fine without nyc but fail with nyc.

[2020-05-01 09:55] novemberborn commented on #2481
`nyc` adds overhead.

[2020-05-01 12:19] shellscape commented on #2443
Checking in, this is still on my radar.

[2020-05-01 12:34] sramam commented on #1585
Perhaps my speaking in abstract terms is causing the point to get muddled.

My program is very similar to create-react-app or yeoman like programs: It's a program that generates a program.

To set the stage, there are three "programs" that we'll refer to:
- template-program,
- meta-program and
- generated-program.

` metaProgram(userInput, templateProgram) => generatedProgram`

That is to say: _th

[2020-05-02 10:28] novemberborn commented on #1850
Since this issue was filed, we've made the printing depth configurable: https://github.com/avajs/ava/pull/2121

However that only applies to `t.log()`.

As @bunysae rightly realized, we could use that depth whenever we print diffs, see https://github.com/avajs/ava/pull/2479.

[2020-05-02 10:29] #1850 closed

[2020-05-02 10:31] novemberborn commented on #2421
@sramam thanks. That makes sense. I've updated the issue summary to read:

[2020-05-02 11:07] novemberborn commented on #1585
So the generated program ends up generating snapshots? How do you ensure that they're "good"?

---

I am very interested in exposing low-level building blocks so you can build more powerful testing solutions. Just need to figure out what the right blocks are 😄

[2020-05-02 13:32] sramam commented on #1585
Exactly! The meta-program test generates it on the CI system, verifies that it still compiles+executes and then discards it.

The template-program is responsible for ensuring that the snapshots are sufficient.
Remember this is all boiler-plate - so compile and execute is sufficient "goodness" criteria.

The customizations do not involve complex logic - just generating the right artifacts, with the

[2020-05-02 13:56] novemberborn commented on #1585
Okay I'm still confused what code generates the snapshots.

It sounds like maybe a "write snapshot without asserting" concept would do the trick, but I also wonder if you can't emit something you can use with `t.deepEqual()`.

[2020-05-02 15:19] sramam commented on #1585
This is the simplest I can boil down the code to. Hopefully it'll help:

### template-program.js
[code]

### meta-program.js
[code]

### generated-program.js
[code]

---

You are essentially asking for a defense of my testing strategy and the use of snapshots! I'm game, but will have to be careful - it can slip out of scope very quickly.

While the simple boilerplate above only hints at it, the "r

[2020-05-02 15:22] sramam commented on #1585
Also, the template program was trivialized for this presentation, but it's in the level of complexity of a Rails/Django model+controller in reality. It has enough substance to warrant this approach.

[2020-05-02 15:45] novemberborn commented on #1585
I'm trying to understand your use case, to see how AVA can help not just you, but other use cases like yours.

How do you determine this if the snapshot is created by the generated program in CI?

You seem to like AVA's snapshots. Who do you think spent months on that implementation? 😉

[2020-05-02 17:59] sramam commented on #1585
When building the template-program, I am manually validating that the snapshot is correct.
Both the template-program and generated-program (at t=0) are scaffolding - a no-op for practical purposes.

The generator of the scaffolding (the meta-program), does not generate logic - just renames
variable-names (regexp/replace), and sets import paths and such.

The logic of the generated program is untou

[2020-05-02 19:31] sramam commented on #2099
Given my extensive commenting on #1585, I'd like to argue against this.

`ava`'s current behavior is consistent with other js-land test frameworks.
While I'm not against doing different, it should not be done without sufficient cause.

Many of the issues raised by  @billyjanitsch, while real, belong outside a test runner.

IMHO the pre-commit/push/publish hooks should include a step to check for u

[2020-05-02 21:41] vicatcu commented on #1485
If you'll indulge me, I'd like to riff on this issue. When I write a step like this in my test:
[code]
I expect any subsequent lines in that test to be able to rely on the fact that res.body is indeed an array without fear of throwing an exception because `res.body` doesn't have the `find` method, for example.

I wouldn't especially care that an exception was thrown downstream of that assertion ex

[2020-05-03 10:27] ahukkanen commented on #2099
Either way, document how it works so that also people not familiar with AVA will understand how it works. Or at least when they bump into this behavior, they get the information from the documentation that it is how it is designed to work.

[2020-05-03 13:05] novemberborn commented on #1585
Right. So when you run the test suite for the template program, you check snapshots. And then you run the test suite for the generated program and you're basically making sure there's no exceptions.

I think the best approach for your use case would be to wrap the `t.snapshot()` call:

[code]

And then use `snapshotOrPass(t, result)` in the tests.

It's a little awkward (at least until you can ins

[2020-05-03 13:33] sramam commented on #1585
Currently, using AVA_FORCE_CI works just fine without any more code and is really elegant.
It's easy to explain, easy to understand and easy to reason about.

The solution being proposed will have none of these attributes. Not to mention writing a boatload
of code which no one really cares about.

Not sure I understand your strong objection to treating AVA_FORCE_CI as part of the public interface.

[2020-05-03 13:38] novemberborn commented on #1585
It exists so that AVA's own test suite can run reliably in Node.js' CIGTM environment. It may change so that its internal use is more clear.

Nothing's stopping you from using it, of course.

I think we've exhausted this discussion.

[2020-05-03 13:46] sramam commented on #1585
Thank you for indulging me.

I'll keep a look out for release notes in the future, but if you do decide to change its behavior, I'd appreciate a heads up to plan for the change.

[2020-05-05 17:45] SephReed commented on #2460
My bundle does not include the tests, and I'd never thought of running the tests using the bundle as the source.  I prefer to use .ts files for everything I can as they're much more inspectable.  It's nice to be able to meta-click and see the source code of any given thing.

When using AVA, I currently just do it the slow way above.  It's still plenty fast, so that's good.

[2020-05-06 07:46] qkdreyer opened #2483 "Node v12.13.1 is incompatible with this module"
[code]

[2020-05-06 07:48] qkdreyer commented on #2483
Upgraded to node LTS (`v12.16.3`) meanwhile

[2020-05-06 07:50] sindresorhus commented on #2483
The error says it all:

[2020-05-06 07:50] #2483 closed

[2020-05-07 08:26] dimaqq commented on #2432
[sorry if I don't understand the complexity here]
The issue is closed, yet the commentary seems to indicate that this circumstance is still unsupported:

There's a comment that this (or something) needs to be solved in avajs/babel, so should this issue remain open waiting for that instead?

[2020-05-07 09:02] novemberborn commented on #2432
@dimaqq if you're using JSX with our Babel provider, then yes https://github.com/avajs/babel/issues/13 is the issue you're looking for.

In short, ESM only really works without on-the-fly compilers at this point. That's a general observation, nothing to do with AVA really.

[2020-05-08 10:28] eankeen opened #2484 "used package micromatch not in `package.json`"
* What you're trying to do
Execute `ava` binary

* What happened
Ava and crashes because it 'Cannot find module micromatch' (see photo below)

* What you expected to happen
No crash to occur

* Steps
[code]

[code]

[code]

here is the exact error i've received when executing `yarn test` after downloading ava with either pnpm or yarn 2

![image](https://user-images.githubusercontent.com/24364012/8

[2020-05-08 11:34] novemberborn commented on #2484
Oh good find. I would have expected a linting rule to catch that, actually.

No need to add the dependency, but I'll change the offending code to use `picomatch` instead.

[2020-05-08 11:59] #2484 closed

[2020-05-08 12:15] novemberborn commented on #2484
This should be fixed in 3.8.2.

[2020-05-10 11:35] Michael55555 commented on #1337
It seems like nobody is working on this issue. This feature costs me a lot of time, may I go for it?

[2020-05-10 12:21] novemberborn commented on #1337
Sounds good @Michael55555.

[2020-05-10 17:02] Michael55555 commented on #1337
Having added the changes for verbose, the expectation from the logs doesn't meet the output anymore.

Do I have to update every single log file to make it match the new output, or is there a shorter way?

[2020-05-10 17:54] novemberborn commented on #1337
See test-tap/reporters/readme.md

[2020-05-10 21:24] Michael55555 commented on #2046
This issue is related to #1337

[2020-05-11 11:24] novemberborn commented on #2046
Thanks @Michael55555 I'm closing this as a duplicate.

[2020-05-11 11:24] #2046 closed

[2020-05-11 11:25] novemberborn commented on #2412
I think this was addressed in #2420 as well.

[2020-05-11 11:25] #2412 closed

[2020-05-11 16:31] Michael55555 commented on #1668
@novemberborn Should I tackle this issue for the behalf of #2217?

[2020-05-11 23:01] BARICISSE commented on #2455
Hi, if no one is currently working on this and it is still open, i would like to contribute.

[2020-05-12 07:03] novemberborn commented on #1668
If you're meaning to do it first, sure. Or else perhaps as part of that. I'll assign you anyway.

[2020-05-12 07:04] novemberborn commented on #2217
@pcdevil did you manage to take a stab at this? I think @Michael55555 is interested in working on this as well.

[2020-05-12 07:06] #1337 closed

[2020-05-12 07:07] novemberborn commented on #2455
@aviralch what do you think?

[2020-05-12 07:48] pcdevil commented on #2217
Hello @novemberborn,

Sorry, I only did small improvements locally, started to outsource the identical part of [VerboseReporter.consumeStateChange()][1] into a new `BaseReporter` class.

Unfortunately I didn't have much time in the last two weeks as anticipated. I can hand it over that code to @Michael55555, no harm on my part if he wants to take it over!

[1]: https://github.com/avajs/ava/blob/ma

[2020-05-12 08:51] novemberborn commented on #2217
Thanks for the update @pcdevil.

FWIW I don't think we need any base class. We can envision a single reporter, which in verbose mode… reports more!

@Michael55555 what do you think?

[2020-05-12 09:09] Michael55555 commented on #2217
Moving the functionality from _minimal_ to _verbose_ would possibly be the best way to do it.
Once we did that, we can give the new reporter class a more descriptive name.

[2020-05-12 09:21] novemberborn commented on #2217
I'm not sure if modifying the current code is going to cut it.

[2020-05-12 09:35] Michael55555 commented on #1917
@novemberborn You referenced this issue in #2217, but it seems like this enhancement isn't related to #2217, isn't it? I feel like this issue should be marked as blocked, since we cannot work on this issue, as long we haven't closed #2217.

[2020-05-12 09:45] novemberborn commented on #1917
@Michael55555 sure, thanks.

[2020-05-12 11:19] Michael55555 commented on #2217
Ok, I see. I think creating a base class would be great to avoid writing code twice. Some functions in the tap and the verbose reporter seem to be nearly the same.

[2020-05-12 12:02] novemberborn commented on #2217
I don't want us to expend any energy on the TAP reporter. Longer term we'll move it out of this repository. The duplication is fine for the time being.

[2020-05-12 13:50] Michael55555 commented on #2217
Alright, I see. I just created a ``base-reporter.js``, which holds bot ``mini.js`` and ``verbose.js``.

[2020-05-12 13:56] aviralch commented on #2455
Yup, sure go ahead. I am currently in middle of exams but if you need to get in touch lmk.

[2020-05-12 14:39] novemberborn commented on #2455
Thank you @aviralch, and good luck!

[2020-05-13 05:21] SephReed opened #2489 "Glob does not work. **/*.test.ts does not exist."
This is either a bug, or could use some better error messaging.  Looks like a decent glob to me.

[2020-05-13 06:47] SephReed commented on #2489
This is what works:
[code]

any more or less `/**` and it'll fail

[2020-05-13 07:01] novemberborn commented on #2489
Yes that seems weird.

Could you share your AVA version, what shell you use, and a redacted directory layout?

[2020-05-13 07:11] KSR-Yasuda commented on #2489
If Linux, isn't it just shell completing the wild card beforehand, instead of ava?

How is `ava "**/*.test.ts"` to pass the pattern itself to ava?

[2020-05-15 12:41] Michael55555 commented on #2217
@novemberborn I opened a pull request referencing this issue already, I'd be happy if you review the changes 😄. #2488

[2020-05-16 04:48] SephReed commented on #2489
I'm on MacOS and had just `npm i ava`.  The directory layout is private, so I can't share it... but it's a bunch of folders, some have `__tests` folders..

Sorry I can't give more that that.

This is working for now.

[2020-05-16 15:12] RahulKannan12 commented on #2455
Hi, is it done ?, if not I can make a try ! Please let me know :+1:  I would like to contribute

[2020-05-16 17:40] BARICISSE commented on #2455
Hi @RahulKannan12, I am currently working on it.

[2020-05-17 02:47] mesqueeb commented on #1973
Oh wow, I came here 1 year later with the same issue as I had 1 year ago. 😅

These days I test directly with the TypeScript files of my source code.

For anyone with this issue, just do:
[code]
and make your AVA config like so:
[code]
problem solved!
🎉

[2020-05-17 07:59] RahulKannan12 commented on #2455
Hi @BARICISSE , Okay great ! thanks for the information :+1:

[2020-05-17 10:52] vintprox commented on #1366
This is good idea! Let's say, it's very useful for running Nuxt.js server with predefined configuration for test purposes and disposing of it. Related: https://github.com/nuxt/typescript/issues/293

[2020-05-17 11:52] novemberborn commented on #2489
The way this is supposed to work, AVA looks at the `files` configuration and finds all test files.

Then it looks at the CLI arguments, expands globs if necessary, and filters the test files accordingly. If this does not result in any files the error message is confusing, but see https://github.com/avajs/ava/issues/2373.

`**/*.test.ts` should match any `.test.ts` files that are run when you just

[2020-05-17 11:52] #2489 closed

[2020-05-17 11:53] novemberborn commented on #1973
Or if you happy to compile before running tests, our [`@ava/typescript`](https://github.com/avajs/typescript/) package works pretty well.

[2020-05-18 12:31] chdefrene commented on #2317
This configuration works perfectly for me using Webstorm 2020.1.

For anyone coming across this issue having trouble using this configuration to debug typescript files, you need to add `"sourceMap": true` to your tsconfig.json file.

I also want to add that you can set up Webstorm to compile typescript whenever this configuration is run, by adding it as an entry in the "Before launch" section.

![

[2020-05-19 05:41] bok-jin commented on #2229
I just checked the link and it is working, @novemberborn. I think that this issue can be closed.

[2020-05-19 06:49] novemberborn commented on #2317
@chdefrene would you be interested in doing a PR to add this to the recipe?

[2020-05-19 06:49] novemberborn commented on #2229
Thanks @bok-jin!

[2020-05-19 06:49] #2229 closed

[2020-05-19 09:01] vedantroy opened #2492 "Can't use --match with ava debug"
The command: `pnpm run test:debug -- --match="simplify-union"` (will provide package.json, so you know what this resolves to) fails with error "Provide the path to the test file you wish to debug", but, `pnpm run test -- --match="simplify-union"` works without issue.

As such, I cannot specify a test name when running tests in debug mode.

Here is the relevant part of my package.json. The `build`,

[2020-05-19 14:41] bok-jin opened #2493 "Create a documentation website"
I noticed that there is a [repository containing the project documentation](https://github.com/avajs/ava-docs), but the English version is not there, some existing versions are out of date, some contain errors and the documentation reading experience is not welcoming at all.

I'm thinking of creating a GitHub page to centralize all the documentation, using tools like [Docusaurus](https://docusauru

[2020-05-19 14:51] novemberborn commented on #2493
The English version is in this repository. Translations will fall behind, I think that's to be expected.

See https://github.com/avajs/ava/issues/1454#issuecomment-586707405 for the issue around having a website. We'd love the help!

[2020-05-19 14:51] #2493 closed

[2020-05-20 17:56] fregante opened #2494 ""Timed out while running tests""
I've been seeing more and more timeouts especially when running on GitHub Actions. I have very few and simple tests, so I'm not sure of why this times out so easily.

[code]

Test file that times out: https://github.com/sindresorhus/refined-github/blob/master/test/helpers.ts
✅ Example run that completes: https://github.com/sindresorhus/refined-github/runs/695138978?check_suite_focus=true
❌ Example

[2020-05-20 22:37] #2492 closed

[2020-05-22 16:22] yjpa7145 opened #2495 "Add ability to reverse the order of teardown steps"
The new teardown functionality is awesome. In most of my tests, though, I need the teardown operations to happen in the opposite order that they were specified.

For example, let's say I have a test that goes something like this:

- create directory
- create file in directory
- run test against file
- delete file in directory
- delete directory

In this contrived example, let's pretend that you co

[2020-05-22 20:04] mrozbarry opened #2496 "Import from web root"
Please provide details about:

## What I'm trying to do

I'm building a web app that has no build steps and imports scripts using `type="module"`. All subsequent imports use `import foo from '/someFile.js'` - I specify the `/` because my web app is an SPA and all scripts are at the root. I'm also using CDNs where possible, like unpkg, which results in `import foo from 'https://unpkg.com/package?mo

[2020-05-23 00:26] timepp opened #2497 "--fail-fast is not so fast"
[code]
I used to write related cases in the above way which is very clean. One of these cases in middle was failed.

My expectation is that `ava` stop execution on the failed case and I can know exactly which case was failed by simply looking at the last console output (via `t.log(c)`).

But `ava --fail-fast` didn't stop the execution and all cases are printed out finally, causing me unable to kno

[2020-05-24 12:23] novemberborn commented on #2494
You can configure a higher timeout value.

I'd also consider removing `ts-node` and compiling before you run tests. Then you can use `@ava/typescript`. This is what `got` does: https://github.com/sindresorhus/got/blob/a337dfdfc4151593044c8b729245308081a071be/package.json#L99-L103

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-05-24 12:23] #2494 closed

[2020-05-24 12:38] novemberborn commented on #2495
Yes you're right @yjpa7145. Not sure why we didn't do that.

Unfortunately we documented that the teardown functions run in order, so I don't think we can get away with changing this in a minor version.

The way to land this now is to make it an experimental feature. Let's call it `reverseTeardowns`. Add that to the set here:

https://github.com/avajs/ava/blob/baaf99a792eed586678a0cf88864f3f0aa16b

[2020-05-24 12:44] novemberborn commented on #2496
The goal of AVA is to be a Node.js test runner. We've found that trying to be clever with Node.js internals is not a viable strategy, _especially_ with the migration to ESM we'll be going through in the next couple of years.

I don't think we can do an "import root" feature in AVA itself. It might be possible to support this as a provider, along the lines of `@ava/babel` and `@ava/typescript`. But

[2020-05-24 12:44] #2496 closed

[2020-05-24 12:52] novemberborn commented on #2497
`--fail-fast` stops AVA from starting new tests. It cannot interrupt any tests that are already running.

What you're encountering is that a failed assertion doesn't stop a test implementation from executing. https://github.com/avajs/ava/issues/2455 will give you a way of recognizing when this is the case.

That said, have a look at [`t.try()`](https://github.com/avajs/ava/blob/master/docs/03-asse

[2020-05-24 12:52] #2497 closed

[2020-05-24 13:39] fregante commented on #2494
`ts-node` I think is easier to configure rather than pre-compilation for projects with a bundling step.

Without `webpack`, `got` can just add `tests` to `tsconfig` and it will just work.

With `webpack`, we'd have to configure a additional/separate run of `tsc` just to compile the `tests` folder.

Could the default `timeout` be configured to exclude `ts-node` or is that too difficult?

[2020-05-24 14:52] novemberborn commented on #2494
It's too difficult. It's a "lack of test progress" timer, but it doesn't know why there is no progress.

[2020-05-24 15:34] #1577 closed

[2020-05-24 15:34] #1587 closed

[2020-05-24 15:34] #1589 closed

[2020-05-24 15:35] #1603 closed

[2020-05-24 15:36] #1748 closed

[2020-05-24 15:40] novemberborn commented on #1769
The work I'm doing with https://github.com/avajs/ava/pull/2478 will allow us to run a worker thread. That said, I don't think our internal events are stable enough to expose to user code.

It's been two years since this was opened, I don't think we'll get to this for a while still, so I'm going to close this issue, sorry.

[2020-05-24 15:40] #1769 closed

[2020-05-24 15:40] #1864 closed

[2020-05-24 15:41] novemberborn commented on #2026
FYI we've recently changed this to "Node.js test runner that lets you develop with confidence 🚀".

[2020-05-24 15:41] #2026 closed

[2020-05-24 15:43] #1435 closed

[2020-05-24 15:45] novemberborn commented on #1451
We're focusing on running just Node.js code for the foreseeable future.

[2020-05-24 15:45] #1451 closed

[2020-05-24 15:56] novemberborn commented on #1986
FWIW, AVA now treats the file paths you provide as a filter over the tests it would execute normally. Which means you can pass staged files.

AVA itself now supports just JavaScript, with Babel and TypeScript support implemented in separate packages. Parsing the source tree to build a priority list is possible but difficult. Still, it'd be cool to have and doesn't change our other internals.

[2020-05-24 15:58] #2167 closed

[2020-05-24 16:00] novemberborn commented on #1481
We're close to landing a [`t.like()`](https://github.com/avajs/ava/pull/2490) assertion which would solve this use case.

[2020-05-24 16:00] #1481 closed

[2020-05-24 16:01] #2243 closed

[2020-05-24 16:02] novemberborn commented on #2241
AVA now has a debug mode which resolve this issue.

[2020-05-24 16:02] #2241 closed

[2020-05-24 16:03] novemberborn commented on #1980
I think this is a source map problem. https://github.com/avajs/ava/issues/2474 could be a solution.

[2020-05-24 16:03] #1980 closed

[2020-05-24 16:04] #1825 closed

[2020-05-24 16:04] #2271 closed

[2020-05-24 16:04] #2268 closed

[2020-05-24 16:05] #2292 closed

[2020-05-24 16:09] novemberborn commented on #1827
With https://github.com/avajs/ava/pull/2435 I'm exploring ways to create custom `test()` methods as well as adding custom assertions. I think that would provide a good foundation for the issues discussed here.

[2020-05-24 16:09] #1827 closed

[2020-05-24 16:09] #1829 closed

[2020-05-24 16:11] novemberborn commented on #2318
I don't think this is actionable any time soon. Once we have an extensible structured logger we can explore this further.

[2020-05-24 16:11] #2318 closed

[2020-05-24 16:13] #2414 closed

[2020-05-24 16:16] novemberborn commented on #2099
Yea I'm ambivalent on this. If we get the experience right, this may be worthwhile. But equally perhaps the solution is to have improved log output.

[2020-05-24 16:20] #161 closed

[2020-05-24 16:21] #178 closed

[2020-05-24 16:21] #324 closed

[2020-05-24 16:22] #472 closed

[2020-05-24 16:23] #710 closed

[2020-05-24 16:24] novemberborn commented on #518
Our `--fail-fast` implementation can pre-empt tests that haven't yet started. That functionality could be used to make sure a test process exits more quickly before rerunning it.

[2020-05-24 16:24] #558 closed

[2020-05-24 16:25] #648 closed

[2020-05-24 16:25] #653 closed

[2020-05-24 16:25] #665 closed

[2020-05-24 16:27] #785 closed

[2020-05-24 16:27] #849 closed

[2020-05-24 16:28] #867 closed

[2020-05-24 16:29] #936 closed

[2020-05-24 16:29] #962 closed

[2020-05-24 16:32] novemberborn commented on #1033
When writing integration tests, it can be tempting to run them serially, with an assumed order. This means you can't just run one of the tests. The proposed behavior would break watch mode for those users, but I think that's fine.

[2020-05-24 16:38] Peque commented on #2414
@novemberborn Has this been fixed? Or a recipe added to the docs? Or is the final resolution a "wont fix"?

[2020-05-25 08:34] novemberborn commented on #2414
Hey @Peque, per https://github.com/avajs/ava/issues/2414#issuecomment-593120059 I don't think we'll be adding this to AVA. Always open to link to examples or have a recipe, but IMHO it's not worth keeping this issue open for that.

[2020-05-25 08:36] #1062 closed

[2020-05-25 08:38] #1204 closed

[2020-05-25 08:39] #1229 closed

[2020-05-25 08:39] #1264 closed

[2020-05-25 08:40] #1277 closed

[2020-05-25 08:40] #1324 closed

[2020-05-25 08:44] novemberborn commented on #1428
We should only support worker threads and Node.js 12.16 or higher. I think it could even be the default on supported platforms. Despite the "pool" concepts discussed here, you'll have a better chance of getting this shipped by modifying `lib/fork.js`.

[2020-05-25 08:44] novemberborn commented on #1332
Closing in favor of https://github.com/avajs/ava/issues/1428.

[2020-05-25 08:44] #1332 closed

[2020-05-25 08:47] novemberborn commented on #1205
FWIW, AVA no longer prints output like this, though it's supported through `@ava/babel`. I'm going to close this issue since I don't think we'll make any progress on this one way or the other.

[2020-05-25 08:47] #1205 closed

[2020-05-25 08:49] novemberborn commented on #1359
IMHO achieving this kind of isolation will have such an overhead as to not be worthwhile.

[2020-05-25 08:49] #1359 closed

[2020-05-25 08:51] #1396 closed

[2020-05-25 08:56] novemberborn commented on #1456
I think this could be `test.curry()`. Will investigate as part of #2435.

[2020-05-25 08:57] #1460 closed

[2020-05-25 08:58] #1509 closed

[2020-05-25 08:59] #1510 closed

[2020-05-25 09:00] #1531 closed

[2020-05-25 11:41] novemberborn commented on #1701
This has been addressed.

I'm not sure if this is important, so I'm not going to open this issue.

[2020-05-25 11:41] #1701 closed

[2020-05-25 11:42] #1730 closed

[2020-05-25 11:45] novemberborn commented on #1743
FWIW I'm not sure if this is still an issue.

[2020-05-25 11:47] novemberborn commented on #1777
I've seen timeout behavior still on Windows, so old though this issue may be, it could still be a worthwhile change.

[2020-05-25 11:50] #1787 closed

[2020-05-25 11:51] novemberborn commented on #1846
Closing in favor of https://github.com/avajs/ava/issues/1428.

[2020-05-25 11:51] #1846 closed

[2020-05-25 11:54] #2038 closed

[2020-05-25 11:54] #2063 closed

[2020-05-25 11:54] #2066 closed

[2020-05-25 11:55] #2067 closed

[2020-05-25 11:55] #2068 closed

[2020-05-25 11:58] novemberborn commented on #2070
My approach in #2435 is to enable the construction of custom `test()` functions, which would include their own hooks and context construction. So you'd have a `testWithDb()` function. I think that's better than the solution advocated for here, so I'm closing this issue.

[2020-05-25 11:58] #2070 closed

[2020-05-25 11:59] #2106 closed

[2020-05-25 11:59] #2174 closed

[2020-05-25 12:22] novemberborn commented on #2298
It's available in Node.js 12.16 now. There's a commit in #2478 which achieves this.

[2020-05-25 12:23] #2343 closed

[2020-05-25 12:24] #2366 closed

[2020-05-25 12:38] novemberborn opened #2499 "Documentation ideas"
This issue summarizes our ideas for documentation improvements.

* Explain "helpers", how they're different from "test files", how to best use them, why you might add them to the `require` configuration or load them directly.

* Given that AVA is a Node.js test runner, how to make it work with JavaScript code that is (normally) bundled for other environments.

* How to think about test setup, cont

[2020-05-25 13:04] #2194 closed

[2020-05-25 13:18] novemberborn opened #2500 "Improved reporter experience"
By default it provides minimal output. We show a spinner and the status of the last test, so you get a sense of activity, and once an entire test file completes do we print failures. In verbose mode, we'd print the results of all tests & hooks, including logs. Various counts for passing and failing tests are always shown at the end of the output.

If a TTY is not available, we wouldn't print a spi

[2020-05-25 13:18] novemberborn commented on #2500
This is sort-of blocked by the consolidation of our current reporters, see https://github.com/avajs/ava/issues/2217.

[2020-05-25 13:19] novemberborn opened #2501 "Known reporter issues"
This is a list of known problems and desired improvements with our default reporter. Some may be easier to solve than others, but probably we should [clean up our reporter implementation](https://github.com/avajs/ava/issues/2500) first.

* If an exception occurs when loading the test file, before it manages to declare any tests, we should say so. Originally reported in https://github.com/avajs/ava

[2020-05-25 13:20] novemberborn commented on #2217
I've split off https://github.com/avajs/ava/issues/2500 & https://github.com/avajs/ava/issues/2501.

[2020-05-25 13:28] aureooms opened #2502 "Hitting "The job exceeded the maximum log length..." on Travis CI"
I have a project were I run a lot of tests with AVA (> 30000 test calls).
I use travis-ci.org for CI. Current setup logs one line per test in the travis log.
The test suite logs approximately 27000 lines before being halted by Travis which says "The job exceeded the maximum log length, and has been terminated.". Is there a way to log less?

[2020-05-25 16:58] novemberborn commented on #2290
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:58] #2290 closed

[2020-05-25 16:59] novemberborn commented on #2191
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #2191 closed

[2020-05-25 16:59] novemberborn commented on #1743
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #1743 closed

[2020-05-25 16:59] novemberborn commented on #1583
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #1583 closed

[2020-05-25 16:59] novemberborn commented on #2246
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #2246 closed

[2020-05-25 16:59] novemberborn commented on #413
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #413 closed

[2020-05-25 16:59] novemberborn commented on #1917
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #1917 closed

[2020-05-25 16:59] novemberborn commented on #2421
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #2421 closed

[2020-05-25 16:59] novemberborn commented on #2201
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #2201 closed

[2020-05-25 16:59] novemberborn commented on #1558
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #1558 closed

[2020-05-25 16:59] novemberborn commented on #2171
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #2171 closed

[2020-05-25 16:59] novemberborn commented on #1953
Both due to the age of this issue, and the state of our reporters, I've decided to roll this into #2501.

[2020-05-25 16:59] #1953 closed

[2020-05-25 19:23] mrozbarry commented on #2496
I guess there are test frameworks that specifically run in the browser - maybe that's an option. I was hoping to run all my tests through ava (because let's face it, ava is pretty :sunglasses: ), but maybe this is a square peg/round hole situation. I am, however, surprised that testing in javascript is very geared towards node/web bundlers, but I guess that keeps the ecosystem node compatible.

[2020-05-25 22:32] timepp commented on #2497
Thanks!

[2020-05-26 07:02] novemberborn commented on #2502
Ha, isn't that something!

You could redirect to a file, I suppose. But it'll be hard to find the failing tests. Then again with that many test calls I imagine that's a problem regardless.

Maybe output using `--tap` and pipe through something which highlights failing cases only?

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-05-26 07:02] #2502 closed

[2020-05-26 07:07] novemberborn commented on #2496
There's at least two ecosystems in JavaScript 😉 Browser ecosystems tend to assume bundlers, a fully working ESM implementation, and as you found a different assumption around where the modules are coming from. In Node.js there's little use of bundlers, there's like 5 different ESM implementations, and of course a different runtime than for the browser.

That's not to say you can't test browser cod

[2020-05-26 11:56] aureooms commented on #2502
Yes I could try that. I wonder if it is worth adding an option for this kind of filtering directly in ava. Probably not.

[2020-05-26 12:19] yjpa7145 commented on #2495
Sounds good, I’ll pull the repo this week and try to take a crack at it.

[2020-05-26 12:40] aureooms commented on #2502
Currently using `--tap` and piping to [`tap-dot`](https://github.com/scottcorgan/tap-dot) works great.

[2020-05-26 13:01] mrozbarry commented on #2496
I'd think that ava in the browser would _probably_ be a bad time - the main appeal of ava is how it divides up files to run tests quickly, and I'm not sure how that would work in the browser aside from spinning up a bunch of child windows. I don't think workers would be a good option because those are sandboxed and limited in which web apis they can access.

[2020-05-27 16:35] fisker opened #2504 "Question: how to avoid snap conflicts"
I'm using snap testing, problem is there are conflicts on every PR, since git can't merge `.snap` file. I tried to not store `.snap` file, but it won't work.

What's the best practice? Can we document it?

[2020-05-29 06:41] devil-cyber commented on #2495
I am new to open source can I work on this

[2020-05-29 08:40] novemberborn commented on #2495
@devil-cyber let's give @yjpa7145 a chance to pick this up first 😄

[2020-05-29 09:02] novemberborn commented on #2504
The `.snap` files contain the actual snapshot data, so you do need to commit them.

I merge or rebase the PR, locally, and update the conflicting snapshots by running that test file with `npx ava -u path/to/file`.

Perhaps you could do a PR to add this to https://github.com/avajs/ava/blob/master/docs/04-snapshot-testing.md?

(I'm closing this issue for housekeeping purposes, but let's keep the con

[2020-05-29 09:02] #2504 closed

[2020-05-29 09:09] fisker commented on #2504
So, you are saying there is no way to store `.snap` as text now? And that means there has to be conflicts.

[2020-05-29 11:23] novemberborn commented on #2504
That's correct. But it's been that way for nearly three years now.

The way we preserve the data, so that we can do comparisons and render diffs, does not lend itself to a text based format.

[2020-05-29 11:39] fisker commented on #2504
Will we consider diff the `.md` file? Or behind a option, in that way we don't need store the `.snap`.

[2020-05-29 13:20] yjpa7145 commented on #2495
Thanks, I'm on it. Should have a PR up today. I appreciate the enthusiasm, though, @devil-cyber.

[2020-05-29 13:24] novemberborn commented on #2504
No, the Markdown file is just there for humans to look at.

[2020-05-29 13:53] sindresorhus commented on #2504
I think the proper fix here is for GitHub to make it possible to resolve merge conflicts concerning binary files in the GitHub UI. Maybe even https://github.com/sindresorhus/refined-github could do something about it. At least worth opening an issue there.

[2020-05-29 14:34] yjpa7145 commented on #2495
@novemberborn I have a draft PR up, let me know if there's anything you'd like to see changed. I opted for reversing the list of teardowns rather than conditionally using `push` vs `unshift` so that it was a little more explicit why it was happening.

[2020-05-29 15:43] fisker commented on #2504
But different snap always  has  different `md` file, right?

[2020-05-29 15:49] fisker commented on #2504
@sindresorhus  I  don't understand how that can  resolve this  problem. It's not  text file, Either the  master snap nor the PR snap  is  right  , I thought  the  only way is re-generate it  by `ava`?

[2020-05-31 13:16] novemberborn commented on #2504
@fisker yea you'd have to pick either file (and make the same choice for the Markdown file), which probably isn't what you want.

[2020-06-01 17:12] sindresorhus commented on #2504
@fisker You're right. I was thinking you could just pick one, but that obviously won't work.

[2020-06-02 08:17] dvddpl commented on #2317
hi.  since AVA 3 we also have issues with debugging tests with Intellij IDEA -  configuration should be similar to that for webstorm but above fix did not help because error is different:

Starting inspector on 127.0.0.1:54264 failed: address already in use

tried to apply the solution used in VisualStudio Code, setting port but with no success.  any hints?

[2020-06-04 18:35] rkalis opened #2507 "NYC coverage with "all" option not working for AVA with TypeScript"
I recently ported a JS project that uses AVA to TS. Using @ava/typescript itself worked fine, but I struggled with getting the nyc coverage to work (it was displaying 0% coverage for everything).

In the end this was caused by the fact that I had enabled the "all" option in nyc (*Whether or not to instrument all files (not just the ones touched by your test suite*). So after disabling this option

[2020-06-04 23:54] jmamcallister commented on #404
When debugging a test with WebStorm (v 2020.1.1), the normal test timeout occurs when paused at a breakpoint and the test fails. Can I disable the timeout or configure WebStorm/AVA differently?

[2020-06-05 07:33] novemberborn commented on #404
@jmamcallister see https://github.com/avajs/ava/issues/2317. The `ava debug` command disables the timeout, but the recipe needs to be updated with instructions on how to use that.

[2020-06-05 07:35] novemberborn commented on #2507
This is a problem with `nyc` though.

[2020-06-05 07:35] #2507 closed

[2020-06-05 07:38] rkalis commented on #2507
I'm happy to open the issue on their repo, but the reason I opened it here is that I've never had the issue when using that option on nyc with mocha or jest + TypeScript.

[2020-06-05 07:43] novemberborn commented on #2507
`nyc` applies quite a lot of hacks to record the coverage. `@ava/typescript`, while not as hacky, still requires JS code from a build directory, rather than the TypeScript code from a source directory. It's all a bit complicated.

I've been switching my projects to use https://github.com/bcoe/c8 which doesn't need all these hacks.

[2020-06-05 07:44] rkalis commented on #2507
Awesome, thanks for the link, I'll check c8 out.

[2020-06-05 13:25] rkass opened #2508 "./ava Memory Leak"
## Issue

Running `./ava  > /dev/null` overnight causes my computer to grind to a hault. Looking in activity monitor I see ava consuming 10GB of RAM. Note that I have finished bootstrapping and am currently running a staked validator.

## System Specs

Macbook Air, macOS Mojava 10.14.6, 8GB RAM, intel core i5

[2020-06-05 13:28] #2508 closed

[2020-06-05 13:28] rkass commented on #2508
wrong project :)

[2020-06-05 20:52] adam-lynch opened #2509 "fast-glob call in test returns incorrect results in ava test"
This is a really weird one and I've lost hours trying to figure out what's going on. This is as far as I've narrowed it down but I'm not sure where the actual problem lies

### Environment

  * OS Version: macOS 10.15.2
  * Node.js Version: 12.16.1
  * npm version: 6.13.4
  * fast-glob version: 3.2.2
  * ava version: 3.8.2
  * Reproduce: https://github.com/adam-lynch/ava-fast-glob-issue

### Actua

[2020-06-07 19:31] novemberborn commented on #2509
Something came up and I haven’t yet had a chance to look at this.

[2020-06-08 08:27] adam-lynch commented on #2509
No prob @novemberborn. fast-glob have said it looks like a duplicate of https://github.com/mrmlnc/fast-glob/issues/268. It seems like running fast-glob via TypeScript makes it behave differently (🤷 ). I'll close this

[2020-06-08 08:27] #2509 closed

[2020-06-09 21:53] fregante commented on #2494
For the record, this is what a minimal build step looks like:

[code]

Not super elegant, but it works (https://github.com/sindresorhus/refined-github/pull/3206) and also solves https://github.com/avajs/ava/issues/2432

[2020-06-09 22:07] fregante commented on #2432
I'm sure that in the easiest of setups (e.g. every file is a true ESM file + no external modules), some on-the-fly compilers will work, but:

- compilers likely mess with the imports, either changing them to `require` and breaking it, or viceversa
- bundlers are way more forgiving than Node’s ESM implementation, so they may be easier to set up (https://github.com/sindresorhus/refined-github/pull/3

[2020-06-12 16:09] tymfear opened #2511 "Impossible to use `t.try` in before hook"
Please provide details about:

* What you're trying to do
Use `t.try` in the `test.before` hook

* What happened
The following error is thrown:
[code]
* What you expected to happen
No error are thrown

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[code]

We'll also need your AVA c

[2020-06-13 14:24] novemberborn commented on #2511
Good find @tymfear!

Looking at the code, we don't enforce unique titles for hooks. Which means that we shouldn't allow them to use snapshots either, so that's a bit of an oversight.

Enforcing unique titles for before and after hooks isn't as straight-forward as it sounds. I'm tempted to explicitly fail these assertions in all hooks going forward (though this would be a breaking change when it co

[2020-06-13 18:47] gwn commented on #1841
Hello, today is the first day I'm trying AVA and I just wanted to say that I support this issue.

This makes a lot sense. I don't think an AVA user should be tasked to fix all the dependencies that don't throw error instances. That is unrealistic.

The requirement for the user's and all their dependencies' codes to comply with best practices is extremely frustrating.

I know I can always always wr

[2020-06-13 19:01] gwn commented on #1841
Note: I mistakenly posted a draft of my comment the first time, and I've since edited it.

[2020-06-13 19:35] gwn opened #2513 "expectations.is for the "throws" assertion doesn't make sense"
AVA version 3.8.2
No configuration

Code below:
[code]

Causes the following warning:
[code]
And it makes sense.

The [documentation][exp-is] says the following about `expectations.is`:

[exp-is]: https://github.com/avajs/ava/blob/master/docs/03-assertions.md#throwsfn-expectation-message

The problem is that; there is also the requirement that the function throw an instance of the Error class. Thi

[2020-06-14 02:04] SephReed opened #2514 "TypeScript Support"
Every time I start a new project in Typescript and try to use Ava, it's an ordeal.

Something has changed since the last time I did it, so now I'm stuck having to figure it out again.

Please, please support Typescript.

I want this command to work:
`ava src/**/*.test.ts`

In the very least, it should give an error that gives direction.

[2020-06-14 02:11] sindresorhus commented on #2514
Have you followed the instructions in https://github.com/avajs/typescript ?

[2020-06-14 02:15] sindresorhus commented on #2513
You export the error constructor. This is quite a common pattern \*. If you don’t want to do that. Simply use a different property like `message`.

\* https://github.com/sindresorhus/p-event#peventtimeouterror

[2020-06-14 02:20] SephReed commented on #2514
Yeah.  I installed `tsc` instead of `typescript`.  I've put in a PR to make the docs more up front.

https://github.com/avajs/ava/pull/2515

[2020-06-14 12:00] novemberborn commented on #2513
This is meant for circumstances where you can stub a function so it throws a specific error object.

[2020-06-14 12:00] #2513 closed

[2020-06-14 12:10] novemberborn commented on #2514
Yes, and as we discussed a month ago, this is covered by #2373.

We won't ship TypeScript support out of the box. There's too many different ways people expect it to work. But AVA should guide you in the right direction, and `@ava/typescript` should support those ways.

[2020-06-14 12:10] #2514 closed

[2020-06-14 12:11] #2217 closed

[2020-06-14 12:34] novemberborn commented on #2495
Done in https://github.com/avajs/ava/pull/2505.

[2020-06-14 12:34] #2495 closed

[2020-06-14 12:35] novemberborn opened #2516 "Always reverse teardown invocation (remove experiment)"
As a follow-up to https://github.com/avajs/ava/pull/2505, in the next major AVA release, remove the experiment and always invoke the last teardown function first.

[2020-06-14 12:41] gwn commented on #2513
Thank you.

[2020-06-14 13:44] novemberborn opened #2517 "Allow throws / throwsAsync to work with any value, not just errors"
`t.throws()` and `t.throwsAsync()` require the resulting exception to be a proper error:

https://github.com/avajs/ava/blob/952a0177758c5601a72c2b050fc0308e7fa774c7/lib/assert.js#L147-L154

I propose we add an `any: boolean` option to the `expectations` object used for these assertions. If `true` it won't cause a failed assertion when the exception is not an error.

We need to update the validatio

[2020-06-14 13:44] novemberborn commented on #1841
I think we can allow this by making it opt-in, if you specify `any: true` in the expectations. See https://github.com/avajs/ava/issues/2517.

[2020-06-14 13:45] #845 closed

[2020-06-14 13:52] novemberborn opened #2518 "`t.like()` feedback"
Have you tried our new [`t.like()` assertion](https://github.com/avajs/ava/blob/master/docs/03-assertions.md#likevalue-selector-message)? What did you think of it? Did it behave the way you expected it to?

Let us know so we can make it not require opt-in.

(Also, we need some help making [our ESLint plugin recognize it](https://github.com/avajs/eslint-plugin-ava/issues/302).)

[2020-06-14 14:04] gwn commented on #1841
Seems like a fine escape hatch. Thank you for showing interest. I'll stay tuned.

[2020-06-14 15:00] sindresorhus commented on #2518
I like it

[2020-06-14 15:02] sindresorhus commented on #2517
I think we should add a short note to the docs that if the user is in control of the error, they should prefer to make it a proper `Error`.

[2020-06-14 19:24] tymfear commented on #2511
@novemberborn I was just using it to check if my preconditions are fulfilled and I can go on with tests. It was part of the retry mechanism. I was using the `deepEqual`, but replaced it with lodash and plain error throwing, so not a big deal.

Probably, another parameter could be added to the `t.try` hook, that will allow configuring unique title, and that would allow hook usage anywhere without b

[2020-06-15 06:18] novemberborn commented on #2511
You can already provide the title. Really what it comes down to is that snapshots require unique titles, and we're not enforcing title uniqueness for hooks.

I'm just not sure that we should, which means we should be explicitly failing `snapshot` and `try` assertions.

[2020-06-15 07:28] niteshsarode commented on #1666
@novemberborn Is anyone working on this issue? Can I give it a try?

[2020-06-15 08:31] novemberborn commented on #1666
@niteshsarode please do!

[2020-06-16 05:49] towry commented on #2242
Has the same issue in github action.

[The full log](https://pipelines.actions.githubusercontent.com/WN1HtXJF29QTgcibLZypEzr7XPFMlSAMAIpgHrTkYWAo6iZVEK/_apis/pipelines/1/runs/13/signedlogcontent/3?urlExpires=2020-06-16T05%3A48%3A16.2923978Z&urlSigningMethod=HMACV1&urlSignature=BJt8OXVCTaFwSRrd%2B6GZhtqibu9D2AAsHSPRlMu5SXc%3D)

[code]

The project: https://github.com/moseeker/qxjs-cli/runs/77511311

[2020-06-16 06:14] novemberborn commented on #2242
@towry that action uses Node.js 10.0.0, AVA requires 10.18.

[2020-06-16 11:56] Lunchb0ne commented on #2242
Is anyone working on this issue right now?

[2020-06-16 11:59] novemberborn commented on #2242
@Lunchb0ne no, but I'll assign it to you since it sounds like your keen 😄

[2020-06-16 13:43] Lunchb0ne commented on #2242
Cool, I'll try my best

[2020-06-18 03:25] MathieuPuech opened #2521 "Ava parallel is missing the first chunk"
I try to use parallel CI job with GitLab CI, the first index in GitLab CI is 1.

the currentIndex is 1 for the first chunk and chunkd starts with 0.

It should be:

[code]

https://github.com/avajs/ava/blob/1222ce9538e4890c20af695e558e3ee490f5a41b/lib/api.js#L141

And in the reporter, it should be `currentIndex` instead of `currentIndex + 1`

https://github.com/avajs/ava/blob/78cfaa17fec615a1979a9

[2020-06-18 03:41] MathieuPuech commented on #2521
it seems that in circle ci, it's starting from 0 and in gitlab ci from 1. I suppose the issue is in https://www.npmjs.com/package/ci-parallel-vars

[2020-06-18 21:29] MathieuPuech commented on #2521
it was fixed in ci-parallel-vars@1.0.1, no need to do anything more here

[2020-06-18 21:29] #2521 closed

[2020-06-20 00:00] jonathansamines commented on #2443
@novemberborn I'd like to work on this, if no one else is already doing so.

[2020-06-20 00:18] dschinkel opened #2522 "React recipe: Enzyme usage is out of date"
Your docs seem out of date for your enzyme integration.  People use the enzyme **adapter** now-days.

I'd be willing to update the docs but wanna throw this out here first.

[2020-06-20 07:07] sindresorhus commented on #2522
Help with bringing the recipe up to date would be much appreciated.

[2020-06-21 13:31] novemberborn commented on #2522
I think this is the [React recipe](https://github.com/avajs/ava/blob/master/docs/recipes/react.md)?

[2020-06-21 13:33] novemberborn commented on #2443
@jonathansamines yes that'd be great. I assume @shellscape hasn't found the time to pick this up yet.

[2020-06-21 13:34] shellscape commented on #2443
You have assumed correctly. :bow:

[2020-06-21 13:36] novemberborn commented on #2443
@shellscape no worries! Hope all is well.

[2020-06-21 13:37] novemberborn commented on #2521
Thanks for digging into this @MathieuPuech. We'll make that the minimal version in the next AVA release.

[2020-06-21 13:45] novemberborn opened #2523 "Disable snapshots and try assertions in hooks"
Per https://github.com/avajs/ava/issues/2511, `t.try()` does not work in hooks. Rather than crashing we should fail the hook properly.

Snapshots work in hooks. It's OK in pre-test hooks, since those have unique titles, but the behavior is a little odd in the file hooks. I don't see how this is useful. Let's make snapshots-in-hooks fail. Unfortunately this is a breaking change, so we'll have to pu

[2020-06-21 13:45] novemberborn commented on #2511
See https://github.com/avajs/ava/issues/2523.

[2020-06-21 13:45] #2511 closed

[2020-06-22 08:57] dschinkel opened #2525 "Importing image files into React Component causes Ava to Crash"
**Tried to run tests after I added an image to my React Component:**
`import Logo from './logo.png'`

**then in my React Component:**
`<img src={Logo} alt="logo" />`

**Error during test run:**
[code]

**My tests we fine before this**

So it looks like somehow it's not able to transpile and for some reason trying to run index.js.  I just added the ability to load images in webpack and then that co

[2020-06-22 09:49] novemberborn commented on #2525
You need to install some sort of `require` hook which knows how to deal with `.png` files. Currently Node.js assumes it's a JavaScript module.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-06-22 09:49] #2525 closed

[2020-06-22 20:14] dschinkel commented on #2525
I feel like this should be something everyone here has come across and fixed by now with Ava.  So how are you running tests when you have images in your React components like this?  It's not hitting webpack so what do you need to do to tell Ava to either ignore this or load the so-called require hook?  Anyone have an example doing this already?

[2020-06-22 20:41] dschinkel commented on #2525
**Here's the fix**

**ava.config.js**
**require: ['@babel/register', **'./test/compiler.js'**]**

**compiler.js**
/*
  Disable webpack-specific features for tests since
  tests do not use webpack in order to handle these
  if SUT is working with these types of files
*/
require.extensions['.css'] = function () {
  return null;
};
require.extensions['.png'] = function () {
  return null;
};
require.

[2020-06-23 03:34] okyantoro commented on #2523
Hello @novemberborn
is it enough to put the following hook checking before line https://github.com/avajs/ava/blob/master/lib/test.js#L94
[code]
and for the `t.snapshot()` part, it seems the test need to pass `test.isHook` in `ExecutionContext.super()` method parameter to make the `Assertions.snapshot()` know if the test is a hook and call `fail()` properly. Or maybe there is any other suggestion i

[2020-06-23 06:33] dschinkel opened #2526 "test.beforeEach not Working as Expected?"
This is odd, pretty sure it's not my code.

What's weird about this is **Calculator()** creates a new instance whenever it's called.

So by moving the creation of the calculator per test in **beforeEach** I'd expect this third test to still pass.

But for some reason, it looks like it's not creating a unique instance for my third test even though I specified to run the call in a beforeEach which s

[2020-06-23 11:15] novemberborn commented on #2526
I wouldn't necessarily have expected that to fail, since the tests are synchronous, but what's probably happening is that a `beforeEach` hook is run for a new test and it overwrites the shared variable.

Use `test.serial()`, or better yet, assign unique calculators to `t.context`.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-06-23 11:15] #2526 closed

[2020-06-23 11:16] novemberborn commented on #2525
AVA is a Node.js test runner. What you're doing here is trying to run your browser code outside of a browser and it's build process. That's going to require some workarounds, as you found out.

[2020-06-23 11:18] novemberborn commented on #2523
@okyantoro that sounds about right. It may be nice to add a more explicit `disableSnapshots` property or something like that.

Since you seem keen I'll assign this to you. Apologies if that was presumptuous.

[2020-06-24 02:54] okyantoro commented on #2523
Thank you @novemberborn
I have implemented the code. Let me know if additional work is required.

[2020-06-24 08:16] Lunchb0ne commented on #2242
Okay, weird, I can't seem to reproduce the issue, but that might be because I'm just using boilerplate code. I'll try with some other project that uses ava for testing.

[2020-06-24 09:09] novemberborn commented on #2242
@Lunchb0ne you may want to try a project that uses `@ava/babel`, which writes to the cache directory.

[2020-06-24 09:23] Lunchb0ne commented on #2242
Can you suggest any small projects that I can use for testing?

[2020-06-24 09:24] novemberborn commented on #2242
If you write a `test.js` file and enable `babel: true` in the configuration, with `@ava/babel` installed, that should do it.

[2020-06-24 14:23] Lunchb0ne commented on #2242
Okay, I'll try it

[2020-06-26 09:04] okyantoro commented on #2473
Current implementation of `@ava/babel` manages source map through its `worker()` method. It installs `source-map-support` at line https://github.com/avajs/babel/blob/0949eaadfff2c7f8009f056c62c5f632ff7f0c6d/index.js#L359
I think it is good to move source map management functionality to AVA. So the providers can focus to:
1. compile and cache source file
2. load precompiled module
3. parse source f

[2020-06-26 20:13] frangio opened #2528 "Verify a snapshot's markdown report against its binary file"
When doing snapshot testing, AVA generates a binary file and a markdown report. The markdown report is really useful because it can be inspected by a person during review, but AVA ignores it and really only compares test results against the binary file.

Since the binary file can't be inspected by a person during review, I would like AVA to inspect it and verify that it matches what is represented

[2020-06-26 20:57] sindresorhus commented on #2528
We could maybe embed a hash of the binary in the Markdown file. AVA could then take the hash from the Markdown file and check.

[2020-06-26 21:22] frangio commented on #2528
A hash would prevent against accidents, but we could also imagine a malicious actor that intentionally submits a fake report. In that scenario they would be able to manually set the correct hash and bypass the check. I know this sounds somewhat far fetched, so I'm curious to hear what you think...

A way to fully protect from that would be to regenerate the markdown report from the binary file con

[2020-06-27 11:49] novemberborn commented on #2473
@okyantoro yes, see arno https://github.com/avajs/ava/issues/2474.

That said I'd prefer using a language specific AST to determine the line numbers.

I don't think it's wrong. AVA itself can focus on Node.js support, and other languages / dialects can be handled through providers. However we have limited resources and should refrain from supporting esoteric platforms.

[2020-06-27 11:52] novemberborn commented on #2528
Who is your adversary in this scenario, @frangio? How likely is it that you don't notice a vulnerability introduced in code but hidden by manipulating the snapshot report?

We can't currently regenerate the Markdown file from the snapshot alone, though we should gain that ability. I haven't looked whether that's already tracked.

[2020-06-27 12:12] novemberborn commented on #2528
I should also say that the serialization and comparison algorithms used to create and verify snapshots are designed for accuracy, but could still be manipulated if you control the snapshot data.

[2020-06-28 14:18] #1784 closed

[2020-06-29 08:02] novemberborn commented on #2528
Thinking about this more, I see two problems with verifying the Markdown report.

* Oddly configured Git repositories may rewrite line-endings.
* Changes in report generation may lead to verification failures, making them *breaking* changes.

Ultimately AVA is a tool to test your code, where we assume a decent level of trust in terms of who contributes the code. I don't think AVA should be the one

[2020-06-29 08:02] #2528 closed

[2020-06-30 06:09] alastairs commented on #2387
I'm writing tests for a [Pulumi](https://pulumi.com) application, and based on their own  appears those require the callback approach. Here's a (TypeScript) sample macro I've written using the callback API:

[code]

I'd like to move away from the callback model, but It's not immediately obvious to me how to promisify this: what are the resolve and reject scenarios? Annoyingly, while Pulumi's API i

[2020-06-30 07:33] novemberborn commented on #2387
@alastairs looks like `const [name, urn tags] = await new Promise(resolve => pulumi.all([…]).apply(resolve))` to me.

[2020-06-30 12:16] alastairs commented on #2387
@novemberborn That worked a treat, thank you so much 🙏

[2020-06-30 12:54] novemberborn commented on #2518
There is an issue with the selector type:

https://github.com/avajs/ava/blob/f72fab40160a413f4d7ab0208979fe3e721198ea/index.d.ts#L133

[code]

This throws a type error because `{ bar?: 'bar' }` cannot be assigned to `Record<string, unknown>`.

Not sure yet which type we should use. @sindresorhus?

[2020-06-30 14:41] sindresorhus commented on #2518
I think you have to use `Record<string, any>`. It's a dumb TS thing.

[2020-06-30 14:41] frangio commented on #2528
If the vulnerability is introduced in the project's own code then it would likely be discovered. If the vulnerability is indirectly introduced through a dependency it may be more likely missed, but it's more difficult to orchestrate.

In any case, I think the reasons for not implementing it make sense. Thank you for considering it!

[2020-07-02 13:27] bat79a opened #2529 "Nuxt I18N and switchLocalePath elements break the test"
Hello.

* What you're trying to do
Launch test on the root page who have some I18N elements and a switchLocalePath in my code.

* What happened
AVA test display this error :
[code]

Error for i18N with this {{ $t('www_downloads_brochure') }} code :
[code]

Error for switchLocalePath with this <nuxt-link :to="switchLocalePath('en')" class="small ml-2"> code :
[code]

* What you expected to happen
T

[2020-07-04 11:58] #2443 closed

[2020-07-04 12:19] novemberborn commented on #2529
I'm not familiar with the technologies you're using here. Best I can tell this is not an AVA issue.

AVA being a Node.js test runner you need to get a little creative in faking browser environments. I can see some dependencies meant to help with that but you did not share your AVA configuration.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-07-04 12:19] #2529 closed

[2020-07-04 13:07] novemberborn commented on #2518
Ah thanks. Fixed with https://github.com/avajs/ava/pull/2532 and a handy regression test.

[2020-07-04 13:23] #2523 closed

[2020-07-04 13:24] novemberborn opened #2534 "Officially disable snapshots in hooks (remove experiment)"
For the next major AVA release, remove the experiment introduced in https://github.com/avajs/ava/commit/d01db61ee5e9785d9f80ad5683cac21db4b96509 so that `t.snapshot()` no longer works in hooks.

[2020-07-07 14:46] niftylettuce opened #2535 "Advanced IPC deseralization may not be working in 3.10.0"
[code]

From v3.8 to latest, something happened which causes this.  If it was this big of a breaking change, then I would think this should have been a major semver bump to v4.0.

I am on node v12.18.0 and see that this was changed here in v3.9 it seems https://github.com/avajs/ava/commit/f06c506d327e89800d9760c678ab0feb78f1a93d#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R10.

This should have definitel

[2020-07-07 14:51] niftylettuce commented on #2535
ignore

[2020-07-07 15:09] novemberborn commented on #2535
The same thing happened in this CI run: https://github.com/avajs/eslint-plugin-ava/runs/843031158?check_suite_focus=true

That ran 12.18.1. Let's keep this open and I'll pin it to see if others are running into the same issue.

The serialization change was introduced in https://github.com/avajs/ava/commit/51fafed989a1b0b9e384dc4c589f3453082dcde1 and it should detect based on the Node.js version… i

[2020-07-07 15:13] niftylettuce commented on #2535
Thanks, I thought I was crazy

[2020-07-07 15:13] niftylettuce commented on #2535
Definitely happens as soon as I bump from v3.8 to v3.9 on Node v12.18.0

[2020-07-07 15:19] novemberborn commented on #2535
You mean 3.10 right?

What confuses me now is that our tests pass, yet AVA crashes for our `eslint-plugin-ava` tests.

[2020-07-07 15:22] novemberborn commented on #2535
OK I'm seeing this sporadically with another package, which either hangs, runs fewer tests… or crashes. Will revert that change.

[2020-07-07 15:24] niftylettuce commented on #2535
Correct, on v3.10 it is broken and has that error shared above.

[2020-07-07 15:53] novemberborn commented on #2535
3.10.1 is now available and should resolve this issue.

[2020-07-07 15:53] #2535 closed

[2020-07-07 18:29] dschinkel commented on #2526
I think there was ultimately not a problem here.  I don't know what changed but after writing more code and refactoring, it's fine now.

[2020-07-08 12:30] LeBovin commented on #1602
It's definitely something Ava should have

[2020-07-09 19:05] szmarczak commented on #2289
I'm still seeing this and this is extremely annoying.

[code]

[2020-07-09 19:09] szmarczak commented on #2289
https://pastebin.com/raw/jWLk7NHR

[2020-07-11 01:20] jupl opened #2537 "ava, ~, and tsconfig-paths"
I am following the instructions as noted here: https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md#using-module-path-mapping

With the following `tsconfig.json`:

[code]

When I have a file `/some/project/src/users/test.ts' like this:

[code]

I get an error like this:

[code]

The path should resolve to `/some/project/src/common/util`.

If I change `~` to something else like `_` i

[2020-07-12 00:15] macarie commented on #2345
How would you handle this?

Would it break something if AVA just looked at the `"type"` field in `package.json` and if `type === 'module' && !ref.endsWith('.cjs')` used `import()`?

Today I played around with the Experimental Loaders Hooks and somehow I managed to get everything working (or at least the basics: `index.test.ts`, with a little tweak to AVA, and `import { foo } from './bar.ts'`).

Th

[2020-07-12 13:12] novemberborn commented on #2289
Yes that's a lot of output!

Specifically in your case a lot of what's being shown is enumerable internals, but it's not really AVA's place to decide not to show enumerable properties.

What would you prefer here? I suppose we could stop printing the diff after N lines? But that would depend on whether we've shown any difference yet. Maybe it's OK as long as there's some sort of option to override

[2020-07-12 13:24] novemberborn commented on #2537
I take it you're using `ts-node/register` and `tsconfig-paths/register`? Are you combining this with `@ava/typescript`? (You shouldn't be.)

I can't really help with this I'm afraid, I don't use those tools. Improvements to the recipe are welcome though.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-07-12 13:24] #2537 closed

[2020-07-12 13:29] novemberborn commented on #2345
The way I understand it, the `"type"` field controls whether you need to `require()` or `import()` just `.js` files. It does not control any other extension. This issue proposes that we do support some sort of configuration so that AVA knows to `import()` rather than `require()`.

`.mjs` files must always be imported, and `.cjs` files required.

Nice! I imagine you could set those up in a module y

[2020-07-12 14:30] jupl commented on #2537
I'm not using `@ava/typescript`. And it's unfortunate you are closing the issue since others who potentially may have more experience and insight will less likely see this issue. This is a major deal breaker for me as I use `parcel`, which uses `~` for path resolution.

[2020-07-12 15:23] szmarczak commented on #2289
One solution would be to an add **option** to **always** truncate symbols like in the very end of the paste above:

[code]

The other solution is almost the same you've proposed. Instead of stopping printing, just truncate the main object like in the example above if it's diff exceeds N lines.

[2020-07-12 15:26] szmarczak commented on #2289
It is, but in this example I don't care about the number of the properties. If it tells me that the exact 2 properties among the 1000 are different then I can easily perform debugging.

[2020-07-12 15:30] szmarczak commented on #2289
If this would be very CPU expensive and/or very slow, we can go with the number of properties. In that case, there should be an option to limit the depth.

[2020-07-12 16:13] macarie commented on #2345
For what I could test, yes, the `"type"` field defines what happens with `.js` files. If you try to use `require()` in a `.js` file and the package is defined as a module you'd get an error saying that `require` is not defined, but it would work in the same package if the file was a `.cjs` one.

The _problem_ is that when you go with one you're locked in with that: in my `.ts` files I use `import`

[2020-07-12 18:06] novemberborn commented on #2345
But Node.js only does that for `.js` extensions. If anything, in ESM mode it supports fewer custom things.

I'd like AVA core to not do anything beyond what Node.js does by default. So it should recognize the `"type"`, yes, and beyond that be *configurable* to import rather than require for custom extensions.

Right — AVA won't enable experimental options. But that's what the `nodeArguments` confi

[2020-07-12 18:08] novemberborn commented on #2289
I think https://github.com/concordancejs/concordance/issues/12 should "collapse" equal properties / items over a certain threshold.

Then in AVA, eventually, `--verbose` could undo that. But we could have some other flag or environment variable to disable the collapsing.

This really needs to be dealt with in Concordance first, though.

Performance is less relevant for failing tests. Tests tend to

[2020-07-12 20:19] macarie commented on #2345
I understand what you're saying, but it does it that way because it's the only type of file it knows how to run beyond `.cjs` and `.mjs`.

If you run `node --experimental-loader ./ts-loader.js index.ts` and in `package.json` `"type"` is defined as `"module"`, then `index.ts` is run as a module, with no extra steps. If `"type": "module"` is **not** defined, then running `node -r ts-node/register in

[2020-07-13 08:16] novemberborn commented on #2345
For my understanding, would `index.ts` be treated as a module even without the experimental loader? Or is this enabled by the hooks installed through that loader?

I think loaders are too experimental to influence AVA's defaults. If they stabilize and the default behavior is more clear (and breaking) we could enable that as an experimental AVA feature until we ship the next major release.

Your sa

[2020-07-13 09:33] macarie commented on #2345
I did some more tests, I've removed `"type": "module"` and run `node --experimental-loader ./ts-loader.js -r ts-node/register index.ts`, `index.ts` is loaded as a module with access to `import` and `export`, if I remove the loader it'll run as CommonJS, a bit weird, but it seems that if you define a loader the file will load as a module. `node -r ts-node/register index.ts` doesn't work with `"type

[2020-07-14 04:10] zyfmix opened #2538 "console.log(JSON.stringify({...})) print a large json inside ava test only show part"
Please provide details about:

node: v14.5.0
"ava": "^3.10.1"

* What you're trying to do
console.log(JSON.stringify({...})) print a large json

* What happened
print part in terminal

* What you expected to happen
print full continuity

![image](https://user-images.githubusercontent.com/12183914/87382858-9578a980-c5ca-11ea-94f7-282071402397.png)
![image](https://user-images.githubusercontent.com/

[2020-07-14 16:09] dcsan opened #2539 "Ava `test()` expression is not callable / has no call signatures"
I ran `npm ava init` in a project and created a first test as per ava docs.

Immediately the vscode editor is giving me a typescript warning error.

[code]

![image](https://user-images.githubusercontent.com/514002/87449280-d57f6280-c5b1-11ea-8720-585b149888f3.png)

I did look if there were separate typings but there is a `index.d.ts` as part of the basic module that's installed.

At this point i

[2020-07-14 23:06] dcsan opened #2541 "animation spinner fills the console with new lines"
The little animation spinner is cute as the tests are running, however it seems to degrade and then put a newline on every iteration. My test run ends up filling pages of console

![image](https://user-images.githubusercontent.com/514002/87484731-cddcaf80-c5eb-11ea-8635-a84b43a82e89.png)

if the feature is broken, is there a way to at least disable it?

[code]

[2020-07-15 17:48] novemberborn commented on #2345
Is this the case if the loader doesn't specify support for the `.ts` extension?

All of this is still experimental and subject to change, but I guess it'd be good to understand what's going on here, at this point.

[2020-07-15 17:50] novemberborn commented on #2538
I think this is the same underlying issue as https://github.com/avajs/ava/issues/1758. We can't get the data out quickly enough and then it gets corrupted, and yea the spinner also gets in the way.

Running with `--verbose` or `verbose: true` may work. I tend to use `console.error()` as well.

Sorry I know this isn't great.

(I'm closing this issue for housekeeping purposes, but let's keep the con

[2020-07-15 17:50] #2538 closed

[2020-07-15 17:53] novemberborn commented on #2539
My guess is that this is a mis-match between the type definition using `export default` and the import here using `require()`. @sindresorhus what do you think?

In https://github.com/avajs/ava/pull/2435 I'm switching to a CJS export, but that work's stalled. It'd be a breaking change I think.

[2020-07-15 17:55] novemberborn commented on #2541
Yea that's not good.

It should be better with `--verbose` or `verbose: true` in the configuration.

[2020-07-15 17:56] novemberborn commented on #2541
I assume you have some `console.log()` output in the test / tested code?

[2020-07-15 18:13] dcsan commented on #2541
yes there are some logs there
`reply input: xx`

so perhaps that triggered the new lines to be happening...

![image](https://user-images.githubusercontent.com/514002/87580289-23689900-c68c-11ea-8d65-f172a29b1129.png)

[2020-07-15 18:17] dcsan commented on #2539
I think it might be cos I was trying to switch over from Jest. I'm not clear exactly but i think Jest does various things to your env... injecting globals somehow? This was for a project based on a boilerplate I used.

there's a `jest.config.js` sitting there, but not sure how that would take control of my system 🗡️

perhaps a part at the end of the

[code]

[2020-07-15 18:21] novemberborn commented on #2539
Oh right I thought this was some type output from VSCode but you're saying it's from ESLint?

[2020-07-15 18:25] sindresorhus commented on #2539
Correct. See: https://github.com/sindresorhus/mem/issues/31

[2020-07-15 18:41] dcsan commented on #2539
The message is within VS code, but i think from the typescript compile checker `ts` in the error code.

ts2349 shows up this issue in the TS repo
https://github.com/microsoft/TypeScript/issues/35423

[2020-07-16 02:48] zyfmix commented on #2538
Thank you for your reply,I'll try it!

[2020-07-16 09:26] macarie commented on #2345
So, I did more testing, when `node [--flags]` is called and there is an experimental loader, the [`getFormat`](https://nodejs.org/api/esm.html#esm_code_getformat_code_hook) hook is called, then, based on its output, the files are either loaded as CommonJS or ESM, so the loader decides how it should load files ignoring the `"type"` field. On the one hand it kinda makes sense, on the other it doesn'

[2020-07-16 12:25] jupl commented on #2537
I think it makes no sense for this to be closed. You said you can't help, but if you keep this closed the visibility of this issue is limited as perhaps someone who may have insight into this will less likely see this.

[2020-07-16 13:02] novemberborn commented on #2537
Open or closed, it's been my experience in this project that it makes no difference either way. I'll see about getting access to GitHub's new Discussions feature which would be a better fit for resolving this.

[2020-07-16 15:59] dariovmartine opened #2542 "Can't debug with Visual Code 1.47"
Can't debug with Visual Code 1.47, works fine with 1.46.1

[2020-07-16 16:17] novemberborn commented on #2542
Do you know if there's anything in that VSCode release that changed and may relate to debugging? I assume you followed our recipe, does anything jump out to you given the changes?

[2020-07-16 19:13] alisonailea commented on #2542
Probably has something to do with this https://youtu.be/l0ZQMa6Xt4k?t=835

[2020-07-16 20:09] alisonailea commented on #2542
The issue seems to be coming from Ava's "debug"
@dariovmartine for the time being I've been able to get my debug script to work by updating my launch config

[code]

[2020-07-16 20:22] dariovmartine commented on #2542
works!! thanks!

[2020-07-16 20:54] dariovmartine commented on #2542
with this change in launch config now works.

[2020-07-19 17:01] novemberborn commented on #2345
Thanks for the continued research! I think as long as you can configure AVA to import or require a particular extension then we can use these (experimental) loaders to the fullest.

Some best practices will develop around this. If you're going to co-opt `.js` extensions you better know what you're doing 😄

[2020-07-19 17:04] novemberborn commented on #2542
`ava debug` is still the preferred way to run AVA in debug mode. It deals with the timeouts and everything. Sounds like we need to update our recipe in light of VSCode's changes, though I'm not sure yet what those are.

[2020-07-19 17:05] novemberborn commented on #2455
@mzzlillieee yes go for it.

[2020-07-20 22:40] jfarellano commented on #2529
Hey I had the exact same problem and just managed to fix it. The problem is that the nuxt instance that you are referencing does not have the nuxt-i18n module set up. For you to fix it and also taking into account that it would happen with other modules. You just have to add it to the nuxt configuration in the module property before building it. Like this:

[code]

[2020-07-21 03:50] jupl commented on #2537
Ok. Well I added some more details.

[2020-07-21 07:46] bat79a commented on #2529
Hello thx a lot.

But the nuxt-i18 lib is already in my modules configuration in nuxt.config.json.

[code]

[2020-07-21 15:16] jfarellano commented on #2529
Keep in mind that you are creating a new instance of Nuxt while you are doing your e2e tests, so that means that your nuxt.config.json is not being referenced at all. Thats why on the config hash while building your new Nuxt instance you have to reference the module for it to take it into account.

[2020-07-21 20:22] aubrey-y opened #2544 "README clarification needed for typescript setup"
While digging through some issue/commit history regarding typescript, I ran into this

https://github.com/avajs/ava/blob/0e1886582833986b896c31859aa61d8da404e996/readme.md#typescript-support

from this commit https://github.com/avajs/ava/commit/0e1886582833986b896c31859aa61d8da404e996

which essentially reads

![image](https://user-images.githubusercontent.com/60039494/88102517-af3b6300-cb6d-11ea-

[2020-07-21 22:53] aubrey-y opened #2545 "Ava test logging not showing locally"
I have a failing ava test that should error out like this:

[code]

which you can see happens in my [travis build](https://travis-ci.org/github/aubrey-y/fetch_courses/builds/710543526#L203).

When I freshly clone [my repository][1] and run `npm install` and `npm run test`, which is exactly what happens in travis, this is the logging i see.

[code]

So you can see that I'm missing the entire Ava ou

[2020-07-22 03:04] aubrey-y commented on #2545
I don't know what was causing this, but it's probably just something to do with my IDE (IntelliJ IDEA 2020.X) which I am totally not qualified to figure out, so instead, my workaround was to run ava on the compiled js tests after `tsc`. Then I could see logging.

[2020-07-22 03:04] #2545 closed

[2020-07-22 08:29] novemberborn commented on #2544
I'm not sure I follow… are you upgrading an existing installation? Remembering something you did before?

AVA 3 supports CJS modules, and for most use cases on supporting Node.js versions ESM. We've removed any automatic transpilation.

`@ava/typescript`, at its current stage, makes it easier to run TypeScript tests, provided you have already compiled them. Assuming you're working on a Node.js pro

[2020-07-22 08:29] #2544 closed

[2020-07-22 14:38] aubrey-y commented on #2544
What I'm saying actually, is that the bit about needing to set `module` to `commonjs` is actually still a required step for typescript to find ava's type definitions. With latest versions of everything, since it was a project I started recently. @novemberborn

[2020-07-22 16:22] novemberborn commented on #2544
Huh. Not sure why that would be. @sindresorhus?

[2020-07-22 16:37] aubrey-y commented on #2544
@novemberborn

I'm sure this has happened a thousand times but I can't reproduce it. I distinctly recall typescript complaining about my ava import until I switched the module from es2020 to commonjs, but I have since commented out module entirely and when creating a new ava project typescript works without any tsconfig. So we should be good here

[2020-07-22 16:38] sindresorhus commented on #2544
I don't think that's correct. Any module type should be able to find any kind of type definition. How you import such type definition matter though.

[2020-07-22 16:40] aubrey-y commented on #2544
@sindresorhus I think I commented too late! It's not reproducible so there probably isn't any problem.

[2020-07-23 00:58] dschinkel opened #2546 "Nested Describes"
It doesn't appear Ava supports describes.  Unless I'm missing it in the docs, I miss my describes.

[2020-07-23 08:59] novemberborn commented on #2546
Nope, that's on purpose. We don't think BDD necessarily makes your tests any better. Sorry to disappoint 😄

There's https://www.npmjs.com/package/ava-describe but I haven't checked how it's implemented.

I've started playing with ways of creating your own `test()` function on which you could install separate before / after hooks, which would allow for a BDD interface to be built properly. Keep an

[2020-07-23 08:59] #2546 closed

[2020-07-23 14:52] dschinkel commented on #2546
And I'm sorry to annoy, but that's very short-sited.  Who's "we".  And who decides when BDD is useful or not?

Lets get to the point here.  A describe allows you to give a description of the feature under test.  Those who are only testing "per function" aren't testing "per behavior".  When I TDD, I go outside-in, and my tests describe behavior not implementation details so describes and test names

[2020-07-23 15:02] dschinkel commented on #2546
And I'm sorry to annoy, but that's very short-sighted to just come to such a conclusion. Who's "we". And who decides when BDD is useful or not?

Lets get to the point here. A describe allows you to give a description of the feature under test. Those who are only testing "per function" aren't testing "per behavior" because if you're only writing tests with implementation details in the test name, y

[2020-07-23 15:16] spectranaut commented on #2461
I just want to say that I just notice this bug and I'm so pleased all I have to do is update ava :) :) thx everyone!

[2020-07-23 15:50] novemberborn commented on #2546
AVA's been around for a long time already. We, the maintainers, have never seen the need to include other interfaces, at least in the core `ava` project itself.

The work in #2435 will make it possible for a BDD interface to be build on top of the core project, and we'd be more than happy to host that in our GitHub organization and publish it under our npm namespace (e.g. `@ava/bdd`).

[2020-07-23 15:53] dschinkel commented on #2546
Alright maybe I'll contribute once it's possible.

[2020-07-23 23:44] connor4312 commented on #2542
I put in a PR here: https://github.com/avajs/ava/pull/2547

In general we no longer need any inspect flag (we work by injecting a "bootloader" via a --require in NODE_OPTIONS), and doing `--inspect-brk` will pause within the bootloader and prevent vs code from seeing the new program at all. There are workarounds to make a tranditional port-based --inspect-brk work, but this comes at the cost of so

[2020-07-24 12:59] jimmywarting opened #2548 "Make ava small again"
erm, no I don't think so... it has a lot of dependencies and takes a long time to install.

https://npm.anvaka.com/#!/view/2d/ava

<details>
<summary>dep tree</summary>
<div>

[code]

</div>
</details>

[2020-07-24 13:29] #2548 closed

[2020-07-26 23:59] jmarkham828 commented on #2455
@mzzlillieee @novemberborn  Hey yo! :) I have a draft PR for this issue that I believe is almost there. @novemberborn need a little guidance on how to update the test file -- this is my first issue. Would you mind if I pushed up what I had if @mzzlillieee is busy?

[2020-07-27 00:02] mzzlillieee commented on #2455
@jmarkham828 No I don't mind. Something came up, so I won't be able to work on this issue until next week.

[2020-07-27 00:35] jmarkham828 commented on #2455
@mzzlillieee awesome! @novemberborn would you mind adding me to this issue so I can push?

[2020-07-27 06:50] novemberborn commented on #2455
@jmarkham828 sure, but you don't need to be assigned an issue to create a PR 😉

[2020-07-27 06:55] #2542 closed

[2020-07-27 07:03] #2518 closed

[2020-07-29 09:05] link89 opened #2552 "Proposal: tests should only bind to the hooks added before them"
Let's get started with code sample
[code]
(see also: https://github.com/link89/ava-demo/blob/master/03-hooks.test.ts)

### Current Behavior

2 beforeEach & afterEach hooks are applied for all cases.

I don't think this is very useful design.
This behavior may be a nice-to-have feature, but definitely not an essential one.
Because we can always achieve the same purpose using different ways.

### Su

[2020-07-29 17:53] novemberborn commented on #2552
I've been experimenting with a way to get a new `test()` function, which would indeed have its own hooks. So then yes you could have a `test()` for specific things — I would use that a lot in service-level integration test I write, where I actually launch the service as a child process.

You can follow along in #2435. The work has stalled a bit though, unfortunately.

Your specific proposal is too

[2020-07-29 17:53] #2552 closed

[2020-07-29 20:20] G-Rath commented on #2541
I hit then when using ava for the first time when implementing a feature in [np]():

![image](https://user-images.githubusercontent.com/3151613/88848963-4757dd00-d23d-11ea-8cfd-cd7c257de1cc.png)

The above is a slice of a very long output filled with more of the same 😬

While the loading spinner is indeed very pretty, having the ability to disable would be a great short-term solution.

[2020-07-30 18:59] kyeotic opened #2553 "watch mode fails to re-run dependent tests"
When making changes to code used by tests while running in watch mode ava re-runs an incorrect subset of tests. In my case it is skipping tests that will fail when a manual re-run is triggered, giving a false positive about the tests overall status

## Environment

Node: v12.16.0
OS: Mac Mojave
Ava: 3.11.0

## Config

Automatic
Tests executed with `ava --watch`
Project
[code]

## Example

[code]

[2020-07-31 17:12] OmLakshmi commented on #1666
@novemberborn I would like to give this a try if no-one's working on it

[2020-08-01 07:40] dcsan opened #2555 "Cannot find module 'ava/lib/chalk'"
I always see this error in my vscode console at start up

Cannot find module 'ava/lib/chalk'

I did install this recently, but i think those are separate problems
https://github.com/Gwenio/vscode-ava-test-adapter

[code]

![image](https://user-images.githubusercontent.com/514002/89096957-6fefec00-d38f-11ea-92e4-9d977d87dcc6.png)

![image](https://user-images.githubusercontent.com/514002/89096959-7

[2020-08-01 11:32] novemberborn commented on #2553
Could you try running it with `DEBUG=ava:watcher npx ava --watch --verbose`? That should print the detected file changes. If you could share those here it may provide some insight.

[2020-08-01 11:34] novemberborn commented on #1666
@OmLakshmi yes, that'd be great, thanks.

@niteshsarode please do let us know if you are about to submit a pull request 😄

[2020-08-01 11:36] novemberborn commented on #2555
The error does come from that extension, which is using private AVA modules. I don't think this is an AVA issue.

[2020-08-01 11:36] #2555 closed

[2020-08-01 15:17] novemberborn commented on #2541
Aha! While we try to clear the spinner (on stdout), before writing the output from the test (to stderr)… we don't wait for this to complete. I think I know how to fix this…

[2020-08-01 16:11] #2541 closed

[2020-08-01 16:11] novemberborn commented on #2541
This should be fixed in `master` now. Normally I do releases at the end of the weekend, so it should be available soon.

[2020-08-06 03:33] rShar01 commented on #2455
Does this issue still a contributer?

[2020-08-08 15:15] novemberborn commented on #2455
@rShar01 this was picked up by @jmarkham828 quite recently, so maybe check in with them.

[2020-08-09 21:42] tjmosia commented on #2332
The issue actually lies with Typescript here... The typescript file where global Symbol variable and SymbolConstructor is declared doesn't have observable as one of it's properties. It feels kinda crappy modifying that file...

[2020-08-10 08:14] novemberborn commented on #2332
@tjmosia this has been resolved with AVA 3.

[2020-08-12 11:40] sibelius commented on #1428
what about using jest-worker for this?

[2020-08-12 22:33] macsj200 opened #2558 "TypeScript code coverage"
Hello, I'm using ava with TypeScript and Istanbul `nyc` isn't returning any codecov information after running the test suite.

This is my ava config:
[code]

I'm using version `2.3.0`.

This is what the `nyc` output looks like after invoking the test suite:
![image](https://user-images.githubusercontent.com/5246841/90074766-21105380-dcb9-11ea-9437-4556f21a51be.png)

Obviously it's finding files an

[2020-08-12 22:39] macsj200 commented on #2558
I was able to get it working with this configuration: https://github.com/andywer/ava-ts/issues/7#issuecomment-361077293

[2020-08-12 22:39] #2558 closed

[2020-08-13 13:57] shellscape opened #2559 "Unexpected Babel configuration for AVA"
Please provide details about:

* What you're trying to do

We're running tests for Rollup's official babel plugin. Under v2.4.0, we had no issues. We updated from 2.4.0 to 3.11.0 and added the following to our package.json, following the documentation:

[code]

Now, we need babel support within Ava at the moment, so disabling babel altogether isn't an option. The only thing we can figured is that

[2020-08-13 14:03] shellscape commented on #2559
On a hunch I nuked the pnpm cache and reinstalled packages. What we had there was a sticky old Ava version. The same could apply to both yarn and npm in a monorepo setup. Hopefully this is useful to someone down the road. 🍻

[2020-08-13 14:03] #2559 closed

[2020-08-17 11:04] shusson commented on #1668
We are optimizing our ava tests and it would be nice to quickly determine the slowest running tests (or test files) from avas point of view (when using serial). Are there any updates on this feature?

[2020-08-17 12:06] novemberborn commented on #1668
@shusson no. It may be more feasible to implement this since have combined the codebase for the "mini" and verbose reporters.

That said you could run with `--serial --verbose` and you'd see relatively slow tests, IIRC those that take more than 100ms. There is no easy way to filter on that though (which is out of scope for this issue anyway).

[2020-08-17 20:47] SurkinK opened #2561 "Is there any way to look for coverage in one specific folder and not in whole code base in project"

[2020-08-18 02:32] tvkit commented on #2151
I decided to lock into patch-level updating using the tilde constraint:

`    "ava": "~2.2.0",`

instead of the caret that permitted the problematic 2.4 update:

`    "ava": "^2.2.0",`

I inadvertently ran `yarn` against the project causing a variety of unexpected updates.

[2020-08-18 08:35] novemberborn commented on #2561
I don't think this relates to AVA?

[2020-08-18 08:35] #2561 closed

[2020-08-18 13:29] randomicon00 commented on #2517
Hello @novemberborn & @sindresorhus, I would like to takle this issue if possible.

Thank you,

[2020-08-18 13:34] shusson commented on #2268
We've also noticed a significant delay between test files in ava 3.8.2. We have 150 test files and 1300 tests and we notice that ~10min is spent running test files and ~6min is spent in overhead. I measured time spent running a test by profiling https://github.com/avajs/ava/blob/master/lib/runner.js#L378.

[2020-08-19 08:36] novemberborn commented on #2517
@randomicon00 that's great go for it 😄

[2020-08-19 08:41] novemberborn commented on #2268
@shusson that doesn't sound too great! It would really help if we could pin down where the time is being spent. For instance, instrumenting that `start()` function excludes the time it takes to load any code in the test file.

You're not using things like `@babel/register` or `ts-node` by any chance, right?

[2020-08-19 08:49] shusson commented on #2268
Yeah we are still investigating, I will post an update when we have one.

No, we transpile all our typescript and run ava against the js.

[2020-08-19 08:57] novemberborn commented on #2268
Thanks. There can be many variables at play here. I have a test suite with 34 files / 500 tests which runs really smoothly…

[2020-08-19 11:43] randomicon00 commented on #2517
@novemberborn  Will do thanks :)

[2020-08-19 15:59] shusson commented on #2268
@novemberborn  The delay happens when ava requires each test file here: https://github.com/avajs/ava/blob/master/lib/worker/subprocess.js#L190. I guess this is the price we pay for test file isolation and having a ~400 dependencies :(

It might be useful for others to have ava log a warning if the require takes longer than 1 second.

[2020-08-19 16:05] novemberborn commented on #2268
Right so it's the bootstrap time of your (test) dependencies, plus then declaring the tests. I agree it may be useful to report that… maybe if the time spend just loading the test file is over a certain percentage of total run time?

If only so that, uhm — and I know you weren't doing this — AVA isn't blamed 😉

This I think is the one use case for letting you run all test files in a single process

[2020-08-19 16:24] shusson commented on #2268
:D I would rephrase it to: "AVA helping you discover that your app takes forever to load dependencies"

yes one of the reasons we migrated to AVA was https://github.com/facebook/jest/pull/8331

[2020-08-19 19:58] kevholder opened #2562 "Tell ava to ignore a file"
I have a `test/common.js` file that is used by my test files to setup common stuff, but ava outputs this error: `✖ No tests found in test/common.js, make sure to import "ava" at the top of your test file`. Is there a way to tell ava that this is expected so it stops outputing that error?

[2020-08-19 20:21] sindresorhus commented on #2562
There's an ignore option. See the config docs.

[2020-08-19 20:31] kevholder commented on #2562
Would be nice to auto ignore some files by convention, based on their file name, maybe `_common.js` ?

[2020-08-20 13:17] cagen opened #2563 "deepEqual arrays when their keys changed as an object"
Original Issue:
https://github.com/concordancejs/concordance/issues/39

Here is the test script:
[code]
The result is:
![image](https://user-images.githubusercontent.com/5174809/30686140-e4a3c274-9e7c-11e7-9c8a-2f428beb91cc.png)

I know the `arr1` and `arr2` has the same items and length as arrays, but array is also object. However, the keys of object changed unexpectedly might indicate that I hav

[2020-08-20 17:04] novemberborn commented on #2562
It already works like that.

[2020-08-21 01:29] kevholder commented on #2562
@novemberborn oh it does, thanks. guess that answers the question... maybe it should be documented somewhere if it isn't already.

[2020-08-21 05:03] #2562 closed

[2020-08-21 06:13] jmarkham828 commented on #2455
Will work on this PR #2564 more this weekend -- took me a while to tie up some projects at work, but am free to work Saturday and Sunday! Like I said, @novemberborn,  I wasn't quite sure how to update the test file, what do you think?

[2020-08-22 11:59] novemberborn opened #2565 "Print warning when test files take a disproportionate amount of time to declare tests"
Based on feedback from @shusson in https://github.com/avajs/ava/issues/2268#issuecomment-676513972 it would be interesting if we could instrument how long it takes between AVA loading the test file to tests being declared.

This time is not taken by AVA itself, but instead by the test and project code. There are likely optimizations possible in the project that is using AVA.

If this takes a dispr

[2020-08-24 04:26] acchou commented on #2535
I think I'm seeing this with ava 3.12.0 on mac osx:

internal/child_process/serialization.js:70
      yield deserializer.readValue();
                         ^

Error: Unable to deserialize cloned data.
    at parseChannelMessages (internal/child_process/serialization.js:70:26)
    at parseChannelMessages.next (<anonymous>)
    at Pipe.channel.onread (internal/child_process.js:566:18)

[2020-08-24 08:48] novemberborn commented on #2535
Yes I re-enabled this with some workarounds. Clearly, this isn't something that can be worked around. Reverting…

[2020-08-24 10:02] novemberborn commented on #2535
3.12.1 is now available.

[2020-08-25 16:56] haywirez commented on #2293
Any current recipes? My entire codebase uses `import` statements etc., but I cannot seem to quickly figure out how it's suppose to work (running Node 14.6). My `package.json` has `"type": "module"`, but module resolution doesn't seem to work inside tests.

[2020-08-26 08:28] novemberborn commented on #2293
@haywirez I think that should work fine. Perhaps you could open a new issue and include additional details, like your AVA version, and a reproduction?

[2020-09-01 22:35] tymfear opened #2572 "t.passed is undefined in teardown context"
Please provide details about:

* What you're trying to do - save page screenshot in `t.teardown` callback when test has failed
* What happened - `t.passed` is `undefined`.
* What you expected to happen - `t.passed` to be defined. Since `t.teardown` might be used instead of `test.afterEach` hook it should have similar capabilities.

Code example:
[code]

[2020-09-02 07:33] novemberborn commented on #2572
Agreed. We can update `t.passed` once the test completes, and then it'll be accurate in a teardown.

We run the teardowns here:

https://github.com/avajs/ava/blob/983ce0cb714fe0b35b48834c0911ebd4cf8e71d6/lib/test.js#L728

A little later is the code that determines whether the test passed:

https://github.com/avajs/ava/blob/983ce0cb714fe0b35b48834c0911ebd4cf8e71d6/lib/test.js#L732-L733

We can move

[2020-09-02 22:21] tymfear commented on #2572
@novemberborn, so I did the following change https://github.com/tymfear/ava/pull/1/files

Tested in manually - it works.

But I have no idea on how to create a test for that. Was thinking of something like
[code]

Any idea on this?

[2020-09-02 22:57] tymfear commented on #2572
@novemberborn Ok, I found solution on how to create test for the change, but still what are your opinion of passing `t`-like object to teardowns?

[2020-09-04 15:03] alastairs commented on #2473
I hit this issue/#2474 yesterday with some tests I wrote in Typescript, and worked around it by using Babel to transpile my Typescript into Javascript for AVA to execute. It's... clunky. I see both issues are labelled `help wanted` - what help is needed at this point?

[2020-09-05 08:49] dmaevsky commented on #2517
@sindresorhus @novemberborn
There are very valid use cases where throwing a non-error value not only makes sense but is almost the only viable solution.
My particular case is a sort of asynchronous calculation graph implementation, where any node can either have a value, or be in an 'error' or 'stale' state, so when a node is trying to calculate its value and one of its dependencies is either an e

[2020-09-05 15:08] novemberborn commented on #2473
@alastairs I think the issue description is still accurate. Happy to help if you're getting stuck anywhere in particular.

[2020-09-06 07:27] JSimoni42 commented on #2410
Hey @novemberborn, I noticed that the previous PR for this one was closed out and put together a similar fix. I browsed https://github.com/avajs/ava/blob/master/.github/CONTRIBUTING.md and believe that this PR checks all the boxes, but any feedback would be appreciated.

[2020-09-06 21:30] KarenEfereyan commented on #2572
This seems like a pretty interesting issue. But it is already being handled. Kudos to you @tymfear

[2020-09-08 11:35] MarekLani commented on #1588
Hello, I am facing same issue. I configured ts-node/register in package.json file:

`"ava": {
    "compileEnhancements": false,
    "extensions": [
      "ts"
    ],
    "require": [
      "ts-node/register"
    ]
  },`

But I am still seeing Cannot find module 'ava' error. Any idea what else might be wrong?

[2020-09-08 14:28] MarekLani opened #2579 "Enable debugging of AVA based test in TypeScript application using VS Code"
I was trying to debug typescript tests from Visual Studio Code, but I received error saying "Test files must be run with the AVA CLI". It would be nice to have possibility to set breakpoints directly in the typescript test files, what seems not possible at this point. I managed to configure ava to transpile typescript files and run the tests from command line, nevertheless I am interested in havin

[2020-09-08 14:35] novemberborn commented on #2579
I use https://github.com/avajs/typescript. It works great with [debug terminals]( https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md#debugging-with-the-debug-terminal).

Beyond that you need to create a [launch configuration](https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md#creating-a-launch-configuration).

That's a third-party plugin so I

[2020-09-08 16:16] MarekLani commented on #2579
Thank you for quick response. Unfortunately I am seeing this error when trying to run tests:

[code]

Nevertheless if I run command from terminal: PathToProject\node_modules\.bin\ava.CMD PathToProject\tests\my.test.ts --inspect-brk=18225   It works and test is executed.

[2020-09-08 18:01] novemberborn commented on #2579
Could you share your AVA version and configuration?

[2020-09-08 20:02] MarekLani commented on #2579
Ava configuration in package.json

[code]

version:
"ava": "^2.4.0",
"@ava/typescript": "^1.1.1",

[2020-09-09 07:21] novemberborn commented on #2579
You're not using the latest version. Try with AVA 3 instead, and remove the top-level `compileEnhancements` & `extensions` configuration. Ideally you should try to avoid `ts-node/register` as well since it adds a lot of overhead, but right now you're only rewriting imports of `tests/` so you may need to change that configuration.

(I'm closing this issue for housekeeping purposes, but let's keep t

[2020-09-09 07:21] #2579 closed

[2020-09-09 07:22] #2572 closed

[2020-09-09 07:30] novemberborn commented on #2410
Re-opening for the AVA 4 milestone, when we can remove the experimental flag and make this the default behavior.

[2020-09-09 07:30] novemberborn commented on #2410
Plus update the TypeScript definition.

[2020-09-09 09:00] MarekLani commented on #2579
thank you. With changes you proposed error got limited to
× Couldn't find any files to test

I suppose I don't have full understanding of rewrite paths

Project directory structure:

tests
  -- package.json
  -- testfile.test.ts
.vscode
  -- launch.json
out
tsconfig.json

Please can you give me bit more guidance on rewrite paths?