[2017-01-06 23:53] morenoh149 commented on #849
@razor-x in that vien, it'd be nice if ava exposed a unique testId in t.context or similar

[2017-01-06 23:53] mightyiam commented on #1158
It will probably not help that state created by your tests is preserved because that would be state created by tests other than the one which actually failed. Confusing, I think.

[2017-01-07 00:08] dwieeb commented on #1089
@lholznagel I did this, but I think `const { Reflect } = global` should work, too(?):

[code]

[2017-01-07 01:34] lholznagel commented on #1089
Ah thanks!
With my code I get this error:
`'Global' has no property 'Reflect' and no string index signature`

Really didn´t think about adding `<any>`. When adding `<any>` it works :+1:
End result looks like this: `const { Reflect } = <any> global;`

My test now works, thanks for your help :+1:

[2017-01-07 08:24] #1134 closed

[2017-01-07 08:44] #720 closed

[2017-01-07 10:01] novemberborn opened #1171 "Don't print --fail-fast reminder if no tests were actually skipped"
With #1160 AVA now prints a reminder when `--fail-fast` is used and a test fails. Any number of tests could have been skipped.

If all other tests have indeed completed then the reminder is not necessary. A `remainingCount` could be computed and guarded against when printing the reminder, as described in https://github.com/avajs/ava/issues/1134#issuecomment-267961180.

[2017-01-07 10:01] novemberborn opened #1172 "Show how many tests were skipped due to --fail-fast"
With #1160 AVA now prints a reminder when `--fail-fast` is used and a test fails. It'd be nice if the reminder could include the number of tests that were skipped.

A `remainingCount` could be computed and included when printing the reminder, as described in https://github.com/avajs/ava/issues/1134#issuecomment-267961180.

As per https://github.com/avajs/ava/issues/1134#issuecomment-267963077 we m

[2017-01-07 10:02] novemberborn commented on #1158
The state of the failing test would be preserved amongst potentially that of others.

[2017-01-07 10:02] leewaygroups commented on #1125
May I take on this as a gentle step into AVA.

[2017-01-07 10:04] novemberborn commented on #1125
@leewaygroups yes please! Thank you!

[2017-01-07 10:11] mightyiam commented on #1158
The state of the failing test is the only one we'd be interested in. The others' could be confusing and a hassle to manually clean up. That's why I propose: let them finish and clean up after themselves. No new tests will start. Just the ones already running.

[2017-01-07 12:59] #1161 closed

[2017-01-07 12:59] #1153 closed

[2017-01-07 13:17] gajus opened #1173 "ava incorrectly ignores test files when the project itself is contained in node_modules directory"
## Description

I have two projects:

* https://github.com/gajus/isomorphic-webpack
* https://github.com/gajus/isomorphic-webpack-demo

Due to the nature of the projects (`process.pwd()` aware dependency resolution), it is not possible to link `isomorphic-webpack-demo` inside `isomorphic-webpack`. Therefore, I need to do:

[code]

The problem happens when I try to run `ava` inside of `isomorphic-w

[2017-01-07 13:39] #1064 closed

[2017-01-07 13:42] #1118 closed

[2017-01-09 06:04] jdalton commented on #1121
Ah yep, will do. Look for it some time on the 7th.

[2017-01-09 07:47] oskarmurand commented on #1173
At least in 0.15.2 it works if you cd into the module that contains the tests and then do ../.bin/ava with all of the flas and path that you need.

[2017-01-09 12:24] gajus commented on #1173
Assuming you mean something like `ava ./test/**/*`, yes that works. However, behaviour of ava should not change depend on the current directory of the project, i.e. `ava` should work just as well.

[2017-01-09 18:28] ThomasBem commented on #1135
After looking at the code its really easy to get this to print out a warning similar to what was done for  the #1134 issue in the #1160 PR.

I was thinking about changing the logic around counting tests when in .only / exclusive mode. I did some quick testing and I could make it at least count all the tests in files that does **NOT** contain any .only tests.

This would look something like this:

[2017-01-09 18:36] mightyiam commented on #1135
Perhaps instead of
"There are tests with the .only() modifier in use"
be it
"The .only() modifier is used in some tests"

[2017-01-09 18:39] ThomasBem commented on #1135
I agree, that wording is much better.

Any thoughts regarding if there is any point to adding additional details around a number of tests skipped?

[2017-01-09 23:01] vadimdemedes commented on #1155
I think we'll probably stick with the default "-" for "missing" and "+" for "extra" signs, like in `git diff`. We can improve it after some real world usage of magic assert (if needed).

[2017-01-09 23:20] vadimdemedes opened #1175 "Bundle react-test-renderer with AVA"
Is there any reason why user has to manually import `react-test-renderer` and render their React tree "by hand"?

[code]

We could bundle `react-test-renderer` and that test would become:

[code]

...which is cleaner and nicer, imo.

Main reason for it is to also allow magic assert to do diffing on snapshots. Because trees in snapshots are not shallowly rendered (full trees are saved instead), we

[2017-01-10 01:36] ORESoftware commented on #222
not sure what the status is on this one, but I am a fan of nested groups, I already added an example on this thread that demonstrates the usefulness of nested groups, but here is another example, where nested groups feel very natural:

[code]

as you can see there are two test cases and two before blocks. The second before block only runs before the second test. If there were no nesting, then the

[2017-01-10 03:05] unional commented on #1124
I figure out the problem. It's in the `ansi-styles`. This issue happens on windows and `ansi-styles` does not produce the correct string in that environment.

Windows follow this (up to Windows 8):
http://www.termsys.demon.co.uk/vtansi.htm

[2017-01-10 03:06] unional commented on #1124
This is what need to be done on windows:
https://github.com/unional/aurelia-logging-color/blob/master/src/AnsiBrush.ts#L31

[2017-01-10 03:38] sindresorhus commented on #1175
Sounds like an easy win. I don't like how big its dependency tree is though. It brings with it 2.5MB of mostly unused dependencies...

[2017-01-10 09:12] novemberborn commented on #1158
Ah, so finish the currently running, non-failing tests, including their `afterEach` callbacks. That way most state would be cleared up, though you may see more than one failure in the test output.

We wouldn't be able to run the `after` callbacks though — they may assume the failing tests have completed and therefore crash.

[2017-01-10 11:48] werme commented on #1132
Is there any way to have different requirements for different entry points within the same project with the current configuration model?

[2017-01-10 20:38] zkochan commented on #1064
I don't know whether this was fixed on ava's end but the latest version of pnpm does not require `--preserve-symlinks`. It is used by default for now, but you can set the `preserve-symlinks` config to `false` by running `npm config set preserve-symlinks false` and ava should work fine.

[2017-01-10 22:40] ccorcos opened #1176 "t.throws exception when it doesnt throw"
with the following file:

[code]

I get an error:

[code]

Versions:

[code]

[2017-01-11 04:10] micimize commented on #222
@mightyiam my current approach is just testing with `node-tap`, which I guess is similar
@sonicdoe a custom macro would definitely make my code cleaner in a lot of respects, but doesn't solve the fundamental "test a test" problem.

[2017-01-11 07:32] sindresorhus commented on #1176
Hm, weird. This is what I'm getting with your exact code and environment:

[code]

[2017-01-11 09:50] igl commented on #1132
2 package.json files as far as i understood.

[2017-01-11 10:06] flying-sheep commented on #222
apologies if this is possible in a different way, but for me, this would be interesting for async *creation* of test cases:

[code]

[2017-01-11 13:27] RafaelKr opened #1178 "test.serial.afterEach"
It would be great if I could do this:
[code]

I want to run a test-file where some tests are serial to test functions which require a database and some tests should run in parallel. I would like to clear the database after each of the serial tests, but the others don't need it.

[2017-01-11 13:57] mightyiam commented on #1178
Isn't it incidental that the tests you wish to run some code after are serial to each other?

[2017-01-11 14:28] eric7578 commented on #1161
Thanks for the reply @EduardoRFS , I will try it later ;)

[2017-01-11 14:31] jfmengels commented on #1175
What about projects that use JSX with another tool than React?

[2017-01-11 19:31] ccorcos commented on #1176
hmm I just realized I was pull the magic assert branch locally so maybe that was being use rather than the global ava. things seem to work now...

[2017-01-11 19:31] #1176 closed

[2017-01-11 19:52] sindresorhus commented on #1176
Yes, I've confirmed it's an issue with the magic-assert PR.

[2017-01-12 06:55] unional opened #1180 "Run 2 configurations"
ava: 0.17

I want to run two passes of ava, each with different configuration. Currently I can't find a way to do it.

I want to run `ava` once with `browser-env` and once without.
Since the configuration is done in `package.json` (the `require: []` is not supported in cli), I couldn't find a way to do it.

Maybe extending `ava: {} | []`?

[code]

[2017-01-12 07:13] unional opened #1181 "Can't get code coverage with nyc to work"
ava: 0.17.0
nyc: 10.0.0
coveralls: latest

I follow the instruction: https://github.com/avajs/ava/blob/master/docs/recipes/code-coverage.md

But couldn't get it to work.
Coveralls saw the builds from Travis CI but saying there is no data.

Here are some example repos:
https://github.com/unional/ava-fixture
https://travis-ci.org/unional/ava-fixture
https://coveralls.io/github/unional/ava-fixture

h

[2017-01-12 07:28] sindresorhus commented on #1181
You have to ensure you build the TypeScript code with source maps so `nyc` is able to translate the offsets.

[2017-01-12 07:49] unional commented on #1181
Thanks. I got it working.

Seems like the way I use the `sourceRoot` is a hack.

I configured it so that the resulting build have the right source map root in the browser:
![image](https://cloud.githubusercontent.com/assets/3254987/21840659/83760328-d793-11e6-8f74-db231dc815e3.png)

[code]

This is the setting I tried to get the source maps play nice on the browser.

When I removed it, the coverag

[2017-01-12 09:05] mightyiam commented on #1180
This kind of thing is sometimes done using environment variables. Granted, you'll have to (conditionally) `require` inside the test files, perhaps.

[2017-01-12 09:19] unional commented on #1180
I tried using `shelljs` and use environment variables. But couldn't get it to work.

The issue seems like when ava runs, since it runs on a separate process, the environment variable is not picked up.

[2017-01-12 09:38] mightyiam commented on #1180
I don't see the need for `shelljs`. If you run `export FOO="foo" ava` won't the child processes have `FOO` set as well?

[2017-01-12 15:41] novemberborn commented on #1178
I assume currently the `serial.afterEach` callback is run after both serial and non-serial tests?

For your use case I'd suggest placing the serial tests in a separate file. It's an oddity of how the function chains are managed that you can type that combination.

I think it'd be confusing to allow callbacks specifically for serial tests, more so since there is no `test.parallel.afterEach` equival

[2017-01-12 15:56] novemberborn commented on #1171
Actually, I believe it prints the reminder even if no tests have failed.

[2017-01-12 16:28] novemberborn commented on #1181
Closing since this isn't an issue with AVA.

[2017-01-12 16:28] #1181 closed

[2017-01-12 16:31] leewaygroups commented on #845
Let me get my hands dirty on this.

[2017-01-12 16:54] novemberborn commented on #845
@leewaygroups cool!

I'm rereading the thread now and I can't figure out where we landed with deep objects. Perhaps we'll follow https://lodash.com/docs/4.16.6#isMatch as suggested by @jfmengels in https://github.com/avajs/ava/issues/845#issuecomment-220549923? We already use https://lodash.com/docs/4.16.6#isEqual in `t.deepEqual`. What was your take @leewaygroups?

[2017-01-12 18:45] RafaelKr commented on #1178
@novemberborn Okay, you're right, that would be confusing. I didn't see it like that yet.

It's not really a problem for me, because the afterEach doesn't take long. But it could be a problem, if the afterEach would take 5 seconds or more.

Maybe another solution would be to attach the metadata of the associated test to the t-variable. Then you could check there which type of test was/will be (bef

[2017-01-13 01:27] leewaygroups commented on #845
First, I agree with the idea of maintaining a simple interface so I think the name `like` is fine.

Since lodash is one of the dependencies used, @jfmengels suggestion `_.isMatch` seem very appropriate. However, @kentcdodds auggestion  [containsSubset](https://www.npmjs.com/package/chai-subset) is what I consider more robust.

My take is, adopting a simple name `like` and building this based on `c

[2017-01-13 05:53] unional commented on #1180
Thanks, it works wonder!

For the record, this work for me:

[code]

[2017-01-13 05:53] #1180 closed

[2017-01-13 06:46] mightyiam commented on #845
Please be efficient with dependencies.
Lodash is seems responsive and kind. Perhaps your changes will be welcomed there.

[2017-01-13 10:55] novemberborn commented on #845
That's a show-stopper, unfortunately. Why do you consider it to be more robust than `lodash.ismatch`?

We don't depend on all of Lodash, so regardless we'd be adding a new dependency. That said, using modules of the same high-quality origin for our assertions seems like a good idea.

[2017-01-13 11:09] novemberborn opened #1182 "Restrict test modifier chaining"
Currently test modifiers allow silly and confusing combinations. We have [linting rules](https://github.com/avajs/eslint-plugin-ava/issues/166#issuecomment-272231304) to warn about them, and [disallow some of them in the type definitions](https://github.com/avajs/ava/issues/1005). We should go further and restrict the modifier chains so only useful combinations are allowed, but provide useful erro

[2017-01-13 11:10] novemberborn commented on #1005
Opened #1182 to continue the conversation of which combinations are actually supported by AVA.

[2017-01-13 11:13] novemberborn commented on #1178
Yes, those are potential issues, but easily solved by placing serial tests in separate files.

I've opened #1182 so that eventually we'd remove support for `test.serial.afterEach()`-style hooks. Thanks for raising this!

[2017-01-13 11:13] #1178 closed

[2017-01-13 12:24] novemberborn commented on #1173
I think this is related to https://github.com/isaacs/node-glob/pull/301.

When searching for test files, if we match a directory we [search for nested `*.js` files](https://github.com/avajs/ava-files/blob/3f2a63acae61fd7c86677a298618e3222650557e/index.js#L272:L279). This ends up passing an absolute pattern to `glob` (via `globby`), but with relative ignore patterns.

Instead we should make the pat

[2017-01-13 21:30] gconaty opened #1183 "requires in config not used by profile.js"
## Description
#1070 removed the CLI option but also made it not possible to run/debug with ```profile.js``` like

[code]

Furthermore, while relative paths work when using the CLI, they don't work when using the non-forking test runner ```profile.js```

I'll attach a PR that has a fix.  It duplicates ```resolveModules()``` from ```api.js``` which isn't ideal. I'm definitely open to suggestions if

[2017-01-14 14:05] #1183 closed

[2017-01-14 15:58] mightyiam opened #1185 "Default parameters alter function arity"
## Description

Default parameters alter function arity.

### Test Source

`index.js`
[code]
`index.test.js`
[code]

Note: I didn't try this exact reproduction code.

### Error Message & Stack Trace

Meh.

### Config

No config.

### Command-Line Arguments

No args.

## Relevant Links

Perhaps there's a babel issue...

## Environment

Doesn't seem to matter.

[2017-01-14 16:09] sindresorhus commented on #1185
Most likely Babel, yeah.

[2017-01-14 16:39] novemberborn commented on #369
https://github.com/siddharthkp/cost-of-modules is also a nice tool:

[code]

[2017-01-14 20:48] ThomasBem commented on #1062
From what I have read about the TAP standard these additions we are talking about are outside of the specification, so we can call them and format them however we want?

So we could use your filepath, line and colum as a starting point, adding this to the output in both error and pass? https://github.com/avajs/ava/blob/master/lib/reporters/tap.js#L35:L51

Do we actually have access to that informa

[2017-01-14 23:29] ThomasBem commented on #843
As far as I can tell this issue has been made available again because of lack of activity in #1104. So I would like to see if I can finish up what @thinkimlazy started on.

[2017-01-15 13:06] novemberborn commented on #843
@ThomasBem go for it!

[2017-01-15 13:10] novemberborn commented on #1185
It's `0` in Node.js 7.4:

[code]

This is a Babel issue. There'll always be a risk of subtle differences when using language features that require transpilation. The only solution is to carefully control what features you're relying on being available natively, and which you are compiling.

This is a nice edge-case though!

[2017-01-15 13:10] #1185 closed

[2017-01-15 13:13] #1135 closed

[2017-01-16 02:44] cncolder opened #1186 "Exit with error if --watch is used in CI"
(Rather than ignoring `--watch` we've decided to exit with an error instead: https://github.com/avajs/ava/issues/1186#issuecomment-274246060 — @novemberborn)

---

## Description

This is a feature request. Skip '--watch' arg if `isCi`

Since we have known our test running on CI server. Ava should more clever to ignore `--watch` arg.

### Config

Copy the relevant section from `package.json`:

[co

[2017-01-16 02:49] sindresorhus commented on #1186
Sure. Wanna try doing a pull request?

[2017-01-16 03:09] cncolder commented on #1186
I'm not sure I fully understand the code logic of `lib/cli.js`

Only change this line? <https://github.com/avajs/ava/blob/master/lib/cli.js#L148>

[code]

This line <https://github.com/avajs/ava/blob/master/lib/cli.js#L97> set `conf.watch` and `conf.tag`. Then where it going?

[2017-01-16 04:58] sindresorhus commented on #1062
Yes. They should be added as data in the [YAML-block](https://testanything.org/tap-version-13-specification.html#yaml-blocks). There we are free to add whatever data we want.

👍

[Only for errors](https://github.com/avajs/ava/blob/22a60818afe6f5f7ae09979e148a9ce7ea37a90c/lib/reporters/tap.js#L5-L6) currently, but would be useful to have it in the metadata.

[2017-01-16 07:36] mightyiam commented on #1186
This doesn't mean that `"test": "ava -w"` should be encouraged. Seems like an anti-pattern to me. `$npm test` should mean the same thing on development and CI, except for inconsequential things, right?

[2017-01-16 09:02] novemberborn commented on #1186
I agree with @mightyiam. Though it might be useful to exit with a warning if you use `--watch` inside CI.

[2017-01-16 09:13] mightyiam commented on #1186
Yes. "Skipping" watching, with a warning, seems reasonable. But, if anyone is running with `-w` in CI it most likely means that his `test` script has `ava -w`. Shouldn't we "educate" by not letting that pass, and instead provide a kind message?

[2017-01-16 09:20] cncolder commented on #1186
@mightyiam I understand what you say. But why not make ava even better?

[2017-01-16 09:34] mightyiam commented on #1186
I'm :+1: better. I just didn't see it as better. Are you using `"test": "ava --watch"` in `packages.json`?

I think that it is better to display a super helpful error message when ava is used wrongly, then to allow it to be used wrongly.

But I'm not sure whether it should be a warning or an error in this case.

[2017-01-16 09:36] vadimdemedes commented on #1186
I also agree with @mightyiam and @novemberborn. We shouldn't silently ignore CLI flag and instead display a help message instead. Plus, in that specific case, we're encouraging the incorrect use of `-w`.

[2017-01-16 09:41] lukechilds opened #1187 "Browser recipe doesn't work with default AVA install"
@sindresorhus You asked me (https://github.com/avajs/ava/pull/1054#discussion_r81580347) to change from require to import in the browser recipe. Foolishly I didn't check after I changed it but it doesn't actually work on a default install because modules that are required by AVA aren't transpiled.

To fix it we would need to also require the babel bits:

[code]

and require the following settings

[2017-01-16 10:13] sindresorhus commented on #1187
Right. It will work in the next release though, as AVA now transpiles helper files too. So I think we can just keep this issue open until the next release and not do anything.

[2017-01-16 10:35] vadimdemedes commented on #1175
Hmm, good point. Would be great if we had a universal `render-to-string` package, that would detect React/Preact/Inferno/etc vnodes and render them to string.

[2017-01-16 10:37] vadimdemedes commented on #1175
Then `t.jsxEqual()` would be universal as well.

[2017-01-16 11:40] novemberborn commented on #1186
Much like [when `--tap` and `--watch` are combined](https://github.com/avajs/ava/blob/22a60818afe6f5f7ae09979e148a9ce7ea37a90c/lib/cli.js#L95:L99) we should print a warning when `--watch` is used in a CI environment, and then exit.

[2017-01-16 12:11] vadimdemedes commented on #1175
On the other hand though, `t.jsxEqual()`, diffs and syntax highlighting in magic assert are tied to React. Unfortunately we can't be "easily" universal at the moment.

Here are the possible routes we can go:

1. Create packages to serialize library-dependent JSX trees into JSON, bundle them and support most popular frameworks out of the box

This way would be the most comfortable from the user's p

[2017-01-16 12:26] mightyiam commented on #1186
Warning or error? Warning could allow exiting with 0, while error should mean exiting with 1. I find this distinction important.

[2017-01-16 13:43] cncolder commented on #1186
ava disable tap reporter in watch mode. And switch to verbose reporter in CI. Why?
Because ava is smart enough to correct that.
Use tap reporter in watch mode is unsuitable or maybe "wrongly".
We're not encouraging the incorrect use of tap also. So we adjust it.

[2017-01-16 14:54] lukechilds opened #1188 "t.pass() not working in Promise inside callback"
I'm trying to pass a callback to jsdom which then runs a Promise but I can't seem to get the tests to pass.

I've tried:

[code]

And I've also tried using `test.cb` with `t.end()`:

[code]

Both of those tests fail, but I always see `passed!` get logged so `t.pass()` is definitely running. Am I missing something obvious?

[2017-01-16 15:05] lukechilds commented on #1188
Oh, the callback one was correct, I just needed to not do an `async` function to stop the Promise error.

For anyone who ends up here, the passing test is:

[code]

[2017-01-16 15:16] #1188 closed

[2017-01-16 16:49] thinkimlazy commented on #843
@ThomasBem great! I think u need to check if main proccess has `color` flag disabled, then pass it to child test proccesses. And write tests. GL!

[2017-01-16 17:33] ThomasBem commented on #843
I got it to work for the mini and verbose test reporters already. Gotten quiet familiar with those two from my recent issues / PR`s. Combined with the work you had already done that went really fast. Now I gotta figure out how to stop it from printing color in the tests themselves.

So gotta read some more code! :)

[2017-01-17 02:04] gurpreetatwal opened #1190 "no tests found if using deasync"
I am converting some older projects that are currently using `mocha` to `ava` and ran into an issue with one of the projects that makes use of [`deasync`](https://github.com/abbr/deasync).

Whichever test file requires a file which has a usage of `deasync` anywhere in its dependency tree, `ava` reports that no tests are found in that test file.

However, I was able to get everything working by cha

[2017-01-17 11:12] novemberborn commented on #1175
Can we use a Babel plugin to solve this?

[2017-01-17 11:14] novemberborn commented on #1186
AVA refuses to start when `--tap` and `--watch` are combined. It doesn't correct it because that would be misleading. Given that in watch mode the process never exits, I'd find it misleading for that behavior to change in a CI environment.

[2017-01-17 11:21] novemberborn commented on #1190
It's the other way around, actually. `process.nextTick` schedules callbacks when the current turn of the event loop runs to completion. `setImmediate` is scheduled for the start of the next turn of the event loop.

Given that `deasync` hacks the event loop it's likely it's breaking the expected Node.js behavior. That's not something AVA will guard against. Perhaps try using [`execa`](https://www.n

[2017-01-17 11:21] #1190 closed

[2017-01-17 17:07] novemberborn commented on #707
This will be done as part of [RFC001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md).

[2017-01-17 17:34] novemberborn commented on #987
I've tried to improve our throws helper but got stuck on another edge case. If anybody's interested in taking this on, the PR is at https://github.com/avajs/babel-plugin-ava-throws-helper/pull/6.

[2017-01-17 17:48] novemberborn opened #1192 "Move ava-files back into core"
In #925 we extracted AVA's file logic into its own package: https://github.com/avajs/ava-files. In hindsight this was premature and we now want to move it back.

This should be reasonably straight-forward, however the tests need to be backported from AVA to `tap`.

See also https://github.com/avajs/ava-files/issues/11.

[2017-01-17 18:01] novemberborn opened #1193 "Update our Babel usage to only apply stage-4 transforms"
Our current Babel usage is a bit confusing, and applies too many transforms (stage-2 even!): https://github.com/avajs/ava/blob/a380fe4f5ffa1d334a2a3786215d3c1ff10a9898/lib/babel-config.js#L43:L48

Per [RFC001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md) we will only apply stage-4 transforms. We must only apply transforms for features that are no

[2017-01-17 18:05] sindresorhus commented on #1193
Yeah. We need a custom preset.

[2017-01-17 18:13] mightyiam commented on #1193
I'm looking forward to this. Debugging should be more clear without unnecessary polyfills.

Did we think about automatically detecting target?

And what's wrong with stage 2? No one has to actually use any proposed future...

[2017-01-17 20:11] vadimdemedes commented on #1175
I don't think it can be reliably implemented, because we'd have to detect which library is imported (react/preact/inferno/etc) and import according `react-test-renderer` alternative.

In my opinion, we could do just fine with the third option for a while. Minimal maintenance, universal compatibility.

[2017-01-18 08:35] mightyiam opened #1194 "Watch mode to print short time and which file changed"
How about it by default?

[2017-01-18 08:39] sindresorhus commented on #1194
Not entirely clear what you're suggesting. Can you elaborate or show an example?

[2017-01-18 10:26] novemberborn commented on #1175
Rephrasing yesterday's comment, now that I actually know what I meant to say…:

Could we support Babel plugins that rewrite `t.jsxEqual()` to automatically apply the JSON conversion? That way (assuming you don't mix JSX dialects within the same project) you don't need to do it manually. So option three, on steroids.

[2017-01-18 10:29] novemberborn commented on #1193
But they might, accidentally.

When AVA started the language features that are now in ES2017 and earlier where not even shipping in Node.js. That's completely changed now, Node.js 8 should have full ES2017 support I think. AVA can still focus on making these features available to older runtimes but it doesn't need to advocate for features in earlier stages of development. This also aligns us with

[2017-01-18 11:05] mightyiam commented on #1193
Alright. What about target detection? We *are* on target runtime. So why don't we detect and set the target accordingly?

[2017-01-18 11:23] davidosorio commented on #958
I have the same problem but when I am running the test in CircleCI, in my local machine are working as expected. Any idea what is happening ?

I am using node version 7.4.0 and npm version 4.0.5

 Thanks.

![screen shot 2017-01-18 at 11 19 52](https://cloud.githubusercontent.com/assets/2844659/22062167/4e4acf70-dd70-11e6-89d1-ad57aa43eb77.png)

[2017-01-18 12:36] novemberborn commented on #1193
That's the plan.

[2017-01-18 12:39] ahumphreys87 commented on #1139
I think the best way to solve this would be the use the `env` property in the `.babelrc` and set this when ever running the tests. Working on it now and will post the results here when Im done.

[2017-01-18 12:42] ahumphreys87 commented on #1139
Yeah so this is working for me:

[code]

I then run my tests like this: `BABEL_ENV=test gulp ava`

[2017-01-18 12:54] novemberborn opened #1195 "Create a Babel preset with AVA-specific transforms"
Per [RFC001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md) we're placing AVA-specific Babel transforms into its own preset.

This makes it possible for users to set up a custom Babel pipeline for tests, yet still apply AVA's transforms, without having to know specifics.

It should also be possible to apply these transforms in a build step, e.g. wh

[2017-01-18 13:46] skellock commented on #958
I don't have an experience with CircleCI.

Here's some really bad advice that might work:  If you have an AVA init script, throw a `global.__DEV__ = true` (or false if that's how you roll) in there and don't look back.  Never look back David.

[2017-01-18 14:54] mightyiam commented on #1194
Well, I've experienced a bug somewhere in some stack before, where something that was supposed to be watching files, wasn't catching all changes. One such experience is enough for me to desire to have clear indication as to what file changed and when. Yet, this information should be concise and stay out of the way.

So, I would prefer a relative path of the file.

And, a stopwatch of the time sinc

[2017-01-18 14:58] mightyiam commented on #845
Are we green :traffic_light: for `lodash.ismatch`? I've [just used it inside `t.true`](https://github.com/mightyiam/curated-linter/blob/b9e77d79639a668ea98391264f6a8f444422a428/lib/lint-files.integration.test.js#L41) in a project.

[2017-01-18 14:59] mightyiam commented on #845
`t.deepIncludes`?

[2017-01-18 15:00] mightyiam commented on #1051
Year has ended. Is this still an open issue?

[2017-01-18 15:03] sindresorhus commented on #1051
Yes. We can close this. The version in master targets Node.js 4.

[2017-01-18 15:03] #1051 closed

[2017-01-18 15:07] novemberborn commented on #1194
See the [documentation for debugging watch mode](https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#debugging).

Ordinarily this information is not required since the test output already shows you which files have rerun. Typically users shouldn't have to worry about why a particular test file ran. Sometimes watch mode is misconfigured, which is where the debug output comes in.

Cl

[2017-01-18 15:07] #1194 closed

[2017-01-18 15:15] dlebedynskyi commented on #1139
@ahumphreys87 this is interesting solution. going to try and see how it will work on out setup

[2017-01-18 18:01] novemberborn commented on #148
Is fixed by #1193.

[2017-01-18 18:01] #148 closed

[2017-01-18 19:18] zbraniecki opened #1199 "Performance problem"
Just switched from mocha/chai to ava for a small project with 12 tests - https://github.com/zbraniecki/L10nRegistry

running `ava` takes 10 seconds on my machine. Seems like a bug.

setup: Ubuntu 16.10, node 7.4.0, yarn 0.18.1, ava 0.17

[2017-01-18 21:02] leewaygroups commented on #845
@mightyiam the pros for Lodash is compelling and green. After previous converstaions went with lodash. I'll checkin the changeset for review soon.

[2017-01-19 08:15] tugend commented on #1081
I get the following behavior in typescript. I'd say this is clearly an error.

test.todo('my todo'); // compile error
Argument of type  'my todo' is not assignable to parameter of type 'Macros<ContextualTestContext>'.

test.todo('my todo', () => {}); // runtime error
​​TypeError: `todo` tests are not allowed to have an implementation. Use `test.skip()` for tests with an implementation.​​

[2017-01-19 08:23] mightyiam commented on #1081
@tugend the second, runtime, error seems correct. It is telling you that a test that has the `.todo` modifier must not have an implementation. An implementation is a function. In your case an empty arrow function.

[2017-01-19 08:38] creeperyang commented on #406
SO no one is working on this?

Long string diff is **really hard** to read with `ava@0.17'.

Just a pic:

<img width="773" alt="2017-01-19 4 36 43" src="https://cloud.githubusercontent.com/assets/8046480/22099248/825e7e38-de65-11e6-8d1c-34b02fd3f90b.png">

[2017-01-19 08:45] sindresorhus commented on #406
@creeperyang It's being worked on in https://github.com/avajs/ava/pull/1154.

[2017-01-19 09:02] vadimdemedes commented on #1175
So steroids (babel plugins to transform JSX into JSON) are basically left for community to implement? Sure, why not? They can freely use any babel plugins in configuration.

[2017-01-19 09:08] creeperyang commented on #406
Great! 👍

[2017-01-19 09:10] vadimdemedes commented on #1175
Closing this, since the issue is now resolved.

[2017-01-19 09:10] #1175 closed

[2017-01-19 11:26] novemberborn commented on #577
This will be tackled through [RFC 001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md). See the project here: https://github.com/avajs/ava/projects/1.

[2017-01-19 11:26] #577 closed

[2017-01-19 11:28] novemberborn commented on #1199
I see you're loading `babel-register`. Per https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md#transpiling-sources:

[RFC 001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md) is the plan for improving this. See also https://github.com/avajs/ava/projects/1 where I'm starting to list the tasks.

[2017-01-19 11:28] #1199 closed

[2017-01-19 11:32] novemberborn commented on #1081
@mightyiam their second example is go get around the bad typing, but that just causes a runtime error.

@tugend yes the typing is wrong. Perhaps you'd be interested in fixing it? The type definition is generated here: https://github.com/avajs/ava/blob/master/types/make.js

[2017-01-19 12:20] Wildhoney commented on #1146
@gajus what was your eventual solution?

I have a similar issue in that I'm using `rollup` for the build &mdash; which excludes modules in the `es2015` plugin &mdash; however for AVA it requires modules, and I therefore logically thought an overwrite in the **package.json** would have been the solution &ndash; to no avail.

[2017-01-19 13:06] gajus commented on #1146
I have ended up using different `.babelrc` settings for development, production and testing.

[2017-01-19 14:35] Wildhoney commented on #1146
@gajus thanks.

For others reading this issue, I implemented it the following way.

With my `.babelrc` file I specified two separate `env` objects &mdash; one that satisfies Rollup and one that satisfies AVA:

[code]

I then had two separate commands for building and testing:

[code]

[2017-01-19 14:53] novemberborn commented on #1081
I had to make some changes to the generator script and I think I found the issue. See https://github.com/avajs/ava/pull/1197.

[2017-01-19 14:59] #1192 closed

[2017-01-19 16:43] tugend commented on #1081
*happy face*, ^_^

[2017-01-19 18:24] #1171 closed

[2017-01-20 09:42] #947 closed

[2017-01-20 09:42] #1081 closed

[2017-01-20 09:42] #1193 closed

[2017-01-20 09:42] novemberborn commented on #1195
Landed in #1197.

[2017-01-20 09:42] #1195 closed

[2017-01-20 09:43] novemberborn commented on #947
`master` no longer applies the runtime transform.

[2017-01-20 09:43] novemberborn commented on #1089
As of #1197 `master` no longer applies the runtime transform.

[2017-01-20 09:43] #1089 closed

[2017-01-20 09:44] novemberborn commented on #1081
Please try installing from `master`.

[2017-01-21 03:03] leonardovilarinho opened #1200 "Does not work with VueJS?"
I'm trying to test components of the *Vue JS 2*  with the help of *AVA*, but I am having the following error:

    exited with a non-zero exit code: 1

Follows the code of my test:

[code]

`t.js`:

[code]

What could be the error?

The VueJS is developed using ES5, this could be the problem? Is there any way I can fix this? I really wanted to use the AVA.

I tried installing the nyc but the error

[2017-01-21 07:28] forresst commented on #1186
To summarize the discussion, the solution would be to raise an error (exiting with 1 to allow stop the process in CI) with the following explanatory message :
`AVA will not run with the --watch (-w) option in CI, because CI processes should terminate, and with the --watch option, AVA will never terminate.`

Is that the right solution?

I can do the PR if you want (Code, test and explanation in doc

[2017-01-21 07:54] sindresorhus commented on #1200
AVA only transpiles your test files, not your source. If you want AVA to also handle source files, read this guide: https://github.com/avajs/ava/blob/b24495d5f495abee798589c7c0b91202f4207064/docs/recipes/babelrc.md#transpiling-sources

[2017-01-21 07:54] #1200 closed

[2017-01-21 14:09] leonardovilarinho commented on #1200
I couldn't make it work :(
thanks anyway, I'll see if I can find another solution

[2017-01-21 21:22] jsatk commented on #1108
@sindresorhus I'd love the ability to use the node debugger. Mocha has this feature if you run `mocha debug`. I rely heavily on setting `debugger` statements in my code and test suite to, well, debug.

I'd love to contribute to AVA and add this feature in. Is anyone currently working on this? Please let me know if the AVA crew is open to someone adding the ability to use the native node debugger.

[2017-01-22 20:36] sindresorhus commented on #1108
@jsatk No one is currently working on this. We would welcome a pull request :)

See https://github.com/avajs/ava/pull/929 for the previous attempt. Especially https://github.com/avajs/ava/pull/929#issuecomment-248280229.

[2017-01-22 22:01] billyjanitsch opened #1202 "Can't import 'babel-core' in test file"
## Description

I'm interested in using ava to test a Babel preset. The natural thing to do is import `babel-core` in my test file (and run `babel.transform(code, {presets: [require('.')]})` on some code to see if I get the expected output).

However, importing `babel-core` in a test file doesn't work -- the result is `undefined`. This might be a bug caused by ava's own use of babel to transpile t

[2017-01-22 22:20] billyjanitsch commented on #1202
Here's a repo: kensho/babel-preset-kensho@f7bbbf4064a0d0c623fc6b9e226d17623363081d

[2017-01-23 00:36] jsatk commented on #1108
@sindresorhus Thank you. Will take a peek and do it if I can. :)

[2017-01-23 09:41] novemberborn commented on #1186
@forresst yes that's my preferred solution. Sorry for not going your way @cncolder, but thank you for raising this ambiguity.

[2017-01-23 09:45] sindresorhus commented on #1186
Alright. I'm convinced too. What @forresst proposed above sounds good to me.

[2017-01-23 09:46] novemberborn commented on #1202
`babel-core` doesn't have a default export. This isn't an issue for most Node.js modules but since `babel-core` was created using Babel it does trip you up when using Babel's module syntax transform.

Use `import * as babel from 'babel-core` instead.

[2017-01-23 09:46] #1202 closed

[2017-01-23 15:55] billyjanitsch commented on #1202
My mistake -- thanks for clarifying 🤤

[2017-01-23 17:25] #1186 closed

[2017-01-23 17:54] vadimdemedes opened #1204 "Limit the number of statements in the output for t.true/t.false"
**Note, this issue is related only to #1154.**

Given this assertion:

[code]

AVA will output the value of each statement (`obj.a.b.c[0]`, `obj.a.b.c`, `obj.a.b`, `obj.a`, `obj`), which of course is not optimal, since the helpful values are probably only the last two. We should limit the number of statements to prevent a long list of unhelpful values.

[2017-01-23 17:56] vadimdemedes opened #1205 "Show relevant parts of the object/array for t.true/t.false assertion output"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/1205)

**Note, this issue is related only to #1154.**

Given this assertion:

[code]

if the size of `arr` is (for example) `100`, AVA will output the whole array without pointing to the specific item that caused an assertion error. We should show only

[2017-01-23 19:18] #1121 closed

[2017-01-24 03:05] yatharthk commented on #1205
@vadimdemedes thanks for pointing it out. I actually faced this thing last night and was thinking to open an issue.

[2017-01-24 03:27] yatharthk commented on #1046
@novemberborn what keys in particular are to be mapped in configuration object? Like the keys we want to be used as `plurals`.

[2017-01-25 10:25] novemberborn commented on #1046
Hi @yatharthk. There've been a few developments since I started this issue. We won't have an `extensions` flag, the `require` flag has been removed, and we're looking to remove the `source` flag (#937).

I think a good place to start would be to stop passing `default: conf` in the call to `meow`. We could then merge the resulting `cli` object with `conf`. Hopefully that leads to the same behavior.

[2017-01-25 10:50] jfmengels opened #1207 "Proposal: Make title not optional and having two tests with the same title should fail the tests"
I'm proposing two breaking changes, that would aim users to have a better test suite (or at least better documented in a way)

### Making the title of a test mandatory

I can barely see why there should not be one. I can only imagine the case where the file only has one test in a file whose name is self-explanatory, but even then, an additional title can't hurt. In all other cases (like having mul

[2017-01-25 11:21] yatharthk commented on #1046
@novemberborn Thanks. Shall I pick up the task of pulling out the `default: conf` when calling `meow`?  Is there a relevant issue or we need to create one?

[2017-01-25 18:13] novemberborn commented on #1046
Hey @yatharthk,

This would be the one.

Thanks for volunteering!

Could you check in with @ThomasBem first? He's running into an issue for which this would be the solution, though there's a workaround available to him as well. See discussion in https://github.com/avajs/ava/pull/1198#issuecomment-275073726.

[2017-01-25 18:14] novemberborn commented on #1207
👍  on making titles mandatory.

Not sure about forcing titles to be unique. I run into this from time to time when using macros, though perhaps that's only because the linter cannot resolve the macro.

[2017-01-25 18:33] jfmengels commented on #1207
The linter has problems knowing whether two title expressions are similar, if they are a bit complex and have different contexts. That's why we don't report errors as soon as it's more complicated than a simple string.
The runner on the other hand would know the exact value, and doesn't have that problem. That's why I think it's a better idea to have this implemented in the runner than in the lint

[2017-01-25 19:07] aularon opened #1209 "Promises instantiated in test files do not pass `... instanceof Promise` in my code"
## Description
I am working on a [mini library](https://github.com/etabits/node-line) that allows _"mixing Async/Sync code with Promises and Streams in a reusable unified line"_. I sat up many tests, and they are passing with no problem on my Node.js v6 environment. I switched to v5 to check how does the library do there and some of the tests failed... No problem: I thought it had to do with my co

[2017-01-25 19:40] sindresorhus commented on #1209
This is because we use Babel, and it replaces globals with polyfills. I'm pretty sure this is fixed in master. Can you try it? → `$ npm i avajs/ava`.

I would also strongly recommend against doing instance checking for `Promise`. Most promise libraries do not inherit from `Promise` (even Bluebird). The correct way of checking if something is a promise is: https://github.com/sindresorhus/p-is-promi

[2017-01-25 20:03] aularon commented on #1209
Hello!

I updated to latest master as advised, and now tests are consistent across all nodejs versions (4, 5, 6 and 7!): All tests pass except for [these two](https://github.com/aularon/ava-bugreport-promises/blob/5d88077f15a75c88fa13556a65368095de9f4368/test/ava.js#L23-L24) (Both of which are irrelevant).

Before, test results were inconsistent between node versions, and these two failing tests w

[2017-01-25 20:37] sindresorhus commented on #1209
That's good to know. I'll keep this issue open until we've done a new release (Hopefully soon).

[2017-01-25 21:22] ThomasBem commented on #1207
I think both of these suggestions are valid and good improvements.

We actually had some trouble with duplicated test titles a while ago. It turned out that when we wrote our first test for a new react component. We always ended up calling it 'Render to DOM' by default. None really thought about it and it just happened out of habit.

Then at some point we where making a new component and our 'Rend

[2017-01-26 03:17] #847 closed

[2017-01-26 03:26] sindresorhus commented on #1207
I'm a big 👍 on requiring unique test titles. I think that's a great change.

I would also be ok with requiring a test title for multiple tests, but I kinda like the ability to not have a title when you only have one test though. I use this a lot in my tiny modules. [Example.](https://github.com/sindresorhus/is-hyper/blob/04f38bbd7d8314ad499e37f3fd003211b54a6be3/test.js) Although, I'm happy to be c

[2017-01-26 07:51] LasaleFamine commented on #937
Hi guys!
Can I take this one? Is there something more I should know?

[2017-01-26 10:13] eric7578 commented on #1161
Finally back to work :D, I tried @EduardoRFS and it works!
Thanks for every one who provide opinions!
As a record for those who has the same problem, here is my final script:

`node --harmony-async-await ./node_modules/.bin/ava NODE_ENV=test ./**/*_test.js`

[2017-01-26 13:36] yatharthk commented on #1046
@novemberborn Thanks for pointing that out for me. 👍

[2017-01-26 17:25] danny-andrews opened #1210 "How to Transpile Required Modules in a Separate Step"
In the README, it mentions that "You can also transpile your modules in a separate process and refer to the transpiled files rather than the sources from your tests." However, it doesn't give an example of how to do that. I'm curious what this would look like.

[2017-01-26 18:26] hzlmn opened #1211 "Caching issue inside throwing test."
## Description

Hi and thanks for good tool!

I have a little problem with caching inside throwing test.

As you can see from test source i have `tokenizer` object loaded from `lib/tokenize`. On previous run it had `tokenizer.tokenize` method, but then it was moved and `tokenize` was placed in test file.

When i run test it throws exception, where message tells that in transpiled code it expect av

[2017-01-26 18:37] sindresorhus commented on #1211
Do you have any `ava` config in package.json, like `babel-register`?

[2017-01-26 19:41] hzlmn commented on #1211
No I don't have any `ava` configuration in`package.json`

[2017-01-26 20:11] danny-andrews commented on #1011
@greyepoxy Dude, this was a life-saver. I think this should be added as a recipe. Also, I found [this](https://github.com/liady/webpack-node-externals) library, which removes the need for the manual code you have [here](https://github.com/greyepoxy/webpack-ava-recipe/blob/master/webpack.config.js#L3).

[2017-01-27 21:50] ThomasBem commented on #1207
I would like to do some work on this unless any of you guys have already started?

[2017-01-27 22:27] jfmengels commented on #1207
Absolutely. Though in the case of your example, I would probably have split the tests up and added titles like the following:

[code]
...and I think that it would the test a little easier/faster to understand, but that's my style of writing tests.

If you don't get the message of what you're testing across, you are making things harder for future readers. Having a test title is IMO one of the best

[2017-01-28 04:04] stevenmathews commented on #1139
I have also had this issue and was solved by following @ahumphreys87 solution - cheers

@novemberborn mentioned on gitter "We're working on making it easier to extend a babel config while specializing it for tests etc"

[2017-01-28 10:58] ThomasBem commented on #1207
I agree with this. I also think that once people are _forced_ to write a title, in many cases they will actually write something sensible. The difference between just writing 'Test' and writing something like 'Throws if no type is supplied' is pretty negligible once you have write something.

[2017-01-28 18:14] dlebedynskyi commented on #1139
@stevenmathews we ended up still having client.babelrc and server.babelrc. Both are using [babel-preset-env now](https://github.com/babel/babel-preset-env). Server one is having test section for Ava like @ahumphreys87 suggested. We also saw problem with babel-register and "import" statements in node_modules - like lodash-es.
Anyway thanks to @ahumphreys87 for idea of solution

[2017-01-29 15:24] tony-kerz commented on #1108
@jantimon can you help me out with the specific command-line/npm-script that you used to invoke iron-node against an ava test? i'm trying the following with ava `0.17.0`, node `7.4.0` and iron-node `3.0.17`:
[code]
but getting:

<img width="803" alt="screen shot 2017-01-29 at 10 18 30 am" src="https://cloud.githubusercontent.com/assets/1223231/22405197/c1ed4e5e-e60c-11e6-80ea-6212ea6f4f76.png">

[2017-01-29 15:40] jantimon commented on #1108
That's fine just press cmd+r or ctrl+r

[2017-01-29 15:57] sindresorhus commented on #1108
@tony-kerz That command only works on one file, not a directory.

[2017-01-29 17:48] novemberborn commented on #937
@LasaleFamine go for it! 👍

[2017-01-29 18:05] sindresorhus commented on #1207
👍 Many good arguments for why a test title makes sense here, so sure.

[2017-01-29 19:01] sindresorhus commented on #1207
Note to self: We need to adjust the [`test-title`](https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/test-title.md) ESLint rule accordingly.

[2017-01-29 20:21] LasaleFamine commented on #937
Just to be sure, I can see a `--source` flag, not a `--sources`. Is right?

Another thing I can see is that the `cli.flags.source` is used within the `Watcher` constructor:

[code]

We need to get that `source` prop from the `pacakge.json`?

[2017-01-29 22:38] tony-kerz commented on #1108
thanks @jantimon and @sindresorhus, got `iron-node` working calling out a specific file 👍

also, plain-old `babel-node` kind of works with this:
[code]
but dev-tools couldn't resolve the source-map for some reason.

it showed transpiled code, with this comment included:
[code]
a project for another day, but any insight welcome...

thanks again!

[2017-01-30 09:34] novemberborn commented on #1046
@yatharthk looks like @ThomasBem is working around the issue. Do you want to take this then?

[2017-01-30 09:35] novemberborn commented on #937
Yes.

I think you can get it from `conf.source`. See #1046 for context.

[2017-01-30 17:11] hzlmn commented on #1211
@sindresorhus Hi, did you have a chance to look on it?

[2017-01-30 17:55] novemberborn commented on #1211
@hzlmn there isn't really anything to look at I'm afraid. Perhaps you could share a repository with a branch in which tests are working, and another in which they're failing?

[2017-01-30 19:46] vadimdemedes opened #1214 "Render JSX in t.snapshot arguments"
See https://github.com/avajs/ava/pull/1154#discussion_r97379225. During the development of magic-assert PR, we decided to extract `t.jsxEqual` from it and land it bit later with a more clear purpose.

---

Also related https://github.com/avajs/ava/issues/1175

[2017-01-31 05:21] yatharthk commented on #1046
@novemberborn Would love to. Can you please guide me with proceeding on this? Thanks.

[2017-01-31 09:53] novemberborn commented on #1046
@yatharthk sure, feel free to post your questions here.

[2017-01-31 09:54] novemberborn commented on #1214
I wonder if we could advocate JSX transforms that just do this for `deepEqual`. Was there any specific behavior in `jsxEqual`?

[2017-01-31 11:08] yatharthk commented on #1046
@ThomasBem I'm planning to pick this issue for removing the `default: conf` from call to `meow`. Would that be fine or you are doing that?
Also, we aren't going to deal with any cli flags here, for now; if I'm not wrong. Please correct my knowledge if I'm wrong over here. @novemberborn

[2017-01-31 11:34] novemberborn commented on #1046
You're correct, and go ahead.

[2017-01-31 18:40] yatharthk commented on #1046
@novemberborn I'm working on this now. Would be great if you could hint me on the right approach to merge `cli` object with `conf`. What I can understand is `default` creates `flags` on the `cli` object. Is it something like we merge `conf` into `cli.flags` or something? I tried this but I don't think this is something we need to do!

[2017-01-31 21:57] btipling commented on #1114
Is this released yet? I still get this problem.

[2017-01-31 22:01] jokeyrhyme commented on #1114
@btipling most recent release looks like [0.17.0](https://github.com/avajs/ava/releases/tag/v0.17.0) 2016-11-17, whilst this was only merged 2016-12-25

[2017-01-31 22:11] vadimdemedes commented on #1214
Nope, there wasn't any specific behavior inside `t.jsxEqual`. I just thought it may be easier for 3rd-party transforms to detect what needs to be transformed, if we had `t.jsxEqual`.

[2017-02-01 11:04] jfmengels commented on #1214
Jut so I'm sure I understand: Why do we wish to have a new `jsxEqual` assertion method? Is it because doing
[code]
creates an unreadable object that does not look like what you expect to see in the DOM?

[2017-02-01 13:58] novemberborn commented on #1046
I think pick the correct default values out of `conf`, to pass to `meow`. Then read either from `cli.flags` or `conf` when passing values to the `Api` constructor etc.

[2017-02-01 14:12] novemberborn commented on #1214
I think this comes down to #1175. We can't do a generic `jsxEqual` because we need to render the JSX somehow, which means choosing a particular implementation (e.g. React). The solution for that was to encourage Babel plugins that would translate the JSX for use with the assertion. But I'm not convinced those plugins need to latch onto `t.jsqEqual` calls. They can just detect the JSX AST nodes.

[2017-02-01 17:40] vadimdemedes commented on #1214
@jfmengels I thought to add it, just to clearly indicate for 3rd-party babel plugins what JSX needs to be transformed.

@novemberborn Actually, this issue can be closed, since goal is to not have restrictive preferences and be open & universal to all JSX-based libraries. I should create a new issue describing my thoughts and a possible route we can take.

I don't have experience in that area, so I

[2017-02-01 18:54] gajus commented on #1148
@leebyron Could you have a look at this issue please?

(Since you have tackled a similar issue here https://github.com/avajs/ava/pull/1164.)

[2017-02-01 21:22] LasaleFamine commented on #1072
Hi there, is this still valid?

[2017-02-01 22:15] qaiser110 opened #1216 "How can we set the pollInterval for watching files with the --watch flag"

[2017-02-01 22:24] vadimdemedes opened #1217 "Error stack points to compiled source when using babel-register"
While developing #1154, I faced an issue in a project, that uses `babel-register`. Error source pointed to a location in the compiled file, rather than original. As @novemberborn mentioned, it might get auto-fixed after [RFC 001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md). Let's keep this issue to remember and verify later.

[2017-02-02 04:33] sindresorhus commented on #1216
Can you elaborate on why you need that? What OS are you using?

[2017-02-02 04:51] #1155 closed

[2017-02-02 07:15] #937 closed

[2017-02-02 08:00] sindresorhus commented on #1072
Only partly. The current output looks like:

[code]

As you can see, the test file and line are shown twice. I think we could simplify it to not show the stack trace if it's only the test function. @avajs/core Thoughts?

[2017-02-02 10:56] novemberborn commented on #1072
👍

[2017-02-02 10:57] novemberborn commented on #1214
Detecting JSX nodes is pretty easy, yeah.

You can't use that to compare objects though, can you?

[2017-02-02 16:48] sindresorhus commented on #1209
New release is out: https://github.com/avajs/ava/releases/tag/v0.18.0 :)

[2017-02-02 16:48] #1209 closed

[2017-02-02 16:48] sindresorhus commented on #1187
New release is out: https://github.com/avajs/ava/releases/tag/v0.18.0 :)

[2017-02-02 19:01] leebyron commented on #1148
A simpler repro case is simply:

[code]

Which yields:

[code]

[2017-02-02 19:07] wyze opened #1218 "Snapshot feature will modify existing snapshots without passing `--update-snapshots` flag"
## Description

The results with snapshots are inconsistent when ran multiple times with no code changes. I've provided a repository with an example below.

Upon cloning the repo and running `npm test` it will pass the tests but leave the snapshots modified (See output of 2nd pass below). If you run tests again, it will throw an error (See 3rd pass output below).

For what it's worth, I was using

[2017-02-02 19:20] vadimdemedes commented on #1218
Thank you for a detailed bug report, I just reproduced it and looking into it.

[2017-02-02 19:28] wyze commented on #1218
I think the problem lies with `JSON.stringify`ing the `serializedTree` here: [lib/assert#L171](https://github.com/avajs/ava/blob/master/lib/assert.js#L171)

If I remove the `JSON.stringify` and make it just `const result = toMatchSnapshot.call(context, serializedTree);`, it works every time.

[2017-02-02 19:56] vadimdemedes commented on #1218
Hm yes, this makes the issue gone indeed. I've been debugging this issue inside jest-snapshot, and the problem lies in saving snapshot file. For some reason, on the second run, it reserializes/reencodes the last item in the snapshot.

[2017-02-02 20:06] raymond-h opened #1220 "Snapshot feature shows empty diff when changing order of keys on object"
## Description

When using the snapshot feature, if the new value is an object that is identical to the snapshot **but with a different key order**, the diff shown is **empty**.

### Test Source

Before:

[code]

After altering the test so that the keys are in reversed order:
[code]

### Error Message & Stack Trace

[code]

### Config

package.json:
[code]

.babelrc:
[code]

### Command-Line Argum

[2017-02-02 22:09] wyze commented on #1218
I tried to see if for some reason the macro was causing the problem, and broke out the tests into long form, and it still produced the same result.

Then, I wanted to check to see if it was `jest-snapshot`, so I pushed a jest branch up and it does not result in the behavior described above.

You can see the jest branch here if needed: https://github.com/wyze/ava-snapshot-issue/tree/jest

[2017-02-02 23:04] mAAdhaTTah commented on #24
I'm currently playing around with using AVA to unit test a framework I'm working on (wooo Observables!), but without being able to run the unit tests themselves in the browser, it's a non-starter. I'm definitely interested in helping out; I played around with `karma-ava` but couldn't get it working.

Is there any movement on this, or anything I can look at or help out with?

[2017-02-03 00:33] jordanh commented on #971
Adding 0.02 here. [Our product](github.com/ParabolInc/action) is using the new CircleCI 2.0 beta. They provide an interface for collecting test timing information and providing statistics. You can use the information to configure CircleCI's test parallelization.

If I submitted a PR for timing, even if it's variable, would it be rejected?

[2017-02-03 08:54] LasaleFamine commented on #1072
Can I take this as the issue?

[2017-02-03 09:10] sindresorhus commented on #1072
@LasaleFamine Yes :)

[2017-02-03 12:13] novemberborn commented on #1220
@vadimdemedes I assume magic assert doesn't care about key order? I suppose the snapshot comparison does, which seems fair.

[2017-02-03 12:18] novemberborn commented on #971
@jordanh could you expand on how that interface works? What information specifically do you require out of AVA?

[2017-02-03 13:19] jordanh commented on #971
Sure! It's a pretty simple. CircleCI expects a directory full of JUnit-formatted XML files (boy, do we ever need a better standard than this, but I'll reserve from making further judgments). The XML looks like this:

[code]

Today, I get _real_ close to this format by using `--tap` and emitting XUnit by piping ava to [tap-xunit](https://github.com/aghassemi/tap-xunit).

There are a couple of route

[2017-02-03 19:27] tjbenton commented on #1095
This would be a an awesome feature 👍. I have broken my tests out into 13 different files and between those files I have over 1000 tests. If the file has async tests and it has 200+ tests and 150 of those are very cpu intensive. I could run them serially, but that would add several minutes onto the test time but If I could limit the tests that are running to 10 or 20 then it wouldn't bring my compu

[2017-02-03 19:46] LasaleFamine commented on #1072
I have a question. Is this related to `reporters`? The check should be made inside every `reporters`?

[2017-02-03 20:37] vadimdemedes commented on #1218
Found this issue, seems to be related, from what I've observed - https://github.com/facebook/jest/issues/2478.

[2017-02-03 20:43] vadimdemedes commented on #1214
Nope, but I'm wondering if users will assume `t.is` is for shallow compare (JSX) and `t.deepEqual` for deep JSX.

[2017-02-03 20:45] wyze commented on #1218
Cool, thanks for digging in. It looks like this was fixed with https://github.com/facebook/jest/pull/2482 and we just need to wait for the next release to be cut.

[2017-02-03 21:56] 6ewis opened #1222 "t.is not working, however is more strict cousin t.deepEqual is working"
## Description
Goal: Playing with ava for the first time, hoping to get it to work somehow :)
Problem: Test run into a wall when I use the assertion method 't.is', 't.deepEqual' works for some reasons

### Failing Test

[code]
### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

`package.json`:

[code]

### Command-Line Arguments

npm test or more precisely:

[code]

## En

[2017-02-03 22:05] vadimdemedes commented on #1222
Could you post your failing test?

[2017-02-03 22:25] vadimdemedes commented on #1222
I released a few minor fixes to the underlying dependency (`@ava/pretty-format`), so make sure to run `npm update` before rerunning your tests.

[2017-02-03 22:26] vadimdemedes commented on #1218
Just opened https://github.com/avajs/ava/pull/1223 - a dead-simple snapshot implementation, I hope it will eliminate such bugs and you can use `t.snapshot` with *almost* any kind of input ;)

[2017-02-03 22:42] leebyron opened #1224 "Add flow type unit tests"
It seems like there have been a few issues recently with flow types being broken, perhaps we should add some unit tests for them. Opening an issue to gauge interest, I'm happy to do the initial setup work if folks think this is worthwhile.

Here's what's involved:

We would add `flow-bin` as a devDependency and add a `.flowconfig` to the project, then add a file (or directory of files) that end in

[2017-02-03 22:43] leebyron commented on #1224
cc @bookercodes @sindresorhus

[2017-02-03 23:00] vadimdemedes commented on #1218
By the way, I would really appreciate it, if you could try this branch on your project and see if it solves existing/introduces new issues, if you've got some free time. No worries if not, though!

[2017-02-03 23:20] wyze commented on #1218
Looks great @vadimdemedes, thanks! I pushed a new branch, [wyze/ava-snapshot-issue#ava-1223](https://github.com/wyze/ava-snapshot-issue/tree/ava-1223), in the repo that works without issue now.

I've also tested this in my real project and it works as well. But it does create snapshots, even if there is no snapshot assertion in that test file. So, in the project with more tests, there are `__snaps

[2017-02-03 23:27] vadimdemedes commented on #1218
This is a good catch, will fix. Thank you a lot for taking the time to test it out!

[2017-02-04 00:19] 6ewis commented on #1222
@vadimdemedes I have just updated the description. Most importantly I ran npm update and it seems to work now

[2017-02-04 05:43] vadimdemedes commented on #1222
Great, thanks for reporting, it got resolved thanks to you!

[2017-02-04 05:43] #1222 closed

[2017-02-04 08:50] vadimdemedes opened #1225 "Add `ava/babel` as a shortcut for including AVA's Babel presets"
It seems to be a good convention across the community (glamor, next.js, more) to provide a shortcut for auto-including Babel settings. If user wants to customize presets, right now he has to include these presets manually. What I'm proposing:

[code]

It would also significantly simplify the creation of tools like [ava-preact-init](https://github.com/avajs/ava-preact-init), ava-react-init, ava-inf

[2017-02-04 10:20] qaiser110 commented on #1216
I'd like to set pollInterval to 1000ms. I'm using Mac, but I don't see how that's related to pollInterval.

[2017-02-04 10:31] sindresorhus commented on #1216
I'm looking for the reason for why you need this?

[2017-02-04 10:42] #1216 closed

[2017-02-04 10:43] qaiser110 commented on #1216
There is no major reason. On some occasions, i'd like to have a bit higher pollInterval, but it's not that a big deal if it isn't configurable in AVA. I just thought since AVA uses chokidar, and chokidar has pollInterval setting, it might be possible to set this option in AVA.

BTW, AVA is awesome, and I'm loving it.

[2017-02-04 15:34] yatharthk commented on #1046
@novemberborn So here's what I think: Instead of passing `conf` to `meow` as `default`, let's keep it separate and override it's properties with those of `cli.flags`, maybe something like `Object.assign(conf, cli.flags)` and then we can use `conf` in place of `cli.flags` everywhere. If this makes sense, I'll go ahead and make the changes.

[2017-02-04 16:46] shinzui commented on #748
I am still experiencing this behavior with ava 0.18.1

[2017-02-04 21:27] vadimdemedes opened #1226 "Include only plain objects/arrays in t.true/t.false output of statements"
AVA's magic-assert output causes a crash when this kind of assertion fails:

[code]

or similar, when functions/instances are involved. This is happening, because `@ava/pretty-print` tries to print `some.spy` and `some` nicely. When parsing statements in `lib/enhance-assert`, we should ignore anything but plain objects and arrays.

[2017-02-05 04:12] justsml commented on #850
I wish AVA kept (or added) to the supported method aliases.
Appears they were removed before I even knew the project existed. 😿

I see lots of `tape` compatible tests, all with varying standardization between them (`isError` vs. `error` etc.). They have varying levels of babel integration (not-working to no-stacktraces).
I avoid messing with it by running it though AVA ❤️ . (I fix it if I can, of

[2017-02-05 09:50] sindresorhus commented on #748
@shinzui I doubt it's the exact same issue as we have unit tests proving it's working. Go ask in our https://gitter.im/avajs/ava and share some code ;)

[2017-02-05 14:30] sindresorhus commented on #1224
👍 Good idea! A pull request would be lovely :)

[2017-02-05 14:32] sindresorhus commented on #1072
@LasaleFamine Yes, the `mini` and `verbose` reporter, but not `tap`.

[2017-02-05 17:24] novemberborn commented on #971
Given that AVA executes tests concurrently, both inside a worker process and across worker processes we think there's too much variability in execution time on the test case or even test suite level. It might average out OK for the entire test run (*all* test files and tests).

I'm not sure how we organize "suites" in our TAP output. I personally wouldn't be opposed to adding timestamps for the "g

[2017-02-05 17:28] novemberborn commented on #1095
@tjbenton does limiting the concurrency of test *file* execution help (the  experimental `concurrency` option)? Due to the event loop CPU intensive tests will be blocking within a test file anyway, so I'm not sure how running them serially would make a difference really. I wonder if you're inadvertently executing too many intensive tests in concurrent processes.

I think limiting the concurrency o

[2017-02-05 17:33] jordanh commented on #971
Could we view this as a simple map/reduce pattern? map() over testcases, reduce() over testsuites.

May I look into a patch and come back with real data vs. speculation?

[2017-02-05 17:41] novemberborn opened #1227 "t.notThrows(promise) should return an "empty" promise"
This is as expected:

[code]

However:

[code]

`t.notThrows(promise)` should return a promise, but for an `undefined` value.

The offending line is at https://github.com/avajs/ava/blob/dcdfbee689e1538420f5793bbaca09c7e78ddedd/lib/assert.js#L124.

The Flow and TypeScript definitions should be updated too:

* https://github.com/avajs/ava/blob/dcdfbee689e1538420f5793bbaca09c7e78ddedd/index.js.flow#L

[2017-02-05 17:46] novemberborn commented on #971
Of course. It's incredibly unlikely though that we'll expose time measurements on the individual test level, and even doing it for the total execution time may not like. Just trying to give you a fair warning 😄

[2017-02-05 17:54] novemberborn commented on #1225
We have `@ava/stage-4` and `@ava/transform-test-files` now. What are you proposing `@ava/babel` does?

[2017-02-05 17:57] novemberborn commented on #1046
You still need to provide default values based on `conf` to `meow`. I'm OK with copying the resulting `cli.flags` back into `conf`.

[2017-02-05 17:59] #1148 closed

[2017-02-05 18:00] novemberborn commented on #1226
Could you elaborate on what specifically causes the crash?

How does this affect the output for `t.true(some.spy.calledOnce)`?

[2017-02-05 18:01] novemberborn commented on #1214
That confusion doesn't seem exclusive to JSX object comparisons.

[2017-02-05 20:11] transcranial opened #1228 "Crashes while looking for helper files in huge project subdirectories"
Currently, ava looks for helper files in all project subdirectories excluding node_modules:

https://github.com/avajs/ava/blob/master/lib/ava-files.js#L90-L95

This can overwhelm ava when there exists subdirectories that are huge and/or with complicated fs hierarchies:

[code]

Allowing the specification of exclusion globs for helper files would help prevent this. We reverted back to v0.17.0 for n

[2017-02-05 20:23] sindresorhus commented on #1228
Approximately how many files/directories and how deep? Do you specify any arguments to `$ ava` or any AVA config in package.json?

Could you try removing https://github.com/avajs/ava/blob/b886c5b25ae54430f908c49f9932d8f998c41702/lib/ava-files.js#L141-L143 and see if it helps?

Could you try to narrow down to which [patterns](https://github.com/avajs/ava/blob/b886c5b25ae54430f908c49f9932d8f998c4170

[2017-02-05 20:49] vadimdemedes commented on #1214
Yes, also true.

[2017-02-05 20:53] vadimdemedes commented on #1226
Sure. You can easily cause a crash if one of the statements contain (or is) a reference to a global scope (`global`). There's a ton of stuff in there and it doesn't make sense to print that.

Same goes with all the libraries. Unless it's a plain object or array, we can't pretty print it. Even if we could, why would we? The output needs to be meaningful and compact. So in the above example, `t.true

[2017-02-05 20:59] vadimdemedes commented on #1225
No, not `@ava/babel` package, but `ava/babel.js` file. This file would simply serve as a preset, which would include `@ava/stage-4` and `@ava/transform-test-files`. Think of it as a handy shortcut, nothing more.

[2017-02-05 21:18] transcranial commented on #1228
Removing those lines make no noticeable difference. Changing my package.json config, including removing it, seems to make no difference either. I'm able to reproduce with a new barebones project, but with the problematic subdirectory copied over.

Interestingly, it seems to be the cumulative effect of all 4 glob patterns, and not any one in particular. Leaving 1 pattern, tests pass but takes 11s.

[2017-02-05 21:24] sindresorhus commented on #1228
Yes, that should be done regardless. Could you open a separate issue for that?

[2017-02-05 21:36] transcranial opened #1229 "Excluding files/folders in .gitignore from ava-files"
See #1228 for an example as to why this would be helpful.

[2017-02-06 00:08] unional opened #1231 "Ignore node_modules and .gitignore when reading code excerpts"
ava: 0.18.1

In 0.17, I can still type "r" to rerun all tests in watch mode.

In 0.18.1 (and 0.18.0) this feature seems to be not working.

[2017-02-06 00:13] unional commented on #1231
When I Ctrl-C, it reports error like:
[code]

Seems like `ava` tries to load file using the sourcemap path?
`systemjs/src/instantiate.js` does not exist. It only has `systemjs/dist/...` with sourcemap.

[2017-02-06 00:28] unional commented on #1231
Correction: the above case is an issue on the test code. Once the test code is fixed, "r" started working.

However, the problem is still valid, and it seems like "magic-assert" tries to do something but couldn't, thus crash/block `ava` from continue to function in watch mode.

[2017-02-06 03:37] yatharthk commented on #1046
Okay I got your point here. The thing that's bit tricky for me here is understanding what you talk about *picking* default values out of `conf`. As I understand, it already contains all the default values. Shouldn't we be picking the entire `conf`? How do I approach the *picking* of defaults from `conf`? 🤔

[2017-02-06 04:34] gajus opened #1232 "Add an option for strict deepEqual (order of properties important)"
## Description

The ECMAScript 6 specification defines in which order the properties of an object should be traversed (See: http://www.2ality.com/2015/10/property-traversal-order-es6.html).

Therefore, in ES6, the following ought to be false:

[code]

The current (ava@0.18.1) behaviour is that `deepEqual` ignores the order of properties.

I suggest that `deepEqual` would perform strict (order awar

[2017-02-06 04:34] gajus commented on #1232
cc @jfmengels

[2017-02-06 08:09] Qix- commented on #1124
@unional We do literally the exact same thing. Nobody else has reported any issues on Windows until this bug. There's no difference here. This is probably a configuration issue happening inside of AVA.

[2017-02-06 08:41] unional commented on #1124
Mentioned on the `ansi-styles` issue. It is not the same.

To see the difference:

[code]
[code]
[code]

[2017-02-06 09:21] Qix- commented on #1124
It is the same. Check `supports-color` level reports, here. Nobody has reported anything on windows other than in this ticket. This is an AVA issue until I see definitive reasoning for it being an ansi-styles problem.

[2017-02-06 10:02] unional commented on #1124
Ok. You are correct. I do see that `supports-color` turn `chalk` off in `win32` environment.

When I worked on `aurelia-logging-color`, I can't use `ansi-style` because after bundling all dependencies the library become quite huge, and I recall seeing the color not rendered correctly.  That's why I went in and go through the code and the material to figure out how to get it working in my case.

Ho

[2017-02-06 10:02] novemberborn commented on #1226
Fair enough.

I'd love to be able to print `Map` and `Set` though. And for those values we can't print, indicate their type.

[2017-02-06 10:04] novemberborn commented on #1225
Ah. I think we should wait and see how the new presets get used, especially as we improve our Babel support.

[2017-02-06 10:06] novemberborn commented on #1228
This is caused by optimistically transpiling helper files. With [RFC 001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md) we'll only transpile them when they're required in the workers.

[2017-02-06 10:09] novemberborn commented on #1046
Ah! I mean when providing `default` to `meow`, we should only pass those values that `meow` uses. So in https://github.com/avajs/ava/blob/b886c5b25ae54430f908c49f9932d8f998c41702/lib/cli.js#L73 change to `default: { failFast: conf.failFast, serial: conf.serial }` and so forth.

[2017-02-06 10:18] novemberborn commented on #1231
Could you elaborate on the kind of issue? I'm assuming an error was thrown in `systemjs`?

The error must have had its stack trace corrected using source maps, but the original source is not in the `systemjs` package. I think `code-excerpt` should return `null` in that case.

It'd be helpful to know where the error came from and what the test looks like that triggered it. Why are we trying to gene

[2017-02-06 10:27] unional commented on #1231
Yes, it was an error thrown from `systemjs`. I have also encountered other cases that when an error is thrown, `ava` 0.18 just print out "1 failed" but didn't print out the thrown error (and "r" is not working in some cases), while in 0.17 the error message is printed.

[2017-02-06 10:31] novemberborn commented on #1232
This is primarily about comparing the order in which string and symbol keys are defined, right? E.g. in your example you'd still expect this to pass, based on http://www.2ality.com/2015/10/property-traversal-order-es6.html#traversing_the_own_keys_of_an_object:

[code]

I hear ya that order could be important, but I don't think it's important enough to make `t.deepEqual` super finicky. If you want

[2017-02-06 10:31] novemberborn commented on #1231
@unional could you share the test that caused `systemjs` to throw?

[2017-02-06 10:34] unional commented on #1231
That one I can't. It's company code. I'll see if I can get the same behavior on one of my open source project and create a branch for this.

[2017-02-06 10:41] vadimdemedes commented on #1226
Sure, `Map` and `Set` are ok. Talking about instances of classes/libraries. For example, you wouldn't want to pretty print an instance of Mongoose model, right?

[2017-02-06 10:43] vadimdemedes commented on #1225
Could you explain that more? I didn't get the point.

[2017-02-06 10:45] vadimdemedes commented on #1232
I definitely wouldn't want `t.deepEqual` to check for the order of keys. As for `t.keyOrder`, this feels like a "nice-to-have" feature, which generally we are against from. If someone absolutely has to check for the order of keys: `t.deepEqual(Object.keys(obj))`.

[2017-02-06 11:11] jfmengels commented on #1232
I agree with @novemberborn and @vadimdemedes. I'm starting to understand why the order can be important, but I think this only matters in pretty rare cases. I would prefer this to be implemented in a new package.

[2017-02-06 12:35] novemberborn commented on #1226
It can be useful sometimes, but probably no 😄  Perhaps those kinds of instances could be restricted to showing the first three properties, with a little note saying "59 more properties not shown".

[2017-02-06 12:36] novemberborn commented on #1225
See if and how people use `@ava/stage-4` / `@ava/transform-test-files`, without adding a wrapper preset to AVA itself.

[2017-02-06 13:12] gajus commented on #1232
This assumes `{[key: string]: boolean | number | string | null}` array result, i.e. no nesting. Assuming nesting...

It cannot.

How are you going to deep equal two objects where result object property order is important?

I agree that it is a pretty rare case, though. Furthermore, breaking the object into primitive value objects and comparing `Object.keys` values could be used as a way to check t

[2017-02-06 15:02] fleg opened #1233 "Empty diff because of .toJSON"
Using `deepEqual` with object with `.toJSON` method produce empty diff

### Test Source
Example with underscore chain object
[code]

### Error Message & Stack Trace

[code]

[code]

[2017-02-06 15:10] fleg commented on #1233
pretty-format has an option [callToJSON](https://github.com/avajs/pretty-format/blob/732c2c291c37694018d7077d952b06afbbb622d4/index.js#L286) that `true` by default, maybe this is a reason?

[2017-02-06 15:48] #1172 closed

[2017-02-06 16:02] tjbenton commented on #1095
Limiting the number of files running doesn't help much Because some of the test files have 15-50 tests and 3 of the files have 300+ tests. For the most part the majority of the functions that are being tested are async functions so they're none blocking, so running them serially does help the performance of each test but it takes twice as long. If I run the tests with `--concurrency 1` it does hel

[2017-02-06 17:01] novemberborn commented on #1231
I'm thinking we shouldn't show code excerpts for errors that don't come from the test or helper files.

E.g. in this expression:

[code]

Seeing this isn't particularly helpful:

[code]

Given that the problem is somewhere in:

[code]

@vadimdemedes?

[2017-02-06 19:20] vadimdemedes commented on #1226
I think implementing this might be overly complicated and could take a while. This bug is quite annoying actually, I've seen it at least 6 times during last 2 days (yes, I've set up a counter 😄). I'd just go for a set of accepted types to be pretty-formatted in the "statements" output and push a fix. We can always make it more complex later ;)

[2017-02-06 19:22] vadimdemedes commented on #1231
Totally makes sense! We should avoid extracting everything from `node_modules` and `.gitignore`. `.gitignore` requires slightly more work, but ignoring `node_modules` should be pretty easy.

[2017-02-06 19:24] vadimdemedes commented on #1233
Hmm, I will look into this, thanks for reporting!

[2017-02-06 20:49] #1224 closed

[2017-02-06 21:08] LasaleFamine commented on #1072
Well, I need some ideas to a good and "self-explained" check. I will make a PR soon though I'm still in WIP.

[2017-02-06 21:27] vaelinn123 opened #1235 "Non string assertion messages throw an error"
## Description

This could just be that the [documentation](https://github.com/avajs/ava#assertions) needs updated to reflect that the assertion messages be string only, it does not hamper me in any way I just wanted to highlight that it does not gracefully fail when you do not use a string as an assertion message.

Given an assertion with a failure message:

[code]
When there is a failure I expec

[2017-02-07 02:46] BarryThePenguin opened #1236 "Incompatible type definition for observables"
## Description

When using flow with both AVA and RxJS, there are incompatibilities with the type definitions. The type definitions I am using come from `flow-typed`

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

[code]

### Command-Line Arguments

[code]

## Relevant Links

- [`flow-typed` definition for rxjs](https://github.com/flowtype/flow-typed/tree/55fd850dda0

[2017-02-07 07:22] secobarbital opened #1237 "Support subtests like tape"
## Description

I am trying to switch from tape to Ava to run tests in parallel but I did not find a way to write subtests, which I use extensively to group tests by function under test. For example:

[code]

## Relevant Links

- [t.test in tape](https://github.com/substack/tape#ttestname-opts-cb)

[2017-02-07 07:27] sindresorhus commented on #1237
See: https://github.com/avajs/ava/issues/222

[2017-02-07 09:08] BarryThePenguin commented on #1236
Looking at the definitions for RxJS they have a [`PartialObserver`](https://github.com/flowtype/flow-typed/blob/55fd850dda0fdc69270faacf0e611c0fdbc9b31c/definitions/npm/rxjs_v5.0.x/flow_v0.34.x-/rxjs_v5.0.x.js#L10-L25) that is used in their [`subscribe()`](https://github.com/flowtype/flow-typed/blob/55fd850dda0fdc69270faacf0e611c0fdbc9b31c/definitions/npm/rxjs_v5.0.x/flow_v0.34.x-/rxjs_v5.0.x.js#L

[2017-02-07 09:29] sindresorhus commented on #1236
// @leebyron

[2017-02-07 10:34] novemberborn commented on #24
@mAAdhaTTah we're still evolving AVA's internals too much to really commit to browser support, sorry.

[2017-02-07 10:37] novemberborn commented on #1232
There's agreement on that, yes. Thanks for bringing this up, it's an important distinction to be aware of.

[2017-02-07 10:37] #1232 closed

[2017-02-07 10:47] novemberborn commented on #1095
What happens if you use `--concurrency 2` without modifying the test files?

You're saying the tests are CPU intensive, but since Node.js uses an event loop that means the test that is currently executing blocks execution of the other tests, even if there is some initial asynchronicity that allows all tests to start at the same time. I don't see how making those tests execute serially would have a

[2017-02-07 10:48] novemberborn commented on #1226
👍

[2017-02-07 10:49] novemberborn commented on #1233
Perhaps if we can't compute a diff then we should not display the "Difference" section at all.

[2017-02-07 10:58] novemberborn commented on #1235
Yep, see #1125. There is an in-progress PR at #1174.

[2017-02-07 10:58] #1235 closed

[2017-02-07 10:59] #1237 closed

[2017-02-07 11:45] novemberborn opened #1238 "Improve diff symbols"
I think the symbols used to display diffs with the new magic assert could be improved.

Here's an example of a fairly complex diff output:

[code]

The first section (the 20 lines of `-`) is an object that is *extraneous* in the actual value used in the `t.deepEqual()` expression. Similarly the other two sections attempt to show how the wrong value is present:

* `+                 label: "plugin@

[2017-02-07 19:41] tjbenton commented on #1095
I'm guessing that you're right, that when the test's are running it's running out of memory.

[code]

[2017-02-07 22:48] unional commented on #1231
Adding some info:
It seems to break the watch mode when an error is thrown during an async test.

[2017-02-08 05:13] davewasmer opened #1239 "Incorrect type definition for test.todo"
## Description

The typescript type definition for `test.todo` seems to be incorrect:

[code]

It requires an implementation argument. The docs seem to indicate otherwise:

It looks like the definitions are generated programmatically, and `test.todo` is the only one that does not follow the `test([name,] implementation)` pattern, so I'm guessing it just got swept into that category and a special c

[2017-02-08 07:01] sindresorhus commented on #1239
Are you using latest AVA? I thought this was fixed in https://github.com/avajs/ava/commit/0603edcbfbcee4cca7cf3a150d8899ef80b66840.

[2017-02-08 08:14] sindresorhus commented on #1124
Closing as this is working now.

[2017-02-08 08:14] #1124 closed

[2017-02-08 11:49] novemberborn commented on #1095
Thanks. So for certain tests, reducing concurrency within the test file can help performance, besides reducing how many test files are executed concurrently. That's good to know.

Question is, should AVA manage this or is this exceptional enough that it can be solved through a third-party module.

I'm leaning towards this being picked up by a third-party module to start with. Down the line we coul

[2017-02-08 12:46] novemberborn commented on #1231
@unional could you try https://github.com/avajs/ava/pull/1242? It should crash the watcher when this error occurs. That doesn't actually fix the magic-assert problem of course but at least in the future you won't be left hanging until you interrupt the watcher.

[2017-02-08 16:27] novemberborn commented on #1231
@vadimdemedes this part of the code also trips up when the error comes from an iterator:

[code]

[2017-02-08 17:12] sindresorhus opened #1245 "Add Flow type definition for the snapshot assertion"
Like https://github.com/avajs/ava/pull/1243

[2017-02-08 20:22] davewasmer commented on #1239
Apologies, my mistake, turns out I was on the prior version, thought I was on latest.

[2017-02-08 20:22] #1239 closed

[2017-02-08 20:40] LasaleFamine commented on #1003
This is solved with 1.0.0 of `stack-utils`: [tapjs/stack-utils#14 (comment)](https://github.com/tapjs/stack-utils/issues/14#issuecomment-276881190).

[2017-02-08 20:53] Roshanjossey commented on #816
@jamestalmage: I know it's been some time since this issue was opened but I'd like to fix this.

I looked in to #744. I might need some help in understanding where tests should go.

Please gimme some information on how to take this forward

[2017-02-09 11:53] #1003 closed

[2017-02-09 11:53] novemberborn commented on #1003
@LasaleFamine thanks for noticing this!

[2017-02-09 11:57] novemberborn commented on #816
@Roshanjossey we'd like to have tests for https://github.com/avajs/ava/blob/master/bench/compare.js to start with. These could go inside a `test/bench` directory. Looking at the script it may need some refactoring though. Ideally the logic sits in another module that is passed a file path, which means you can test it against some fixtures. Right now it expects results to be in the `bench` director

[2017-02-09 13:07] Roshanjossey commented on #816
@novemberborn, thanks for your reply. I'll start working on this and reach back to you if I need any more information from you.

[2017-02-09 13:39] GregOnNet opened #1249 "[Request] Introduce shorthand for t.context"
## Description

It would be nice to have a shorthand to get access to the data inside of `t.context`.
You could pass `context` as second optional parameter to each test.

### Benefit

- In my opinion this would make tests more readable.
- Naming of variables becomes more flexible.

### Test Source

[code]

## Environment

[code]

[2017-02-09 15:31] sindresorhus commented on #1229
Just to add some description, this issue is about ignoring files matching glob patterns defined in `.gitignore` (not ignoring the .gitignore file itself). Ideally, the functionality would be added to [`globby`](https://github.com/sindresorhus/globby) as an option so it could benefit many other projects, but we would also consider adding it here if it's too hard to generalize.

[2017-02-09 15:35] sindresorhus commented on #1249
This is not possible as it would conflict with [test macros](https://github.com/avajs/ava#test-macros).

[2017-02-09 16:34] vadimdemedes commented on #1238
Not sure I'd want such "rich" output. I think "-" and "+" would be enough, we just need to display removed/added values after all.

I'm a big fan of the proposal by @jfmengels. Jeroen suggested we treat a diff like a set of guidelines to fix the error. So "+" would mean "add this" and "-" - remove this. So instead of "actual"/"expected" we tell how to fix this problem. I don't think I've seen this

[2017-02-09 17:28] novemberborn commented on #1238
I find it difficult to know *where* I need to fix the problem. Is the *actual* value wrong, or the *expected* value?

My example above refers to the code [here](https://github.com/novemberborn/hullabaloo-config-manager/blob/9ebc0caf33d5453b74c2ce25adde3be93122cbab/test/main.js#L210:L471). I'm inclined to take the `-` as "remove this from the *expected* value", but I need to do the opposite and *ad

[2017-02-09 20:20] ochafik opened #1254 "Snapshot is doubly-escaped / hard to see diffs"
The example from the readme gives:

[code]

(looks like it's json-stringified, with extra `"` quotes)

I'd love to use the snapshot feature, but non-diffable snapshots are a no-go. Could the exported value not just be a json object instead of a stringified json object?

[2017-02-10 00:31] unional commented on #1231
You can test this from here: https://github.com/unional/some-issues/tree/systemjs-jsdomify
To run it:
[code]

[2017-02-10 08:46] GregOnNet commented on #1249
Yes, totally agreed.
Thanks for your quick response and for providing ava.
I've been working with it for two weeks now and I love it.

Kinds
Greg

[2017-02-10 08:46] #1249 closed

[2017-02-10 09:09] sindresorhus commented on #1249
I you only need one thing in the context, you can assign it directly to `t.context`:

[code]

If you need multiple things, you can take advantage of destructuring:

[code]

[2017-02-10 09:13] GregOnNet commented on #1249
Thanks for documenting this.
This is my current way to extract test data from the `t.context`. :+1:

[2017-02-10 10:56] novemberborn commented on #1254
Yes, that's what https://github.com/avajs/ava/pull/1223 is aiming to do.

[2017-02-10 10:59] ochafik commented on #1254
Awesome, thanks!

[2017-02-10 13:53] novemberborn commented on #1225
Turns out a preset like this [is suggested in RFC 001](https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md#babel-projects):

Though I suspect we may have to parse the options looking for that preset, and then replacing it with `@ava/stage-4` and `@ava/transform-test-files`. The latter taking the power-assert option into account.

[2017-02-10 23:36] sholladay commented on #928
This bit me today. A test failed and temporary files were left all over simply because I had `.afterEach` instead of `.always.afterEach`. I don't see the logic in skipping `.afterEach` when a test fails. Puking on the environment, if this is even a desired feature, should be opt-in.

Yikes. That seems like a major mixing of concerns. This feature is named `--bail` in other test frameworks and the

[2017-02-11 12:55] hughrawlinson commented on #406
#1154 is merged! Is this issue closeable now? Or are you waiting for the release?

[2017-02-11 13:45] Dakuan commented on #1060
I'm also having this issue on CircleCI...

[2017-02-11 13:48] ryardley opened #1255 "Feature Request: Prebound assertion functions"
It would be useful and functional to be able to destructure test functions such as `pass`, `fail`, `deepEqual`, `it` etc.  from the test object argument passed into the test function. Currently they are not bound to the test context but could probably be provided pre-bound.

[code]

[2017-02-11 16:34] sindresorhus opened #1256 "Magic assert obstructs helpful error for incorrect test usage"
[code]

## AVA 0.17

[code]

## AVA 0.18

[code]

## AVA master

[code]

I don't think the behavior in 0.18 is the best either. Having magic assert for this is not very helpful. Better to keep it like it was in 0.17.

Any way we can hide the `wrappedFn (node_modules/option-chain/index.js:36:14)` too? It's not useful there.

// @vadimdemedes

[2017-02-11 16:38] sindresorhus commented on #1255
I don't really see how that is any more readable than:

[code]

It actually get's very verbose when you use multiple assertions, which is common:

[code]

Let's see what the other team members think.

Maybe you can elaborate on why you want it this way.

[2017-02-11 17:03] vadimdemedes commented on #1256
I think it's a duplicate of https://github.com/avajs/ava/issues/1231, since the fix will be the same for both issues. The plan is to skip code excerpts and magic-assert output for all errors coming from `node_modules` directory.

[2017-02-11 17:32] sholladay commented on #1047
I like Sindre's proposal. It would still return the error for extra assertions, right? Let's say I also want to ensure that multi-line error messages never exceed a certain width, for friendly terminal display. Would it look like this?

[code]

I will note that there is a much simpler approach to solve the call site ambiguity problem. Just support only constructors in the second argument, since th

[2017-02-11 17:36] sindresorhus commented on #1047
Yes

It creates verbose code for common cases though. The most common case is wanting to ensure the error is the correct type and has the correct message. I think we should optimize for that.

[2017-02-11 21:14] patrick91 commented on #1109
Is there any update on this? I'm starting a new TS project and I really would like to use ava without compiling TS scripts first!

@zixia amazing work so far!

[2017-02-11 21:38] ryardley commented on #1255
The Javascript community is moving towards a more functional style and being able to use methods functionally without depending on an object context is becoming quite common.

I can certainly see this as a low priority change but coming to the API for the first time I think it was something I expected to be able to do but was surprised I could not and I figure it would probably not be a huge chang

[2017-02-12 00:48] unional commented on #1231
Forgot to reply on this. Yes I tried it, but it still "crash" the watch mode.

[2017-02-12 02:48] zixia commented on #1109
@patrick91 Thanks!

AVA decide to re-design the total code structure of how to use Babel, which delayed the TypeScript support progress.

See: https://github.com/avajs/ava/pull/1159

[2017-02-12 16:14] novemberborn commented on #928
@sholladay I like your suggestion of having a `--no-cleanup` flag! @avajs/core?

[2017-02-12 16:23] novemberborn commented on #406
@hughrawlinson that's in the release, so yup, this issue can be closed. Thanks for reminding us.

[2017-02-12 16:23] #406 closed

[2017-02-12 16:35] novemberborn commented on #1255
Could you give an example of a test you would write with a functional style? I can think of this scenario:

[code]

But that only seems useful for assertions that have no expectations, e.g. not `t.deepEqual()`. It also wouldn't work, since the array index will be passed as the assertion message, which is (will soon be) an error. You'd have to do:

[code]

At which point I don't see the usefulness

[2017-02-12 16:49] vadimdemedes commented on #928
I think `--no-cleanup` may be a wrong way to approach this issue. I agree with this statement of @sholladay:

If it would be totally up to me, I'd consider removing `.always` and making it a default behavior for `.afterEach`.

[2017-02-12 16:56] novemberborn commented on #928
We previously discussed this in https://github.com/avajs/ava/issues/474#issuecomment-217497254. The concern was that the `after` / `afterEach` hooks may have assumptions on the tests having passed / reached a certain state. Hence the `.always` modifier which acts as an explicit opt-in to having the callback called.

[2017-02-12 17:04] vadimdemedes commented on #928
Yeah... Looks like there's no win-win solution at the moment for this.

[2017-02-12 17:34] sholladay commented on #928
I would ask "why", but it's going off on a bit of a tangent. I haven't personally needed something like that. But it does exist elsewhere and cleanly solves the "leave the environment in the state in which the failure occurred" story, even though I think that is a bad idea 95% of the time. If it needs to be a thing, it can be an option. I don't think it should be default.

This sounds hypothetical

[2017-02-12 18:47] sindresorhus commented on #1256
@vadimdemedes Regardless, should magic assert be shown on non-assertion errors?

[2017-02-12 19:02] vadimdemedes commented on #1256
Oh, right, that's a good point. Will add a check to detect the assertion error. Should be not so strict though, to support chai, expect, etc.

[2017-02-12 19:20] sindresorhus commented on #1256
[Pretty sure](https://github.com/chaijs/assertion-error/blob/b36f593951c1487fa33747c9911025734923f28c/index.js#L91) all of them are `err.name === 'AssertionError`. You could maybe check for `actual`, `expected` properties too.

[2017-02-13 04:57] ryardley commented on #1255
You can get around that by using lodash's `spread` function or ramda's `apply`. A use case might be some table testing like so:

[code]

However if there are restrictions in place by `power-assert` then that prevents this being something quick to implement so perhaps that is reason to shelve the idea as low priority.

[2017-02-13 06:52] sindresorhus commented on #1255
It's very easy to implement. We already bind `t.end()`. The problem is that if we support it, people will expect it to be documented, and I'm not sure it's a pattern we want to recommend.

[2017-02-13 10:43] farmasek opened #1257 "deepEqual comparision of identical immutable js objects failure"
Hi i have problem comparing two nested immutable js objects.

i call my reducer to modify state and compare it to mocked state(immutable fromJS() map)
[code]

my reducer method updates list inside map for only few objects
[code]

Console returns identical objects, but test fails

[code]

[code]

when i test objects in .toJS() format, test passes.

Is it ok to test with .toJS() ? Is it a bug, or i

[2017-02-13 16:00] bitjson commented on #1109
@patrick91 (and anyone else coming across this thread) – I've been getting into Typescript a lot recently, and had some trouble getting a lot of the packages I wanted to use working together.

I spent a little time starter project which I think it might accomplish what you're looking for: [es7-typescript-starter](https://github.com/bitjson/es7-typescript-starter)

- Write your library and AVA test

[2017-02-13 16:03] novemberborn commented on #928
Yea that makes sense to me too. #840 discusses providing the test status to an `afterEach` hook. Combine the two and we can do away with `.always`. Users who need to guard against test execution state can either access the state or use another guard of their choosing.

I think this is related, actually.

We have issues with bringing test execution to a halt when `--fail-fast` is enabled, see #1158

[2017-02-13 16:04] novemberborn commented on #1255
`.map(apply(deepEquals));` can also be written as `.map(args => t.deepEqual(...args);`. I'd recommend that over helper methods, actually.

[2017-02-13 16:23] sindresorhus commented on #1226
👍

[2017-02-13 16:34] jonathandelgado commented on #966
Is this still being blocked? (#945 was closed). I'm happy to submit a PR to get some sane concurrency defaults.

[2017-02-13 16:35] novemberborn commented on #1257
Immutable objects contain state. This isn't shown in `console.log()` output, but it should be apparent when you use `console.dir()`. `t.deepEqual()` compares this state, which may differ.

Use Immutable's built-in `.equals()` method instead:

[code]

[2017-02-13 17:40] farmasek commented on #1257
Thank you this works, but i lose great comparison difference in console.

Is it ok to keep using toJS() or there is a possible problem with it ?

[2017-02-13 18:03] novemberborn commented on #1257
That's entirely up to you.

[2017-02-14 09:42] #1072 closed

[2017-02-14 14:46] zusamann opened #1260 "Feature Request/Query: Test Results generated as an HTML report"
Hi,

I'm using nyc with ava to generate html reports of codecoverage and an eslint library to do the same for linting results.

Could there be a possibility of generating verbose html reports of just the test results?

So may be like a TAP reporter that is good at making great UIs with data you normally get at the terminal like:

[code]

[2017-02-14 15:05] novemberborn commented on #1260
You can use `--tap` to enable TAP output, which can then be piped to any TAP reporter, which could then generate the kind of HTML report you're looking for.

[2017-02-14 15:07] zusamann commented on #1260
Ok yes, I was thinking as much. Any suggestions for a TAP reporter that already does this? I was not able to find much. @novemberborn

[2017-02-14 15:21] novemberborn commented on #1260
@zusamann I don't use TAP reporters, so no. Perhaps try asking in [Gitter](https://gitter.im/avajs/ava) or on [Stack Overflow](https://stackoverflow.com/questions/tagged/ava).

Going to close this since the TAP output is intended to accommodate for these kinds of features, without having to implement them in AVA itself.

[2017-02-14 15:21] #1260 closed

[2017-02-14 15:23] zusamann commented on #1260
Ok thank you

[2017-02-14 15:24] sindresorhus commented on #1260
Good list of TAP reporters here: https://github.com/sindresorhus/awesome-tap#javascript

I've created a request for a good HTML reporter: https://github.com/sindresorhus/module-requests/issues/84

[2017-02-14 17:04] RickyMarou opened #1263 "test hangs forever when asserting a response from an axios request"
## Description

test hangs forever when asserting a response from an axios request.

### Test Source
originally a typescript file :
[code]

here is the compiled output, nothing suprising really :
[code]

### Error Message & Stack Trace

There is no error message, the test just hangs forever. The test only hangs when the response is being asserted, if the response is assigned to a variable and this

[2017-02-14 20:43] alnour-altegani commented on #572
any news about this feature ?

[2017-02-15 14:30] hoschi opened #1264 "Change in source file doesn't trigger test run in watch mode when started with test selection"
run `ava -w src/widgets/**/*.test.js` and AVA starts in watch mode and should rerun depending tests when changing a source file (e.g. `src/widgets/MyWidgets.js`).

This only works on Mac and not on Linux/Windows because of [a chockidar bug](https://github.com/paulmillr/chokidar/issues/561). In short the bug here is that the pattern which says which tests should be run is more special as default pa

[2017-02-15 15:42] novemberborn commented on #1263
With `t.true(response.data === 'something')`, power-assert will display the entire `response` object. This includes Node.js HTTP objects which are exposed by `axios`. These include symbol keys. [Our version of `pretty-format`](https://github.com/avajs/pretty-format) contains a bug which causes it to crash when it encounters a symbol key. I've opened a PR to fix that: https://github.com/avajs/prett

[2017-02-15 16:33] novemberborn commented on #1264
The default `src/**/*.js` pattern is ignored by Chokidar because of the `src/widgets/**/*.test.js` pattern. This is fundamentally a Chokidar bug, so if anybody can [help out](https://github.com/paulmillr/chokidar/issues/561) that'd be great.

In the meantime I suppose we could clean up the patterns we pass to Chokidar and remove more specific ones if they're already covered by a generic pattern. I

[2017-02-15 21:24] davewasmer opened #1266 "mini reporter fails on files with a sourcemap source URLs"
## Description

For files that are transpiled before they reach ava, if the sourcemap includes a source URL, the mini reporter attempts to load the source code (via [code-excerpt.js](https://github.com/avajs/ava/blob/master/lib/code-excerpt.js#L15)), but it attempts to load it from the source URL specified in the source map. Since the code went through a build step prior to reaching ava, there's n

[2017-02-15 22:06] davewasmer commented on #1266
Seems like there's a few issues at play here, stemming from these lines in the mini and verbose reporters:

* If the source map's urls are relative, then as mentioned originally, an intermediate build step that moves the compiled files relative to their source before running ava will result in incorrect urls.
* If the source map's urls are absolute, the reporters will still try to prefix the proje

[2017-02-16 02:39] pho3nixf1re commented on #1218
Is there any chance of getting a 'quick fix' for this while y'all pull together #1223 ? The current state makes snapshots unusable. Is the issue that `jest-snapshot` is still waiting for the fix to be merged?

[2017-02-16 11:43] grvcoelho commented on #750
As @ulfryk, pointed: is there a way to supress this ignore? I need to test files inside a `helpers` folder.

[2017-02-16 13:55] novemberborn commented on #750
@grvcoelho not at this moment. We have open issues around this, e.g. #909.

[2017-02-16 13:57] novemberborn opened #1268 "Restrict code excerpt sources"
* [ ] Don't show a code excerpt if the source doesn't exist on disk
* [ ] Don't show a code excerpt if the source exists outside the project directory
* [ ] Don't show a code excerpt if the source is within a `node_modules` directory (within the project directory)

This is a follow-up issue from https://github.com/avajs/ava/issues/1231.

[2017-02-16 14:02] novemberborn opened #1269 "Errors coming from an iterator have an incorrect source file"
[code]

Results in:

[code]

Follow-up from https://github.com/avajs/ava/issues/1231.

[2017-02-16 14:04] novemberborn opened #1270 "Resolve absolute source file path when serializing errors"
The source file should be an absolute path. This should be done when the error is serialized, not when the file is accessed.

Related to https://github.com/avajs/ava/pull/1246 and https://github.com/avajs/ava/issues/1267.

[2017-02-16 14:05] novemberborn commented on #1231
I've opened https://github.com/avajs/ava/issues/1268 and https://github.com/avajs/ava/issues/1269 as follow-ups.

I think for now we should show code excerpts when the error comes from a test, helper or source file, but not from dependencies. Let's leave `.gitignore` out of this. We can refine later based on user feedback.

[2017-02-16 14:05] #1231 closed

[2017-02-16 14:10] novemberborn commented on #1266
Thanks for raising this @davewasmer. Some of your points have been discussed elsewhere, I've opened https://github.com/avajs/ava/issues/1268 and https://github.com/avajs/ava/issues/1270 to track their progress.

I think it's fine not to show a code excerpt. If we see many support requests asking why code excerpts are missing maybe we could output debug information, but let's see what actually happ

[2017-02-16 14:10] #1266 closed

[2017-02-16 16:20] novemberborn commented on #1269
This is an issue in `stack-utils`. Fix in https://github.com/tapjs/stack-utils/pull/27.

[2017-02-16 17:45] #1257 closed

[2017-02-16 17:58] novemberborn commented on #1256
We're only formatting the error if the `showOutput` flag is set: https://github.com/avajs/ava/blob/8d6f9bc2e2ed02b39e32cdf2b952b680c3b19338/lib/reporters/mini.js#L197:L198

That only happens for our own assertion methods: https://github.com/avajs/ava/blob/8d6f9bc2e2ed02b39e32cdf2b952b680c3b19338/lib/assert.js#L29

We'd need to validate whether thrown errors have the required properties and then se

[2017-02-16 17:58] #1256 closed

[2017-02-16 17:58] #1245 closed

[2017-02-16 17:58] novemberborn commented on #1238
@sindresorhus thoughts?

[2017-02-16 19:03] sindresorhus opened #1272 "Upstream `pretty-format` changes"
I don't want us to maintain a fork. We have more than enough code to maintain of our own.

These changes: https://github.com/avajs/pretty-format/compare/33d06d06ec02d6162743be2bffdc34b8ef521209...master

[2017-02-16 20:53] sholladay commented on #1227
I think I'm using this somewhere. Is it really incorrect? `t.throws()` returns the error, this being the inverse seems reasonable. What harm does it do?

[2017-02-16 21:01] jfmengels commented on #1227
Why should it actually? Isn't it more useful if you get the Promise's value, so that you can make more assertions on it? I don't see the value in having it always return undefined.

[2017-02-16 23:20] sholladay commented on #1227
Yeah, exactly.

Here is at least one place I am using it: https://github.com/sholladay/test-engine/blob/ba56e03eea3a148d431cf021b9624dd2ef2d8406/test.js#L61

Happy to change if there is a reason this is bad, though.

[2017-02-17 01:37] sholladay opened #1273 "Weird terminal rendering"
## Description

AVA has a bug somewhere in how it renders assertion errors that causes some [severe display problems in the terminal](https://github.com/avajs/ava/files/782005/ava-bug-1273.zip).

I will try to get something public and easily reproducible up within the week, but I've seen it a few times related to assertions on strings.

### Test Source

[code]

### Error Message & Stack Trace

Non

[2017-02-17 04:28] sindresorhus commented on #1227
I think that would be surprising and inconsistent. This is assertion about errors, not the value. Also, you already have the promise, so what's really the benefit of having its returned. Promises are only resolved once anyways, so you can just do `await promise` and get the already resolved value without any wait.

[2017-02-17 08:04] caesarsol commented on #1272
To be verbose, you want to place a PR containing @vadimdemedes commits in Jest upstream repo (without changing their color defaults), then use their version.
Right?

[2017-02-17 08:11] sindresorhus commented on #1272
@caesarsol Not necessarily the commits directly, but a way to achieve the same results in a way that the maintainers of `pretty-format` accepts. Probably an option, but I haven't really looked into what will be needed.

[2017-02-17 08:31] caesarsol commented on #1272
I think it's just adding possibility of new colors for types, easy to keep the default to a neutral color theme Jest could accept, then switch it to unicorn-colorful in AVA 😉

I'll see if I find the time!

[2017-02-17 08:31] sindresorhus commented on #1272
👍

[2017-02-17 10:26] novemberborn commented on #1272
https://github.com/avajs/pretty-format/commit/5b3cd6e7898e6951312eab4aad4a1ee73c2e98bd might be contentious. I suspect we may want to diverge in other ways too, and the upstream being in a monorepo doesn't make things any easier.

[2017-02-17 10:34] sindresorhus commented on #1272
@novemberborn Even if that turns out to be the case, we should at least try to upstream as much as possible so it's easier to keep the fork current.

[2017-02-17 10:41] novemberborn commented on #1273
That is pretty weird! My guess would be that there are some characters being output that prevent the reporter from clearing its previously rendered lines. I can't immediately reproduce it with the `%3A51` string though.

[2017-02-17 12:17] novemberborn commented on #1263
@RickyMarou a new version of `@ava/pretty-format` is out with a fix. I think if you do `npm --depth 2 update` it should pull it in.

[2017-02-17 12:17] #1263 closed

[2017-02-17 12:20] novemberborn commented on #1218
@pho3nixf1re It's merged, but not released.

[2017-02-17 13:47] novemberborn commented on #1273
Could you record this using https://asciinema.org/ instead? That should hopefully give us AVA's exact output.

[2017-02-17 14:44] novemberborn commented on #1218
Actually, the `jest-snapshot` bug is exacerbated by AVA's implementation.

`jest-snapshot` [always modifies the internal snapshot data when an assertion passes](https://github.com/facebook/jest/blob/6b304c2b08408e93c5333b34c77a3c7927a3c1a3/packages/jest-snapshot/src/State.js#L127:L135).

We're [always saving the snapshot](https://github.com/avajs/ava/blob/8d6f9bc2e2ed02b39e32cdf2b952b680c3b19338/l

[2017-02-17 14:48] novemberborn commented on #1218
The reason we should save even without `--update-snapshots` is that this allows new snapshots to be automatically saved.

[2017-02-17 14:55] bjentsch commented on #1222
I seem to be suffering the same issue. Force-upgrading to `@ava/pretty-format@1.1.0` seems to solve the initial problem, but it generates hundreds of log lines on the console now for my failing test. I tracked it down to this:

- When using `t.true` or `t.false` as an assertion, ava tries to show me useful output by showing me all objects involved. In my case, I was doing a `[somedomelement].class

[2017-02-17 15:27] novemberborn opened #1275 "Snapshot recap"
A summary of snapshot related issues. See #1218, #1220, #1254 and #1223.

---

Fundamentally, `jest-snapshot` is string based. The snapshots contain human-readable representations of expected values, which are then compared against another representation of the actual value when tests are run.

Snapshot testing is useful when code generates complex tree structures that are tedious to verify by wri

[2017-02-17 15:29] novemberborn commented on #1220
Please see https://github.com/avajs/ava/issues/1275 for context.

[2017-02-17 15:29] novemberborn commented on #1254
Please see https://github.com/avajs/ava/issues/1275 for context.

[2017-02-17 16:41] novemberborn commented on #1204
https://github.com/avajs/ava/issues/1222#issuecomment-280671306 is another example of this. I can reproduce that using:

[code]

With AVA 0.18.1 we dump out each [`property` in that `MemberExpression`](http://astexplorer.net/#/gist/846391c23915214505ae12eb9eff7240/464b4b4eeda117c73259ff9f866914d9b0fb92b4). With AVA 0.17.0 we only show:

[code]

Why did we remove the [old formatter code](https://gi

[2017-02-17 16:41] novemberborn commented on #1205
My suggestion in #1204 is to show the type of `arr` but nothing else.

[2017-02-17 16:43] novemberborn commented on #1222
@bjentsch yea, I can reproduce that problem. I think you're running into this issue: https://github.com/avajs/ava/issues/1204.

[2017-02-17 19:15] blake-newman opened #1276 "[recipe] Add Vue.js recipe"
Note: this is not an issue but a reminder for me to add a recipe for Vue file support.

Add a Vue.js recipe for Vue file transpiling. The new `vue-node` (https://github.com/knpwrs/vue-node) works great as a solution to get Ava and Vue.js working along side each other. Little configuration needed other than using prexisting webpack configs.

I have it fully working together, although it is quite sl

[2017-02-17 22:10] vadimdemedes commented on #1204
Yeah, for consistency. Otherwise it'd be pretty weird to see completely different looking output for different assertions.

Totally agree. Perhaps we could even remove "statements" output for t.true/t.false until it's more production ready and just show actual/expected. What do you think?

Output would still be pretty long, not sure we'd want to show each property. I'd go for a proposal in #1205.

[2017-02-17 22:12] vadimdemedes commented on #1220
Nope, it doesn't. `t.deepEqual()` doesn't care about key order, so you won't simply get an error, so it won't even "get to" magic-assert.

[2017-02-17 22:32] vadimdemedes commented on #1275
I think I'd want to go with a new solution to snapshot testing and try to find a better way to serialize snapshot values. We need to look for a library that handles serializing/deserializing of data and which also includes types that JSON ignores. Any tips are welcome!

I think I've seen some time ago something like an extended JSON serializer, which handled most of its limitations. Need to look f

[2017-02-18 03:34] sholladay commented on #1227
[code]
vs

[code]

[2017-02-18 04:12] sindresorhus commented on #1227
I would rather say:

[code]
vs

[code]

I think the former, while a tiny bit more verbose, is much clearer.

[2017-02-18 08:44] #1268 closed

[2017-02-18 08:44] #1270 closed

[2017-02-18 08:58] #1233 closed

[2017-02-18 14:15] novemberborn commented on #1204
Alternatively we could limit the depth to 1.

[2017-02-18 14:17] novemberborn commented on #1220
The issue is that we're actually comparing JSON strings inside `jest-snapshot`, so key order suddenly matters. That's not how `jest-snapshot` behaves otherwise (I think because `pretty-format` sorts the keys).

[2017-02-18 14:39] novemberborn commented on #1275
According to [`cost-of-modules`](https://www.npmjs.com/package/cost-of-modules):

| name                      | children     | size   |
|---|---|---|
| chokidar                  | 168          | 8.71M  |
| babel-core                | 27           | 3.11M  |
| empower-core              | 2            | 1.92M  |
| bluebird                  | 0            | 0.58M  |
| source-map-support        | 0

[2017-02-18 14:42] novemberborn commented on #1227
IMO the parallel should be with the the form of `notThrows` that is passed a function:

[code]

Is that a sensible thing to do, or is it not? Currently it doesn't work, and we should resolve that inconsistency one way or the other.

[2017-02-18 18:26] vadimdemedes commented on #1204
Also a possibility, but I'm pretty sure it wouldn't solve the problem with the long output.

[2017-02-19 22:55] greyepoxy commented on #1011
@danny-andrews cool! Glad to hear it, thanks for telling me about [webpack-node-externals](https://github.com/liady/webpack-node-externals) I will check it out.

[2017-02-20 05:57] sindresorhus commented on #1256
👍

[2017-02-20 07:35] sindresorhus commented on #1204
I think we should do that for now and work on improving the output before turning it on again.

[2017-02-20 10:13] novemberborn commented on #1204
That doesn't leave us with much `power-assert` output does it?

[2017-02-20 10:20] novemberborn opened #1277 "Support magic-assert with other assertion libraries"
It'd be great if AVA could recognize assertion errors from other libraries and show similar output as it does for AVA's own assertions. See https://github.com/avajs/ava/issues/1256#issuecomment-280407908.

[2017-02-20 13:28] vadimdemedes commented on #1204
Yes, since "statements" output is the only thing using it.

[2017-02-20 17:20] sindresorhus commented on #966
@jonathandelgado It has the downside of making `test.only()` only work per file and not globally. See caveat in https://github.com/avajs/ava/pull/791.

@novemberborn Do you still think we shouldn't do this? What is your current opinion?

[2017-02-21 00:53] davewasmer opened #1278 "Magic assert output is very noisy"
First off, I just wanted to say the new magic-assert functionality is pretty awesome. It's great to get some additional context from a test failure, and frequently saves me multiple rounds of "well, let's try logging out this value". And the designer in me appreciates the output formatting - very readable, scannable, and well structured.

That said, in many cases, the output can be very noisy in a

[2017-02-21 10:41] novemberborn commented on #1204
Some more examples from @davewasmer (https://github.com/avajs/ava/issues/1278):

We should definitely filter out Node's built-in module, and the `t` object.

[2017-02-21 10:44] novemberborn commented on #1278
Yea, I hear ya. #1204 and #1205 cover this. I've added your examples to the thread in #1204.

That's quite interesting! And difficult, I think. Instead we could better integrate with Node's debugging tools and trigger a breakpoint when an assertion fails, but that too sounds rather difficult.

No worries! I'm playing with a project that gives us more control over the diff output, hopefully we can

[2017-02-21 10:44] #1278 closed

[2017-02-21 11:36] qaiser110 commented on #1278
Magic assert is awesome indeed, and very helpful indeed. But yes, it is quite noisy at times.

One option could be to have a flag to disable Magic assert, keeping power-assert enabled, resulting in the default power-assert style assertion messages that existed before Magic assert was added.

[2017-02-21 16:40] davewasmer commented on #1278
Yea, a little "pie-in-the-sky" to be sure. But personally, I wouldn't find the debugger integration that much more helpful. That's a much heavier process (i.e. you have to start ava, then copy the devtools URL, open that in the browser, then hit "play" since you need to pass in `--debug-brk`, then wait for it to hit the assertion, then look through the Scope panel, ...). The problem here isn't tha

[2017-02-21 16:49] davewasmer commented on #1204
Just to weigh in here from #1278 - it seems like there's going to be suboptimal tradeoffs no matter what you do here. If you limit it to the last two members of a MemberExpression, that would still dump the entire `fs` module for `fs.existsSync()`. You could blacklist Node core libs and `t`, but that starts to feel like whack-a-mole: what if I use `fs-extra` or `mock-fs`? You could only show the l

[2017-02-21 17:19] novemberborn commented on #1278
@qaiser110, for one, how we should the `power-assert` messages has also changed. We're wanting to improve magic assert first, before adding an option to disable it.

@davewasmer this might be possible if my experiments pan out, but hopefully if they do we can just improve the default output 😄

[2017-02-21 17:21] novemberborn commented on #1204
Despite my comment in https://github.com/avajs/ava/issues/1278#issuecomment-281412664, really interesting features can always sway us :)

[2017-02-21 22:20] qaiser110 commented on #1278
@novemberborn, thank you for the reply, and all the good work with ava. In some cases, I'm testing the REST endpoint, the response body is very big, so the terminal output gets exhausted, and I cannot even reach up to the start of the test output.

Also, I think giving both power-assert's graphical output and magic-assert's awesome :) output, and the options to disable one or the other would be ve

[2017-02-22 01:53] unional opened #1279 "deepEqual() magic assert is reversed"
ava: 0.18.2

[code]

![image](https://cloud.githubusercontent.com/assets/3254987/23193584/91accf08-f85e-11e6-9fa4-3d847bb35a64.png)

Should be the other way around. `+a: 1, -b: 2`

[2017-02-22 09:34] bjentsch commented on #1222
Oh. Well. Yes. Sorry for the noise.

[2017-02-22 10:01] novemberborn commented on #1279
It's attempting to show you how to fix the test, but I agree it's confusing. See #1238.

[2017-02-22 10:01] #1279 closed

[2017-02-22 10:47] unional commented on #1238
Seems like an interesting way. But IMO is confusing and a step too far.

It is an assertion that compares two objects. So I think it should just show what's the difference, I.e like git diff, rather then suggesting how to fix the assertion.

This is not consistent to `t.is()` which just throw and say they don't match, instead of saying "you should change `actual` to `expected`.

[2017-02-22 10:54] lukechilds opened #1280 "t.is can cause tests to hang"
`t.is` shows a nice diff if strings don't match which is pretty cool. However it appears that it can choke on large strings and cause the tests to hang which is not so cool.

I was comparing two b64 string representations  of an image, and it caused the Travis VM to hang for over 10mins until it got shut down.

For example, this will cause AVA to hang:

[code]

So I'm currently using this instead,

[2017-02-23 04:02] unional opened #1283 "Should before and after run with skip?"
ava: 0.18.2

[code]

Currently the `before()` and `after()` is run even if the file contain only skipped tests.
Is that the expected behavior?

[2017-02-23 08:14] florianb commented on #727
@novemberborn: following Sindre's call to the weapons - i'd like to take this issue if it is still relevant and nobody else is working on it!

[2017-02-23 09:46] novemberborn commented on #1283
Interesting. I don't particularly mind to be honest, it's a bit of an edge case. What do you think?

[2017-02-23 09:47] novemberborn commented on #727
@florianb that's awesome, go for it!

[2017-02-23 10:07] sindresorhus commented on #1283
As a user, I would expect them to not run. Same with `beforeEach` and `afterEach`.

[2017-02-24 10:31] novemberborn commented on #1280
I think we can safely say that's a bug. https://github.com/kpdecker/jsdiff/issues/163 seems relevant. There's a suggestion there to use a different diff library for string diffs. We'd accept a PR for that.

[2017-02-24 11:40] lukechilds commented on #1280
Yeah, the background process stayed running and did actually finish eventually and dump the diff to my console. So it wasn't crashing, just took ages. Like literally ~20 minutes.

That Google lib does it in <2s.

Not promising anything but I'll give a PR a bash :)

[2017-02-24 12:25] lukechilds commented on #1280
Well that was easier than expected...

[2017-02-25 04:54] lukechilds opened #1286 "String diff output starts red and ends white"
I think this is a bug, although maybe it's intentional and I'm missing something.

The text output for the string diff always starts red for neutral text (as in text that has been neither added or removed in the diff). Then elsewhere the neutral text is white not red. You can see what I mean in the screenshot from the readme:

![](https://github.com/avajs/ava/raw/a45cdb9eb7e04097952b3a88b504e12d88

[2017-02-25 10:10] vadimdemedes commented on #1286
I agree, we should change the string color from red to white. Thanks for reporting this!

[2017-02-25 13:46] lukechilds commented on #1286
No probs, happy to submit a PR but I don't seem to be able to figure out where it's coming from.

This is the code for the diff:

[code]

As you can see the section for the neutral text applies no colouring: `return part.value;`. So it's weird that it's red the first time it's returned but not the other times. That makes me think that it's inheriting it from a previous unclosed ANSI colour code, h

[2017-02-25 14:15] vadimdemedes commented on #1286
The red color for strings is a default value set in @ava/pretty-format module (at the end of index.js in default props for 'theme' prop, if I'm not mistaken).

Now that I think of it, it'd be inconsistent if strings in other types of output (comparing objects, for example) were red, but white in string diff?

[2017-02-25 14:18] lukechilds commented on #1286
Ok, so that flips the problem round, it's the white text that is incorrect. Instead of the neutral colour being white it should be red.

[2017-02-25 15:23] lukechilds commented on #1286
Hmmn, I'm struggling to think of a clean way to fix this. Obviously a really simple fix would be to just colour the neutral text red, but then if the string pretty-format colour changes then it'll be wrong.

So we could check the default pretty-format colour and use that, but then if pretty-format was ran with custom colour options we won't know and again the colour will be wrong.

Ideally we need

[2017-02-25 16:08] vadimdemedes commented on #1286
How about the following:

1. Before generating a string diff, strip the red color from the string using `strip-ansi` module, which we already depend on.
2. Generate a string diff, colorize actual/expected chars (red/green background) and use a red color for unchanged values here https://github.com/avajs/ava/blob/master/lib/format-assert-error.js#L59.

[2017-02-25 17:59] lukechilds commented on #1286
If you're ok with hardcoding the red colour in `format-assert-error.js` then that's all that's needed. No need to strip any ANSI codes out first.

[2017-02-25 18:06] vadimdemedes commented on #1286
Yeah, hardcoding is rarely a great solution. You can hardcode it for now and I'll take care of it later by creating a "theme.js" with colors passed to pretty-format.

Wouldn't it end up with duplicate red color ansi codes?

[2017-02-25 18:15] lukechilds commented on #1286
Perfect 👌

Yes of course sorry, I've just got in after a few 🍻

[2017-02-25 18:18] vadimdemedes commented on #1286
Haha, no worries, I totally forgot we already have a `colors.js` as well, so no need for a `theme.js`!

[2017-02-25 18:19] lukechilds commented on #1286
Sweet, just force pushed the `strip-ansi` update to the PR 👍

[2017-02-25 20:12] taylor1791 opened #1288 "Ava slows when there are many non-run files"
## Description

I started a project a while ago and I noticed that `ava` slowed down over time. At the start it used to clock in at under a second. As I added more code and my configuration changed it is now around 15 seconds. This is an extremely long feedback cycle. Using `--watch` does not appear to produce a significant improvement.

I managed to reproduce the problem in a [test repo](https://

[2017-02-25 21:13] gajus commented on #355
How to make an exception? (disable this behaviour)

[2017-02-25 21:46] vadimdemedes commented on #355
@gajus Why would you want to disable it?

[2017-02-25 22:07] taylor1791 commented on #1288
I just noticed that this may be related to #1228.

[2017-02-25 22:51] gajus commented on #355
Because I want to structure my test folder hierarchy to mirror the project hierarchy. My project has folder `helpers` that I want to test.

[2017-02-26 10:30] #1286 closed

[2017-02-26 15:04] novemberborn commented on #1288
AVA needs to find your tests. It uses globbing patterns, which by default are quite wide (`test.js test-*.js test/**/*.js **/__tests__/**/*.js **/*.test.js`). If all your tests are in one particular folder you could specify the `files` option in the AVA config and point it at that directory.

@avajs/core I think we can consider this a [common pitfall](https://github.com/avajs/ava/blob/master/docs/

[2017-02-26 15:09] novemberborn commented on #355
@gajus we need some changes to our globbing to make this happen. See #736 and https://github.com/avajs/ava/issues/736#issuecomment-228608287.

[2017-02-26 15:22] #1280 closed

[2017-02-26 15:59] sotojuan commented on #1288
I definitely think it should at least be a common pitfall. Thanks @taylor1791 for the detailed issue!

[2017-02-26 18:43] gajus commented on #355
It is a bit arrogant of "ava" to assume that "helpers" is a folder that will be used exclusively by the test runner. Instead of changing the globbing pattern, change the folder name to "avahelpers".

[2017-02-26 18:50] taylor1791 commented on #1288
With that guidance, I put in some `console.time`s around the globbing. `time ./node_modules/.bin/ava src/add.spec.js` produced `6.74s user 1.25s system 113% cpu 7.042 total`. Globbing files reported 13.409ms and globbing helpers reported 6406.377ms. I looked around and I didn't see a way to change the helpers patterns. Assuming I didn't miss it, would this be a feature worth adding?

For what it i

[2017-02-27 01:51] cpojer commented on #1272
Happy to help! Please send PRs our way and we'll make sure to address them.

@novemberborn which aspect of the monorepo is giving you trouble?

[2017-02-27 10:02] novemberborn commented on #355
One could argue the same for assuming `test/*.js` folders contain AVA tests. We think it's a good default, and there is an open issue that would make it possible for the `test/helpers` folder to *not* be treated as containing helpers.

[2017-02-27 10:12] novemberborn commented on #1288
Wow, that's unexpectedly high.

Actually I think we need to optimize how we find helpers. The search starts here: https://github.com/avajs/ava/blob/bd5ed603356f7a038fed62f64494b35598741d67/lib/ava-files.js#L138, which is called from https://github.com/avajs/ava/blob/bd5ed603356f7a038fed62f64494b35598741d67/api.js#L123 and in turn https://github.com/avajs/ava/blob/bd5ed603356f7a038fed62f64494b35598

[2017-02-27 10:17] novemberborn commented on #1272
@cpojer it makes it harder to maintain a fork of a project inside the repo 😉

[2017-02-27 16:48] Austio commented on #1200
@leonardovilarinho I was able to get this working with adding this to my file package.json

[code]

[2017-02-27 19:20] leonardovilarinho opened #1289 "Get code to test in script tag?"
I have the following sample code:

[code]
How I can test this code in the script tag in AVA?

My package.json:

[code]

My .bashrc:
[code]

Error:

[code]

[2017-02-28 12:35] florianb commented on #727
@novemberborn - it seems like this issue is invalid, since `Array.include()` is being [part of the standard from ES2016+](http://www.ecma-international.org/ecma-262/7.0/index.html#sec-array.prototype.includes). Ava seems to support ES2017 out of the box, there is no ES2015-sepecific section in the docs anymore.

However, i might be wrong or i also could still add an ES2015-section to the docs. I'd

[2017-02-28 12:50] novemberborn commented on #727
ES2017 includes ES2015 😉

https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md has further details beyond what is in the main README. The issue is that we can only transpile syntax, we don't modify built-ins. It's documented in https://github.com/avajs/babel-preset-stage-4, which is linked to, but we could spell it out better in at least the `babelrc` recipe.

This is why we should sti

[2017-02-28 12:52] florianb commented on #727
Aye - i then will add a proposal for the babelrc. Thanks for clarification.

[2017-02-28 13:20] florianb commented on #727
@novemberborn: Change drafted, i would appreciate any feedback and since this is my first contribution i guess there is room for improvement. Thank you very much in advance.

[2017-02-28 15:47] despairblue opened #1291 "Subsequent variable declarations must have the same type when trying to type `t.context` [TypeScript]"
Copied from [StackOverflow](https://stackoverflow.com/questions/42416907/subsequent-variable-declarations-must-have-the-same-type-any)

## Description

I use ava with typescript and want to type ava's test context. It's typed as any in ava's definition file.

@novemberborn suggested adding a generic to the `test()` signature

### Test Source

What I specifically want is that the typescript compile

[2017-02-28 18:10] novemberborn commented on #1276
Thanks @blake-newman!

[2017-02-28 18:13] novemberborn commented on #1289
Hi @leonardovilarinho, perhaps #1276 can help? Otherwise try asking on Stack Overflow http://stackoverflow.com/questions/tagged/ava or Gitter https://gitter.im/avajs/ava.

I'm closing this since it's not an issue with AVA as such. Good luck, and thanks for using AVA 😄

[2017-02-28 18:13] #1289 closed

[2017-03-01 09:20] forresst commented on #1276
Meanwhile, @knpwrs has written an article that is very well: http://knpw.rs/blog/testing-vue-in-node

[2017-03-01 17:12] machineghost opened #1292 "Request: inverted match (--exclude?) and --file-match"
## Description

**--exclude use case:** when you are working with a subset of tests (eg. `--match="*something*"`) and you make a change that might affect other tests, so you want to check "did I break anything unrelated to my tests on accident?" (without seeing the output from or taking the time to run your current subset).  It would be convenient if you could simply do `--exclude="*something*"` i

[2017-03-01 17:47] sindresorhus commented on #1292
1. You can already do this with: `--match="!*something*"`
2. You can do this with globbing: `ava **/*foo*.js`

[2017-03-01 21:47] doriandrn commented on #1276
@forresst Thanks for this!

[2017-03-03 08:54] #707 closed

[2017-03-03 17:36] avaly opened #1293 "Clarify docs regarding async function support"
## Description

The docs mention that AVA has built-in support for async functions: https://github.com/avajs/ava#async-function-support

However it does not mention that async functions depend on `babel-polyfill` to be required by AVA. Even for node `7.7.1`, which has native support for async functions, the async functions are still transformed by babel.

### Test Source

[code]

### Error Message

[2017-03-03 18:26] avaly opened #1294 "React snapshot saves JSON object instead of HTML output"
## Description

Minimal React snapshot test saves a JSON object in the snapshot file, instead of the pretty printed HTML format.

### Test Source

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

[code]

### Snapshot file

[code]

## Relevant Links

Gist: https://gist.github.com/avaly/11bd5ce8210938abc36092ef00a8fb45

## Environment

Node.js v

[2017-03-04 15:23] novemberborn commented on #1293
This means you're no longer using AVA's built-in Babel config. Something in your own Babel config is causing async/await to break. It works out of the box, otherwise.

We'll stop transforming `async/await` for Node.js 8.

[2017-03-04 15:23] novemberborn commented on #1294
Yea we're aware. Please see #1275.

[2017-03-04 15:23] #1294 closed

[2017-03-04 19:54] mmkal commented on #1291
@despairblue @novemberborn Is anyone working on this? I've been looking for something similar and have something working locally.

I could submit a PR, but before I do the work to get it ready for review, I thought I should check nobody else is working on it.

[2017-03-04 21:46] avaly commented on #1293
I've already added the `@ava/stage-4` preset in my babel config (see gist), as instructed by the Babel recipe at: https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md, so I would expect that would be the only thing needed to configure. Is AVA adding anything else to the babel config in the case where I don't use `"babel": "inherit"`?

There definitely is some docs missing regarding thi

[2017-03-04 21:54] avaly commented on #1293
OK, this seems to have been triggered by the [`transform-regenerator`](https://babeljs.io/docs/plugins/transform-regenerator/) babel plugin which gets included with the `es2015` preset.

Closing this, since it's not an AVA issue.

[2017-03-04 21:54] #1293 closed

[2017-03-05 10:13] unional opened #1296 "Add test.each() to support BDD"
This will help to support usage such as:

[code]

[2017-03-05 11:45] novemberborn commented on #1296
Interesting. This is currently possible using macros:

[code]

There's something nice about your `test.each()` suggestion but I'm not sure it's worth the maintenance cost.

[2017-03-05 11:47] novemberborn commented on #1291
@mmkal it's all yours!

[2017-03-05 13:23] despairblue commented on #1291
go for it!

On Sun, Mar 5, 2017, 12:47 Mark Wubben <notifications@github.com> wrote:

--
Q: Why is this email five sentences or less?
A: http://five.sentenc.es

[2017-03-06 00:01] unional commented on #1296
Thanks.
I'm thinking of this in the context of BDD, and IMO the benefit of `test.each()` over macros is that the cases are included within the test.

Speaking of each, with the power to `power-assert` and magic assert, do you think it is possible to generate a markdown spec doc from the JS file?

[2017-03-06 10:15] nickjanssen opened #1299 "Nested tests not being run when using **/* pattern"
## Description

![image](https://cloud.githubusercontent.com/assets/2780160/23605346/ad3dc902-029f-11e7-92e7-059f50324513.png)

`src/foo/foo.test.js`
[code]
`src/foo/bar/bar.test.js`
[code]

When doing `ava src/**/*.test.js`, `bar.test.js` will not be run:
[code]

The `**` should mean any subdirectory underneath in a recursive manner, thus `bar.test.js` should also be run. Note sure if there are c

[2017-03-06 10:25] novemberborn commented on #1296
We're happy to see alternative interfaces built on top of AVA's current interface. I'm not convinced we *need* additional functionality for that though.

Possibly using the TAP output, but that doesn't include the diffs. We'd be happy to land a PR for that if there's a standard way of expressing it in TAP.

[2017-03-06 10:31] novemberborn commented on #1299
Try escaping the file pattern:

[code]

Most likely your shell is expanding the stars and only matching `foo/foo.test.js`.

Also, AVA will select these test files by default so you don't need to specify the pattern.

[2017-03-06 19:18] unional commented on #1296
Thank again.

After some more thoughts, it does seem like just relying on `ava` to do this is not sufficient.
A layer on top of it is much more desirable.

The BDD system I envision is not the BDD syntax in JS test framework such as in `mocha`, but a system that actually allows Business Analyst, Product Manager, QA, to write acceptance test that they can reason about.

And these tests can be wired

[2017-03-06 19:38] unional commented on #1296
One thing that is "lacking" is the ability to nest test.
On the other hand, my understanding is that `ava` choose to not do nesting.

[2017-03-06 23:09] sheerun opened #1300 "Default to using babel if babel-core is detected"
Currently in all of my projects I put following configuration in package.json

[code]

Ideally AVA would just know I use `babel-core` as development dependency and default to the configuration above, i.e. it would be nice if AVA followed convention over configuration.

Could you detect if babel-core is listed in devDependencies and if so, default configuration to { "babel": "inherit", "require": [

[2017-03-07 02:09] nickjanssen commented on #1299
@novemberborn thanks, that fixes it! Could you elaborate on what exactly the shell is doing here? I don't understand that.

Regarding selecting the test files by default, all of my files live in `src/` so I'd like ava to look in just that folder.

[2017-03-07 02:09] #1299 closed

[2017-03-07 02:52] mmkal commented on #1291
@despairblue @novemberborn thoughts on the first-cut version? https://github.com/avajs/ava/issues/1298

[2017-03-07 09:49] novemberborn commented on #1299
To be honest I don't have a complete understanding of it either. Under certain conditions it expands the stars, meaning AVA doesn't receive them and can't do its own globbing. Placing the pattern in a string prevents the shell expansion.

[2017-03-07 09:52] novemberborn commented on #1300
Our plan for improving Babel support is here: https://github.com/avajs/ava/blob/master/docs/specs/001%20-%20Improving%20language%20support.md#specific-proposal

Once that's fully implemented you can do `"ava": { "babel": true }` to achieve the same.

It's an interesting idea, but I think triggering Babel mode based on a dependency is too hard to explain to users, especially if they weren't expecti

[2017-03-07 09:52] #1300 closed

[2017-03-07 09:54] novemberborn commented on #1296
Yes, see #222. That said, libraries can implement their own nesting on top of AVA's interface. I did something similar, see https://github.com/avajs/ava/issues/222#issuecomment-248631231.

I'll close this now. Thanks for your input!

[2017-03-07 09:54] #1296 closed

[2017-03-08 12:43] bettiolo commented on #718
Is this resolved by https://github.com/avajs/ava/issues/791 ?

[2017-03-09 05:48] bbiagas commented on #934
I am just a random person on the internet, but if I can throw in my two cents I think a configurable number of retries would be great. The opinions against it have merit, but I also think there's not a clear definition of what "flaky" means. A flaky test is (in theory) one that passes almost all of the time but occasionally doesn't, for reasons which are not obvious. If a failure turns out to be c

[2017-03-09 09:46] novemberborn commented on #718
Yes, thank you for noticing @bettiolo 👍

[2017-03-09 09:46] #718 closed

[2017-03-09 10:02] novemberborn commented on #934
Hi @bbiagas thanks for your comment.

I think the scenario you ran into is probably best solved by reproducing the flaky test in a small script that you can run in a loop.

What I'm advocating for here is a way to deal with tests that are flaky due to circumstances out of their control, and ideally not bugs. It's helpful if they're retried once or twice, because you can't always fix those circumst

[2017-03-09 17:30] novemberborn commented on #1226
@vadimdemedes do you recall the actual error? I assume you're using Sinon, but with `sinon@1.17.7` I just get `[Function proxy]` for `@ava/pretty-format` output of the `sinon.spy()` result.

[2017-03-09 17:33] pho3nixf1re commented on #1226
This same behavior happens when using `enzyme` wrappers. The output is so large it makes the test output useless. I've gotten into the habit of putting the exact test value into a variable before passing it to the ava assertion.

[2017-03-09 23:40] jedd-ahyoung commented on #222
Just my two cents - I use "describe" functionality mostly to group my tests so that they appear grouped in my reporter. I generally will create a test file for a module, and I will use `describe` grouping for specific subsets of functionality. The individual tests will test different conditions and inputs for a given output (general cases, edge cases, what happens if something is null, etc.)

I kn

[2017-03-10 07:59] nickjanssen commented on #1299
Got it...lesson learned! Thanks again.

[2017-03-10 09:56] loopdtw opened #1303 "Can't bind t.throws?"
## Description
I think this may be a bug. t.throws gets rid of the `this` reference, where `this` ends up as being `undefined`

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]

## Environment

Tell us which operating system

[2017-03-10 10:03] #1303 closed

[2017-03-10 12:51] knpwrs commented on #1276
Hey, guys. @jackmellis commented on my post with his own approach which is rather interesting. He points to [a forum post he made](https://forum.vuejs.org/t/unit-testing-vue-and-functions-outside-of-webpack/7761) as well as two modules he made: [`require-extension-hooks`](https://github.com/jackmellis/require-extension-hooks) and [`require-extension-hooks-vue`](https://github.com/jackmellis/requir

[2017-03-10 14:22] fearphage commented on #222
While we're sharing usage, my `describe` usage is more about state management and steps in a process. This is the pseudo code version of many of our tests.

[code]

As tests become more deeply nested, they are adding new steps to the process building on the previous state. That's why the first suggestion resonates so much with me. It's very visual like mocha tests. It's not trying to hide/obscure

[2017-03-11 08:45] #1011 closed

[2017-03-11 18:12] axetroy opened #1306 "t.fail([message]) out of expect? still pass test"
## Description

Run some async task, if catch error, then run ``t.fail()``

but I found, even i apply ``t.fail()``, it still be success

why?

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

Not configure

### Command-Line Arguments

[code]

## Relevant Links

Not yet

## Environment
Node.js v6.10.0
win32 10.0.14393
ava 0.18.2
npm 3.10.10

[2017-03-11 18:48] sindresorhus commented on #1306
You're doing async work in a sync test. Per the documentation, if you want to do async work, you either need to return a promise from the test, use an async function (recommended) or generator function as the test body, or use `test.cb()`.

[2017-03-11 18:48] #1306 closed

[2017-03-11 19:00] axetroy commented on #1306
I have found it in documentation, I'm curious about why don't work.

sync work not depend on fail method.

anyway, Thanks.

[2017-03-11 19:27] sindresorhus commented on #1306
By the time you call `t.fail()` AVA has already considered the test function done, since all the synchronous code has run.

[2017-03-12 09:46] despairblue commented on #1291
@mmkal I'll look into it tomorrow when I'm back at work, I was off for a week.

[2017-03-12 17:40] jasonhargrove commented on #1293
@avaly can you elaborate on the issue? Have you opened an issue with that package? Ultimately AVA is broken in this regard so I wouldn't quite say it's not an AVA issue, though I get what you mean.

[2017-03-12 18:12] jasonhargrove commented on #1293
[code]

Thanks @avaly, adding `babel-polyfill` fixed it here.

[2017-03-13 07:12] yatharthk commented on #1173
@novemberborn Do we need to work upon this bug?

[2017-03-13 09:23] sindresorhus commented on #1264
Not that I'm aware of.

[2017-03-13 10:10] novemberborn commented on #1173
@yatharthk you can take this if you want, yes 😄

[2017-03-14 11:57] wmnnd opened #1307 "Infinite loop with mock-fs"
## Description

When using mock-fs in `beforeEach`/`afterEach` hooks, ava will go into an infinite loop, repeating all tests over and over again, if one test fails.
Using `afterEach.always` instead of just `afterEach` makes no difference.

If all tests pass, this problem does not occur.

### Test Source

[code]

### Error Message & Stack Trace
This is the output I got. I interrupted it after a whi

[2017-03-14 12:50] #1150 closed

[2017-03-14 12:50] #1227 closed

[2017-03-14 12:58] #1046 closed

[2017-03-14 15:56] novemberborn commented on #1275
This isn't entirely accurate. The diffs are done using formatted objects. `jest-snapshot` stores and compares formatted objects. It's just that we cannot configure how it formats objects. This means we can't do code highlighting, and there'll be other differences in the snapshot diff compared to the diff we generate for `t.deepEqual()`.

I have a longer term plan that harmonizes `t.deepEqual()` wi

[2017-03-15 04:04] renatorib opened #1309 "Probably not compiling with babel: `Unexpected import token`"
## Description

Testings are failing in `Unexpected import token` (probably due to non babel compiling issue)

### Test Source

initials.js
[code]

initials.test.js
[code]

### Error Message & Stack Trace

Here's a print (Sorry, I have a problem with my term that I can't copy text :cry:)

![image](https://cloud.githubusercontent.com/assets/3277185/23932815/f85670e0-0918-11e7-8f19-27ef8ba966e1.png)

[2017-03-15 12:50] novemberborn commented on #1309
Yes.

You've disabled AVA's default transpilation of test files. It's now up to you to make sure your code runs in Node.js. You'll have to make sure to transpile the module syntax in your own Babel config.

[2017-03-15 12:50] #1309 closed

[2017-03-15 12:56] novemberborn commented on #1307
With Node.js 7.7.1, I installed `ava` and `mock-fs` and copied your test source. I get a different error:

[code]

It might be related, of course.

It won't come as a surprise to you that AVA reads files from disk, even after your test has been loaded. `mock-fs` gets in the way of that. With the error I'm seeing, it's `mock-fs` that breaks AVA.  It doesn't look like `mock-fs` can be constrained to

[2017-03-15 13:00] wmnnd commented on #1307
I tried the same with [fake-fs](https://github.com/eldargab/node-fake-fs) and unfortunately it also results in the looping error for me.
There seems to be no way to test modules that do disk i/o with ava, or did I overlook something?

[2017-03-15 13:25] novemberborn commented on #1307
Patching `fs` is risky. I'm not familiar with the various mocking libraries out there, so if they all interfere with other programs then that is unfortunate. I'm not particularly interested in writing code that can defend against such interference.

IMHO it should be possible to write a file system mocking library that only mocks very specific file paths, but I don't know if they exist.

I'm curio

[2017-03-15 13:43] sanderploegsma opened #1311 "RxJs error when returning Observable.catch() in test"
## Description
The documentation states that it is possible to return an Observable from your test to have it automatically handled by the framework. However, I would like to test that a certain function throws an error in certain cases. Doing so, I got an error from the RxJs library (version 5.2.0), leaving me with the impression that this is a bug in Ava. See details below.

### Test Source
Not

[2017-03-15 17:28] renatorib commented on #1309
Where?

My custom babel config support `import/export` and latest es versions.

---

When I remove this config:

[code]

This error persists.

[2017-03-15 23:20] machineghost commented on #1292
Sorry for not responding sooner. `--match="!*something*"` was in the docs, so I apologize for not finding that on my own.

The globbing solution is great too, although it's not a perfect solution for me personally.  When I run Ava I do it through an NPM script.  We have both front- and back-end tests, in different folders, with frontend/backend test paths hard-coded.  This is great for easily runn

[2017-03-16 07:28] selenium-tester commented on #1296
Apologies for joining a dead thread; I came looking through the issues for any other discussions about parameterized/data-driven test support in Ava. I found lots of discussion in various tickets, but this seemed the most recent and most directly related to my search so I wanted to add an extra voice to the conversation.

The current macro capability is great, but I do agree it would be even nicer

[2017-03-16 10:35] novemberborn commented on #1309
I actually get this error, which seems to be some Flow syntax that isn't removed:

[code]

In any case, it means AVA transpiled the ESM syntax correctly.

But does it transpile to CJS?

This issue tracker is for AVA itself. Happy to do the occasional support here, and happy to keep discussing, but this is a problem with your Babel setup, not AVA.

[2017-03-16 10:37] novemberborn commented on #1296
These build on top of Mocha though. A similar module can be built on top of AVA.

[2017-03-16 10:49] despairblue commented on #1291
@mmkal Awesome work in this PR. I'm just still struggling to get this to work with async `beforeEach`s. Changing the type of `T` in the `beforeEach` is not picked up by the typescript compiler:

[code]

I think it's still ok to make each test async and await the context since it still saves me from defining an interface and casting the context.

[2017-03-16 10:53] despairblue commented on #1291
Nevermind changing the type-signature to actually reflect what's going on fixes this just fine. The issue is closed. Thank you!

`function contextualize<T>(getContext: () => `**Promise**<`T`**>**`): ava.RegisterContextual<T> {`

[2017-03-16 10:53] #1291 closed

[2017-03-16 20:17] floatdrop commented on #709
I would like to bring it up with recent releases of Node.JS – what would `ava` miss without babel besides `async/await` (which can be transpiled with `async-to-gen`) and `import`? Babel taking considerable amount of time to install and run.

[2017-03-16 20:35] vadimdemedes commented on #709
AVA still has to be compatible with Node.js v4 and it also uses Babel for power-assert and [t.throws() helper](https://github.com/avajs/babel-plugin-ava-throws-helper/).

[2017-03-16 21:41] selenium-tester commented on #1296
True. I listed examples across several frameworks to show that it's very much a common need.

As you noted, it's such a common need that there exists, to some extent, modules for many of the popular JS frameworks to accomplish such a thing, but it means yet another dependency to rely on and third party implementations might never be as clean or pleasant to use as Ava supporting it directly.

Comin

[2017-03-17 09:52] novemberborn commented on #1296
Maybe, once AVA has matured. Changing the test interface is not a priority at the moment.

[2017-03-18 10:46] BarryThePenguin commented on #1311
To allow the Observable sequence to continue after you've caught it, you'll need to return an Observable sequence to continue with.

From the documentation for [`Observable.prototype.catch`](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-catch):

A couple of options are, return an empty Observable after you've run your assertions

[code]

or, catch and then assert

[2017-03-18 10:59] sanderploegsma commented on #1311
Right, that makes sense, can't see how I missed that. Thanks!

[2017-03-18 10:59] #1311 closed

[2017-03-20 12:28] blake-newman commented on #1276
https://github.com/jackmellis/require-extension-hooks-vue/pull/1

This adds more support for compiling of templates which should a) improve overall speeds and b) support es2015 features in templates

[2017-03-21 08:57] AlexTes commented on #1047
Love this proposal. Eliminating the constructor vs. validator function ambiguity would've saved me a lot of time and [confusion](https://github.com/nodejs/node/issues/9373).

Is there still something to be done on the 'question' side of things? It's hard to give a helpful push without a clear direction 😄.

[2017-03-21 10:06] novemberborn commented on #1047
@AlexTes we can go with @sindresorhus' proposal: https://github.com/avajs/ava/issues/1047#issuecomment-261483195

Match `constructor` by reference, `name` by equality, and `message` either by testing a regular expression or string equality.

[2017-03-21 10:14] sindresorhus commented on #1047
I had the need the other day to match against a custom error property. Should we support that too?

[2017-03-21 11:35] novemberborn commented on #1047
I think that's better served by assigning the thrown error to a variable and asserting on that.

[2017-03-21 11:54] AlexTes commented on #1047
@sindresorhus I feel the consensus was around supporting common use-cases for error comparison. In other words, offer shortcuts to common comparisons but keep the API surface small as one can already do any comparison with the returned error. 'The other day' only tells us about recency, how about frequency? I think this decision is a tricky balance between frequency, the cost of doing without, and

[2017-03-21 11:55] CrOrc commented on #1218
Actually, we should not save snapshot if we are running within CI server.
E.g. snapshots should be tested against data committed to source control.

[2017-03-21 13:24] wmertens opened #1316 "Towards webpack support"
I'd like to offer an approach to make webpack-built projects easily testable. Right now I'm using the webpack alias babel plugin, but any special loaders are ignored, and that code cannot be tested without extracting it elsewhere.

Ava can watch globs, transpile, augment and run tests. Webpack can watch entries, use loaders, and run plugins.

To map one to the other, this would work I think:
* Gen

[2017-03-21 13:56] novemberborn commented on #1047
@AlexTes

It's usually better to compare errors using their `.name`. `if (error instanceof MyError)` doesn't necessarily work across VM contexts, for example. Libraries might also not bother exporting their error constructors.

It's currently [implemented as comparing the message](https://github.com/avajs/ava/blob/3da8603b87ae43a77f581738233ea98c3de5a10f/lib/assert.js#L135). We should do the same

[2017-03-21 14:25] sholladay commented on #1047
I don't personally need this feature much, but for sake of argument...

Say `myApp()` uses a database under the hood and potentially rejects with various `DatabaseError`s. You probably want to make assertions about failure cases for `myApp()` working with the database, but the relevant error constructor does not live in your app and very well may not be exposed by the database driver library (it i

[2017-03-21 14:33] AlexTes commented on #1047
Ah, as shown in your example earlier @novemberborn. I understand the need and even preference for `name` now.

I didn't know Ava's `assert` has seen some big change. Congrats on the big PR! I read through ava's assert module two weeks back, since then #1302 landed. Forgive me for missing Ava no longer almost directly relies on Node's `assert`.

Comparing just the message makes a lot of sense to me

[2017-03-21 15:05] novemberborn commented on #1047
@AlexTes thanks! Be sure to check out #1314 which contains a few more changes.

@sholladay, I think Node.js is moving to standardizing error codes, though I couldn't find a definitive proposal on that. File system errors have `code` and `errno` properties. We should support whatever practice Node.js settles on, though we can add that later.

[2017-03-21 20:09] jamestalmage commented on #1316
Is the goal to test in the browser, or in Node?

Take a look at `karma-ava` for how it was solved with browserify. I looked at webpack as an option when developing that, but I don't remember why I didn't pursue it further. Specifically, check out `lib/process-adapter.js`, which polyfills anything Node specific.

[2017-03-21 20:19] jamestalmage commented on #1255
It actually is not that easy to implement because of the way `power-assert` recognizes patterns. See https://github.com/power-assert-js/babel-plugin-espower/issues/18

[2017-03-21 23:51] QuotableWater7 commented on #583
Just curious, has there been any movement on this issue?

cc: @novemberborn

[2017-03-21 23:54] QuotableWater7 commented on #1126
@sindresorhus I'd be happy to help look into a solution for #583.  To speed along the process, do you know which file(s) I should be taking a look at?

[2017-03-22 12:00] novemberborn commented on #1255
With the [recent assertion refactor](https://github.com/avajs/ava/pull/1302) I think we can make it so the assertion knows whether it's bound or not, so unbound enhanced assertions know that they're not wrapped by `power-assert`.

That said I'm somewhat concerned about the performance impact, and not convinced about the value-add.

[2017-03-22 12:00] novemberborn commented on #583
@QuotableWater7 nope. Are you interested in taking this on?

[2017-03-22 19:12] ackerdev opened #1318 "Extreme boot time difference when concurrency specified"
## Description

There appears to be a significant "boot time" (presumably transpiling and spawning child processes?) difference for ava when specifying concurrency, even with ridiculously high numbers.

With my suite of 103 tests across 36 files, running ava without specifying any concurrency, the spinning indicator would be the only output for upwards of 30 seconds, after which the test output wo

[2017-03-23 10:01] novemberborn commented on #1318
I'm surprised by the difference in CPU usage. Something seems to be doing significantly more work, though I doubt it's `Bluebird#map()`. Does it do the same if you set concurrency to `36`?

I assume you can't share your test suite?

[2017-03-23 15:14] grvcoelho opened #1319 "Ava does not transpile helpers!"
## Description

Ava should transpile helper files without requiring `babel-register` or any such a thing.

If the test files are inside a `test` folder, this works.

**However:** if the files are inside another folder (e.g: `my-tests` instead of `test`) **or** are inside a subfolder (e.g: `test/unit`) this does not work.

**TLDR: If tests are inside a subfolder of `test` directory, ava DOES NOT TR

[2017-03-23 15:24] grvcoelho commented on #1319
I think I might have discovered the problem:

We have the following code in this line:  https://github.com/avajs/ava/blob/4b6323e85e509a57f5183a5c7c1385a43d859a30/lib/ava-files.js#L90

[code]

This globs do not cover a case like `test/unit/helpers/index.js`. If this is the problem it could be easily fixed by adding a `**/test/**/helpers/**/*.js` glob, like this:

[code]

Am I thinking this right?

[2017-03-23 15:33] grvcoelho commented on #1319
Just tested, and my previous comment works! Gonna open the PR :)

[2017-03-23 17:50] ackerdev commented on #1318
Results appear to be very similar as long as concurrency is >= the number of logical cores on the machine. And unfortunately no I cannot share the test suite; if it helps any, they're all unit tests running as `test.serial`, and it's a suite for an HTTP API server. No tests go through the web framework, and there are a few connections to external resources like SQL, Redis, that may be leaking in t

[2017-03-23 23:44] machineghost commented on #1292
P.S. For anyone happening on this thread afterwards I should mention that you want to use `--match='!*something*'` (note the single quotes).  If you use double quotes your command line may very well interpret `"!` as something entirely different from what you want.

The documentation does have the correct (single) quotes though, so I'm not just mentioning it for this thread.

[2017-03-24 11:39] sindresorhus opened #1321 "Assert formatter throws on `t.regex` not matching"
Using latest master https://github.com/avajs/ava/commit/3a44b75156c3fb8b1f20b213d4f0c86748534618.

[code]

[code]

[2017-03-24 16:52] jamestalmage opened #1322 "Allow child processes to inherit stdio streams"
When writing `native-stream-type`, I had to abandon AVA as my test runner because it hijacked the native stdio streams (which I needed access to for testing).

While we have good reason for doing this with the default reporter, I don't see why we need to for the `verbose` reporter (and maybe even tap).

For those reporters, we could just fork like so:

[code]

The verbose reporter would allow test

[2017-03-25 08:41] sindresorhus commented on #1322
Inheriting comes with some downsides though. We would not be able to consume or transform the output at all.

As commented in https://github.com/sindresorhus/np/issues/136#issuecomment-289197561, another solution would be to add an option not to spawn AVA test files in a child-process. Pretty much what ava/profile.js does now. I also need this for testing Electron apps, as their tester needs to in

[2017-03-25 16:50] sindresorhus opened #1324 "Integration tests for assertion enhancements"
So we don't regress, like in #1321.

[2017-03-25 16:56] #1321 closed

[2017-03-27 17:25] chrisjlee opened #1326 "SyntaxError: .scss: Unexpected token"
## Description

I'm trying to test some of my components and the components import scss files. It then prompts me with an issue regarding an unexpected token:

`SyntaxError: /Users/.../bootstrap.scss: Unexpected token, expected ; (8:5)`

### Test Source

[code]

### Error Message & Stack Trace
[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

C

[2017-03-27 19:23] sindresorhus commented on #1326
Answered in https://twitter.com/sindresorhus/status/846418632989028353. For further questions, use [Stack Overflow](https://stackoverflow.com/questions/tagged/ava) or our [Gitter chat](https://gitter.im/avajs/ava).

[2017-03-27 19:23] #1326 closed

[2017-03-28 10:37] jackmellis commented on #1276
I've been playing with ava this last week with vue. It seems to work fine with require-extension-hooks - although loading `babel-core` in every process is incredibly slow - I found myself just writing a small script that just replaces all `import/export` statements instead of using the full force of babel in a node environment.

One issue I've come across is that ava will often hang when an assert

[2017-03-28 22:29] marcosmoura commented on #1276
I could make it work using vue-node.
Its working great with istanbul for coverage using nyc:
https://github.com/marcosmoura/vue-boilerplate

[2017-03-30 00:53] jamestalmage commented on #1322
But we don't do either of those things for either the `tap` or `verbose` reporters.

We should make that an option regardless.

[2017-03-30 04:07] jamestalmage opened #1327 "Too aggressive in declaring the test "finished""
The following works in `0.18.2`:

[code]

On master, it fails with:

[code]

We should wait until all pending assertions have resolved before declaring a test "finished" and throwing when new assertions show up.

Adding a call to `t.plan()` causes it to behave oddly going all the way back (we even added a test solidifying this odd behavior in #360):

[code]

The above fails with:

[code]

Similar

[2017-03-30 05:55] sindresorhus commented on #1322
Right now we don't, but we might need it to be able to place console output together with the correct test when running concurrently, although there might be other workarounds. Another issue is that it will create different environments for the `verbose` and default reporter. So a test might fail with the default reporter, but pass with the `verbose` reporter.

I'm pretty confident it will, but we

[2017-03-30 05:57] sindresorhus commented on #1322
@novemberborn Any thoughts on this? I would really like to see this happen.

[2017-03-30 15:34] sotojuan commented on #1144
@avajs/core What do we think of this? It sounds interesting.

[2017-03-30 16:01] vadimdemedes commented on #1144
I don't think this is going to be helpful, since it's basically what mini reporter does. The default output is as minimal as it could get, I think.

Mini reporter only shows failed tests and exceptions too.

I don't use gulp anymore, so I don't know what you mean here. Could you paste a screenshot?

[2017-03-30 18:11] Hurtak commented on #1144
It looks like this

[code]

What I would prefer in case of no errors
[code]

[2017-03-30 22:03] vadimdemedes commented on #1144
I think this change would better belong to gulp-ava or maybe even a layer on top of it. The idea is to hide all output if exit code is zero (all tests are passing). What do you think?

[2017-03-31 09:01] jiananshi commented on #807
Since AVA is running each test cases concurrently, any test suites based on same db would may or may not cause unpredictable problems. I'm current running my AVA tests with `--serial` as [reference](https://github.com/avajs/ava#cli) in document.

[2017-03-31 17:01] unional opened #1328 "Verbose (v) in watch mode"
ava: 0.17

Currently, I use `r` to rerun test in watch mode a lot.
However, there are times when the error message is not clear enough (e.g. uncaught exception).
It would be great to use `v` to rerun the test with verbose temporary turned on.

[2017-03-31 17:25] sindresorhus commented on #1328
Why do you have to press `r` a lot? That sounds like a bug is misconfiguration.

What kind of verbose information are you missing? As far as I know we show all the information we have.

[2017-03-31 21:42] tony-kerz opened #1329 "slow (>1 minute) start up time when pointing to directory containing 15 files"
## Description

strangely slow initialization time when pointing to directory

### Config
[code]

### Command-Line Arguments
[code]

## Environment
[code]

[2017-04-01 14:03] novemberborn commented on #1327
That's an interesting use case. I don't think it's a great use of `t.notThrows()` but it seems easier to make this work then to properly communicate why it doesn't.

[2017-04-01 14:06] novemberborn commented on #1322
👍  Reporters shouldn't impact tests.

I can see that, though it would have to be a global option (apply to all files). I think we'd need more refactoring to make this work, and perhaps run the test files in a new script context rather than directly in the global.

[2017-04-01 14:08] novemberborn commented on #1322
This might not be great for performance but presumably those tests would also work if the test spawned yet another child process which executed a fixture?

[2017-04-01 14:12] novemberborn commented on #1329
Could you provide timing details? How many files are in the other directories? Could this be related to #1288?

[2017-04-01 14:58] novemberborn opened #1330 "Fail test even after it has passed"
09b23e0d5fd00d48f6b5b1f9c43641faa00f1d1d made it an error if an assertion is added after a test has finished. This can occur if the test finished earlier than the user intended. Once a test has passed though we cannot update its state in the reporters.

The feedback in 09b23e0d5fd00d48f6b5b1f9c43641faa00f1d1d could only be provided to users if the test was waiting for a pending assertion. That beh

[2017-04-01 16:49] sindresorhus commented on #1322
Yes, should be a global option and I was also thinking of it using the `vm` module.

[2017-04-01 17:43] aemxdp commented on #843
Still doesn't work correctly in `0.18.2`:
[code]

[code]

[code]

[2017-04-01 17:46] jamestalmage commented on #1322
Nah, they grand-child process would still get a `pipe` instead of a `tty` type stream. TTY is only available in the top level process (and only when launched from a console), and to any descendants that get their stdio streams with the `inherit` option. Once a child has a `pipe` type stream, a grandchild that inherits from it will still get a `pipe` type stream.

[2017-04-01 17:47] jamestalmage commented on #1322
That would suck for a large test suite if you only needed it for a few tests. It would be nice to address some configuration options on a per test basis. I'm thinking this option, `fail-fast`, `serial`, and `require:babel-register`, etc. What if we wrote a Babel plugin that allowed you to export a config in your test:

[code]

Computed values wouldn't be allowed

[2017-04-02 03:51] sindresorhus commented on #1322
@jamestalmage Can you open a separate proposal (issue) about it? Another solution could be to have [config overrides](https://github.com/sindresorhus/xo#config-overrides) like in XO.

[2017-04-02 03:55] sindresorhus opened #1332 "Ability to run test files in the same process"
Split from https://github.com/avajs/ava/issues/1322.

It could be a global option that when turned on would run the test files in the same process in a new script context using the `vm` module instead of a child process.

[2017-04-02 03:55] sindresorhus commented on #1322
I split the "same process" discussion into a new issue: https://github.com/avajs/ava/issues/1332

[2017-04-02 04:05] jamestalmage opened #1333 "Allow config options on a per test basis"
See https://github.com/avajs/ava/issues/1322#issuecomment-290935841

There are a few options that we apply globally, where it's conceivable you may want to tune them per test.  Since we are already doing an AST pass with Babel, we could allow users to declare overrides in an export declaration:

[code]

Another possibility would be something like [config overrides in xo](https://github.com/sindres

[2017-04-02 13:48] #1218 closed

[2017-04-02 13:48] #1220 closed

[2017-04-02 13:48] #1254 closed

[2017-04-02 14:01] novemberborn commented on #843
@aemxdp interesting. https://github.com/avajs/ava/pull/1334 should fix that.

[2017-04-03 02:39] tony-kerz commented on #1329
i just timed it at 3m (ouch)...

i would be happy to instrument for more details if anyone can provide a specific technique to use.

here are some relevant file counts:

- node_modules: ~12k
- src: 104
- test/ava: 15
- test/cuke: 40

if i point to a specific file, it starts almost immediately, e.g:
[code]

fwiw, i typically run with the `-s` flag because some of the tests run against a database an

[2017-04-03 08:24] novemberborn commented on #1329
That'd be great. Could you time how long this `handlePaths()` call takes? https://github.com/avajs/ava/blob/v0.18.2/lib/ava-files.js#L138:L145

Though that doesn't suggest it's a helper problem. Perhaps try with `--concurrency 3` or something like that? I'm wondering if your tests just take a long time to load (and by default they're all loaded at once).

[2017-04-03 11:58] sindresorhus commented on #1327
I'm tempted to say we require `t.throws()` to be awaited. I (and many users I've talked to) find it surprising that `t.throws()` works with a Promise in a "sync" test. Would be better to have a clear separation and only allow `t.throws()` with a promise in an async test (`test(async t =>{})`).

[2017-04-03 12:00] sindresorhus commented on #1327
I already always do:

[code]

Instead of:

[code]

The former is clearer by being explicitly async. It's easier to add stuff the throws statement and get expected order of execution. Simpler to document.

[2017-04-03 12:17] novemberborn commented on #1327
@sindresorhus I like that.

[2017-04-03 13:20] #843 closed

[2017-04-03 15:37] jamestalmage commented on #1327
How would we enforce that? Can you tell a function is `async` before calling it?

[2017-04-03 15:45] novemberborn commented on #1327
@jamestalmage see https://github.com/avajs/ava/pull/1335.

[2017-04-03 16:52] tony-kerz commented on #1329
hi mark,

i had some trouble attempting to use console to output timing (i guess ava hijacks stdout for it's spinner or such), but wrote some data to a file like so:
[code]
which yielded:
[code]
so looks like `findTestHelpers` is running fine?

`--concurrency=3` makes the tests start sooner, but it still takes a long time to run all of them.

as an exercise, i was going to try to run each of the 1

[2017-04-03 21:19] jamestalmage opened #1336 "Version warning when only local version is behind."
If the global version is up to date, but the local version is behind, you still get an error message telling you to update, but it recommends using the `-g` flag.

[2017-04-03 21:39] jamestalmage opened #1337 "Should we move pass / fail count to the end of the output?"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/avajs/ava/issues/1337)

When there are errors, the pass/fail count shows at the top. This is almost always out of view once all the error messages are displayed.

I believe most other reporters show that as the final lines of the output. Should we follow suite?

---

<d

[2017-04-03 22:06] ackerdev commented on #1329
The improvement you're seeing with concurrency is documented here: #1318

If you have any potential information that might help debug that it would be greatly appreciated :)

[2017-04-03 22:40] jamestalmage commented on #1318
If I had to guess, it would be how we handle `test.only` when no concurrency is specified. We wait for all test files to load and specify all their tests and transmit the `ready` event.

If we can prove that to be true, I propose we abandon the current `.only` behavior, and have it behave similar to how it works when `--concurrency` is specified.

We can almost certainly catch 99% of `t.only` uses

[2017-04-04 07:44] dj-hedgehog opened #1338 "How to use Ava with Node v7.7+ native async..await"
I already transitioned my web application to use Node 7.8 (V8 5.5) and therefore have native async..await available. How do I make Ava use it too instead of `transform-regenerator`

[2017-04-04 08:34] jamestalmage commented on #1338
See the [ES2017 Support](https://github.com/avajs/ava#es2017-support) section of the documentation. If you already have a babel config you want applied to your test, use the `babel: "inherit"` option. If you want to disable babel, you could do:

[code]

That supplies an empty config, which essentially tells babel to "do nothing". AVA will still add a few transforms, but nothing related to `async`

[2017-04-04 08:42] novemberborn commented on #1337
Sure.

[2017-04-04 08:43] novemberborn commented on #1329
Seems to me like your tests are slow to start, and slow to run. Hard to give more pointers without seeing them though 😄

[2017-04-04 08:45] novemberborn commented on #1318
@jamestalmage the surprising behavior in this issue is that specifying concurrency slows the tests down more than not specifying it does.

[2017-04-04 08:46] novemberborn commented on #1338
I don't think we use `transform-regenerator` anymore, since we're now only targeting Node.js versions with generator support.

When Node.js 8 comes out we'll update our transforms and we'll no longer transpile `async/await` for those Node.js versions.

[2017-04-04 08:47] #727 closed

[2017-04-04 09:35] alexrussell opened #1339 "Feature request: Use `Object.is()` instead of `===` in `t.is()`"
I was using AVA to test some math stuff the other day and noticed that I needed to use `t.deepEqual()` to test for `NaN`. If the `===` test was swapped out for `Object.is()` in [`assert.js`](https://github.com/avajs/ava/blob/master/lib/assert.js#L62) it would be able to correctly handle `NaN` being 'equal' to `NaN` without having to resort to `deepEqual`.

The loss we get with switching to `Object

[2017-04-04 11:43] novemberborn commented on #1339
Makes sense. I agree that `+0` shouldn't equal `-0`, and I doubt that most people would run into that. Making it easier to compare `NaN` seems sensible.

@avajs/core?

[2017-04-04 13:47] alexrussell commented on #1339
FWIW my changes (no PR yet) are here: https://github.com/avajs/ava/compare/master...alexrussell:is-uses-object-is?expand=1

[2017-04-04 14:32] novemberborn commented on #1339
Let's see what @sindresorhus says.

In the mean time…

It's hard to do this exhaustively. I'd be happy to see the edge-cases that `Object.is()` covers that `===` does not.

We also don't really have tests for power-assert, see #1324. Don't worry about it here.

👍

Remove it for now I think. `operator` is used mostly for the TAP reporter and it tries to follow a convention, but a lot of our asserti

[2017-04-04 15:24] alexrussell commented on #1339
@novemberborn Good responses :) I'll have a think if there are a few more test assertions I can add with my limited knowledge of the testing helpers (and I wasn't complaining here, just pointing out that I have added a bunch of assertions and explaining the reasoning) and make the changes to the macro examples.

[2017-04-04 19:13] gajus opened #1340 "Assigning `t.context` a value in `beforeEach` results in a Flow error"
## Description

Assigning `t.context` a value in `beforeEach` results in a Flow error.

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

N/A

### Command-Line Arguments

N/A

## Environment

[code]

[2017-04-04 19:30] jamestalmage commented on #1318
Right. When you specify concurrency, we run tests as soon as possible. When you don't, we pause, waiting for all tests to load and report back about `t.only`

[2017-04-05 08:50] sindresorhus commented on #1340
// @leebyron

[2017-04-05 10:48] alexrussell commented on #1339
Okay I have updated my branch to use `=` in the examples and added a few more test assertions for `t.is()` I figured it wasn't a big deal to do the same for `t.not()` as it is literally a negation of `t.is()`. Arguably the tests *should* be there to ensure that `t.not()` doesn't stray from being equivalent to `! t.is()` so I can do that if required.

[2017-04-05 14:26] sindresorhus commented on #1337
Yes

[2017-04-05 15:04] sindresorhus opened #1342 "Output from `t.throws()` failing is missing a message"
With latest master (ecdadfa9c2b5d5c40e4edd14df0319f222007c60).

[code]

Outputs:

[code]

[2017-04-05 15:07] #1327 closed

[2017-04-05 15:33] novemberborn commented on #1342
This works:

[code]

I think what you're saying is that we should *always* print something like "Expected promise to be rejected, but it was resolved instead." And then if the message is provided add it. Like:

[code]

[2017-04-05 15:38] sindresorhus commented on #1342
Sorry for being unclear, by message, I meant explanation, not the `message` argument.

I would also include the value for completeness:

[2017-04-05 15:40] novemberborn commented on #1342
Yes that sounds good.

[2017-04-06 04:40] tony-kerz commented on #1329
so, i created a bash script to run the 15 test files separately with timers and indeed each file took about 15s to run which added up to about 3m, but...

i noticed that the first file ran in about 2 seconds.

so i commented out running a few of the files, but always the first one to run, runs in about 2 seconds and all subsequent run in about 15s...

so, i created this simple test:

[code]
and ra

[2017-04-06 05:12] zs-zs commented on #1340
I've just ran into the same issue while evaluating Flow. It seems the cause of the problem is that `beforeEach` and `afterEach` now has the type `TestMethod` which can only have a `Test` body instead of a `ContextualTest`. Changing its type to `ContextualTest` fixed the issue - at least for me.

But it's strange that there is one automated test which is actually asserting that context should *not*

[2017-04-06 06:48] FrankFang commented on #1139
No luck...

[2017-04-06 08:34] novemberborn commented on #1329
But, those are separate AVA runs! That is baffling (and I don't have anything more to add, sorry).

[2017-04-06 08:36] novemberborn commented on #1340
I think the unit test is wrong, and indeed the type definition

[2017-04-06 08:47] novemberborn opened #1345 "MaxListenersExceededWarning for beforeExit event"
`Sequence` listens for the `beforeExit` event. This is done for every test in the worker. If there are more than 10 tests this causes a `MaxListenersExceededWarning` to be reported.

See https://github.com/avajs/ava/blob/8f80ed104c2c72dfa8ad9e98f2455cf36f09b72d/lib/sequence.js#L22.

We need to manage `beforeExit` subscriptions so that we only listen on `process` once, but still allow multiple call

[2017-04-06 09:53] zs-zs commented on #1340
Okay, I fixed the test by removing it :) Also did some cleanup. Let's see how it works.

Until the fix is released, a possible workaround is casting to any which seems to solve the problem:

[code]

[2017-04-06 10:17] mightyiam opened #1347 "Test context type missing `end` (at least in callback test)"
## Description

Default `t` type for at least callback tests is missing `t.end`.

![screenshot_2017-04-06_13-09-30](https://cloud.githubusercontent.com/assets/635591/24749223/ebea5d12-1aca-11e7-871b-b501ed4aa88b.png)

## Relevant Links

https://github.com/mightyiam/cyclejs-components/pull/122

## Environment

Node.js v7.8.0
linux 4.10.0-15-generic
npm 4.2.0
ava 0.19.0

[2017-04-06 17:04] AutoSponge commented on #1132
I'm running into an issue with this decision. While using zeit/micro for a server, which uses async-to-gen, I don't get accurate coverage data when using:

[code]

However, the tests run fine. If I want accurate coverage (from nyc), I have to go to latest node version and remove the `require` config. However, my build server can not be upgraded to latest yet. I'd like to have ava run tests under a

[2017-04-06 18:46] Magellol commented on #1333
I'm actually in the need of having different set of configurations.
I'm using `ava` to test react components but also code living in the server (proxying requests and handling server side rendering for instance). Although, some parts of my server don't need to be transpiled by babel (node js compliant code) but I couldn't find a way to specify a per directory config set, so ava runs all tests unde

[2017-04-07 10:11] novemberborn commented on #1132
@AutoSponge I'd write a little wrapper module that checks the Node.js version and requires `async-to-gen/register` if it doesn't support `async/await`.

[2017-04-07 10:12] novemberborn commented on #1333
@Magellol you should be able to specify an `ignore` pattern in your [Babel options](https://babeljs.io/docs/core-packages/#options) which causes it to ignore those files.

[2017-04-07 12:31] Magellol commented on #1333
@novemberborn Oh interesting. Will check it out, thanks!

[2017-04-07 12:43] AutoSponge commented on #1132
@novemberborn great idea. This worked for me.
[code]

[2017-04-08 16:56] CImrie commented on #807
Hi guys,

Not much has been said on this recently but I just published a package to make this much easier.
It uses the great mongodb-prebuilt library to run in-memory MongoDB servers and you'll get a new test database for each test case.

Check it out if you need a solution:

- [Readme](https://gitlab.com/cimrie/mongomem)
- [NPM](https://www.npmjs.com/package/mongomem)
- [Blog Post detailing how I

[2017-04-09 08:44] rhysburnie opened #1349 "MaxListenersExceededWarning"
Hi,

I've been writing tests - new to AVA and have 27 done all passing.
However after the 27th the following started appearing:

[code]

Is there some gotcha as far as setup goes that I should be aware of?
The tests themselves are passing.

[2017-04-09 09:20] novemberborn commented on #1349
Yes, see https://github.com/avajs/ava/pull/1346. I'll probably get that out as a `0.19.1` patch release tomorrow.

[2017-04-09 09:20] #1349 closed

[2017-04-09 11:40] cevek opened #1350 "Out of memory if compare huge objects"
### Test Source

[code]

[code]

[2017-04-09 14:20] novemberborn commented on #1350
What version of AVA, `jsdom` and Node.js are you using?

I've tried to reproduce this with `0.19.0`, `9.12.0` and `7.8.0` respectively, but though the output is massive, it doesn't crash:

[code]

(We're aware of the output size issues.)

[2017-04-09 14:23] novemberborn commented on #807
That looks pretty great @CImrie! Would you be interested in turning it into a recipe? https://github.com/avajs/ava/tree/master/docs/recipes

[2017-04-09 14:33] cevek commented on #1350
ava version: 0.18.2
node: 7.4.0
So, yeah, that's example doesn't crash, cause output it is not very much :)
[code]

[2017-04-09 15:27] novemberborn commented on #1350
Ha, nice! With https://github.com/avajs/ava/pull/1341 we're hoping to control how many properties are output for `power-assert` assertions (`t.is()` is one of those). That will help with this scenario. Eventually it should also be possible to register helpers for say `jsdom` objects which can then print a more useful representation.

[2017-04-09 20:18] pomber opened #1351 "Optional format for string diff error messages"
Feature request:

When comparing two string with `t.is(actual, expected)` sometimes, when the test fails, is better to have the two strings side by side instead of showing the diff. It would be nice if this can be configured in some way.

For example:
`t.is("<undefined></undefined>", "<div></div>");`

Current output :
[code]

Suggested output (using same output as other types use):
[code]
Or even

[2017-04-10 08:11] novemberborn commented on #1351
I agree. With https://github.com/avajs/ava/pull/1341 (pending input from others) the output would be:

[code]

[2017-04-10 08:13] #1345 closed

[2017-04-10 08:22] #1347 closed

[2017-04-10 08:29] #1340 closed

[2017-04-10 11:12] mightyiam commented on #1347
Thanks, @novemberborn !

Hey, but, for the record, the `context` is `t.context`, and not `t`, as suggested above, right?

[2017-04-10 11:42] novemberborn commented on #1347
`t` is the "execution context" 😉

[2017-04-10 17:12] exogen opened #1354 "ava errors on Node <4.5.0 due to hullabaloo-config-manager"
## Description

Running `ava` errors immediately on Node 4.4 and lower with `TypeError: this is not a typed array` from `hullabaloo-config-manager`. That module's `package.json` specifies its minimum Node version as 4.5 and they ain't kiddin' – this affects basic usage of AVA.

(Unfortunately `npm` doesn't seem to warn about `engines` for transitive dependencies, so it doesn't even warn about `hul

[2017-04-10 21:03] CImrie commented on #807
@novemberborn Sure. I'll try to have a look over the common formats for your recipes this week and put something together :)

[2017-04-11 08:31] novemberborn commented on #1354
Ah yeah. `Buffer.from()` was backported in 4.5. Since `new Buffer()` is deprecated in newer Node.js versions it's annoying to have to work around it. We should update the version range and see if that leads to any issues. There have been security releases since 4.5 even so ideally nobody is using such old versions in production.

[2017-04-12 03:30] skawaguchi commented on #222
Here's another example that's kind of similar to what @fearphage mentioned above.

My group often uses [gherkins](https://github.com/cucumber/cucumber/wiki/Gherkin) to structure our tests. We have some pretty hairy business requirements, so our tests also serve as documentation of behaviour. We follow TDD and also do a bit of BDD, so we also try to use gherkins in our requirements to loosely captu

[2017-04-12 04:24] mightyiam commented on #222
@skawaguchi it seems rather typical to me. Thank you for the examples.

[2017-04-12 07:28] flying-sheep commented on #222
for me as well. conceptually, this is nothing but metadata on the tests.

the following conceptually expands to `[Test { before() }, Test { before() }]`, i.e. two separate tests with a “before” callback attached:

[code]

so if we have this:

[code]

it can also expand to a flat list of tests: `[Test { [before1(), before2()] }, Test { [before1(), before3()] }]`

[2017-04-12 12:23] revelt opened #1356 "Show a growing count of assertions done so far"
I have libraries that **programmatically** run multiple assertions within each unit test. For example, I would generate an array of all the possible combinations of a settings object, then `.forEach` loop through each and compare the input versus the output using `t.is`.

My problem is, currently there are up to 2048 possible combinations of a settings object, and it can take 10-20 seconds to comp

[2017-04-12 19:07] exogen commented on #1354
I agree. Unfortunately pre-4.5 seems to be the default on CircleCI, which is how I discovered this (all my projects using AVA were failing). I added a `circle.yml` to force a newer version. AVA can't fix that directly, but debugging would have been quicker if npm had warned about `engines` (it doesn't warn about `hullabaloo-config-manager`, but would warn about `ava` since it's a direct dep). I ca

[2017-04-13 08:33] novemberborn commented on #1356
I'm tempted to say that we'd rather see libraries generate multiple tests, though there's an associated overhead of course. And I'm sure there are scenarios where that's not as feasible.

Counting assertions may be a neat improvement to our timeout implementation, which currently measures the time since the last test completion.

I'd be somewhat concerned about the increased load on the IPC channe

[2017-04-13 08:34] novemberborn commented on #1354
That'd be great!

Do you think AVA should flat out refuse to start if it detects an outdated Node.js version?

[2017-04-13 08:56] exogen commented on #1354
I'd probably give people's environment the benefit of the doubt (like maybe they patched it up/polyfilled it to work somehow?), but print a warning when AVA starts – this would be more immediately visible than npm's warning (the user may have installed a long time ago before running `ava` in non-CI cases).

[2017-04-13 13:17] novemberborn commented on #1354
👍

[2017-04-14 23:04] eddyerburgh commented on #1276
Here's an example repo - https://github.com/eddyerburgh/avoriaz-ava-example

[2017-04-15 07:40] jackmellis commented on #1276
Nice. I've taken the exact test code and done the same with require-extension-hooks instead of webpack. Goes from 6.8s to 2.4s on my machine...

https://github.com/jackmellis/avoriaz-ava-example

[2017-04-15 07:42] eddyerburgh commented on #1276
Wow looks great! can you open a pr?

On 15 Apr 2017 08:40, "Jack" <notifications@github.com> wrote:

[2017-04-16 05:55] OmgImAlexis opened #1358 "ava --init should respect package.json indentation"
## Description
Running `ava --init` adds ava to my `package.json` but also reformats the whole file to 2 spaces instead of the 4 I have listed in my `.editorconfig`.

[code]

[2017-04-16 07:10] sindresorhus commented on #1358
npm doesn't preserve indentation, so wouldn't help much. Most people use `npm install --save` which makes npm modify the package.json. I would be willing to add this if npm added supported for preserving the existing indentation, but not worth the overhead when it doesn't.

[2017-04-16 07:38] OmgImAlexis commented on #1358
Yarn does preserve indentation so that'd be why I never noticed it. Since this and most of your other repos suggest using yarn over npm would you be willing to add it based on that?

[2017-04-16 07:53] sindresorhus commented on #1358
Ah, I didn't know that. I think it makes more sense to just preserve the existing indentation though, than specifically read `.editorconfig`. Could just get the indentation with [`detect-indent`](https://github.com/sindresorhus/detect-indent). Pull request welcome.

[2017-04-16 12:41] sindresorhus opened #1359 "Allow tests to tamper with Node.js built-ins without breaking AVA"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/1359/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/1359)

With latest master (c01ac05ef610c87f5c264b1a3eb80f89b4fc0832) and Node.js 4 and 7.

[code]

[code]

I think we need to protect all builtins from being overridden, so mocking in the tests doesn't affect our usage or our dependencies' usage of core APIs. Maybe

[2017-04-16 12:57] sindresorhus commented on #1359
Same without Sinon actually:

[code]

[code]

[2017-04-16 14:23] #1339 closed

[2017-04-16 20:58] kdex opened #1360 "Ava throws `Cannot read property 'moduleName' of null` since `0.19.0`"
## Description

Upgrading `ava` from `0.18.2` to `0.19.0` broke the tests in [ws-promise](https://github.com/kdex/ws-promise). Running ava will cause `Cannot read property 'moduleName' of null`.

This still happens in `0.19.1`.

### Test Source

No tests are required to reproduce; commenting out all tests in `ws-promise` results in the same error.

### Error Message & Stack Trace

[code]

### Conf

[2017-04-17 06:44] #1144 closed

[2017-04-17 08:03] novemberborn commented on #1360
What is your Babel config? The error comes from `babel-plugin-transform-runtime` which isn't used by AVA itself (not since `0.18` actually).

What do you mean by "ava worked at 1.0.3"?

[2017-04-17 12:30] kdex commented on #1360
Here's my Babel configuration:

[code]

By "ava worked at 1.0.3", I was referring to `ws-promise@1.0.3`. Back in `ws-promise@1.0.3`, the project had used `ava@0.18.2`, which didn't throw the error.

In other words, if I `git reset` to `ws-promise@1.0.3` and then `npm install ava@0.19.0`, the error from above arises.

I use `babel-plugin-transform-runtime` in `ws-promise` so that I can ship a trans