[2016-08-15 22:34] thejameskyle commented on #986
I apologize I did not respond the first time this ended up in my inbox.

I'm not sure what the limitations of TypeScript were that required writing a generation script. Hopefully the same problems do not exist.

As for Flow reading the TS definition files @sindresorhus is right, it would actually be much easier to generate TS definitions from Flow definitions as many of the semantics are intention

[2016-08-15 23:03] rhysd commented on #1004
`context` is a property to share some data between some test cases and hooks.  So I think it should be accessed in all hooks (`before`, `beforeEack`, ...).  At least until v0.15, I could access to `context` from all hooks.

[2016-08-16 04:29] SamVerschueren commented on #1004
From the docs

It was asked for multiple times. There is no valid use case why you want the context in before or after. Those functions apply to all the tests only once. If you want to setup some stuff in there, you should do it globally.

[2016-08-16 05:29] thejameskyle commented on #986
Okay so I was planning on just playing around with it but you nerd sniped me and I ended up doing the entire type definition.

I was *not* prepared for how big the [generated TypeScript `.d.ts` file is](https://gist.github.com/thejameskyle/f6e8bf275f623fb4a03b7ca42900c8a6). I spent a long time trying to deduce what the API limitations were from that API. But then I started exploring the actual imp

[2016-08-16 07:23] rhysd commented on #1004
@SamVerschueren

Thank you for explanation.  I checked my code and I actually used `beforeEach` and `afterEach` hooks only. Regarding `before` and `after` hooks it was my misunderstanding.

So, as @ivogabe said, `(!has('before') && !has('after')` guard is proper.

[2016-08-16 08:20] SamVerschueren commented on #986
Thanks for looking into this @thejameskyle! Nice to see how they compare. Although I don't think it's a 100% fair comparison :).

This is actually the reason why the TypeScript definition is this big. Although `test.serial.serial` might work, we discusses this when writing the definition and decided to not allow this because it doesn't makes sense. (Almost) all the code from [line 175](https://gis

[2016-08-16 08:42] ivogabe commented on #986
The TS definitions are indeed stricter; besides `test.serial.serial` it will also disallow things like `test.after.before`.

TS also supports intersection types and generics, so the definition of Flow can be ported to TS with almost the same amount of lines.

[2016-08-16 15:37] thejameskyle commented on #986
youkeepusingthatword.jpg

This isn't a matter of strictness, you're effectively enforcing a lint rule with the TypeScript definition which is not the purpose of a type system and just making it impossible to update the definition.

Also `test.serial.serial` is not an invalid combination. `option-chain` is designed so that the latter properties in the chain take precedence. All you are doing is set

[2016-08-16 16:17] thejameskyle commented on #986
Also, people keep taking this as a comparison between Flow and TypeScript. I wasn't bragging about Flow, I was bragging about my own mad skillz trying to figure out that crazy type definition.

[2016-08-16 17:32] SamVerschueren commented on #986
I believe a lot of people assumed that you where bragging about Flow, looking at the questions you received on Twitter :).

After reading your comments, I must admit that I believe you might be right. Type definitions represent the internal/runtime structure of the code, which isn't the case for the TS definition at the moment. So I will open a new issue to discuss this.
Because you are the Flow c

[2016-08-16 17:40] SamVerschueren opened #1005 "Is the TypeScript type definition wrong?"
As follow-up of a discussion started in #986, is the TypeScript definition wrong?

The definition is quite huge, ~1200 lines. The main reason for this is because it prevents TS users to do things like `test.serial.serial` or `test.before.after`, etc. But as noted by @thejameskyle, this isn't really representing the runtime structure of AVA.

So although it looks weird and nobody should do it, it's

[2016-08-16 17:52] thejameskyle commented on #986
lol idk

Could you give me an example of this?

[2016-08-16 17:54] thejameskyle commented on #1005
Just to emphasize, if you move this to a lint rule where you can express yourself more dynamically you will keep your type definitions small and much more maintainable.

[2016-08-16 17:59] SamVerschueren commented on #986
Let's call it that ;)

Sure, this is an example with private properties and methods.

[code]

Results in

[code]

[2016-08-16 18:21] kennetpostigo opened #1006 "Ava output has missing peices"
Hey,

I followed the instructions in the README.md and also ran the example tests and they run and work. I'm running Ava version `0.16.0`. However the output from Ava has like blank spots:

Output from passed test:
<img width="126" alt="screen shot 2016-08-16 at 2 18 13 pm" src="https://cloud.githubusercontent.com/assets/8888991/17710722/85b56d36-63bc-11e6-9c7d-aac9aad8644e.png">

Output from fail

[2016-08-16 18:24] thejameskyle commented on #986
Maybe this isn't the best place to discuss this particular issue.

One of the big differences between Flow and TypeScript is that in Flow if you strip the types you have plain JavaScript code and it behaves exactly as expected, we don't add any runtime features, and we don't modify any behavior whatsoever. We're actually unable to do that with our current setup. On the other hand TypeScript adds a

[2016-08-16 19:23] RyanCavanaugh commented on #986
Getting off-topic, but TypeScript has private members because people really really really really want private members. It's not enforced at runtime because there's not (in ES3 particularly) a way to do this that doesn't result in weird code mangling, has terrible performance implications, or usually both. Often people want private fields that are "sometimes" accessible (e.g. from unit tests, not t

[2016-08-16 19:35] sindresorhus commented on #1006
By default, AVA shows a minimal output on success, but verbose failures. We feel there's no point in showing a lot of verbose info when everything worked. If you really want verbose output, run AVA with the verbose flag: `$ ava --verbose`.

[2016-08-16 19:35] #1006 closed

[2016-08-16 19:44] kennetpostigo commented on #1006
@sindresorhus I'm not looking for the verbose output at all 😅
I'm wondering why this doesn't appear:
![screen shot 2016-08-16 at 3 44 13 pm](https://cloud.githubusercontent.com/assets/8888991/17713332/526214dc-63c8-11e6-9b37-092aa2dba2c5.png)

[2016-08-16 19:46] DanielRosenwasser commented on #986
TypeScript doesn't do any type-driven emit either. If you don't want to use namespaces or enums, you can feel free not to, the same way that you don't necessarily have to use certain features in Babel.

For the exact same TypeScript has types but doesn't do any dynamic runtime checking. Flow takes a page from that book too. The same way that types are a compile-time only thing, and that's how we v

[2016-08-16 19:47] DanielRosenwasser commented on #986
I disagree with the view that the pattern used here isn't the purpose of a type system. A type system can serve a lot of different purposes. I think it ultimately depends on what the authors wanted, so @sindresorhus and others should probably make that call.

For what it's worth, I managed to pretty quickly convert your declarations down to [this `.d.ts` file](https://gist.github.com/DanielRosenwa

[2016-08-16 19:49] sindresorhus commented on #1006
@kennetpostigo That's the verbose output. Try `$ ava --verbose` and you'll see.

[2016-08-16 19:57] sindresorhus commented on #1005
Agreed. In hindsight, it was not worth all the bloat, but it wasn't clear at the time how verbose it would turn out. I don't think anyone would do `test.serial.serial` anyway and we could indeed have a [ESLint rule](https://github.com/avajs/eslint-plugin-ava/issues/137) for it.

I think we should wait on [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser). We don't want

[2016-08-16 20:01] kennetpostigo commented on #1006
@sindresorhus hadn't realized that. Looking at the Readme I thought that was default ouput.

[2016-08-16 20:03] sindresorhus commented on #986
I appreciate everyones input. We really want to have the best possible type definition for both TypeScript and Flow. Let's keep this thread Flow related and continue the TypeScript definition discussion in https://github.com/avajs/ava/issues/1005.

[2016-08-16 20:06] sindresorhus commented on #1006
Ah ok. Yes, that screenshot is misleading. I've removed it.

[2016-08-16 20:20] thejameskyle commented on #986
Sorry, I shouldn't have let this go off topic. But if @SamVerschueren @RyanCavanaugh and @DanielRosenwasser want to talk elsewhere I'm happy too. I don't think my words are being understood as intended.

[2016-08-17 08:42] novemberborn commented on #1005
IMO we should change the runtime so you can't do these silly combinations. Having a stricter TS definition in anticipation of that change seems fine to me.

[2016-08-17 11:18] sindresorhus commented on #870
We also need this for a forthcoming Flow type definition: https://github.com/avajs/ava/pull/1007

[2016-08-17 17:07] thejameskyle commented on #1005
@novemberborn I'm having trouble imagining how the logic for that would work in [`option-chain`](https://github.com/avajs/option-chain) that wouldn't make the library a bit ridiculous.

Since you define chainable methods like this:

[code]

I think it's totally reasonable to have a scenario like:

[code]

Anything else you'd be looking up which options are set by which method chains and eliminate

[2016-08-17 17:29] novemberborn commented on #1005
@thejameskyle if I'm not mistaken, currently our `option-chain` usage allows confusing combinations like `test.after.beforeEach`. I'd like that to raise an error. With typed JS flavors we should be able to exclude those combinations entirely.

[2016-08-17 17:49] thejameskyle commented on #1005
Yeah it does allow that, but you're suggesting a change that impacts more than just that scenario which probably never happens in the real world anyways– and even if it did happen it would work fine.

[2016-08-17 18:08] #1004 closed

[2016-08-18 02:11] rhysd commented on #1004
@SamVerschueren @sindresorhus Thank you :smile:

[2016-08-18 04:54] timurtu commented on #936
Hello, I'd like to contribute if anyone else hasn't taken this. By outside package root do you mean calling './(project-root)/node_modules/.bin/ava -w' from a shell (or child_process) isn't working?

[2016-08-18 09:22] korsmakolnikov opened #1010 "EADDRINUSE trying to debug"
## Description
I've seen an old issue like this you say was resolved by node updates. In my case not. I'm try to debug ava test with webstorm and phpstorm and got this:

### Error Message & Stack Trace
![image](https://cloud.githubusercontent.com/assets/13141364/17768649/3f2e2dc4-6535-11e6-9335-a8974ef3d382.png)

### Config
From package.json:
`"ava": "^0.16.0",`

Config to run
![image](https://clo

[2016-08-18 14:44] shinzui commented on #32
@sindresorhus I don't think the codemod should block this issue. I just started using ava and I wasted a lot of time figuring out why hapi was not loading my models correctly in the tests. I initially blamed hapi-shelf (plugin to load bookshelf models), but after tracing the code I discovered this issue and easily fixed my test to work around it.

[2016-08-18 15:07] sindresorhus commented on #32
Yeah, let's just do the change.

It's hard to do a codemod for this correctly anyway, and I don't think it's important enough to force us to continue having surprising behavior for new users.

@avajs/core ?

[2016-08-18 16:15] #998 closed

[2016-08-18 16:23] sindresorhus commented on #1010
It's fixed in master (https://github.com/avajs/ava/commit/c268c8dfce325010f84dd4097ba8696c5f3a47c1) and will be available in the next release: https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-webstorm.md

[2016-08-18 19:18] jasongin commented on #1010
I'm trying to debug using VS Code. I got the fix above to resolve the EADDRINUSE issue. But now the problem is the debugger only attaches to the parent process, so the 4 child processes sit waiting forever for a debugger that never attaches.

[code]

Why does ava launch 4 child processes, even when the --serial flag is passed? I think to successfully debug it would need to run the tests directly i

[2016-08-18 19:25] sindresorhus commented on #1010
@jasongin I think that fix is only for WebStorm. For a CLI fix, see https://github.com/avajs/ava/pull/929.

[2016-08-19 09:00] novemberborn commented on #32
👍

[2016-08-19 13:25] apedyashev opened #1011 "Recipe for using AVA with Webpack aliases"
I use Webpack in my app and I defined aliases in config:
webpack.config.dev.js:

[code]

And I import modules like so:
componts/LoginPage.js

[code]

instead of

[code]

But AVA doesn't allow to define aliases, so I'm unable to test **componts/LoginPage.js** with AVA since it throws that error:

[code]

Is there a solution?

[2016-08-19 15:30] Futourism opened #1012 "Help to use AVAjs cross-projects on VS and shimming non-AMD"
Hello!
First, thanks for this great project!

My situation is this:
- I've one project in Visual Studio that uses require for AMDs.
In this project there are just the js files for the site.
One of these that I want to test is not an exportable module and in the project I shim it with require.config.
- I created a second project for unit tests that reference the dlls of the first.
I wanted to add u

[2016-08-19 18:37] Futourism commented on #1012
or is there a way to use AVA with Karma?

[2016-08-19 19:56] shaunstripe opened #1013 "ref('...').isEmpty() is always false"
Example of `ref()` usage with unexpected behavior:

[code]

Contrast with behavior of `find`

[code]

[2016-08-19 19:58] shaunstripe commented on #1013
wrong repo

[2016-08-19 19:58] #1013 closed

[2016-08-20 17:14] sindresorhus commented on #1012
We would be happy to answer your questions, but this is an issue tracker for actual issues. Ask on Stack Overflow instead and use the [`ava`](https://stackoverflow.com/questions/tagged/ava) tag. Make sure to post the link to your question here for posterity :)

[2016-08-20 17:15] sindresorhus commented on #1012
We're [working on it](https://github.com/avajs/karma-ava), but it's not yet ready.

[2016-08-20 17:15] #1012 closed

[2016-08-20 17:24] sindresorhus commented on #1011
I'm not familiar with Webpack, but it's not something AVA itself should be concerned about. You're using Webpack to add non-standard functionality (aliasing) to `require`, so it's up to you, or rather Webpack to make it compatible. I guess you could compile your code using Webpack and test the compiled code. There are also Babel plugins you could use, like [babel-plugin-webpack-loaders](https://gi

[2016-08-20 17:34] istarkov commented on #1011
Yes babel-plugin-webpack-loader could be used to resolve such imports
Not sure it supports aliases (as I does not use aliases), but it supports [modulesDirectories](https://github.com/istarkov/babel-plugin-webpack-loaders/blob/ae2b860eaab5c2d937d77868a2ec6cf0461753c3/test/runtime.webpack.config.js#L22) webpack directive.

All aliases in @apedyashev example could be changed on just one modulesDirec

[2016-08-20 17:42] Futourism commented on #1012
Hi Sindre, thanks!

I already posted the issue on StackOverflow:
http://stackoverflow.com/questions/39053566/ava-unit-test-use-gulp-ava-to-test-global-functions

[2016-08-20 18:52] apedyashev commented on #1011
Thank you, guys for your help. It seems to work with following configs:

**config/webpack.config.ava.js**
[code]

**package.json**
[code]

**.babelrc**
[code]

[2016-08-20 23:29] eloquence commented on #310
I recommend playing with ava's async/await support to make this easier. Here's an example using `supertest-as-promised` (which is a thin wrapper around supertest) and a POST request to a form (not an API endpoint, but the principles are similar). For more on the t.context use, see further below.

[code]
As you can see, we can combine supertest's testing patterns with ava's. Since these particular

[2016-08-21 14:12] sibelius commented on #665
should I mock the filesystem to make this work:

dotenv-safe do not work with ava
https://stackoverflow.com/questions/39065075/env-do-not-work-with-ava

[2016-08-21 14:15] thangngoc89 commented on #665
@sibelius could you post your AVA configuration/ test code ? Mocking filesystem is a different problem here

[2016-08-21 14:39] sibelius commented on #665
ava configuration

[code]

I'm testing a koajs server using https://github.com/rolodato/dotenv-safe to require .env files

it is failing in this line of dotenv-safe

node_modules/dotenv-safe/index.js:26:42) (https://github.com/rolodato/dotenv-safe/blob/master/index.js#L26)

[2016-08-21 17:58] sibelius commented on #665
@thangngoc89 this is a repo https://github.com/sibelius/koa-env-ava

that reproduces this error

[2016-08-22 11:15] sibelius commented on #665
fixed here: https://github.com/sibelius/koa-env-ava/pull/1 tks

[2016-08-22 12:10] sibelius commented on #472
@nfcampos could u post an example of how to use ava with mockgoose ?

[2016-08-22 15:53] MiguhRuiz opened #1016 "Cannot find module './_checkGlobal' when running my tests"
There is an error running my tests.

### Test Source

[code]

### Error Message & Stack Trace

[code]
### Command-Line Arguments

[code]

## Environment

[code]

[2016-08-22 15:59] nfcampos commented on #472
@sibelius

very generally there's a couple things to be aware of
- mock `mongoose` before calling `mongoose.connect`
- after mocking (`mockgoose(mongoose)`) call `mongoose.connect`
- after that and before the tests run populate `mongoose` with some models you'll use in the tests if you need to
- if some of your tests change the contents of the db you'll need to run all of the tests that use the db

[2016-08-22 16:51] sibelius commented on #472
can't I have a different "database" for each test?

[2016-08-23 16:49] Knorcedger commented on #1011
Tnx @apedyashev !! This should be in a recipe!

[2016-08-23 16:55] kentcdodds opened #1017 "Disable power assert"
## Description

As amazing as [`power-assert`](https://npmjs.com/package/power-assert) is, it's constantly causing my team problems. Often it results in reeeeally weird behavior (for example, sometimes suddenly AVA thinks we have infinite tests and runs them like it's got a mind of its own until we kill the process). Often the issues involve JSX, enzyme wrappers, objects with circular references,

[2016-08-23 16:56] xjamundx commented on #1017
My personal favorite power-assert issue from last week was failing the same test over and over again <img width="1021" alt="screen shot 2016-08-17 at 2 44 19 pm" src="https://cloud.githubusercontent.com/assets/246143/17901336/cdc1bc46-6917-11e6-9d9e-8c210d9eba9f.png">

[2016-08-23 19:45] nfcampos commented on #472
@sibelius answered you on the other thread

[2016-08-24 09:53] MiguhRuiz commented on #1016
I've solved in reinstalling ava.

[2016-08-24 09:53] #1016 closed

[2016-08-26 09:33] jcama commented on #1017
Hi! @kentcdodds @xjamundx  I'm working on a similiar test framework project. Wont to help me out? If so drop an email at jonnycasamillo@gmail.com. For others as well. Feel free to send an email!

[2016-08-26 10:34] sindresorhus commented on #1017
Makes sense to me. I've run into some problems with power-assert in the past too.

That doesn't mean you shouldn't report issues regarding power-assert, though. @xjamundx Can you open a separate issue about that?

[2016-08-26 12:19] jfmengels commented on #1017
I'd like to work on this. I want to get more accustomed to the AVA codebase.

[2016-08-27 01:21] eloquence opened #1018 "Expose verboseness flag to tests/fixtures/helpers"
For reporting purposes, I would find it useful to be able to tell within my tests whether the test runner was invoked with --verbose. This would let me use a single flag to control verbosity of fixtures and helpers (such as progress reports). I can achieve this with a wrapper script or a separate variable, of course, but direct access from within tests would be more convenient and less error-prone

[2016-08-27 10:17] jfmengels commented on #1018
Sounds to me like what [debug](https://www.npmjs.com/package/debug) offers you. Not behind a --verbose flag, but a process.env variable. Would that do the trick for you?

[2016-08-27 11:41] KnisterPeter opened #1019 "Error in typings with before/beforeEach and context"
Unlike documented and working the typings generated for ava contain a bug where the Test interface is given to the beforeEach callback instead of the ContextualTest interface (same for afterEach).

[2016-08-27 11:42] KnisterPeter commented on #1019
Sorry, already fixed by #1008

[2016-08-27 11:42] #1019 closed

[2016-08-27 15:55] jfmengels commented on #1017
Should this only be a setting available in the config, or also using the CLI?
If also in the CLI, what should the flag be named? `--no-power-assert`?

[2016-08-27 15:59] kentcdodds commented on #1017
Sounds good to me

[2016-08-27 16:01] sindresorhus commented on #1017
👍

[2016-08-27 16:10] #935 closed

[2016-08-27 18:05] btford opened #1020 "Feature: get names of all ava tests to be run"
## Description

I'm looking for some way to run ava (programmatically or via CLI) to just get a list of spec names, but without running them.

Some background: I'm working on adding tests to a legacy codebase, and I want to cover a combination of behaviors. It's very difficult to manually keep track of which behaviors I already have tests for, so I'm trying to automate it.

To do this, I might cre

[2016-08-27 20:44] eloquence commented on #1018
Thanks for the response, @jfmengels! I do currently use the debug module for this. There's two (admittedly small) issues with this:

- It's behind a separate flag
- I consider these more progress updates than debug messages, and they're styled to be consistent with the default verbose test output.

It's not a big deal and if you see it as crufty or if there are other reasons not to let the tests s

[2016-08-28 13:47] RyanAtViceSoftware opened #1021 "How to debug using chrome?"
I was just looking for guidance on how to debug. I've read through the various issues here and I see that you can use WebStorm but not everyone on my team uses WebStorm so I wanted a chrome devtools based approach. I was trying to use node debugger as shown below but I keep getting port errors. What am I doing wrong? Is there a better approach?

[code]

[2016-08-28 22:19] jfmengels commented on #1018
I'm not against this, but I think that using a process.env variable would simply do the trick in your case.

[code]

and run AVA using `VERBOSE=1 ava --versbose`
It does not come automatically with `--verbose`, but it should be fine unless you are developing an external library. You could do this if this gets rejected or while waiting for it to be implemented if approved.

[2016-08-29 05:11] jamestalmage commented on #781
Closing in favor of #583. (Hanging === Pending)

[2016-08-29 05:11] #781 closed

[2016-08-29 15:57] rcorrear commented on #1005
There's also a few things missing, in test.beforeEach/afterEach implementation (callback) should be as far as I understand a ContextualTest; this is preventing me from upgrading to 0.16. Also something that would be nice to have is always which is completely missing from the picture which I guess would have to be added to every namespace that allows it.

Is anyone still working on this? Is there a

[2016-08-29 18:26] SamVerschueren commented on #1005
On mobile now so hard to check, but `beforeEach` and `afterEach` shouls return that. What do you get?

And what is missing from the definition? `always`?

[2016-08-29 19:53] sindresorhus opened #1023 "Recipe for using AVA with Selenium"
It's a common need. We should have a [recipe](https://github.com/avajs/ava/tree/master/docs/recipes) to make it easy for users to get started.

I think [Webdriver.IO](http://webdriver.io) would be the best choice.

[2016-08-30 02:44] sotojuan commented on #404
What abut `source` vs `files` in the AVA `package.json` options?

[2016-08-30 09:36] sindresorhus commented on #404
@sotojuan Have you encountered anyone getting confused by those?

[2016-08-30 12:17] ivogabe commented on #1005
@rcorrear `context` for beforeEach/afterEach was fixed in #1008. I've got a fix for `always` in #1025.

[2016-08-30 12:29] ivogabe commented on #1005
I see that the following questions have been discussed:

1. Should silly combinations be disallowed by the runtime?
2. Should TS block these silly combinations?

The only reason against 1 was that it could break other usages of `option-chain`. Though I think that it would be easy to add it behind an option or something like that. Then other users can opt-in/opt-out of this behavior.

I think that

[2016-08-30 12:50] sotojuan commented on #404
Just did on an IRC!

[2016-08-30 13:18] Overdrivr commented on #222
I pretty much agree with @ORESoftware

I used mocha in a previous to test a [loopback](http://loopback.io/) server application, and I looked at AVA mainly for the "each test (suite) runs in its own process", because properly clearing up the server/npm cache between test suites was starting to be a nightmare.

So for this AVA is a big winner, however, the lack of nested tests or at least hierarchic

[2016-08-30 13:30] sindresorhus commented on #404
Can you copy paste the conversation for context? Like, what was confusing about it.

[2016-08-30 15:11] sheerun commented on #222
Not possible unless someone figures out interactive output formatter a'la less. Tests are run asynchronously, so it's impossible to group them and at the same time output logs line-by-line.

[2016-08-30 15:29] sotojuan commented on #404
Ah, sorry I should've just said everything in the first comment. My friend was just confused about the difference between both (what do they do?)—they do look very similar. Maybe not a pitfall but worth a sentence or two in the `readme`.

[2016-08-30 15:32] Hurtak commented on #222
- That doesn't seem to be problem, you could just output `${ testGroup } - ${ testName }...` for these line-by-line test results
- For CI you could have different reporting which would print the results after all tests are done, so the output can be nicely formatted and nested like in mocha

[2016-08-30 20:47] thejameskyle commented on #1005
I think I'll respond to all of that by saying please don't add complexity for complexity's sake when there is no noticeable positive impact to anyone.

Enforcing this means:

**Cons:**
- Writing generation scripts for types for both Flow and TypeScript
  - Making contribution harder
    - Making it far more likely to fall out of date
- Writing an option to the option-chain library that adds a bunc

[2016-08-30 23:04] gravitypersists opened #1026 "Directories named fixtures, helpers and node_modules are NOT always ignored."
The main Readme states:

however in package.json if you do:

[code]

this is not true at all, ava will complain that these files have no tests. Ava does not complain when you use `"./assets/tests"`, though. Unsure if this is a clarification issue with the readme or if this is actually unintended.

version 0.16.0

[2016-08-30 23:05] #1017 closed

[2016-08-30 23:07] sindresorhus opened #1027 "Fix tests on Node.js 6.5.0"
From https://github.com/avajs/ava/pull/1024#issuecomment-243609090. They passed on 6.4.0, but something changed.

[2016-08-30 23:23] sotojuan commented on #1027
So in the runner tests there's the "test types and titles" test, and for some reason the `beforeEach` and `after` are being set as `fn` Only happens with those two. Investigating!

[2016-08-30 23:38] sotojuan commented on #1027
Problem seems to be with the `fn-name` module.

[2016-08-30 23:46] sotojuan commented on #1027
This code:

[code]

running in 6.4.0 logs out `null`.

In 6.5.0, it logs out `fn`.

[2016-08-30 23:50] sotojuan commented on #1027
...And further down...

6.5.0:

[code]

6.4.0:

[code]

@sindresorhus So what should be done in `fn-name` to handle this? Unless the result is to just change the AVA tests to expect `fn for test` instead of `beforeEach for tests` 😅

[2016-08-30 23:56] sindresorhus commented on #1027
I wouldn't consider it a bug in `fn-name`. It's just reading the `.name` property off the function. It seems the V8 version in Node.js 6.5.0 got better at inferring the function name.

[2016-08-30 23:57] sotojuan commented on #1027
Ah, I meant the search led to there—`fn-name` seems to work as intended.

[2016-08-31 00:01] sotojuan commented on #1026
Might just be an issue with the glob. `**/*` means everything as you know—AVA's file resolver might be getting overwritten by the results of that glob and not "re-ignoring" stuff. IMO this is something we should fix.

[2016-08-31 00:07] sotojuan commented on #1027
A quick way to fix this is to add a rule to the part of AVA's code that sets titles when they're `null` to also handle them the same way when they're `fn`. Just tested it and it works.

[2016-08-31 06:42] zixia commented on #178
I just switched from tap/tape from ava, which benifit me reducing the test time from dozens of minutes to around 3 minutes. ava is great.

when I made the transition, the main pain to me is the following 2 changes:

1. rename `t.equal` to `t.is`
1. rename `t.ok` to `t.truthy`

the reason I found this issue is because I have the same idea with @timoxley . but after I saw the explains from @sindreso

[2016-08-31 10:53] sindresorhus commented on #178
@zixia We're actually very close to having an automatic migration script: https://github.com/avajs/ava-codemods/pull/28 😃

[2016-08-31 10:56] #404 closed

[2016-08-31 11:14] zixia commented on #178
@sindresorhus ah, cool. it will help much. thanks!

[2016-08-31 11:30] zixia commented on #631
@niieani I think what @LiTiang asking, is the same question as I have:

1. we have a test file named: `case.spec.ts`

1. we want to run case.spec.ts directly(without any pre-compile). if we use ts-node, we can run it by `ts-node case.spec.ts`

1. we try to run `ava --require ts-node/register case.spec.ts`, but failed by the message:

I had looked through the issues, it seems this is a feature that

[2016-08-31 22:21] simonbuchan commented on #990
Hmm, I can't reproduce this:
- git bash 2.9.3.windows.1
- ava 0.16.0 and 0.15.2
- node 6.3.1
- Windows 10 insider build 14905

I've definitely hit power-assert failing in some cases (for me, when used from a `_helper.test.js`), but never a difference between cmd, git bash or even new ubuntu on windows.

[2016-08-31 22:22] simonbuchan commented on #990
I would suspect different paths for `node` or global `node_modules` are causing different versions to run?

[2016-08-31 22:28] simonbuchan commented on #976
Is there any reason `ava --watch` leaves the previous errors up? This would be out of scope for this issue, but ideally it would re-write to show only the still failing tests, so if that was done then there is only one timestamp to worry about here.

[2016-08-31 22:37] simonbuchan commented on #843
Obv. this should still be done, but is the OP using TeamCIty 9.1+? Colored output was supported with https://youtrack.jetbrains.com/issue/TW-23760

[2016-09-01 00:44] gravitypersists commented on #222
For me, I really like having tests aligned with one assertion. So something like:

[code]

is far less verbose than something like:

[code]

And I don't want to use `.before` here of course because I don't want this mutation applied to all my tests in the file, and I'd also rather not create many different files for something that is pretty well contained (such as testing a single action or reduce

[2016-09-01 02:08] sindresorhus commented on #404
@sotojuan Yeah, definitely. If anything is unclear, we should make it clearer. Wanna do a PR improving it?

[2016-09-01 18:19] bfred-it opened #1029 "Timeout message doesn't show which error timed out"
## Description

When ava fails because of a timeout, there's no way to know **which** test timed out

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

None

### Command-Line Arguments

[code]

## Environment

OSX 10.11
ava 0.16.0
node v6.2.2
npm 3.10.6

[2016-09-01 21:45] dchambers opened #1030 "Watching doesn't work properly on Linux"
On my Linux laptop, `--watch` only re-runs your tests when you edit code that happens to be in the same directory as one of your tests. Is this maybe because [Inotify](https://en.wikipedia.org/wiki/Inotify) doesn't support recursive watch handles?

[2016-09-01 21:46] dchambers commented on #1030
On the flip-side, AVA tests are an order of magnitude faster (~2s instead of ~20s) on my Linux laptop (i5 x 4 @ 2.2Ghz \w 8GB RAM & SSD) than they are on my Mac laptop (i7 x 2 @ 2.2Ghz \w 8GB RAM & SSD) :smile:. I'm guessing this is either as result of me using Babel or because [Node’s `require` is dog slow](https://kev.inburke.com/kevin/node-require-is-dog-slow/), but this dramatic speed differen

[2016-09-02 10:54] danprince opened #1031 "Docs: Really, use `t` for assertions"
I just tried to covert a project that's tested with [tape](https://github.com/substack/tape) over to using AVA instead. The tests all follow this kind of format:

[code]

They seem to run just fine under AVA, but the assertion messages don't show up when I create a failing test case, just the test messages.

Is there a way to report on the assertion messages? Or is the best practice just to wrap e

[2016-09-02 12:58] jamestalmage commented on #1031
AVA doesn't report assertion messages unless one fails. It only reports test failure / success.

Changing the behaviour to be more like tape would be problematic because so many tests run and report concurrently. The onslaught of outpu

[2016-09-02 14:55] danprince commented on #1031
Thanks @jamestalmage. Looking at the AVA branch again, I realise I slightly misreported the problem I was having.

![](https://i.imgur.com/EnVZnu9.png)

When a test fails I get the message, but none of the details I'd need to actually start fixing it. Seems like this might just be the behaviour for the default reporter?

I tried the tap reporter to check and it does report the failing conditions,

[2016-09-02 15:06] jamestalmage commented on #1031
Try using `t` instead of `assert` as your parameter name (using `t` should enable `power-assert`).

Also, `t.is` does strict comparison, not deepEqual. Use `t.deepEqual` for that.

[2016-09-02 16:28] danprince commented on #1031
Really?

It seems to work. But that's kinda voodoo.

All the same, if possible I'd prefer to stick with tap-spec and the output produced with the `--tap` flag still shows `[object Object]` even using `t` rather than `assert`.

Happy to make the PR if this just needs a more thought out string converter for the tap reporter.

[2016-09-02 19:22] jamestalmage commented on #1031
Improved TAP output would certainly be welcome. I'd like to see someone pick up where I left off in [`tap-emitter`](https://github.com/avajs/tap-emitter) and land a PR that switches to using that.

It's a little more complicated than that. It involves YAML conversion, among other things. Right now, our TAP output is very naive. The TAP spec actually has some complex rules that we aren't following

[2016-09-02 20:03] jamestalmage commented on #1031
Yes, yes it is. This is a byproduct of the way `power-assert` works. It uses a pattern matching scheme that makes it easier for implementors to wrap *any* assertion library with `power-assert` goodness without having to understand the ES AST at all (which is super awesome). That said, the AVA team certainly has members capable of creating a more robust matcher that would detect your use of a diffe

[2016-09-04 11:24] vdemedes commented on #1029
AVA does not show which test timed out, because AVA does not track timeouts per test. What we do is, we reset one global timer every time the test finishes. So what AVA implements is actually a global idle timer. When no new tests have completed during a specified time frame, AVA fails with a timeout message.

Please check out the docs regarding timeouts: https://github.com/avajs/ava#global-timeou

[2016-09-04 11:28] vdemedes commented on #1018
I think we should proxy CLI flags to the `node` child processes, so that users could easily access them.

Tip: https://github.com/sindresorhus/has-flag.

[2016-09-04 16:18] #986 closed

[2016-09-04 16:21] sindresorhus opened #1032 "Remove workaround in Flow definition"
See https://github.com/avajs/ava/pull/1007#issuecomment-243058789. When https://github.com/facebook/flow/issues/106 is resolved.

// @thejameskyle

[2016-09-05 10:29] smeijer commented on #1031
I had this exact same issue. I guess it's worth a note in the readme, perhaps under `FAQ`.

**Why is the power-assert information not shown?**

[2016-09-06 22:08] ngryman opened #1033 "New watch mode: only re-run failing tests until they pass"
Hi,

I would like to open a discussion around a new feature that might be interesting to use during development.

Usually when you add a new feature or fix a bug on a project, you add a new test, watch it fail and then code until it finally passes. This is `tdd`, nothing new. During this process, you are likely to be interested only in this particular test for several reason:
- Your whole test sui

[2016-09-07 15:00] jfmengels commented on #1033
Hi @ngryman!

I'm not sure that this is a good idea, as you would lose the information/feedback about whether your other tests (in the same file or the files affected by the modified file).

If you only re-run a previous failing test, then you might break 10 other tests without knowing about it.

[2016-09-07 20:09] ngryman commented on #1033
Hey @jfmengels,

In the algorithm I proposed, **all failing tests** are re-run, so if you break things you'll know. Let's call this set of tests a `scope`. If you break tests out of the `scope`, you'll know it when you fix all tests in the current `scope`. They end up being run, as the algorithm run all tests when no test is failing in the current `scope`.

Not all tests have a direct relationship

[2016-09-07 21:08] jfmengels commented on #1033
You should not worry about that, it's good enough ;)

Okay, I think I may have read the proposal a bit too fast and skipped over the fact that tests are (almost) all re-run when the tests pass.

You still won't get the feedback that you broke other tests as long as you don't fix all the previous failing tests. In case you start with a lot of failing tests or a very tricky one, you might break a lo

[2016-09-07 23:37] ngryman commented on #1033
Thanks for your time and feedback man.

First I should have precised that while writing the second comment, I slightly changed the algorithm. If all of the tests in your `scope` pass then all the other tests are also run in the same batch. It avoids to manually get `ava` to re-run all tests.

So your table becomes again:

Modification | Test 1 | Test 2 | Test 3 | Test 4 | New test
--- | --- | ---

[2016-09-08 03:55] chentsulin opened #1034 "css-modules have inconsistent className hash using babel-plugin-webpack-loaders"
## Description

As title, test failed with AVA but passed with mocha.
### Test Source

[code]

[Source Code](https://github.com/chentsulin/ava-css-modules-issue-repro/blob/master/src/Button.ava.spec.js)
### Error Message & Stack Trace

[code]

![2016-09-08 11 53 19](https://cloud.githubusercontent.com/assets/3382565/18336577/e6397804-75ba-11e6-9ef1-527edce80398.png)
### Config

[code]
### Command-

[2016-09-08 04:05] tw0517tw commented on #1034
Got same result with
[code]

[2016-09-09 03:41] chentsulin commented on #1034
@istarkov Any thoughts?

[2016-09-10 11:31] fearphage commented on #971
Your statement applies to individual test timings as well. Are those an equally useless metric? Should I submit a PR to remove them?

[2016-09-11 14:33] vdemedes opened #1037 "Fixtures and helpers are not compiled via Babel"
I've used default function parameters while testing code on Node.js v4 (which does not support them) and discovered that AVA does not compile helpers, fixtures and underscore-prefixed files (e.g. `_setup.js`).

I compile the library source via Babel and AVA takes care of test files, but using "next-gen" code in test helpers breaks the compatibility.

The solution to this would be to include `tests

[2016-09-16 02:52] dmisdm commented on #631
Id really rather not have to get webpack to compile .js files using typescript.
This is from ava-files
[code]
Is there some rationale behind this that i haven't picked up?

[2016-09-17 20:48] #1027 closed

[2016-09-18 18:29] revelt opened #1039 "Reporter should support all Unicode strings"
## Description

Let's make AVA emoji-friendly. Currently it's difficult to use AVA for testing libraries that perform string operations. Here, errors regarding strings containing emoji appear chopped off and often contain broken characters. Consider the most basic example:

### Test Source

[code]

### Error Message & Stack Trace

Notice the broken symbol:

[code]

Since one emoji `.length` equals

[2016-09-18 18:31] sotojuan commented on #1039
Sounds great! Is there any library or resource I can look up to help with this?

[2016-09-18 18:49] revelt commented on #1039
I tend to solve string `.length` problem like [Sindre](https://github.com/sindresorhus/splice-string/blob/master/index.js) — convert the string to an array using `lodash.toarray`, then measure it using `Array.length` (or perform operations on that array, later `.join('')`-ing back 😊).

[2016-09-18 19:05] sotojuan commented on #1039
Cool, I'll give it a shot tonight : )

[2016-09-19 06:48] kpman commented on #1034
@sotojuan Do you have any idea about this issue?

[2016-09-19 13:18] sotojuan commented on #1034
I really don't know as I don't use CSS Modules or even test my React apps much :p I tried running tests serially with `concurrency=1` and it still doesn't work.

Maybe @kentcdodds @MoOx might know, not sure. I'll keep looking into it.

[2016-09-19 13:30] sotojuan commented on #1039
@revelt Can you check if this isn't an issue with your system? I'm on OS X El Capitan and have tested with Node 4, 5, and 6, iTerm 2 and Terminal and I get the following:

<img width="660" alt="screen shot 2016-09-19 at 8 27 46 am" src="https://cloud.githubusercontent.com/assets/8217766/18633711/42d4a4a4-7e43-11e6-9811-702fe280fa03.png">

Seems right?

[2016-09-19 13:40] revelt commented on #1039
Good spot, it's HyperTerm, I can't recreate the issue on iTerm2 too... Let's close this issue, thanks for clearing this.

[2016-09-19 13:40] #1039 closed

[2016-09-19 13:45] MoOx commented on #1034
I was not using babel webpack plugin & were using `ignore-styles` package.

[2016-09-19 14:16] istarkov commented on #1034
https://github.com/istarkov/babel-plugin-webpack-loaders/blob/master/README.md#important-note

[2016-09-19 18:55] sotojuan commented on #1026
@gravitypersists, it turns out it's a glob issue and not an AVA one.

Try: `assets/tests/**/*.js` Should work.

See:

https://github.com/isaacs/minimatch/blob/master/test/patterns.js#L130-L131

[2016-09-19 18:55] #1026 closed

[2016-09-19 19:03] kevva commented on #1026
Maybe we should take this into account in `ava-files` though?

[2016-09-19 19:08] sotojuan commented on #1026
Ha, right sorry. I mean, we need to do something about this. Maybe if we see `./` at the beginning of a blog we take it off? Might as well not have users worry.

[2016-09-19 19:20] sotojuan commented on #1026
Doing that ^ fixes this example.

[2016-09-19 19:31] kevva commented on #1026
I think we should add it to the globs instead. It's probably less prone to fail.

[2016-09-20 18:46] sotojuan commented on #987
@nesukun Sorry for the delay. Are you having the same issues in 0.16?

[2016-09-20 20:20] nesukun commented on #987
Hi @sotojuan,
Yes, my lastest samples are using whichever where the lastest 0.14 and 0.16 versions when I made the comment. If you think it might have been resolved since then, or it could help you debug better, I could try again whith the current version.

[2016-09-20 20:21] sotojuan commented on #987
Sorry, didn't see the 0.16.x! I'll investigate.

[2016-09-21 09:53] novemberborn commented on #765
@midnightcodr I'd guess in the former example `power-assert` is getting stuck serializing `res`. If this is still an issue with the latest version would you mind opening a new issue?

[2016-09-21 10:04] con-ssc opened #1041 "TypeError: Path must be a string. Received null"
## Description

ava nor ava --init nor ava --version is working.
The project has no config at all and no node_modules.
ava is installed globaly

### Error Message & Stack Trace

[code]

### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]

## Environment

Tell us which operating system you are using, as well as which versions of Node.js, npm, and AVA. Run the

[2016-09-21 11:16] novemberborn commented on #1041
That's [this line](https://github.com/avajs/ava/blob/v0.16.0/cli.js#L43):

[code]

That changed in #925. Looks like AVA now won't start without a `package.json` present. We use that file (or rather the directory it's in) to figure out various paths. I suggest that without it we just use the current working directory.

[2016-09-21 11:20] con-ssc commented on #1041
okay, ```package.json``` needs to be around AND it must be a valid JSON as well so an empty file doesn't fit.

[2016-09-21 12:49] pastak opened #1042 "Fail to load .babelrc with babel-preset-latest"
## Description

Fail to load `.babelrc` when it uses `babel-preset-latest` and sets `es2015` options.

### Test Source

[code]

via https://babeljs.io/docs/plugins/preset-latest/

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

[2016-09-21 13:42] novemberborn commented on #24
I'm curious what kind of browser support people are looking for.

* Do you want to see test results in the browser? In the CLI? Both?
* Do you start browser tests manually by navigating to a URL, or should AVA launch your browsers?
* How would you run browser tests in CI? Through SauceLabs / BrowserStack / others, or local VMs?
* Does your code need to be compiled specifically to be tested in a br

[2016-09-21 13:55] novemberborn commented on #25
I think we've become quite comfortable with AVA's built-in assertions since this issue was raised. We won't be adding tight integration for other assertion libraries any time soon, so I'm closing this issue.

[2016-09-21 13:55] #25 closed

[2016-09-21 14:05] sotojuan commented on #1041
Changing the line to this:

[code]

Fixed the issue for me. Good for a PR?

[2016-09-21 14:13] con-ssc commented on #1041
Would be good if a package.json would be created in the cwd if it is not there

[2016-09-21 14:14] novemberborn opened #1043 "Revisit programmatic API"
AVA exposes an API through `require('ava/api')`. It's what other Node.js programs should use (e.g. Gulp & Grunt, #345). Currently it's undocumented (#284).

Let's provide a reliable, documented, SemVer-compliant & public API.

Feature wise it should be possible to run individual tests, test files, and start watch mode, as well as interrupt test runs (#710). Integrations should be able to collect t

[2016-09-21 14:14] novemberborn commented on #141
Let's move the discussion to #1043.

[2016-09-21 14:14] #141 closed

[2016-09-21 14:15] novemberborn commented on #284
Let's move the discussion to #1043.

[2016-09-21 14:15] #284 closed

[2016-09-21 14:16] novemberborn commented on #345
Closing this since there are PRs, but they're effectively blocked by #1043.

[2016-09-21 14:16] #345 closed

[2016-09-21 14:34] novemberborn commented on #222
I ported my [Buoyant](https://github.com/novemberborn/buoyant) project from Mocha to AVA. It's this project that made me open this issue in the first place.

I found that explicitly calling helper functions in my tests, as well as using test macros, removed most of my need for nesting. The flat structure actually helped reduce repetition and made it easier to grok what was being tested. That said

[2016-09-21 14:38] bfred-it commented on #24
I'd use this on Travis+SauceLabs to verify real compatibility with browsers, rather than "compatibility with jsdom."  _My_ issue is I have no experience in setting this up, so documentation specific to AVA would be great, perhaps that's the only thing missing.

[2016-09-21 14:45] hoschi commented on #24
I give it a try with my current setup and use cases. On local (developer) machine tests get executed in jsdom environment for best performance. On CI server these tests should run in a real browser environment. If one of these tests fail, I want to be able to debug it with browsers dev tools.

CLI or file to save it for each build.

Both is needed to run a specific test in a specific browser and a

[2016-09-21 14:51] novemberborn commented on #399
The issue here is that our TAP output does not include the `power-assert` graph. I'm not sure if that's even possible within the TAP specification, and how that would interact with say `tap-nyan`. #723 suggests using the TAP v14 specification which may or may not be a prerequisite for resolving this.

See also #324.

[2016-09-21 14:59] novemberborn commented on #447
I think we're kinda already covering this. Of course if you use new language features that are supported by your targeted Node.js version you don't need to do anything special. If you need to transpile your source code we've covered that in the [Transpiling imported modules](https://github.com/avajs/ava/tree/4baa17038451f07ebe5d81a0ed42590e69913394#transpiling-imported-modules) section.

I'm closi

[2016-09-21 14:59] #447 closed

[2016-09-21 15:21] novemberborn commented on #517
I'm not convinced AVA should be keeping track of all test titles and warn you when there are duplicates. Assuming test failures come with stack traces they'll also come with line numbers, letting you find the offending assertion and thus test.

The linter rule seems like a sufficient solution.

[2016-09-21 15:48] novemberborn commented on #567
#214 already discusses AVA's inability to trace uncaught exceptions back to their tests. I've opened #1045 to document the resulting pitfalls, with a suggestion to promisify callback-taking functions.

Closing this as a duplicate of #214.

[2016-09-21 15:48] #567 closed

[2016-09-21 15:54] novemberborn commented on #611
@avajs/core any thoughts on this?

[2016-09-21 15:56] novemberborn commented on #619
@avajs/core bump :)

[2016-09-21 16:05] novemberborn commented on #631
Let's go for @joakimbeng's suggestion (https://github.com/avajs/ava/issues/631#issuecomment-221805713):

I'd say `-e`/`--extension` flags and `extension` in the config. Default to `.js`, so if you want to support both `.js` and `.jsx` you'd need `-e .js -e .jsx`.

Note that AVA will still assume the test files contain *JavaScript*. This is not yet a solution for supporting TypeScript test files ou

[2016-09-21 16:13] novemberborn opened #1046 "Separate config keys from CLI flags"
Currently the config object in the `package.json` is passed as-is to `meow`, providing default values for the CLI flags. This means that config keys need to match the CLI flags. CLI flags are singular, but sometimes config keys are better when pluralized. E.g. `sources` versus `source`, and the suggested `extension` flag in #631 versus `extensions`.

@avajs/core how about we change some of the con

[2016-09-21 16:41] novemberborn commented on #643
To recap, when a globally installed AVA is launched it checks if there is a local AVA installation. If so it hands off to that installation, else the global AVA installation is used. Then for each test file AVA launches a child process. It starts a test worker inside the AVA module. This worker then requires the test file using an absolute path. It verifies the test file has required `ava` and def

[2016-09-22 02:49] sindresorhus commented on #522
Closing as the ESLint plugin is very mature now.

[2016-09-22 02:49] #522 closed

[2016-09-22 07:21] sindresorhus commented on #517
@novemberborn Yeah, let's just go with the ESLint plugin for this.

[2016-09-22 07:21] #517 closed

[2016-09-22 09:42] jfmengels commented on #522
Finally!

[2016-09-22 09:44] novemberborn commented on #1041
I'd say that's up to you. `ava init` should just add to the existing package, not create a new one.

[2016-09-22 09:46] novemberborn commented on #1042
@pastak that error seems to come from Babel, not AVA.

[2016-09-23 06:48] sindresorhus commented on #25
People can already use their favorite assertion module with AVA. It just won't work with planned assertions. That being said, I almost never use planned assertions anymore, now that we have async/await.

[2016-09-23 13:53] novemberborn opened #1047 "Simplify t.throws()"
This is my proposal for resolving #661. In short I want to stop deferring to https://nodejs.org/api/assert.html#assert_assert_throws_block_error_message and remove various parameter overloads that are currently supported by the assertion.

Here's what I'd like to support:

[code]

If you need to test the errors class and message you should use the `t.throws` return value:

[code]

Passing anything

[2016-09-23 13:53] novemberborn commented on #661
Please see #1047 for my proposal on simplifying `t.throws()`.

[2016-09-23 13:56] novemberborn commented on #695
Macros shipped in <https://github.com/avajs/ava/releases/tag/v0.15.0>.

[2016-09-23 13:56] #695 closed

[2016-09-23 14:08] novemberborn commented on #779
Closing in favor of #1047. See also #661.

[2016-09-23 14:08] #779 closed

[2016-09-23 14:15] novemberborn opened #1048 "Thoughts on CLI flags"
Came across [this comment](https://github.com/avajs/ava/issues/782#issuecomment-217615776) from @jamestalmage:

I quite like this! Maybe it should be our "official" stance.

I think that'd mean `--require` has to go. On the other hand the `--source` flag may have to stay (as opposed to #937). We shouldn't have `--extension` either (#631).

Thoughts?

[2016-09-23 14:20] novemberborn commented on #782
At this stage I'm not convinced we need CLI flags to control AVA's usage of Babel. That's not to say this can't be improved or that AVA shouldn't integrate better with Babel improvements though. We're always open to suggestions there.

We won't add CLI flags to work around configuration issues. We're yet to be convinced we truly need support for non-`package.json` config files. Please continue to

[2016-09-23 14:20] #782 closed

[2016-09-23 14:21] novemberborn commented on #784
Like with spies, shouldn't this be something that can be provided through a third-party package?

[2016-09-23 14:25] novemberborn commented on #795
Going ahead and closing this then 😄

[2016-09-23 14:25] #795 closed

[2016-09-23 14:29] novemberborn commented on #823
Watch mode no longer crashes when Babel compilation fails, which means that the cursor can be restored when exiting watch mode.

[2016-09-23 14:29] #823 closed

[2016-09-23 14:45] novemberborn commented on #854
@jamestalmage closing this since it's quite speculative.

[2016-09-23 14:45] #854 closed

[2016-09-23 14:50] novemberborn commented on #881
I'm assuming this has been fixed, since #903 was merged.

[2016-09-23 14:50] #881 closed

[2016-09-23 14:53] novemberborn commented on #882
@vdemedes:

At this stage AVA can test Node.js code, so it shouldn't be too surprising you need additional setup to mimic a browser environment.

@lukechilds are you still interested in adding your module to the browser testing recipe?

[2016-09-23 15:00] lukechilds commented on #882
@novemberborn Yeah sure, I'm really busy atm but will try and find some time this weekend to write something up 👍

[2016-09-23 15:01] novemberborn commented on #920
Are we OK with the TAP reporter writing output from the test worker to `stderr`?

Is the remaining issue that we should implement `t.comment()`?

[2016-09-23 15:03] novemberborn commented on #921
@jluchiji is this still an issue? If you're still using AVA, would you be able to share the project? Or the test output? How can you tell it hasn't finished all the tests?

[2016-09-23 15:13] novemberborn commented on #928
@catdad

A crash due to a bug in AVA would be something we'd fix, yes. But what if the crash is caused by the code being tested? There is no 100% reliable way to recover from that and undo changes to the environment. Similarly the `--fail-fast` feature is designed to leave the environment in the state in which the failure occurred.

In other words, unless your tests always pass, there will be mome

[2016-09-23 15:18] novemberborn commented on #934
I think we should:

* Add `t.flaky` assertions
* If a flaky assertion fails, retry the test
  * Run `afterEach.always`
  * Re-run any `beforeEach` hook
  * Re-run test
  * Max two times
* Report flaky failures (https://github.com/avajs/ava/issues/934#issuecomment-228578745)

I'm not in favor of `test.flaky`. Users should be encouraged to determine exactly what is making their test flaky.

[2016-09-23 15:21] novemberborn commented on #937
Somewhat blocked by #1048.

[2016-09-23 15:23] novemberborn commented on #959
Closing due to inactivity.

[2016-09-23 15:23] #959 closed

[2016-09-23 15:26] novemberborn commented on #962
@jgkim #32 changes the CWD to always be that of the nearest `package.json`. However if you were to run AVA from a different directory, with a relative `NODE_ICU_DATA` path, the path in the child processes will still be wrong.

In other words we still need to make the path absolute.

[2016-09-23 15:30] novemberborn commented on #974
This is kinda Babel's problem, but it's still quite unfortunate. Not sure how much we should try and work around it, or whether the answer lies with AVA having improved support for use in Babel projects (i.e. not requiring `babel-register`).

Leaving this open until we can find a solution.

[2016-09-23 15:34] novemberborn commented on #976
@simonbuchan

The reporter buffer gets reset between test runs, so it can't clear earlier output. TBH I'm also not sure how terminals respond if you remove more lines than are currently displayed.

---

#939 implies a different approach to how we output logs, which could help with this feature request.

[2016-09-23 15:42] novemberborn commented on #983
I could only find <https://github.com/babel/babel/issues/563> on this, and there is some [TDZ related code ](https://github.com/babel/babel/blob/d7533e899f3d89bd7269a36618a3d6606cc399db/packages/babel-plugin-transform-es2015-block-scoping/src/tdz.js) in the `block-scoping` plugin. So maybe this is a Babel bug or maybe Babel decided it's too hard to fix.

As far as AVA goes, we can do better by not

[2016-09-23 15:42] #983 closed

[2016-09-23 15:46] MethodGrab opened #1049 "External macros are not transformed with power-assert"
## Description

External AVA macros are not transformed with power-assert.

### Expected
Macros in the same file as the tests (internal macros) should have the same behaviour as those imported from an external file.
Both tests should output the same error:

[code]

### Actual
External macros are not transformed with power-assert and so display standard errors.

### Test Source

Full example: https

[2016-09-23 15:49] novemberborn commented on #988
I've never used `iron-node`. @avajs/core any ideas?

Is this something we should still include? Seems prone to breaking…

[2016-09-23 15:54] novemberborn commented on #989
Like #988, @avajs/core any ideas?

Is this something we should still include? Seems prone to breaking…

[2016-09-23 16:03] novemberborn commented on #987
This is the [failing line](https://github.com/nesukun/mawpedia/blob/197e0bf0e5c170466f93128fa167fad76e2f2f4b/test/server/core/crypto.js#L21):

[code]

It's transpiled into:

[code]

The function wrapper was introduced in #742. It breaks the `async`/`await` transpilation, since the `yield (0, _crypto.hash)('4n0th3rp455w0rd')` is no longer used in a generator function.

@nesukun the workaround would

[2016-09-23 16:04] novemberborn commented on #987
@nesukun another potential workaround:

[code]

[2016-09-23 16:10] novemberborn commented on #990
@rickmed could you clarify what `git bash` is? Going by https://git-for-windows.github.io/ it's a bash emulator thing, though with <https://msdn.microsoft.com/en-us/commandline/wsl/about> being available that may not be as necessary to use at it once was.

[2016-09-23 16:13] novemberborn commented on #1005
I assume we're using `option-chain` because it's a nice way to create a chained API. But in actuality we don't want all those combinations to be used, and have written ESLint rules to prevent it. So then why not express the exact API and do away with `option-chain`?

@avajs/core?

[2016-09-23 16:13] #1010 closed

[2016-09-23 16:17] nesukun commented on #987
Thanks for the investigation and response. I've stumbled with this issue in a few different proyects. Will surely follow your workaround recommendation until a more suitable solution is found. Have a great day!

[2016-09-23 16:19] novemberborn commented on #1018
This should be solved using environment variables. Especially once we support a programatic API (#1043) it's hard to reason about whether `--verbose` was passed or the calling code set the option. Environment variables mean that AVA does not have to be involved.

[2016-09-23 16:22] novemberborn commented on #1020
You could get this via `--verbose` or `--tap`. It does mean you have to run the tests, but it sounds like you're planning to give this result after a test run anyway.

Also there's `test.todo` which you could you use as a placeholder. The number of such tests is reported after a test run.

[2016-09-23 16:24] novemberborn commented on #1021
@RyanAtViceSoftware this doesn't work due to how AVA spawns different processes when running the tests. There's some discussion in #929.

[2016-09-23 16:24] #1021 closed

[2016-09-23 16:25] novemberborn commented on #1029
I've updated #583 to also print pending tests after a timeout.

[2016-09-23 16:25] #1029 closed

[2016-09-23 16:27] novemberborn commented on #1030
We're using [chokidar](https://github.com/paulmillr/chokidar), whose README does imply watching should work recursively. Does anybody else have experience with this?

[2016-09-23 16:30] novemberborn commented on #1031
Yes the README should be clearer that you should really use `t`. We should add it to https://github.com/avajs/ava/blob/master/docs/common-pitfalls.md as well.

[2016-09-23 16:35] novemberborn commented on #1033
Only skimmed the discussion so far, so my apologies if my summary is wrong.

Sounds like the suggestion is to prioritize rerunning the known failing tests, as well as any new test files. Track other tests that ordinarily would have rerun (due to source changes). Run those once there are no more failing tests.

Right now that would require a new test run, though ideally we'd *add* to an existing te

[2016-09-23 16:39] novemberborn commented on #1034
@istarkov are you implying you're no longer supporting `babel-plugin-webpack-loaders`? That'd be totally fine of course, but I suspect you may be the only person that can provide insight here. Could you let me know if you can't? If that's the case I'll close this issue.

[2016-09-23 16:40] novemberborn commented on #1037
See #720.

[2016-09-23 16:40] #1037 closed

[2016-09-23 16:50] istarkov commented on #1034
@novemberborn I still use it, and not for testing only, so project is not 100% dead, something like 99% dead. But I have no idea why this issue is here ;-) IMO some misconfiguration or something like this, but without having access to real project I can't say much.

[2016-09-23 20:26] jluchiji commented on #921
I am still using AVA, and this is no longer an issue as of 0.16.0. I am closing this issue.

I was able to tell that not all tests finished because the number of passed tests reported by AVA was sometimes a lot less than actual number of tests that I had, while AVA reported that all tests have passed. I am fairly sure it was not because of ignoring files or changing config, since re-running AVA wi

[2016-09-23 20:26] #921 closed

[2016-09-24 00:17] sotojuan commented on #1034
I tried limiting concurrency to 1 and making the test serial and it still failed (thought it was a concurrency thing).

[2016-09-24 11:36] nfcampos commented on #1034
for css modules i use css-modules-require-hook (e.g. `ava -r css-modules-require-hook/preset`) and it works ok

[2016-09-24 12:37] sotojuan commented on #1034
@chentsulin Let met know if ^ works for you.

[2016-09-24 12:47] chentsulin commented on #1034
@istarkov There is a demo repo for this issue (minimal reproduce example) just keep configuration same as my real project:

- [Github Link](https://github.com/chentsulin/ava-css-modules-issue-repro)
- [Travis CI Link](https://travis-ci.org/chentsulin/ava-css-modules-issue-repro/jobs/158350418)

Maybe I did something wrong?

I will remove `babel-plugin-webpack-loaders` in my tests, but I'm curious

[2016-09-24 12:47] ngryman commented on #1033
@novemberborn Yes, my proposition was to only re-run already failing tests until they pass. If there are technical limitations on this, I can understand.

I had 3 requirements to satisfy:

 1. Be able to focus on the current tests or set of tests without extra noise.
 2. Optimize the **time to first failing test** (`TTFFT`).
 3. Be able to debug easily without having to play with the `only` modifi

[2016-09-24 21:00] catdad commented on #928
I have never seen another test framework do this, and I have used quite a few. I have had code throw errors, both intentional and unintentional, both synchronously and asynchronously, have typos, and flat out be running invalid JavaScript, and the test framework catches that and still runs the `after` method. While it may not be 100% reliable, as you say, AVA is very far from approaching that perc

[2016-09-25 09:51] buzinas commented on #736
@novemberborn Exactly this example is occurring in my project. Is there any way to bypass this?

[2016-09-25 14:39] novemberborn commented on #1049
Yes this is definitely an oversight with how we built macros.

@avajs/core  / @twada I assume we treat any `t.true` expression in the test file as if it was a power assertion? I don't think we can scale that to every imported module (recursively!), especially if we'd want to cover macros distributed via npm.

Perhaps we could add an `ava/macro` helper which compiles the received function source?

[2016-09-25 14:44] novemberborn commented on #1033
@ngryman I like it!

The watcher is already quite complex; to be able to do what you're suggesting I think we need to do a fair bit of refactoring.

My thinking is that we should be able to start a test run and add more files to it before it finishes. That's a problem because currently (when not using the `--concurrent` option) no tests are run before all workers have spun up, but that's something

[2016-09-25 14:46] novemberborn commented on #928
@catdad It's only `--fail-fast` and crashes that prevent `always.after` from running. The benefit of `cleanup` over `after` is that it helps deal with those scenarios, too.

[2016-09-25 14:47] novemberborn commented on #736
@buzinas not currently, no. You'll have to pick a different directory name.

[2016-09-25 15:06] novemberborn opened #1051 "Which Node.js versions to support?"
Node.js is about to drop all support for the 0.10 and 0.12 releases. AVA currently targets 0.10 and is undoubtedly used to test a lot of modules and applications that also support 0.10.

I don't think authors should drop support for older Node.js versions _just because_. Ideally it happens [as part of other breaking changes](https://twitter.com/novemberborn/status/778588001106587648), or because c

[2016-09-25 15:48] novemberborn opened #1052 "Alternative approach to Babel transpilation"
I've been experimenting with creating a binary cache (#594) of the `babel-core` dependency: https://github.com/novemberborn/cached-module-loader. On my machine this leads to a 3x improvement in loading `babel-core`.

I think this would allow us to do Babel transpilation in the test workers themselves, including transpiling helpers (#720) and creating a faster `babel-register` without precompilatio

[2016-09-25 15:53] novemberborn commented on #148
Just saw this: https://github.com/gabmontes/babel-preset-latest-minimal

[2016-09-25 16:27] Conaclos opened #1053 "Missing signature declaration for test with macro"
## Description

The signature of test for macro is missing in the generated type declaration file.

For testers seeking for a workaround, see at the end of this issue

### Test Source

[code]

### Error Message & Stack Trace

[code]

### Environment

I'm using Ava 0.16.0 with Typescript 2.1.x

## Temporary fix

As a workaround add this in your test file:
[code]
And use ```testM``` instead of ```te

[2016-09-26 17:05] lukechilds commented on #882
@novemberborn sorry, didn't get a chance at the weekend, just submitted https://github.com/avajs/ava/pull/1054

[2016-09-27 05:15] sindresorhus opened #1055 "Consider switching deep equal module"
We currently use: https://github.com/sotojuan/not-so-shallow

I know this is something like the third time, but someone pointed out our current module [has a lot of issues](https://github.com/sotojuan/not-so-shallow/issues), and I'm personally not interested or have time to fix those, nor maintain a deep equal module.

I'd like to look into whether we could use [`lodash.isEqual`](https://lodash.co

[2016-09-27 08:42] sindresorhus commented on #148
@novemberborn I'm a little bit sceptical of feature testing. New features might be buggy or slow. I would be more comfortable with a preset that choose plugins based on vetted testing on various Node.js versions. Maybe https://github.com/babel/babel-preset-env when it gets more mature.

[2016-09-27 08:51] sindresorhus commented on #1048
@novemberborn I agree, but what other flags would we remove?

Why?

[2016-09-27 11:51] novemberborn commented on #1048
Just `require` I think. Ideas for more?

To restrict watch mode on the fly to a more specific pattern.

[2016-09-27 14:51] jamestalmage commented on #1048
That seems unlikely to be truly useful. Why would you want to avoid rerunning when certain sources change, but not others?

[2016-09-27 15:37] sotojuan commented on #1055
Going to run some benchmarks just in case.

[2016-09-27 16:50] jdalton commented on #1055
Hiya!

Ok so `lodash.isEqual` supports comparing:

It is an equivalence method so somethings may be seen as equiv that aren't like `1` and `Object(1)`. The behavior can be customized with `lodash.isEqualWith`.
[code]

[2016-09-28 04:16] zixia commented on #631
I think the goal of this issue `Allow tests files to have any extension (i.e. `.jsx`, `.ts`)` is quite straight forward.

and the solution shoule be very easy to compatible with extension other than the default(and forced) `js`: **comment out the line limit to .js ext.**

and about the other technics, i.e. cache from ava main process, I think I can accepted that it be disabled if that will cause p

[2016-09-28 05:41] sindresorhus commented on #1055
I assume it does strict value equality checks?

Does it handle circular references?

I noticed it doesn't handle Node.js buffers? Would you able to add that?
See https://nodejs.org/api/buffer.html#buffer_buf_equals_otherbuffer

Would you be willing to ensure `lodash.isEqual` handles these issues: https://github.com/sotojuan/not-so-shallow/issues ?

-

That's fine. They're not equal.

My goal is no

[2016-09-28 11:54] niieani commented on #631
@zixia This being unsolved for such a long time made me give up on AVA and consider alternatives, including Tap. In the end I've switched to the new shiny [Jest](http://facebook.github.io/jest/), which offers everything that AVA did and much more (e.g. snapshot testing), plus benchmarks show it runs tests even faster.

I still wish AVA all the best and hope it becomes even better than Jest in the

[2016-09-28 13:16] zixia commented on #631
@niieani thanks! definitely I want to have Jest a try.

[2016-09-28 17:00] jdalton commented on #1055
For primitives yep. For objects it recursively crawls.

Yes.

Node buffers fall under the typed array support.

I believe it already handles those issues.

The method allows customization for the things you'd like to change and handles the rest. It's a pretty good mix.

[2016-09-28 17:09] sindresorhus commented on #1055
I would be explicit about that in the docs. While Node.js buffers inherit from TypedArray, they're not entirely the same thing and not everyone knows buffers inherit from TypedArray.

[2016-09-28 17:12] jdalton commented on #1055
Cool. Explicit support is probably better anyways. I'll patch it up.

[2016-09-29 04:35] sindresorhus commented on #631
@niieani You can already use TypeScript by precompiling it. I know it's not optimal, but it's not like anyone has done a pull request fixing this. Keep in mind that we all do this in our free time and give it away for free, and we have to prioritize what to work on. Jest is a good choice too. They have the benefit of having multiple full-time Facebook employees working on it. Jest is currently fas

[2016-09-29 08:07] vdemedes commented on #222
Here's a recap of all proposed APIs, I think it'll make it easier to pick a winner and continue the discussion.

#### 1. `test.group()` with nesting by @novemberborn

[code]

*Pros:*
- API is easy to learn/use and is already familiar to most people

*Cons:*
- Nesting - tests are harder to find (see https://github.com/avajs/ava/issues/222#issuecomment-160516588)

#### 2. Groups with no nesting and

[2016-09-29 08:13] vdemedes commented on #1047
I absolutely support your proposal!

Answers to your questions:

1. I don't think it should be allowed. ESLint's docs on `no-throw-literal` rule explain it best:

Services like BugSnag, Sentry, Rollbar, etc will provide zero information, if code throws strings, instead of Error objects.

2. I think they should be supported, with behavior exactly like you outlined in your first code example:

[code

[2016-09-29 08:15] vdemedes commented on #1048
I think `--require` and `--source` are the only ones that can safely go away. All the other ones are quite useful, don't think there's more room for removal.

[2016-09-29 08:22] vdemedes commented on #934
As for me, I'm opposed to `t.flaky` assertions in favor of `test.flaky` for the exact same reasons by @novemberborn and @sindresorhus :

[2016-09-29 09:15] novemberborn commented on #934
@vdemedes I'm in favor of `t.flaky` actually 😉

[2016-09-29 09:23] vdemedes commented on #934
@novemberborn Yeah, but your reason fits my favorness of `test.flaky` as well 😆

[2016-09-29 09:47] niieani commented on #631
Hey @sindresorhus thanks for the reply!

I totally understand time constraints of a free OSS project, I'm on the same bandwagon, so I feel with you. I do not use React too much, so the main reason was having no way to use AVA without a precompilation step. I feel I lost much of the ease and flexibility that were the main reasons to use AVA. Maybe I'm a bit of a cleanness-freak, but I don't like th

[2016-09-30 08:56] SimenB opened #1056 "NodeJS JavaScript heap out of memory while running test suite"
## Description

I'm not sure what I've done wrong. I use ava ina lot of projects and this is the only one exhibiting this problem.

### Test Source

I don't know what parts are relevant, see repo link further down for source code... Sorry!

### Error Message & Stack Trace

[code]

### Config

[code]

### Command-Line Arguments

[code]

## Relevant Links

https://github.com/SimenB/stylint-stylish

[2016-09-30 11:33] wmertens commented on #32
So is anybody working on this? I'm not volunteering, just doing a "ping" 😀

[2016-09-30 12:37] mmkal opened #1057 "Expose options object to tests"
There may be a way of doing this that I haven't been able to find in the documentation or dicussions of other issues, but I think it'd be nice to be able to access the options object that's used by `Api`.

Specifically, I'd like to get at the `resolveTestsFrom` property.
Here's an example of why. NB, this is TypeScript, and I'm using `"outDir": "js"` in tsconfig.json.

[code]

The problem is that

[2016-09-30 12:52] vdemedes commented on #1057
Perhaps you could pass this path as an environment variable to your tests:

[code]

and in your tests:

[code]

[2016-09-30 14:50] mmkal commented on #1057
I could - but that still feels like an unpleasant workaround, but it's probably even more obscure than the one I suggested, because it's not immediately obvious where that value actually comes from. Is there any reason the options object shouldn't be exposed?

[2016-09-30 15:14] zaaack opened #1058 "not compatible with babel-core 6.11.4"
I have babel-core ^6.11.4 installed  in my project, and there were no error or warning when install ava, then I got this error when run async function demos in readme

[code]

It turns out the problem is the babel-core version, after I set it to ^6.3.21, the error disappered.

[2016-09-30 18:48] carpasse opened #1059 "Issue transpiling with babel-preset-es2017"
I have tried to run AVA against against babel preset 'es2017' but it fails with the following error

[code]
The test is the simplest test ever

[code]

With this configuration in the package.json the test fails
[code]
It only works if I use "es2015"
[code]

Any idea on why is this happening?

[2016-10-01 08:38] vdemedes commented on #1057
Actually, this solution is straightforward and clear. `process.env` is a "standard" way to access environment variables in Node.js apps. AVA proxies all the environment variables you pass to its test processes, so it's totally fine to use that.

We try not to add alternatives/aliases or functionality, that already exists in some other form. If we would, AVA could quickly become hard to maintain. T

[2016-10-01 11:09] vdemedes commented on #1055
@sindresorhus  So I assume, until then we could use `lodash.isEqualWith` with an additional equality check just for buffers? It's pretty solid. Or do you want to keep searching for the module with the satisfying defaults?

[2016-10-01 13:34] Sntax commented on #1059
Is `test` set as a default export of `ava`? If not you may need to use

[code]

[2016-10-01 13:42] diegohaz opened #1060 "Set concurrency option to 1 when $TRAVIS = true"
It seems like Travis CI doesn't handle multiple processes. I'm currently using this npm script to run tests: `"test": "[ \"$TRAVIS\" ] && c=1 || c=5;  ava -c $c"`

But it doesn't work on Windows. I'm looking for a cross-platform conditional statement solution, but I'm wondering if this condition should be made on AVA itself.

Reference: https://github.com/diegohaz/generator-rest/issues/11

[2016-10-01 15:56] vinz243 commented on #1059
I am receiving this error with ES2016 as well

[2016-10-01 18:00] vinz243 commented on #1058
Wow thanks a lot. This solved my issue would have never foind out otherwise :)

[2016-10-01 22:35] zaaack commented on #1058
@vinz243 It tooks me a lot time too because there were not much information in google, you are welcome :-)

[2016-10-02 07:42] jfmengels commented on #1059
@Sntax `import test from 'ava';` should work fine.

@carpasse When you set the Babel plugins to use, you are overriding the ones AVA uses by default.
`babel-preset-es2017` only contains the additions to the language that were made in the ES2017 spec (or will be in this case), but the modules syntax is something that was added in ES2015 and is thus present in `babel-preset-es2015`.
If you use a rec

[2016-10-02 10:13] fearphage commented on #222
I think the best thing about the first solution is the nesting and it's familiarity. It's a visual cue that you're going deeper and adding complexity. I disagree with your con. I feel like that makes it more difficult to miss tests.

I like the flatness of `.fork` and the ability to compose tests with `.group`, but I feel these could be much harder to see visually and reason about in the future. I

[2016-10-02 14:13] fearphage commented on #1047
The current implementation seems to almost match your proposal. `t.throws(fn, type, message)` doesn't work (`0.16.0`). I can't tell if this is a regression or a mix up in the documentation. I went back 10 or so commits and never saw where this worked. There are no tests for this format either.

I was coming here to file that bug report and submit the PR, but I won't if you're planning to remove it

[2016-10-02 18:14] mmkal opened #1062 "Show filename for test.todo(...)"
Simple feature request... it'd be nice if the filename for a TODO test was shown (in the same way as it is for a failing test), so TAP parsers/IDEs can see them.

For example, with a Visual Studio Code task problem matcher, they could be flagged up as informational or warning problems. Then clicking on them in the "problems" view would take focus straight to the call to `test.todo(...)`.

[2016-10-03 06:26] sindresorhus commented on #1062
Yeah, that would be useful for our [Atom](https://github.com/avajs/atom-ava) and [Sublime](https://github.com/avajs/sublime-ava) plugins too. I think we could add some custom metadata to the TAP output, like `filename`, `line`, `column`. Actually, we should really include that info for all tests.

[2016-10-03 15:22] sindresorhus commented on #1051
Dropping support for those versions would make a lot of our code simpler and enable us to upgrade many dependencies that now require Node.js 4. Although test runners are unfortunately usually the last projects to drop support for older versions... If it were up to me, I would drop support today, but I know people depend on this in production, so that's not what we're going to do. I like the idea o

[2016-10-03 15:25] sindresorhus commented on #1057
@mmkal It's seems like what you need is the path of the project root directory (where package.json resides)? If so, in https://github.com/avajs/ava/issues/32 we plan on changing `process.cwd()` to always be the project root path (where the tests are run from - package.json). When that's changed, you could simply use `process.cwd()`.

[2016-10-03 15:27] sindresorhus commented on #1005
@novemberborn I agree. Would be nice to limit it at runtime too. Maybe something that could be added to `option-chain`? Like mutually exclusive options or the inverse.

[2016-10-03 15:29] sindresorhus commented on #1053
This is fixed in master and will be part of the next release. https://github.com/avajs/ava/commit/8816faf6bee675213c5bfe32f628a0a683708484

[2016-10-03 15:29] #1053 closed

[2016-10-03 15:32] sindresorhus commented on #1055
@vdemedes It's already part of a Lodash release, so we can just use `isEqual`. We should bring in the tests from https://github.com/sotojuan/not-so-shallow/tree/master/test just to make sure we didn't break anything. Wanna do a PR?

[2016-10-03 15:33] mmkal commented on #1057
@sindresorhus - great, using process.cwd() would be ideal. I'll close this one since #32 is covering my use case.

[2016-10-03 15:33] #1057 closed

[2016-10-03 15:35] sindresorhus commented on #1060
I think that's specific to your tests. I use AVA with many projects and never experienced any problems with that. Did you figure it out?

[2016-10-03 15:36] sindresorhus commented on #32
@wmertens https://twitter.com/slicknet/status/782274190451671040

[2016-10-03 15:43] vdemedes commented on #1055
@sindresorhus Yes, definitely!

[2016-10-03 16:03] diegohaz commented on #1060
Maybe. I'm using AVA with [Mockgoose](https://github.com/Mockgoose/Mockgoose) and for endpoint testing. Without concurrency option set to 1, I've experienced inconsistent errors like that:  `src/api/field/field.model.test.js exited due to SIGKILL`.

I've read somewhere that Travis CI has a limit for multi processes, but I can't find it right now.

These are the output: https://travis-ci.org/diegoh

[2016-10-03 16:07] sindresorhus commented on #989
@novemberborn It can be useful, especially until we do https://github.com/avajs/ava/pull/929. No idea why it's currently breaking though.

[2016-10-03 16:08] diegohaz commented on #1060
I solved this by updating the `travis.yml` file (changing the script test to `npm test -- --serial`). But the problem with multi processes is still an issue.

[2016-10-03 16:09] sindresorhus commented on #988
Same answer as https://github.com/avajs/ava/issues/989#issuecomment-251148859.

[2016-10-03 16:31] sindresorhus commented on #1046
Sounds good.

This would also be a good opportunity to document the package.json options separately instead of just referring to the CLI flags and show a JSON config dump.

[2016-10-03 16:42] #1058 closed

[2016-10-03 16:48] sindresorhus commented on #1056
Is this still an issue? I was unable to reproduce by cloning the repo and running the same environment as you. If yes, can you try upgrading to Node.js 6.7.0, `npm cache clean && rm -rf node_modules && npm install && npm test` and see if it still happens?

[2016-10-03 16:49] sindresorhus commented on #1042
Closing for lack of response from OP.

[2016-10-03 16:49] #1042 closed

[2016-10-03 17:30] sindresorhus commented on #583
Would be really useful to use [`why-is-node-running`](https://github.com/mafintosh/why-is-node-running) to also show **why** tests are still pending.

[2016-10-03 18:02] sindresorhus commented on #1060
If I were to guess, copying the `node_modules` folder in so many processes exhausted the memory limit. See: https://docs.travis-ci.com/user/common-build-problems/#My-build-script-is-killed-without-any-error

[2016-10-03 18:21] diegohaz commented on #1060
I don't think so. I'm currently creating symlinks instead of copying node_modules. I'll investigate it more, but I would like to see more examples with database mocking like Mockgoose. Creating a MongoDB instance, with all necessary models and indexes for each test (or even test file) seems to be a huge task.

[2016-10-03 18:23] diegohaz commented on #1060
I'm actually doing something similar to this: https://github.com/Mockgoose/Mockgoose/issues/3#issuecomment-241894985

[2016-10-03 18:46] sindresorhus commented on #1060
@diegohaz Does it also fail if you limit the concurrency to 5?

In https://github.com/avajs/ava/issues/966, we're looking into setting a default concurrency.

[2016-10-04 15:12] julien-f opened #1064 "Compatibility with pnpm"
[pnpm](http://ricostacruz.com/pnpm/) is a fast implementation of `npm install` with the following features:
- much faster dependencies installation
- important disk usage reduction
- installation progress is displayed very nicely

Unfortunately, ava is not compatible with it as `pnpm` use symlinks to install the deps which makes ava complain:

[code]

Example repository: https://github.com/julien-

[2016-10-04 18:10] sindresorhus commented on #1064
Do you run `$ node` with the `--preserve-symlink` flag? That's the only time that message should show or if you're using an old v6 version.

[2016-10-04 19:29] sindresorhus commented on #1049
Yes

Correct, mostly because we don't yet transpile imported files. Maybe we could come up with a naming convention for macros so we would know to transpile and power-assert'ify them, kinda like helper files → #720.

Can you provide an example of how it would be used?

-

For now, we should at least find a way to be able to power-assert macros defined in the same file. That's the most common use-c

[2016-10-05 07:58] julien-f commented on #1064
Indeed, it seems that pnpm is doing that for all exported binaries.

[2016-10-05 08:00] julien-f commented on #1064
See rstacruz/pnpm#244

//cc @zkochan

[2016-10-05 08:04] sindresorhus commented on #1064
Sounds like a very bad idea. It's a flag for a reason. You should only use it when you control the whole environment.

[2016-10-05 08:27] zkochan commented on #1064
Using this flag allowed us to install packages to a shared folder. It is unbelievable what amount of disk-space it saves!

Personally I did not experience any problems while using the `--preserve-symlink` flag. If there is a particular reason why it can't be used with ava, maybe you could add a `preserveSymlinks: false` to your package.json and pnpm will not force it to preserve-symlinks. Probably

[2016-10-05 08:47] julien-f commented on #1064
@zkochan I'm afraid that requiring users to configure pnpm for their usage will really hurt pnpm as it will no longer be a drop-in replacement for npm i :unamused:

[2016-10-05 08:59] zkochan commented on #1064
Well the same we could say about ava, right? Other testing frameworks seem to work with pnpm and the --preserve-symlink flag.

What I suggest is to add a new property to ava's package.json. Users of ava/pnpm won't have to do anything. (I think it would work, I can check later today)

Or we could add a config to pnpm to disable --preserve-symlinks. But that would disallow the usage of a shared stor

[2016-10-05 09:04] julien-f commented on #1064
@zkochan I only want what's best for pnpm because it's much nicer to use than npm :)

Adding a property to ava's package.json looks like the best approach but it's not up to me (@sindresorhus, what's your opinion on this?).

[2016-10-05 09:07] zkochan commented on #1064
Well for pnpm the best would be if ava would just work with --preserve-symlinks :smile:

Is it somewhere documented why ava cannot do that?

[2016-10-05 09:41] sindresorhus commented on #1064
I don't remember why. See: https://github.com/avajs/ava/issues/814. @jamestalmage would be the best person to comment on this.

We're not going to add an option, but if there's any way we could automatically support it without too much code I'm open to it.

[2016-10-05 17:35] SimenB commented on #1056
Doing a clean install on 6.7 seems to have "fixed" it. The last test still hangs as green for almost a full second before exiting, but it _does_ exit instead of crashing...

I'll close it, though, as I don't get a crash anymore 😄

[2016-10-05 17:35] #1056 closed

[2016-10-05 17:45] twada commented on #1049
I think macros in the same file (assume you mean test file) are already `power-assert`ed if the pattern matches (like `internalMacro` in the PR body).

[2016-10-05 19:33] #882 closed

[2016-10-06 04:09] #1055 closed

[2016-10-06 16:45] yamsellem opened #1066 "Asynchronous tests when stubbing with sinon"
This is a copy of [this stackoverflow question](http://stackoverflow.com/questions/37900687/problems-with-ava-asynchronous-tests-when-stubbing-with-sinon) — I'm encountering the same issue, and don't know how to process.

[code]

If you run either test alone, the test passes. But if you run these together, the setup for the test A runs, and then before it completes, the setup for test B runs and y

[2016-10-06 17:12] novemberborn commented on #1066
@yamsellem I've expanded on the answer here: http://stackoverflow.com/questions/37900687/problems-with-ava-asynchronous-tests-when-stubbing-with-sinon#comment67089250_37900956

[2016-10-06 18:10] yamsellem opened #1067 "Inheritance of required file"
Their is something weird / broker about external module inheritance.

In the following code, declare `TeaPot` class in the test and everything just works.
But uncomment the `const TeaPot` that required it from a path (after removing the TeaPot class definition) and it won't work anymore.

[code]

The error is `failed with "Class constructor TeaPot cannot be invoked without 'new'"`.
Ava 0.16.0.

[2016-10-06 18:14] sindresorhus commented on #1067
What exactly does `./teapot` contain?

[2016-10-07 06:33] yamsellem commented on #1067
Sorry about not been cristal clear.
It's just the same class.

[code]

[2016-10-07 09:52] sindresorhus commented on #1067
I looked into this. Turns out you can't extend a native ES6 class with a ES5 type "class". Since your test is transpiled while `./teaport` is not, the test has a transpiled ES5 type class while `./teapot` has a real ES6 class.

See:

- http://stackoverflow.com/questions/32981988/class-constructors-cannot-be-invoked-without-new/32982156
- https://github.com/babel/babel/pull/3582 (fix)

[2016-10-07 10:01] sindresorhus commented on #1067
Yes, AVA transpiles with Babel by default. See: https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md

What Node.js versions do you run your test with?

[2016-10-07 10:01] yamsellem commented on #1067
@sindresorhus 6.3

[2016-10-07 10:06] sindresorhus commented on #1067
You could use this config then in your package.json:

[code]

[code]

[2016-10-07 10:16] yamsellem commented on #1067
@sindresorhus you're my hero :champagne: take care (_ps. ava is a wonder_)

[2016-10-07 10:16] #1067 closed

[2016-10-07 13:43] novemberborn opened #1069 "Remove --require CLI flag"
Per discussion in #1048 we'll be removing the `--require` CLI flag. You'll still be able to configure this via the `package.json` config.

[2016-10-07 13:44] novemberborn commented on #1048
Great! I've updated the relevant issues and opened #1069 to remove the `--require` flag.

[2016-10-07 13:44] #1048 closed

[2016-10-07 13:45] novemberborn commented on #934
That might not always be possible.

Of course.

[2016-10-07 13:58] novemberborn commented on #1047
Conclusions so far:

Yes.

We'll support this interface.

Leaning towards not supporting this.

---

@vdemedes

[code]

---

@fearphage yea AVA just uses Node.js' API, and it gets messy fast. Hence this proposal.

[2016-10-07 14:01] novemberborn commented on #1051
Leaving asides discussions on 1.0 releases and stable versions, I'd be happy to declare `0.16` / `0.17` to be a special < 4 compatible, critical bugfix only release. And then we can just move on.

Presumably the critical bugfixes will be dealing with dependencies that start to require newer Node.js releases anyway…

[2016-10-07 14:02] novemberborn commented on #1005
That, or use something else. Though I suspect @jamestalmage wrote `option-chain` specifically for AVA.

[2016-10-07 14:07] novemberborn commented on #1049
We could assume helper files contain macros? Intercept the `require` calls and transpile them separately.

[code]

[code]

In other words we can get the function source and transpile it on the fly, then evaluate using the `vm` module. Perhaps with some caching. This would work for macros distributed as dependencies.

[2016-10-07 14:11] fearphage commented on #1047
Is it difficult to code or reason about? Just a preference? I'm just curious.

If we're target an arity of 2, what about this as an option?

[code]

I like the encapsulation of the assertions related to the thrown error.

[2016-10-07 14:14] novemberborn commented on #1047
The assertion becomes overly complex again, which is what we're trying to move away from.

That'll be hard to distinguish from `t.throws(fn, Constructor)`.

[2016-10-07 14:19] novemberborn commented on #1064
I think https://github.com/avajs/ava/issues/643#issuecomment-248670505 should fix this.

[2016-10-07 16:00] sindresorhus commented on #1049
👍

That could work, but I would very much prefer something that *just works*, like now, than having to have a separate macro function.

[2016-10-07 17:30] sindresorhus commented on #1051
@novemberborn I'm open to that. Let's see what the rest of @avajs/core thinks about it.

[2016-10-07 23:04] dchambers commented on #1030
So I just now debugged this, and I noticed that chokidar was being asked to observe changes on these paths:

[code]

So I tried changing the middle one to limit it to only watch my `src` directory like so:

[code]

and it started working! I was able to permanently effect this change by adding this to my `ava` config:

[code]

I've had experience with watching very large directories on Linux before

[2016-10-07 23:04] #1030 closed

[2016-10-08 14:57] carpasse commented on #1059
@jfmengels thanks for the clarification after thinking it through we will stay with `babel-preset-es2015`

[2016-10-08 14:57] #1059 closed

[2016-10-09 02:18] diegohaz commented on #520
There're some annoying things on putting the configuration in package.json instead of dot files. Besides which was already said here, every time I `npm install --save something` my babel config will become from this:
[code]

to something like this due to package.json auto re-indent:
[code]

Because of this I do prefer to keep it on dotfiles, but I can't do this with ava. 😭

[2016-10-09 11:49] vdemedes commented on #1066
If the thing that's worrying you is writing `.serial` for each test, you could use `--serial` flag, which makes all your tests run serially. As people on SO said, it complicates things that you stub the same dependency in multiple tests, so I guess `--serial` is the only workaround.

[2016-10-09 11:53] vdemedes commented on #1051
I'm excited about LTS + stable plan as well. Big +1 from me.

Question is, when should we stop maintaining LTS for `0.10`/`0.12`? It shouldn't be too long, because it will drag us down more and throttle development of the main branch.

[2016-10-09 11:58] vdemedes commented on #1052
This would be just awesome!

[2016-10-09 13:48] novemberborn commented on #1049
Yea, I'm just trying to think about how to distribute macros via npm. I suppose you could distribute version compiled with `power-assert` and it may just be interoperable.

[2016-10-09 14:08] novemberborn opened #1071 "Report Chokidar errors"
Watch mode uses [`chokidar`](https://github.com/paulmillr/chokidar) to detect changes. Chokidar can emit `error` events. Currently these are ignored. We should report them to the user instead as they may include clues as to why the watcher isn't detecting changes.

For example #1030 was due to Chokidar watching more files than the system allowed.

I'm thinking this should be part of the watcher's

[2016-10-09 14:09] novemberborn commented on #1030
@dchambers interesting! We can definitely do better in reporting these issues, I've just opened #1071 for that.

[2016-10-09 14:46] novemberborn commented on #1051
After the next release?

[2016-10-09 22:05] f0rr0 commented on #73
When using `try/catch` with `async/await` like:
[code]
`someFn` always rejects and although the test passes, I get ` 1 unhandled rejection` in the console. Is this expected?

[2016-10-10 01:36] dashmug commented on #1049
Thank you for working on this.

I'm following this thread as I have several macros in my project that I want to reuse in different test files.

[2016-10-10 04:14] sindresorhus commented on #1049
@novemberborn I agree that for distributable macros, `ava/macro` would make sense.

[2016-10-10 05:37] sindresorhus opened #1072 "Simplify failure output"
With:

[code]

It currently outputs:

[code]

I think we should simplify it to:

[code]

So users can quickly see where the error came from. `Test.fn` doesn't have any value to the user.

This also applies to the verbose reporter (`$ ava --verbose`).
##

We could also use https://github.com/sindresorhus/ansi-escapes#itermsetcwdpath to make the path clickable on iTerm.

[2016-10-10 07:44] #1069 closed

[2016-10-11 13:19] jrolfs commented on #222
I'd second @Akkuma on 2 or 5, leaning towards 5 😉

[2016-10-12 12:28] sotojuan commented on #1072
I can take care of this as I've worked with the reporters before.

[2016-10-12 21:39] EEtancelin commented on #161
Fine, i dev beginner and i will be happy to take à look and see how improve code coverage.

[2016-10-13 09:01] jfmengels commented on #1047
I like the proposal :)

Yes. That is a best practice, or rather, using a string is a bad practice, and we should help the user remove that bad practice from their code IMO.
We should also (and I don't remember whether this is already something that we're doing) fail and show an error when the thrown error is a string and not an Error.
It's a bit different if an underlying library throws a string,

[2016-10-13 14:29] iamstarkov commented on #406
@sotojuan what was the last idea to fix this?

[2016-10-13 20:40] arosenthal-r7 commented on #923
I have a question @jamestalmage, you said:

That is not the behavior I experience in watch mode. If I modify a source file **then** it only reruns the corresponding test file, but if I'm working on adding tests or fixing tests on any change it re-runs the whole test suite. This is the AVA config I'm using:
[code]

Am I missing something?

[2016-10-14 03:08] bcherny commented on #776
@novemberborn My tests are asserting equality between long multiline strings, and I'd love to use a custom JSON diff reporter during watch mode. The test output is very hard to read with the built in reporters. Is there a way to configure this?

[2016-10-14 14:18] novemberborn commented on #1047
Yes that's implied.

Oh no! Forgot to add that…

I think that rules out syntax like `t.throws(fn, SyntaxError, 'string')`, since that collides with `t.throws(fn, SyntaxError, 'message')`. Padding it is just annoying (`t.throws(fn, SyntaxError, undefined, 'message')`. Though you would need to pad `t.throws(fn, undefined, 'message')`. I think that's OK though.

[2016-10-14 14:20] novemberborn commented on #923
Have a look at the [Debugging](https://github.com/avajs/ava/blob/master/docs/recipes/watch-mode.md#debugging) section in the watch mode recipe. AVA probably picked up on file changes it could not trace back to a specific test, so it reruns all.

[2016-10-14 14:22] novemberborn commented on #776
@bcherny the reporters discussed here do not impact the assertion messages. I think you already found a different issue which relates to that. Let's continue the discussion in Gitter.

[2016-10-14 15:16] arosenthal-r7 commented on #923
ok so I ran in DEBUG mode, and it looks like you're right, I see this:
`ava:watcher Sources remain that cannot be traced to specific tests. Rerunning all tests +18ms`

is there any way to see which sources AVA could not trace back to tests? there are certainly parts of our codebase that do not yet (or might never) have tests and we use external modules inside some of our test files also (could tha

[2016-10-14 15:30] novemberborn commented on #923
@arosenthal-r7 it should have output the files that changed. This is off-topic for this issue though, I'm in Gitter at the moment, perhaps chat there? https://gitter.im/avajs/ava

[2016-10-15 20:30] ahmednuaman commented on #727
Isn't it just about having this in the `package.json`:

[code]

[2016-10-15 22:51] tonyeung opened #1079 "Typescript support in vs code"
Docs say:

I believe the docs can be a bit more explicit about what it takes to get things going.
Below is what I had to do in order to get a smoke test running with my preferred compiler options:

my original tsconfig.json

[code]

package.json

[code]

bootstrap-test.ts

[code]

bootstrap.ts

[code]

[2016-10-17 00:47] greyepoxy commented on #1011
I put together a slightly different approach to this problem https://github.com/greyepoxy/webpack-ava-recipe. Where I use webpack as a pre-compile step for my tests before feeding them to Ava.

Curious what people think, is it better/worse then @apedyashev 's approach? Happy to put a recipe together if people think it is useful.

[2016-10-17 08:56] sindresorhus commented on #1079
@tonyeung Using AVA with TypeScript and using our type definition are different things. The former we have a [recipe](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md) for. The latter should just work. I'm not really sure what you're asking for here?

[2016-10-17 10:11] apedyashev commented on #1011
Btw, I have another solution of my problem (without using webpack):
[code]

[2016-10-17 14:13] tonyeung commented on #1079
@sindresorhus  right, I followed the recipe but it had different settings then I wanted. I'm just listing what I had to do in order to get it working for me. The impression I got from the recipe was that you had to have certain things in order for everything to work, like having the commonjs module format.

[2016-10-17 14:28] sindresorhus commented on #1079
I don't use TypeScript, so no idea, but maybe @SamVerschueren that wrote the recipe could chime in.

[2016-10-17 14:34] tonyeung commented on #1079
@sindresorhus just to be clear, i'm not saying the documentation is wrong. I'm just providing what I needed to do, in order to make it work for me.

[2016-10-17 15:24] morenoh149 commented on #1058
this is odd. You had to roll back to a previous version?

[2016-10-17 16:23] JustinDFuller opened #1081 "Test.todo typings may be wrong: error TS2345: Argument of type 'string' is not assignable to parameter of type 'ContextualTest'."
## Description

When using test.todo with Typescript, I pass in one string, like:

[code]

But I receive the error

[code]

When I try to compile before I run.
### Test Source

[code]
### Error Message & Stack Trace

[code]
### Command-Line Arguments

I am not getting the error from this but I'll include it anyways..

[code]
## Relevant Links

https://github.com/JustinDFuller/NodeModuleSystem
## E

[2016-10-17 17:11] novemberborn commented on #1058
I imagine it installed a newer, non-broken version.

[2016-10-17 22:34] hasLandon commented on #222
I'm pro number 1 or 2 but would love to see some sort of test grouping ability introduced. I really miss that from mocha.

[2016-10-18 08:12] novemberborn commented on #32
Fixed by 476c65396155a7d16fbdd55c65863ecaabd873de.

[2016-10-18 08:12] #32 closed

[2016-10-18 10:08] novemberborn opened #1083 "Ignore relativeness in patterns"
Meta issue for https://github.com/avajs/ava-files/issues/6

The fix needs to be made in https://github.com/avajs/ava-files.

[2016-10-19 10:30] SuThaw opened #1086 "Got error when res.status test in API end point test"
I used superagent as promised for api testing. I write as recommended. But when i compared statusCode, I got error.
[code]
i got the following error

  users-create › no email - should respond with errors

events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: write EPIPE
    at exports._errnoException (util.js:1026:11)
    at WriteWrap.afterWrite (net.js:799:14)
npm ERR! Test fa

[2016-10-19 12:45] alathon commented on #1086
I use superagent for testing with AVA, works fine for me. F.ex:

[code]

Where `request` is just an `import supertest` and `app` is a koa v2 application.

[2016-10-19 22:44] alathon commented on #1066
The tests need to be serial because sinon is imported once for the process running the test file, and thus can't stub/mock/whichever the same method twice. This has little to do with AVA, and lots to do with the fact that the imports are global state within the process.

If it were possible to run each *test* in its own process, instead of each file, then this would be possible as each process wou

[2016-10-20 11:35] SuThaw commented on #1086
@alathon when i change the code as the following. It works. It doesn't work, when i directly use res.status  in the test. I don't know why.
[code]

[2016-10-20 12:31] alathon commented on #1086
@SuThaw Can you please provide a small example repository that shows this? i.e. a `package.json` file with the required dependencies, and a single test file to run.

[2016-10-20 14:41] guillaumevincent opened #1087 "warning: possible EventEmitter memory leak detected"
## Description

My test print a warning, same as https://github.com/avajs/ava/issues/745

`(node) warning: possible EventEmitter memory leak detected. 11 exit listeners added. Use emitter.setMaxListeners() to increase limit.`

### Test Source
tests are here : https://github.com/lesspass/cli/blob/master/test.js

I try to test my command line interface with 16 tests like this one :

[code]
Here the

[2016-10-20 17:13] sundeepgupta opened #1088 "can watch mode append instead of update the results when tests pass?"
I realize a timestamp is given but I find that hard to read and compare to make sure the tests were actually run. Is there an option to always provide new output?

[2016-10-21 04:04] rhubarbselleven commented on #1023
This is quite straight forward:

[code]

I've only had success using AVA and webdriverio together when running tests serially

[2016-10-21 04:49] SuThaw commented on #1086
@alathon  I finally know the source of error.  It is because of tap-reporter.
[code]
I cannot use the tap-spec as report. If I use tap-nyan or other, it is ok. But when i use tap-spec, i got error.   If you want to test it, here is the repo.Thanks for your time.

[](https://github.com/SuThaw/ava-test)

[2016-10-21 05:10] sindresorhus commented on #1023
@rhubarbselleven Interested in submitting a recipe?

[2016-10-21 06:04] dwieeb opened #1089 "Document how babel-plugin-transform-runtime changes references to builtins as a pitfall"
I am trying to use reflection and Typescript decorators. My library uses the `reflect-metadata` polyfill. The `babel-plugin-transform-runtime` plugin is clobbering the references to `Reflect` in my test files, resulting in two reflection registries and thus breaking reflection between my library and the test file. I am unable to test decorators from my library. I made a simple repo to illustrate t

[2016-10-21 10:21] #1086 closed

[2016-10-21 13:35] jyboudreau opened #1090 "Power-assert graph incomplete"
## Description

Power assertions with Ava outputs incomplete graphs.
### Test Source

[code]
#### Expected assertion output

[code]

#### Actual assertion output

[code]
### Config

Copy the relevant section from `package.json`:

[code]
### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]
## Environment

Node.js: `v6.9.1`
OS: `darwin 15.6.0`
ava: `0.16.0`
yarn

[2016-10-21 13:40] sindresorhus commented on #1090
// @twada

[2016-10-21 13:44] Akkuma commented on #1011
I implemented what I think is the easiest and cleanest approach without any pre-compile step as webpack-loaders seems like a dirty hack to begin with that didn't even work for me outside of using `null` transformer/loader for webpack. I use `node-hook-filename` to handle specific extensions and compile my `pug` files into functions as if it were handled by webpack. The scss files are inconsequenti

[2016-10-21 14:07] twada commented on #1090
@jyboudreau @sindresorhus This is expected since AVA uses [succinct renderer](https://github.com/twada/power-assert-runtime/tree/master/packages/power-assert-renderer-succinct), not [the verbose one](https://github.com/twada/power-assert-runtime/tree/master/packages/power-assert-renderer-diagram) used by power-assert by default .

[2016-10-21 14:27] jyboudreau commented on #1090
The documentation of Ava definitively alludes that the output of assertions will be like what the verbose renderer outputs.

I would vote for switching the renderer to the verbose one.

[2016-10-21 15:22] nreijmersdal commented on #1023
I did have success running tests in parallel with selenium-webdriver package.
You do need to start a Selenium server, for example with the webdriver-manager package.

Here is my example code:

[2016-10-22 05:08] #643 closed

[2016-10-22 06:16] davewasmer commented on #413
Moderate [deuteranope](http://www.colourblindawareness.org/colour-blindness/types-of-colour-blindness/) weighing in here:

As long as additional, non-color indicators are present, it's not critical (i.e. `+` and `-` next to diff lines).

For me, yes. I've picked (and tweaked) a color scheme to have high contrast red/green, since that's a problem area of the spectrum for me.

I'd say leave it to "r

[2016-10-22 21:13] sindresorhus commented on #1066
No, it's not something we want to explore right now.
Relevant issue where we should have this discussion: https://github.com/avajs/ava/issues/421

[2016-10-22 21:15] sindresorhus commented on #1090
@twada I would definitely want to see the array value with the SuccinctRenderer. Just seeing `-1` isn't very useful.

@jyboudreau The verbose one is too verbose. We try to strike a balance. In this case, ours was too minimal.

[2016-10-23 14:23] novemberborn commented on #1087
Hi @guillaumevincent. This is a problem in [`execa`](https://github.com/sindresorhus/execa/), not AVA. Could you raise it there instead?

[2016-10-23 14:23] #1087 closed

[2016-10-23 14:24] novemberborn commented on #1088
When you use `--verbose` AVA will persist the output. Is that what you're looking for?

[2016-10-23 14:27] novemberborn commented on #1089
That would be the solution, yes.

Meanwhile you could try something like this: https://github.com/novemberborn/buoyant/blob/4015fd703a4f26a4965f12a60c221fbb372ed3b3/test/lib/Scheduler.js#L11:L12

Let me know how that works for you and I'll see if we can this to the [Common Pitfalls](https://github.com/avajs/ava/blob/master/docs/common-pitfalls.md) documentation.

[2016-10-23 17:25] #1088 closed

[2016-10-23 17:56] domenic opened #1092 "Please do not recommend browser-env for browser testing"
That package uses [an explicitly unsupported jsdom anti-pattern](https://github.com/tmpvar/jsdom/wiki/Don't-stuff-jsdom-globals-onto-the-Node-global) and is very bad practice to recommend to consumers of ava.

[2016-10-23 18:05] sindresorhus commented on #1092
// @lukechilds

[2016-10-23 21:34] lukechilds commented on #1092
Regarding the two main points in that link, the docs do recommend only requiring the properties needed to prevent unnecessary globals and I don't think attaching them to `global` is as big of an issue as it normally would be due to the way AVA runs each test file in a separate process.

That said, I'm aware this isn't the cleanest solution in the world. To match the [example](https://github.com/tm

[2016-10-23 21:35] domenic commented on #1092
Yes. That is exactly the point! You need to test the same scenario as you will be deploying to your users.

[2016-10-23 22:12] lukechilds commented on #1092
I understand your point. I'm not quite sure how you would get the react example working in the current recipe. It loads extra modules for testing which would also need to be built for browsers.

I don't disagree with what you're saying, I still think this method is ok to easily test simple modules, but maybe it would be better to not recommend `browser-env` because more complex modules may end up

[2016-10-24 01:12] twada commented on #1090
@sindresorhus Agreed. Let's getting SuccinctRenderer better.
@jyboudreau Thank you for reporting!

[2016-10-24 06:11] Akkuma commented on #1092
To defend browser-env. I feel it does exactly what it should/could do. I'm using it for testing a browser web extension, which is inherently even more difficult to test. I already have browser automation tests to guarantee if X is done Y happens. However, I can see the need for it to go away once AVA supports running in a real browser.

[2016-10-24 07:14] vimniky opened #1093 "Unexpected token export/import ."
Hi ! I'm quite new to  ava. I run into this error when using ava:
<br/>

(function (exports, require, module, __filename, __dirname) { export default 'hello';
                                                              ^^^^^^
SyntaxError: Unexpected token export
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:528:28)
    at loader (/Users/vimniky/projects/a

[2016-10-24 07:15] guillaumevincent commented on #1087
@novemberborn sure, thanks

[2016-10-24 08:21] #1093 closed

[2016-10-24 14:14] domenic commented on #1092
I understand that some people want to abuse jsdom in ways it's not meant to be used and that are not supported. I especially understand if the author of a module geared around doing so wants to do that. But I don't think a widely-used test-runner such as ava should be recommending such practices.

[2016-10-24 15:00] lukechilds commented on #1092
I can see your concern. Maybe we should add a disclaimer in the browser recipe that makes it clear that this is not recommended and is a temporary workaround until AVA is supported in the browser.

[2016-10-24 22:16] seansean11 commented on #802
I was able to bypass this issue by copying the "noop/require.extensions" section of the react-starter-kit.  It stops the files from being imported, which was perfectly fine for my testing setup https://github.com/kriasoft/react-starter-kit/blob/master/test/setup.js.

[2016-10-25 04:13] dwieeb commented on #1089
Yes, that works. My tests are working as expected now.

[2016-10-26 08:04] yamsellem opened #1094 "Custom assertions"
Is there a way to add some custom assertions to `t` existing ones?

And maybe, adding some basic needs to the existing ones:
— `t.instanceof(object, clazz)`
— `t.length(array, length)`
— `t.members(array, item, item)`
— `t.includes(string, substring)`

For custom ones, I guess `t.context` can be used, but feels cumbersome.

[2016-10-26 08:21] sindresorhus commented on #1094
Not at the moment, but your needs can be solved with the existing methods:

[code]

You can already use any external assertion library. The only caveat is that `t.plan()` doesn't work.

[2016-10-26 11:54] alathon commented on #1094
I think a very strong point of AVA (and tape) is precisely that there are few assertions by default - this reduces the amount of 'magic' that occurs, and reduces bugs in testing code that occurs because you aren't 100% sure how a particular assertion works.

[2016-10-26 16:25] yomed opened #1095 "Limiting concurrency of tests"
## Description

I have about 15,000 tests that I run in a single file, each of which tests a url variant through `supertest`. If I run the tests with `--serial`, they pass. However, I can only run about a few hundred tests otherwise. After that, I guess that my server chokes and can't handle that many requests at the same time, so the tests start failing with assorted supertest errors. The tests h

[2016-10-27 08:37] bdentino commented on #520
Here's a concrete use-case. I run a bunch of my integration tests using ava inside a docker container orchestrated via docker-compose. My docker image takes significantly longer (~100x) to rebuild when i modify package.json (since it has to re-run npm install). because i have to define ava defaults in this file, any change to those forces a pretty long and usually unnecessary rebuild. this is a re

[2016-10-27 10:30] capaj commented on #1095
funny, I just came here to start the same issue. I am also experiencing performance problems when I have too many test files.
@yomed you can fix your problem with `-c 4`

BTW I think ava should by default limit the number of concurrent tests to the number of available procesor cores on the current machine. That way optimal performance is achieved on my experience.

[2016-10-27 10:48] sindresorhus commented on #1095
@capaj This is about tests, not test files.

We might do that for test files (see open issue about it somewhere), but it does not make sense for tests.

[2016-10-27 20:51] ORESoftware opened #1097 "docs / feature request"
Mocha is far and away the most popular test runner in the Node.js ecosystem. And I think we all agree that is has some major problems. Unless I am missing something, is there a place that AVA formally discusses its advantages over Mocha (in the docs or elsewhere)?

Perhaps it would be a good idea to do a full-fledged side-by-side comparison of the advantages that AVA has over Mocha.

I am going to

[2016-10-28 17:07] vdemedes commented on #1097
I'm not a fan of these kinds of comparisons. I think AVA users should be attracted to it by its features, not by mentioning how bad alternatives are. No product is perfect, that is a fact. AVA has its pros & cons as well and it's perfectly normal. Every testing tool loses to each other in some way.

[2016-10-29 08:06] yamsellem commented on #1094
@alathon Being small does not necessarily means being ascetic.

[code]

Some basic assertion on strings and arrays seems fair to me — and don't break the 'no magic' of the thing, IMO.

[2016-10-29 21:05] pocesar opened #1099 "Getting [object Object] for custom error, not being reported by AVA"
## Description

Custom error when returning a promise inside the test is returning a non descriptive error.
When doing a `console.log` on the rejected promise, I can see the ValidationError name from Joi.

The error should show as: `ValidationError: child "uuid" fails because ["uuid" with value "f47ac10b-58cc-x372-a567-0e02b2c3d479" fails to match the required pattern: /[0-9A-F]{8}-[0-9A-F]{4}-4[0

[2016-10-30 14:55] #1041 closed

[2016-10-30 15:08] novemberborn commented on #1092
Assuming your browser code runs under Node.js without compilation then IMHO `browser-env` is still a good way of getting enough globals and DOM in place to exercise that code. AVA at least isolates different test files from each other. Our current browser testing recipe focuses on these kinds of tests.

Ideally though you'd compile your browser code first and test that in a less "hybrid franken-en

[2016-10-30 15:17] novemberborn commented on #1095
@yomed if possible I'd recommend breaking up your tests into several files. Perhaps you could use a helper to generate them, and then create a test file for each language or variant?

Alternatively you could build your own concurrency limiter. If you can get a promise for your test result then [`throat`](https://www.npmjs.com/package/throat) may be useful.

[2016-10-30 15:46] novemberborn commented on #1099
I suspect ` [object Object]` is because you're calling `t.pass()` with `c`:

[code]

`t.pass()` takes an optional message argument. This is just a distraction though, the error is in:

Looking at your test that pans out. See annotations:

[code]

There are only two assertions called in your test, yet you've planned for three.

[2016-10-30 22:23] pocesar commented on #1099
no, the promise is being rejected (because 'f47ac10b-58cc-x372-a567-0e02b2c3d479' isn't valid). nothing to do with `t.pass`

[2016-10-30 23:21] ORESoftware commented on #1097
well I am trying to convince my workplace to avoid mocha but having a hard
time finding verified info that shows the benefits even if I can spout them
off verbally
On Oct 28, 2016 1:07 PM, "Vadim Demedes" <notifications@github.com> wrote:

[2016-10-30 23:53] sotojuan commented on #1097
We're more than happy to tell you reasons to use AVA but it's not our place to tell you why Mocha is a bad choice—that's on you.

I have no experience with Mocha as I've always used tap, tape, or AVA and if I'm not the only one then we can't give you unbiased, informed opinions. [This](https://github.com/avajs/ava#why-not-mocha-tape-tap) is probably as much as you can get from us and the fact that

[2016-10-31 00:50] pocesar commented on #1099
ok, I changed the helper code to:

[code]

but now it fails with `[object Object]` in the list, but on the AssertionError, it shows the ValidationError:

[code]

[2016-10-31 08:39] novemberborn commented on #1099
`t.fail()` will cause your test to fail right away. Which is appropriate for unwanted rejections.

Perhaps try:

[code]

`t.throws()` and `t.notThrows()` work with promises, too.

[2016-10-31 19:49] pocesar commented on #1099
thanks @novemberborn that was really enlightning, I'm trying to get my head off the mocha mindset :)

[2016-10-31 21:46] pocesar commented on #1099
I'm using this right now:

[code]

but got:

[code]

shouldn't it be showing what the exception were?

[2016-11-01 04:03] sunny-g commented on #989
Possibly related to this? https://github.com/Jam3/devtool/issues/74

[2016-11-01 09:12] jeffijoe commented on #520
There are a bunch of "project X" out there that _does_ have a dotfile for config. It was mentioned that `nyc` did not, and that was true [until not so long ago.](https://github.com/istanbuljs/nyc/pull/430). I'd say that _"because project X does it that way"_ **is** a valid argument if there are more than just a few cases.

I don't see how adding support for dotfiles will ruin the experience for th

[2016-11-01 09:30] novemberborn commented on #1099
I suppose, but now we're getting into the weeds of how Joi generates error messages. If you could share a repo I could `npm install` that would help. Can't immediately see if the `Got unwanted exception` message even comes from AVA.

[2016-11-01 17:04] yomed commented on #1095
@novemberborn Thanks for the suggestions. Splitting the tests up into multiple files seem a bit too hacky/overkill for this, but I can see that manually throttling promises has some... promise. Although even with that, I think I'd have to weigh the extra cost in complexity, and perhaps ava isn't currently well-suited to this type of scenario.

[2016-11-01 21:54] neverfox commented on #1093
Do you have an ava config in your package.json? For example,

[code]

[2016-11-02 12:12] kristianmandrup commented on #421
@jamestalmage I like your proposal. I think it should be implemented as an extension to ava.
You could even add some conventions, like `*.test.fork.js` for test files where all tests should be forked or even a `/*-fork` folder?

[2016-11-02 13:25] tuhoojabotti opened #1100 "Feature request: coverage reporting in watch mode"
## Description

While running ava in the watch mode (`--watch`) I would like to see an overview of the test coverage. If I'm writing tests I would like to see the coverage summary.

Maybe a way to invoke a command after successful test run? For example:

[code]

### Command-Line Arguments

[code]

## Relevant Links

- https://github.com/istanbuljs/nyc
- https://github.com/avajs/ava/blob/master/doc

[2016-11-03 08:02] platy11 commented on #161
@sindresorhus I was looking at [cli.js100](https://github.com/avajs/ava/blob/master/lib/cli.js#L100) and in my testing (in your `cat-names` repo) I cannot get the deprecation error to appear - is this just me?

[2016-11-03 09:33] SimenB opened #1101 "Consider using babel-preset-env"
## Description

Instead of rolling your own preset config checking node version (https://github.com/avajs/ava/blob/master/lib/babel-config.js#L43-L52), just have `preset: ['env']`.

https://github.com/babel/babel-preset-env/pull/35

I can provide a PR if you want it?

[2016-11-03 09:42] sindresorhus commented on #1101
Duplicate of https://github.com/avajs/ava/issues/1101. I'd like to see it mature more first.

[2016-11-03 09:42] #1101 closed

[2016-11-03 09:59] SimenB commented on #1101
Duplicate of itself? I suppose #148 is the one, or #1068.

[2016-11-03 10:12] sindresorhus commented on #1101
Ah yes

[2016-11-03 13:17] sotojuan commented on #1094
I guess the problem is that it's a slippery slope. These kind of extra assertions are better in userland as separate modules, functions, or snippets. I personally don't see anything wrong with the code block in the last comment but you could make it look "prettier" by abstracting those functions away. That way you can use your own custom logic as well.

The smaller core AVA is, the easier it is to

[2016-11-03 19:17] unional opened #1102 "Suggestion: Support t.throws(..., ..., message?: string | RegExp | undefined)"
ava version: 0.16.0

So that we can validate both the Error type and use RegExp to check for the message.

Currently, error type checking with RegExp is not possible: `t.throws(..., /filter err messge/)`

🌷

[2016-11-03 23:59] aureooms opened #1103 "is and deepEqual behaviour with NaN"
[code]
Is this wanted behaviour?
[code]

[code]

[2016-11-04 01:59] sindresorhus commented on #1103
1. is correct as it's just `===`.
2. is just `===` for every property in the compared object.

This is just a quirk in JS. I don't think it's our job to fix that.

Same result with:

[code]

The correct way of checking for NaN is using:

[code]

[2016-11-04 01:59] #1103 closed

[2016-11-04 05:36] #1031 closed

[2016-11-04 09:11] sindresorhus commented on #1102
`t.throws` is already too overloaded. We're not gonna make it even harder to use.

We're planning to simplify it over in https://github.com/avajs/ava/issues/1047. Could use your thoughts there ;)

[2016-11-04 09:11] #1102 closed

[2016-11-04 19:11] ORESoftware commented on #520
@sindresorhus you are opening the door for every meta tool to now store info in package.json, just think about what that might mean :) It probably won't mean much, except small chance of namespace conflicts, and very large package.json files :)

[2016-11-05 15:24] novemberborn commented on #161
@platy11 that line is in `master` but not yet in a release.

[2016-11-05 15:28] novemberborn commented on #1100
This would be interesting, yes. I think we'd need to integrate more closely with Istanbul though. That's still a ways off so I'm going to close this for now.

For now you could use [`nodemon`](http://nodemon.io/) to rerun your coverage tasks when code changes. Not ideal but better than manually rerunning it.

[2016-11-05 15:28] #1100 closed

[2016-11-06 07:56] platy11 commented on #161
@novemberborn Ok, thanks! :smiley:

[2016-11-07 09:24] tuhoojabotti commented on #1100
@novemberborn Do you have a public road map somewhere? Would you be interested in a PR if we can work out the integration?

[2016-11-08 16:00] sindresorhus commented on #619
It is now 😎

I would be ok with that, as long as we have very clear docs about the behavior, so there's very little chance of confusion.

[2016-11-08 16:38] sindresorhus commented on #1051
Proposed plan:

- Release 0.17.0 as last actively maintained version with Node.js 0.10/0.12 support. That means it might get some bug fix releases, but no new features.
- Release 0.18.0 requires Node.js 4
- Drop total support for 0.10/0.12 at the end of the year.

[2016-11-08 16:41] sotojuan commented on #1051
Sounds good to me.

[2016-11-08 16:41] sindresorhus commented on #611
👍 Sounds good.

[2016-11-08 16:54] novemberborn commented on #1051
So no more bug fixes for `0.17`? Fine by me.

[2016-11-08 16:54] sindresorhus commented on #1051
Yes

[2016-11-08 16:57] novemberborn commented on #1100
Of course, but I don't think we can deal with integrating Istanbul for the foreseeable future.

[2016-11-09 06:16] AlloVince opened #1105 "ava make `instanceof` work incorrect with Set"
Check below case please, if without ava, everything work correct:

[code]

If this case work under ava, `instanceof` will get false

[code]

Node version: v6.7.0
AVA version: 0.16.0

[2016-11-09 22:55] gajus opened #1106 "Environment variables (process.env.*) cannot be overwritten at test time if they are contained in a different file from the test subject"
### Test Source

[code]

[code]

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

[code]

## Environment

[code]

[2016-11-10 08:15] jvorcak commented on #849
I'm sorry, it might be a bit off-topic, but I've tried to integrate nock with ava the same way as @jamestalmage is doing here https://github.com/avajs/ava/issues/849#issuecomment-224667838

And I'm getting
`1. contact › Contact can be created
  Error: XMLHttpRequest is not supported by your browser`

Do you have any suggestions? I've tried to integrate https://github.com/avajs/ava/blob/master/docs

[2016-11-10 08:23] novemberborn commented on #1106
Where are you setting / overwriting the variable?

[2016-11-10 08:25] novemberborn commented on #1105
In the test file `Set` is replaced by `babel-plugin-transform-runtime`, see #947. There is a workaround, see #1105, but that hasn't made it into the documentation yet.

[2016-11-10 08:25] #1105 closed

[2016-11-10 10:43] gajus commented on #1106
Sorry, forgot an important fragment.

In `beforeEach` block.

[code]

[2016-11-10 10:44] gajus commented on #1106
Oh. This just made me realize it is not a bug in ava.

I guess the way to fix this is to use commonjs require in a `test` block and de-cache it.

[2016-11-10 10:44] #1106 closed

[2016-11-10 11:49] novemberborn commented on #1106
I like to make a `export default process` module, then require that in order to access the `process` object. That way you can use something like `proxyquire` to stub it.

[2016-11-10 12:03] sindresorhus commented on #1106
@novemberborn `process` is requirable:

[code]

[2016-11-10 13:30] kozzztya opened #1107 "Parallel and serial test running in one command"
Hello. Currently I'm running tests with using this npm scripts:

[code]

Some tests I can run parallel and some test I can't. What about parsing `serial` string in file name and run them serially? It would be great, because my approach is not too fast.

[2016-11-10 23:54] jedwards1211 commented on #184
The one thing that disappoints me about transpiling in `prepublish` is I have to transpile for the lowest common denominator, i.e. `babel-preset-es2015`.  If you transpile in a `postinstall` you could use `babel-preset-es2015-node` to get the most optimized transpilation for the user's version of node.  But I agree there are to many other problems with transpiling during `postinstall`.

But I gues

[2016-11-11 09:08] vdemedes commented on #1094
@sotojuan Good point, totally agree.

I think we should make `t` extendable with custom methods (assertions). Was thinking to create a separate module for `t.jsxEqual()`, would be nice to make this possible.

[2016-11-13 11:09] wmertens commented on #222
I would like to point out that you can already get grouping with pretty low effort:

[code]

You can even make the `withShared` simpler with a helper:
[code]
[code]

[2016-11-13 16:31] vdemedes commented on #1107
Hey! You can use `.serial()` test modifier to run selected tests serially:

[code]

[2016-11-13 16:31] vdemedes commented on #1097
I think we sorted this out, closing.

[2016-11-13 16:31] #1097 closed

[2016-11-13 16:32] vdemedes commented on #1051
Totally on board!

[2016-11-14 04:39] sindresorhus commented on #1107
And if all tests in a file are serial, you can import just the `serial` test modifier:

[code]

[2016-11-14 14:11] jantimon opened #1108 "Debugging with the Node.js debugger"
Is it possible to use `debugger` without purchasing Webstom?

Could you please add a receipt for `iron-node` or for `node --inspect`?

[2016-11-14 14:13] kozzztya commented on #1107
Thanks for answers but my before hooks still not work serially.
I have db clearing in my before hook that's why I can't run my test parallel.

It would be great to have one modifier for many tests of for one file. Like:

[code]

[2016-11-14 14:13] sindresorhus commented on #1108
We have a [short guide](https://github.com/avajs/ava/blob/master/maintaining.md#profiling), but it's not currently working → https://github.com/avajs/ava/issues/988. We plan on supporting the built-in Node.js devtools inspector at some point → https://github.com/avajs/ava/pull/929.

[2016-11-14 14:15] sindresorhus commented on #1107
`before` hooks always run before the tests.

[2016-11-14 14:18] jantimon commented on #1108
Wow cool that works perfectly - just tested it with node 4

<img width="971" alt="developer_tools_-_file____users_jnicklas__nodenv_versions_4_4_4_lib_node_modules_iron-node_app_index_html" src="https://cloud.githubusercontent.com/assets/4113649/20267996/887ca7de-aa7d-11e6-8cdd-33a4f7f3304a.png">

[2016-11-14 14:22] sindresorhus commented on #1108
Great. I'll keep this open for discovery until I have time to add something more visible.

[2016-11-14 20:48] vdemedes commented on #1107
See @sindresorhus's solution above on how to accomplish this: https://github.com/avajs/ava/issues/1107#issuecomment-260247033.

[2016-11-15 04:11] huan opened #1109 "Support to Run TypeScript test file(.ts) directly without Precompiling(tsc)"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/avajs/ava/issues/1109/badge.svg" />](https://issuehunt.io/r/avajs/ava/issues/1109)

## Description

AVA now support ES6 by using Babel, run directly without any precompiling, this is very convenience. But for TypeScript, AVA has to precompile ts files by run `tsc`.

I use TypeScript in my project wechaty, run TS code directly by `ts-node` li

[2016-11-15 04:13] zixia commented on #631
I'm writing a hack for support to run typescript without precompiling. Please see #1109 :)

[2016-11-15 14:24] ngavrish commented on #840
Any updates on this guys? Will it be done in some visible perspective?

[2016-11-16 09:35] develar opened #1110 "Please release new version to make debugging possible"
#874 is not included into latest release. Could you please release new AVA version?

[2016-11-16 15:05] zixia commented on #1109
Hi,

Is there any feedback or suggestion?

I want to know:

1. is the parameter name all right? now they are:
    1. `--ext` / `-e` for AVA CLI
    1. `exts` a new key for AvaFile options
1. how about to set `--ext` automatically? if we run `ava test.ts` then let ava know `.ts` should support typescript.

looking forward to getting feedback, then I can make the Pull Request fit better.

[2016-11-16 15:28] sotojuan commented on #1110
IIRC we're releasing one very soon. @novemberborn I think Sindre said he was going to be busy, do you think we can do a release soon?

[2016-11-16 16:02] sindresorhus commented on #1110
I was planning to do it today actually, but didn't have much computer time. I've been a bit strapped for time lately. Will do a new release tomorrow.

[2016-11-17 08:59] sindresorhus commented on #1110
Done: https://github.com/avajs/ava/releases/tag/v0.17.0

[2016-11-17 08:59] #1110 closed

[2016-11-17 10:10] sindresorhus commented on #936
This is PR welcome again, as #985 went stale.
Make sure to take into account the feedback left in #985.

[2016-11-17 12:30] mightyiam commented on #1110
Thank you!

[2016-11-17 12:35] mightyiam opened #1112 "Document how to debug with Node.js debugger/Chrome DevTools/etc."
Until we have a seamless debugging experience (perhaps see #929), it would be great to have instructions on how to use current debuggers like Chrome DevTools and the Node.js debugger with Ava.

The only place I've seen such instructions is where they were given to me [in an issue comment](https://github.com/avajs/ava/pull/874#issuecomment-261063096).

Would a pull-request for this be welcomed?

[2016-11-17 13:07] kristianmandrup commented on #568
@ivogabe Ava with typings in VSCode!?

I'm trying to use VSCode as my editor in a project using both ava and mocha for testing.
I have the following setup:

[code]

with a `typings` folder containing `index.d.ts` with the following install via `typings binary`

F.ex `typings install dt~mocha --global --save`

[code]

From the Typescript section of the ava docs, I'm led to believe it will auto-dete

[2016-11-17 18:30] ivogabe commented on #568
@kristianmandrup It looks like you're using both typings and `@types`? I'd advise to use the latter. You can simply run `npm install @types/node @types/mocha`, set `"types": ["mocha", "node"]` (like you already did) and TypeScript will find the type definitions. The type definitions for AVA are automatically found with no additional configuration needed. I'm not familiar with the configuration nee

[2016-11-18 03:05] jokeyrhyme opened #1114 "ava 0.17.0 with FlowType 0.35.0 results in type-ambiguity errors"
## Description

Trying to update a project to use ava 0.17.0

For what seem like pretty standard-looking ava tests to me (as far as I know), FlowType is getting all up in my face about some ambiguity relating to the new types that ava declares. I am obviously quite scandalised by all this. Oh my!

### Test Source

This is the test code in question:

[code]

### Error Message & Stack Trace

When I

[2016-11-18 03:14] sindresorhus commented on #1114
@thejameskyle halp

[2016-11-18 03:21] jokeyrhyme commented on #1114
@sindresorhus that kitten slays me every time. So cute! Your participation in any GitHub conversation is a welcome presence. :D

[2016-11-18 03:28] sindresorhus commented on #1112
Yes, a pull request would be lovely 😁

Title suggestion: `Debugging tests in Chrome DevTools` (filename: `debugging-tests.md`)

Could be a recipe: https://github.com/avajs/ava/tree/master/docs/recipes

(Make sure to also add it to https://github.com/avajs/ava#recipes)

[2016-11-18 09:11] sindresorhus commented on #1047
Alternative proposal.

Make it `t.throws(fn, matchers, [message]);`, where `matchers` is an object of different matchers that all has to match. Matchers can be string or regex.

This could easily be an addition to supporting string/regex/constructor in the second argument, for backwards compatibility.

For example:

[code]

Compared to the current way:

[code]

Possible matchers `constructor`, `me

[2016-11-18 10:46] novemberborn commented on #1047
I like it!

[2016-11-18 16:30] jfmengels commented on #1114
I am getting the same error and can't seem to find a solution to it (except removing the macro possibility...) :thinking:

[2016-11-18 16:42] Wildhoney commented on #802
For those who need to parse YAML files:

[code]

[2016-11-18 17:26] ntwcklng commented on #1072
Hi, would you mind if i tackle this issue? However, when i run this test i get the following outout:
[code]
My output`Test.t [as fn] (ava.test.js:4:11)` vs. sindresorhus output: `Test.fn (test.js:5:8)`

I'm using
[code]
Maybe the output from the errorstack has changed in node v7?

Responsible for the output:
- https://github.com/avajs/ava/blob/master/lib/reporters/verbose.js#L112
- https://github.

[2016-11-18 17:39] sotojuan commented on #1072
Sure, no problem! Give it a try :D There must've been some changes in 7, I haven't looked yet.

[Here's](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V7.md) the Node 7 changelog.

[2016-11-18 18:48] sindresorhus commented on #1072
@ntwcklng We always appreciate help, but @vdemedes is currently doing a big rewrite of the output, so this would conflict. I would ask you to wait until that work is done or try another issue :)

[2016-11-18 19:07] ntwcklng commented on #1072
Okay thanks, i will have a look.

[2016-11-19 00:00] jokeyrhyme commented on #1114
I did get this working by explicitly annotating the types, something like this:

[code]

But I don't want to have to do this for every single test.

Another interim solution would be to tell FlowType to ignore ava. /shrug

[2016-11-19 00:29] seacloud9 opened #1118 "SyntaxError: Unexpected token export"
node:v6.6.0

`.babelrc` configuration:

[code]

`package.json`

[code]

All tests pass when this https://github.com/xotahal/react-native-material-ui  I have read the numerous issues about this type of issue on your github repo.  Is there something you can see that I am missing?  I have also attempted to clear the cache as well. I do not know why adding the above repo would break my tests.  Any ass

[2016-11-19 04:05] cameronroe commented on #672
Any chance that this could be added in a future release? This would be really great to have!

[2016-11-20 13:40] #1112 closed

[2016-11-20 14:15] sindresorhus commented on #1109
Thanks for picking this up @zixia :)

Your proposal looks pretty good.

Some random feedback:

- It should be possible to set `--ext` multiple times.
- `.js` files should always be included.
- TypeScript should not be a dependency of AVA, but rather in the user's package.json. If it's not, we should throw a friendly error message. We bundle Babel because we depend on it in AVA for other things too

[2016-11-20 14:33] dchowitz opened #1119 "t.throws() ignores error parameter for rejected promise"
## Description

According to the documentation for [`.throws(function|promise, [error, [message]])`](https://github.com/avajs/ava#throwsfunctionpromise-error-message) the error parameter should be taken into account and compared or matched with the rejection reason (error message) of a promise. Unless I got the API totally wrong, this is not the case.

### Test Source

[code]

## Environment

Node

[2016-11-20 14:42] sindresorhus commented on #1119
You have your parens wrong:

[code]

[2016-11-20 14:51] dchowitz opened #1120 "t.throws() returns promise instead of promise's rejection reason"
## Description

According to the documentation for [`.throws(function|promise, [error, [message]])`](https://github.com/avajs/ava#throwsfunctionpromise-error-message) the method should return the rejection reason of promise, instead the promise itself is returned.

### Test Source

[code]

## Environment

Node.js v7.1.0
darwin 16.1.0
npm 3.10.9
ava 0.17.0

[2016-11-20 15:03] sindresorhus commented on #1120
Thanks for reporting. It's a documentation bug. It should say that it returns a promise for the rejection reason. I'll fix that up shortly.

You need to await it:

[code]

That being said. We're planning a better interface for the `throws` assertion: https://github.com/avajs/ava/issues/1047 (feedback welcome)

[2016-11-20 15:03] dchowitz commented on #1119
Ups, sorry. Stupid me ;-)

[2016-11-20 15:07] dchowitz commented on #1120
Understood. Thanks for the quick reply and clarification!

[2016-11-20 15:19] #1120 closed

[2016-11-20 15:38] #1119 closed

[2016-11-20 20:13] mightyiam opened #1121 "`t.deepEqual` seems to ignore symbol key properties"
## Description

`t.deepEqual` is affected by [upstream lodash issue](https://github.com/lodash/lodash/issues/2840). It means that

[code]

## Relevant Links

- [upstream lodash issue](https://github.com/lodash/lodash/issues/2840)
- https://bugzilla.mozilla.org/show_bug.cgi?id=1318933
- [`Object.getOwnPropertySymbols`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects

[2016-11-20 23:38] mightyiam commented on #1121
Upstream [was fixed in less than two hours](https://github.com/lodash/lodash/commit/fd4808147d762ba40299bc67b5ae3807f20d6145) after reported :tada:
I wonder whether I should even ask for a release.

[2016-11-21 05:36] zixia commented on #1109
Got it.

I'll follow your great feedback then make the PR later. :)

[2016-11-21 08:38] zixia commented on #1109
Hi @sindresorhus ,

I had followed all your feedbacks and made two PRs: one is for AvaFiles, the other is for AVA.

Please notice that CI for AVA will be expected to report failure because the `ava-files` NPM modules do not support `extensions` parameter now.

All unit tests had passed in my dev box with the PR code.

Please let me know if I missed anything, thanks.

[2016-11-21 15:28] 0x1mason commented on #420
I've implemented a simple solution to this problem, similar to Tape's `test::comment`. It needs full integration into the Ava code  (e.g., lose the wrapper, add to `lib/test.js`, etc), but here's the basic pattern using a wrapper:

[code]

Output:
[code]

I'd be willing to submit this as a proper PR.

[2016-11-22 00:52] unional commented on #1081
Encounter the same issue. ava@0.17.0

[2016-11-22 08:02] KnisterPeter opened #1124 "Using chalk in AVA tests does not colorize the strings"
I noticed that the following code does work as expected

[code]

but this doesn't

[code]

I'm using ava 0.17.0 and chalk 1.1.3.

[2016-11-22 08:07] sindresorhus commented on #1124
// @thinkimlazy

[2016-11-22 10:27] creeperyang opened #1125 "Check assertion message is a string"
(See https://github.com/avajs/ava/issues/1125#issuecomment-264707430, @novemberborn)

---

`node@6.8, ava@0.17.0`

When I run test, sometimes I get this error:

[code]

And I found this maybe caused by:

[code]

[2016-11-22 12:18] gajus commented on #24
Can the title of this issue be set to "Browser support". The "Browserify" part makes it sound of-topic.

[2016-11-22 12:41] gajus opened #1126 "test.cb does not timeout"
## Description

I am using [test.cb callback](https://github.com/avajs/ava#callback-support) to define an asynchronous test. My test is failing (the expected callback is not called).

### Current behaviour

This leaves the entire test suite hanging indefinitely.

### Expected behaviour

Expect the test to fail after some X time.

### Test Source

[code]

This produces:

[code]

### Error Message &

[2016-11-22 12:44] sindresorhus commented on #1126
You need to use the `--timeout` CLI flag.

[2016-11-22 12:46] gajus commented on #1126
Right. I apologize. I was under impression that there is a default global timeout.

[2016-11-22 12:46] #1126 closed

[2016-11-22 13:03] sindresorhus commented on #24
Done

[2016-11-22 13:09] sindresorhus commented on #1126
@gajus We considered having a global default, but we realized there's no good default that works for everyone. Instead, we plan to show when we think a test is hanging: https://github.com/avajs/ava/issues/583 (Help welcome btw)

[2016-11-22 17:30] sindresorhus commented on #1125
What error occured in your promise?
The only way [the above error](https://github.com/avajs/ava/blob/86107237fcf2ab06725dd7358f325d93d5b88c8c/lib/reporters/mini.js#L174-L176) can be hit is if the message of the error exists but is not a string.

[2016-11-23 07:29] pocesar opened #1127 "A way to disable progress indicator and colors on Docker Machine SSH"
## Description

I'm using Docker Machine in Windows, and it uses a dumb terminal, with no colors and no progress capabilities. the reports are really hard to read. FWIW, I'm running tests using docker-compose for microservices using the real microservice architecture emulated using Docker

It seems that the `--no-color`  isn't doing anything

![ava](https://cloud.githubusercontent.com/assets/46108

[2016-11-23 07:32] sindresorhus commented on #1127
See: https://github.com/avajs/ava/pull/1104

[2016-11-23 07:35] pocesar commented on #1127
oh I assumed it was already implemented, most colorized-by-default libraries comes with `--no-color`

[2016-11-23 17:01] thinkimlazy commented on #1124
Ye that what I meant. In my terminal test files with chalk disabled, but my terminal supports color. Sindre got colors.
I'll dig into
#1104

[2016-11-23 18:57] jedmao commented on #1109
@zixia this is awesome work and I'm excited to use it, but can you tell me if it works fine with the `--watch` flag too? Or is there more work to do for that?

[2016-11-23 21:59] tonyeung opened #1128 "ava requires sudo to run"
## Description
Ava has permissions issues when trying to read/write the node_modules/.cache folder and sub folders. Manually creating the folders and running ava again will cause the next fs operation to fail.
Running ava with sudo (`sudo ava`) will let ava run as expected.

Is it intended for ava to run with su permissions or require the user to give ava rw permissions to the `.cache/ava` folder?

[2016-11-23 22:00] tonyeung commented on #1128
opened an issue here first https://github.com/avajs/find-cache-dir/issues/4

[2016-11-23 22:22] tonyeung commented on #1128
not sure why this was happening but it works fine without sudo now

[2016-11-23 22:25] tonyeung commented on #1128
okay, so i screwed up the test file name so ava coudn't find anything to test. After fixing the issue, the same errors are happening again.

[2016-11-23 22:36] ORESoftware commented on #1128
Try this:

`sudo chown -R $(whoami) $(npm root -g) $(npm root) ~/.npm `

after that, you probably won't need to use sudo anymore

[2016-11-23 23:07] tonyeung commented on #1128
@ORESoftware  thanks for the advice. I'm going to close these issues since I don't intend on using ava anymore.

[2016-11-23 23:07] #1128 closed

[2016-11-24 02:10] zixia commented on #1109
@jedmao Hi buddy thanks you for like my work, and I'm sure you are a TypeScript fan like me.

In theory, I think it should work with the `--watch` flag, because I modified all the parts in AVA to support ts, including `Watcher` class and all the Watcher unit tests. But I did not test it yet, and there's possible I missed part of it. So if you find any problem with that, please let me know, and I'l

[2016-11-24 03:46] jokeyrhyme commented on #1114
Just FYI: I'm having this issue with FlowType 0.36.0, too.

[2016-11-24 15:24] omerbn commented on #1046
Hey guys,
I'd like to do it but need further depiction.

[2016-11-25 07:25] cameronroe commented on #404
When `import` ing a sass file with webpack and ava, the import fails. Any way to fix that?

[2016-11-25 07:35] sindresorhus commented on #404
@cameronroe http://stackoverflow.com/questions/tagged/ava would be a better place to ask this. Include some more info too, like AVA and Webpack config.

[2016-11-25 20:06] cameronroe commented on #404
@sindresorhus cheers!

[2016-11-26 16:15] gluons commented on #841
Agree. I try to play with **AVA**. After installing, I face the very large dependencies. It shocked me. 😱
**Mocha** is currently lighter than **AVA**.

Hope **AVA** be lighter. Regards. 😃

[2016-11-26 16:49] sindresorhus commented on #841
@gluons Most of it is Babel, which is unfortunately out of our control. Try https://github.com/yarnpkg/yarn instead of npm. It's a lot faster.

[2016-11-26 16:54] gluons commented on #841
@sindresorhus Yeah! You're right. I currently use it. It's really awesome for me. 😄

[2016-11-26 18:34] vdemedes opened #1129 "Recommend Yarn for installation"
In discussion regarding how to decrease installation time, @sindresorhus suggested recommending Yarn as a temporary solution for this problem. Installing AVA with Yarn is a great experience, so we might as well recommend it officially.

This involves putting a simple note in readme under [installation](https://github.com/avajs/ava#add-ava-to-your-project) section. Don't forget to link to Yarn too

[2016-11-26 18:37] vdemedes commented on #1121
Since the `lodash.isEqual` is fixed now, we just need to update the dependency. Thanks for reporting!

[2016-11-26 18:40] vdemedes commented on #1099
Closing due to inactivity.

@pocesar feel free to reopen :)

[2016-11-26 18:40] #1099 closed

[2016-11-26 18:43] vdemedes commented on #1060
Closing due to inactivity.

@diegohaz feel free to reply back whenever you have time and we'll reopen the issue ;)

[2016-11-26 18:43] #1060 closed

[2016-11-26 19:23] jdalton commented on #1121
I haven't cut a release yet.

[2016-11-26 20:13] vdemedes commented on #1121
@jdalton Thanks for the note! We'll keep watching and update when it's ready.

[2016-11-28 03:13] davewasmer commented on #404
Not sure if I should add this here, or file a separate issue, but one pitfall I ran into:

If your tests do anything memory intensive, you might end up hitting OOM process killers in CI environments because ava runs them in parallel. See [this build](https://circleci.com/gh/denali-js/denali/2#artifacts/containers/0) as an example.

[2016-11-28 11:00] fankee commented on #1129
I looked into it, and installed ava using yarn. Can I take up this issue?

[2016-11-28 11:04] sindresorhus commented on #1129
@fankee There's already an open pull request for this unfortunately: https://github.com/avajs/ava/issues/1130

[2016-11-28 13:33] mightyiam opened #1131 "Request: ordered results option"
I often like to see the test results in serial order, when I'm developing. So I run with `--serial`.
Yet, I don't care that they *run* serially—only that they show up in the serial order.

Perhaps an option for running normally and displaying serially? `--ordered-results` or so?

[2016-11-28 14:01] sindresorhus commented on #1131
But then you wouldn't see the results until after they're all done. I don't think that's a very good UX.

[2016-11-28 14:26] igl opened #1132 "Requirements should be configured in package.json"
Is there a particular reason for this?

This pains me:
- I am less flexible now on how to run ava in my project. Unit tests for frontend/backend may have different requirements.
- I kept my `package.json` clean so far. Now i am forced to put ava fluff in there.
- Configuration does not belong in there in the first place IMO.
- CLI-flags can be removed all the way now since i am not going to put av

[2016-11-28 14:48] sindresorhus commented on #1132
Yes, that's the motivation. Having it in package.json makes it easier for external tools, like editor plugins, to use the same config.

[2016-11-28 17:44] elaijuh commented on #24
I am finding a way to do angular 2 unit test. All I could find is karma + jasmine + browser launcher. What I expect is I could use AVA to tackle it, so this issue looks like working on providing a browser environment for client side code.

I have tried `browser-env` with no luck working together with `zone.js`, client side support is a solid thing to me.

[2016-11-28 17:53] mightyiam commented on #1131
Yes, I realize that. Well, at least I'd have this choice. And it will be better than `--serial` because the run will finish x times faster.

[2016-11-29 01:07] cameronroe commented on #404
@sindresorhus okay, so no one is alive on Stack overflow.. Any ideas on what's up with ava and webpack? Docs anywhere on the subject?

[2016-11-29 01:09] cameronroe commented on #307
+1

[2016-11-29 08:33] sindresorhus commented on #404
@davewasmer Open a new issue. I think we simply need to extend https://github.com/avajs/ava/blob/master/docs/common-pitfalls.md#ava-and-connected-client-limits

[2016-11-29 08:37] sindresorhus commented on #404
@cameronroe You didn't include the information I recommended. Just a guess, but you need to use https://github.com/istarkov/babel-plugin-webpack-loaders or precompile your component before testing.

[2016-11-29 17:28] #1129 closed

[2016-11-30 10:23] igl commented on #1132
Removing flexibility to a static "one config per package.json" seems pointless to me. You could still have both and the "static (pkg) > overwrites (cli)" model seems more reasonable to me.

[2016-11-30 14:54] mightyiam commented on #1131
Another reason for this is that in CI I use `--verbose` so that I could review the test output (computed test names and such), and I almost always prefer to see the results ordered, because it obviously easier to read that way.

[2016-11-30 15:16] mightyiam opened #1134 "Print a reminder when `--fail-fast` is on"
When a run stops due to a fail and when `--fail-fast` was provided, I'd like there to be a bold notice somewhere, perhaps at the bottom of the output, reminding me that `--fail-fast` is on, so that I will never mistakenly think that I have only one failing test.

[2016-11-30 16:03] sindresorhus opened #1135 "Show clear indicator in the output when `.only()` is used"
It's easy to forget and end up not running the rest of the tests before pushing changes.

---

Similar to https://github.com/avajs/ava/issues/1134.

[2016-11-30 19:54] mightyiam commented on #1134
That would be a welcome addition.

[2016-12-01 12:15] creeperyang commented on #1125
[code]

[code]

[2016-12-01 18:22] vikfroberg commented on #1017
I'm not sure why, but I can't seem to turn of powerAssert. My assertions works just fine if I change the argument to anything but `t`.

`ava -s dist/test/lib/postgres.js --no-power-assert`

ava version: 0.17.0
node version: 4.4.0

[2016-12-01 18:42] vikfroberg opened #1138 "Precompilation cache salt does not include --no-power-assert flag"
(See https://github.com/avajs/ava/issues/1138#issuecomment-264919725, @novemberborn)

---

I'm not sure why, but I can't turn of power assert. My assertions works just fine if I change the argument to anything but `t`.

`ava --no-power-assert dist/test.js`

ava version: 0.17.0
node version: 4.4.0
[code]

[code]

first logs:
[code]
[code]

second logs:
[code]

[2016-12-01 21:17] dlebedynskyi commented on #1093
Have same exact issue  if babel is not specified as inherit - ava fails to compile

[2016-12-01 21:18] vikfroberg commented on #1138
The option setting in `package.json` seams to be working though.

[2016-12-01 22:42] dlebedynskyi opened #1139 "SyntaxError: Unexpected token export (import)"
## Description

Ava starts to give `SyntaxError: Unexpected token export`
with babelrc es2015 set to   "modules": false.
Does not happen if modules props is not set.
AND Specifying custom config via ava/babel in package.json does not help.

Webpack uses same config. Babel compiles files successfully if executed manually as
[code]

### Error Message & Stack Trace

[code]

### Config

 `package.json

[2016-12-02 06:57] creeperyang commented on #1125
It eventually looks like caused by calling `t.fail(err)`.

I pass an Error object to `t.fail` and it seems we should use string here.

[2016-12-03 17:36] novemberborn commented on #1118
@seacloud9 how are you adding that repository? I suspect it only distributes code using ES2015 module syntax, but if you install it into `node_modules` then `babel-register` won't transpile it. You'll need to configure Babel so it transpiles that particular dependency as well as your code, I suppose by tweaking the [`only` option](https://babeljs.io/docs/usage/options/).

[2016-12-03 17:53] novemberborn commented on #420
@0x1mason what's your experience using this `t.comment()` interface, versus relying on `console.log()`?

Supporting `console` methods would have the least developer friction, but is a lot trickier given asynchronous test methods. Reading the thread here it sounds like we were hoping for a solution that would work with `console` methods, but that hasn't happened in 11 months so having a `t.log()` /

[2016-12-03 17:57] novemberborn commented on #1127
@pocesar going to close this, looks like you have a workaround, and #1104 should fix any remaining issues.

[2016-12-03 17:57] #1127 closed

[2016-12-03 18:01] novemberborn commented on #1124
@sindresorhus @thinkimlazy what is the actual bug here? Is it AVA overriding the `chalk` settings on a global basis? That seems like an issue with `chalk`s design more than anything.

[2016-12-03 18:07] novemberborn commented on #1128
For future reference, I suspect the issue here is that dependencies were installed using `sudo npm install`. That causes `node_modules` to be created with unhelpful permissions. There's ways to change those but really you should avoid using `npm` with `sudo`.

If you've gotten into this habit for other reasons, perhaps see https://docs.npmjs.com/getting-started/fixing-npm-permissions on how to fix

[2016-12-03 18:15] novemberborn commented on #1046
@omerbn AVA loads config from `package.json` here: https://github.com/avajs/ava/blob/262911f02b0857ce3873e353a547bf009bf4e795/lib/cli.js#L24

It is passed to `meow` here: https://github.com/avajs/ava/blob/262911f02b0857ce3873e353a547bf009bf4e795/lib/cli.js#L74

The goal is to pass a different object to `meow` where the keys match the long option names in the `meow` configuration, so that we can ch

[2016-12-03 18:38] novemberborn commented on #1131
Could you elaborate on why?

[2016-12-03 18:49] novemberborn commented on #1093
@dlebedynskyi Could you elaborate? How did you specify `babel` before?

[2016-12-03 18:50] novemberborn commented on #1138
@vikfroberg I suspect you might need to put the `--no-power-assert` flag *before* the `dist/test.js` argument.

[2016-12-03 18:51] novemberborn commented on #1139
`modules: false` disables transpiling the module syntax to Node.js' module system. You'll need to enable that for AVA to work.

[2016-12-03 18:53] novemberborn commented on #1125
@creeperyang `t.fail()` only takes a message, just like the other assertions take a message as their last argument.

@avajs/core perhaps it would be useful to typecheck that argument?

[2016-12-03 19:48] vadimdemedes commented on #1125
@novemberborn Agree, a check wouldn't hurt.

[2016-12-03 20:01] sindresorhus commented on #1125
:+1:

[2016-12-03 20:04] 0x1mason commented on #420
Nobody on my team has complained about having to use `t.comment` instead of `console.log`, but it's a pretty tiny sample of Ava users. :) We use it everyday as part our CI and have never had any issues.

I still use `console.log` sometimes when debugging, but I use it with `test.only` so asynchrony isn't an issue.

It also just occurred to me that for people already using `console.log`, transpilat

[2016-12-04 00:09] 0x1mason commented on #420
As far as `console.log` vs `t.comment`, I think `console.log` is unusable for concurrent tests, esp if there are a number of logs. Some of our team use the logging as a sanity check -- you know test passed, but do you *know* the test passed? ;) They like lots of logs, giving a similar effect to the way `Tape` prints each assertion. Fine by me.

Incidentally the code above is essentially the same p

[2016-12-04 08:25] creeperyang commented on #1125
👍 much better.

[2016-12-04 14:36] novemberborn commented on #1125
Cool. We're now looking to add a typecheck for the optional assertion message parameter, ensuring it's a string if it is provided.

[2016-12-04 14:38] novemberborn commented on #420
Sure, but you've already been experimenting with it so that's useful input.

@avajs/core any thoughts? I'd be happy to see `t.comment()` land, as proposed by @0x1mason.

[2016-12-04 15:20] mightyiam commented on #1131
Seeing an ordered set of test names gives me a familiar feeling. I see the names of my tests and I see that they're passing. I can recognize my tests much better when they are in order. Really, not a big thing. I've also found myself not using `--verbose` lately, in development. The number of tests was enough.

[2016-12-04 15:20] #1131 closed

[2016-12-04 15:28] novemberborn commented on #736
Currently this prevents tests from being shared through an npm package. Specifying an explicit `node_modules/my-package/*.js` pattern should select those tests in spite of the exclusion pattern. See https://github.com/avajs/ava/pull/1136#issuecomment-264709272.

[2016-12-04 15:33] vadimdemedes commented on #420
How about `t.log()` instead? Shorter and simpler.

[2016-12-04 16:01] novemberborn opened #1143 "AVA fails when running test files which are actually symlinks"
Per #1137, if a test pattern matches a symlink, AVA fails to run that test file.

AVA precompiles the test file in the main process. That works fine, even with symlinks. It then communicates a hash for the precompilation result to the worker process. When the test file is required the worker loads it from the precompilation cache, using the hash received from the main process.

The problem is that

[2016-12-04 17:16] Hurtak opened #1144 "Feature request: add 'silent' option"
## Description

Feature request to add new option flag to produce more silent output.
When silent flag would be turned on, it would not print anything to `stdout` in case of tests passing.

Use case:
- people are usually only interested when tests fail
- when using with gulp, output is unnecessarily verbose (takes 5 lines instead of gulps regular 2)

[2016-12-04 18:58] mandricore commented on #1139
I was  having the same "problem"

`.babelrc`

[code]

`package.json`

[code]

[code]

Works with another `.babelrc` setup in another project of mine, I think the `transform-runtime` plugin is key.

[code]

Please update your docs and recipes for various babel setups.

[2016-12-04 18:58] mandricore commented on #1139
Where do I set `modules: false` !?

[2016-12-04 19:03] mandricore commented on #1139
This is what I had working:

[code]

[2016-12-04 19:26] vikfroberg commented on #1138
Turns out `ava --no-power-assert --no-cache dist/test.js` works, so it seems to be a caching issue.

[2016-12-04 20:52] 0x1mason commented on #420
`log` works for me.

On Dec 4, 2016 10:33 AM, "Vadim Demedes" <notifications@github.com> wrote:

[2016-12-05 14:32] dlebedynskyi commented on #1139
@novemberborn
I tried to override .babelrc with package.json/ava/ babel section. And this is a part that did not work.
Problem for me was that I expected that override to work.
for now I have a workaround that I do not like -
having .client.babelrc with "modules: false" for webpack 2 client build
and .babelrc without - for ava.

@mandricore  he is talking about modules false in babelrc file es2015

[2016-12-05 14:33] rnkdev commented on #1143
Hi guys, this is my very first time I actually did something to an open source program.

So I followed the hint in the issue tracker and modified api.js so that the hash now uses resolved path as the key. (I hope this is as expected and I'm just not breaking everything)

I ran `npm test` before committing and it passed all of the tests.

I don't want to create pull request because I'm not sure if

[2016-12-05 17:32] novemberborn commented on #1138
It should do. I don't think the `--no-power-assert` flag is taken into account when consulting the cache.

[2016-12-05 17:35] novemberborn commented on #420
Cool. All yours @0x1mason!

[2016-12-05 17:40] novemberborn commented on #1139
@mandricore The `modules` setting needs to be `true`, which is the default. However the `es2017` preset *does not include module transpilation*. It ["only compiles what's in ES2017 to ES2016"](https://babeljs.io/docs/plugins/preset-es2017/).

---

@dlebedynskyi try [extending your existing `.babelrc`](https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md#extend-your-source-transpilation

[2016-12-05 17:41] novemberborn commented on #1143
@rnkdev please do create a pull request. It's easier to provide feedback that way 😄

Your approach looks fine, just needs a test. Looking forward to the PR!

[2016-12-06 10:55] gajus opened #1146 "ava is reading .babelrc when given an explicit configuration"
### Test Source

[code]

### Error Message & Stack Trace

[code]

### Config

Copy the relevant section from `package.json`:

[code]

### Command-Line Arguments

Copy your npm build scripts or the `ava` command used:

[code]

## Environment

Tell us which operating system you are using, as well as which versions of Node.js, npm, and AVA. Run the following to get it quickly:

[code]

[2016-12-06 10:58] gajus commented on #1146
To clarify, this proves that ava reads and interprets `.babelrc` even though it is provided an explicit `babel` configuration in the `ava` configuration object of `./package.json`.

`.babelrc` intentionally includes a plugin that does not exist to trigger an error:

[code]

[2016-12-06 11:01] gajus commented on #1146
Note that adding `"babelrc": false,` does not change the behaviour.

[2016-12-06 11:06] gajus commented on #1146
On a related note, this issue can be used to replicate another issue that I cannot figure out:

[code]

This will give an error:

[code]

Which makes no sense since ava is configured to use `transform-flow-strip-types` transpiler.

[2016-12-06 11:23] gajus commented on #1146
There are two assumptions that mislead me:

1. I thought that if I configure `{"ava": {"babel": {}}}` it will be used to transpile all the code, not only whats in `./test`.
2. After I have been pointed out that the latter is not the case, my first thought was to add custom `babel-register` config that will not ignore `./src`. This would not have worked too, because `babel-register` would have pick

[2016-12-06 11:23] #1146 closed

[2016-12-06 11:33] yuriy-yarosh commented on #1146
Well the trick is that `babel-register` will not grab a babel config from ava's `package.json` config. It will go for `.babelrc` or `package.json` embedded babel config instead, or it will use defaults and ignore ava's babel config in `package.json` completely.

And it's VERY frustrating because people are expecting completely the opposite behaviour.

[2016-12-06 11:37] yuriy-yarosh commented on #1118
Nah, `once` will not work properly, `ignore: false` is not a good choice because transpiling any `node_modules` non ES6 stuff will cause an error.

I'm initializing my `babel-register` like so nowadays.
[code]

Please keep in mind that `babel-register` will go for .babelrc config, or embedded `package.json` babel config, but will completely ignore ava's babel config. So, `ava: { "babel": "inherit"

[2016-12-06 15:14] dlebedynskyi commented on #1139
@novemberborn
still getting same error
[code]
[code]
also tried to set
[code]

only way i had it working is to have .babelrc targeting ava/nodejs and building client with other config. it looks like babel section in ava is ignored.

[2016-12-06 18:56] novemberborn commented on #1139
@dlebedynskyi that's odd. Not sure how to help you further though. Any chance you could set up a GitHub repo with a reproduction?

[2016-12-07 13:11] tjbenton commented on #1135
This happened to me yesterday

[2016-12-07 20:22] sindresorhus commented on #1135
@tjbenton I would recommend using our [ESLint plugin](https://github.com/avajs/eslint-plugin-ava), which would have caught that and many other things.

[2016-12-08 05:34] ccorcos opened #1147 "Controlling Parallelism"
I looked up "nested tests" and found [this issue](https://github.com/avajs/ava/issues/62) but that discussion was going a different direction from what I was thinking.

I'm working on a [CLI tool project](https://github.com/ccorcos/doug/blob/956630e3416721150abd29cfaf9db7b59056ae1e/test/doug-app.sh) and I want to convert my test from that shells script to Node.js, preferably with Ava. However, som

[2016-12-08 06:27] gajus opened #1148 "t.throw flow type check is giving a false-positive (Callable signature not found in)"
## Description

I am getting an "Callable signature not found in" when using `t.throws`.

The type error originates in the `node_modules/ava/index.js.flow` definition.

This could be simply me misunderstanding what the error is saying.

I'd expect Flow to pickup:

[code]

annotation and ignore:

[code]

I even explicitly cast the result to `Promise<void>`.

If I remove the `Promise<void>` cast, I

[2016-12-08 08:21] jamestalmage commented on #1148
pinging @thejameskyle

[2016-12-08 15:51] cliguo opened #1149 "SyntaxError: Unexpected identifier"
bash-3.2$ ava test/users.js
/Users/wind/Documents/node-projects/phenix/kxzg-dao/pg/db.js:21
        async findById(table, id, columns) {
              ^^^^^^^^
SyntaxError: Unexpected identifier
    at Object.exports.runInThisContext (vm.js:78:16)
    at Module._compile (module.js:543:28)
    at Module._extensions..js (module.js:580:10)
    at extensions.(anonymous function) (/usr/local/lib/node_m

[2016-12-08 15:55] mightyiam commented on #1149
Perhaps by `async findById(table, id, columns) {` you actually mean `await findById(table, id, columns) {`?

[2016-12-09 14:21] justin-calleja opened #1150 "t.notThrows() gives no info on thrown error in case an error is thrown"
## Description

I have yet to make a test which uses `t.notThrows()` pass. Is it by design to not get any info on the thrown error when `t.notThrows()` actually errors out? All I get is:

`Got unwanted exception..`

I would like to see the stack trace.

Currently, I'm expecting the code to fail with a ` SequelizeUniqueConstraintError: Validation error` error. But since I'm not seeing anything othe

[2016-12-09 14:36] sindresorhus commented on #1150
Yes, that's pretty bad UX. For this assertion we're using the built-in `assert` module, which obviously isn't very good. We plan on rewriting the throws/notThrows assertions: https://github.com/avajs/ava/issues/1047

[2016-12-09 14:46] justin-calleja commented on #1150
Ok thanks @sindresorhus

[2016-12-09 17:13] novemberborn commented on #1147
Ideally tests are independent from each other. If that's not feasible you could use `test.serial()`. That ensures that tests, within a test file, execute in the order in which they were declared.

[2016-12-09 18:21] #1083 closed

[2016-12-09 18:58] ccorcos commented on #1147
Only certain parts need to be run serially, but a lot of things can run in parallel. We get some control over that with `before` and `after`. It just seems like with the recursive nature of the way Ava works, this would be a cheap win to get a very flexible way of controlling the parallelism of your tests.

Consider something like this where we have fine-grained control over what's in parallel and

[2016-12-09 19:15] #1138 closed

[2016-12-09 22:34] ThomasBem commented on #1134
I would like to give this a shot. I am not sure exactly how to go about it yet though, so any pointers are appreciated.

Sindre, for your idea of showing pending tests got any idea how would that work? From what i have seen so far it looks like once a test fails with the --fail-fast flag enabled Ava collects the test results that have been generated so far then starts teardown.

[2016-12-10 01:57] sotojuan commented on #937
Are we still doing this? Making a list of things to take care of this weekend!

[2016-12-10 18:33] novemberborn commented on #1147
AVA's philosophy is that tests should be independent of each other, and indeed should be able to [run in any order](https://github.com/avajs/ava/issues/595). Sometimes tests require exclusive access to a particular resource, in which case you should use `t.serial`. Sometimes that resource is so exclusive you cannot even run test files in parallel, for which we have a global `serial` option.

Regar

[2016-12-10 18:33] novemberborn commented on #937
@sotojuan yes.

[2016-12-11 14:16] gajus commented on #1081
The same issue is present with Flow type.

[code]

[2016-12-11 21:07] ccorcos commented on #1147
I can, and I've made it work by basically just having [one giant test](https://github.com/ccorcos/doug/blob/master/packages/doug-app/test/index.js). But ideally, I could specify checkpoints in there so AVA can report 5 tests pass rather than just 1 and if there's a test failure, report exactly which test failed...

[2016-12-12 10:29] novemberborn commented on #1147
You could have promises for the checkpoints, and then place relevant assertions in separate tests.

[2016-12-12 10:58] alivedise opened #1153 "import relative path issue"
Not sure if this is asked because I can't find out the key of this problem accurately.
Here is a repo to reproduce the issue, https://github.com/alivedise/react-todo

## Problem description ##
* Tests are living in test/*.js
* a.test.js is importing Module 'App' from 'src'
* 'App' is importing 'MyModule' which is living in the same directory of App.

## Error output ###
After running <code>npm tes

[2016-12-12 11:10] mightyiam commented on #1153
[This line](https://github.com/alivedise/react-todo/blob/30b985fe6dad12232de35394768a21a01955dab2/src/App.js#L4) should be:
[code]
I would try that.

[2016-12-12 19:25] gajus commented on #1148
Can this be marked as a bug?

I am not sure how to fix it... I would raise a PR otherwise.

It is breaking our integration tests. Annoyingly, I cannot even use `FlowFixMe` comment because it then throws error in ava definition. Therefore, we had to comment out async tests just to make Flow stop complaining about these assertions.

[2016-12-12 21:25] vadimdemedes opened #1155 "Magic assert"
AVA team is extremely excited to announce the new & shiny AVA feature. We call it "Magic assert".

We could try and describe `magic-assert` and all its features, but it's faster and better to let you see what it is all about right away.

### Strings

[code]

<img width="480" src="https://cloud.githubusercontent.com/assets/697676/21117253/8b6bfb52-c0c1-11e6-836f-aa05e08f9dc8.png">

### Different va

[2016-12-12 22:01] ccorcos commented on #1147
I see. So something like this?

[code]

[2016-12-13 04:57] taylor1791 commented on #934
It is unclear to me if there is a consensus on how to implement this feature. If there is a consensus, I would like to take a stab at implementing this next week.

[2016-12-13 07:20] ORESoftware opened #1156 "Installing Babel deps in containers (e.g. Docker) takes some time"
Experimenting with AVA, the npm install / yarn (install) with Babel deps probably takes about 10 seconds for my project. On my machine, I usually don't have to worry about reinstalling Babel deps after first installation, but when part of a CI/CD system, installing Babel related deps in Docker containers, ends up taking some extra time. Do you happen to have any suggestions on how to speed up fres

[2016-12-13 07:22] ORESoftware commented on #1156
For example, one solution might be to somehow copy node_modules over from one place to another, from the filesystem, into each container, instead of running npm install.  I am looking for good ways to speed things up.

[2016-12-13 09:18] mightyiam commented on #1156
I would look for how to set up npm cache on the CI environment, in general. That should speed all the installations for you.

[2016-12-13 15:46] dlebedynskyi commented on #1093
@novemberborn will try to do soon. Thanks for tracking this

[2016-12-13 15:57] mightyiam commented on #1121
@jdalton please :smile_cat:

[2016-12-13 16:04] dlebedynskyi commented on #1139
@novemberborn working on it.

[2016-12-13 16:23] dlebedynskyi commented on #1139
bug repo https://github.com/dlebedynskyi/ava-issue-1093

[2016-12-13 20:06] sindresorhus commented on #1156
The next AVA version will be lighter on Babel, as we require a lot less Babel plugins: https://github.com/avajs/ava/commit/5158ac8bb0d0a79acde12c1bf6dfc1bbf32fd71e

Apart from that, you could cache the node_modules folder and Yarn cache: https://github.com/avajs/ava/blob/415cd2fa0ec4bd2db585cffd8d9ba372e6f05a05/.travis.yml#L6-L9

This would be better asked on Stack Overflow though ;)

[2016-12-13 20:06] #1156 closed

[2016-12-14 21:02] vadimdemedes commented on #934
I just realized something. We could skip adding `test.flaky` in favor of using "retry" modules, like https://github.com/zeit/async-retry:

[code]

I like this solution, because that way we avoid adding more stuff to the API and we let user handle their unique use cases.

What do you think?

[2016-12-15 09:51] korsmakolnikov commented on #1010
@jasongin still having this issue in phpstorm. Doesn't share same enging with webstorm?

[2016-12-15 15:03] jfmengels commented on #934
I like the idea @vadimdemedes. But I'm not sure that would always work out nicely. I'm thinking of `t.fail()` which will fail the test anyway.

[code]

This should retry the test and it should pass the second time, but IIRC calling `t.fail()` will forcefully fail the test whatever happens next.

That said, maybe the `retry` (maybe some specific `ava-retry` module then?) module could pass a modifie

[2016-12-15 23:24] mymattcarroll commented on #1114
Another FYI: Having the same issue with `flow-bin@0.37.0`

[2016-12-16 20:22] ento commented on #1105
Correct (I think) link to workaround: https://github.com/avajs/ava/issues/1089#issuecomment-255591680

[2016-12-17 16:52] #1143 closed

[2016-12-17 18:39] samueller opened #1157 "Using AVA inside a node server"
Is it possible to run AVA inside a node server? I want users to submit code and AVA runs tests against that code. When I try to `require('ava')`, node won't even start:
[code]

[2016-12-17 19:06] sindresorhus commented on #1157
Already answered on [Gitter](gitter.im/sindresorhus/ava). In the future we would appreciate it if people kept the issue tracker reserved for actual issues. We have Gitter and Stack Overflow for support.

[2016-12-17 19:06] #1157 closed

[2016-12-19 07:35] novemberborn commented on #1147
Yup. Or perhaps do all that setup in a `test.before()` and assign a promise for each stage to a variable. Then in your tests you could write `const result = await buildStage` and then do the assertions.

[2016-12-19 07:35] #1147 closed

[2016-12-19 07:40] novemberborn commented on #934
Decorating `t` seems brittle. I'd rather we do this properly.

`test.flaky` is probably easier to implement, so we could start there. I still like `t.flaky` as a way to force you to really think about what is flaky about your tests, but perhaps I'm overthinking it.

[2016-12-19 13:14] novemberborn commented on #1134
Hi @ThomasBem! The test process that encounters the error simply [exits if `--fail-fast` is enabled](https://github.com/avajs/ava/blob/033d4dcdcbdadbf665c740ff450c2a775a8373dc/lib/main.js#L44:L46). This means the [counts in the `RunStatus`](https://github.com/avajs/ava/blob/033d4dcdcbdadbf665c740ff450c2a775a8373dc/lib/run-status.js#L41:L45) will never add up to [`testCount`](https://github.com/ava

[2016-12-19 13:21] ThomasBem commented on #1134
Thanks for the feedback. I'm still interested in seeing if i can figure this out and make a contribution :)

[2016-12-19 13:23] novemberborn opened #1158 "--fail-fast keeps running other test files"
The test process that encounters the error simply [exits if `--fail-fast` is enabled](https://github.com/avajs/ava/blob/033d4dcdcbdadbf665c740ff450c2a775a8373dc/lib/main.js#L44:L46). Since each file runs in its own process, no other tests from that file are reported after the first failure is encountered.

However, other test processes run to completion. I'm not sure whether to:

* terminate them

[2016-12-19 13:24] novemberborn commented on #1134
I noticed #1158 while researching this. Whatever we do there, it's likely that we won't have determined the total test count by the time a failure occurs. Thus the error message should say something like "There are at least 5 tests remaining". There might be more, but we just don't know.

[2016-12-19 13:39] mightyiam commented on #1134
"**\`--fail-fast\` is on. Any number of tests may have been skipped**" would be fine as a start, no?

[2016-12-19 13:41] novemberborn commented on #1158
You can reproduce this issue by creating `one.test.js`:

[code]

and `two.test.js`:

[code]

Then `ava --verbose --fail-fast`.

[2016-12-19 13:55] novemberborn commented on #1139
Ah! The issue is with `babel-core/register` using the `.babelrc` config, which isn't set up to transform module syntax. Currently there's nothing AVA can do about this.

That said, you could still simplify the `ava.babel` section to:

[code]

And the test files themselves will run.

I've been thinking about how we could provide better support for Babel-based projects. I'll keep your use case in mi

[2016-12-19 13:55] #1139 closed

[2016-12-19 14:26] dlebedynskyi commented on #1139
@novemberborn Thanks for tracking this. I expected something like this.
I think I've tried "transform-es2015-modules-commonjs" before with same result and reason.

[2016-12-19 19:45] ccorcos commented on #1147
I like that a lot actually. Thanks @novemberborn!

[2016-12-20 16:47] ThomasBem commented on #1134
So i have implemented some code that should have the rest reporter spit out what @mightyiam suggested.

I have added a few tests and things seem to be working alright.

But is there a way for me to run the Ava code that i now have locally as a test-runner for a separate test project just to verify that everything works as intended all the way through?

[2016-12-21 01:16] mightyiam commented on #1134
@ThomasBem to install AVA that's in the working directory, in whatever project, I would do `npm pack` in the working directory and then in the 'whatever project', do `npm install <path to package you got from npm pack>`. That's what I would do.

Although this wouldn't replace decent tests in my mind.

[2016-12-21 14:04] eric7578 commented on #1149
same issue here
In my case, I try to strip babel, so I use node v7.2.0
in my source code:

[code]

But I got the following error

[code]

[2016-12-21 14:06] eric7578 opened #1161 "Unexpected token function, when use async in Node 7.2"
In my case, I try to run without babel, so I use node **v7.2.0**
in my source code:

[code]

But I got the following error

[code]

[2016-12-21 16:36] sindresorhus commented on #1161
The common mistake is not including the correct Babel plugin if you don't use the AVA defaults.

[2016-12-21 19:12] ThomasBem commented on #1158
I also noticed this while working on issue #1134 today. Here is a screenshot of me trying to run two different files both with a failing test somewhere in the middle.

![screen shot 2016-12-21 at 19 58 17](https://cloud.githubusercontent.com/assets/3599597/21402236/f458f636-c7b7-11e6-9ea0-c7f7f8f6091c.png)

When things are as small as these examples it does not seem like much of a problem. But if

[2016-12-21 20:34] mightyiam commented on #1158
My thoughts:

1. do not run any more test files
1. do not run any more tests
1. allow tests to complete, including their `afterEach`
1. allow test files to complete, including their `after`

Only then, exit.

[2016-12-22 02:16] eric7578 commented on #1161
Thanks for the reply! But, with Node 7, I can run async/await without any babel plygin. I do run the code with Node(without plugin), and it works. The problem is that I can run with the same code with Node 7, but I cannot run it with avajs.

[2016-12-22 04:53] machineghost opened #1162 "No `t.snapshot`"
I'm using version 0.17 of Ava, and trying to use the snapshot feature.  However, when I run my (very simple) test file ...

    import test from 'ava';

    test('HelloWorld component', t => {
      console.log(t.snapshot, t.ifError)
    });

It logs the following:

    undefined [Function: decoratedAssert]

If I actually try to use `t.snapshot` I get an error (as one would expect).  However, logg

[2016-12-22 08:47] sindresorhus commented on #1162
It's not released yet. Like most repos on GitHub, the readme reflect latest master. If you want a specific release, see the correct git tag or [npm page](https://www.npmjs.com/package/ava).

[2016-12-22 08:47] #1162 closed

[2016-12-22 23:56] unional opened #1163 "Feature: support unicode"
ava: 0.17

[code]

`node main.js` works, while `ava` prints in black/white.

[This issue](https://github.com/avajs/ava/issues/1039) seems to suggest it works, but it doesn't for me.

[2016-12-23 00:08] mightyiam commented on #1163
Unless chalk adds unicode, I do not see unicode here... Enlighten me, because I must be missing something.

[2016-12-23 01:55] ORESoftware commented on #1156
@sindresorhus thansk for that info -

in the travis yaml file that you linked to, do you happen to know what this is doing:
[code]

is that caching node_modules directories...everywhere? that doesn't make sense right? What is that line doing? just curious

[2016-12-23 01:55] unional commented on #1163
Sorry, maybe not unicode, but the color is not showing. What is the proper name of it? Please feel free to chagne the title.

[2016-12-23 16:45] ThomasBem commented on #1134
I have posted a PR that fixes this issue under #1160. Please let me know what you guys think :)

[2016-12-23 21:37] vadimdemedes commented on #1163
Closing as a duplicate of https://github.com/avajs/ava/issues/1124.

[2016-12-23 21:37] #1163 closed

[2016-12-24 11:01] novemberborn commented on #1149
It should be `async function findById()`.

This is unrelated to AVA so I'm closing this issue.

[2016-12-24 11:01] #1149 closed

[2016-12-24 11:05] novemberborn commented on #1158
Test files with failing tests are terminated quickly (but not immediately, in a synchronous, blocking sense). So `--fail-fast` already implies that any cleanup code you have in your test file may not run if there's an error. I'm fine with extending this behavior to other test files, too.

I'm leaning towards forcefully stopping all other test processes and not logging any further output once a tes

[2016-12-24 11:13] novemberborn commented on #1161
As far as I can tell Node.js 7 currently ships with V8 5.4, and async / await is only in 5.5: <http://v8project.blogspot.co.za/2016/10/v8-release-55.html>. How are you managing this?

[2016-12-24 11:15] novemberborn commented on #1156
@ORESoftware that only applies to Travis CI.

[2016-12-24 11:17] novemberborn commented on #1134
[`npm link`](https://docs.npmjs.com/cli/link) is your friend.

[2016-12-25 09:21] mightyiam commented on #1158
How is this reasonable? This should perhaps be a feature, if you find it useful, but not `--fail-fast`. This should be `--fail-very-fast` or some other naming scheme.

There should be a feature to fail on the first failing test, yet, let the run finish gracefully, [like I described](https://github.com/avajs/ava/issues/1158#issuecomment-268632256). And it should be the more approachable, defaulty,

[2016-12-26 00:33] z-vr commented on #111
@Whoaa512 dude you rule

[2016-12-26 07:40] xiaomaisu opened #1166 "How can I know the time spent on test?"
How can I know the time spent on test?

[2016-12-26 09:27] cliguo commented on #1161
I encountered similar problems，with Node 7, I can run async/await，but ava：
async findById(table, id, columns) {
              ^^^^^^^^
SyntaxError: Unexpected identifier

[2016-12-26 17:57] mightyiam commented on #1161
@cliguo `async function findById(table, id, columns) {` perhaps
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function

[2016-12-26 17:58] mightyiam commented on #1166
Good question. I would try the [official support channels](https://github.com/avajs/ava#support).

[2016-12-27 03:18] xiaomaisu commented on #1166
I'm sorry that I have another expanded question,I  tried to compare the spent time on mocha and ava, but I can't find a live example.
    So I  checked the history version of postcss,however,it always made a mistake.
    Can official support channels provide a live example?

[2016-12-29 03:11] Travmatth opened #1167 "running ava test throws 'await is a reserved word'"
Bug Report
- while processing a file being tested, ava throws 'await is a reserved word'

Versions
OSX 10.11.6
Node v6.1.0
npm 3.8.9
yarn 0.17.9
ava 0.17.0

Bug Description
- The following command throws an error, preventing my tests from being fully run
$yarn test
- Error:
/Users/$USER/node_modules/babel-core/lib/transformation/file/index.js:600
      throw err;
      ^

SyntaxError: /Users/$USER

[2016-12-29 13:15] mightyiam commented on #1167
The issue may be that [the callback for `getCurrentPosition`](https://gist.github.com/Travmatth/10b0b7b2db3e9d85d80e7360e78b21a1#file-localweather-index-js-L6) is not an `async` function. I've very little experience with `async` functions, though.

[2016-12-29 21:11] nkoder commented on #631
I see a lot about JSX here. But what about ES6? I mean I have project with both JSX and ES6 files, and I write them in IntelliJ. In IntelliJ you can set one JavaScript language per whole project or (what I prefer) you can hint IDE about language by extension. Therefore `.es6` is recognized as EcmaScript 6 and `.jsx` as JSX. Therefore I do not want to write my AVA tests in ES6 and name them with `.

[2016-12-29 21:51] Travmatth commented on #1167
To test the theory out I cleaned up my codebase and stubbed out as much as I can, and even without the window.navigator code I'm still throwing an error. Interestingly enough, when i stub out the line `const weather: any = await fetchWeather(resource)` my code will work as expected, even with the 'async' keyword above it. My current test is here: https://github.com/Travmatth/resume-static-aws/blob

[2016-12-30 15:16] mightyiam commented on #1167
What about what I suggested?

[2016-12-31 13:58] Travmatth commented on #1167
Sorry, I misread your comment as meaning the tests getCurrentPosition() method had something to do with the error. You are correct, the callback for that function needed to be marked async as well. Doing so corrected the error.

[2016-12-31 13:58] #1167 closed

[2017-01-01 11:13] sindresorhus commented on #1166
If you just want to know the time of a test, put `console.time()` in the beginning and `console.timeEnd()` at the end. If you want to compare test run time between Mocha and AVA, only the total test run time is useful as AVA runs tests concurrently.

[2017-01-01 11:13] #1166 closed

[2017-01-01 20:54] EduardoRFS commented on #1161
v8 5.4 have async functions when use --harmony-async-await

[2017-01-02 21:37] micimize commented on #222
Nested tests are necessary for testing the success of a function that wraps a test.
For instance, I have a wrapper that takes a function with metadata containing examples, and tests the examples:
[code]
I'd like to test this with ava, but can't without nested testing:
[code]

[2017-01-03 05:49] ccorcos commented on #1155
I'm interested to see where this goes. I'm looking at the following error message right now thinking how it could be better.

[code]

So amen to magic assert!

[2017-01-03 05:54] ccorcos commented on #1155
Using your current WIP branch:

[code]

Awww yeah! Thank you so much @vadimdemedes :)

[2017-01-03 05:57] ccorcos commented on #1155
One thing to consider is the directionality of the `+` vs `-`.

`t.deepEqual(something, value)` implies to me that if `something` has a value that `value` does not, then that should be a `+`, not a `-`...

[2017-01-03 17:10] mightyiam commented on #222
@micimize perhaps you can test it by mocking `ava`?

[2017-01-04 19:29] vadimdemedes commented on #1155
@ccorcos I agree, that it may be a little confusing. Are there any alternative "outputs" for diffs? I was following `git diff`'s output.

[2017-01-04 19:40] thejameskyle commented on #1155
Would it be weird to use A for actual and E for expected?

[code]

Probably looks a lot better with highlighting.

[2017-01-04 20:55] mightyiam commented on #1155
On the subject of +/-/A/E perhaps there are suitable characters in Unicode?

[2017-01-04 21:27] thejameskyle commented on #1155
[code]

[2017-01-04 22:01] sonicdoe commented on #222
@micimize Your use case seems perfectly suited for [AVA’s test macros](https://github.com/avajs/ava#test-macros).

[2017-01-05 08:00] ThomasBem commented on #1135
I have made a PR that fixes #1134 in -> #1160 and since this is kind of similar I would like to take a stab at this too.

[2017-01-05 12:09] #1114 closed

[2017-01-05 12:29] sindresorhus commented on #1135
@ThomasBem Go for it! 😄

[2017-01-05 13:43] mightyiam commented on #1155
@thejameskyle I like your thinking.
Here's another:

[code]

[2017-01-05 21:05] lholznagel commented on #1089
@dwieeb hey, just came across the same issue. What did you do for it to work? Adding `const { Reflect } = global` seems not to work.

Thanks in advance :)

[2017-01-05 21:25] jokeyrhyme commented on #1114
Oooo, nice work! Yay! <3

[2017-01-06 13:56] rightaway commented on #222
My vote is actually to have two of the suggested options rather than just one (both #1 and #2 from the options listed in https://github.com/avajs/ava/issues/222#issuecomment-250399133).

I think #1 is almost necessary as many people really like using it and think of their tests most naturally in a nested way, and it will make it easier for people to migrate to ava. And #2 is great for people who d

[2017-01-06 13:57] novemberborn commented on #1158
That seems unnecessarily complicated. The way I see it you'd use `--fail-fast` to quickly find errors so you can fix them. It helps if any state created by your tests is preserved (by virtue of not being cleaned up).

[2017-01-06 14:00] novemberborn commented on #631
@nkoder did you see #1159? That's the direction I'd like to take this in. I haven't made any allowances though for configuring Babel differently depending on the extension (mostly since Babel itself does not support this).

[2017-01-06 14:01] novemberborn commented on #1161
@eric7578 @cliguo are you using this flag?

[2017-01-06 15:42] EduardoRFS commented on #1161
Ava `shebang` dont pass flags to node, you need to run using a command `node --harmony-async-await ./node_modules/.bin/ava`

[2017-01-06 16:35] novemberborn commented on #1161
You mean the `ava` invocation in the `npm test` script?

[2017-01-06 16:48] EduardoRFS commented on #1161
@novemberborn yep

[2017-01-06 17:00] novemberborn commented on #1161
Ah cool. Then yea, that makes sense. Your workaround is good, though honestly I think folks should stick to Babel until `async` / `await` is available without a flag.

[2017-01-06 21:41] morenoh149 commented on #849
I made a minimal test demoing a problem I've run into https://github.com/morenoh149/avaNockParallel

@jamestalmage @silvenon @sotojuan what do you advise I do regarding the approach? should I use https://github.com/mmalecki/hock ?

[2017-01-06 22:53] razor-x commented on #849
@morenoh149 One approach is just make sure interceptors are unique in tests that run in parallel in the same node process. I realize this may not always be straight forward for all APIs, but it should handle a large set of cases.  At least for rest APIs you can do `.get('/widgets/exists')` and `.get('/widgets/doesnotexists)` to test cases in parallel.