[2020-09-09 09:56] novemberborn commented on #2579
How are you invoking AVA?

I'm not immediately sure if the default patterns select your test file. You could try adding `"files": ["tests/**/*.test.ts"]`.

[2020-09-09 10:43] MarekLani commented on #2579
This is my Launch.json file:

[code]

[2020-09-11 00:20] flxsu commented on #2539
`const test = require('ava').default`
instead of
`const test = require('ava')`
fixes it!

[2020-09-13 12:48] adiSuper94 commented on #2455
@novemberborn , I'd like to take a crack at this issue. If @jmarkham828  is no longer active.

[2020-09-14 07:43] novemberborn commented on #2579
I think that ought to work, but I must admit I haven't tried the launch configuration since VSCode made it easier to create a debug terminal.

[2020-09-14 11:02] mesqueeb opened #2580 "change deepEqual (actual: ValueType, expected: ValueType) to (any, any)"
https://github.com/avajs/ava/blob/f328a6933af7aca221b08f694bb14b03701eca68/index.d.ts#L125

Because I run my Ava tests in ts-node, Ava has type checking on assertion functions.
Mostly it's OK, but the type checking done by `deepEqual` always gets in the way.

There are so many cases where the the two objects I'm comparing are _practically_ the same data-wise, but Type-wise the type of one is not t

[2020-09-14 11:04] aureooms opened #2581 "Truncating titles"
I often find myself formatting generated long test and macro titles to shorter strings (I never felt the need to do this for assertion titles, as I rarely use them). I do this to avoid littering AVA's output. See for instance [here where I truncate large integer string representations](https://github.com/aureooms/js-modular-arithmetic-big-endian/blob/ea2f987466fb027d8e924206133b2b84e8aea8fd/test/s

[2020-09-14 11:35] sindresorhus commented on #2580
Makes sense to me. However, I think it should be `object` to ensure people don't accidentally don't try to compare primitives.

[2020-09-14 11:39] tymfear commented on #2580
For me this makes code analysis less reliable. It makes sense that you should compare objects with the same types, otherwise they are not equal anyway.

[2020-09-15 07:53] novemberborn commented on #2581
I'd imagine this to be specific to each project and hard to generalize?

A better reporter would know that all tests in a file passed, and could then truncate based on terminal width, and if there are failures, make sure the truncation is unambiguous. But we first need to improve our reporter 😄

[2020-09-15 07:56] novemberborn commented on #2580
This might be similar to what @papb was bringing up in #2575. I'm reluctant though, the expected value should be structurally the same as the actual value, and it's nice to get auto-completion and type checking for it.

What I tend to do when I get stuck with the type inference in tests is cast to `any`. I think that strikes the right balance.

[2020-09-15 09:21] itaven opened #2582 "ava Couldn’t find any files to test"
I`m trying to do the agile structure of my test framework using ava.
My structure is :
--project
    --automation
          --tests
                -qwe.test.js
          --test-helpers
          --suites

But ava is only recognized the and running tests in
 --project
     --test
         --qwe.test.js by using  - ava -T 60000 -v(npm run test)

I saw some issues according to this problem and no on

[2020-09-15 18:40] novemberborn commented on #2582
Yes see https://github.com/avajs/ava/blob/master/docs/05-command-line.md#cli which describes where AVA looks for tests (scroll down a bit beyond the CLI usage snippet).

You can replace these patterns using the `files` configuration, see https://github.com/avajs/ava/blob/master/docs/06-configuration.md.

Any paths or patterns you pass directly on the CLI are used as a filter over the `files` confi

[2020-09-15 18:40] #2582 closed

[2020-09-17 18:35] gajus commented on #1094
I've used the latter approach to implement https://github.com/gajus/ava-dom

As already mentioned by @chocolateboy, the biggest problem is that the error points to the location of `t.true` not the assertion.

Is there a way to workaround this limitation?

[2020-09-18 07:17] novemberborn commented on #1094
If we could somehow expose a way to report an assertion error I wouldn't be opposed to that. Maybe as a symbol property on `t`. And then if other stuff is a bit hacky or just a helper method you pass `t` to then maybe that's enough for now?

#2435 suggests an API to construct custom `test()` functions, with full TypeScript support, and that could be a way to register additional assertions I think.

[2020-09-18 07:20] novemberborn commented on #2455
@adiSuper94 both you and @Davidmh93 have expressed an interest. And we haven't yet heard back from @jmarkham828 but that's OK. I think if either of you could take their commits and add on top of them, based on my feedback in #2564 that'd be great. And then you could help each other as well if need be. Does that sound all right?

[2020-09-18 10:15] tymfear opened #2583 "API for registering custom reporters"
@novemberborn , what do you think about creating an API for custom reporters (not only reporters, probably)?
Something like an array of objects in settings, each object implements some set of functions called for each hook.

Like
[code]

ANd then in config file something like
[code]

That would allow creating different plugins/reporters easily.

[2020-09-18 16:35] Davidmh93 commented on #2455
I'm unable to pick this one up now sorry

[2020-09-19 02:34] dimashellsss opened #2585 "Ava"
Please provide details about:

* What you're trying to do
* Why you can't use AVA for this
* And maybe how you think AVAILABLE

 could handle this

[2020-09-19 07:34] #2585 closed

[2020-09-19 10:20] novemberborn commented on #2583
When it comes to reporters I think the right approach is to output high-fidelity structured data, which can be piped to another process.

More concretely:

* AVA would have one, awesome reporter
* AVA emits some JSON format that captures all the detail it has available internally
* Other CLI tools exist which can process that JSON

This is still a ways off I think.

What do you think?

(I'm closin

[2020-09-19 10:20] #2583 closed

[2020-09-19 18:22] adiSuper94 commented on #2517
@novemberborn I'd like to take a crack at this.

[2020-09-19 19:04] randomicon00 commented on #2517
It assigned to me, I still didn't complete it but you can try I guess. I am still working on it.

[2020-09-20 05:59] adiSuper94 commented on #2517
@randomicon00 , it's cool if you are working on it. I though that it was inactive, so asked.

[2020-09-22 16:24] FallingSnow commented on #2347
I'm unable to import es module https://github.com/HydreIO/rgraph (which provides no cjs) using ava with babel.

Ava Config:
[code]

[code]

Is this the correct issue for this error?

[2020-09-24 07:00] novemberborn commented on #2347
No, this is about support ESM modules in AVA's `require` option.

---

@FallingSnow you seem to be mixing a Babel setup with `t-node`… and possibly using AVA 2? `ts-node` will use CJS, so you're probably compiling your TypeScript down to that. Which means you need to explicitly use `import()` to load `rgraph` and that'll be asynchronous and therefore annoying.

I suggest you figure out how to make

[2020-09-24 18:01] FallingSnow commented on #2347
I figured it out using #2540. It worked outside of AVA, but I found out that inside AVA, `type: "module"` only applies to .js files.

Also wanna point out I'm not using babel and am on AVA 3.

Final config ended up being the following.
[code]

[2020-09-26 23:50] papb commented on #2580
Hi @novemberborn, I totally agree with you. I wouldn't like to lose autocompletion and type safety on this. When I want to assert that two things are deep equal, if TypeScript can know ahead of time that they don't even have the same time, I prefer it to fail at compile time than at runtime.

[2020-09-26 23:53] papb commented on #2580
Hi @mesqueeb, can you post a minimal example that represents your situation in which the types "are the same" but TypeScript thinks they are not? I couldn't understand only from your screenshots. To me, if two objects don't have the same type, then clearly `t.deepEqual` will fail, so I don't see this as "TypeScript getting in the way". Instead, TypeScript is helping you letting you know ahead of t

[2020-09-26 23:56] papb opened #2588 "Sets are incorrectly compared for `t.deepEqual`"
Code:

[code]

Expected behavior: assertion should pass

Actual behavior: assertion fails:

[code]

[2020-09-27 09:19] novemberborn commented on #2588
This is by design. Sets and Maps are compared not only by contents, but also by insertion order.

[2020-09-27 09:19] #2588 closed

[2020-09-27 15:26] novemberborn commented on #2317
PR may contain a clue as to what needs updating: https://github.com/avajs/ava/pull/2571

[2020-09-29 02:37] fregante opened #2589 "Handle compilation/bundle step"
Recently I found myself having to bundle the tests to overcome all the hurdles caused by combinations of AVA, TypeScript and `type: "module"` (https://github.com/vadimdemedes/dom-chef/pull/68 and https://github.com/sindresorhus/refined-github/pull/3206), so having AVA support some kind of build step might be helpful.

[code]

### Advantages over `rollup && ava`

- running straight `ava` without ha

[2020-09-29 06:34] novemberborn commented on #2589
The infrastructure we use for `@ava/babel` and `@ava/typescript` could work for this.

How would you select a test file from inside the bundle though?

If you precompile AVA can load ESM test files though. https://github.com/avajs/ava/issues/2347#issuecomment-698499005 shows how you could do it on the fly with `ts-node` as well (I've been meaning to get that added to the docs).

FWIW in my TypeScr

[2020-09-29 07:14] fregante commented on #2589
I never tried. I suppose if the bundle is set up to have multiple outputs AVA would still see each test file.

I'll try replacing https://github.com/sindresorhus/refined-github/pull/3206 with that solution perhaps, but with all those experimental flags it looks like a time bomb :(

Can you point me to one such example? I'd like to see how you're configuring the built folder

[2020-09-29 12:02] xueqingxiao opened #2590 "Support specify tsconfig.json"

[2020-09-30 08:16] #2590 closed

[2020-09-30 08:18] novemberborn commented on #2589
Test file selection is driven by the file system. What the TypeScript provider does is provide a way to map that to a _different_ file at runtime. Presumably we could select a bundle entrypoint or something like that.

I think from AVA's side it'll be OK — you're really dependent on the behavior in Node.js.

Have a look at https://github.com/avajs/cooperate.

[2020-09-30 16:24] jakobrosenberg opened #2591 "Setting CWD to directory of test"
This isn't as much a bug as a shortcoming of documentation.

Searching for CWD shows countless commits and issues, but all documentation entries have been removed and it's unclear if it's possible to set CWD to the directories of the respective tests.

[2020-10-02 08:54] novemberborn commented on #2591
It's documented in the third paragraph here: https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md:

Perhaps we should add `(CWD)` after "current working directory"? I did search for "working directory" rather than CWD.

---

You should be able to change the working directory, say in a script you `require()`. You can use AVA's `meta` export to determine the path to the current test fil

[2020-10-02 10:03] jakobrosenberg commented on #2591
Thanks @novemberborn. I saw the paragraph you mentioned, but it doesn't mention if the CWD is merely a default or hardcoded. Looking through the issues and commits it's easy to get the impression that this can be configured.

Do you have an example of how I would change the CWD?

[2020-10-03 15:33] novemberborn commented on #2591
It's not configurable in AVA, but Node.js has APIs for this. You could add a helper like `_cwd.js`:

[code]

And then in AVA's config add `require: ['_cwd.js']`.

(Note that I haven't tested this.)

[2020-10-03 15:47] novemberborn opened #2593 "Update TypeScript recipe for ESM support"
@FallingSnow [shared](https://github.com/avajs/ava/issues/2347#issuecomment-698499005) how to (experimentally) configure AVA and Node.js so that AVA can load TypeScript-based ESM files:

[code]

It'd be great to add this to our [TypeScript recipe](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md).

[2020-10-04 08:13] jakobrosenberg commented on #2591
Much appreciated! I'll close this issue. 🙂

[2020-10-04 08:13] #2591 closed

[2020-10-04 20:52] zachesposito commented on #2373
Hello I would like to take care of this issue. Is this an accurate summary of the expected behavior:
1. When running the CLI with a glob pattern, if no test files are found, but at least one would have been found without the glob pattern, then in addition to printing the `Couldn't find any files to test` message, also print something like `{N} test(s) available based on default configuration, but

[2020-10-05 09:12] novemberborn commented on #2373
Yea that sounds about right @zachesposito, thanks!

[2020-10-06 06:15] vinayakkulkarni opened #2595 "Support for Vue 3"
Please provide details about:

* What you're trying to do
- Enable Ava to work with Vue 3

* Why you can't use AVA for this
- Current way in the docs using [extension-hooks](https://github.com/avajs/ava/blob/master/docs/recipes/vue.md) breaks the Vue 3 tests

* And maybe how you think AVA could handle this
- Support for Vue 3 out-of-the-box without requiring extra extension hooks, maybe?

[2020-10-06 08:16] sujeet-agrahari opened #2596 "Unable to stub method with ava and sinon"
I am trying to stub a method `doSendOtp` defined in `OtpService` but stubbing not working.

It works with mocha, but with ava I don't know why it isn't working.

I am doing it using `.serial` but it doesnt help either.

[code]

[2020-10-06 08:28] novemberborn commented on #2595
We'll happily take a PR to update the docs.

I don't quite know what's required, but we'd be happy to host a package that configures Vue correctly, too.

All that said this will need somebody to put in the work. I'd be happy to provide insight into how AVA works and how we can improve any integration.

For now though I'm going to close this issue. I don't think there's much use in keeping it open.

[2020-10-06 08:28] #2595 closed

[2020-10-06 08:30] novemberborn commented on #2596
You haven't shared the actual test failure.

Without seeing your configuration, I'm going to guess that AVA thinks you didn't run assertions. This is because you're using `chai`.

Try [configuring AVA](https://github.com/avajs/ava/blob/master/docs/06-configuration.md) with `failWithoutAssertions` set to `false`.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation go

[2020-10-06 08:30] #2596 closed

[2020-10-06 08:33] sujeet-agrahari commented on #2596
@novemberborn This is error that I get.
[code]
Also, pelase confirm, is there built in assertion like `chai expect` in ava?

[2020-10-06 08:49] novemberborn commented on #2596
That'll be due to how your code works and whether you're stubbing it successfully. We can't help you with that here.

Yes AVA has [built-in assertions](https://github.com/avajs/ava/blob/master/docs/03-assertions.md).

[2020-10-06 23:57] powersjcb commented on #2268
It looks like there used to be debug tooling to enable this that was removed in 2018. The commit message claims that a user could add the timing tooling to their own code, but given the fact that ava depends on not having global scope, it seems like this would require users to add `require('require-timing')` as the first import statement in all of their test files. 👎

https://github.com/avajs/ava/

[2020-10-08 05:27] DavidWells commented on #2112
I'm trying to set some stuff in my `.setup.js` file to `process.env` but it doesn't appear to work.

Is it possible to set environment variables via config?

[2020-10-08 06:57] novemberborn commented on #2112
@DavidWells yes, this issue discussed that feature. See https://github.com/avajs/ava/blob/master/docs/06-configuration.md.

I don't know what a `.setup.js` file is though. AVA does not use files like that.

[2020-10-09 00:32] zachesposito commented on #2373
@novemberborn Do you have a preference as to where these feedback messages should live? This is probably the simplest approach: https://github.com/zachesposito/ava/commit/74729a7727cc44cf65695a43182906d779870e54
Which outputs like this:
![image](https://user-images.githubusercontent.com/1486613/95454830-f5b58800-093a-11eb-81f1-fa020f5cdb31.png)
However if you'd prefer to keep `api.js` from outputt

[2020-10-09 02:43] sujeet-agrahari commented on #2596
Does it has the features as `chai` has? Can I replace `chai` with it?
How can I expect a value to be an object or an array.
I can do in `chai` like
[code]

[2020-10-09 07:09] novemberborn commented on #2373
@zachesposito this is easiest to discuss in a PR.

[2020-10-09 07:11] novemberborn commented on #2596
You'll have to rely more on JavaScript features, say `t.true(Array.isArray(thing))`. You can also do comparisons using `t.deepEqual()` and `t.like()`.

It's a different way of thinking about assertions compared to Chai.

[2020-10-09 07:41] sujeet-agrahari commented on #2596
@novemberborn All the issue is fixed now, I also removed `chai`, want my tests to be as quick as possible.
Here is my final test.
[code]

[2020-10-09 17:36] divramod opened #2597 "different output colors for report possible?"
Hey,

i really like ava. Thx for the awesome project!

Since i am using a light colorscheme and cannot really read the terminal output, i'd like to ask, if it is possible to change the output colors in the terminal?

![image](https://user-images.githubusercontent.com/1331662/95614405-ba17dc80-0a66-11eb-81ba-5799225c7b44.png)

[2020-10-09 18:14] sindresorhus commented on #2597
This is a problem for your terminal theme to fix. AVA is using standard named colors.

[2020-10-10 08:02] novemberborn commented on #2597
Thanks!

Which is to say, terminal apps should be able to map the colors so they're appropriate for the theme. I haven't had to use this myself though, so I'm not sure how that works in practice.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-10-10 08:02] #2597 closed

[2020-10-11 12:12] marktyers opened #2599 "Implementing Mocks"
There are some situation where I need to be able to mock an interface to a nodejs Module, for example fs functions.

I can't find any documentation indicating how this is done in ava, is this functionality already available.

Perhaps is could be handled in a similar way to Jest where I could define a mock module in a mocks directory with the module name matching the module it is mocking?

Cheers g

[2020-10-11 14:23] novemberborn commented on #2599
There is no built-in mocking, sorry.

There's some great mocking libraries out there like https://github.com/testdouble/testdouble.js/ which I'd recommend you use.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-10-11 14:23] #2599 closed

[2020-10-11 16:00] marktyers commented on #2599
Cheers Mark
I was avoiding test double as it does not have a default export so can’t be imported as an ES6 module. If you know of any mocking library that supports this I would be very interested.

Cheers
Mark

[2020-10-11 16:11] novemberborn commented on #2599
Not really know — I try to avoid mocking, and I still compile everything down to CJS.

[2020-10-11 16:17] marktyers commented on #2599
No problem. last question (for now) can I run the tests in a single ava test suite?

[2020-10-11 16:18] novemberborn commented on #2599
There aren't suites as such, but you can pass the path to a single test file when you invoke AVA on the command line. Or a pattern that matches a subset of the files AVA would otherwise run by default.

[2020-10-13 12:50] webobite commented on #1666
Hi @novemberborn
I would like to give it a try. Will let u know If I am able to solve this issue.

Thanks

[2020-10-13 13:51] webobite commented on #1666
I would like to ask you about this comment. As in this Comment You stated about the main process One need to compare the JSON(arguments) and then use the deepEqual from assert.js (Correct me If I am wrong). As I am new to this repo Can You let me know where exactly the `main process` code block is there. I tried to trace it from `index,js --> worker/main.js --> and then it goes on to chain () call

[2020-10-13 15:09] sramam commented on #1602
I needed this capability (to configure/start/recreate a server against which to test).
This is the solution I hacked together:

[code]

Suppose this file is stored in `src/test/helpers/ava.ts` and compiles to `dist/test/helpers/ava.js`.
Replace occurances of `ava` in `package.json:scripts` with `node dist/test/helpers/ava.js` - which works cross platform.
All command line options are consumed by `

[2020-10-13 15:42] bhallstein opened #2600 "Incredibly high CPU load during test running"
Hi, I'm encountering some strange behaviour. I'm using an (I think) fairly standard ava + enzyme + babel setup.

I initially noticed my machine was running poorly — almost totally locked up — while ava tests were running. Investigating, I was astonished to find that CPU load was continuously _over 100_ during test running. The machine is so intensely locked up that Activity Monitor won't refresh a

[2020-10-13 15:50] bhallstein commented on #2600
To try and get more info about what's going on, I just tried a few different levels of concurrency:

- without `-c`: 30s, CPU load ~= 100
- `-c 1`: 40s, CPU load ~= 1
- `-c 2`: 30s, CPU load ~= 50
- `-c 4`: 30s, CPU load ~= 100 (perhaps a little lower than with concurrency auto-set, it's a bit hard to tell)

This suggests first that ava might be spawning too many processes: equal to the number of

[2020-10-13 16:22] novemberborn commented on #2600
`@babel/register` might result in each worker process recompiling the code (because IIRC `@babel/register` compiles the first time a file is loaded in that process). That'll hit your CPU.

We use `node -pe 'os.cpus().length'` to determine concurrency. What is that on your node machine?

[2020-10-13 17:07] bhallstein commented on #2600
Thanks @novemberborn. `os.cpus().length` returns 4, which roughly gels with what's above. I wonder if using the physical number of cores would dramatically improve efficiency without losing much (any?) performance on machines with SMT. [Looks like that can be queried](https://gist.github.com/jakoboo/82be8c031bc09cf2e75dac9253645f2a) but it's not exactly pretty.

Thanks again I'll see if I can get

[2020-10-18 01:31] jamestalmage opened #2602 "t.skipIf syntax"
I've got a handful of tests I can't run in CI. Some I can only run in Windows, etc.

Proposed sytax:

[code]

[2020-10-18 12:24] novemberborn commented on #1666
The main process is what loads the configuration. Essentially we can add a validation step before this return: https://github.com/avajs/ava/blob/b71f396df7b9d74ef24262b6840df1593cad3798/lib/load-config.js#L163

You wouldn't use `assert.js` itself. Load Concordance instead and use the `compare()` function. I don't think you'd need to pass any options.

[2020-10-18 12:29] novemberborn commented on #2600
No, that looks pretty bad.

For I/O heavy tests, using all (hyper-threaded) cores can work well. But if the tests are extremely CPU heavy that might backfire. I suspect that's relatively rare though.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-10-18 12:29] #2600 closed

[2020-10-18 12:34] novemberborn commented on #2602
Hi @jamestalmage!

With https://github.com/avajs/ava/pull/2435 I started tinkering with a "forkable test interface". So you could do something like:

[code]

Ultimately I think that's more versatile than adding lots of hooks to the regular test interface. What do you think?

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-10-18 12:34] #2602 closed

[2020-10-18 22:09] tymfear commented on #2583
@novemberborn So I would like to have a hook for failed assertion to be able to take screenshots when I use browser tests. Otherwise I have check every result before/after to have precise screenshots.

Anyway, is there an issue for that JSON report?

[2020-10-19 07:47] novemberborn commented on #2583
You should be able to do that with `t.try()` or `afterEach` checking for `t.passed`.

No it's just in my head I think.

[2020-10-24 20:19] ericwooley commented on #1806
Since this was closed, I assume there is no way to switch to text based then? I don't see anything in the docs

Here is my reasons for preferring raw output:
1. Git itself is much better at storing text than binary.
2. Diffs of outputs are much easier to verify. In a PR I have to basically break the test to see what is different, huge PITA. With raw text, I can just see, in a diff or PR, `expected

[2020-10-25 15:30] novemberborn commented on #1806
@ericwooley AVA outputs both Markdown and binary files. The Markdown files are for us humans, including in PR reviews. The binary files are what enables AVA do to structured and colored diffs when the snapshot differs.

[2020-10-26 18:35] JJ commented on #1128
That might be the issue, but still the problem is that ava is creating a `node_modules` local dir if there's none create or if it's been installed globally.
![Captura de pantalla de 2020-10-26 19-33-35](https://user-images.githubusercontent.com/500/97213641-2eba7d00-17c2-11eb-8d4a-3c0148792480.png)
This seems to be a genuine issue. In this case, there's no problem since the docker user is privileg

[2020-10-29 22:11] Retsam commented on #311
It makes sense that AVA can't provide this sort of hook; but I'm having a bit of trouble adapting this to my use case.  I'm trying to run a process (s3rver - a local S3 mock) while running tests.

I can start and background the process in a "pretest" hook, but I can't seem to find a reliable way to kill the process in a "posttest" hook.

[2020-10-30 07:46] novemberborn commented on #311
I run tests with Firestore and Pub/Sub emulators, and those I start separately. Not perfect but gets the job done. Same in CI: launch them as the job starts.

https://github.com/avajs/ava/pull/2478 provides a foundation for letting you hook into AVA itself, to manage resources around test runs. I haven't yet had the time to document that and to sketch it out further so it's more accessible for con

[2020-11-01 16:05] novemberborn opened #2605 "Shared worker feedback & support"
We're pretty excited about [shared workers](https://github.com/avajs/ava/blob/master/docs/recipes/shared-workers.md)! But we need more real-world experience in building AVA plugins before we can make it generally available. Please give feedback and build plugins. We'd be more than happy to promote them.

Not sure what to build? Previously folks have expressed a desire for mutexes, managing Puppete

[2020-11-01 16:11] novemberborn commented on #2048
AVA now has experimental shared worker support. Code runs in a worker thread, in the main process, and can communicate with test workers.

The proposals made in this issue could be implemented using this infrastructure. Please join us in https://github.com/avajs/ava/issues/2605.

[2020-11-01 16:11] #2048 closed

[2020-11-01 16:11] novemberborn commented on #1366
AVA now has experimental shared worker support. Code runs in a worker thread, in the main process, and can communicate with test workers.

The proposals made in this issue could be implemented using this infrastructure. Please join us in https://github.com/avajs/ava/issues/2605.

[2020-11-01 16:11] #1366 closed

[2020-11-05 13:21] jerrychong25 commented on #2419
In my case, I upgraded **Node.js** version from **10.0.0** to **12.18.1**, then able to fix this Ava Internal Error issue.

[2020-11-11 11:09] tymfear opened #2607 "Limit simultaneous tests executed across all files"
I'm creating tests based on Playwright.
I have a macro that handles creation of browser and passing it further to the test context.
And the thing is that it is impossible to limit amount of tests executed at the same time in a single file.
Even if I set concurrency to 1 if I have 10 tests in a file it will create 10 pages for each test which is quite a lot by itself,
but if there is some concurren

[2020-11-11 23:13] tymfear opened #2608 "Add JSON report geport generation"
Please provide details about:

* What you're trying to do
I want tova ability to have reports in JSON format to process it later to any other format I need.
* Why you can't use AVA for this
Only TAP report is available at the time

Discussed with @novemberborn in #2583

[2020-11-12 01:35] Githubber2021 opened #2609 "AVA requires different NODE_MODULE_VERSION"
Hi,

I use **ava** `3.13.0` with **node** `14.15.0` and **Electron** `10.1.5` and **nodegit** `0.27.0.`. FYI: I also use **ava-ts**.

So I use **ava** with **spectron** to start my app, do some tests and stop it. All of this works - including functions which use **nodegit** in my app.

**In addition** to the tests described above I made also a pure non-Electron test file and import nodegit directl

[2020-11-12 02:49] Githubber2021 commented on #2609
I created a very simple project to reproduce it: https://github.com/Githubber2021/ava-node-version-issue

[code]

[2020-11-12 07:43] novemberborn commented on #2609
`ava-ts` is not an AVA project. I'd suggest you have a look at the built-in [TypeScript support](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md) and use `ava` directly.

I believe the "node module version" is to do with native bindings. You also have an `--napi-modules` flag enabled for Node.js. I don't know exactly what these things do, but the error here is not due to AVA it

[2020-11-12 07:43] #2609 closed

[2020-11-12 14:46] Githubber2021 commented on #2609
Hi! novemberborn, thank you for your input! I thought `ava-ts` ist just a wrapper. I removed this dependency so it now only uses `ava` and TypeScript but the issue still remains. I already use `--napi-modules`, but it only fails in the context of ava. I will open a Stackoverflow question then. Thanks again for your help!

[2020-11-16 09:35] novemberborn commented on #2607
Yes, shared workers would be the best approach here.

https://github.com/avajs/cooperate implements locks. Support could be added there to implement mutexes that limit parallel execution.

Ideally we'd also be able to initialize the shared context through the AVA configuration.

[2020-11-16 09:36] novemberborn commented on #2608
Internally AVA has quite a lot of data about the test execution that is not easily represented in TAP form. I think it'd be more powerful to convert that into some other machine-readable format.

[2020-11-18 21:10] zvictor commented on #381
I am not seeing that happening.

---

[code]
prints only
[code]

[2020-11-19 08:53] novemberborn commented on #381
@zvictor well I wrote that three years ago 😉

AVA no longer prints all values. Per https://github.com/avajs/ava/blob/master/docs/03-assertions.md#enhanced-assertion-messages this requires you to enable Babel, and it only works with `t.assert()`.

[2020-11-21 01:39] kevinniland commented on #2565
I would like to try this, if possible?

[2020-11-23 14:40] novemberborn commented on #2565
@kevinniland of course, that'd be great!

[2020-11-23 15:10] bratekarate opened #2611 "Improve Reporters Documentation and Future Vision"
This may be the wrong place to ask, but I am really confused as to were this project is heading in terms of log output and reporters.

The `--tape` flag seems not be loved very much and to be kind of a temporary workaround? At least that's how it sounds in issues comments such as https://github.com/avajs/ava/issues/2219#issuecomment-523333284. It is not mentioned at all in the main documentation o

[2020-11-23 17:22] tymfear commented on #2611
So the JSON reporter issue is here #2608 .

[2020-11-24 09:32] bratekarate commented on #2611
That is true, I have seen this issue. But it's still not clear to me if this is intended to be highly customizable or just one format, like the current tap reporter, also if it has any priority and what the general roadmap regarding reporters is.

[2020-11-24 14:40] novemberborn commented on #2611
Thanks for raising this @bratekarate!

The TAP reporter won't go away suddenly. Most likely its replacement will be introduced in a minor release and the TAP output will be reimplemented on top of that, so even after it's removed from AVA itself you'd be able to convert to it.

I'm not opposed to making our TAP output more complete either, though I'm not sure how much we can add that is part of th

[2020-11-24 15:58] tymfear opened #2612 "TAP output does not say which tests (or at least which file) failed after timeout"
So here is the output of timedout test report (there are passed tests as well).
[code]
It is impossible to figure out which test caused timeout.
Would be nice at least to narrow it down to test file, to understand where to start searching.

[2020-11-24 16:41] novemberborn commented on #2612
Yea… I think this may be a bug when you don't use verbose mode. If you try with verbose mode does it work?

[2020-11-24 19:41] tymfear commented on #2612
Well, I tried, but the output is completely the same - so either it doesn't work in verbose mode or `--verbose` doesn't work :)

[2020-11-24 20:24] tymfear commented on #2612
So found in docs that `verbose` works if `tap` is not enabled - and tap **is** enabled. But, anyway, it doesn't show where it failed (or I missed something, chances are not zero )

[2020-11-24 20:36] tymfear commented on #2612
@novemberborn would that be enough to change this
https://github.com/avajs/ava/blob/master/lib/reporters/tap.js#L174-L176
[code]
to
[code]

Or not so easy? 😂

[2020-11-25 07:59] Silic0nS0ldier opened #2613 "Support assertions during teardown"
Technically this can be achieved now via teardown functions, however output indicates that is not a supported behaviour via an error message like the following;

[code]

An example use case for this is asserting that a logging interface receives the expected output (specifically, that it has been called the expected number of times).

[2020-11-25 08:55] novemberborn commented on #2612
Whatever you think makes sense 😄

[2020-11-25 08:58] novemberborn commented on #2613
The teardown functions run at a point where we've already decided the test outcome.

That should be a part of the test itself. Why do you want to do this in a teardown? Perhaps you could wrap your test function to add the assertions?

Alternatively there is a `test.afterEach()` hook which runs for passed tests.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation goi

[2020-11-25 13:47] Silic0nS0ldier commented on #2613
While it could be a part of the test itself, additional work would be required to ensure the check if performed when trying to reuse code (or alternatively a rather unintuitive callback approach could be used). What I tried (which I prefer) resembles the following.

[code]

With this approach the assertions are (relatively) cleanly defined, and there is the implication that the test completing wit

[2020-11-25 17:13] tymfear commented on #2612
@novemberborn it's just I'm not that familiar with codebase and have no idea is that place correct - so was asking.

[2020-11-25 17:13] novemberborn commented on #2613
There's also `t.try()` but that doesn't really do it either.

The work I started in https://github.com/avajs/ava/pull/2435 would let you create custom `test()` functions, and this could be one of those customizations. So you'd construct a `test()` which already has an `afterEach` to run additional assertions. You should keep an eye on that (but no promises as to when there'll be any progress, sorr

[2020-11-25 17:14] #2613 closed

[2020-11-25 17:14] novemberborn commented on #2612
@tymfear looking at the snippet that seems like a good guess. I don't really know the TAP format either.

[2020-11-25 17:57] tymfear opened #2614 "`t.log` entries should start with `#`(without any spaces)"
Jenkins TAP reporter does not parse report correctly when `t.log` statements are present there.
E.g. tap report from ava
[code]

And the result of report is
<img width="1041" alt="Screenshot 2020-11-25 at 19 45 29" src="https://user-images.githubusercontent.com/6705391/100263965-d6100880-2f56-11eb-9f65-adfcd2195197.png">

So I created script the replaced `  *` with `#` and it parses it correctly
S

[2020-11-25 18:00] tymfear commented on #2612
@novemberborn - I'll try it out.
P.S. Just created another issue related to TAP reports generation, sorry

[2020-11-25 22:52] dolsem opened #2615 "Make t.fail() except an object"
It seems like the only problem with #1094 is providing detailed error output when a custom assertion fails. Everything else is straightforward. What if `t.fail()` could accept an object to use for creating an AssertionError? The fields could be `message`, `actual`, `expected`, and `format` that will specifying which formatting function to use for setting the `values` field on the error object.

Wo

[2020-11-26 00:48] Silic0nS0ldier commented on #2613
As you noted, `t.try()` isn't quite what I'm looking for (and using it in such a way feels like an anti-pattern given its documented scope).

Your mention of a custom `test()` function got me thinking. It should be possible to wrap the `test` function, such that additional functionality can be injected into the execution context (`t`), namely an in-test `t.after()` hook.

[2020-11-26 04:44] Githubber2021 commented on #917
Hi, as far as I understand from this PR, `test.after.always` does NOT always run, is that correct? Because the startup still states ` to register a hook that will **always** run once your tests and other hooks complete`

[2020-11-26 07:46] novemberborn commented on #2614
Thanks @tymfear. PR welcome 😜

[2020-11-26 07:50] novemberborn commented on #2615
It's worth exploring, sure.

I'm concerned that properly integrating this with the reporters will be harder than expected. You'd also want to customize the stack trace to not start at the `t.fail()` call site.

How would you set up custom assertions to use this?

[2020-11-26 07:51] novemberborn commented on #2613
Yea.

I have a `setUp()` helper which returns `test` and `serial` functions that have all the right hooks already registered. It works well enough.

[2020-11-26 07:52] novemberborn commented on #917
Hey @Githubber2021, I think this comment still stands:

[2020-11-26 11:12] tymfear commented on #2614
@novemberborn could you give a hint where to search for it? I failed to find the place where log messages are preprocessed before printing. Would love to make a PR.

[2020-11-26 12:43] novemberborn commented on #2614
Good question… I think either of these three places?

https://github.com/avajs/ava/blob/09c5568d4268e6e4a382bbb3a956a52c44a5bf94/lib/reporters/tap.js#L103
https://github.com/avajs/ava/blob/09c5568d4268e6e4a382bbb3a956a52c44a5bf94/lib/reporters/tap.js#L115
https://github.com/avajs/ava/blob/09c5568d4268e6e4a382bbb3a956a52c44a5bf94/lib/reporters/tap.js#L126-L129

[2020-11-26 13:30] tymfear commented on #2614
@novemberborn looks like the problem is in `supertap` https://github.com/vadimdemedes/supertap/blob/master/index.js#L40

[2020-11-27 20:47] ninevra opened #2616 "Test regression on node v15.2"
`npm test` on `master` on node `v15.2.0` and later reports 3 failures in reporter output tests:

[code]

In at least some cases, changes to node internals have altered line numbers in backtraces, e.g.:

[code]

[2020-11-28 00:26] Githubber2021 opened #2617 "RequestError: socket hang up"
Hi,

I use **ava** in combination with Electron and Spectron on Windows and macOS and it works great.

So I setup a Gitlab pipeline which executes `npm run ava` after building. I noticed that the tests fail if a parallel process on that machine consumes between 50-80% CPU power with the following error:

[code]

Is there any verbose mode to find out where this error message comes from?

Thank you!

[2020-11-28 01:15] sindresorhus commented on #2617
This usually means you did too many requests at once.

[2020-11-28 01:15] sindresorhus commented on #2617
Try to reduce the concurrency: https://github.com/avajs/ava/blob/master/docs/06-configuration.md

[2020-11-28 01:15] sindresorhus commented on #2617
I'm going to close as this is not an issue with AVA.

[2020-11-28 01:15] #2617 closed

[2020-11-28 01:55] Githubber2021 commented on #2617
Sorry, I thought this is an issue with AVA. My concurrency is set to 1 since the job run in serial mode

[2020-11-30 15:27] #2616 closed

[2020-12-01 23:26] tymfear commented on #2614
@novemberborn any thoughts here?

[2020-12-02 10:04] novemberborn commented on #2614
@tymfear I didn't notice your edits, sorry.

We could fork it… but I don't really want to maintain it. It'd be the path of least resistance. How about you set that up and then we can transfer it into this org when done?

(We could inline it as well but that gets icky with licenses and whatnot.)

[2020-12-02 13:44] tymfear commented on #2614
@novemberborn I'll try it out!

[2020-12-03 03:09] futpib commented on #2501
Bounties from #1743, #1917, #1558 and #1953 are now dangling and should probably be moved here somehow.

[2020-12-04 23:20] tymfear commented on #2614
@novemberborn ping

[2020-12-05 15:23] novemberborn commented on #2614
@tymfear I typically don't have time for code reviews during the week, but try to get to them over the weekend.

[2020-12-05 17:13] tymfear commented on #2614
@novemberborn got it. Just pinged in case you missed it

[2020-12-05 17:16] novemberborn commented on #2501
@futpib yes, I'm not sure to what extend that's possible. @sindresorhus?

[2020-12-06 17:57] #2311 closed

[2020-12-06 17:57] #2324 closed

[2020-12-06 23:53] ninevra commented on #1424
I'd like to work on this, if that's alright?

[2020-12-07 05:50] sindresorhus commented on #2501
I have copy-pasted the relevant bounty badges inline in the issue here. The combined bounty is $220.

[2020-12-07 07:51] novemberborn commented on #1424
@ninevra yea that'd be great!

[2020-12-07 15:23] ehmicky commented on #2311
Sweet, thanks!

[2020-12-08 19:24] ash0080 opened #2621 "t.like not work as expected"
v 3.14.0

![image](https://user-images.githubusercontent.com/2803210/101531246-f10a6000-39cd-11eb-968b-a9e7aa7990ba.png)

[2020-12-09 02:08] dolsem commented on #2615
Here's an example of how a custom assertion might be defined:
[code]
This works but doesn't let us customize the actual error output from AVA. What if we could just modify the fail assertion to pass through an instance of `AssertionError` to `addFailedAssertion()`? This way the user will be able to modify the stack appropriately.  Or alternatively just save the fail method in a property on the `As

[2020-12-09 10:05] novemberborn commented on #2621
What are you expecting? `ttl` seems to be different so the assertion fails.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-12-09 10:05] #2621 closed

[2020-12-10 14:16] csvn commented on #2384
I just ran into this, and it took longer than I'd like to admit to realize this was the issue. We have two tests that are much slower (~2m), while the other tests are below the default 10s. I wanted to only mark to "slow" tests to use a higher timeout, instead of needing to set `t.timeout()` for every test.

Would be awesome to have this issue solved! 😄

[2020-12-11 16:38] f5lee opened #2622 "typescript assertion functions"
Typescript since 3.7 has a way to declare that a function is an assertion function, which lets it make inferences about null/undefined values.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#assertion-functions

Is this something ava should support? I can make a PR for it. (It would be conditional on typescript version)

[2020-12-12 12:01] sindresorhus commented on #2622
Relevant issue: https://github.com/avajs/ava/issues/2449

[2020-12-13 18:57] novemberborn commented on #2622
I don't believe this works with our assertions, being members of our `t` object.

(I'm closing this issue for housekeeping purposes, but let's keep the conversation going.)

[2020-12-13 18:57] #2622 closed

[2020-12-13 19:01] novemberborn commented on #2384
@csvn would you be interested in taking this on?

[2020-12-13 19:03] novemberborn commented on #2615
@dolsem my hunch is that exposes AVA internals more than we'd like. I like an option object better.

[2020-12-14 07:38] dolsem commented on #2615
@novemberborn well, if you don't want to expose `AssertionError`, the aforementioned object could have an optional `error` field with an instance of a custom error. Then `AssertionError` would reuse its stack trace. It just feels a bit more convoluted than necessary to me. Any particular reason to not expose AssertionError to the outside world? Backwards compatibility considerations? It could be e

[2020-12-14 09:45] novemberborn commented on #2615
I want to avoid accidental APIs that we then cannot change. I think there are too many internal considerations for how `AssertionError` works that are hard to safely expose, hence a "facade" object would be a safer long-term strategy.

[2020-12-14 16:49] ghost opened #2624 "document that ava assertions don't throw"
I didn't realize until recently that ava assertions don't stop the test when they fail.

I think this could be documented better, and I'm willing to do so if that's useful

[2020-12-15 09:25] novemberborn commented on #2624
I thought it was referenced, but I can't immediately spot it in the obvious places. This hints at it:

That might be the best spot to add a clarification?

[2020-12-15 16:22] f5lee commented on #2624
I'd scatter reinforcement of the idea at several places, since reference documents are often not read linearly, and "assert doesn't throw" is pretty unusual; in almost every other programming context, assert does throw.

I can make a PR in a day or so.

[2020-12-15 16:44] novemberborn commented on #2624
@f5lee fantastic, thank you.

[2020-12-16 06:04] osdiab commented on #472
reviving an old discussion, but i've hacked together something with a `jest` test run setup script that relies on its `JEST_WORKER_ID` environment variable + the `maxWorkers` config variable in setup scripts, to spin up a single db instance per worker thread, taking advantage of the fact that within a single worker (including across files) tests are not run concurrently.

I'd rather use `ava` thou

[2020-12-16 09:00] MrZyr0 opened #2625 "Delay restart on watching"
## Please provide details about:

* **What you're trying to do :** I want to delay reloading ava when using `--watch`.
* **Why you can't use AVA for this:** I didn't see option, parameters are any infomation in the documentation & issue to do this.
* **And maybe how you think AVA could handle this:** Add a new parameter in `ava.config.js` like `watchingReloadingDelay` that accepts a human readable

[2020-12-17 07:49] novemberborn commented on #2625
Delaying AVA is not the answer for this. It may still run too early.

Ideally AVA starts the API for you. I do this in test files, even launching child processes. So yes that's a new API process for each test file.

[Shared workers](https://github.com/avajs/ava/issues/2605) could provide a foundation for this as well.

However, for your current setup, the simplest approach might be a before hook:

[2020-12-17 07:49] #2625 closed

[2020-12-17 07:54] novemberborn commented on #472
@osdiab would you mind [starting a discussion for this](https://github.com/avajs/ava/discussions)?

[2020-12-17 22:52] matt-wiese commented on #2376
Appreciate the work on this. However, I'm still getting this error with v3.14 via Atom on Win10.

[2020-12-19 03:15] awlayton opened #2627 "t.like not handling arrays as expected"
I am trying to use the `t.like` assertion on deep objects with arrays of objects in them.

The following simplified example fails:
[code]
[code]

I expected the above assertion to pass.
It seems that elements within arrays need to be deep equal rather than "like" for the assertion to pass.

AVA version:
[code]

[2020-12-19 04:24] ninevra commented on #2627
(Not a maintainer, but)

This is behaving as documented: ["Any values in `selector` that are not **regular objects** should be deeply equal to the corresponding values in value."](https://github.com/avajs/ava/blob/master/docs/03-assertions.md#likevalue-selector-message) What a "regular object" is in javascript is admittedly not well defined, but arrays aren't it.

It would sometimes be useful for

[2020-12-19 05:58] awlayton commented on #2627
I had interpreted it as anything that was JSON serializable. But I could see them meaning it more literally.

What do you mean about `t.deepEqual`? Is there some undocumented way to use it? It just takes 2 values to compare and an optional message.

[2020-12-19 06:32] ninevra commented on #2627
Internally, what `t.like(actual, selector)` is doing is constructing a subset of `actual` and then comparing it by deep equality to `selector`; i.e. there exists some function `select(actual, selector) -> sample` such that `t.like(actual, selector)` is equivalent to `t.deepEqual(select(actual, selector), selector)` A very simplified version might look like:
[code]
(The actual selector function use

[2020-12-21 17:54] shellscape commented on #2285
_A very gentle nudge_ This continues to plague monorepos. As a massive fan of Ava I continue to push its use where and when I can, but this is always a pain point that I must argue through to gain acceptance. Rollup's plugins monorepo uses Ava and we've been forced to copy the same configuration into 28 separate package.json files. That's only going to continue to grow as the project adopts and cr

[2020-12-21 20:58] stavalfi commented on #2285
I think that my comment above can help you. run this command from the root: `yarn ava` to run all tests. `yarn ava <specific package-path>` to run all tests of specific package.

[2020-12-22 16:54] novemberborn commented on #2376
@matt-wiese happy to discuss in a separate [Discussion](https://github.com/avajs/ava/discussions). Without more context this looks like a v2 configuration incompatibility, but again let's discuss elsewhere.

[2020-12-22 16:58] novemberborn commented on #2285
@shellscape

Not sure who you're nudging… there is an solution provided and the issue is labeled `help wanted` 😉

You could use an `ava.config.cjs` file and at least share the same configuration that way.

[2020-12-22 17:11] shellscape commented on #2285
😂

![touche](https://media0.giphy.com/media/LLwagb57AqgyOsEi9k/200w.gif?cid=ecf05e47cb6f1ohvzvnic1xvk3le88frsmhthbibbdwyzkiu&rid=200w.gif)

@stavalfi while I'm sure that will help some folks, that's a package-manager-specific solution. So for those who don't use yarn (e.g. pnpm) we run into other issues with that proposal. Namely that Ava doesn't think it can find any files. Now, I'm 99.9% certain

[2020-12-23 14:17] novemberborn commented on #1128
@JJ fair enough, https://github.com/avajs/ava/pull/2628 should help if you use plain AVA (no Babel or TypeScript providers).

[2020-12-23 14:21] novemberborn commented on #2627
@ninevra is correct.

`like` uses `deepEqual` under the hood, which, like `snapshot` uses https://github.com/concordancejs/concordance to determine equality.

Ultimately a "partial equal" feature could be added there, allowing us to be smarter with say (primitive-value) sets and maps, but even then deciding how two arrays or complex-value sets are partially equal becomes difficult.

(I'm closing t

[2020-12-23 14:21] #2614 closed

[2020-12-23 16:17] novemberborn commented on #2285
@shellscape I had another look at the code to see how accurate the proposed solution still is. Since we now look for three different configuration files, accurately resolving them will take some disk access. And it'd be nice to parallelize that, which requires us to load configuration asynchronously.

https://github.com/avajs/ava/pull/2629 should get us there. And then we can make this an experime

[2020-12-27 20:51] ninevra opened #2634 ""Could not update snapshots" message could be clearer"
## What you're trying to do:

When AVA is passed `--update-snapshots` and a test runner encounters a `skip()`ed test (or, with #2623, a `skip()`ed assertion) the reporter prints  "Could not update snapshots for the following test files: \<list of filenames\>".

This message doesn't say _why_ snapshots couldn't be updated. In practice the reason is likely to be divinable (the user just recently add

[2020-12-27 22:00] ninevra opened #2635 "Allow updating snapshots for individual tests or individual assertions"
## What you're trying to do

Example use case:
- a developer writes tests using `t.snapshot()` assertions
- a regression or external change causes such a test to begin failing
- the developer marks the test `.failing()`, expecting the issue to remain for some time
- later, the developer makes changes to other tests in the same file, and runs `--update-snapshots` to record the changes
- this incide

[2020-12-27 22:37] ninevra opened #2636 "Result of `.snapshot()` assertions in `--update-snapshots` mode is inconsistent"
## What you're trying to do

Run AVA in `--update-snapshots` mode.

## What happened

Whether `t.snapshot()` assertions pass or fail depends on the state of other tests in the same file, and can differ between files.

Specifically, `t.snapshot()` assertions always pass in `--update-snapshots` mode, _unless_ any test in their file is `test.skip()`ed, in which case they pass or fail as they would wi

[2020-12-30 08:39] novemberborn commented on #2635
If we knew the test was failing because of the snapshot, then we could retain that failing snapshot while updating everything else. We'd have to be able to regenerate the Markdown file based on the binary snapshot serialization, which should be possible.

[2020-12-30 08:41] novemberborn commented on #2636
We don't want to update snapshots if the resulting file may be incomplete due to tests or assertions being skipped. It's a little too easy to accidentally drop snapshots that way.

We may have implemented that as an assertion error, whereas instead we should have a way to "fail" the test file itself.

[2020-12-31 14:09] #2612 closed

[2020-12-31 14:42] #1424 closed

[2021-01-01 15:52] #2346 closed

[2021-01-01 15:54] novemberborn commented on #2285
The resolution logic lives here:

https://github.com/avajs/ava/blob/a2f2614cc1e34fb9a7aa204b37b3b25559f203d9/lib/load-config.js#L202-L207

Adjustments should be made so it can find other candidate configuration files. Then, if they've opted into the `nextGenConfig` experiment, they can be selected. Note however that the current behavior must not change if the experiment is not enabled.

[2021-01-03 03:54] shailenpatel1 commented on #2455
Can I work on this?

[2021-01-03 14:41] novemberborn commented on #2455
@shailenpatel1 maybe you could pick up where https://github.com/avajs/ava/pull/2586 left off?

[2021-01-04 13:40] TimDaub opened #2639 ""✖ Timed out while running tests" are not reported as failing tests"
I'm running my test suite using `ava --serial --verbose`.
In the past, there have now been several cases where random tests start failing. This is reported by ava as follows:

[code]

So then I wonder what's happening. Often, I then discover way up in the logs that many tests have started failing because they timed out.

[code]

However, these tests are not shown as "failing" in the end. Instead,

[2021-01-04 18:18] awlayton commented on #2627
I was expecting it to just treat an array the way it treats and object. That is, element `i` of the array (key `i` of it as an object) must be "like" element `i` of the corresponding selector array.

Not saying that is the only interpretation for arrays, but it is one way.

[2021-01-05 09:21] novemberborn commented on #2639
I'm struggling to remember quite what everything looks like — I appreciate you can't share your full test run but it makes it tricky to look at it from your perspective and see where the output can be clearer. Do you think you could share a bit more?

I'd expect a summary with the numbers of passing, failing, timed out tests, etc. And a list of failures and timeouts.

I'm pretty sure the output ca

[2021-01-05 09:24] novemberborn commented on #2627
Yea, I appreciate that. I'm not quite sure how we'd build that *on top of* Concordance though, especially with nested arrays.

[2021-01-05 10:03] TimDaub commented on #2639
Hey @novemberborn,

I can send you a full log if you give me a private comms channel e.g. email.

[2021-01-05 10:21] tymfear commented on #2639
So recently the similar issue was addressed in TAP reporter - now all specs that haven't been run due to timeout are reported as failed. And when I was working on that I was also wondering why default reporter does not do similarly. So probably AVA should report all tests that are pending when timeout occurs as failed in all reporters (including the JSON reporter created via #2608 )?

[2021-01-05 10:26] novemberborn commented on #2639
@tymfear sure but that's because we're trying to shoehorn AVA's behavior into the TAP spec.

For our own reporters, as long as the exit code is non-zero and it's clear from the output what happened we're good.

[2021-01-05 10:52] TimDaub commented on #2639
Hey @novemberborn,

I created a quick repo to show you what I mean: https://github.com/TimDaub/ava-test-timed-out
Here's a full log of a test run (`--verbose`):

[code]

[2021-01-05 21:28] awlayton commented on #2627
I have no experience with concordance, but could you not simply transform any arrays to their "equivalent" object before doing the comparison with the selector?

[2021-01-06 09:25] novemberborn commented on #2627
You'd have to walk the object tree to find all those arrays. It's fine for simple cases but much harder for all cases.

[2021-01-06 19:09] awlayton commented on #2627
Not sure I see cases where it is hard, unless you are worried about it becoming slow for giant objects? You just need to recurse down the thing.

[2021-01-07 09:02] novemberborn commented on #2639
What if we add `1 test remained pending after a timeout` at the end there?

[2021-01-07 09:04] novemberborn commented on #2627
Recursing is the problem. For example it has to work for sets and maps (keys included).

[2021-01-07 09:07] TimDaub commented on #2639
sounds good to me!

[2021-01-07 10:42] TimDaub commented on #2639
@novemberborn: If you'd provide me some guidance, I'd probably be able to help make the change myself.

[2021-01-08 09:29] OmgImAlexis commented on #1604
Looks like versions of node above v14 can use `--enable-source-maps` to fix this.

[2021-01-10 12:57] novemberborn commented on #2639
@TimDaub you'll want to have a look at this function:

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/reporters/default.js#L653

Perhaps store the timed out and interrupted tests:

* https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/reporters/default.js#L279
* https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib

[2021-01-10 20:34] cdaringe opened #2640 "vscode debug + typescript recipes are incompatible as authored"
Please provide details about:

debug tests, in typescript, ts-node _only_

Test executed successfully, but both breakpoints & `debugger` statements ignored

![ava_no_break mov](https://user-images.githubusercontent.com/1003261/104134563-3a3c2f80-533f-11eb-865e-c1530b7dd521.gif)

`debugger` statements to halt execution

- per [using-ts-node](https://github.com/avajs/ava/blob/master/docs/recipes/typ

[2021-01-11 13:20] TimDaub commented on #2639
Thanks, @novemberborn. I'll try to give it a look this week and keep you posted.

[2021-01-11 22:19] stavalfi opened #2641 "Make it easier to find failed tests in the default reporter"
### Background

I'm migrating a Jest project to Ava and I find it hard to search the failed tests in Ava reporter.

With jest, you can search in the terminal "fail " (with a space at the end) and you will find all the failed tests files which failed. (it won't help you to find the actual tests which failed).

With Ava, I need to search for: "✖" symbol to find the actual tests which failed (but it

[2021-01-11 22:23] stavalfi opened #2642 "Add the ability to test a folder"
add the ability to test a folder: `ava <path>/<to>/<folder>`

Jest has this feature and it makes life easier in mono-repo specifically and when having a lot of test files which are grouped in folders

[2021-01-12 09:26] novemberborn commented on #2641
Sure. Would you mind adding this to https://github.com/avajs/ava/issues/2500?

[2021-01-12 09:26] #2641 closed

[2021-01-12 09:33] novemberborn commented on #2642
The positional arguments are interpreted as a filter over the matched test files. See:

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/api.js#L117-L123

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/globs.js#L239-L240

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/globs.js#L165

Ultimately this relies

[2021-01-12 09:33] maximilliangeorge opened #2643 "Signed and unsigned zero values fail t.is comparison"
This is quite a simple issue to reproduce. I'm presuming this is a bug.

[code]

Ava is invoked using `ava --watch`. Version 3.15.0.

[2021-01-12 09:38] novemberborn commented on #2640
Do you *need* to create the launch configuration? The built-in debug terminal works pretty well for me, and so I haven't used launch configurations in a while…

I wonder if the `debug` command is missing from `runtimeArgs`. It was removed in https://github.com/avajs/ava/pull/2547. Could you try putting it back in?

[2021-01-12 09:39] novemberborn commented on #2643
This is by design, they're different values.

See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is.

[2021-01-12 09:39] #2643 closed

[2021-01-12 19:19] stavalfi commented on #2500
# Feature Request

### Background

I'm migrating a Jest project to Ava and I find it hard to search the failed tests in Ava reporter.

With jest, you can search in the terminal "fail " (with a space at the end) and you will find all the failed tests files which failed. (it won't help you to find the actual tests which failed).

With Ava, I need to search for: "✖" symbol to find the actual tests wh

[2021-01-12 19:33] stavalfi commented on #2641
Thanks @novemberborn.

from my understanding, this request won't be done in the next months. is there any workaround I can do to make it happen? different Ava reporter maybe?

It's unproductive to not knowing which tests are failing and which files are failing immediately.

thanks again for taking the time to answer me.

[2021-01-12 19:36] stavalfi commented on #2642
Thanks for taking the time to answer me.

I feel this workaround is ok+- but not trivial. maybe documentation is needed here.

what do you think?

[2021-01-13 08:05] novemberborn commented on #2641
Nah, all we have is TAP and our default reporter, sorry.

[2021-01-13 08:06] novemberborn commented on #2500
@stavalfi I think that matches with what I'm hoping we can get to. Essentially the final output is test files and the results of the tests therein, with any realtime stuff happening just at the bottom of the terminal. So you could follow the output as AVA is running.

[2021-01-13 08:07] novemberborn commented on #2642
I'm always in favor of clarifying the documentation, yes 😄

I think we can change the behavior though it introduces some uncertainties… filtering solely by glob patterns is easier to understand, but only once you have the understanding of course.

[2021-01-13 10:02] novemberborn commented on #2641
@tymfear I think our energy is better spent elsewhere.

[2021-01-13 10:08] tymfear commented on #2641
...Just checked State of JS 2020 and I'm sad seeing people leave AVA or don't like it. I'm sure they just don't understand all the power of AVA and super used to Mocha/Jasmine/Jest (the same I see in my org with some people). But some people want good reporting, and what currently AVA provides is not that good and that makes people leave as well. And I really believe that improving reporting will

[2021-01-13 11:13] stavalfi commented on #2641
I agree, I can't suggest my Org to use Ava as well yet. Until there is a better reporting.

[2021-01-13 11:39] tymfear commented on #2641
I do use AVA in my organisation,  and advertise it,  and show all the benefits, but every time someone new sees AVA they are confused by macros and TAP reports, so that needs clarifications. But because of that I assume the same reactions across JS community

[2021-01-13 12:12] novemberborn commented on #2641
Would be great to have a [Discussion](https://github.com/avajs/ava/discussions) about this!

[2021-01-13 12:27] tymfear commented on #2641
I'm not sure what do you mean by `this`. But I'll create discussion about hooks.

[2021-01-13 12:29] novemberborn commented on #2641
About the points you're raising. Just suggesting we move it out of an issue thread and into the Discussion space 😄

[2021-01-13 12:38] tymfear commented on #2641
Done

[2021-01-13 13:38] TimDaub opened #2645 "'timeout' events have different structure than e.g. 'test-passed'"
[consumeStateChange](https://github.com/avajs/ava/blob/master/lib/reporters/default.js#L246) expects events of a specific type to be submitted. These get then passed on to functions that will log the outcome of the test run ([endRun](https://github.com/avajs/ava/blob/master/lib/reporters/default.js#L653) and [writeTestSummary](https://github.com/avajs/ava/blob/master/lib/reporters/default.js#L619)

[2021-01-14 03:07] fisker opened #2646 "Question: Is it possible to use `.mjs` on Node.js 10?"
I'm trying to covert test files to `.mjs`, but I still need run test on `Node.js` 10.
I can't find a way to run tests with `babel: true`.

[2021-01-14 09:57] novemberborn commented on #2646
`.mjs` is only really supported in Node.js 12 — I don't know how those extensions behave in 10.

Babel transpilation should work but you haven't shared your setup or errors so I can't really tell.

Let's continue this in a [Discussion](https://github.com/avajs/ava/discussions).

[2021-01-14 09:57] #2646 closed

[2021-01-14 10:26] novemberborn commented on #2645
Sounds good.

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/api.js#L84

Also:

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/api.js#L107

[2021-01-14 10:28] fisker commented on #2646
It seems I can't config `.mjs` file as `commonjs`, and https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/worker/subprocess.js#L190 This line always try to use `import`. And https://github.com/avajs/babel/blob/5e7279b695760e8451a8c7ce664ad4eba5f1c421/index.js#L372 this line refuse to load it too.

I think the real problem is how to config `.mjs` file as a `commonjs` mod

[2021-01-14 10:55] novemberborn commented on #2646
Ah you're right, I remember now. We always treat `.mjs` as ESM. So no, you can't do this.

[2021-01-14 13:01] fisker commented on #2646
Too bad, I even try to modify some code, still can't make it work.

[2021-01-14 13:03] fisker commented on #2646
I feel this will be need when we target Node.js 12, people will switch tests to `.mjs` and to support old version of Node.js, we still want run with `babel`.

[2021-01-14 13:05] fisker commented on #2646
I also tryied rename `.mjs` to `.js` when old Node.js version detected, but one problem, snapshot won't match because filename changed.

[2021-01-14 13:07] fisker commented on #2646
Here is the change I want. https://github.com/fisker/eslint-plugin-unicorn/pull/227,  I guess have to wait untill we drop Node.js 10, what do you think @sindresorhus

[2021-01-14 13:27] novemberborn commented on #2646
Node.js 10 is end of life in April, so I don't think this will be an issue for much longer.

[2021-01-14 18:59] sindresorhus commented on #2646
@fisker Would be easiest to just wait a few months for us to be able to drop Node.js 10. Alternatively, you could drop Node.js 10 for the tests for now.

[2021-01-14 22:01] stavalfi commented on #2500
@novemberborn Thanks for your ongoing effort on Ava. You guys do amazing job.

If that's ok from you, I would like to talk about prioritising this ticket over others.

---------

I'm considering to use Ava in my personal and company projects because of 2 reasons: `t.log` and better tests concurrency.

Ava has a killer feature: `t.log`. this feature does not exist in any other test-runner in node (

[2021-01-15 09:35] novemberborn commented on #2500
Thank you @stavalfi!

In terms of prioritization, there's what I can pick up in my spare time, and there's what others contribute. The fastest way for this to happen is for somebody to start the work, and I'll always prioritize helping contributors over doing coding myself.

[2021-01-15 11:22] TimDaub commented on #2645
I think I'm really close. But for both L84 and L107, I can't find a way to get the test's `title`. It seems I can only access it after the worker has stopped on during `selected-test`. Both occurrences seem really tricky to access it. Any where I could get the title from otherwise?

[2021-01-15 12:22] stavalfi commented on #2500
How can I use the reporter which Ava project uses to test it's project? That's exactly what I'm looking for.

* I can't find `test-ava`.

[2021-01-15 12:25] novemberborn commented on #2500
That's just AVA, but with a wrapper so we can use it from inside the package repository. There's a [secret environment variable](https://github.com/avajs/ava/blob/a2f2614cc1e34fb9a7aa204b37b3b25559f203d9/lib/cli.js#L427-L441) which give the test harness access to the internal status.

[2021-01-17 15:31] novemberborn commented on #2645
Sorry what title do you need to acces in what circumstance?

[2021-01-17 16:17] TimDaub commented on #2645
The proposed event "test-timeout" that is created in `emitStateChange` is supposed to contain the test's title in the same way that an event of type "test-passed" contains a title property. Along the event's lifecycle, I want to add the test's title somehow.

[2021-01-17 16:42] novemberborn commented on #2645
Is this for individual test timeouts? Through `t.timeout`? Though those may be emitted as test failures. The other timeouts are due to inactivity and thus not attributable to specific tests.

Apologies if I didn't make this clear enough. Trying to remember it all myself 😀

[2021-01-18 13:21] TimDaub commented on #2645
Actually, I was contemplating if they're attributable or not too. But from my understanding, the current `timeout` event is created from a [pendingWorkers](https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/api.js#L71) list. What my previous questions were all concerned with mapping a title to a worker. IMO, I'd just need the title somehow when [forking](https://github.

[2021-01-19 12:03] mmourazos opened #2649 "I'm trying to test a function which reads a file using fs.promises."
Please provide details about:

* What you're trying to do
* What happened
* What you expected to happen

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

We'll also need your AVA configuration (in `package.json` or `ava.config.*` configuration files) and how you're invoking AVA. Share

[2021-01-19 12:04] #2649 closed

[2021-01-19 12:04] mmourazos commented on #2649
Error while reporting the issue.

[2021-01-19 15:11] jakobrosenberg opened #2650 "Share context across files or provide option to run folders in serial mode"
Not sure if this is a feature or documentation request.

**What you're trying to do**

Run production tests after development tests have run
- start server in `development mode`
- run all dev tests in parallel
- close server
- start server in `production mode`
- run production tests in parallel
- close server

**Why you can't use AVA for this**
AVA runs test files in parallel

**And maybe how you

[2021-01-19 20:44] rgomezp commented on #2640
Howdy!
Same issue.

I have to use launch configuration because I'm using transcript so the code has to be first transpiled and then run via the `preLaunchTask` param. I have two configurations: 1) "Transpile & Run" and 2) "Run"

[code]

For me, everything was working up to VSCode version 1.46.1 and then there was some regression on higher versions. Then I updated my project's Typescript version an

[2021-01-19 21:35] rgomezp commented on #2640
Update: I tried putting a `debugger;` statement to halt execution. Then, if I add breakpoints they work.

[2021-01-20 09:52] novemberborn commented on #2645
The worker runs test files, which contain tests, which have titles.

#2501 mentions this issue:

Perhaps solving _that_ makes it easier to achieve your goal here.

As I'm also discussing in https://github.com/avajs/ava/pull/2647 the reporter code is quite messy at this point and I'm having a hard time remembering what it's supposed to do for what reason. Let's keep that in mind as we expend all th

[2021-01-20 09:55] novemberborn commented on #2650
I think the better approach is to run AVA twice, but with different files. You can provide glob patterns on the CLI.

Let's discuss further in [Discussions](https://github.com/avajs/ava/discussions).

[2021-01-20 09:55] #2650 closed

[2021-01-20 09:57] novemberborn commented on #2640
@rgomezp have you tried the built-in debug terminal? I run a TypeScript compiler in a separate process, but for be this works great for debugging tests.

[2021-01-20 18:32] stavalfi commented on #2642
what is the cost of supporting both? globs and folders? (it seems like Ava is aware of the scenarios where the user is trying to test a folder and throw an error to the user)

[2021-01-20 18:34] stavalfi commented on #2639
If that's help, this PR fixes it: https://github.com/avajs/ava/pull/2647

[2021-01-20 18:41] TimDaub commented on #2639
@stavalfi thanks for pointing to your PR, but I don't think it fixes the problem in this issue. I'm coming to that conclusion as you're not editing the code that handles a type: "timeout" event.

I'm happy of course if I'm wrong, so feel free to run your branch on: https://github.com/TimDaub/ava-test-timed-out

[2021-01-20 18:48] rgomezp commented on #2640
@novemberborn ,
Hi Mark.
I'm sorry but I'm not sure what you mean exactly. I have `"console": "integratedTerminal"` set in my launch config. Perhaps a gif or video could help clarify?

[2021-01-21 09:47] novemberborn commented on #2640
As in here: https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md#debugging-with-the-debug-terminal

[2021-01-22 00:42] rgomezp commented on #2640
@novemberborn ,
I tried it. Unfortunately not, I see this:

[code]

[2021-01-22 23:06] yliu481 commented on #1666
Hi, @novemberborn

Can I work on this issue? I would like to give it a try.

Thanks

[2021-01-23 08:53] ninevra commented on #1424
@novemberborn could you award the bounty on this? sorry, i think i submitted the pr on issuehunt too late, which caused the bounty not to be awarded automatically.

[2021-01-23 09:55] ninevra commented on #2099
The `--commit-snapshots` workflow described in https://github.com/avajs/ava/issues/1585#issuecomment-379672636 sounds like the workflow used by [`insta`](https://crates.io/crates/insta) and [`trybuild`](https://crates.io/crates/trybuild) (both rust projects); so, it's attested, though maybe not in javascript. It makes comparing and updating snapshots very convenient, because one doesn't have to re

[2021-01-23 18:56] novemberborn commented on #2642
I think as long as the behavior is consistent, we're good. That, and performant.

Filtering the matched files should be quick enough. Determining whether a pattern matches a directory can be slower, but that's up to the user really.

Given that we can have multiple patterns, we could process them one at a time. If the pattern itself does not match a test file, we could resolve it against the file

[2021-01-23 19:04] novemberborn commented on #2640
I think that may have more to do with your project setup.

I did clone your project, ran `npx tsc --project build/config/tsconfig.tests.json` and then from VSCode ran `npx ava` and that ran the tests fine.

There's a lot of moving pieces in your project and I reckon that's where the trouble lies.

Not to say the recipe is perfect, of course, I suspect the `debug` command is still missing? https://

[2021-01-23 19:07] novemberborn commented on #1666
@yliu481 of course, thanks!

[2021-01-23 19:15] novemberborn commented on #2099
@ninevra that sounds great.

[2021-01-25 08:31] jakobrosenberg commented on #2639
Is it possible to force this message `× Timed out while running tests` without `--verbose`?

If I insert
[code]
into a test I get `99 tests passed` instead of `100 tests passed`. If I don't know the exact number of tests being run (I don't), I would assume all tests are passing (I did).

[2021-01-25 09:56] jakobrosenberg commented on #1602
I'm currently working on a new public template for Routify projects and this is part of the current `package.json`.
[code]
Unfortunately `post` hooks don't run after exiting when using `-- --watch`. Furthermore, speaking from experience, the amount of test scripts will not be well received and I'm looking for an alternative approach that would allow me to shorten it to:
[code]

The preferred solut

[2021-01-25 10:03] novemberborn commented on #1602
@jakobrosenberg this is something I had in mind with shared workers, could you share your use case in https://github.com/avajs/ava/issues/2605?

[2021-01-25 10:04] novemberborn commented on #2639
Yes that ought to work.

[2021-01-25 10:18] Suyashtnt opened #2654 "vue and typescript"
Im trying to get vue with typescript support working in ava 2(I cant use ava 3 for config file reasons) and typescript does not seem to work.

log:
[code]

repo is: https://github.com/glowsquid-launcher/glowsquid-next (im using a template which has unit tests built in but not working)

[2021-01-25 10:25] novemberborn commented on #2654
Sorry we can't help you with AVA 2 issues.

[2021-01-25 10:25] #2654 closed

[2021-01-25 12:47] jakobrosenberg commented on #2605
Sharing use-case here by request 🙂

I'm working on a public template where I need to test both `dev` and `build` commands.

I have a folder structure as such
[code]
and the `package.json` tests
[code]

The `test/wrapper` script
[code]

<details>

<summary>entire wrapper script</summary>

[code]

</details>

I'm somewhat happy with the script in its current state. It's not 100% self explanatory in

[2021-01-25 19:34] novemberborn commented on #2605
@jakobrosenberg so the way I was thinking this might work:

* We add support in AVA config files for loading plugins
* We allow plugins to register tasks that run before and after test runs
* (And they'd be aware of watchers, to perhaps keep resources alive for longer)
* The message passing capabilities already available would allow you to load the plugin in a test file and access URLs and whatnot

[2021-01-25 23:34] yliu481 commented on #1666
@novemberborn
Before starting, I want to make sure we are on the same pages, so I checked [06-configuration.md](https://github.com/avajs/ava/blob/master/docs/06-configuration.md#next-generation-configuration) and understand that ava can load configuration from either package.json or an ava.config.* file.

I checked the load-config.js, these codes will load the ava.config.*
https://github.com/avajs

[2021-01-26 08:39] jakobrosenberg commented on #2605
Sounds good.

What are your thoughts on being able to override the plugins through the CLI (`npx ava path/to/test --plugin path/to/plugin.js`) and/or dynamic higher order components? (Am I using this term correctly?)

[code]

[2021-01-26 09:50] novemberborn commented on #1666
No, you need to change how the `require` array is processed here:

https://github.com/avajs/ava/blob/32c5425353cc58422f0a196bb0c06a4095a33825/lib/worker/subprocess.js#L217-L218

The array could contain just a `ref` string, or another array `[ref, ...args]`. In that case, after loading the module, we'd invoked the result with those arguments (`mod(...args)`).

[2021-01-26 09:52] novemberborn commented on #2605
I'm reluctant to add CLI options for things that you would apply on every test run, I'd rather only expose flags for the stuff you need to do occasionally to debug a test run.

Passing arguments to plugins that have been registered through the configuration could be interesting though.

[2021-01-27 12:22] matheus23 opened #2655 "Shorter update for diffs in huge snapshots"
## What you're trying to do

I'm writing snapshot tests for a code generator. These snapshots are just strings.

## Why you can't use AVA for this

The snapshots are ~50k lines of code. If there's some line diff in there, AVA prints the whole snapshot. This fills my terminal buffer so much, I can't even scroll to the actual diff anymore.

## And maybe how you think AVA could handle this

I've swit

[2021-01-27 22:11] rgomezp commented on #2640
@novemberborn thanks for your response.

You can see the `debug` command in my configuration in this [comment](https://github.com/avajs/ava/issues/2640#issuecomment-763128281).

So I am using that.

I ran the `npx tsc --project build/config/tsconfig.tests.json && npx ava` command and it ran the tests fine.

That's not the original issue however. The problem is the breakpoints aren't triggered.

[2021-01-30 20:00] rauschma commented on #2373
This behavior just bit me again and took me a while to debug (AVA 3.15.0).

Playing devil’s advocate:

* If files are explicitly named why forbid them based on predefined patterns?
* When running all tests, it makes sense, but not when running individual tests (AFAICT).

[2021-01-31 15:18] novemberborn commented on #2655
I think this is an issue for https://github.com/concordancejs/concordance/ which generates the diffs. Would you mind opening it there?

Some questions we'd need to resolve:

* How would we indicate that lines are elided? Would we indicate how many?
* What if there are multiple sections that contain changes, but other sections are the same?
* Would you want the diff to "give up" when there are too

[2021-01-31 15:18] #2655 closed

[2021-01-31 15:26] novemberborn commented on #2640
The recipe works as-is with a plain JavaScript project.

Adding TypeScript, and build steps, makes everything more complicated. I don't know if that's solvable within our recipes.

FWIW I use the debug terminal along with `@ava/typescript` (which requires you to pre-compile the code). This works great. I'd love for you to try this so we can make more explicit that this works.

[2021-02-01 02:17] cdaringe commented on #2640
greetings all :) the recipe as written actually **doesn't work with plain javascript**.

to prove it, i've done the following:

- created a new project
- added `test.js` file
- created a launch config, [as recorded here](https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-vscode.md#creating-a-launch-configuration)
- ran

[reference to repro repository](https://github.com/cdaringe/

[2021-02-01 09:40] novemberborn commented on #2640
@cdaringe could you confirm your AVA, Node and VS Code versions? I wrote the exact same fixture file yesterday which worked.

[2021-02-01 09:44] novemberborn commented on #2642
Refining the above, we could track the patterns that did not match any test files, then resolve those into directories, and do another iteration to find new, now matching files. I think that gives us the best of both worlds.

[2021-02-01 09:50] novemberborn opened #2658 "When not using @ava/babel or @ava/typescript, allow test files to be provided on the CLI"
CLI arguments are used to select files from those matched by the configured file patterns. These must currently be glob patterns, for predictable behavior when using `@ava/babel` or `@ava/typescript` to precompile files.

#2642 proposes support for directory patterns, where any files matched by the configuration file patterns, contained in the directory pattern, are selected.

Based on [discussion

[2021-02-01 09:50] novemberborn commented on #2373
@rauschma the intent was for this logic to provide consistent behavior when you use `@ava/babel` or `@ava/typescript` to precompile tests and sources. Unfortunately those packages haven't yet gotten that advanced yet.

I think we can refine this behavior, see https://github.com/avajs/ava/issues/2658.

[2021-02-02 06:37] cdaringe commented on #2640
Certainly! Node 15.0.1, VSCode: 1.52.1, ava@3.15.0

`envinfo` posted below

<details>

  System:
    OS: macOS 11.2
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory: 522.02 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 15.0.1 - ~/.fnm/current/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.0.3 - ~/.fnm/current/bin/npm
  Utilities:
    CMake: 3.13.

[2021-02-02 12:06] matheus23 commented on #2655
Here's an example of how jest outputs diffs:
[code]

As you can see, it uses a standard syntax for eliding unchanged lines from a diff: `@@ -32865,6 +32896,7 @@` (even highlight.js understands this format!).

This format seems to be called [unified diff format](https://en.wikipedia.org/wiki/Diff#Unified_format).

No. While it's true that the biggest use-case for this is when two huge files are mos

[2021-02-03 04:37] ninevra opened #2661 "Snapshot ids can collide with test names"
## What you're trying to do

I'm just testing edge cases in hopes of better understanding the code. This isn't likely to be important to anyone's use case.

## What happened

If a snapshot has an id that matches a test name, it compares against the first snapshot from that test.

## What you expected to happen

This should probably either:
- Throw an error, like duplicate test titles do.
- Report

[2021-02-03 06:50] ninevra opened #2662 "Skipping snapshots with ids can cause other snapshots to fail or write spurious snapshots"
## What you're trying to do

Skip a snapshot assertion that has an id.

(I'm still just reading/working on the code and testing edge cases. This one could affect someone in actual usage, though.)

## What happened

Normally, snapshots only increment `nextSnapshotIndex` if they don't have an `id`. Skipped snapshots, however, always increment `nextSnapshotIndex`. If a snapshot with an `id` is skippe

[2021-02-03 09:49] novemberborn commented on #2661
Perhaps we should remove this feature?

[2021-02-05 17:54] thasmo commented on #2593
Trying to run TypeScript tests with ESM support, but failed to do so with the configuration above, adapted to my setup.
[code]

I'm running it with Node 14 and TypeScript 4, which results in this errors:
[code]

[2021-02-06 13:55] novemberborn commented on #2640
I didn't notice this before, but you run the debug command from the `launch.json` file. What the launch configuration does however is pass the *currently active file* to AVA, which, if it's a matching test file, will run it.

All this works for me, Node.js 15.8, VSCode 1.53, no AVA configuration.

I'm going to close this, since I don't think there's actually an issue here. Of course if the recipe

[2021-02-06 13:55] #2640 closed

[2021-02-06 13:59] novemberborn opened #2669 "Remove `id` support in `t.snapshot()`"
A presumably little known feature of the `t.snapshot()` assertion is that you can provide an ID for the snapshot. I doubt it's much used and it doesn't really fit with the mental model of of snapshots belonging to tests.

Let's remove it for AVA 4.

[2021-02-06 13:59] novemberborn commented on #2661
https://github.com/avajs/ava/issues/2669

[2021-02-06 13:59] #2661 closed

[2021-02-06 14:10] novemberborn commented on #2662
https://github.com/avajs/ava/issues/2669

[2021-02-06 14:10] #2662 closed

[2021-02-06 17:12] novemberborn opened #2670 "Use ESM whenever possible"
Convert as much as possible to ESM. However, any imports like `ava` and `ava/plugin` must remain in CommonJS for compatibility.

[2021-02-06 17:13] novemberborn opened #2671 "List public files in package"
Explicitly list the files we want to be publicly available.

[2021-02-06 17:40] cdaringe commented on #2640
Bummer.

- I've provided _two_ demonstrations, code and visual
- I found in the source code where the child test process is launched, and shared insight on how it is launched without debug flags when using the recipes as authored

I appreciate your effort and willingness, but I don't see compelling rationale for closure. "Works on my machine (with different config)" I feel is not giving the detail

[2021-02-06 17:45] novemberborn commented on #2640
As far as I can tell, the configuration, as documented, works. VS Code injects code to enable debugging, so the previous approach is no longer required.

Any combination with `ts-node` introduces too many variables. I'd take a PR that documents how to make it work but I highly doubt leaving the issue open for that is going to result in one.

[2021-02-06 18:02] cdaringe commented on #2640
I don't think my system is uncommon, as shown my envinfo.  I even uploaded a reproduction repository for plainjs (ignore -ts in the repro repo url). I admit, I could be missing something. But, as mentioned above, I don't see ts-node as the issue.

Are you assuming users are using autoattach? Otherwise I don't expect vs code to do this. I only expect it to add args to the root launch cli args to no

[2021-02-06 19:15] novemberborn commented on #2640
[code]

Open `test.js`. Run `Debug AVA test file`.

<img width="1136" alt="Screen Shot 2021-02-06 at 20 13 20" src="https://user-images.githubusercontent.com/33538/107127643-c3e80a00-68b7-11eb-88b9-3099a06ca5f5.png">

This was Node.js 14.15.4 and VS Code 1.53.0.

I don't know why it's not working for you. I'm sorry I can't help further.

[2021-02-07 03:20] cdaringe commented on #2640
I  tried on linux today (as opposed to my day-to-day macos laptop), and used the same node & vscode version as above. still doesn't take.  ~however, despite that it works for you, i do not expect it to work for you. i'm not sure what about your system makes this work--perhaps an env config, perhaps a vscode extension, ...im not sure.~

~ava runs the test in a child process. nothing is kicking that

[2021-02-07 03:55] cdaringe commented on #2640
By using `"type": "pwa-node"` and dropping `autoAttachChildProcesses`, it also works. Do you have `"debug.javascript.usePreview": true` set by chance?

[2021-02-07 13:16] novemberborn commented on #2640
I do! Not that I recall setting it.

Auto attaching to child processes sounds like it would be necessary. Would be good to know what is stock VS Code and what settings may be inherited from older installations.  Or we can just say "use `pwa-node`", whatever that is.

[2021-02-07 15:54] #2410 closed

[2021-02-07 15:54] #2534 closed

[2021-02-07 15:54] #2516 closed

[2021-02-07 22:18] papb opened #2674 "The `concurrency` option is not well documented"
The [configuration docs](https://github.com/avajs/ava/blob/main/docs/06-configuration.md#configuration) example include a `concurrency` option...

https://github.com/avajs/ava/blame/main/docs/06-configuration.md#L23

...but it is not documented in the [options section](https://github.com/avajs/ava/blob/main/docs/06-configuration.md#options).

I assume it refers to the maximum amout of tests execut

[2021-02-08 09:21] ninevra commented on #2669
I'd like to take a stab at implementing this, if that's alright? It'll simplify working on https://github.com/avajs/ava/discussions/2652.

[2021-02-08 10:06] novemberborn commented on #2669
Yea that'd be great @ninevra.

I'd like to raise an assertion failure when the option is passed, to aid people migrating from older AVA versions.

Note that we can make this change without requiring opt-in since we're now building towards AVA 4.

[2021-02-08 19:14] rgomezp commented on #2640
Howdy,
I'm in the same boat. Can you please reopen the issue?

[2021-02-08 19:53] novemberborn commented on #2640
If we can get to the bottom of it. Does changing the type help?

[2021-02-11 09:21] #2674 closed

[2021-02-13 15:24] #2669 closed

[2021-02-14 01:52] szmarczak opened #2684 "How long a failed test was running?"
* What you're trying to do

I'm trying to check if https://github.com/szmarczak/http2-wrapper/runs/1895479368?check_suite_focus=true#step:4:231 was caused by too small timeout or a bug in my code. If it took ~500ms, then I need to increase the timeout. If it's lower than 400ms, it's a bug in my code.

* Why you can't use AVA for this

AVA has no such feature. It only displays time for tests that p

[2021-02-14 17:22] geoffreyTools opened #2686 "How about a stryker-mutator plugin?"
I have been using [stryker-mutator](https://github.com/stryker-mutator/stryker) with AVA recently.

Although it works, it is very slow because Stryker can't do a [coverage analysis](https://stryker-mutator.io/docs/stryker/configuration#coverageanalysis-string) with AVA and thus it runs every test for each mutant regardless of them being covered by a given test.

This could be improved with an AVA

[2021-02-15 08:44] #2684 closed

[2021-02-15 08:50] #2686 closed

[2021-02-16 00:37] nathanforce commented on #2605
Not too sure if this is the right place for this or if a new issue would be better, but I'll start here!

I'll start this all of with a bug caveat that I don't have much experience with workers, memory sharing, or any of the other nitty gritty stuff involved here.

My ultimate goal is to create a `jsdom` instance for each test in my frontend application and avoid [polluting the global namespace](h

[2021-02-16 09:20] novemberborn commented on #2605
@nathanforce if you could repost that as a [Discussion](https://github.com/avajs/ava/discussions) that would be more appropriate. Happy to explore this with you.

[2021-02-17 10:39] dnlup commented on #1428
👋🏻 @novemberborn

I have worked on this issue, and I should have something ready to review by next week. I have not used a pooled approach, to keep things more similar to the current strategy.

[2021-02-17 18:18] maikelmclauflin opened #2691 "globalThis not defined"
Please provide details about:

* What you're trying to do
* What happened
* What you expected to happen

On node v11.15, I am trying to run basic tests after adding a package, but I got the subsequent error. I expected the tests to at least start to run but I was not even able to add a require to add the shim. I was able to update standard and get rid of the problem, as their [changelog](https://g

[2021-02-18 08:54] novemberborn commented on #2691
I don't see how this is related to AVA. We really try to not modify the environment.

Beyond that, Node.js 11 is not supported. I feel for you being stuck with those versions, but we're not in a position to help, sorry.

[2021-02-18 08:54] #2691 closed

[2021-02-19 14:08] shellscape commented on #2285
@novemberborn apologies it took me a bit to circle back to this. the proposed solution looks solid, thank you for working on that. what are the next steps that are needed?

[2021-02-19 14:21] novemberborn commented on #2285
No worries.

"Making it so", as it were 😄

The `main` branch is now developing for AVA 4 so the experiment notes are now irrelevant.

[2021-02-20 01:25] ianstormtaylor opened #2693 "TypeScript instructions don't work?"
Based on the TypeScript instructions getting AVA working with TypeScript at runtime should be just installing `ts-node` and `typescript` and then adding configuration:

[code]

But this results in errors for the `import` syntax:

[code]

Might there need to be more done as part of the configuration that isn't documented?

[2021-02-20 07:20] fregante commented on #2693
As far as I know, TypeScript + ESM support is not here yet. `ts-node` should support ESM via `ts-node/esm` as described here: https://github.com/TypeStrong/ts-node/issues/935#issuecomment-769608744

… but I don't see how to use that `--loader` node flag because AVA’s `require` option obviously tries to `require` that and it fails with:

[code]

[2021-02-20 07:25] fregante commented on #2593
I think the configuration above needs to be paired with a `tsconfig.json` containing:

[code]

Still working on it though...

[2021-02-20 19:48] fregante commented on #2593
I can confirm that the first configuration works, as long as it's paired with:

[code]

and

[code]

[2021-02-20 20:55] izelnakri commented on #2611
Hi @novemberborn just came across this issue, as I was going to create a similar one.

First of all, currently there is a massive open source activity happening on github since most people are at home, so excuse me if my response just adds to this friction, drains your or other maintainers mental battery :D I just want to share some thoughts.

I'd really appreciate it if eventually ava moves to TA

[2021-02-21 09:32] novemberborn commented on #2693
@ianstormtaylor #2593 provides the solution, somebody just needs to turn it into a PR.

Alternatively if you want to avoid `ts-node`, https://github.com/avajs/typescript/issues/5 is about updating our TypeScript provider to support ESM.

[2021-02-21 09:32] #2693 closed

[2021-02-21 09:35] novemberborn commented on #2611
@izelnakri,

AVA has a TAP reporter. `--tap`.

My impression is that TAP is an older format which doesn't have well defined ways of communicating things like our diff structure. Hence my desire to have an intermediate format which represents AVA's capabilities, which can then be transformed by third-party programs into other formats with lower fidelity.

Consequently AVA's default output won't be

[2021-02-21 16:34] izelnakri commented on #2611
Yes Im aware, and was still suggesting that we use TAP as default without tag and separate the reporter code/logic/dependencies from the main `ava` package :)

I'd like to know what specific data structure we use that would be a challenge in TAP format. Here is an output that is TAP conforming:

[code]

When we return a error yaml format, the output doesnt seem to be specified in TAP indeed, this

[2021-02-21 23:57] JerryGreen opened #2695 "TypeScript and ts-node: __dirname is not defined"
I read the following [TypeScript recipe](https://github.com/avajs/ava/blob/main/docs/recipes/typescript.md), but I have scripts that I import can't access `__dirname` when I run it from tests (they can)

I have the following `ava.config.js`:

[code]

And also in my `package.json`:

[code]

I have the simplest test with an import:

[code]

And my `index.ts`:

[code]

But `ava` throws an error while

[2021-02-22 06:26] sindresorhus commented on #2695
`__dirname` is not available for ESM.

https://nodejs.org/api/esm.html#esm_no_filename_or_dirname

[2021-02-22 09:01] JerryGreen commented on #2695
Oh, my bad. That solved the issue:

`__dirname + '/build/optimized.wasm'` => `new URL('build/optimized.wasm', import.meta.url)`

Not it works, thanks!

[2021-02-22 09:01] #2695 closed

[2021-02-22 09:28] novemberborn commented on #2611
That YAML format is unspecified. It's fine for YAML compatible primitives but not for bigints, symbols or object structures. If AVA is going to emit proprietary formats, we may as well go all the way, have a high-fidelity format, and downsample to things like TAP using a separate processor.

[2021-02-22 14:54] mesqueeb opened #2697 "ava has no default export."
Please provide details about:

* What you're trying to do

Based on a recent blog post of Sindresorhus I'm trying to convert my most low level npm package to node 12.
I changed the package.json to
[code]

* What happened

Ever since this I cannot execute Ava tests. I get this error:

* What you expected to happen

No error.

Here is my repo:

https://github.com/mesqueeb/is-what/tree/esm

See the e

[2021-02-23 19:47] izelnakri commented on #2611
👍 Sounds good. My remaining suggestion is to also move the reporter code to another npm library that can process it from tap on cli execution and hold the logic importable as js inside the package. Thanks again for your responses & considerations!

[2021-02-24 08:53] #2697 closed

[2021-02-26 08:31] jakobrosenberg commented on #2061
A delay option like Rollup's `buildDelay`, could help prevent multiple triggers when multiple files are output to a dist folder.

[2021-03-01 10:02] Danon commented on #1094
@novemberborn Where do we stand on adding custom assertions to `t`, or making `t.true(almostEqual()` point to the assertion, not `t.true`? Both of these are fine for me, but does any of it work now? :)

[2021-03-01 15:23] novemberborn commented on #2061
@jakobrosenberg is this a problem you're encountering?

[2021-03-01 15:27] novemberborn commented on #1094
Nowhere near starting, let alone shipping.

I don't see how that would be possible?

[2021-03-02 12:15] jakobrosenberg commented on #2061
@novemberborn, yes. especially for projects where dist files are written by different async functions.

An even better option would be something like, `diskIdle: 200`. This would take into account async file writes and sequential build steps like recreating a serviceworker manifest from the content of a `dist` folder.

[2021-03-03 09:36] cakoose commented on #2385
I have a data structure that efficiently maintains a set of ranges.  To test it, I instantiate a simpler/dumber implementation along with the real implementation, perform a bunch of random operations to both, and then check that they end up the same.

When a test fails, I usually add additional logging to figure out what lead to the failure.

With Ava's current behavior, it's way too hard to figur

[2021-03-05 14:26] djake commented on #2605
`NODE_ENV` is set to `test` when running tests but not set when running a shared worker.

I'm a little torn on what I think the behavior should be, though as a baseline suggestion I think the behavior should be documented.

It seems like maybe the default should be NODE_ENV="test" for consistency, but whatever the default, I think this should be customizable (without having to write to process.env

[2021-03-07 14:41] novemberborn commented on #2061
@jakobrosenberg let's discuss here: https://github.com/avajs/ava/discussions/2702

[2021-03-07 14:43] novemberborn commented on #2385
@cakoose sounds like a use case `t.try()` is perfect for. If you want to discuss further let's move that conversation to https://github.com/avajs/ava/discussions.

[2021-03-07 14:45] #2605 closed

[2021-03-07 15:33] novemberborn commented on #2580
For #2456 I'm changing this to:

[code]

[2021-03-07 16:10] novemberborn commented on #2455
Merged in https://github.com/avajs/ava/pull/2696.

[2021-03-07 16:10] #2455 closed

[2021-03-07 16:32] #2456 closed

[2021-03-07 16:32] #2580 closed

[2021-03-07 17:56] #1428 closed

[2021-03-07 17:58] novemberborn commented on #1428
@dnlup if you submit your PR on IssueHunt (I'm not entirely sure how) there's 270 USD waiting for you 😉

[2021-03-07 18:00] novemberborn opened #2705 "Restrict shared workers to only work when tests are executing in worker threads"
Now that https://github.com/avajs/ava/pull/2690 has landed, we should update our shared worker implementation to only work when worker threads are used. It'll be faster, since the shared worker can talk directly to the test worker; we can transfer array buffers and even use shared memory.

[2021-03-07 18:00] novemberborn commented on #2705
@dnlup maybe you'd be interested in this one? 😉

[2021-03-07 18:03] dnlup commented on #1428
😄 I did submit it, maybe I have to submit it again?

[2021-03-07 18:11] dnlup commented on #2705
What strategy should we implement?

* ignoring plugins altogether and just run tests
* print a warning
* fail/throw an error

[2021-03-07 18:13] novemberborn commented on #2705
Ah yes. Let's throw an error, like we already do when there is a version mismatch:

https://github.com/avajs/ava/blob/0e5cc7dc2b1512d0abe9bfba57b26888eedea0cf/lib/worker/plugin.js#L86

[2021-03-07 18:23] dnlup commented on #2705
I'll try to work on it

[2021-03-07 18:27] novemberborn commented on #2705
Awesome!

In terms of shared memory, I was thinking of a chaining API like `.sharing(buffer1, buffer2).publish({buffer1, buffer2})`. That would work for `.broadcast()` as well.

When transferring memory that isn't sensible when broadcasting, so there could be a `.transferring(buffer1, buffer2).publish({buffer1, buffer2})` API.

See:

https://github.com/avajs/ava/blob/0e5cc7dc2b1512d0abe9bfba57b268

[2021-03-07 18:35] dnlup commented on #2705
I'll see if I can put something together. I have to document myself a bit about shared memory 😉

[2021-03-08 02:35] Qix- commented on #1428
Incredible work here, thank you @dnlup.

---

I can't tell who, but `<del>` tags have magically appeared in the OP post here, and I'm not sure who did that. I don't use those tags (didn't even know they existed) so it certainly wasn't me.

Can we please not get in the habit of doing that? I didn't write all that just for it to be strike-through'd, and it's quite annoying to have someone else manha

[2021-03-08 09:12] novemberborn commented on #1428
I can't tell from the edit history either, very strange. I've removed them.

[2021-03-08 09:15] dnlup commented on #1428
thank you @Qix-

[2021-03-08 18:31] GentileFulvio commented on #1532
Why was this closed if I may ask ? Is there already a way to defined an order in which the test files should run ?

[2021-03-09 08:26] novemberborn commented on #1532
@GentileFulvio this is a rather old issue. Perhaps you could post your question anew in our [Discussions](https://github.com/avajs/ava/discussions) section?

[2021-03-11 13:37] dnlup commented on #2705
Is the sharing/transferring memory operation stateful? Like, once called, should the memory be stored in the object (so only a single call to `sharing`/`transfering` is necessary) or has it to be coupled just with the single `publish` operation?

[2021-03-11 14:03] novemberborn commented on #2705
Regular array buffers can only be transferred once. Shared array buffers can be shared multiple times.

I might be overthinking it, we're really exposing https://nodejs.org/api/worker_threads.html#worker_threads_port_postmessage_value_transferlist but it'd be easier to communicate the restrictions through a chaining based API.

[2021-03-13 15:27] novemberborn opened #2715 "Make watch mode wait for the file system to be idle, and have that be configurable"
Based on discussion in https://github.com/avajs/ava/discussions/2702, projects with more complicated build setups may want to configure how long watch mode waits for the filesystem to become idle, lest it runs tests prematurely.

We currently wait [at least 100ms, but debounce for another 10ms](https://github.com/avajs/ava/blob/a0791529c18394d92224232cf9d1696426ada505/lib/watcher.js#L19-L20) after

[2021-03-13 16:21] #2634 closed

[2021-03-13 16:21] #2635 closed

[2021-03-13 17:02] novemberborn opened #2716 "Breaking changes to the test interface for AVA 4"
See https://github.com/avajs/ava/pull/2435. This will improve context typing and simplify usage.

* [x] Add `test.macro(exec)` and `test.macro({exec, title})`. This will return a `test.Macro` instance which can be passed to `test()`
* [x] Remove ability to pass an array of macros or implementations to `test()`
* [x] Fix the typing of test implementations (or macro executors) to allow promise-retur

[2021-03-14 07:50] #2387 closed

[2021-03-14 10:13] gavinpc-mindgrub commented on #2624
For reference, see also https://github.com/avajs/ava/issues/1485

[2021-03-14 17:19] Filyus opened #2719 "Magic assert doesn't seem to work with "type": "module""
Just add `"type": "module"` to **package.json** and run the failing test in ES-module, you don't see any code in the logs. I don't want to install something like Babel.
ava 3.15.0
Node 12.20.0

test.js:
[code]
log:
[code]

Related: https://github.com/avajs/ava/issues/2293

[2021-03-14 18:49] #1546 closed

[2021-03-16 13:44] novemberborn commented on #2719
It strikes me that the path is `file:///test.js` which implies the test file was at your file system's root. That seems odd. Assuming the file does not actually live there, this is probably the error.

I haven't had a chance yet to try and reproduce this but it's on my radar.

[2021-03-20 17:38] MatthiasKunnen opened #2722 "Report does not contain a reference to the location of the test when using macros"
When using a macro, the failure report does not include a line number that could be used to navigate to the test.

Example of the report:

[code]

Reproduction: <https://github.com/MatthiasKunnen/ava-line-number-reproduction>.
AVA version: 3.15.0.
AVA configuration: See repo.

**Proposal**
Capture the line number when `test` is invoked and either add it to the stack trace or add it above the diff,

[2021-03-21 16:36] novemberborn commented on #1934
This will be available in AVA 4.

[2021-03-21 16:36] #1934 closed

[2021-03-21 16:39] novemberborn commented on #2722
I believe this is a known issue, or at least I'm not surprised by it, but I can't immediately find an existing issue for this either.

I believe we try to find the line where the assertion was called. But that must be within the test file. It would be interesting to find the first line from the test file and provide context for that.

[2021-03-21 16:44] MatthiasKunnen commented on #2722
I'll have a look and see if I can add the filename to the stack trace. In which file would you like me to add tests regarding this?

[2021-03-21 16:46] novemberborn commented on #2722
The laziest answer would be the reporter tests, but they're not easy to maintain.

The harder answer is a new self-hosted test in `test/`, using internal access to the raw result data. But you'll have to do some digging around for that (or leave it to me).

[2021-03-21 16:47] MatthiasKunnen commented on #2722
I'll take a stab at it ;)

[2021-03-25 18:54] ollydixon opened #2726 "Switching from module import to .test.ts causes processTicksAndRejections"
Node v15.11.0
Using Supertest
TypeScript
M1 Macbook Pro

I was importing the modules into the test.ts and it was working fine.

I decided to use [test-name].test.ts and I started getting this error:

[code]

I found that the temporary fix was ```-concurrency 1``` but that makes it super slow.

My AVA config is as such

[code]
Not sure what the fix is here; to do it 'properly'. I will need to impor

[2021-03-27 15:12] #2726 closed

[2021-03-28 17:34] #2671 closed

[2021-03-30 07:36] stefanpl commented on #2384
Any news on this? @novemberborn @csvn ?

I'd be willing to draft a PR if nobody is on it yet. But honestly I still don't grok the reason behind the current implementation. Like [the docs](https://github.com/avajs/ava/blob/main/docs/07-test-timeouts.md) say, "Timeouts in AVA behave differently than in other test frameworks." – and I fail to understand why that's desirable.

To me:
- Having a test f

[2021-03-30 08:50] novemberborn commented on #2384
@stefanpl the solution outlined in https://github.com/avajs/ava/issues/2384#issuecomment-579678760 addresses your concerns. PR still welcome.

I don't think hard timeouts are necessary for most use cases. Test performance is easily influenced by the load on the executing machine.

[2021-04-02 05:55] ninevra opened #2730 "no-ignored-test-files hangs with ava@4.0.0-alpha.1"
With `ava@4.0.0-alpha.1` installed, running the `no-ignored-test-files` rule on any AVA test file causes `eslint` to hang indefinitely.

With `ava@3.x`, or with `"no-ignored-test-files": "off"`, everything's fine.

[Minimal reproducible example.](https://github.com/ninevra/ava-next-eslint-hangs-mre)

[2021-04-02 13:34] cancerberoSgx commented on #2376
Just in case, if you are not using babel, removing `compileEnhancements` in the config will do the trick when upgrading to ava 3

[2021-04-02 15:34] #2730 closed

[2021-04-06 05:43] aephemerial commented on #1666
Hello guys,
I'm a newbie around here and would like to know how can I do this app myself?
Thanks in advance!

[2021-04-06 14:53] #2705 closed

[2021-04-06 15:01] novemberborn opened #2733 "Enable value transfers in shared worker messages"
From #2705, when publishing shared worker messages, or replying to an individual message, we should enable values to be [transferred](https://nodejs.org/docs/latest-v12.x/api/worker_threads.html#worker_threads_port_postmessage_value_transferlist).

I don't think a second "transfer list" API is a good fit for the shared worker API. Perhaps we could add a chaining API like `.transferring(buffer1, me

[2021-04-06 15:01] novemberborn commented on #2733
@dnlup let me know if you're still interested in working on this 😄

[2021-04-06 15:17] novemberborn opened #2734 "Shared worker teardown"
Based on [this discussion](https://github.com/avajs/ava/discussions/2703#discussioncomment-567232) it'd be great to have a teardown method within the shared worker. E.g. after negotiating the protocol, you can call `.teardown()` to register a callback.

Under normal use, after a test run, AVA can explicitly message the shared workers to begin their teardown. They must then respond when complete. T

[2021-04-06 15:18] novemberborn commented on #2734
@timdp so I had a look, and this is quite involved. Let me know if you're still keen, or perhaps I should do some refactoring first so just the teardown work itself remains?

[2021-04-06 15:54] timdp commented on #2734
I'm of course eager to have the teardown behavior but it's not my decision. :wink: Like I said earlier, happy to contribute if at all possible.

[2021-04-06 16:22] novemberborn commented on #2730
@ninevra this is now out as Alpha 2.

[2021-04-07 07:24] dnlup commented on #2733
It is a nice challenge, but I am a little swamped atm. I hope to be able to get at it soon.

[2021-04-08 19:45] rgeraldporter commented on #2654
I had this issue as well in Ava 4. But was able to resolve it by making a minor adjustment to the default Vue example:

[code]

Note that `ts` was added to the hooks. You'll need this if you're using `lang="ts"` in your Vue component. The error is rather misleading, there is no file extension with `.ts` but the portion of the Vue file with TS is being turned into a `.ts` file under the hood.

[2021-04-11 03:19] ChrisBrownie55 commented on #2539
@feljx's solution does seem to work. This should be the documented way of using AVA or we should find a way to fix this type definition issue.

I have found a solution to this. If we replace the following line in the `index.d.ts` file, everything works as expected; there are no issues and the type definitions work properly with a regular `require`.

[code]

However, I'm unaware of how AVA's type d

[2021-04-11 11:01] novemberborn commented on #2539
AVA 4 (prereleases available) now ships with an ESM entrypoint that uses `export default test`, and a CJS entrypoint that `module.exports = test`. I'm hoping that the `export default test` type definition works for both, I'm really not sure whether you can have separate types for the different module systems.

[2021-04-11 11:03] novemberborn commented on #2654
@rgeraldporter is that something that can be added to the recipe?

[2021-04-11 14:38] ChrisBrownie55 commented on #2539
@novemberborn `export default test` in a type definition `.d.ts` only works for ESM imports but `export = test` will work for both. Could we revisit the idea of using `export = test`. You can test this by creating the following type definition files and doing both `import` and `require`.

[code]

[code]

[code]

Now if you replace `export default test` in the above example with `export = test` the

[2021-04-11 14:42] ChrisBrownie55 commented on #2539
And @novemberborn you can have different types for different module systems I believe. Each entry point needs its own `.d.ts` file anyway as far as I know. However, it would seem that it would be easier to use only `export = test` than maintain two different `.d.ts` files for the same source code.

[2021-04-11 19:13] iambumblehead commented on #2293
@novemberborn would you consider adding support for a --loader option to the new ava?

In order to use this [esmock package,][0] for example, one uses something like this inside package.json
[code]

If a --loader option were supported something like this might work
[code]

[0]: https://github.com/iambumblehead/esmock

[2021-04-12 08:39] novemberborn commented on #2539
OK, I'll have a play with your examples and AVA itself. It's not something I've run into myself. Do you know if it's somehow related to the TypeScript config?

AVA 4 uses Node.js exports mapping, so it's transparent to the consumer. Use `require()` and you get the CJS entry point, use `import` and you get the ESM one. I don't know if TypeScript resolves that. Sounds complicated.

[2021-04-12 08:41] novemberborn commented on #2293
@iambumblehead as far as I know, loaders are still experimental: https://nodejs.org/api/esm.html#esm_loaders

When that changes we can consider how best to expose it in AVA.

[2021-04-13 22:45] ChrisBrownie55 commented on #2539
@novemberborn If you're referring to an individual project's TypeScript configuration, I don't think that is the issue because I didn't even have a TypeScript config for the above example. It could be related to how VSCode integrates with TypeScript for type checking related features perhaps, however, if that is the case, creating a fix in this repository would still benefit VSCode users while the

[2021-04-14 08:34] novemberborn commented on #2539
That's a great clue 😄

[2021-04-19 10:41] fisker opened #2735 "CLI sometime do nothing"
Sometime I run `npx ava foo.js`, the CLI don't do anything, just pass

[code]

Project: https://github.com/sindresorhus/eslint-plugin-unicorn

This happens a lot, I'm not sure how to reproduce, my system is windows 10. Node.js version seems doesn't mater.

[2021-04-19 10:45] sindresorhus commented on #2735
Are you sure it's a problem with AVA and not `npx`?

What AVA version?

[2021-04-19 10:55] fisker commented on #2735
Problem is I'm not sure what cause it... And sorry I didn't mention that it's not really doing nothing, it stuck for a while. Current version is `3.15.0`, but it happened before.

[2021-04-19 10:59] fisker commented on #2735
It also print timeout sometime

[code]

[2021-04-19 11:04] fisker commented on #2735
Another problem is it also ONLY run part of tests sometime, and I don't know what skipped. This really bothers me.

[2021-04-26 13:53] novemberborn commented on #2735
The multi-line output trips up the mini reporter a bit for me, to the point where I could see how the output may give the impression that nothing happened.

Timeouts and disappearance hint at the machine being stressed too much and IPC messages dropping. Reducing concurrency might help.

AVA 4 defaults to using worker threads, not child processes, which may also help.

[2021-04-26 13:53] #2735 closed

[2021-04-27 08:54] germanysources opened #2742 "Deno support"
It would be great, when `ava` can run deno (https://deno.land/) modules after ESM-modules are fully implemented. When testing a deno-project we could use all features (watch-mode, hooks, concurrency, snapshots).
My idea was to use deno as new runner-process and node for the surrounding (reporting, snapshots ...).

[2021-04-27 15:48] #2742 closed

[2021-04-27 19:50] erights opened #2744 "Unnecessary error in extractSource due to not checking for null"
The line at
https://github.com/avajs/ava/blob/e9a69dca44dadb545d4698fb7df5587da2787f7d/lib/serialize-error.js#L31
should be changed to
[code]
since the previous line
[code]
may, and sometimes does, initialize `callSite` to `null`. Once this is fixed, if the catch at
https://github.com/avajs/ava/blob/e9a69dca44dadb545d4698fb7df5587da2787f7d/lib/serialize-error.js#L39
was there only because of this

[2021-04-30 02:54] fredboyle opened #2745 "Option for `t.fail()` to not output stacktrace/failure report"
## Trying to

Remove stacktrace/failure report from AVA results ouput.

### Example code

[code]

### Output

[code]

### Goal

Suppress the output above.
I know that when using `t.fail()` the test will fail at that line.
I only need to know that the test failed, not where in the code in such cases.

[2021-04-30 08:44] #2745 closed

[2021-05-03 14:50] novemberborn commented on #2744
Thanks, that makes sense. I'll try and get this into the next release if nobody else beats me to it.

Looking at the commit history, the earlier logic checked for a falsy value so I assume the `catch` isn't needed with this guard.

[2021-05-06 05:45] Fem-Fem commented on #2744
Hi! Would it be possible for me to work on this?

[2021-05-06 08:33] novemberborn commented on #2744
@Fem-Fem that'd be great!

[2021-05-06 22:03] kylechadha opened #2749 "Ava needs to upgrade read-pkg to 6.x due to npm-audit advisory"
[code]
Ava 3.15.0 is locked to `read-pkg` ^5.20, which contains the subdependency `hosted-git-info`. This library has an npm advisory (https://www.npmjs.com/advisories/1677) and needs to be upgraded >= 3.0.8.

This can be resolved by using `read-pkg` 6.x.

[2021-05-07 01:46] Fem-Fem commented on #2744
Thanks! I have a PR here: https://github.com/avajs/ava/pull/2750

[2021-05-07 08:28] novemberborn commented on #2749
`read-pkg@6` is incompatible with AVA 3. You'll have to ask for a patch release [there](https://github.com/sindresorhus/read-pkg/tree/bfe8eb8232af1f1a32143387f909c5140a86e96d).

Looking at the advisory, AVA reads the `package.json` in the project being tested, and it's unlikely that would contain a URL that then leads to a denial of service in an AVA test run. If your policy allows you could ignor

[2021-05-07 21:13] kylechadha commented on #2749
Got it, thanks @novemberborn, that makes sense. Will close this ticket.

[2021-05-07 21:13] #2749 closed

[2021-05-09 18:35] #2744 closed

[2021-05-13 13:31] OhYash commented on #2384
Hey there, I came in after seeing the issue on Rysolv.

Seeing nobody else has announced of them picking this up, guess I'll give it a try.

As per my understanding after some local testing: Presently, `t.timeout(ms)` allows us to set up a smaller per-test timeout within the global timeout limit and not beyond it, we need it to allow longer than the global timeout.
I'm going through the code as I

[2021-05-14 15:10] novemberborn commented on #2384
@OhYash great! Let me know if I can help.

[2021-05-14 18:10] novemberborn commented on #2719
I suspect the problem is here: https://github.com/avajs/ava/blob/b8f5685ed5b828de884d0d72c988efe837058692/lib/serialize-error.js#L25-L34

I haven't tested it directly, but this came up in my work for #2741.

[2021-05-15 21:50] OhYash commented on #2384
Hey @novemberborn, gave it some more time today. I could use some help actually.

So, we have this [restartTimer debounce()](https://github.com/avajs/ava/blob/b8f5685ed5b828de884d0d72c988efe837058692/lib/api.js#L78) function that has the single delay to it, which emits state change upon the timeout and adds pending workers to [timedOutWorkerFiles](https://github.com/avajs/ava/blob/b8f5685ed5b828de

[2021-05-17 12:54] novemberborn commented on #2384
I think you'd have to add a callback or event emitter to `Test`.

`Runner` creates them, so can set it up:

* https://github.com/avajs/ava/blob/b8f5685ed5b828de884d0d72c988efe837058692/lib/runner.js#L278
* https://github.com/avajs/ava/blob/b8f5685ed5b828de884d0d72c988efe837058692/lib/runner.js#L330

`Runner` itself is an emitter, so you can forward the events to the main process / thread:

* https

[2021-05-26 11:16] andykais opened #2755 "SqliteError {} does not show message"
Please provide details about:

* What you're trying to do: run a test and view stack traces when things go wrong
* What happened: I received an unexpected error, but the error message was not shown.
* What you expected to happen: I expected to see the error message, which happens when most errors are thrown.

repro:
install the npm package `better-sqlite3`
run `npx ava test.js` with zero ava confi

[2021-05-26 11:18] andykais commented on #2755
I think I found the reason: https://github.com/JoshuaWise/better-sqlite3/blob/03f382a3ba1977feeb57ff1349c628b846d8b8b3/lib/sqlite-error.js#L2 (`enumerable: false`)

Is there a chance we can always look for a `.message` even on errors that are not enumerable?

[2021-05-26 20:59] OhYash commented on #2384
Hey @novemberborn, sorry for being so silent. Wasn't my intention to ghost away. Just got carried away in some stuff.

So regarding this, I've managed to get the individual timeout into `api.js, but I'm struggling to update the `wait` value in `debounce()`.
Having to resort to creating a fresh debounce() function when a `t.timeout()` is called doesn't seem correct.

Any way I can update the deboun

[2021-05-26 21:10] OhYash commented on #2384
Besides that I think I also see an issue, kinda unrelated. Tests can run asynchronously, but timers are synchronous.

For example: Forget about the `t.timeout()`; In this file one async test takes 6 secs to complete and the other takes 15. Now our test runner starts the first timer and runs both the tests so the second one has a head start before it's timer even starts.
| T | Event |
| -- | -- |
|

[2021-05-27 07:21] ollydixon opened #2756 "Tests won't run on Windows"
We have a set of standard tests. We even deleted them all down to what would be the AVA examples.

The tests are written in TypeScript with the extention ts, no tsx or jsx.

On Mac Big Sur it runs fine, no issues. (M1 Macbook Pro)
On Windows (multiple machines including one arm machine) it fails.

Running node v14.17.0.

Our config

[code]

Windows  ❌
<img width="566" alt="Screenshot 2021-05-27 at

[2021-05-27 07:27] ollydixon commented on #2494
Did you figure this out without pre-compiling? as we like to run with debugger :-D

[2021-05-27 08:42] novemberborn commented on #2755
I agreed it'd be useful to print the message. I'm not immediately sure why it isn't being printed.

[2021-05-27 08:44] novemberborn commented on #2384
@OhYash could you share a draft PR?

[2021-05-27 08:45] #2756 closed

[2021-05-27 11:49] OhYash commented on #2384
@novemberborn, Linked https://github.com/avajs/ava/pull/2758

[2021-05-27 13:02] andykais commented on #2755
@novemberborn its not printing the message because it assigns makes the `message` property not enumerable for some reason https://github.com/JoshuaWise/better-sqlite3/blob/03f382a3ba1977feeb57ff1349c628b846d8b8b3/lib/sqlite-error.js#L13. A property that is not enumerable is one that you dont see doing something like `Object.keys(sqliteError)`

[2021-05-27 13:16] tommarien commented on #222
@novemberborn Please include nest t.context albeit just a way to group tests with a group header ?

[2021-05-30 00:51] binhonglee commented on #2654
I just wanted to add to @rgeraldporter's comment. I wrote about specifically using Ava with Vue 2 + TypeScript (through babel) [here](https://binhong.me/blog/2021-05-22-ava-with-vue-typescript-and-nyc/). Happy to help if there's any additional question. I'm trying to figure out how to make them work with vue 3 though.

[2021-05-30 22:12] tsapko3628 opened #2759 "Support node es modules resolution"
Please provide details about:

* What you're trying to do
Run tsc (yarn tsc, yarn exec tsc, npx tsc, ./node_modules/.bin/tsc) with nodejs flag --experimental-specifier-resolution=node (NODE_OPTIONS="--experimental-specifier-resolution=node" tsc)
* What happened
[code]
* What you expected to happen
Build without errors

[minimal reproducible example](https://github.com/tsapko3628/Support-node-es-mo

[2021-05-30 22:17] tsapko3628 commented on #2759
Tested on node versions:
* 16.2
* 14.17.0
Tested on typescript versions:
* 4.3.2
* 4.1.2

[2021-05-30 22:20] tsapko3628 commented on #2759
I know than any code in node_modules/.bin/tsc not executing.
For example added jest package. Jest is running successfully.

[2021-05-30 23:14] tsapko3628 commented on #2759
missed repository for issue

[2021-05-30 23:14] #2759 closed

[2021-05-31 12:14] lovasoa commented on #2494
Did someone find a solution or a workaround for this issue ?

[2021-05-31 12:17] ollydixon commented on #2494
@lovasoa for our Windows developers they had to increase the timeout to 5m in the AVA config. Also; if the test has any errors in TS it will show this message; check your tests.

[2021-06-01 17:42] conartist6 commented on #2099
Why not just introduce a flag called, say, `--no-initial-snapshots` that refuses to create initial snapshots? Then tests which would otherwise result in the creation of a new snapshot would instead fail, which is the desirable behavior in CI and also does not involve any coupling to version control.

[2021-06-01 23:13] shellscape commented on #2245
Popping in to lend my 👍 to this one, and both the suggestions on the last reply.

[2021-06-06 06:42] Rana123-sors opened #2761 "I want to be disabled"
Please provide details about:

* What you're trying to do
* What happened
* What you expected to happen

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

We'll also need your AVA configuration (in `package.json` or `ava.config.*` configuration files) and how you're invoking AVA. Share

[2021-06-06 13:39] #2719 closed

[2021-06-06 15:35] novemberborn commented on #2670
Fixed in #2741.

[2021-06-06 15:35] #2670 closed

[2021-06-06 15:39] novemberborn commented on #2347
I believe this is now supported in AVA 4.

[2021-06-06 15:39] #2347 closed

[2021-06-06 15:42] novemberborn commented on #1378
I believe our current timeout logic is sufficient.

[2021-06-06 15:42] #1378 closed

[2021-06-06 15:46] novemberborn commented on #2636
@ninevra was this addressed in your refactor or does this remain outstanding?

[2021-06-06 15:53] novemberborn opened #2763 "Explore using `--enable-source-maps` flag"
See https://nodejs.medium.com/source-maps-in-node-js-482872b56116. This may allow us to remove any custom source map processing. We may need to add an option to override this behavior. See also #2474.

[2021-06-07 19:00] ninevra commented on #2636
At the time I didn't _think_ snapshots v3 addressed this, but looking at it again, I guess it did. The refactor allows using `skip()`s freely while updating snapshots, which means snapshot assertions should now always pass in `--update-snapshots` mode.

I've just quickly checked this both against the MRE and against the [code](https://github.com/avajs/ava/pull/2685/files#diff-e41924228a867ab0a0d86

[2021-06-07 19:00] #2636 closed

[2021-06-09 00:09] mikob commented on #2593
This doesn't work with default exports for me.

e.g.
[code]

prints:
`Visitor { default: [class Visitor] }`

@swc/core/Visitor looks like this:
[code]

[2021-06-09 07:43] novemberborn commented on #2593
@mikob that's a typical interoperability pattern to make CJS behave like ESM. However now that you're using actual ESM, it does not behave the way you expect. See https://nodejs.org/api/esm.html#esm_import_statements:

You *might* be able to `import { default as Visitor } from …` but `default` is a special member so that probably won't work.

[2021-06-11 20:01] alexslade commented on #2040
I think this might have regressed, I'm seeing this issue in v3.15.0. cc @novemberborn

[code]

(Node v14.4.0)

[2021-06-12 00:48] mikob commented on #2593
Tried that as well without success. In the end I reverted to using "esm" (https://github.com/standard-things/esm) in the "requires" property for ava.

[2021-06-12 03:10] unphased commented on #2373
I've found that the CLI provides zero useful feedback if you happen to name your test file `test.ts`, which was frustrating.

After some manual instrumentation of ` ava/lib/api.js` Line 121 It's not matched by whatever default glob stuff is happening. Specifically named files such as `test.ts` fall into a black hole. So I guess I will start naming such files `index.test.ts` from now on. Eagerly aw

[2021-06-13 09:33] jimmywarting opened #2767 "consider removing update-notifier?"
... to reduce dependencies

Considering all the kind of packages that is being installed for just getting update notification is not so much worth it IMO.
https://npm.anvaka.com/#/view/2d/update-notifier

quite a few have have dependa bot or similar in there workflow and use of ^, * and ~ to makes it less important
also every time a ci workflow happens it needs to download all this packages in vai

[2021-06-13 14:04] novemberborn commented on #2040
@alexslade any chance you can reproduce it in the latest v4 release?

[2021-06-13 14:04] novemberborn commented on #2593
That might paper over the cracks for now, yes. AVA 4 removes the special treatment for that package though.

[2021-06-13 14:08] #2767 closed

[2021-06-13 17:28] KillyMXI opened #2769 "Allow multiline snapshot label/message"
Relevant code:
https://github.com/avajs/ava/blob/a8c908e2ab9deccd3383b311d988a1e88ff3d189/lib/snapshot-manager.js#L96

I'd expect something like `label.split(/\n/).map(line => '> ' + line).join('\n')`.
Or an option "I would like to format it myself" (Don't insert blockquote or anything - I'll pass the formatted text instead.)

Why:
I'd love to have snapshot reports as human readable and illustrati

[2021-06-13 18:31] novemberborn commented on #2769
Official multiline support makes a lot of sense. Would you like to work on it?

Incidentally I think we may have a similar problem with test titles.

[2021-06-13 20:01] KillyMXI commented on #2769
Hmm. Test titles? Do you mean you put code examples into test titles? And how that supposed to be rendered in markdown? Currently it's just `##` headers.

I think I can work on this as long as we agree on the design and it wouldn't grow much in complexity. One design question I've outlined already - it's whether snapshot label/message should be put inside a blockquote or whether there can/should b

[2021-06-13 20:14] novemberborn commented on #2769
Sometimes test titles have new lines which break formatting in the snapshot reports. Those should probably be stripped so the title is on a single line, unless Markdown let's you hard-wrap headings.

For individual snapshots we should render multi line block quotes.

[2021-06-13 20:22] KillyMXI commented on #2769
Ah ok. Sanitizing titles makes sense. Although I wouldn't quite call it similar with this.

Gotcha on multi line block quotes.

[2021-06-14 08:50] novemberborn commented on #2769
You're right it's different, your suggestion just reminded me of it. Happy to tackle as a separate piece of work 😊

[2021-06-14 12:37] KillyMXI commented on #2769
I think `title.replace(/\s+/g, ' ')` might be a good way to sanitize the title. Unless I'm missing something and some whitespace characters have to be preserved.

What I find the most intimidating now is to find the right place where to put tests.
It looks to me that it will require new file(s) but it's not obvious to me where to put them.
Looks like `test` folder is the right one, but what would

[2021-06-15 08:43] novemberborn commented on #2769
`snapshot-tests` should be fine. The idea is to have a fixture under say `test/snapshot-tests/fixtures/formatting` that saves snapshots with various test titles and snapshot labels. You then run this fixture from a `test/snapshot-tests/formatting.js` file and use that to snapshot the snapshot report. See https://github.com/avajs/ava/blob/main/test/snapshot-order/randomness.js for an example.

It's

[2021-06-15 23:15] ninevra commented on #2769
This is sort of an accidental artifact of features being added over time; the first one(s) got subfolders named after the feature, presumably not anticipating there being quite this many tests, and then later ones followed the pattern. It's also awkward that `test/snapshots` is for storing snapshots for tests, not storing tests for snapshots >_<.

Personally I'd advocate relocating `snapshot-order

[2021-06-15 23:38] KillyMXI commented on #2769
House-keeping is certainly not in scope of this issue.

[2021-06-16 19:45] KillyMXI commented on #2769
Ok, after messing around with tests for a while I think I have it working, albeit with cjs/require rather than module/import inside fixtures.

Snapshot label is a pretty straightforward fix.
But test title raises another question:
What is the right point in the test lifecycle where the title should be sanitized...
Only fixing it in the report generator will mean extra whitespace will be present in

[2021-06-17 05:41] wfk007 opened #2770 "test runner applied a wired result"
Please provide details about:

* What you're trying to do：i'm trying to test a bool result
* What happened：the test runner shows me the result is `false`
* What you expected to happen：the result is `true` as it shows in `console.log`

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[

[2021-06-17 05:44] sindresorhus commented on #2770
A regex with the `g` flag is mutable and can return different result for each call.

https://stackoverflow.com/questions/1520800/why-does-a-regexp-with-global-flag-give-wrong-results

[2021-06-17 05:44] #2770 closed

[2021-06-17 05:46] wfk007 commented on #2770
thx very much！！！

[2021-06-17 12:20] KillyMXI commented on #2769
I made a PR #2773 with snapshot labels only for now.

[2021-06-18 22:21] richardeschloss commented on #2038
FWIW, if anyone is coming to this issue in 2021 and looking for a full ESM / babel-less solution (i.e., with `require.extensions` deprecated), here's an alternative solution that works for me:

1. Define a node-based css loader:
`./cssLoader.js`
[code]

2. Specify the loader in the ava config, supplying it as one of the `nodeArguments`:
`./ava.config.js`
[code]

[2021-06-19 18:07] novemberborn opened #2774 "Gracefully handle linebreaks in test titles"
If test titles include line breaks, the snapshot reports for those tests will look a bit weird since the formatting code does not handle them. Reporter output may be broken too.

Per discussion in https://github.com/avajs/ava/issues/2769#issuecomment-862664084 we could normalize whitespace in test titles at the point of declaration, which then impacts uniqueness checks, or we could do so when disp

[2021-06-19 18:08] novemberborn commented on #2769
@KillyMXI I've opened https://github.com/avajs/ava/issues/2774 to track the test title issue.

[2021-06-19 18:10] #2384 closed

[2021-06-19 18:16] #2769 closed

[2021-06-19 18:57] KillyMXI commented on #2774
Yep, it is definitely better to have normalized whitespace throughout the whole test lifetime.
And it is great we can afford some breakage and not waste effort on extra graceful migration of tests that got excessive whitespace before.

[2021-06-21 21:42] KillyMXI commented on #2774
Hmm. I may need the `beforeAndAfter` macro to ensure snap files have normalized titles.
Quick and dirty way - import it into `/test/snapshot-tests/formatting.js` from `../snapshot-workflow/helpers/macros.js`.
Other way - move it to `../helpers/` and only have helper macros there.
I prefer the former for this issue. The latter touches way too many files and falls into housekeeping domain.

And it l

[2021-06-24 23:48] Connor-Wood opened #2780 "Logs swallowed during test timeout/interrupt"
Existing writePendingTests is not too helpful when trying to figure out what went wrong in the test during these scenarios. You should print all logs accumulated if verbose is turned on.  Seems calling writeTestSummary before the existing code in each case would suffice

[2021-06-27 12:05] jonahsnider opened #2781 "Trailing slashes break directory matching"
Works:

[code]

Doesn't work:

[code]

See https://github.com/prettier/prettier/pull/11000 for similar issue

[2021-06-30 13:28] novemberborn commented on #2774
I think those are tested at https://github.com/avajs/ava/blob/main/test-tap/test-try-commit.js.

[2021-06-30 13:53] novemberborn commented on #2781
I agree that should work.

[2021-07-04 12:20] #2774 closed

[2021-07-05 13:19] novemberborn commented on #2716
This isn't really an issue since the fallback type is `void`, but having the `PromiseLike` and `Subscribable` types does help if you're ever tempted to write these by hand, within the implementation…

[2021-07-05 14:59] novemberborn commented on #2539
@andria-dev I can definitely reproduce this, but I don't think there's a solution.

[`export = test` should be used with `import test = require('ava')`](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require) which isn't great. You can't export any other types either.

With `export default test` and `const test = require('ava')` VSCode assumes the imported `test` is

[2021-07-05 15:17] novemberborn commented on #1861
I'm tentatively adding this to the 4.0 milestone, but I reckon it won't make it. We're removing our built-in React support in AVA 4 so we'd want something like this to continue supporting React projects.

See a stalled attempt in https://github.com/avajs/ava/pull/2428.

[2021-07-05 15:20] novemberborn commented on #2722
As mentioned in https://github.com/avajs/ava/pull/2723, https://github.com/avajs/ava/pull/2785 adds a `test.macro()` to declare macros, maybe we can special case the behavior for those objects.

[2021-07-05 15:28] novemberborn commented on #2298
FWIW this requires https://github.com/nodejs/node/issues/34797 which I think may have been introduced in 16.4.2, but has not been backported to 14 or 12.

[2021-07-10 13:41] #2189 closed

[2021-07-10 13:41] #2253 closed

[2021-07-10 13:41] #2716 closed

[2021-07-10 13:48] schickm commented on #672
@MaffooBristol better late than never...

If you want something that behaves like having watch mode enabled, but also can do tap reporting then you're going to need to use some other tooling to make that happen.  Here's my one liner (which requires having `fswatch` and `xargs` available:

[code]

fswatch pipes an event to xargs everytime a file in changed in src/.  Xargs then executes the specifie

[2021-07-15 13:06] kaelzhang commented on #2474
Any updates?

SourceMap problems never resolved in ava which drives people crazy

[2021-07-16 10:10] simonhaenisch commented on #2539
How about also adding `module.exports.test = test` so that we can alternatively import it as a named import, i. e.

[code]

?

[2021-07-23 22:44] fabiospampinato commented on #24
Hello there, for anybody interested in this I'm kind of rewriting ava for browser support: https://github.com/fabiospampinato/fava, the thing currently has **many** drawbacks compared to ava, but it's designed to work in the browser, so if you need that maybe give it a try, if you find issues with it I'll be happy to address them.

It's not quite the same as just running ava itself in the browser,

[2021-07-23 22:59] fabiospampinato commented on #222
If ava will ever run in a browser IMHO there groups would be pretty much a requirements, as if you have two asynchronous test suites you need to be able to group their tests somehow to get a clean output for each suite, tests can't be grouped automatically by file name there.

[2021-07-23 23:19] fabiospampinato commented on #1071
Kind of tangential and I'm biased on this, but it might be worth exploring replacing chokidar with [watcher](https://github.com/fabiospampinato/watcher), which could be more refined for what this library needs (native watching under windows, much better handling of EMFILE errors, rename detection...).

[2021-07-24 19:23] Basssiiie opened #2793 "Ava test output adds 's' to filenames"
(Minor issue)

Hello,

When I have, for example, two test files called `math.tests.ts` and `array.tests.ts`, AVA renames them to `maths.ts` and `arrays.ts` in the terminal output.

Image:
![image](https://user-images.githubusercontent.com/20048660/126879114-613603a1-ebf1-487a-8727-8b850c75e47d.png)

I'm guessing it tries to remove the word `test` along with the 2 dots, but fails to remove the `s`

[2021-07-25 17:34] novemberborn commented on #2793
I think I made some changes that are in `main`, but I'll have a look.

[2021-07-27 19:09] iambumblehead commented on #2388
feel free to ignore me, --I'd like to mention this package I released and use https://www.npmjs.com/package/resolvewithplus

perhaps you could use this package or something like it. It was originally written for CJS modules but successfully resolves MJS modules as well.
[code]

the single-file used by the package https://github.com/iambumblehead/resolvewithplus/blob/master/src/resolvewithplus.js

[2021-08-01 08:20] dmitrysurkin opened #2796 "How to generate a report?"
Hello. After the tests are complete, how do I get the failed test files?

Is it possible to generate a report file?

[2021-08-04 15:43] Michael55555 commented on #2522
Can we close this issue, since we've merged #2573?

[2021-08-05 07:25] jiby-gh commented on #2719
@novemberborn not sure if it is fixed by #2741. I encountered the same issue today and tried with the master branch. The issue is still reproducible. Same setup as @Filyus, `"type": "module"` in package.json and everything as es modules.
![image](https://user-images.githubusercontent.com/52130524/128309099-48bb7514-a335-42ed-9460-7f8007e51fbb.png)

[2021-08-05 07:43] jiby-gh commented on #2719
hmm maybe it's because of the source maps, the files are compiled from typescript and the source maps point to `.ts` files.

![image](https://user-images.githubusercontent.com/52130524/128311584-0f918feb-b081-414b-820a-8d77e9faccfd.png)

[2021-08-05 07:46] jiby-gh commented on #2719
well, forgive my ignorance @novemberborn. Just found out that I would need additional configuration to work with precompiled typescript.

[2021-08-05 08:46] jiby-gh commented on #2719
unfortunately, es modules do not work with the `@ava/typescript` yet.

I was curious though. My setup has IDE watchers that auto compile the typescript to javascript in the same folder on change. This was a nice setup for me because I can use these auto transpiled codebase directly as the artifact without needing a bundle (at least in dev). I expected the same to work for `avajs` such that I just

[2021-08-05 14:52] #2796 closed

[2021-08-05 14:53] #2522 closed

[2021-08-07 14:27] andykais opened #2801 "ava assertions do not halt test"
I wrote a test and was confused because despite ava telling me there was a failure at a particular assertion, the test kept execution. I would have expected the test to short circuit at a failed assertion and throw an error. Instead, it seems to just continue and record that a failure happened somewhere. I dont know if this is expected behavior or a bug. If it is expected, please tell me how to di

[2021-08-07 14:44] novemberborn commented on #2719
If you're game @jiby-gh, it shouldn't be too hard to implement, see https://github.com/avajs/typescript/issues/5#issuecomment-894663356.

I don't quite follow, sorry. What is your suggestion?

[2021-08-07 14:49] novemberborn commented on #2801
This is by design. Ultimately we want to report all failed assertions, not just the first one. It shouldn't typically be an issue but this behavior can be surprising when you first encounter it.

AVA 4 updates some assertions to return booleans, for those use cases (e.g. to help with type narrowing when using TypeScript) where it's helpful not to continue.

[2021-08-07 14:49] #2801 closed

[2021-08-07 15:23] andykais commented on #2801
I dont think I can use ava if this is by design :disappointed:. If this behavior were opt-in or even opt-out, then I could manage. The way I write all my tests though is assuming the previous line succeeded. Adding if statements all over tests is going to be too arduous and verbose

[2021-08-07 20:41] novemberborn commented on #2801
Of course, I do the same. It's probably only some specific use cases where executing assertions conditionally is useful.

However I find that when you have a series of assertions it doesn't really matter whether the test tries to run a few more. Are you doing something more complicated in the test that it really matters for execution to stop?

[2021-08-09 16:55] andykais commented on #2801
I'll admit this poses a question I haven't given a lot of thought to. I would say conversely though, is there. any use in continuing to execute a test after a failure has occurred? I guess it helps with testing unexpected states.

The big reasons I think of are that my library does a lot of io which takes time. It also uses typescript, which adds to the setup time. When I run `ava test.ts --watch`

[2021-08-10 13:26] panjiesw commented on #2040
@novemberborn encountered the same issue with `v3.15.0`, upgraded to `v4.0.0-alpha2` and the issue is still there. Will provide more reproducible case later, just want to report it for now.

[2021-08-11 21:10] angeloashmore opened #2805 "Freshly generated snapshot is corrupt"
Hi there!

AVA reports the the following error when using snapshots. The snapshot has been freshly generated locally and pushed to GitHub to run in an GitHub Actions workflow.

[code]

This error only appears when running within GitHub Actions. The test passes locally.

Any idea what could cause a corrupted snapshot to be generated?

Relevant files and tests:

- **Test**: https://github.com/prismi

[2021-08-12 12:01] novemberborn opened #2806 "Change throws assertions to return undefined, not null, when the assertion fails"
Per https://github.com/avajs/ava/pull/2785#issuecomment-897162682.

[2021-08-12 12:03] novemberborn commented on #2805
That's strange!

The snapshot format has changed in AVA 4 (in pre-release). Do you think you could give that a go? Perhaps the problem goes away… see https://github.com/avajs/ava/releases/tag/v4.0.0-alpha.2 and https://github.com/avajs/ava/releases/tag/v4.0.0-alpha.1.

[2021-08-12 22:57] angeloashmore commented on #2805
@novemberborn Thanks for the suggestion. I wasn't aware there was a AVA 4 pre-release.

Unfortunately, the same error occurs. This PR updates the previously linked test to AVA 4 with new snapshots: https://github.com/prismicio/prismic-mock/pull/1

I can get around this by not using snapshots for those tests so it's not blocking me. I'm happy to help diagnose the issue, however. Thank you!

[2021-08-12 23:00] angeloashmore commented on #2805
In case it is relevant, here is my local system info where tests pass:

[code]

[2021-08-13 14:04] Basssiiie commented on #2643
@novemberborn out of curiosity, may I ask why this design was chosen? Why would someone want to test for either negative or positive zero? Thank you for your time.

[2021-08-14 03:23] SephReed commented on #1616
I can not for the life of me get this to work on files hidden in subfolders.

[code]

[2021-08-14 10:18] lydell opened #2808 "Inline snapshots?"
Jest has [inline snapshots](https://jestjs.io/docs/snapshot-testing#inline-snapshots). I quite like them for testing strings, such as error messages and CLI output.

- I can just write `expect(errorMessage).toMatchInlineSnapshot()`. No fiddly copy-pasting and manual typing of the expected value.
- Jest automatically fills in the actual value inside the `()`.
- I look at the filled in value if it l

[2021-08-17 10:23] jcubic opened #2811 "Adding Iterator to nested objects data type break Snapshots"
### Discussed in https://github.com/avajs/ava/discussions/2810

<div type='discussions-op-text'>

<sup>Originally posted by **jcubic** August 17, 2021</sup>
I have a project that uses linked lists (class Pair that have car and cdr as part of my lisp interpreter). Those pairs create nested objects structures and I'm comparing that object structure with a snapshot.

Recently I've added this snippet

[2021-08-20 18:27] schmod opened #2815 "Feature request: Custom snapshot serialization"
Would it be possible for Ava to implement some sort of mechanism for us to (globally or per-test) specify how snapshots should be serialized and stored?

Our APIs use Luxon extensively for handling dates/times.  Unfortunately, Ava serializes the _entire_ Luxon object when we attempt to snapshot an object that contains a Luxon `DateTime` value.

Excerpt from a snapshot:
[code]

Ideally, it'd be nic

[2021-08-22 16:20] novemberborn commented on #2643
@Basssiiie IIRC, it's because we rely on `Object.is` (see above). And that differentiates. The values *are* technically different and we didn't want to make an exception if the language doesn't.

[2021-08-22 16:21] #2808 closed

[2021-08-22 17:58] #2806 closed

[2021-08-22 17:59] #2815 closed

[2021-08-22 18:39] novemberborn commented on #2811
Snapshots are serialized and compared using https://github.com/concordancejs/concordance/. This does perform iteration.

`t.deepEqual()` uses the same algorithm (though with some practical differences due to serialization constraints). Does it show the same problem when you compare two lists? (Don't compare the exact same object since it'll short-circuit.)

`cbor` and such merely encode the serial

[2021-08-22 19:12] novemberborn commented on #2805
Hey @angeloashmore I haven't had a chance yet to look into this further.

[2021-08-22 19:14] angeloashmore commented on #2805
@novemberborn Not a problem! I really appreciate you following up.

[2021-08-22 22:10] jcubic commented on #2811
Will check my simple example with concordance and see if the iterator makes the difference.

[2021-08-22 22:44] jcubic commented on #2811
Something happens that I don't understand. I wanted to check the tests that were skipped. I've run them and everything is fine.
The snapshot was not modified (at least `test.js.md` file).

[2021-08-24 21:52] jcubic commented on #2811
@novemberborn I've just found that the test passes but ava updated the snapshots files even that I didn't tell it to do so. Can you explain what is happening why it modify the snapshot files, it was breaking and not the tests pass but only because it updated the snapshots.

[2021-08-25 08:47] novemberborn commented on #2811
@jcubic that will be hard retroactively, unless you have both states recorded in different commits.

If AVA is happy now, without it updating snapshots, then it should be fine, right?

[2021-08-25 08:55] jcubic commented on #2811
I can commit a new snapshot on a branch. I was mainly asking if there is a case when AVA is updating the snapshot and ignore the options. It should throw error that snapshots don't match and not update the snapshot. Unless there is some mechanism for fixing the snapshot if it's broken. Because it should never update the snapshot unless there is a special condition in the code.

[2021-08-25 08:57] novemberborn commented on #2811
I agree it shouldn't update a failing snapshot assertion. There are other conditions though under which it adds new snapshots. What happened here is hard to determine without having a before and after.

[2021-08-25 10:35] jcubic commented on #2811
It will take more time because it seems that the snapshot got removed when I disable the tests with `test.skip`, because there is no diff, all new data is added. Will check in git History to get the old snapshot and see the difference.

[2021-09-01 14:12] TomerAberbach commented on #2414
I went ahead and published [pava](https://github.com/TomerAberbach/pava), which provides a simple utility for writing parameterized tests in ava!

[2021-09-02 21:53] IgnusG commented on #1957
So after a long and furious battle I got it all working (power assert, source maps and code excerpt) together with typescript (ts-node/esm) by monkey patching ava and ts-node at the right places using `patch-package` for convenience.

![image](https://user-images.githubusercontent.com/6438760/131921188-b143e14b-d786-40ed-bd02-b79c410fc31b.png)

Here are the patches I'm using:
- https://gist.github

[2021-09-02 22:02] jcubic commented on #2811
I'm reopening I think I've forgotten. This is still an issue that needs to be investigated.

[2021-09-03 13:11] IgnusG opened #2821 "Stale "Tests with previous failures not run" when changing source file"
I noticed that changing the source file sometimes leads to ava reporting a "1 previous failure in test files that were not rerun" even though the tests testing that file already passed. This message is a bit confusing since the test actually **was** rerun and passed.

I saw that the relevant line that "prunes" the failures is https://github.com/avajs/ava/blob/9cedc9770d5ac2a75c88f7f3b81c263c889893

[2021-09-03 20:08] KillyMXI opened #2822 "Unhealthy dependency - `trim-off-newlines`"
I've got a security warning on my projects. Turns out it's [trim-off-newlines](https://github.com/stevemao/trim-off-newlines) package and it only gets into my node_modules via ava dependencies.

- the issue: <https://github.com/stevemao/trim-off-newlines/issues/2> (16 days without an action to this moment), <https://snyk.io/vuln/SNYK-JS-TRIMOFFNEWLINES-1296850>;
- the package is practically an one

[2021-09-09 10:37] novemberborn commented on #2822
These regular expression denial of service vulnerabilities are only vulnerabilities if you're passing external strings into the regular expressions.

That's not the case with AVA. Maybe the test run a little slower, but I doubt that.

A PR is in progress to implement this within AVA itself, see #2825. That'll be included in AVA 4.

I recommend marking your project as not vulnerable to this CVE.

[2021-09-09 10:37] #2822 closed

[2021-09-09 11:27] KillyMXI commented on #2822
I do realize this falls into the common category of issues not exploitable in dev tools.
I'm also in the camp of those who think issues like this are easier to fix once than being an annoyance for countless number of people. It makes better optics for the project.
It is bad issues like this propagate mindlessly but if these is a single point to stop the propagation then why not to use it.

I'm unh

[2021-09-12 13:57] novemberborn commented on #2414
@TomerAberbach nice, you should add it to https://github.com/avajs/awesome-ava!

[2021-09-12 14:34] novemberborn commented on #2040
@panjiesw is it the same as https://github.com/avajs/ava/issues/2821?

[2021-09-12 15:53] novemberborn commented on #2805
@angeloashmore sorry for the wait.

I couldn't actually run the tests from https://github.com/prismicio/prismic-mock/pull/1 but I copied a snapshot file into a separate project and set things up so AVA would load it.

AVA snapshots start with some readable text, followed by a version number, followed by a SHA256 checksum of the rest of the file. This checksum is corrupted.

This is how the checksu

[2021-09-12 15:54] #2805 closed

[2021-09-12 16:08] novemberborn commented on #2811
Aha! AVA 3 doesn't let you save snapshots when skipping tests. AVA 4 is better with this, so you could give that a try (`npm i -D ava@next`).

[2021-09-12 16:45] jcubic commented on #2811
Thanks for the update, will check with the current code. I've had few skipped tests I've added them when I've found that Ava has this feature, it looks better in logs if you see that there are disabled tests (they are not yet working, added before implementation), previously I was using a dummy function, I think it was `test_` that does nothing.

I Will let you know if removing skipped tests allow

[2021-09-12 18:58] novemberborn commented on #2811
You can use `test.failing()` for those. The suite will pass as long as the tests are failing, but when they start to pass, you need to remove `.failing()`.

[2021-09-13 08:41] fregante commented on #2593
Node 16.10 or later will break the ESM loader, not sure if this affects this recipe.

- https://github.com/TypeStrong/ts-node/issues/1007#issuecomment-917677011

[2021-09-13 12:02] panjiesw commented on #2040
@novemberborn yup, seems like the same issue

[2021-09-13 14:13] bobthekingofegypt commented on #2040
@panjiesw Do you mind saying which editor and OS you are using?

I had a quick look at this but I don't think its a regression from the original issue I fixed, which was to do with absolute and relative paths.

I can recreate this issue being described occasionally, it happens because vim sometimes writes a temp file called 4913 (to see if it has write permissions on the directory) and then delete

[2021-09-13 14:51] vladimiry commented on #2822
It's not just about being actually affected but about the ava's consumer-like project's workflow that might get nuked by security audit warnings. The workflow of some projects simply doesn't alloy known security warnings to present. In my experience normally the issues like this get handled relatively quickly upstream and only very rarely the manual exclusion/patching/effort is required. Unfortuna

[2021-09-13 19:25] jcubic commented on #2811
I've updated the snapshot in my project https://github.com/jcubic/lips/commit/5b82bd1b6045746db552dca3ac40cc7e460e5343

I can also try to create basic reproduction using my original code in the issue if don't know what is the difference.

I don't understand the diff at all. Maybe after adding iterator somehow, the snapshots got reordered, I'm not sure if they are the same snapshots but updated.

L

[2021-09-13 19:33] jcubic commented on #2811
Also, I think that the data appear twice in the snapshot. in the FIrst snapshot that is a representation of:

[code]

lambda appears twice in the snapshot in diff.

[2021-09-13 20:29] jcubic commented on #2811
I've tried for an hour to run concordance to see what is the output. But I'm not able to run the thing. All I have is:
[code]

I've tried to run this code:

[code]

I have no idea how to use the concordance library.

[2021-09-14 08:29] novemberborn commented on #2811
I'd appreciate a smaller reproduction.

The `concordance-options` module needs to resolve the color settings to decide how to do formatting. IIRC it's optional, or pass `{}`, or perhaps `{maxDepth: Infinity}`.

It may be more useful to log the formatted data: `console.log(concordance.format(data))`.

(I haven't used the low-level API in a long while so I may be wrong with the specifics.)

[2021-09-14 09:10] jcubic commented on #2811
I was able to reproduce the issue in simple, example, will create issue in concordance project.

[2021-09-16 09:47] JamieSlome opened #2831 "Add a SECURITY.md file"
If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed, and it would serve as a simple instruction for security researchers in the future.

[2021-09-16 10:40] novemberborn commented on #2831
You can contact me directly.

[2021-09-16 14:06] gautaz opened #2832 "power-assert and "type": "module""
Hello,

I'm not sure whether this should be a bug or a feature request.

We are in the process of moving our projects to ESM and we are doing this by adding `"type": "module"` to our `package.json` files.
Since then, `power-assert` does not work anymore along with `AVA`.

AFAIU this is due to the fact that `AVA` relies on `babel` to transform the test code for `power-assert` to work as expected.

[2021-09-18 13:05] novemberborn commented on #2811
Per https://github.com/concordancejs/concordance/issues/76 I think this is by design.

[2021-09-18 13:05] #2811 closed

[2021-09-18 13:05] #2832 closed

[2021-09-18 13:15] novemberborn commented on #2831
Done per https://github.com/avajs/ava/security/policy.

[2021-09-18 13:15] #2831 closed

[2021-09-18 14:11] novemberborn commented on #2539
https://github.com/avajs/ava/pull/2836 makes this work through `require('ava').default`.

[2021-09-18 14:34] novemberborn commented on #2793
You're right it was removing `.test`. Correct behavior would have been to leave `.tests`. The supported filename pattern is `suite.test.js`.

[2021-09-18 14:35] #2539 closed

[2021-09-18 15:09] novemberborn commented on #2474
We'll switch to the Node.js built-in source map handling, see https://github.com/avajs/ava/issues/2763.

[2021-09-18 15:09] #2474 closed

[2021-09-18 15:34] novemberborn commented on #2755
@andykais gotcha. This isn't readily fixable in AVA, I've added https://github.com/concordancejs/concordance/issues/77 on the dependency that formats the errors.

[2021-09-18 15:42] #2793 closed

[2021-09-18 15:42] #2763 closed

[2021-09-18 18:03] #2781 closed

[2021-09-22 08:40] novemberborn opened #2844 "Remove `convert-source-map` dependency"
Now that https://github.com/avajs/ava/pull/2839 has landed we can use the built-in source map API in the snapshot manager:

https://nodejs.org/api/module.html#module_source_map_v3_support

https://github.com/avajs/ava/blob/678f9caf22343ba05efd54cbfebb37962f590cab/lib/snapshot-manager.js#L394-L399

And also in the `line-numbers.cjs` code I removed:

https://github.com/avajs/ava/commit/66939e7eab9c1

[2021-09-25 01:00] vjpr opened #2846 "Reports 'No tests found in xxx' and silences error"
Please provide details about:

* What you're trying to do

I'm using v4. I used `--experimental-loader`, and this causes an error.

* What happened

I just get `No tests found`.

* What you expected to happen

When I look in the source:

The `worker-failed` message just reports it as "no declared tests", but ignores the actual error.

If you enable `verbose` it says `✖ src/index.test.ava.ts exited

[2021-09-25 01:16] vjpr opened #2847 "TypeError: require(...).getRunner is not a function"
Please provide details about:

v4

* What you're trying to do

Run a test

* What happened

[code]

[code]

* What you expected to happen

Works.

## Config

[code]

[2021-09-25 02:53] vjpr commented on #2847
So `'--experimental-specifier-resolution=node'` was causing this error.

[2021-09-25 03:21] vjpr commented on #2847
I think I found my issue. I am using `pnpm` and two different versions of ava are being used.

_base.js_

[code]

_main.js_

[code]

[2021-09-26 17:55] novemberborn commented on #2846
I actually came across this when working on https://github.com/avajs/ava/pull/2841 so it'll be solved as part of that.

[2021-09-26 17:55] #2846 closed

[2021-09-26 17:58] novemberborn commented on #2847
AVA 4 no longer wants to be installed globally, see the discussion in https://github.com/avajs/ava/commit/1ee1e82678a9a2024d2635a9adeb8f14d98669f8.

`pnpm exec ava` should work.

[2021-09-26 17:58] #2847 closed

[2021-09-27 09:20] live627 opened #2848 "Some functions from Lodash can be replaced with native ones"
For example, `lodash/flatten` can be replaced with `Array.prototype.flat()` and even combined with `Array.prototype.map()` by using `Array.prototype.flatMap()`.

Example:

https://github.com/avajs/ava/blob/e8a497696a7c0f46d92c52770dbc34b70ee493fc/lib/line-numbers.js#L52-L58

[code]

Would this be something that is of interest? Eventually being able to [remove Lodash would save ~1.3 MB](https://pac

[2021-09-27 09:24] novemberborn commented on #2848
Yes that'd be great.

[2021-09-27 15:07] vjpr opened #2850 "`Runtime error: TypeError: Cannot read property 'ref' of undefined`"
I'm using Wallaby.js which spawns ava. I'm using v4.

[code]

_channel.js_

[code]

_util.js_

[code]

https://nodejs.org/api/process.html#process_process_send_message_sendhandle_options_callback

It seems there is the possibility for `isRunningInChildProcess` and `isRunningInThread` to both be `false`, causing a type error.

I'm sure there are some quirks relating to my usage of Wallaby, but mayb

[2021-09-27 16:46] vjpr commented on #2850
[code]

I found a check here that should handle this, and Wallaby is indeed printing this error message, however Wallaby doesn't exit.

Happy to close this as a Wallaby issue. wallabyjs/public#2814

[2021-09-27 16:46] #2850 closed

[2021-09-28 05:51] XhmikosR commented on #2600
I'm also hitting what I think is the same issue. Basically whatever value of concurrency bigger than 1 spawns too many processes making the system unresponsive...

I'm using a VM with 4 threads, but even if I use `-c=2` I'm getting tons of spawned processes.

[2021-09-28 08:21] live627 commented on #2848
That's good to hear . I wasn't sure of the reaction especially after seeing [this comment](https://github.com/avajs/ava/issues/2548) and how it was closed for being "too controversial", whatever that means. Maybe it was the aggressive attitude. Anyway, I agree with the sentiment that this packages should have a smaller footprint and less dependencies if at all possible.

[2021-09-28 15:10] vjpr commented on #2285
Is there are reason why `Config files must be located next to the package.json file`? Could this be disabled.

I simply want to pass in a config file from my monorepo root. Otherwise, like shellscape said, I need an `ava.config.cjs` in every single package of the 100s of packages in my monorepo.

Is there any workaround?

[2021-09-28 15:31] novemberborn commented on #2285
This ticket is proposing we change that specifically to support monorepos, I want to get it into the v4 release it's one of the last few tasks left.

The challenge that Babel ran into is that folks would leave `.babelrc` files scattered across their filesystem that would kick in unexpectedly. So I'd like to limit the search for config files until say the repository root.

[2021-09-28 15:37] shellscape commented on #2285
Yeah that's a valid concern. Repo root limit is completely warranted.

@vjpr I use symlinks to the root/shared ava config. It's not perfect, but links are relatively easy to manage. For 100s of directories I'd recommend a script to CRUD the links.

[2021-09-28 22:33] bhallstein commented on #2600
That's very curious.

Re my original issue, I do often see CPU load of around 100; though I see this with a lot of node/npm related tasks, such as parcel builds, `npm install`, and so on, so I think it's unlikely it has much to do with ava.

[2021-09-29 04:28] XhmikosR commented on #2600
No, this is clearly due to ava. I only ran ava when I took the screenshot.

[2021-10-01 02:08] danielgormly commented on #2302
I also ran into an issue with using spawn (both sync and async versions). In a request with the software consul-template whose IO times out when an external connection can't be made. Running in Node directly  or with a different test runner, everything happens as expected. Ava on the other hand, fails silently.

[2021-10-01 05:07] panjiesw commented on #2040
Sorry @bobthekingofegypt for the late update, I used VSCode in Linux machine (Manjaro OS, kernel 4.14).

[2021-10-01 12:55] bob-pasabi commented on #2040
I just download VSCode and tried changing a test from pass to fail and back a few hundred times but couldn't recreate the issue.  I have an ionotify script watching the folder and don't see VSCode doing anything weird with tmp files unfortunately.

If you run watch mode with the DEBUG=* env variable it should print out the files it is detecting changes in, you could see if it logs anything interes

[2021-10-01 13:11] live627 opened #2853 "`readPackageSync()` could be simplified, 17 fewer deps"
[`read-pkg`](https://www.npmjs.com/package/read-pkg) is designated to read package files and optionally normalize them using [`normalize-package-data`](https://www.npmjs.com/package/normalize-package-data). Thing is, only the type attribute is used.
https://github.com/avajs/ava/blob/b0b76a034f106dfa34f4ca63da7a3700717857d0/lib/cli.js#L314-L323
Doesn't need to be normalized because it is validated

[2021-10-01 14:24] panjiesw commented on #2040
@bobthekingofegypt I created a repo to reproduce the issue here: https://github.com/panjiesw/ava-issue

Tried to closely simulate what I experienced in my other projects:
- TypeScript + [ts-node](https://www.npmjs.com/package/ts-node) + [tsconfig-paths](https://www.npmjs.com/package/tsconfig-paths)
- `ava@3.15.0`
- `yarn`

The key is, as shown in my repo above, it began from failed tests:

- file

[2021-10-04 10:05] novemberborn commented on #2302
@danielgormly do you want to start a [new discussion](https://github.com/avajs/ava/discussions) with more details about test setup and expected outcome?

[2021-10-04 11:50] novemberborn commented on #2853
I don't think we need enhanced error messages here, if the `package.json` is corrupted all kinds of other things would also fail. `fs` and `JSON` should suffice.

[2021-10-04 16:54] abhnvgupta commented on #1666
Hi @novemberborn, I would like to give this issue a try. Thanks

[2021-10-04 18:46] #2848 closed

[2021-10-04 18:49] novemberborn commented on #1666
Go for it @abhnvgupta.

[2021-10-05 00:32] alessandroasm commented on #2853
I would like to work on that, if no one is assigned to it :)

[2021-10-05 05:39] live627 commented on #2853
Neat, now I don't have to 😃

On Mon, Oct 4, 2021 at 5:32 PM Alessandro Menezes ***@***.***>
wrote:

[2021-10-05 11:27] alessandroasm commented on #2853
Hi. I've opened a draft PR for this (#2863). I tried my best to do a minimal change to the `package-lock.json` file, but npm really wants to add `dev: true` to a bunch of dependencies.

Well, if you have any suggestions, please let me know.

[2021-10-05 13:30] bobthekingofegypt commented on #2821
I think this is the same issue being reported in #2040.  This post breaks down the flow really well.

@panjiesw posted up a sample repo and instructions for how to replicate it.

I had a look at what was happening just to check it wasn't related to my original fix.
The problem with the approach suggested above is it will break the times where this is the desired behaviour, if you have two test fil

[2021-10-08 19:12] jasikpark opened #2864 "Bug 🐛: `node/no-missing-imports` fails"
Please provide details about:

* What you're trying to do
* What happened
* What you expected to happen

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

We'll also need your AVA configuration (in `package.json` or `ava.config.*` configuration files) and how you're invoking AVA. Share

[2021-10-09 14:39] bobthekingofegypt commented on #2821
Do you want me to open that branch as a pull request?  It was just there to help the conversation but happy to create a pull request for it.

[2021-10-12 16:54] basker26 commented on #1666
hi @novemberborn, if no one is working on shall I try

[2021-10-13 13:09] shellscape commented on #1109
@paulshryock https://github.com/rollup/plugins/blob/master/shared/ava.config.js

[2021-10-17 14:14] #2864 closed

[2021-10-24 15:02] novemberborn opened #2873 "Add test coverage for test selection insights"
As of https://github.com/avajs/ava/pull/2841 AVA prints warnings when file paths were provided on the CLI that could not be used to select test files, or otherwise when the CLI arguments result in zero test files being selected. There's no test coverage for this output yet.

Generally speaking we don't have an easy way to test the reporter output. If you're keen to tackle this please leave a comme

[2021-10-25 12:30] jimmywarting opened #2874 "is concordance/react being used anywhere?"
https://github.com/avajs/ava/blob/a5ac79eb4a69066f166956da3277227bc241b54d/package.json#L73

[2021-10-27 08:14] #2874 closed, assigned to nobody

[2021-10-31 14:26] novemberborn commented on #2473
AVA 4 removes `@ava/babel`. I think https://github.com/avajs/ava/pull/2859 may have fixed this issue for TypeScript.

[2021-10-31 14:26] #2473 closed

[2021-10-31 18:44] #2285 closed

[2021-11-01 17:11] richardburce opened #2884 "A non-React example would be fine I think."
A non-React example would be fine I think.

_Originally posted by @novemberborn in https://github.com/avajs/ava/pull/2784#issuecomment-886969382_

[2021-11-01 17:12] richardburce commented on #2884
#2883

[2021-11-03 10:05] cdimitroulas opened #2885 "Option to disable "smart" watcher"
I often find that the "smart" watcher gets in my way and I'd rather just rerun all the tests anytime any file is changed.

For example, when writing integration tests Ava is often not able to determine that a file change actually affects a particular test and so then it decides not to run that test again. This results in me having to go to that terminal and hit "r + Enter" in order to manually tel

[2021-11-04 09:13] fungiboletus opened #2886 "t.timeout is ignored in test.before"
[code]

Running the following code will fail instead of waiting 50 seconds.

t.timeout should perhaps be removed from the TypeScript definition of the t parameter in the test.before callback. But it would also be nice to be able to specify a timeout in a before block.

[2021-11-04 09:30] #2885 closed

[2021-11-04 09:33] #2886 closed

[2021-11-05 17:38] antonyfaris opened #2889 "Source maps on Windows with Node.js 14.8.1 and ts-node/esm loader return sources that are not file URLs, which causes a crash in the snapshot manager"
I made [this minimal example](https://github.com/antonyfaris/sample-ava-ts).

You can see in [this gh workflow](https://github.com/antonyfaris/sample-ava-ts/runs/4119306273?check_suite_focus=true) how it only fails on windows. This error prevents tests from running.

It works fine with version 4.0.0-alpha.2

[2021-11-08 09:34] novemberborn commented on #2889
It's blowing up on this line: https://github.com/avajs/ava/blob/5cdeb9d44c709deb979a6e49e26e7e5e0ab1a3fa/lib/snapshot-manager.js#L401

So the source isn't a file URL. I'm confused though why this only happens on Windows. Looks like this is Node.js 14.8.1, have you tried with 16?

I also noticed you're using the experimental `ts-node/esm` loader. Perhaps that's not interfacing with the source map s

[2021-11-08 09:36] novemberborn commented on #2889
FWIW the format of the source paths is undefined, but so far I have only encountered file URL values. Which means either it can legitimately be a mix, or perhaps it's an issue in `ts-node/esm`.

[2021-11-08 16:20] antonyfaris commented on #2889
I added node 16 to the [gh workflow](https://github.com/antonyfaris/sample-ava-ts/runs/4141449750?check_suite_focus=true). It looks like it also throws the same error.

[2021-11-08 21:47] jasikpark commented on #2889
https://twitter.com/n_moore/status/1457731934050824205?s=20 & https://twitter.com/n_moore/status/1457733079389425667?s=20 might be helpful context if it's related....

@natemoo-re have any insight into this?

[2021-11-08 22:50] natemoo-re commented on #2889
Hmm, maybe you could check if `payload.sources[0]` starts with `file://` before trying `fileURLToPath`? Otherwise you can assume it's already a path?

[2021-11-09 18:07] conartist6 opened #2890 "Better feedback for ava test"
For a while now I've been writing `ava test somefile.js`. As I also use `ava debug` I assumed that this tool followed the subcommand pattern. Instead what I now realize is that there is no `test` subcommand -- I've just been filtering test based on two patterns, one that exists and one that does not. I propose that if the users types `ava test` and no tests match the pattern, a warning is displaye

[2021-11-10 09:31] #2890 closed

[2021-11-16 10:39] cesco69 opened #2893 "ES modules is not supported"
**Error**

[code]

**package.json**

[code]

**Version**

[code]

[2021-11-16 14:46] ludofischer commented on #2893
Seems to be fixed in 4.0 https://github.com/avajs/ava/releases/tag/v4.0.0-rc.1

[2021-11-16 15:48] novemberborn commented on #2893
It's more that `@ava/typescript` v3 is ESM and can only be imported by AVA 4 — you should use `@ava/typescript` v2 with AVA 3. I overlooked this when I published that version bump.

[2021-11-16 15:48] #2893 closed

[2021-11-17 08:18] cesco69 commented on #2893
what is the ETA for AVA 4?

[2021-11-17 08:22] novemberborn commented on #2893
It's pretty much finished and usable but I can't make a commitment as to when the official release will happen.

[2021-11-17 08:46] tuopppi commented on #2415
Our team has same multi project setup and we faced same issue. It took some time to figure out why ava reported: "No files tested in this parallel run" even though the same command locally resulted in all tests being run. Maybe ava could print out some debug info in verbose mode if it's running just a subset of test cases.

[2021-11-17 13:08] fungiboletus commented on #2627
I'm migrating tests from Jest to Ava and we use [`.toMatchObject`](https://jestjs.io/docs/expect#tomatchobjectobject) that has an acceptable behaviour, it's like `like` in Ava, but it manages arrays. The order simply needs to be the same.

[2021-11-18 09:28] novemberborn commented on #2415
@tuopppi what kind of info are you looking for? AVA already prints when it ran a subset of the test files in a parallel run, and also when it could not run any test files.

Meanwhile I'll happily take a PR for this.

[2021-11-20 08:36] osdiab commented on #2449
Revisiting this, I ended up working around it by defining my own wrappers on ava assertions like so:

[code]

If that helps anyone :)

[2021-11-21 17:28] #2889 closed

[2021-11-21 17:41] novemberborn commented on #2889
@antonyfaris there's a fix in the `main` branch. Could you `npm install -D avajs/ava#main` and see if that works?

[2021-11-21 18:04] antonyfaris commented on #2889
@novemberborn [it seems to be working](https://github.com/antonyfaris/sample-ava-ts/runs/4279549454?check_suite_focus=true) :)

[2021-11-21 18:20] novemberborn commented on #2889
@antonyfaris hurray!

Are you OK using the GitHub install for now? I won't have time to put out another pre-release for a while.

[2021-11-21 18:33] antonyfaris commented on #2889
Thanks for asking, I will open a pr in our repo and I will let you know.

[2021-11-21 22:36] anonrig opened #2895 "4.0.0-rc.1 does not respect verbose=false"
I run Ava using `npm test` which is just `ava`. Even though I add verbose=false, it still prints each task to the screen.

Here's an example:

[code]

Here's my ava config in my package.json.

[code]

[2021-11-22 09:09] novemberborn commented on #2895
The non-verbose reporter had bugs and was proving hard to maintain. It's been removed in AVA 4. There's still a lot of cruft in the current implementation, really we should rewrite it, see https://github.com/avajs/ava/issues/2500.

[2021-11-22 09:09] #2895 closed

[2021-11-24 12:30] Akiyamka commented on #2593
At this moment `ts-node/esm` can't handle some [edge-cases ](https://github.com/TypeStrong/ts-node/issues/1007#issuecomment-977820602).
More stable alternative is [esbuild-node-loader](https://www.npmjs.com/package/esbuild-node-loader).
Es-build work in transpile only mode, but work much faster.
[code]

[2021-11-27 12:54] rocnesion opened #2896 "Print watch mode shortcut commands only once?"
When you exec the test file in watch mode, this information text takes up a lot of space in the console, so can we show it only once or add an option to hide it.

This is how it happens when I use ava for the developer server.

![image](https://user-images.githubusercontent.com/89390668/143680634-c6923049-901f-4005-8c93-5941562aa86f.png)

Also, can we hide the unnecessary dash (-) symbol.

[2021-11-28 16:53] capttrousers commented on #2715
RE new watch mode config settings, I think it'd make sense to add a new `watchModeOptions` top level object in the ava config object, and begin moving all existing and new watch mode options there. Watch mode seems to be a pretty specific mode for running the test runner, so having all the options for this mode in a single flat object is probably a good future proof place.

For example, if watch m

[2021-11-29 17:49] Akiyamka opened #2897 "Better snapshot formating"
Current snapshot md file contain json that look like plain text.
I can be much more readable if add ```js around snap content.

Current VS Can be
![image](https://user-images.githubusercontent.com/6587585/143917649-dbd09174-3fb7-48b7-93da-edb217aede84.png)
![image](https://user-images.githubusercontent.com/6587585/143917843-0fd09bf7-9ed5-4e04-ab00-174fdbb6b2a3.png)

[2021-12-03 06:56] lunelson opened #2900 "List watch mode failure & type of failure *after* the diff"
I'm using AVA to test Sass output, and when any test fails in watch mode the diff is usually so large that it is very hard to see the info about what actually failed or why. It would be helpful to RE-list the failures and type of failure after the diff, so I can see which output changed (if it was expected); otherwise I have to scroll up for hundreds of lines to figure out what happened in which f

[2021-12-03 10:39] denis-sokolov opened #2901 "Silence console output on passing tests"
It would be really cool if Ava silenced console output that happens as a side-effect in passing tests. After all, if a test passes, there is nothing actionable. Console output in those cases is only noise.

This is particularly valuable with tests that validate error throwing with `t.throws`. It is common for code that throws to also output diagnostic and guidance messages to console.error. As a s

[2021-12-04 06:09] jonahsnider opened #2902 "V8 fatal errors"
Sorry in advance for the low quality of this report, I'm a bit busy currently and don't have the time to make a more complete report. I'll try and come back with an actual reproduction + better diagnostics.

## Versions

AVA version: 4.0.0-rc.1

[code]

Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:xnu-8019.41.5~1/RELEASE_X86_64

## Description

These started happening recently.

[2021-12-05 13:40] novemberborn commented on #2896
Yea, would be neat to clearly separate the runs but keep the commands at the bottom. This may be hard to do until #2500 though.

[2021-12-05 13:41] novemberborn commented on #1623
@capttrousers I think the right approach is to improve the reporters, see #2500.

[2021-12-05 13:54] novemberborn commented on #2900
This isn't really specific to watch mode though, is it? You'd have the same problem with the regular reporter. #2500 should point the way to improvements.

[2021-12-05 13:54] #2900 closed

[2021-12-05 14:16] novemberborn commented on #2902
I do believe this is a Node.js error. We did encounter https://github.com/nodejs/node/issues/38418 before, for which we have this workaround: https://github.com/avajs/ava/pull/2778

Your stack trace looks different though. Is it triggered when you interrupt the watcher or does it happen on its own?

[2021-12-05 14:38] novemberborn opened #2905 "Option to disable dependency tracking"
Dependency tracking may be fraught in CommonJS and currently doesn't work anyway in ESM. See discussion in https://github.com/avajs/ava/discussions/2887 and #2388.

When dependency tracking breaks, watch mode becomes less useful. Let's add a `trackDependencies` configuration option, defaulting to `true`, which when set to `false` disables dependency tracking. We can add a guard here:

https://gith

[2021-12-05 15:15] lunelson commented on #2900
True point @novemberborn 🤔  I'll refer to that issue then 😄

[2021-12-05 18:27] jonahsnider commented on #2902
Some of the errors are from terminating the watcher and some are not. I just got #4 yesterday and that was just from running `ava` and not touching my keyboard at all.

[2021-12-06 17:52] Sarveshk76 commented on #2905
<img width="903" alt="image" src="https://user-images.githubusercontent.com/78719645/144896571-b4bc30f0-2887-4088-9af6-9695347aa040.png">
Is it right?

[2021-12-07 12:13] HomyeeKing opened #2907 "`after` hooks trigger just after the test run, not all the test finished"
Please provide details about:

* What you're trying to do: `trigger something after the last test finished`
* What happened: 'after hook triggered during the test running'
* What you expected to happen

Please share relevant sample code. Or better yet, provide a link to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

We'll also need your AVA configur

[2021-12-07 12:42] novemberborn commented on #2902
That does hint at this being a Node.js issue unfortunately.

[2021-12-07 12:47] novemberborn commented on #2907
Please share relevant sample code.

Closing for housekeeping purposes but happy to reopen. This may also be good as a Q&A discussion in https://github.com/avajs/ava/discussions.

[2021-12-07 12:47] #2907 closed

[2021-12-08 01:27] Cobertos commented on #2593
The above config is _much_ better.

The [default installation using `ts-node/esm`](https://github.com/avajs/ava/blob/main/docs/recipes/typescript.md#for-packages-with-type-module) was very slow. I had to increase the timeout for my tests.

My code makes heavy use of ES6 features like async/await syntax, Promises, Generators, AsyncGenerators etc. I narrowed down a couple problem tests and found tha

[2021-12-10 09:45] LucasIcarus commented on #1957
@IgnusG  @novemberborn

Patch lib within node_modules is kind of quirky..  Consider turn this to an official PR? When ava@4 released, support ts and builtin ts power-assert ?

[2021-12-10 10:20] IgnusG commented on #1957
@LucasIcarus If I remember correctly I had been thinking this should be doable with a customized https://github.com/avajs/typescript (without modifying ava's core) but I didn't have time to dig into it. I might take a look at it over Christmas. I was unsure if this solution would be acceptable from the point of ava's development team so I didn't want to invest too much time into official support.

[2021-12-10 15:27] Akiyamka opened #2909 "The snapshot file is corrupted error in CI without any visible reason"
# Short decription

### What you're trying to do:
Run test in gitlab CI/CD
### What happened
Locally snapshots test pass, fails in CI
### What you expected to happen
Test pass in CI too

### Minimal reproducible example
https://gist.github.com/Akiyamka/74978ee5b0d72ce6de92652a938b12b5

### ENV (workstation and ci use same versions):
[code]
### Ava config
[code]
# Long description
It's work absolut

[2021-12-10 16:09] Akiyamka commented on #2909
As workaround - if I create file for every test with t.snapshot (so every snapshot generated in separate file) - error gone

[2021-12-10 17:50] novemberborn commented on #1957
Power Assert has been removed in AVA 4. Happy to explore integration points so it can be added on top of AVA but it'll require a lot of dedicated effort from a contributor.

[2021-12-10 17:51] novemberborn commented on #2909
Snapshots have changed a fair bit in AVA 4. Would you be able to try upgrading to see if the issue persists? Install ava@next.

[2021-12-12 13:39] novemberborn commented on #2909
This means AVA doesn't load the snapshots or do comparisons, so yea I'd expect the tests to pass 😄

[2021-12-13 12:46] Akiyamka commented on #2909
@novemberborn unfortunately ava 4 have same issue. Only error message now a little bit more verbose
[code]

[2021-12-13 12:48] novemberborn commented on #2909
@Akiyamka would you be able to share one of these files with me? Just so I can see what kind of corruption is being detected. It includes the same data as the Markdown file so feel free to email me privately if that's sensitive in any way.

[2021-12-13 12:55] Akiyamka commented on #2909
Of course
There snap with md. Locally test pass, in another machine - ava says it's corrupted
https://dropmefiles.com/QTmOq

[2021-12-13 13:10] novemberborn commented on #2909
I've checked that file manually and it seems correct. So it is rejected in CI only? Would be good to have a copy from that CI machine as well then.

[2021-12-13 13:42] Akiyamka commented on #2909
On workstation with windows it fail with same error (CI use Linux)
Snap generated in CI: https://dropmefiles.com/kACpx
P.S. interesting message I found in CI logs when trying commit snap, maybe it relative:
[code]

[2021-12-13 14:26] Akiyamka commented on #2909
Look like this is git behavior by default
https://stackoverflow.com/questions/57959485/git-modifying-line-endings-on-binary-files

[2021-12-13 17:30] Akiyamka commented on #2909
Look like [Here](https://github.com/avajs/ava/blob/77623a5f32c139fa4ef7d316a4bbf7e172cc5acb/lib/snapshot-manager.js#L186) snapshots concatenated using  `lf` or `crlf`

[2021-12-14 18:58] rrichardson commented on #2593
I created a small PR to update the typescript recipe per the above  (I independently found the solution.. searching the issues here would have saved me some time :) )

https://github.com/avajs/ava/pull/2910

[2021-12-14 22:22] rrichardson commented on #1986
This is complicated a bit by my use case, which is a yarn workspace with dozens of modules.  Tests live in the `test` directory under their respective module.
I'd need to find all staged files (actually last commit in my case, for pre-push) then identify the module whence they came, then pass in  `<module>/test/**/*.ts`

It makes me think that what we need is a 3rd party module that does the above

[2021-12-19 16:59] novemberborn commented on #2909
Ohh very interesting. I think Git does tend to recognize our `.snap` files as binary, but you configured Git to convert `\r\n` even within our binary files. And that then corrupted them.

To be clear @Akiyamka, your configuration started with:

[code]

Where the `*	text` means everything is treated as a text file unless overridden below? So if you go down that path you need to add the `*.snap bina

[2021-12-19 19:28] stonebraker opened #2912 "Similar test titles causing Ava to throw an unhandled exception"
Please provide details about:

When writing two tests with only slight variances in their titles, an unhandled exception is thrown by AVA 4.0.0-rc.1.

Adding the following tests to a file will result in an unhandled exception being thrown by the second test.
[code]

I would expect both tests to pass. The actual result is the second test failing with an unhandled exception.

I tried to nail down wh

[2021-12-19 19:35] stonebraker commented on #2912
Closing. User error. I had a test with the same title further up in the same test file.

[2021-12-19 19:35] #2912 closed

[2021-12-19 19:55] novemberborn commented on #2912
What was the error you saw? It should have provided a clue as to the problem.

[2021-12-20 08:54] Akiyamka commented on #2909
That's exactly what happened

That's right!

The problem was in the naive configuration on the .gitattributes, it is destructive for any binary file that not listed, not only for ava. Ava just revealed a problem.
In my opinion, this problem is beyond the responsibility of ava,

However, this issue may help in the future those who come across a similar problem.

[2021-12-20 17:24] stonebraker commented on #2912
The error message was perfect. It was appearing at the top of the output and I just wasn't scrolling up far enough in the terminal window to see it.

The message at the top:
[code]

All I was seeing:
[code]

If anything, it'd be nice if the message was at the bottom of the output, but I should've walked away and come back to it. I had been going too long which is why I was writing duplicate tests

[2021-12-20 21:52] moderatemisbehaviour opened #2916 "No feedback from test timeout"
If you set a timeout for an individual test using `t.timeout` you get feedback as I'd expect.

But if you pass the timeout from the CLI it just prints a blank line and exits with code 1. You can reproduce by running `npx ava timeout.test.js --timeout 1s` on the following.

[code]

[2021-12-22 22:09] jeremyroberts0 commented on #1095
For anyone else that finds this issue, the `throat` solution here no longer works, tried a couple ways

As per recommendation above:
[code]
Seems throat does not pass through args anymore because I get `TypeError: Cannot read property 'notThrowsAsync' of undefined`.

Wrapping ava with custom async function:
[code]
yields `Error: All tests and hooks must be declared synchronously in your test file,

[2021-12-23 15:15] mislav commented on #2916
The timeout failure seems printed in `--verbose` mode but not in regular mode. For now, `-v` could be used as temporary workaround.

[2021-12-23 17:41] JohnAlbin opened #2919 "Test results are inaccessible to red-green color-blind, blind and CI"
## TLDR

I'm using AVA 4.0.0-rc.1 and have a few tests marked as ".failing" since they are known test failures. When looking at the test output, I expect that I can tell which tests are known failures, but known-failing tests look exactly like passing tests in some situations.

## Details

AVA's default output doesn't clearly show which of the tests are known failures because it only distinguishes

[2021-12-29 22:00] #2553 closed

[2021-12-31 15:28] novemberborn opened #2921 "Allow further customization of where snapshots are stored"
Per [discussion](https://github.com/avajs/ava/discussions/2765#discussioncomment-1843688), in an `ava.config.js`:

[code]

Up till now `snapshotDir` is a fixed directory under which snapshot files are stored, with subdirectories that match the relative location of the corresponding test files. My suggestion is we make it a function which receives a file URL string (like `import.meta.url`) and retu

[2021-12-31 16:38] novemberborn commented on #1095
@jeremyroberts0 looking at the code I think it'll still work, but you can't use it directly. You need to create a limiter, as per https://github.com/avajs/ava/issues/1095#issuecomment-364657306.

I wouldn't wrap it in a function named `test`, that'll just get confusing.

Your attempt doesn't work because the second call to `ava()` is only made asynchronously when the first test completes, but subs

[2021-12-31 16:40] novemberborn commented on #2916
Due to this issues, AVA 4 has removed non-verbose mode and defaults to verbose. Which sort of "solves" the problem.

[2021-12-31 16:40] #2916 closed

[2021-12-31 17:14] novemberborn commented on #2919
Thanks for the feedback @JohnAlbin!

Counter-intuitively known failures count as a success — it's only when they stop failing that there's a problem. It being hard to filter the output because the symbol is reused isn't necessarily a display issue.

I think we may be able to make some tweaks with the current implementation, though to really make strides I think we need to tackle https://github.com

[2021-12-31 17:42] JohnAlbin commented on #2919
Yep. It's one of the features I love about ava. Being able to document known bugs with tests makes it easer to fix them.

I actually noticed this issue because I have some known test failures in my project's integration tests with a dependency. I wanted to show the dependency project which tests were failing by showing them the GitHub Actions log results, BUT there's no color in the log files so i

[2022-01-04 08:43] zhenglong0034 opened #2929 "TypeError: test.cb is not a function"
![image](https://user-images.githubusercontent.com/10396795/148032360-c81141c5-8f32-404c-b9bf-53b9d8dd5d38.png)

[2022-01-04 08:55] zhenglong0034 commented on #2929
node: 16.13.1
npm 8.1.2
ava 4.0.0

[2022-01-04 10:50] novemberborn commented on #2929
It has been removed in AVA 4. Use async functions and [`util.promisify()`])https://nodejs.org/docs/latest/api/util.html#util_util_promisify_original) instead.

[2022-01-04 10:50] #2929 closed

[2022-01-04 13:47] zckrs opened #2930 "Module commonjs "require.main" is undefined since v4"
Hi,

I try to migrate to v4 from v3.15.
I have a strange bug with project who contains some [`require.main` ](https://nodejs.org/api/modules.html#requiremain)

`main` should be a object but we got undefined.

Everything work with alpha 1 & 2 but since rc1 no success on our tests :/

I suspect usage of worker thread but I cant confirm (with option --no-worker-threads we always have bug)