[2014-11-18 17:46] sindresorhus opened #1 "Parallelism"
Would be cool to implement actual parallelism. Could be as simple as executing each test file in a separate node process using `child_process.fork`. Each node sends back its result and the main process merges it and presents it to the user.

Doing it in sub-processes comes with the added benefit of each file being isolated and not being able to screw up the environment for others.

[2014-11-18 17:52] sindresorhus opened #2 "Finish the CLI"
Even though I usually prefer just `node test.js`. Having the CLI is useful when you have multiple test files.

It should support:
- [x] Globbing
- [x] Directory as an input
- [x] Flag for disabling concurrency (for debug purposes) (or maybe just a `--debug` flag?)

[2014-11-18 18:01] sindresorhus opened #3 "Logo"
The text `AVA` should only use `V` and just turn it upside down for the A's.

[2014-11-19 06:21] kevva opened #4 "Hooks"
Adding some sort of `before` and `after` hooks might be useful. Especially for creating and removing fixtures or any other generated files after tests have finished.

[2014-11-25 15:10] kevva opened #5 "Assertion methods"
Assertion methods that should be implemented. Not sure about the names of those with a question mark after them.
- [x] `t.is()`
- [x] `t.not()`
- [x] `t.same()`
- [x] `t.notSame()` ?
- [x] `t.throws()`
- [x] `t.doesNotThrow()` ?

Maybe we should export them to their own file later on so that `lib/test.js` won't get huge.

[2014-11-25 15:32] #5 closed, assigned to nobody

[2014-11-25 15:39] kevva opened #6 "Error reporting"
Should show the `err.stack` for each failed test imo. Also, we need to sort out the error messages some I think.

[2014-11-25 15:45] kevva opened #7 "Documentation"
When we've settled on an API we should start documenting stuff.

[2014-11-25 16:21] kevva opened #8 "Timeout"
Should we have some sort of timeout on the tests?

[2014-11-25 16:47] kevva opened #9 "Test modifiers"
`this._skip` is still `false` after running `.skip()`. It needs `.bind(this)` to work.

[code]

This fails with `i` being `1`.

[2014-11-27 10:59] sindresorhus opened #10 "Don't log individual test if it's a single passing anonymous test"
In a lot of my node modules I have a single test without a title. Would be nice if it only showed `1 test passed` and not ` ✔ [anonymous]` in that case.

[2014-11-27 14:27] sindresorhus opened #11 "assert.reTest?"
I've found I very often need to assert something using a regex `.test()`.

I currently do:

[code]

But if that fails the error message isn't very helpful.

I could include `css` in the second argument, but I still wouldn't know what the regex was.

Could maybe be useful to have an assertion method for this:

[code]

Which on failure would print the regex and the full content of `css`.

Needs a be

[2014-12-01 08:29] sindresorhus opened #12 "test.serial()"
I think we might have to add this. Some things just can't be ran concurrently.

The serial tests can be ran first, then we run the rest concurrently.

Like when you need to overwrite `process.stdout.write`. If you do it concurrently they might overwrite each other. Example: https://github.com/sindresorhus/beeper/blob/43045b8b3cda9a6f1808014f97d4c21f0bc3b89e/test.js

Low-priority though.

[2014-12-04 10:39] kevva opened #13 "Error stack is lost when supplying it to the callback"
When trying to log the stack along the results in in `index.js`, you only get the `err.message`. Somehow the stack gets lost in the callback. When logging `err.stack` right before the callback you get the correct stack so it should be there.

https://github.com/sindresorhus/ava/blob/master/lib/test.js#L79

Guess this needs fixing before we can really get going with #6.

[2014-12-05 16:21] #12 closed, assigned to nobody

[2014-12-06 01:56] kevva opened #14 "Execution time"
Add execution time for each test.

[2014-12-06 02:01] #6 closed, assigned to nobody

[2014-12-06 02:01] #13 closed, assigned to nobody

[2015-01-27 18:51] kevva opened #15 "Emit error when there are more assertions than planned"
Currently we aren't keeping track of all the pending assertions. `tape` is using this https://github.com/substack/tape/blob/master/lib/test.js#L174-L181.

[2015-04-22 18:33] #11 closed, assigned to nobody

[2015-04-26 09:08] sindresorhus opened #16 "Use `claim`"
https://github.com/kevva/claim

[2015-05-01 12:32] sindresorhus opened #17 "`t.end()` gives false success on async tests"
This is kinda critical as it gives false success when you use `t.end()` in an async callback.

See: https://github.com/sindresorhus/is-online/issues/17#issuecomment-98123185

Example this makes the tests pass, even though it's should have failed:

[code]

This works however:

[code]

[2015-05-03 10:15] sindresorhus opened #18 "Default reporter"
I think the default reporter should be super minimal one. It should only log out detailed test info if a test fails, otherwise just `1 test passed`.

It could have a live counter, so while tests are running the line is dynamically updated with `3/12 tests passed`, and when done rewritten to be `12 tests passed`. That way it can be live, but also minimal.

Can use [log-update](https://github.com/si

[2015-05-03 14:52] sindresorhus opened #19 "Promise support"
You should be able to return a promise instead of calling the `t.end()` callback.

[code]

[2015-05-06 17:19] #16 closed, assigned to kevva

[2015-05-18 02:10] sindresorhus opened #20 "Built-in ES2015 support"
Would be nice to support ES6 built-in at runtime by using the [Babel require hook](https://babeljs.io/docs/using-babel/#babel_register).

That way you can just write your tests in ES6 and have it run in any node version.

This is so nice:

[code]

[2015-05-20 16:19] sindresorhus opened #21 "Fix handling of planned assertion count not matching for async"
Currently we just throw an Error: https://github.com/sindresorhus/ava/blob/3ed5f9d96c812c18d145f5fa1bc941859a5b5318/lib/test.js#L117

This isn't very helpful. It should probably instead be an *uncounted* `AssertionError`.

[2015-05-20 18:02] sindresorhus opened #22 "Error context"
Tape has this nice output on errors:

[code]

Currently we output the full stack trace or none.

-

This might be something `claim` should handle.

https://github.com/substack/tape/blob/ccfcf4f76581abc3842163dfe065198764247c85/lib/test.js#L207

[2015-08-26 17:24] #17 closed, assigned to nobody

[2015-08-27 05:29] #19 closed, assigned to nobody

[2015-08-27 08:59] #3 closed, assigned to nobody

[2015-08-28 10:33] andrepolischuk commented on #20
May be use flag --esnext?

[code]

[2015-08-28 10:41] sindresorhus commented on #20
I was thinking ES2015 support by default. Can't think of any reason not to want ES2015 when there's no setup cost.

[2015-08-28 10:45] andrepolischuk commented on #20
It would be better then with flag.

[2015-08-28 14:59] mattdesl opened #24 "Browser support"
Trying to get this working in the browser, and then later [hihat](https://github.com/Jam3/hihat) for debugging/breakpoints/etc.

After browserifying the demo in the readme, I get the following:

`Uncaught ReferenceError: setImmediate is not defined`

[relevant line](https://github.com/sindresorhus/ava/blob/97add1fcec62d510d72f1d26e1ea5ca972c495c6/index.js#L65)

(weird cause I thought browserify wo

[2015-08-28 15:07] sindresorhus commented on #24
Maybe open an issue on Browserify about shimming `setImmediate`?

[2015-08-28 15:42] mattdesl commented on #24
Found a bit more discussion upstream: https://github.com/substack/insert-module-globals/pull/40

[2015-08-28 16:14] ColCh opened #25 "Support registering a custom assertion module"
How to use it?  For example,  Chai is very nice. Or assert.js

[2015-08-28 17:10] sindresorhus commented on #25
Yes you can. Updated the readme about it: https://github.com/sindresorhus/ava/commit/3deba5189186ce73ef6a7bc18c4044f713c63eed

It won't work with planned assertions though. For that, we'll need an AVA method that hooks those assertion so we can do the assert counting. Shouldn't be that hard, but not top priority.

[2015-08-28 17:19] sindresorhus opened #27 "TAP support"
Should be a flag, like `$ ava --tap`, to get TAP output. This would be a good way to enable reporters without actually supporting reporters. Can just refer people to all the available TAP reporters instead of reinventing the wheel.

[2015-08-28 17:33] Qix- opened #28 "Handle SIGSEGV"
SIGSEGV occurs when a program performs a native memory operation that isn't valid (i.e. referencing/writing to a piece of unallocated memory).

This is important for native module programming, as if it segfaults it'd be nice to gracefully handle it as a test failure instead of terminating the offending process - especially when there are lots of tests.

However, there should be discussion on it as

[2015-08-28 17:33] sindresorhus commented on #24
I'll give it a week, but I doubt anything will happen there...

I guess I can add https://github.com/sindresorhus/set-immediate-shim if that is the only thing blocking it from being used in the browser.

[2015-08-28 17:37] Qix- commented on #24
Isn't it just a fancy way of doing `setTimeout(fn, 0)` or `Window.requestAnimationFrame`?

[2015-08-28 17:40] sindresorhus commented on #24
@Qix- It's faster than `setTimeout`. http://www.nczonline.net/blog/2013/07/09/the-case-for-setimmediate/

[2015-08-28 21:36] ColCh commented on #25
Thanks. Any tutorial on how to do that? Code sample will be cool.

[2015-08-28 21:42] sindresorhus commented on #25
How to do what? With assert counting is not possible yet as outlined above. Without assert counting is documented in the readme as already mentioned.

[2015-08-28 21:57] arthurvr commented on #7
I guess https://github.com/sindresorhus/ava/commit/72de995171bc7a477ebc287746779a693d7f2590 fixed this?

[2015-08-28 22:30] Qix- commented on #7
I'd assume so.

[2015-08-29 04:43] #7 closed

[2015-08-29 08:06] mdibaiee commented on #22
Hey, I'd like to work on this. I opened a pull-request and I want your feedback on that. #29

[2015-09-01 14:12] #14 closed

[2015-09-01 15:57] sindresorhus opened #31 "CLI `--debug` flag"
For running everything serially so it's easier to debug concurrency issues.

In the future it might do other things too to aid in debugging. Suggestions welcome.

[2015-09-01 15:57] sindresorhus commented on #2
https://github.com/sindresorhus/ava/issues/31

[2015-09-01 15:57] #2 closed

[2015-09-01 16:00] Qix- commented on #31
:+1:

[2015-09-01 16:01] sindresorhus opened #32 "Should `process.cwd()` be changed to the directory of the currently running test?"
Currently the cwd is the directory you execute `ava` in, but `ava` can be executed from any upper level in the project and will search down for test files, so the cwd is pretty arbitrary and useless. I want to make the cwd actually useful.

There are two options:

1.  Change cwd to root of the project. (This is what gulp/grunt does)
2.  Change cwd to the directory of the currently running test fil

[2015-09-01 16:03] sindresorhus commented on #32
@Qix- @kevva @vdemedes @mdibaiee @mattdesl @arthurvr

[2015-09-01 16:14] sindresorhus commented on #28
This will probably be easier when #1 is implemented. AVA will then run tests in separate sub-processes.

[2015-09-01 18:25] Qix- commented on #28
That'll prevent coverage tests from working.

[2015-09-01 18:27] Qix- commented on #32
It sounds good, but it might make migrating from Mocha a bit of a pain. New projects will benefit from it; ones coming from Mocha won't.

[2015-09-01 18:37] sindresorhus commented on #28
No: https://github.com/bcoe/nyc

[2015-09-01 18:38] sindresorhus commented on #32
@Qix- Why? It will make no difference if you've already hard-coded your paths with `__dirname`.

[2015-09-01 19:37] Qix- commented on #28
:+1: Starred. Istanbul is what I use and it doesn't; figured that was a global thing.

[2015-09-01 19:38] Qix- commented on #32
True. Those that haven't should be anyway.

[2015-09-01 21:01] vdemedes commented on #31
Currently, ava does not have a single config store, so we have to come up with some way to share configuration between scripts. Right now, I can see 2 ways to implement this, without major code changes:

1. `ava --debug` sets environment variable, so that other scripts (files) see it: `process.env.AVA_DEBUG = true`. Also, it will be possible to enable debug mode by `AVA_DEBUG=true ava`.
2. Have a

[2015-09-01 21:02] vdemedes commented on #31
Config would also be handy for #27

[2015-09-01 21:06] Qix- commented on #31
Do you mean for child processes? Or just for the AVA scripts in general?

[2015-09-01 21:09] vdemedes commented on #31
@Qix- Sorry, did not understand your question

[2015-09-01 21:22] Qix- commented on #31
I re-read your comment; I think see what you mean now.

I'd have to test, but I'd suspect that ad-hoc environment variables added to `process.env` would be passed down to child processes too, which means that's a plausible way of storing configuration so child AVA processes will be aware of configuration. Unless that's not how @sindresorhus plans on implementing child processes.

[2015-09-01 21:25] vdemedes commented on #31
Yes, child processes will get modified `process.env` object (node.js docs say so).

[2015-09-02 05:43] sindresorhus commented on #31
I don't understand how this is related to a `--debug` flag? Right now it doesn't use any child-processes, but just `require`'s the test files.

As for sharing config with sub-processes, that's better discussed in #1. But tl;dr, `child_process.fork` and message passing.

[2015-09-02 06:39] vdemedes commented on #31
@sindresorhus I was talking about the ways to indicate, that user specified `--debug` flag and wants tests to run serially. For example, as for now, how would `lib/test.js` know, that `cli.js` has `debug = true`?

[2015-09-02 06:42] sindresorhus commented on #31
It could just read argv: `process.argv.indexOf('--debug') !== -1`. But more likely the CLI will pass it as an option to the `lib/test.js` interface.

[2015-09-03 06:37] vdemedes commented on #32
As for me, I think overriding core libraries/methods is always a bad idea. You never know what and how many things rely on that method.

Also, this is not that big of an issue to include test directory in paths.

[2015-09-03 06:50] sindresorhus commented on #32
Not going to override anything. This about using [`process.chdir()`](https://nodejs.org/api/process.html#process_process_chdir_directory) to set the cwd.

[2015-09-03 06:51] vdemedes commented on #32
Oh damn, what a shame :D Then I am all for it! :+1: Also tired of `join(__dirname, 'fixtures', 'shit')`

[2015-09-03 17:13] mdibaiee opened #34 "How should the test interface be configured?"
Currently we don't have any options, no configuration, but we will need such thing as we go further.

As @sindresorhus said in [this comment](https://github.com/sindresorhus/ava/issues/31#issuecomment-136953972) we can read CLI arguments using `process.argv`, but there should be a real API for configuring test interface, like this:

[code]
If we have this, we can extend the config with CLI argumen

[2015-09-04 02:03] sporto opened #35 "JSX + Babel support"
Would love to use ava with React, JSX and babel

I don't see any option to provide a custom compiler like Mocha, is there one?

[2015-09-04 05:06] sindresorhus commented on #35
Built-in Babel support is about to land in https://github.com/sindresorhus/ava/pull/23. You'll then be able to use ES2015 and JSX without doing anything extra. You can of course supply your own Babel version if wanted.

However, I'm not interested in providing support for custom compilers. AVA is opinionated.

[2015-09-04 05:08] sindresorhus commented on #34
I don't think I made myself clear enough in that thread. The `debug` flag is something we will handle internally, not every user. It will be passed to the [`Runner`](https://github.com/sindresorhus/ava/blob/61cbdbe92d9b8ad0904317736a9672c15dfe7b55/lib/runner.js#L8) which will handle the changes, like making everything serial. The public interface should be as simple and config-less a possible.

[2015-09-04 09:49] mdibaiee commented on #34
@sindresorhus Then how should we check for flags inside test interface? Probably a helper function like this?

[code]

[2015-09-04 09:52] sindresorhus commented on #34
Yes, we can just use something like [`has-flag`](https://github.com/sindresorhus/has-flag).

[2015-09-04 10:30] #34 closed

[2015-09-05 10:29] vdemedes commented on #4
Working on this, PR very soon ;)

[2015-09-06 08:15] vdemedes opened #37 "Generators support"
Would be very useful and insanely cool, if AVA supported generators by default. I am ready to implement this right away. What does everyone think of that?

[2015-09-06 08:28] sindresorhus commented on #37
What does that entail? Can you show an example test of how it would look? What changes would need to be made in AVA?

[2015-09-06 08:39] vdemedes commented on #37
Sorry, should've clarified things more. No major changes are required to make this work and the API would remain exactly the same.

Example test with generators:

[code]

To support generators, [co](https://npmjs.org/package/co) module would be used, because it's the most mature and simple. I've been using it for almost a year now and never encountered any issues.

Also, because Ava already suppor

[2015-09-06 08:40] vdemedes commented on #37
I believe I will have some free time to build a PR today

[2015-09-06 09:28] vdemedes commented on #37
As a workaround, I currently do the following:

[code]

[2015-09-06 10:40] sindresorhus opened #38 "Use promises"
We do a lot of async stuff in AVA. Would be cleaner by using promises instead.

For example here: https://github.com/sindresorhus/ava/pull/36/files#diff-b3b53682a18f203ac8d29b0e277cad26R97

Should use https://github.com/floatdrop/pinkie-promise and https://github.com/sindresorhus/pify.

[2015-09-06 11:00] #20 closed

[2015-09-06 11:13] tunnckoCore commented on #37
It would be easy if use `async-done` + `co` combo under the hood. But if it's done, we should forget "sync" test - in which i dont see value and dont see problem. But also with that it comes other problem - assertion, it cant stay as it is now (passing `t` to the test) - in which, again, i dont see problem, because this would be possible

[code]

Or default (builtin) assertion can be in the contex

[2015-09-06 11:25] sindresorhus commented on #37
@vdemedes Still not sure what's needed to do in AVA. Would AVA have to have `co` as a dependency? With the recent builtin ES2015 support, wouldn't generators just work out of the box? AVA already support promises, which is what `co` returns.

[2015-09-06 11:41] vdemedes commented on #37
@sindresorhus

    What's needed to do in AVA?

AVA would need to detect if a test is a generator function using [is-generator-function](https://www.npmjs.com/package/is-generator-function) and if it is, convert it to a promise using `co`. And that's it, since AVA already supports promises.

    Would AVA have to have co as a dependency?

Yes, `co` would need to be added as a dependency.

    With

[2015-09-06 11:50] sindresorhus commented on #37
Hmm, wouldn't it be better to enable the [async/await](https://github.com/lukehoban/ecmascript-asyncawait) Babel [transformer](https://babeljs.io/docs/advanced/transformers/)? `async/await` is the future of async programming, not hacked up generators.

[2015-09-06 11:52] #4 closed

[2015-09-06 11:54] vdemedes commented on #37
The thing is, nobody uses async/await yet and god knows when it will land in node.js. But generators are widely used today and there are many packages for them. There is also a wonderful [Koa](http://koajs.com) framework, specifically for apps that use generators.

Also, it will not add any overhead to AVA, because the implementation would be fairly trivial. I will send a PR later today to demonst

[2015-09-06 12:08] sindresorhus commented on #37
Alright. PR welcome :)

[2015-09-06 12:38] tunnckoCore commented on #37
:+1:

One fairly simple and built in seconds test runner, built on `benz`, showing its power and flexibility.

[code]

[2015-09-06 12:40] vdemedes commented on #37
@tunnckoCore I am not completely sure what is all this complexity for, if generator support could be added in a few lines:

[code]

[2015-09-06 12:44] MadcapJake commented on #37
Generators don't have good stack traces though.  Also, `async/await` is cleaner looking and is easier to read.  @vdemedes how are you thinking they would be used in a test?

[2015-09-06 12:48] vdemedes commented on #37
@MadcapJake yield with `co` is basically the same as async/await:

[code]

You would use generators in a test just like you are using promises or anything else now, nothing is changing really:

[code]

[2015-09-06 12:49] tunnckoCore commented on #37
yes it can. im just showing how can be done one simple runner with absolute flexibility, low dependencies and working out of the box with all kind of things - generators, promises, callbacks, series and parallel flow, pluggable assertion library and context (which context can be used for sharing contents and/or hooks and timeout as in mocha for example) and sweet controling options, with can be dr

[2015-09-06 13:37] tunnckoCore opened #40 "ES2015 / babel-core through options only"
It's too big to be in the core of AVA and think it should be available only through option like `--esnext` or something like that. Then user just will install it only if they write in ES2015.

[code]

[2015-09-06 17:21] sindresorhus commented on #40
The thinking is that you should only write your tests in ES2015. It's time. We finally have a good transpiler (Babel). You can of course write your tests in ES5, but I want to optimize for the future, not the past. Providing this out of the box without requiring the user to do anything is one of the things that is going to set AVA apart.

I agree Babel is a large dependency, but that's less of an

[2015-09-06 21:13] tunnckoCore commented on #40
Actually yes, maybe you have right and it looks that installing it one time globally is the way. But I think it's not cool, when someone want to do PR and must install it (if he dont use ava).

[2015-09-07 10:55] jenslind commented on #9
What is `.skip()` supposed to do? Skip the whole test? Wouldn't it be easier to have something like:
[code]
So the test never runs? Or do I miss something here?

[2015-09-07 12:44] tunnckoCore commented on #9
@jenslind it won't output his title.
It can't be used (currently, if it is bug) with `t.end()`. Just tried it yesterday.

[2015-09-08 01:42] sindresorhus commented on #9
@jenslind It's supposed to skip the assertion, but right now it tries to skip the whole test, which is clearly wrong.

Going forward:

- [ ] Change `t.skip` to only create a skipped over assertion: https://github.com/substack/tape#tskipmsg
- [ ] Add `ava.skip` to skip over a test.

[2015-09-08 01:53] #38 closed

[2015-09-08 02:16] #22 closed

[2015-09-08 02:21] Qix- commented on #9
What's the advantage of using `ava.skip`? Why not just comment it out? I suppose I'm missing the point.

[2015-09-08 02:35] sindresorhus commented on #9
Yeah, I'm not totally sold on its merits either, but here's the reasoning I've heard:

- Less diff noise.
- It still shows up in the output, but as skipped. So you don't forget to unskip it.
- https://github.com/substack/tape/issues/41

As for skipped assertions; they're better than commenting out as you won't have to change the `t.plan()` count when you want to activate the assertion.

Happy to h

[2015-09-08 02:39] Qix- commented on #9
I suppose I'm more of an orthodox "no useless crap in Git" kind of person. If you take it out, it's clear what happens in the diff, and you can put it back in whenever you need to thanks to a thing called Git. It's the same reason why I don't commit commented out code to begin with.

That's just me, though.

[2015-09-08 04:06] MadcapJake commented on #9
Despite your strong argument @Qix- , I think there still is a case for `t.skip()` and that was mentioned in the referenced tape issue: test-driven development.  Writing skipped tests and sharing them with your team allows other developers to look at how you intend the functionality to work and remove the skip if they try and implement the code needed for the test to be unskipped. Or change the tes

[2015-09-08 04:20] Qix- commented on #9
Idk, I still feel strongly against it. That's what TODO's are for. Though I see your point.

If there is a means by which you convey to a team "Hey, here is a test that *should* work, but doesn't currently - TDD that thing up!", then `skip` is a misnomer. It should be indicated, clearly, that that is the intent behind the test being, for all intents and purposes, commented out.

[2015-09-08 08:26] vdemedes commented on #9
@Qix- I mostly agree with you on the points you mentioned, but I think there should be at least `ava.skip()` method for one simple reason. To avoid constant comment/uncomment loop when you need some test to **temporarily** not be executed. `.skip()` method should not be a seen as a way to make failing test suite to succeed, it should be seen **only** as a convenience method.

AVA should still disp

[2015-09-08 08:39] vdemedes commented on #9
I know this is something very new and unusual, but so is AVA! It needs to be different, otherwise it will end up with no major advantages over tap/tape (aside concurrent execution). I am not pushing on it, let's discuss!

[2015-09-08 13:16] tunnckoCore commented on #9
@vdemedes it looks great! I also was thinking for something like it before few months, but I think this `.warning` would looks better as `t.warning`.

[code]

[2015-09-08 13:19] vdemedes commented on #9
@tunnckoCore the idea behind test modifiers - is to *modify* something related to a test. Like when it executes or if it executes at all. If those modifiers are inside `t`, we won't be able to influence test execution. It would also introduce inconsistency in the API. What's inside a test function, should only be related to the test body, not its description.

[2015-09-08 13:21] tunnckoCore commented on #9
Yes, can agree with you, but i don't think that signature of `test.warning()` is okey.

[code]

[2015-09-08 14:33] MadcapJake commented on #9
@vdemedes :+1: That looks great!

Two possible additional modifiers:

### unless

Opposite of `test.when` i.e., only executes when `testFn` returns `false`.

### critical

If this test fails do no proceed with other tests.  This could be a kind of modified `serial` test so that it's executed first (or at least just with the other serial tests).

[2015-09-08 14:46] Qix- commented on #9
I like that, except for `.when()` and `.unless()` for the same reasons as conditional `t.skip()`.

[2015-09-08 15:57] #10 closed

[2015-09-08 16:10] Qix- commented on #10
Doesn't AVA enumerate tests before running them?

[2015-09-08 16:16] sindresorhus commented on #10
Yup, see the actual commit.

[2015-09-08 16:28] Qix- commented on #10
:+1:

[2015-09-08 17:01] sindresorhus opened #45 "Async function support"
Too early to add just yet, but we can at least discuss it.

[code]

Hot!

I think what would be required is to add support for accepting a promise in the `test` function and enabling the experimental [`es7.asyncFunctions`](https://babeljs.io/docs/advanced/transformers/) Babel transformer. [Spec.](https://github.com/lukehoban/ecmascript-asyncawait)

[2015-09-08 17:06] vdemedes commented on #45
Oh yes, this is awesome. I don't think this feature would have any disadvantages.

[2015-09-08 17:12] vdemedes commented on #9
@MadcapJake +1 for .unless(). What you described about .critical(), is exactly the same as .before() (it's already implemented).

@Qix- .when() is the same as .node() or .browser(), with a predefined testFn. Last two are basically presets. What do you think about ava.test.skip()? If you liked .todo(), then you also agree with .skip() (they are identical).

[2015-09-08 17:20] Qix- commented on #9
I agree with the idea that if you're going to have `.skip()`, then there is a great case for `.todo()` and other types of alerts for documenting *why* this test is being skipped. *All or nothing*, I suppose.

I'm still skeptical about conditional testing, though. Browser vs. Node I can understand, but when it comes down to test vs. test, I could see faulty PRs mistakenly being merged because, let'

[2015-09-08 17:21] MadcapJake commented on #9
@vdemedes oh, I didn't realize that a `.before()` failed test would block the rest of the tests from proceeding.  Do you think it would make sense for there to be `.before()` tests that don't block?  I could see the usefulness of both.

[2015-09-08 19:57] mdibaiee commented on #45
This is great, I used async functions in my last project and it feels super!

From my experience, you have to enable `asyncToGenerator`, too. I don't remember why but I couldn't get it to work with `es7.asyncFunctions` alone.

[2015-09-08 20:03] sindresorhus commented on #45
Since we're already depending on Bluebird, I guess we could use the [`bluebirdCoroutines`](http://babeljs.io/docs/advanced/transformers/other/bluebird-coroutines/) transformer.

[2015-09-09 00:28] mdibaiee commented on #15
We do emit an error when the assertion count doesn't match planned. Why do we need the `_pendingAsserts` in the first place?

I have probably misunderstood this bug, can you please clarify? @kevva

[2015-09-09 09:57] sindresorhus commented on #15
@mdibaiee I think it's related to this: https://github.com/sindresorhus/ava/blob/ff5eebba5d06ea22a1ed1ca5f76f33386bee8381/test/test.js#L245-L247

[2015-09-09 09:59] mdibaiee commented on #15
@sindresorhus: I see, I'll take a look to see if I can fix this when I get some free time.

[2015-09-09 17:31] Qix- commented on #15
If I'm understanding this correctly, the way I've seen it done before is even if `t.end()` has been called and the test passed, an assertion called after that point will re-show the test as failed. You don't need to know the point of last assertion, and you will *never* know thanks to the halting problem.

[2015-09-10 09:19] tomekwi commented on #24
@vdemedes thanks for the fix! The `setImmediate` error is busted.

But now I’ve got another bastard there:

[code]

– coming from https://github.com/kevva/squeak/blob/v1.2.0/index.js#L144.

[2015-09-10 12:12] vdemedes commented on #24
@tomekwi You're welcome!

I see what the problem is, will try to not forget and fix it!

[2015-09-10 12:13] vdemedes commented on #45
In that case, we need to support generators (#37). I can work on this!

[2015-09-10 15:02] tomekwi commented on #24
Great! I can’t wait to check out this awesome trio: *hihat*, *ava* and *[quixote](http://npm.im/quixote)*! *quixote* doesn’t go too well with *tape*, because it’s actually an assertion library.

[2015-09-10 17:41] Qix- commented on #24
Another cool tool, `quixote`. Thanks for the link :dancer:

[2015-09-10 17:49] mattdesl commented on #24
In the browser `process.stdout` doesn't exist and browserify doesn't try to shim it. Tape uses the following to print in the browser:
https://github.com/substack/tape/blob/master/lib/default_stream.js

[2015-09-10 17:53] Qix- commented on #37
[![enhanced-25942-1427414324-7](https://cloud.githubusercontent.com/assets/885648/9796235/57dc4126-57b2-11e5-8e1f-3af91a98425e.jpg)](https://www.youtube.com/watch?v=NuEIsqeRR1o)
---

If we're going to add support for this, we should definitely include `async`/`await`. If we want to be realistic about it, can't we **also** support coroutines? I would personally prefer the standard way, and we're al

[2015-09-10 17:56] Qix- commented on #24
Shimming `process.stdout` would be simple, assuming somewhere along the way you write a newline.

[2015-09-10 18:29] sindresorhus commented on #37
@Qix- See: https://github.com/sindresorhus/ava/issues/45#issuecomment-139216416

[2015-09-10 18:36] sindresorhus opened #48 "Flag to stop after first test failure"
From https://github.com/sindresorhus/ava/issues/9#issuecomment-138639602.

Does it makes sense to have this?

`--bail`, `--fail-fast`, other?

-

On that note, any thoughts on failing-fast by default? Any reason you'd want the test to complete before failing? I'm sure there are since test runners usually run to completion. Just useful to have this documented either way.

[2015-09-10 18:39] sindresorhus commented on #9
I like `.skip()`, `.warning()`, `.todo()`. I think `warning` should just be an option to the normal test methods though. So it would work with both `test()` and `test.serial()`.
Example: `test('foo, {warning: 'haalp'}, t => {});`

Not sold on `.when()`, `.browser()`, `.node()`. I feel those would be better as just `if` statements around the test. I can't think of situation I could have needed thos

[2015-09-10 20:22] vdemedes commented on #48
Yes, this would be a nice option to have.

I would leave this as an option, because AVA is a tool that `enforces writing atomic tests`. So, one failing test does not mean that all the other ones will fail too. But as an option, it is going to be useful for sure.

[2015-09-10 20:29] vdemedes commented on #9
@MadcapJake I think `.before()` tests, that don't block, should just be "regular" tests :D `.before()` is meant to be used for preparation, so if a preparation fails, a test suite fails too.

@Qix- @sindresorhus Ok, let's skip conditional tests for a while. If someone will show a real example when they're needed, we'll review them again, but with an actual project.

@sindresorhus I see the point o

[2015-09-10 20:50] MadcapJake commented on #9
Ok! I see that now! I think I was a bit thrown because it's written as `test.before` which evokes it being a loophole for writing non-atomic tests :stuck_out_tongue_closed_eyes: .  It's documented and written the same as tests so maybe would be a good idea to separate it out and add a little warning note.

[2015-09-10 20:54] vdemedes commented on #9
@MadcapJake No no, the tests are atomic. But the `.before()` preparation does not have to do anything with testing functionality, it is just a preparation step.

Here's a real-world `.before()` use-case. I was writing a `etcd` client. There's also an `etcd` server. To test my client, the server must be running. Before my tests, I use `.before()` to start a Docker container with `etcd` server insid

[2015-09-10 21:30] MadcapJake commented on #9
Right. I understand what it does now, I just meant that it's a bit confusingly laid out in the docs and the API is so similar to tests that it can be a bit decieving.

[2015-09-11 00:56] Qix- commented on #37
:+1:

[2015-09-11 10:19] sindresorhus commented on #9
I'm going to improve the `before`/`after` docs soon.

[2015-09-11 15:07] vdemedes opened #50 "Babelify only test files"
I think we should apply `babel` only to test files, e.g `test.js`, `test/test-something.js`.
Currently, if you have this common code:

[code]

`mylib` will also be run through `babel` and that is not good, because that way AVA transforms library's source code. This behavior could be fixed by setting a regex for `require('babel/register')` to whitelist only test files.

[2015-09-11 15:08] vdemedes commented on #37
And we also need to disable `regenerator` transform in `babel` to not convert generators into some ES5 crap.

[2015-09-11 17:17] sindresorhus commented on #50
:+1:

[2015-09-15 14:11] danielepolencic commented on #24
same issue with https://github.com/kevva/squeak/blob/v1.2.0/index.js#L144 :(

[2015-09-15 14:23] sindresorhus commented on #24
Browserify should already shim `process`, so sounds like either a Browserify bug or an issue with your build setup.

[2015-09-15 14:50] danielepolencic commented on #24
Browserify shims `process`, but looks like it doesn't shim `process.stderr`.

I think that causes https://github.com/kevva/squeak/blob/v1.2.0/index.js#L26 to be undefined and line 144 to fail.

[2015-09-15 14:54] sindresorhus commented on #24
https://github.com/defunctzombie/node-process/issues/35

I guess we can make `squeak` use `console.log`/`console.error` instead in the browser.

[2015-09-15 15:14] danielepolencic commented on #24
I [tweaked the constructor](https://github.com/sindresorhus/ava/blob/5b6c18138de99d2d447859a8c7ec955203c8e084/index.js#L9) and injected the console in `squeak` like you suggested.

This seems to fix the issue. I can run `ava` in `browserify` + `hihat`. :tada: :tada:

I get some errors about `process.exit` and `bluebird`, though.

ATM, I think it would be better to monkey patch `process.stderr` and

[2015-09-15 15:30] sindresorhus commented on #24
Yeah. I guess we could replace the `logger.js` file with a custom `logger-browser.js` using the Browserify replace feature.

And `process.exit = window.close;`. https://github.com/Jam3/hihat#basic-examples

[2015-09-15 15:31] sindresorhus commented on #24
Happy to recommend `hihat` in the readme when we get this working :)

[2015-09-16 02:12] mattdesl commented on #24
Added a ticket about exit: https://github.com/Jam3/hihat/issues/27

Not sure about shimming stderr/stdout in browserify. Seems like browserify's `process` module could provide a polyfill, but all the stream stuff could add a lot of extra bytes to bundles for mostly no gain.

[2015-09-16 02:13] mattdesl commented on #24
With that said; maybe a dumb polyfill could just write console.log and error synchronously, but not attempt to support any other aspect of the stdout/stderr streams.

[2015-09-16 08:06] danielepolencic commented on #24
[This is the line](https://github.com/sindresorhus/ava/blob/5b6c18138de99d2d447859a8c7ec955203c8e084/index.js#L86) that fails with the `process.exit`.

As for [process.stderr](https://github.com/kevva/squeak/blob/v1.2.0/index.js#L26) I think the issue is not as straightforward as I thought.

`ava` *IS* browserify friendly (a part from `process.exit`), but `squeak` is not. In theory, the latter sho

[2015-09-16 08:09] sindresorhus commented on #24
Agreed.

How would it do that? Prefix the console output with logging level?

[2015-09-16 09:20] danielepolencic commented on #24
With the following (hacky) change in `index.js`:

[code]

all the logs from type `success` and `error` are redirected to `console.log`.

Ideally, one would like to have the following mappings between `squeak` and `console`

Squeak Type | logging level
------------|--------------
info        | console.info
success     | console.log
error       | console.error
warn        | console.warn

[winston](h

[2015-09-16 09:40] sindresorhus commented on #24
Shouldn't be hard to patch `squeak` to use `console.log` when used in the browser though. I think that would be the best and less hacky solution.

[2015-09-17 05:30] sindresorhus opened #53 "Prefix test results with filename when running multiple files"
We should prefix the tests with the filename minus extension and prefix `test-` so [this](https://github.com/sindresorhus/got/pull/104/files#diff-4b237e7473a059a1f82a01d75d69c5f1R26) isn't needed.

`test-url.js` with `test('foo bar')` would be:

[code]

-

// @floatdrop

[2015-09-17 10:14] floatdrop commented on #53
Yeah, this would be sweet :sparkles:

[2015-09-17 15:44] scottcorgan commented on #53
Perhaps a way to specify a regex, or something like it, for file naming conventions. I'm not opposed to opinionated libraries, but I know that some people use `_url_test.js` or `url.test.js` or `__test__/url.js`, etc.

Maybe something like a `.avarc` file would be helpful for this (and things like tap output).

[2015-09-17 17:20] sindresorhus commented on #53
I'm allergic to options, but I'm happy to make the normalizing smarter. Any other naming patterns you can think of?

[2015-09-17 18:46] scottcorgan commented on #53
`test/url.js`, `tests/urls.js` is all I can think of

[2015-09-17 21:07] Qix- commented on #53
I personally like dot notation.

With the test name/function being `testQux`:

- `test/test.js` or `test.js` => `testQux`
- `test/foo.js` => `foo.testQux`
- `test/foo/bar.js` => `foo.bar.testQux`

etc.

[2015-09-18 04:18] sindresorhus commented on #53
@Qix- That won't look very pretty for test titles with spaces, which most of mine are.

`test('unicorn rainbow cake')` => `foo.bar.unicorn rainbow.cake`

Probably better to use a non-common symbol, so not to be confused when the user has a test like: `test('foo - bar')` too.

How about `foo › bar › unicorn rainbow cake`?

[2015-09-18 04:49] Qix- commented on #53
`foo › bar › unicorn rainbow cake` is great; just make sure to substitute the character on windows since it doesn't support unicode. :+1:

[2015-09-18 05:09] sindresorhus commented on #53
@Qix- Yup, we can use [`figures.pointerSmall`](https://github.com/sindresorhus/figures/blob/6b8b7482290192d6eeb3e80508f59ad33bc012f7/index.js#L24).

[2015-09-18 06:29] #1 closed

[2015-09-18 06:39] sindresorhus opened #54 "Write some tests for the fork functionality"
https://github.com/sindresorhus/ava/blob/master/lib/fork.js

[2015-09-18 06:58] vdemedes opened #55 "Crash when setting an non-existent path"
[code]

[2015-09-18 07:35] #50 closed

[2015-09-18 09:07] #37 closed

[2015-09-18 09:07] #45 closed

[2015-09-18 12:06] vdemedes opened #60 "Use `asyncToGenerator` in babel.js"
Transform async functions to generators using http://babeljs.io/docs/advanced/transformers/other/async-to-generator/.

[2015-09-20 19:43] matthewmueller opened #62 "Nested tests?"
One thing that's nice about nested tests is being able to support different before, after, beforeEach, and afterEach functions.

Would probably be a pretty large refactor, but I could see API looking like this:

[code]

[2015-09-20 21:24] Qix- commented on #62
With the nature of AVA as I understand, I can't imagine this taking much work.

[2015-09-20 22:00] floatdrop opened #63 "Test silently ignored"
Found here - https://github.com/kevva/download/pull/77#issuecomment-141836144

Consider this test file:

[code]

`ava` will exit silently without `no asserts` test in output.

[2015-09-20 22:02] floatdrop commented on #63
Even if `t.plan` is specified in test - same result.

[code]

[2015-09-20 22:04] shinnn commented on #63
Yeah, ava should exit with non-zero code in this case.

[2015-09-20 22:07] Qix- commented on #63
Doesn't Ava have a timeout?

[2015-09-21 04:07] sindresorhus commented on #62
Shouldn't be very hard. Not sure we want this, though. I've honestly never needed it. You could achieve the same thing with multiple files (which would also be beneficial for parallelism). Do you have a real scenario you could link to where this was useful?

[2015-09-21 04:09] Qix- commented on #62
:+1: for multiple files anyway. I think it's intended to be synonymous with Mocha's `describe()`, which would definitely be better with multiple files IMO.

[2015-09-21 04:13] matthewmueller commented on #62
not a big deal either way. files usually correspond 1:1 with what file they're testing. it's often useful when testing say, a user model, to have different bootstrapping functions.

alternatively, this could also be achieved with something along the lines of:

[code]

which would work without nesting.

[2015-09-21 04:33] sindresorhus commented on #63
Probably related to https://github.com/sindresorhus/ava/issues/15.

[2015-09-21 05:57] floatdrop commented on #63
@sindresorhus yes, tracking pending assertions will cover this case also.

[2015-09-23 16:58] sindresorhus commented on #32
Currently the cwd is the directory you execute `ava` in, but `ava` can be executed from any upper level in the project and will search down for test files, so the cwd is pretty arbitrary and useless. I want to make the cwd actually useful.

There are two options:

1.  Change cwd to root of the project. (This is what gulp/grunt does)
2.  Change cwd to the directory of the currently running test fil

[2015-09-23 17:04] sindresorhus commented on #15
@mdibaiee Did you have a chance to look into it? No worries if not :)

[2015-09-23 18:24] #60 closed

[2015-09-23 18:35] #55 closed

[2015-09-23 20:50] mdibaiee commented on #15
@sindresorhus: Hey, sorry I had forgot about this, busy on a few projects.

I took a look, couldn't find a solution, it *might* be possible if we have a timeout, but then, we can't just wait for the timeout to pass for every test only because it might be doing something wrong.

A funny idea hit my head! Inspecting the test body's code, searching for `<first-argument>.assert` and similar method cal

[2015-09-23 22:59] Qix- commented on #15
Going to assume that was a joke :sos:

---

If things are blocking and async functions are still at play, node won't terminate. You don't have to wait for anything unless it's a faulty test.

[2015-09-24 08:39] mdibaiee commented on #15
@Qix- yeah that was a joke.

How can we know if there are async functions still in progress? I tried calling `process._getActiveHandles()` and `process._getActiveRequests()` but these functions seem to only work for IO handles/requests.

[2015-09-24 18:48] Qix- commented on #15
Because node won't terminate unless they're done executing.

[2015-09-26 18:53] SamVerschueren commented on #28
Should AVA already work with nyc? Trying it out right now but it reports no coverage at all which is quite odd.

[2015-09-26 19:12] SamVerschueren opened #68 "Should t.same use assert.deepStrictEqual?"
Hi

The `t.same` method uses `assert.deepEqual`. This is also true when primitives do not have the same type. When using `assert.deepStrictEqual`, this is not the case.

[code]

Same for `t.notSame`.

If for some reason, the implementation should be kept this way, new assertions can be added? `t.strictSame` and `t.notStrictSame` or something like that.

[2015-09-27 06:57] vdemedes commented on #68
Good point, I think we should switch. @sindresorhus what do you think?

[2015-09-27 07:14] SamVerschueren commented on #68
Not sure when the strict variants where introduced though. They do not exist in 0.12 so maybe we should use a ponyfill for older versions?

[2015-09-27 12:52] sindresorhus commented on #28
We want AVA to work with it, but I haven't tested. Not a top priority right now as we're focusing on finishing the API and performance. Happy to receive some help debugging/PR/etc, though.

[2015-09-28 08:04] #63 closed

[2015-09-28 08:13] #68 closed

[2015-09-30 00:32] ahdinosaur commented on #62
hey. :cat: it's worth mentioning that [`tape`](https://www.npmjs.com/package/tape) supports [nested tests with `t.test`](https://github.com/substack/tape#ttestname-cb), e.g.

[code]

personally, i think this would be awesome for `ava`, especially if `t.test` included all the other methods of `test`, e.g. `.before` and `.after` methods:

[code]

[2015-09-30 12:44] joakimbeng commented on #48
:+1:

On my own laptop I usually want the tests to fail fast, but in an CI environment I think it's good to run all tests and get a report of what didn't work.

[2015-09-30 12:50] sindresorhus commented on #48
What flag name do you prefer? *bikeshedding*

[2015-09-30 14:03] joakimbeng commented on #48
I think I prefer `--bail` as it's in line with other test runners.

[2015-09-30 20:19] Qix- commented on #48
`fail-fast` means more to me as a programmer. I'd have no idea what `bail` meant.

[2015-09-30 20:34] sindresorhus commented on #48
I don't really care what other test runners do. AVA exists because of those. I want something succinct as flag name.

[2015-10-01 04:53] joakimbeng commented on #48
:+1: Then I agree with `--fail-fast` being a better name. Or maybe `--abort-on-fail` but that's too long to be good...

[2015-10-01 04:57] arthurvr commented on #48
I like `fail-fast`.

[2015-10-01 14:24] #53 closed

[2015-10-03 08:55] rwu823 opened #70 "Watch support"
$ ava --watch

Is this a plan?

[2015-10-04 01:25] scottcorgan commented on #70
You could probably just use the [onchange](https://github.com/Qard/onchange) module.

[code]

[2015-10-04 18:35] sindresorhus commented on #35
Babel support landed in AVA 0.2.0.

[2015-10-04 18:35] #35 closed

[2015-10-06 13:52] SamVerschueren opened #73 "throws assertion does not work with await/async"
When using `await`/`async`, the throws() assertion doesn't work.

[code]

[2015-10-06 14:06] vdemedes commented on #73
`throws()` expects a function you are executing to throw. This will not work here, because `async/await` is converted to generator functions, thanks to `asyncToGenerator` babel transform. So, your example is transformed to this:

[code]

For `t.throws()` to catch your error, it needs to check if promise rejects and that's not supported at the moment.

[2015-10-06 14:32] sindresorhus commented on #73
Could be useful though. Let's leave this as a feature request?

[2015-10-06 14:50] SamVerschueren commented on #73
It would make testing for an error really nice and clean.

[2015-10-06 19:04] vdemedes commented on #73
@sindresorhus Yep, let's!

[2015-10-06 19:13] kevva commented on #48
I'd also leave it as an option, although I'm usually hitting `ctrl +c` whenever I see a failed test locally if there are time consuming tests (like in pageres). But most of the times, the tests are finished before that.

[2015-10-06 19:29] kevva commented on #32
Yeah, I like option two too because that's really what is expected. Using the project root would confuse me.

[2015-10-06 19:32] arthurvr commented on #32
Me too. :+1:

[2015-10-09 19:15] alebelcor opened #74 "`.ifError()` name is misleading"
I would expect `.ifError(err)` to check that the passed-in argument is, in fact, an error.

Instead what it does is check if `err` is falsy.

How is this different than doing `.notOk(err)`?
Should it be instead renamed to `.ifNotError(err)`?
Or better yet, change it to check if the argument is an error.

Thoughts?
Thank you!

[2015-10-09 19:26] sindresorhus commented on #74
This is just inherited from the Node.js [`assert` module](https://nodejs.org/api/assert.html#assert_assert_iferror_value).
Can you bring this up on the Node.js [issue tracker](https://github.com/nodejs/node/issues) first?

-

That assert method is pretty irrelvant with promises though.

[2015-10-09 19:56] alebelcor commented on #74
I see, but looking at the `assert` documentation it states that `ifError` "throws value if value is truthy"

If I got that right I think AVA's `ifError` is inverted. It throws the value if it's falsy.

[2015-10-09 20:30] Qix- commented on #74
Can you write a quick test case @alebelcor?

[2015-10-13 04:04] stevemao commented on #32
I think this is more intuitive for people who haven't used mocha. But would this confuse people who just learned `require(./)` and `fs.readFile(./)` as the path are relative to different base?

[2015-10-13 04:20] sindresorhus commented on #32
That's not correct. If you start the node script from the file location they're the same. The point is that running a test is kinda like doing `node test.js` from the test file location.

[2015-10-13 04:24] stevemao commented on #32
True, very intuitive because this is what I thought when I first used mocha :)

[2015-10-13 08:37] SamVerschueren opened #75 "`t.plan` not working in async functions"
`t.plan` isn't working when using `async`/`await`.

[code]

This will throw an error `Assertion count does not match planned`. When using `t.plan(1)` it works correctly but off course doesn't test the length of the data.

This was pointed out here https://github.com/sindresorhus/pageres/issues/213#issuecomment-147634374.

[2015-10-13 10:05] vdemedes commented on #75
I think it's worth explaining why it does not work. When using promises in AVA, it is advertised that `t.plan()` is not needed, because test finishes when promise resolves/rejects. So that's exactly what happens here, async functions are converted into promises by babel. So when a promise resolves, the test is done here and it does not wait for `data` event.

[2015-10-13 17:27] silvenon commented on #73
I tried the provided solution, but it doesn't work for me:

[code]

It doesn't output the test. Am I doing something wrong?

[2015-10-15 20:36] Whoaa512 commented on #70
or nodemon
[code]

[2015-10-16 16:26] floatdrop commented on #74
@Qix- ava have [test case](https://github.com/sindresorhus/ava/blob/master/test/assert.js#L201) for this.

@alebelcor judging by test case `ifError` behaves correctly (throws, if `value` is truthy - [double](https://github.com/sindresorhus/ava/blob/master/lib/assert.js#L92) [negative](https://github.com/sindresorhus/ava/blob/master/lib/assert.js#L18) is always tough, thou).

[2015-10-16 16:27] floatdrop commented on #73
@SamVerschueren why not try-catch?

[code]

[2015-10-16 16:57] silvenon commented on #73
@floatdrop that works, thanks :+1:

[2015-10-16 17:46] SamVerschueren commented on #73
@floatdrop Yes I know that's possible, and I already do that at the moment. But I think it would be a very nice addition that the `throws` assertion method can handle rejected promises. This would make some tests methods a lot cleaner.

[code]

[2015-10-16 22:32] alebelcor commented on #74
OK, then (unless I'm mistaken) this just means that the `readme.md` is inaccurate.

`.ifError(error, [message])` asserts that error is falsy.

[2015-10-17 02:52] Whoaa512 opened #77 "No coverage information can be collected when using istanbul inside npm test"
So I have [this repo](https://github.com/docusign/DocuSign-Node-Client) setup to with `npm test` as `istanbul cover ava -- test/**/*.spec.js`.

However running `npm test` results in the tests running but istanbul exits saying, `No coverage information was collected, exit without writing coverage information`.

Which is weird because simply running `istanbul cover ava -- test/**/*.spec.js` manages

[2015-10-17 03:09] Whoaa512 commented on #77
Read through #47  and found [nyc](https://github.com/bcoe/nyc).

Changed to that and everything works.

[2015-10-17 03:09] #77 closed

[2015-10-17 05:01] floatdrop commented on #74
Well, no.

It [asserts](http://dictionary.reference.com/browse/assert) that error is falsy. It throws if error is truthy.

[2015-10-17 05:01] #74 closed

[2015-10-17 05:43] floatdrop commented on #70
In fact I would be cool, if ava could run only changed test in a file, not a whole file with tests.

[2015-10-17 11:49] floatdrop opened #78 "Forking for every test file is slow"
Update: Blocked by #696

---

Seems like it is not quite good idea to spawn a fork for every test file. I have try'd fresh version of `ava` in [got](https://github.com/sindresorhus/got/tree/ava-0.3) and tests run time get worse (not to mention, that iTunes is getting icky while tests).

- **Local**: 6-8s to 10-12s
- **Travis**: [7.68s](https://travis-ci.org/sindresorhus/got/jobs/85761885) to [16.0

[2015-10-17 17:54] sindresorhus commented on #74
@alebelcor If you have any good suggestions for a better name we might consider adding an alias, but I don't really care much tbh, as the future is promises and async functions which makes this assert method moot.

[2015-10-17 17:54] sindresorhus commented on #74
Related: https://github.com/nodejs/node/issues/3398

[2015-10-17 20:19] sindresorhus commented on #73
In `got`, we have to [repeat `t.fail('Exception is not thrown');`](https://github.com/sindresorhus/got/commit/f7500d474e4f54003682c998d81a3aa9ce61612c#diff-bbc23533bfd4986af19324ccf2e7c4baR27) in a lot of tests, which is pretty sub-optimal.

[2015-10-17 20:20] sindresorhus commented on #73
Anyone wanna try implementing this?

[2015-10-17 21:23] vdemedes commented on #73
Submitting a PR in a minute ;)

[2015-10-18 11:53] sindresorhus opened #80 "Report on unhandled promises"
Promises are silent by default and it's easy to forget handling a promise somewhere down the chain or forget to return the promise in the test. Using [`loud-rejection`](https://github.com/sindresorhus/loud-rejection), we can throw in those cases so the user know they did something wrong.

Need to wait on https://github.com/sindresorhus/loud-rejection/issues/1.

-

Note to self: Document this in th

[2015-10-18 16:38] mralexgray commented on #75
Here's a another simple example of `t.plan()`'s epic fail, along with the working snippet from the `README`...

[code]

Any chance this will be fixed anytime soon?   Seems like a pretty basic/necessary part of any "asynchronous" testing framework, no?

Can I help?  How?

[2015-10-18 17:09] sindresorhus commented on #75
@mralexgray This is completely irrelevant to the issue, which is concerning ES2016 `async` functions, not async in general. Please don't use unproductive words like "epic fail". We have a [passing test](https://github.com/sindresorhus/ava/blob/1d9ea46236e06bb1542d4438dc2b450cf6084fe6/test/test.js#L224-L235) for `t.plan` with an async assertion. It, however, seems like your `success` function is ne

[2015-10-18 18:35] mralexgray commented on #75
Huh, you're right.

In my original code (which I swear I had tried before posting)...
[code]

Maybe I had mistakenly put `t.plan 2` ... or also had a `t.end()` in one of my callbacks?  Regardless, it's working now!  Sorry for the tongue-in-cheek dramatics.  Was just being cheeky 😇

[2015-10-18 18:38] mralexgray commented on #75
@sindresorhus BTW, in your example of the passing test, are you using 'bluebird' promises?  If so, it may be worth mentioning in the `README`'s "promises" section that that is what YOU guys are using, and is an option for test-writers, as well. :-)

[2015-10-18 18:43] sindresorhus commented on #75
We're using Bluebird, yes, but that's an implementation that shouldn't be dependent upon.

[2015-10-18 21:34] #75 closed

[2015-10-19 12:39] kevva commented on #78
Aren't we setting some kind of limit of forks? We should probably not create more forks than there are CPUs.

[2015-10-19 12:48] sindresorhus commented on #78
We're not and tbh it's annoying that we'll probably have too. Why can't the system just pool the load for us instead of we doing it manually? I hate computers so much... Let's experiement with what kind of number is optimal. I'm thinking `(require('os').cpus().length || 1) * 2;`.

[2015-10-19 12:49] sindresorhus commented on #78
We should also look into why forking is so slow. Maybe there's something we can optimize there.

[2015-10-19 12:49] floatdrop commented on #78
@sindresorhus forking is fast, spinning up Node and babel is quite slow.

[2015-10-19 12:52] sindresorhus commented on #78
Node.js isn't slow to spin up, it's requiring things that are slow. Babel caches the compilation, so that should only be an issue on the a cold load.

[2015-10-19 14:47] #48 closed

[2015-10-19 14:56] sindresorhus opened #83 "Programmatic API"
So other tools can use it without having to spawn. Right now I [spawn](https://github.com/sindresorhus/gulp-ava/blob/68dab5150299c7954492421b115889036f20b538/index.js#L20) in `gulp-ava`.

This would also help us have a better separation between the CLI and the API.

The API should be high-level and do whatever the CLI does now, like forking, etc. The CLI would just be a super-thin wrapper calling

[2015-10-19 14:57] sindresorhus commented on #8
Let's punt on this for now until there's an actual need.

[2015-10-19 14:57] #8 closed

[2015-10-19 14:58] #54 closed

[2015-10-19 14:59] #73 closed

[2015-10-19 15:44] sindresorhus opened #84 "Support Observable"
Re https://github.com/mochajs/mocha/issues/1898

-

https://github.com/zenparsing/es-observable

@thejameskyle What do we need to do to support it?

I would guess calling `.forEach()` on the observable as that returns a promise.

[2015-10-19 17:26] thejameskyle commented on #84
https://github.com/phated/async-done

This is the library used to resolve several different async types in gulp 4.0 (streams, promises, observables). You might want to make use of it.

cc @blesh

[2015-10-19 17:55] schnittstabil opened #85 "assert.throws and promises which resolve to error objects"
[Currently](https://github.com/sindresorhus/ava/blob/d14c6e37fa4c9666599e78256cc0c9ccc39d45e5/lib/assert.js#L76-L87), the following test passes:
[code]

[2015-10-19 17:56] schnittstabil opened #86 "assert.throws, promises and regex"
[Currently](https://github.com/sindresorhus/ava/blob/d14c6e37fa4c9666599e78256cc0c9ccc39d45e5/lib/assert.js#L76-L87), the last test fails:

[code]

[2015-10-19 19:01] vdemedes commented on #86
You shouldn't pass regex as a second argument to t.throws(), second arg is error class.

[2015-10-19 19:19] schnittstabil commented on #86
@vdemedes Not according to `readme.md`:

[2015-10-19 19:21] vdemedes commented on #86
Oh, my bad then, never mind. I will look into this issue.

[2015-10-19 20:24] LinusU commented on #80
You are actually already using this, which funnily enough breaks the tests that I'm trying to write for loud-rejection :laughing:

Ava is built with `meow` which includes loud-rejection.

Man was it annoying to track down as well,

[code]

[2015-10-19 20:26] LinusU commented on #80
Another fun fact, calling `console.trace` recursively will run out of memory before hitting max recursion. Found this out the hard way...

[code]

[2015-10-19 20:35] sindresorhus commented on #80
Oh, damn... Although, in the next version of AVA we're spawing each test file in it's own process, so we'll have to explicitly include it then. Try using AVA master as dependency for now. Example: https://github.com/sindresorhus/got/blob/f4cf6c7b44d047d505ed1fdf3a4e361b743bdfc2/package.json#L64

[2015-10-19 20:44] LinusU commented on #80
Hmm, for some reason using master stopped my `process.on('exit', ...)` handler from ever firing... Any idea why?

[2015-10-19 20:45] LinusU commented on #80
Also, I can't get `rejectionHandled` to fire :( tearing my hair out...

[2015-10-19 20:49] sindresorhus commented on #80
@LinusU Maybe just use [`tape`](https://github.com/substack/tape) for testing that module then.

[2015-10-19 20:58] LinusU commented on #80
I think I got everything working, except for the `rejectionHandled`... Let's continue the discussion in that repo

[2015-10-20 12:41] blesh commented on #84
I don't think that `async-done` library supports RxJS 5 observables yet. The better path is to look for `Symbol.observable` on any incoming object, then call it and call `subscribe` on whatever object you get back. This will make it work with Kefir, Most and Bacon now as well I think.

[2015-10-20 13:05] sindresorhus commented on #84
@blesh Can you open an issue/PR on `async-done`?

[2015-10-20 18:34] Whoaa512 opened #87 "Allow non-test files to take advantage of babel compilation"
I'm using AVA to write test some ES2015 source code but I get an error every time I try to do so.

I believe the offending line is in [lib/babel.js](https://github.com/sindresorhus/ava/blob/e9b3e5019de71e00725fa77b4f705c64e86e99c3/lib/babel.js#L8)

Not sure what the appropriate way to expose this should be, other then simply removing that line.

[2015-10-20 18:53] sindresorhus commented on #87
You should explicitly depend on Babel in your own code. The AVA Babel thing is just for tests.

[2015-10-20 23:21] blakeembrey commented on #85
Was just looking at trying out Ava and I'm actually surprised if something like this has support. Why would a resolved promise fail? You should be using `Promise.reject`.

[2015-10-21 03:57] Whoaa512 commented on #87
I don't think I should have to add `require('babel/register')` at the top of every one of my source files. Especially if I already have a separate build process in place.

The use case here is that I would like to test my source files written in ES2015 simply by requiring them in the test file because unit testing should not require the involvement of my build system.

Perhaps exposing a flag in t

[2015-10-21 04:07] Qix- commented on #87
You shouldn't have to. You should only have to do `require('babel/register')` at the top of your entry point script.

[2015-10-21 04:18] Whoaa512 commented on #87
There is no single entry point since I'm individually unit testing each file.

[2015-10-21 06:13] schnittstabil commented on #85
@blakeembrey Mhm, "it shouldn't be failing"? Well, the situation is a bit confusing :wink:

I expect the following:

1. `Promise.resolve(new Error('abc'))` evaluates to a resolved Promise, and not to a rejected one
2. `t.throws(…)` asserts that its Promise argument will become rejected
3. the test *fails* (which it does not)

[2015-10-21 10:00] schnittstabil commented on #9
I don't think `browser` and `node` are very useful - What will be next? `firefox`, `ie`, `rhino`, `ie8`, `node>=0.10` …?

Personally, I prefer feature detection over environment detection:
[code]

But I think the following would be even more flexible:

[code]

Use cases are libraries like [async-done](https://github.com/phated/async-done):

If one want to test the library in environments without e

[2015-10-21 10:12] paazmaya opened #89 "Order of after() and afterEach()"
I have this kind of a setup:

[code]

I was assuming that `after()` would run after all tests, including the `afterEach()` which is running after each individual test cases.
However the final two output lines are:

[code]

I would just like to confirm that is this expected behaviour?

[2015-10-21 11:07] kevva commented on #89
Yeah, it seems like we're running `afterEach` after every `after` too. I don't know if that's intended @sindresorhus @vdemedes or should we change it?

[2015-10-21 15:51] sindresorhus commented on #89
Sounds like a bug.

[2015-10-21 16:12] #87 closed

[2015-10-21 16:38] blakeembrey commented on #85
@schnittstabil Yes, we're in agreement. For some reason I wrote all my comments in the context of the `resolve`, not the `throws`.

[2015-10-21 17:33] kevva commented on #89
FWIW, these are the lines causing it https://github.com/sindresorhus/ava/blob/master/lib/runner.js#L87-L89. Not sure what's the nicest way to solve this. I guess we could pass on option to `_runTest` or something.

[2015-10-22 16:28] vdemedes commented on #89
@paazmaya Thanks for reporting this!

[2015-10-22 17:19] #89 closed

[2015-10-22 18:13] #85 closed

[2015-10-22 18:13] #86 closed

[2015-10-23 06:06] paazmaya commented on #89
@vdemedes thank you for fixing this! :grapes:

[2015-10-23 11:25] dylang opened #92 "async/await fixture tests are unbreakable (or being ignored)"
https://github.com/sindresorhus/ava/blob/master/test/test.js#L760-L766

I've changed the fixtures and the tests to try to make them break and I can't seem to break them.

For example:

[code]

[2015-10-23 11:36] dylang commented on #92
In addition, if I use the fixture as `execCli` is doing, it will pass if the test is in `/fixtures`, but fails if the test file is in the root directory of the repo:

<img width="1067" alt="screen shot 2015-10-23 at 7 27 42 am" src="https://cloud.githubusercontent.com/assets/51505/10691607/5fbdd73e-7958-11e5-9a37-02e5907065b0.png">

[2015-10-23 14:19] sindresorhus commented on #92
That gives me:

[code]

I'm honestly not sure what you're trying to prove with that, though. As we're using `tape` to test AVA. So that has nothing to do with AVA.

-

As for the second comment, that's probably because we limit where Babel would compile.

-

I'm still unsure what the point of this issue is?

[2015-10-23 16:45] dylang commented on #92
Okay, I thought the test wasn't working, but it must be user error. Closing, thanks!

[2015-10-23 16:45] #92 closed

[2015-10-23 18:31] kevva commented on #83
I'll try work on this tomorrow. Definitely needed.

[2015-10-23 19:33] lagden opened #94 "No coverage"
I was using `mocha` + `istanbul`!! Everything was fine, but I tried to switch to AVA because @sindresorhus is awesome!

I took a look in the [GOT](https://github.com/sindresorhus/got)

But my coverage still returns empty! :sob:

<img width="643" alt="coverage" src="https://cloud.githubusercontent.com/assets/130963/10703044/0bc7e922-79ac-11e5-9d10-d5e27363fd35.png">

[2015-10-23 19:37] sindresorhus commented on #94
You have to use [nyc](https://github.com/bcoe/nyc) as AVA spawns the test files.

-

I've been meaning to document this, but I wanted to ensure it works correctly with `nyc` before doing so.

[2015-10-23 19:39] sindresorhus commented on #94
Oh, I just noticed you *are* using `nyc`. Do note that `got` is using master: https://github.com/sindresorhus/got/blob/f4cf6c7b44d047d505ed1fdf3a4e361b743bdfc2/package.json#L64 Try that.

We plan on doing another release in a few days.

[2015-10-23 20:59] lagden commented on #94
I've tried that before open this issue, but ran using `ES6` code. :bug:
And now, I run with `transpiled files` and works almost fine!! :smile:

The coverage file is created apparently right in output folder, but the report appears empty when I run the test. Like the image above in the first post.

Well, I will waiting the new release.

Thanks for reply!

<img width="687" alt="out" src="https://clo

[2015-10-23 21:01] sindresorhus commented on #94
Keeping this open so I don't forget to document it after the new release.

[2015-10-23 21:14] lagden commented on #94
Fine!
Just a small feedback! In Travis, the report output worked!

![travis](https://cloud.githubusercontent.com/assets/130963/10705104/3f462be8-79ba-11e5-94a6-7c219c4e63b2.png)

[2015-10-24 01:15] lagden opened #95 "False positive"
Hi everyone!

I've got a false positive.

The AVA must have an option in `package.json` to disable `Babel` or possibility to config.

What happened!
I had written an library in ES6, but I decide change to current javascript and in the middle of recoding I forgot to remove:

[code]
I ran the test and everything is ok.
So, I used the library in other app and :bug:

[2015-10-24 08:25] sindresorhus opened #96 "`power-assert` feedback"
Opening this just to gather some feedback about the new `power-assert` feature.

[2015-10-24 08:26] sindresorhus commented on #96
[code]

[code]

@twada Any way we could show the value of `foo` here too? I think that could be useful. @vdemedes What do you think?

[2015-10-24 08:37] sindresorhus opened #97 "Remove support for running the test file directly with node"
It's nice in theory to be able to `node test.js`, but the reality is that it complicates the code a lot and by using it that way you miss out on the best features of AVA. It also create diverging code paths that just becomes harder to maintain.

This would also fix #52.

@vdemedes I guess we can remove https://github.com/sindresorhus/ava/blob/c96622d6d8785719d16aa83d129cb5ffccbf9add/index.js#L75-L

[2015-10-24 08:48] Qix- commented on #96
This is badass. This might actually make me switch to Ava. :dancer:

[2015-10-24 09:12] sindresorhus commented on #96
@twada

Currently this:

[code]

Outputs:

[code]

Is there any way to have it output the old simple output when using direct inputs? Meaning no expressions.

Old simple output:

[code]

That output is faster to look at.

[2015-10-24 09:20] sindresorhus commented on #96
@twada @uiureo I've documented the enhanced asserts. Would appriciate your review. Happy to change anything. https://github.com/sindresorhus/ava/commit/89219ce6d64e1b4117c94a712dc96e8e8a37e661?short_path=0730bb7#diff-0730bb7c2e8f9ea2438b52e419dd86c9 :)

[2015-10-24 09:24] vdemedes commented on #96
This is fucking amazing.

@sindresorhus, agree on the simple output, looks way better!

[2015-10-24 10:01] schnittstabil commented on #97
With #83, removing does not have to be a real "either-or decision". It would be up to the user:

[code]

[2015-10-24 13:03] twada commented on #96
First, as an author of [power-assert](https://github.com/power-assert-js/power-assert), I'm so glad to see this happen! :smile:
Thank you @sindresorhus !

I think it's well written.

[2015-10-24 13:07] twada commented on #96
@sindresorhus

[code]

AVA's power-assert output is configured at [ava/enhance-assert.js](https://github.com/sindresorhus/ava/blob/c96622d6d8785719d16aa83d129cb5ffccbf9add/lib/enhance-assert.js#L22-L25) (see `renderers` section)

If you change `powerAssertRenderers.SuccinctRenderer` to `powerAssertRenderers.DiagramRenderer` like below,
[code]

You'll get verbose output like
[code]

It seems nice t

[2015-10-24 13:16] sindresorhus commented on #96
I know I'm asking a lot, but I would like the following not to use `power-assert`, since it's just direct input.

[code]

But this should use `power-assert` since it's an expression and could benefit from the `power-assert` output.

[code]

[2015-10-24 13:18] twada commented on #96
@sindresorhus

Currently, `t.is` is [configured to be enhanced by power-assert](https://github.com/sindresorhus/ava/blob/c96622d6d8785719d16aa83d129cb5ffccbf9add/lib/enhance-assert.js#L3-L13) and power-assert cannot toggle output on and off by captured value for now.

What you mean here is that if two arguments are both in form of Identifier or Literal, and its values are simple primitives, AVA's

[2015-10-24 13:22] twada commented on #96
@sindresorhus

Oh I missed your next question!

[code]

Thank you for your clear example!
My answer is the same as former one --- It's not possible now, but I'll try to make it happen.

[2015-10-24 13:26] sindresorhus commented on #96
It wouldn't nessecarily have to be turned off, could maybe just change the renderer to not show diagrams when `Identifier` or `Literal` is passed. This is just a nitpick/nicetohave, though.

[2015-10-24 13:37] twada commented on #96
@sindresorhus Thanks, it's getting a bit easier.

[2015-10-24 14:27] sindresorhus commented on #97
@schnittstabil The programmatic API is meant for running the tests, not be used in the test file itself.

[2015-10-24 14:31] #97 closed

[2015-10-24 15:41] portgasd666 opened #100 "Time taken to run tests"
Since the big win by running tests concurrently is the time gain is there anyway to actually find out how long tests took to run ? I remember always getting the time taken for tests with Mocha.

[2015-10-24 20:31] dylang opened #102 "When assertion count is incorrect, output the expected and actual values."
I see that the actual count is recorded, but I'm not sure how to see it when running `ava`.

https://github.com/sindresorhus/ava/blob/master/lib/test.js#L150-L158

[code]

The above is using using `master` with `power-assert` added.

Similar output using the published version

[code]

[2015-10-25 06:56] #31 closed

[2015-10-25 15:06] schnittstabil opened #104 "t.same() and sparse arrays"
@twada I think this is an issue of `power-assert`, but I don't know which package is responsible for it.

[code]

Result:
[code]

What I expected:
[code]

[2015-10-25 16:23] sindresorhus opened #105 "after/before/afterEach/beforeEach hooks should not have a title"
It doesn't make sense for them to have a title as you're just hooks.

Should we just prevent it being set in the first place?

[2015-10-25 16:25] vdemedes commented on #105
I'd handle this issue like this:

1. beforeEach/afterEach can't have titles, never display them
2. before/after can have titles and display them **only** when they exist. If before/after hook does not have a title, don't display it.

If any of the supported hook methods fail, display it like usual: `x [anonymous]: error`.

[2015-10-25 16:40] sindresorhus commented on #105
Why? In what cases is that needed or useful?

If a beforeEach/afterEach hook fails, we could show something like: `beforeEach for 'test title' failed`

[2015-10-25 16:46] vdemedes commented on #105
If a beforeEach/afterEach hook fails, we could show something like: beforeEach for 'test title' failed

👍

    Why? In what cases is that needed or useful?

I was thinking, that having titles for beforeEach/afterEach will pollute the output, but titles for before/after won't do much noise. That's the only reason ;)

[2015-10-25 16:50] sindresorhus commented on #105
I figured, but I'm more interested in use-cases for when titles would be useful in before/after? If there are good use-cases, we might want to document that too.

[2015-10-25 16:51] schnittstabil commented on #105
Currently ava supports multiple before(Each)/after(Each) hooks.
It would be convenient to know which one failed (e.g. by its title).
(And also which test _triggered_ that hook.)

[2015-10-25 16:52] vdemedes commented on #105
I can think only of one use-case: I have many before/after hooks and having a title helps me find quicker which one failed. We can't give them friendly titles, like for beforeEach: `beforeEach for "something" failed`.

[2015-10-25 16:58] sindresorhus commented on #105
You could also look at the line number and just go to it in the test file, though.

[2015-10-25 16:58] vdemedes commented on #105
hahaha, I know that, that's why I wrote "find quicker" :D

[2015-10-25 17:00] sindresorhus commented on #105
How is not the line number the quickest way? With the line number you can just go directly to that line using your editor shortcut. With the title you have to search for the correct hook.

[2015-10-25 17:02] vdemedes commented on #105
I'm fine with either options, you just asked for a use-case and here it is :) Let's see what else might come up in this thread.

[2015-10-25 18:07] twada commented on #104
@schnittstabil Thank you for reporting! I'll fix it ASAP.

Feel free to submit issue to top the level project [power-assert](https://github.com/power-assert-js/power-assert/issues) when you are unsure where to report.

[2015-10-25 18:10] schnittstabil commented on #105
The same applies to titles of regular tests :smirk:, but I would vote for keeping them, at least in this case.

Considering the following, I think it would be absolutely sufficient to display the error stack, which includes the function names:

[code]

Displaying the error stack would also indicate that the test script itself is erroneous, and not the _system under test_.

The same holds for befor

[2015-10-25 19:39] twada commented on #104
Just released [stringifier 1.2.1](https://github.com/twada/stringifier/blob/master/CHANGELOG.md#121-2015-10-26) to fix this bug.
[stringifier](https://github.com/twada/stringifier) is a dependency of power-assert-formatter, which follows versionings to semver, so this bugfix is already applied to new installation of AVA.

[code]

@schnittstabil Would you check the fix?

[2015-10-25 20:25] schnittstabil commented on #104
@twada Thanks a lot. Only the quotes does not match.

[2015-10-25 20:34] twada commented on #104
@schnittstabil Unfortunately, string does not have any information of its raw literal value such as quotes (single-quoted, double-quoted and template literals), it won't match. I'm using double quotes as the default stringify strategy that as same as JSON.

[2015-10-25 20:43] schnittstabil commented on #104
That's reasonable. Thanks again.

[2015-10-25 20:43] #104 closed

[2015-10-26 10:55] schnittstabil commented on #70
I think the common use case is watching the source directory and the test directory (not only the current existing files). And I suppose that the sources change far more often than the test.

[2015-10-26 18:28] SamVerschueren opened #107 "Tests are stuck"
I was looking into getting pageres to 100% code coverage. With the new release, it's possible to use `nyc` to test the coverage.

But with 0.3.0, the tests get in a state where they are stuck and do not complete. Actually, all the tests are printed as completed, but AVA is not continuing to the next step.

It's related to specific tests in pageres
1) https://github.com/sindresorhus/pageres/blob/ma

[2015-10-26 18:30] SamVerschueren opened #108 "import statement throws `SyntaxError`"
When running the `pageres` tests, this is the error thrown.

[code]

[2015-10-26 18:47] sindresorhus commented on #108
That's because AVA no longer transpiles required files. That was a nasty bug. It's already fixed in Pageres. Just pull down latest master.

[2015-10-26 18:47] #108 closed

[2015-10-26 18:53] SamVerschueren commented on #108
Good to know! Thanks :+1:

[2015-10-26 19:01] sindresorhus commented on #107
Pageres master with AVA 0.3.0 works fine for me on OS X and Ubuntu. Can you check whether you have frozen phantomjs processes? Can you try running with `$ ava --serial`?

[2015-10-26 19:21] SamVerschueren commented on #107
`$ ava --serial` doesn't help. Will pull the latest changes in tomorrow and try to reinstall my dependencies.  Will keep this updated.

[2015-10-26 19:27] SamVerschueren commented on #107
Couldn't resist... Pulled in the latest version, did `npm install`, ran the tests and it all works just fine. :+1:

[2015-10-26 19:27] #107 closed

[2015-10-26 20:39] Qix- commented on #108
Usually "reserved keyword" error messages are a sign either a library is outdated or your node installation is outdated. :+1:

[2015-10-27 13:42] dbkaplun commented on #62
+1, would you accept a PR for this?

[2015-10-27 13:51] sindresorhus commented on #62
I still feel it's an anti-pattern and nobody has convinced me otherwise. Having tests in separate files instead of nesting has the benefit of cleaner test files and [parallelism](https://github.com/sindresorhus/ava/#isolated-environment).

@vdemedes @kevva Thoughts?

[2015-10-27 15:30] vdemedes commented on #62
Honestly, I don't think it's a good idea. It does not look good, it will cause bugs and it does not make much sense to use `test` as an alternative to `describe` in mocha.

[2015-10-27 15:31] vdemedes commented on #105
So what's the status on this?

[2015-10-27 15:32] vdemedes commented on #100
@sindresorhus should we leave this as a feature request? Or advise to use:

[code]

[2015-10-27 15:32] kevva commented on #100
Don't we have this already?

[2015-10-27 15:34] vdemedes commented on #100
@kevva No, we only report individual test time, when it reaches certain threshold. We don't display total test time atm.

[2015-10-27 15:36] sindresorhus commented on #100
Users can just use `$ time ava`.

[2015-10-27 15:36] #100 closed

[2015-10-27 15:44] dbkaplun opened #109 "Feature request: `test.skip` for skipped tests"
Also, `t.skip` for skipped assertions. Would be great!

[2015-10-27 15:52] sindresorhus commented on #109
See https://github.com/sindresorhus/ava/issues/9.

[2015-10-27 18:59] matthewmueller commented on #62
closing since there doesn't seem to be much interest by the authors.

[2015-10-27 18:59] #62 closed

[2015-10-27 19:49] davidchase commented on #94
I seem to be still having the issue... im currently using `ava@0.3.0` with `nyc` and my coverage is blank...

Is the `ava@0.3.0` you the release that was suppose to happen? i also tried with `ava` from the gihub master branch and same results

[2015-10-27 19:59] sindresorhus commented on #94
@davidchase Can you share something I can test?

[2015-10-27 20:29] davidchase commented on #94
It seems like it was an issue how my nyc config was setup sorry about the previous comment... @sindresorhus do you know how fine tuned we can instrument excludes in nyc?

the setup below seems to include a lot more files than i need covered... maybe this is a better question for the `nyc` repo sorry to bug

[code]

[2015-10-27 20:36] sindresorhus commented on #94
@davidchase `nyc` supports the Istanbul config. Like: https://github.com/vesln/todo/blob/master/.istanbul.yml (I couldn't find the actual docs for that).

[2015-10-27 20:49] davidchase commented on #94
hmm it seems like that `.istanbul.yml` does not work for me as i get no coverage and using the above json config i get too much :disappointed: cant find that happy medium...

[2015-10-27 20:55] sindresorhus commented on #94
@davidchase Open an issue on `nyc`. I'm sure they'll happy to receive feedback on what needs improving ;)

[2015-10-27 20:57] Qix- commented on #94
[code]

Why are you excluding just `node_modules/utils`? Usually you exclude all of `node_modules`.

[2015-10-27 21:21] davidchase commented on #94
@Qix- so i have some files that live the `node_modules/utils` folder and i understood from [excluding-files](https://github.com/bcoe/nyc#excluding-files) setting up just the following config:

[code]
results in empty coverage ...

however specifying the exact folder `node_modules/utils` produces too many results... seemingly pull from other npm packages that live in `node_modules`

[2015-10-27 21:32] Qix- commented on #94
Then yes, this is a bug within `nyc`.

[2015-10-27 23:22] madbence opened #111 "Transpile dependencies of the test file"
`ava@0.3` works smoothly on a clean project, but fails to run on [mine](https://github.com/madbence/spacegame) (tests broke when i've upgraded to from `ava@0.2`):

[code]

I'm sure it's caused by some weird `babel` dependency, so it might be unrelated to `ava`. Last working state is [7d31571](https://github.com/madbence/spacegame/tree/7d31571d0dbdb27a24ba4e4d467d4b0842673081), if i try to upgrade

[2015-10-27 23:26] Qix- commented on #111
Did you try `rm -rf node_modules` and `npm i`?

[2015-10-27 23:27] madbence commented on #111
yup, still the same, btw it might be the same as #108 ?

[2015-10-27 23:28] Qix- commented on #111
Yep, that's my guess.

[2015-10-27 23:33] madbence commented on #111
So right now there is no way to test modules directly? I mean, i have to transpile them first, and test the transpiled files?

[2015-10-28 01:48] #109 closed

[2015-10-28 10:11] sindresorhus commented on #111
Implicitly transpiling dependencies in 0.2.0 was a bug that was later fixed 0.3.0. Transpiling dependencies by default is both surprising and slow. I'm open to considering an option for enabling this, but it will not be by default.

[2015-10-28 12:25] madbence commented on #111
what about allowing something like `$ babel-node node_modules/.bin/ava` ? i'm not really familiar with `ava` internals, so that's just an idea.

[2015-10-28 12:35] sindresorhus commented on #111
That won't work as we spawn the test files. Just use AVA 0.2.0 until we've figured out how to deal with this. Alternatively use a fork where you've removed [this line](https://github.com/sindresorhus/ava/blob/730bf53239371446aa88fb6c5199caf3d48935a3/lib/babel.js#L8).

[2015-10-29 18:29] sindresorhus commented on #102
Confirmed.

[2015-10-30 01:21] axross commented on #111
I agree your consider. I want to run both tests and target codes for tests with Babel. I think that is proper and as it should be.

[2015-10-30 01:23] sindresorhus commented on #111
What should the option be named?

[2015-10-30 03:33] axross commented on #111
`babel-recursive`?

[2015-10-30 05:22] sindresorhus commented on #105
Keep title support for all hooks, but only show it on failure. I realized it can also be beneficial to have titles on them for code readability in the test files if you have many hooks. For the beforeEach/afterEach also show the connected test. (Note to self: This behavior also needs to be documented).

@schnittstabil Not a big fan of `nested-error-stacks`. It creates unparsable stack traces. We c

[2015-10-30 05:23] sindresorhus commented on #95
Sorry about that. This was fixed in AVA 0.3.0. It now only transpiles the test file and not required dependencies.

[2015-10-30 05:23] #95 closed

[2015-10-30 05:40] #15 closed

[2015-10-30 05:41] #21 closed

[2015-10-30 05:44] sindresorhus commented on #28
@Qix- We're now forking each test file. Any recommendation on how we should handle this?

[2015-10-30 06:15] sindresorhus commented on #40
Babel 6 is out and it's smaller, and it will be even smaller with https://github.com/babel/babel/pull/2659/files and https://github.com/babel/babel/issues/2635. Closing this, but I'm going to continue working on bringing down the dependency size.

[2015-10-30 06:15] #40 closed

[2015-10-30 06:16] sindresorhus commented on #78
We could use https://github.com/jaguard/time-require to measure if any of our `require`'s are slowing down the startup. Anyone interested in looking into this?

[2015-10-30 14:53] sindresorhus opened #112 "Don't show title when there's only one anonymous test"
This used to work, but was disabled when we introduced the forking. We should bring it back.

https://github.com/sindresorhus/ava/blob/7a3f4444997099cd571118508f08783bce8a5526/lib/logger.js#L42-L44

[2015-10-31 05:48] jamestalmage opened #113 "power-assert output fails when using async/await"
test.js
[code]

output
[code]

[2015-10-31 06:01] jamestalmage commented on #113
I have cross-posted here: https://github.com/power-assert-js/babel-plugin-espower/issues/6

I can't tell which library is causing the error. Please close if you are confident it is the power-assert plugin.

[2015-10-31 06:24] jamestalmage opened #114 "Match core `assert` API"
I would prefer to do `t.deepStrictEqual(...)` instead of `t.same(...)`, etc.

Keeping the API's the same means one less detail I need to keep in my head.

(no reason `t.same` and other sugar can't stick around, I would just like to have the entire `assert` API implemented).

[2015-10-31 07:16] sindresorhus commented on #114
Not a big fan of aliases tbh. It's a good idea in theory, but they complicate the simplicity. Not in code, but in documentation and overhead for users, as they have to pick the aliases they prefer. AVA is inherently opinionated. This also makes it easier for contributors. AVA is always the same no matter which project you contribute too.

When we implement the possibility to use any assertion lib

[2015-10-31 07:49] jamestalmage commented on #114
Only if they are familiar with AVA's api. The number of people familiar with `assert` > those familiar with AVA. Nearly all the AVA assertions have an `assert` equivalent, so from a certain perspective you have renamed / aliased that.

Why did the team choose to use different names than the core `assert` library? Just your preference? Is it based on some other library?

[2015-10-31 07:57] sindresorhus commented on #114
Another argument against. The Node.js core team have repeatedly said the `assert` module is locked and won't change. That it is mainly for internal use and users should prefer userland assertion libs. In the future we might want to change things which might not be fully compatible with `assert` and it would be confusing to have the same method names then.

https://github.com/nodejs/node/pull/2315#

[2015-10-31 08:09] jamestalmage commented on #114
fair enough.

[2015-10-31 08:09] #114 closed

[2015-10-31 09:06] twada commented on #113
@jamestalmage Thank you for reporting.
And yes, this is caused by power-assert (Thank you for cross-posting this).

[2015-10-31 09:13] twada commented on #113
For now, please avoid using await expression __INSIDE__ assertions.

Doesn't work:
[code]

Would work:
[code]

Sorry for inconvenience, I'll fix it ASAP.

[2015-10-31 09:47] vdemedes commented on #78
I checked and babel takes the most time to require. I'm planning to migrate AVA to Babel 6, will see if there are any time wins.

[2015-10-31 09:51] vdemedes commented on #96
@twada is `babel-plugin-espower` compatible with babel 6?

[2015-10-31 11:36] twada commented on #96
@vdemedes Not yet. I'm [wrestling with Babel6 now](https://github.com/power-assert-js/babel-plugin-espower/pull/5).
Almost done but still doesn't work with `preset`s.

[2015-10-31 16:30] #94 closed

[2015-10-31 16:55] Qix- commented on #28
No idea how signals work with threads. Id have to do some research.

[2015-10-31 17:30] sindresorhus opened #115 "Only run tests for changed code"
Many times you only change code that affects one or a few tests, but still have to suffer through the whole test suite. Would be nice to only run the affected tests instead. This would be a huge win for people with lots of tests.

This is easy on a test file level as we can just recurse the dependency tree and see which test files depend on the changed file. It gets harder for individual tests. He

[2015-10-31 17:31] sindresorhus commented on #28
@Qix- We're not using threads (there are no threads in JS), but subprocesses.

[2015-10-31 18:35] jamestalmage commented on #113
Closing since the issue is in power-assert

[2015-10-31 18:35] #113 closed

[2015-10-31 19:25] schnittstabil commented on #115
Nice challenge! But,  to clarify: [computability theory](https://en.wikipedia.org/wiki/Rice%27s_theorem) tell us, that we cannot only take the diff of two source states and calculate which tests are affected.

Possible approaches to solve this:

1. we run the test before the change and gain information from it (we may persist this in some way or other)
2. we use some restrictions, e.g.: if you use

[2015-10-31 23:15] mrmlnc opened #116 "Unhandled rejection process.send"
After update to 0.3.0 get error:

Version Node.js: 4.2.1
Version NPM: 2.14.7
OS: Windows 10 & Linux
Travis CI link: https://travis-ci.org/mrmlnc/grunt-assetser/builds/88578638

Test file:
[code]

Console:
[code]

[2015-10-31 23:19] vdemedes commented on #116
AVA 0.3.0 removed support for `node test.js`, now you have to use `ava` CLI to run your tests: `ava test.js`. Let me know if it works.

[2015-10-31 23:23] mrmlnc commented on #116
@vdemedes Yeap, it works! :+1:

[2015-10-31 23:23] #116 closed

[2015-11-01 19:34] sindresorhus opened #117 "Upgrade to Babel 6"
https://babeljs.io/blog/2015/10/29/6.0.0/

We need to enforce Babel 6 (for devs wanting to use local version) as it's incompatible with 5.

[2015-11-01 19:35] sindresorhus opened #118 "Babel caching"
Should be done after #117.

See: https://github.com/sindresorhus/ava/pull/103#issuecomment-152853138

[2015-11-01 20:50] sindresorhus commented on #111
@floatdrop Any thoughts as to how we should solve this now that #103 has landed?

[2015-11-01 20:54] #112 closed

[2015-11-01 21:27] dylang commented on #102
It seems simple to change the message in https://github.com/sindresorhus/ava/blob/04b3db5d96d6530d6b03c5f8f4c915dea16cd125/lib/test.js#L155, or would you prefer to use the stored `actual` and `expected` properties in the rederer?

[2015-11-02 05:58] floatdrop commented on #111
@madbence you can require file with following code in tests as workaround:

[code]

@sindresorhus besides this workaround, not really.

[2015-11-02 06:21] sindresorhus commented on #111
We could set the `execPath`, when we fork a test file, to the `babel-node` executable instead of vanilla node.

[2015-11-02 07:04] Qix- commented on #28
Well right. I'd assume each fork would have to register its own signals. I've never done that before, but I'm pretty sure it's analogous to how it works on the native level. And then there's windows...

[2015-11-02 07:19] sindresorhus commented on #28
`fork` in the Node.js sense is just a spawned Node.js process with an IPC channel. So it's just a normal child process with normal process signals. I think the best solution here is to just do nothing. If a test file has a SIGSEGV it will just fail the test file, not all the test files.

[2015-11-02 07:48] sindresorhus commented on #78
I ran `time-require` on a forked test file and here are the results:

[code]

1 second is way too much for just requiring dependencies. We should look into optimizing that somehow.

[2015-11-02 09:37] Qix- commented on #78
Nice tool, I'll add that to my toolbox. :dancer:

[2015-11-02 09:38] Qix- commented on #28
Fair enough. It's an edge case but maybe when the core is a little more stable in terms of the other forking issues that are open, perhaps we can reconsider this. :+1:

[2015-11-02 09:38] #28 closed

[2015-11-02 10:15] sindresorhus commented on #102
The actual stored props should be used, but unsure why they're not. Maybe because we overwrite the stack in https://github.com/sindresorhus/ava/blob/04b3db5d96d6530d6b03c5f8f4c915dea16cd125/lib/test.js#L159.

[2015-11-02 10:21] madbence commented on #115
imho just store dependencies of the tests, if some of them changes, we can rerun the tests. there is no better way to do this (that is simple).

[2015-11-02 10:28] vdemedes commented on #115
This is the way I solved it in my side-project. Run tests under istanbul, check how coverage changes between tests and create a mapping of `test -> depending file line`. After the initial test run, which creates a mapping for all tests, I see what lines in my project have changed. And then I run only tests that "touch" those lines.

[2015-11-02 18:23] Qix- commented on #115
@vdemedes that's clever, but still not theoretically sound. We're still dealing with the halting problem here; we have no idea if the program will run differently given different inputs. Keep in mind *time is an input.*

This means that even though a small code change might only affect one or two tests according to the last run's data, the inputs might change (or the way inputs are interpreted mig

[2015-11-02 18:40] sindresorhus commented on #115
We would store it in `~/.cache/ava/project-name-from-package-json`, not in the project directory.

[2015-11-02 18:41] Qix- commented on #115
What if you change branches in the project?

[2015-11-02 18:53] sindresorhus commented on #115
WE WOULD USE AN LRU CACHE, SO IT WOULDN'T EXPUNGE IT RIGHT AWAY WHEN SWITCHING BRANCHES.

[2015-11-02 19:05] Qix- commented on #115
![accent](https://cloud.githubusercontent.com/assets/885648/10891235/572daede-8162-11e5-82b5-c57716998afa.jpg)

[2015-11-02 19:23] sindresorhus commented on #115
I'M NOT YELLOW. MY CAPS IS STUCK AND I DON'T WANT TO RESTART MY COMPUTER AS I'M ABOUT TO REACH 1 MONTH UPTIME.

[2015-11-02 19:27] Qix- commented on #115
Oh I **know** you did not just edit my comment.
![kissthechicken](https://cloud.githubusercontent.com/assets/885648/10891779/7ab614ce-8165-11e5-85b0-6b346a22d22d.gif)

[2015-11-02 19:33] Qix- commented on #115
*sigh* and not even a history to prove that I'm *not* a potato. Thanks Github.

[2015-11-02 20:09] schnittstabil commented on #115
We should not be worrying too much about obfuscated code, it should only be reasonable and practical…
[code]

[2015-11-02 20:11] Qix- commented on #115
@schnittstabil not quite sure what you mean there.

[2015-11-02 20:16] schnittstabil commented on #115
@Qix- I think it is ok to only consider code patterns usually used. As you already mentioned, this feature can not be *theoretically sound*.

[2015-11-02 20:33] Qix- commented on #115
But by even introducing the possibility of skipping tests that could have been affected by change, you're introducing a chance of introducing regressions into your code base. Further, it becomes the test suite's fault - not something a test suite should do. Ever.

[2015-11-02 20:47] sindresorhus commented on #115
Wallaby.js somehow did it, though.

![8b05b30a-925e-4e3c-a6bd-a5feffa21cf5](https://cloud.githubusercontent.com/assets/170270/10893811/59b1329a-81dd-11e5-9d77-537bd88086d5.gif)

[2015-11-02 20:48] schnittstabil commented on #115
Clearly this feature shouldn't be preset. I would imagine a `--quick` CLI flag, or similar, `--help` may note its inadequacies…

We may also use this in some watch mode: We run the possible affected test first and run the remaining tests afterwards.

[2015-11-02 20:49] Qix- commented on #115
+1 for watch mode. That's a great idea, @schnittstabil.

[2015-11-02 20:54] sindresorhus commented on #115
:+1:

Yes, the intention is to combine it with some kind of watch mode. That's where it would shine. Being able to code and see the test results almost live.

[2015-11-03 16:33] lagden commented on #95
Don't worry...
We are here to try help and make the AVA even better. :metal:

[2015-11-03 17:24] jamestalmage opened #121 "Output every failed assertion or just the first one (currently outputs just the last one)"
[code]

output:
[code]

It would be better if either:
 1. Both assertion failures printed.
 2. If there can only be one, print the first.

[2015-11-03 17:59] Qix- commented on #121
This is strange. BDD/TDD style assertions should throw if the assertion fails. Can you comment out `t.ok(b === c);` and see if it still throws?

Also, you're missing `t.end()`.

[2015-11-03 18:25] jamestalmage commented on #121
Is `t.end()` required when using `t.plan()`? I thought it was one or the other.

[2015-11-03 18:32] jamestalmage commented on #121
[code]

output:
[code]

[2015-11-03 19:14] Qix- commented on #121
This is a bug within `t.ok()`, then...

[2015-11-03 19:36] jamestalmage commented on #121
No, I don't think so. The API seems modeled after [`node-tap`](https://github.com/isaacs/node-tap). Search those docs for reference to `bailout` (implying that it does not bailout on a test failure by default).

It is a bit confusing coming from mocha, etc. But can be fairly handy (especially when your test framework actually shows you every failed assertion :wink:). It might just be that the seco

[2015-11-03 19:37] jamestalmage opened #122 "feat: Provide per test "context" that is shared with "beforeEach""
Right now `beforeEach` has limited utility in concurrent tests. The following won't work because both tests manipulate a shared variable and run concurrently:

[code]

To address this, I think it would be good to provide a `this` reference that is shared between `beforeEach` and the individual test:

[code]

*The above is maybe not the best example and might fail since I doubt we are guaranteeing

[2015-11-03 19:54] schnittstabil commented on #122
I like the current approach: [t.context](https://github.com/sindresorhus/ava/#before--after-hooks) :smile:

[2015-11-03 20:40] Qix- commented on #121
I agree that showing all failed assertions would be nice, instead of just dying on the first one.

[2015-11-03 21:01] jamestalmage commented on #122
CRAP!
How did I miss that?!

[2015-11-03 21:01] #122 closed

[2015-11-04 06:51] sindresorhus commented on #121
Yes, it was modeled after `node-tap`. You can use the `--fail-fast` flag if you want it to bailout after the first failure.

I'm open to supporting showing all assertion failures. I just didn't see the point when I first made AVA. There has been some times that I could have used this since then, though.

@vdemedes What do you think?

[2015-11-04 07:39] vdemedes commented on #121
Honestly, I'm not sure about this one. I agree with @Qix-, it is a bit weird, that failed assertion does not throw. I realize it would be handy in some cases, but it also has its downsides.

Imagine I have a test with Promise A, 5 assertions, then another Promise B inside and 5 more assertions. If it does not fail early, the whole code will be executed and I'll get a ton of errors just for one tes

[2015-11-04 07:52] SamVerschueren opened #123 "`throws` doesn't work correctly with promises"
So, I tried to use the `throws` method in some libraries and found out it doesn't work as it should be or as we expect it should work. Haven't found a solution for this but I have some interesting information (I guess).

#### Immediately rejected promises

This works correctly, if a promise is rejected immediately, the test is done correctly.

[code]

#### Long running promises

Think about networ

[2015-11-04 08:07] jamestalmage commented on #121
@sindresorhus even with `--fail-fast`, the above code still shows the last assertion. Probably because the code is synchronous and `ava` assertions don't throw (I am guessing `--fail-fast` does not make assertions start throwing, but just short circuits the wait for `t.end()`/`t.plan()` in async situations).

I think we all agree that the first test failure is the most important, but I don't think

[2015-11-04 10:30] SamVerschueren commented on #96
Not sure if I should create a new issue for this, but when using promises (await statements), `power-assert` does not show the correct value.

[code]

The result of the promise is not empty, that's for sure :).

[2015-11-04 11:37] twada commented on #96
@SamVerschueren Thank you for reporting!
Currently, power-assert only supports ES6/ES2015 expressions. So `AwaitExpression` is not supported yet and to be supported in next version. BTW, I'll take a look about this behavior.

[2015-11-04 11:38] SamVerschueren commented on #96
Thanks for the feedback!

[2015-11-04 11:38] sindresorhus commented on #96
@SamVerschueren Looks like https://github.com/sindresorhus/ava/issues/113.

[2015-11-04 11:39] SamVerschueren commented on #96
Sorry, should have looked in the issue list first.

[2015-11-04 11:48] SamVerschueren commented on #123
Apparently, this prints `undefined` instead of `Promise`.

[code]

[2015-11-04 12:16] twada commented on #96
@SamVerschueren No problem!

[2015-11-04 13:52] SamVerschueren opened #128 "Time is not calculated correctly when using a fake clock"
I use [sinonjs](http://sinonjs.org/) for stubbing and stuff. But also to use a [fake timer](http://sinonjs.org/docs/#clock) that I can manipulate.

When doing this, times are not calculated correctly.

![screen shot 2015-11-04 at 14 51 42](https://cloud.githubusercontent.com/assets/1913805/10939674/96377ab8-8303-11e5-8a87-a1973dfbf7ff.png)

Will have a look at it myself, not sure when though.

[2015-11-04 14:19] sindresorhus commented on #128
Everything can be overridden, though. We'll have to save references to every single global with properties if we're going to be able to totally fix this. Crazy idea, maybe we should?

[2015-11-04 16:13] vdemedes commented on #121
@jamestalmage I liked your idea on this:

But, there's one reason it is just not possible with AVA - Parallelism. AVA executes all tests in parallel, so there's no way we can modify previous output, because other tests might've displayed in the meantime.

[2015-11-04 16:19] jamestalmage commented on #121
By the time the promise test `bar` has resolved and we are printing `✖ bar`, we should know the state of every assertion that happened inside that test.

[2015-11-04 16:19] schnittstabil commented on #121
We haven't to, `✖ bar ....✖.....✖` is outputted afterwards, but I would agree that the dots and x's would indicate some order, which is misleading.

[2015-11-04 16:20] jamestalmage commented on #121
There is order within an individual test.

[2015-11-04 16:21] vdemedes commented on #121
@jamestalmage that is correct, my oversight ;)

[2015-11-04 16:22] vdemedes commented on #121
I was just thinking about displaying the assert progress live.

[2015-11-04 16:25] schnittstabil commented on #121
@jamestalmage The syntactical order need not match the run-time order:
[code]

[2015-11-04 17:21] jamestalmage commented on #121
@shnittstabil

Two options there:

 1. Just use runtime order. Easy for us. Users just need to be made to understand how it works.
 2. `power-assert` already embeds the line number of the assertion when it instruments code. It would be possible to write a custom reporter that exposed line numbers to `ava`, and we could give syntactical ordering.

[2015-11-04 17:52] twada commented on #121
@jamestalmage @schnittstabil

FYI: extracting line number from power-assert would be easy enough.

If we change [`saveContextOnRethrow`](https://github.com/power-assert-js/empower#optionssavecontextonrethrow) option to `true` in [lib/enhance-assert.js](https://github.com/sindresorhus/ava/blob/master/lib/enhance-assert.js#L30),

[code]

then [`powerAssertContext`](https://github.com/power-assert-js

[2015-11-05 08:05] sindresorhus commented on #117
I think we should defer this for a couple of weeks until Babel 6 settles a bit. I see a lot of issues on the Babel issue tracker that might affect us.

[2015-11-05 09:14] SamVerschueren commented on #123
Can be closed as #127 was merged.

[2015-11-05 09:14] #123 closed

[2015-11-05 10:15] TrySound opened #129 "resolving to a different Babel version"
[code]

[code]

[2015-11-05 10:20] sindresorhus commented on #129
Do you have a local Babel install? If so, what version?

// @twada

[2015-11-05 10:20] sindresorhus commented on #129
@TrySound Not a very useful title. Please try harder the next time ;)

[2015-11-05 10:22] TrySound commented on #129
@sindresorhus I just don't know what is the problem :))
[code]

and global the same

[2015-11-05 12:11] vdemedes commented on #128
@SamVerschueren Could you please create a minimal reproducible example and publish it as a gist?

[2015-11-05 12:30] SamVerschueren commented on #128
Sure, here you go.

https://gist.github.com/SamVerschueren/ec24a03117021ed561fb

This results in the following output

![screen shot 2015-11-05 at 13 29 53](https://cloud.githubusercontent.com/assets/1913805/10968422/53d0f7f8-83c1-11e5-83ef-6b65ec3cce8b.png)

[2015-11-05 12:33] vdemedes commented on #128
Awesome, thank you.

[2015-11-05 13:12] kittens opened #130 "Disable Babel"
Is there a way to disable Babel transforming test files? I'm trying to use ava for Babel core and I'm running into issues getting it to work because Babel links up all it's dependencies and ava is resolving `babel-core` to my 6.0 `master` development version. Happy to submit a PR if necessary!

[2015-11-05 13:34] sindresorhus commented on #130
It might work if you depend on the tagged git version of Babel 5 locally as AVA will use that one instead of the builtin one. I use that trick in XO to be able to lint itself: https://github.com/sindresorhus/xo/blob/dd233cc40a1984a793000f260062c520767a685b/package.json#L78

If that doesn't work, I guess we could add a flag, but I was hoping we didn't have to, as there's no other reason I can think

[2015-11-05 13:45] dananichev opened #131 "JSPM support?"
Is there any JSPM support built-in?

Thanks!

[2015-11-05 13:46] sindresorhus commented on #131
I don't understand the question. JSPM support in what form? Can you elaborate?

[2015-11-05 13:48] dananichev commented on #131
@sindresorhus at least as a module loader. I mean, AVA is obviously supports ES2015 syntax, but JSPM includes SystemJS loader. Will AVA resolve modules correctly?

[2015-11-05 13:55] sindresorhus commented on #131
We just run the test file through Babel.js. Whatever Babel supports, we support.

This might help: https://babeljs.io/docs/setup/#jspm

[2015-11-05 13:55] #131 closed

[2015-11-05 14:54] dananichev commented on #131
@sindresorhus
I suppose it's not that easy.
The problem is: you need to load somehow SystemJS config (generated by JSPM) before running the tests.

Example of the project
https://github.com/dananichev/ava-jspm-example

[code]
results in
[code]

Am i missing something?

[2015-11-05 17:02] sebmck commented on #118
Would be happy to have this in Babel core. Everything is fairly modularised internally so the only file you should need to touch is [here](https://github.com/babel/babel/blob/master/packages/babel-core/src/api/register/cache.js).

[2015-11-05 17:05] unlight opened #132 "Add test.only()"
I could not find `test.only` in api documentation. Similar to [tape's test.only](https://github.com/substack/tape#testonlyname-cb) or mocha's `it.only`.
Is it exists?

[2015-11-05 17:52] forabi commented on #129
I have the exact same error on Linux, so apparently it does not have anything to do with Windows.
Here is my `devDependencies`:

[code]

My `.babelrc`

[code]

[2015-11-05 18:00] vdemedes commented on #132
`test.only` does not exist at the moment. We're having a long discussion on test modifiers at the moment - #9.

[2015-11-05 19:23] af opened #133 "Feature request: Shorthand for synchronous tests"
Ava looks great, and I'm tempted to switch some projects from `tape` to it. There's one thing that really bugs me though, and it's the same with `tape`:

[code]

In purely synchronous tests like this, the `t.end()` is boilerplate that really serves no purpose. `t.plan(n)` is even worse for sync tests because you have to constantly update it when you add more assertions. I'd love to see a sync shor

[2015-11-05 21:56] TrySound commented on #129
@sindresorhus I use npm3. Maybe babel5 doesn't work on it?

[2015-11-05 22:52] jamestalmage opened #137 "Properly handle forked processes that exit without any tests / sending results."
This is a tracking issue for the discussion started in #136.

The relevant comment:

[2015-11-06 00:35] markthethomas opened #138 "Looking to help out"
Would love to help out with this project; are there any major areas of need or places I should get started? Was looking through some of the open issues but wanted to check here, too. Thanks! :+1:

[2015-11-06 04:39] ArtemGovorov opened #139 "Context set in beforeEach is not available in tests"
Test file:
[code]

Result:
[code]

[2015-11-06 04:48] ArtemGovorov opened #140 "Planned assertion documentation issue (or planned assertion bug)"
Readme says:

[code]

however running the test gives:
[code]

[2015-11-06 05:11] ArtemGovorov opened #141 "Raise events to allow better external integration"
Hey guys, AVA looks promising!

I have started adding AVA support to wallaby.js and so far it looks awesome:

![n](https://cloud.githubusercontent.com/assets/979966/10989814/c57074ca-8497-11e5-89cd-73bd78c6d371.gif)

I did however have to monkey-patch a couple of functions to get the data I need for the integration. Other testing frameworks, such as Mocha and Jasmine, expose some APIs (in one form

[2015-11-06 05:58] ArtemGovorov commented on #115
Wallaby.js core developer here, here's our 2c of experience with it:

As it has been mentioned a few times in the discussion, there's no theoretically waterproof solution. We use runtime analysis powered by instrumentation collected data plus a bazillion of heuristic rules of various nature, plus framework specific hacks, plus additional data received directly from a specific code editor that we i

[2015-11-06 09:37] vdemedes commented on #139
Copy-pasted your code and ran with ava#master:

<img width="202" alt="screen shot 2015-11-06 at 10 36 44 am" src="https://cloud.githubusercontent.com/assets/697676/10993832/4d3174fc-8472-11e5-9984-c0c20b93c119.png">

Are you using master branch or installing via npm?

[2015-11-06 09:37] schnittstabil opened #142 "assert API design"
I've just found out that the `error` argument of `.throws` is not optional

and that `.regexTest` is not consistent with the rest of the assertions:

because of its parameter order (all other assertions follow the basic scheme `(actual, expected, message)`).

I'm not sure if these were intended…

[2015-11-06 09:38] ArtemGovorov commented on #139
npm

[2015-11-06 09:40] vdemedes commented on #142
Could you please attach some code to both of these?

I just tested the first one and it works as expected, even when I don't set `error` argument:

[code]

[2015-11-06 09:41] vdemedes commented on #139
There were some changes in the way we set context after the release (I think), so as I see, this issue is resolved in master.

[2015-11-06 09:42] ArtemGovorov commented on #139
Ok, thanks for the update!

[2015-11-06 09:42] #139 closed

[2015-11-06 09:42] vdemedes commented on #141
Glad you like AVA!

Could you please provide some examples, what kind of events are you interested in?

[2015-11-06 09:44] vdemedes commented on #140
This is happening, because when first `t.pass()` is executed, AVA exits the test and treats it as finished. We had a TODO test for this case before, but removed it because we could not find a good & stable solution for this one.

[2015-11-06 09:45] vdemedes commented on #137
In my opinion, AVA shouldn't exit with failure, if there were no tests in a file. There was no failure, so why indicate the failure?

[2015-11-06 09:46] vdemedes commented on #137
I think just a friendly warning message, that there were no tests defined would be good.

[2015-11-06 09:47] Ivan-Feofanov commented on #116
I have the same error when use gulp-ava package

[2015-11-06 09:50] vdemedes commented on #116
@Ivan-Feofanov See https://github.com/sindresorhus/ava/issues/116#issuecomment-152780353

[2015-11-06 09:50] ArtemGovorov commented on #141
Here are a couple events from `Runner` I'm interested in:
- an event before a test starts, passing the `Test` instance.
- an event when a test completes, passing the `Test` instance.

I know there's the `test` event raised from `Runner`, it somewhat addresses the second even request, but it would also be great to have a `hook` property on the `Test` instance to be able to distinguish between tests

[2015-11-06 09:52] jamestalmage commented on #137
The child process should always send a `results` message though right? Even if it had zero tests?

My point is that if the process exits without sending the `results` message, then something happened that prevented `ava` from sending it. That is out of the ordinary and should be an error.

If there are no tests in a file, and ava sends a result `testCount: 0`, that's fine (give the friendly warnin

[2015-11-06 09:53] vdemedes commented on #116
@Ivan-Feofanov Could you please open a new issue with a more detailed description?

[2015-11-06 09:56] Ivan-Feofanov opened #143 "gulp-ava error: process.send is not a function"
When using gulp-ava get error:

[14:54:30] Using gulpfile ~/work/ctx-ava/gulpfile.js
[14:54:30] Starting 'test-ava'...
[14:54:31] 'test-ava' errored after 875 ms
[14:54:31] Error in plugin 'gulp-ava'
Message:
    Command failed: /home/feofanov/work/ctx-ava/node_modules/gulp-ava/node_modules/.bin/ava /home/feofanov/work/ctx-ava/test/test/ava/test.js --color
TypeError: process.send is not a function

[2015-11-06 10:00] vdemedes commented on #137
Yes, and according to `index.js` it should work now that way. Need to confirm this.

That is correct, an error should be displayed in that case. But this issue is about files with zero tests, so it's unrelated here.

[2015-11-06 10:00] vdemedes commented on #143
What gulp-ava version are you using?

[2015-11-06 10:03] Ivan-Feofanov commented on #143
0.2.0

[2015-11-06 10:18] schnittstabil commented on #142
@vdemedes That is true, it works but:
1. it is not documented, so the behavior might change
2. `.throws(function|promise [, error][, message])` currently does not work as expected with #125:

[code]

Before #125:
[code]

After:
[code]

About `.regexTest`:
[code]

[2015-11-06 10:22] vdemedes commented on #143
Just tried gulp-ava@0.2.0 with an official example (https://github.com/sindresorhus/gulp-ava) and it works. I assume you linked some future version of AVA into your directory.

[2015-11-06 10:22] SamVerschueren commented on #142
Then the notation should be something like this

`.throws(function|promise [, error [, message]])`

[2015-11-06 10:23] Ivan-Feofanov commented on #143
I use ava 0.3.0

[2015-11-06 10:25] vdemedes commented on #143
I just realized we are in ava repository, not gulp-ava. So, this is unclear why it's failing now. Could you please prepare a set of steps to reproduce your error and open this issue over at https://github.com/sindresorhus/gulp-ava? Thanks.

[2015-11-06 10:26] SamVerschueren commented on #18
Agree on this one, but should be implemented after https://github.com/sindresorhus/ava/issues/27 I guess. If people want the full blown output, they can then enable another reporter.

[2015-11-06 10:38] schnittstabil commented on #142
@SamVerschueren That is possible and I would recommend that, even though switching from [assert.throws](https://nodejs.org/api/assert.html#assert_assert_throws_block_error_message)  is no longer so simple.

[2015-11-06 10:41] SamVerschueren commented on #142
This is mentioned by @sindresorhus a couple of times, as well in #125.

That assertion module is not a binding contract. That's also the reason why AVA isn't using the same names as the `assert` library, to abstract away the implementation.

[2015-11-06 10:54] vdemedes commented on #18
Yeah, reporters are an important feature to implement. But I think we're not "there" yet, there are some issues that have a much higher priority.

But once those are resolved, I am 100% on board with implementing custom reporters.

[2015-11-06 10:54] #143 closed

[2015-11-06 10:56] vdemedes commented on #141
Sounds reasonable to me, I think it'd be great to have this anyway.

@sindresorhus @kevva what do you think?

[2015-11-06 11:34] schnittstabil commented on #142
@SamVerschueren I knew that and I like #125, the problem is, in contrast to most assertions in AVA, the name (`throws`) is the same and developers who switch to AVA may experience unexpected hard to grasp behavior.

Maybe we should introduce our own *throws* assertions with a different name, in particular, because nodes `throws` and `doesNotThrow` suffer from many problems:

[code]

[2015-11-06 11:43] SamVerschueren commented on #142
Not sure about a name change, `throws` seems the shortest and most explanatory name for this. Something like `t.exception` doesn't feels right.

IMO people should read the docs, and I understand that some of them might think it has the same syntax, but then again, `RTFM?` ;).

I guess @sindresorhus would be happy to give his thoughts on this.

[2015-11-06 11:49] schnittstabil commented on #142
I think of more powerful assertions, maybe with different parameters. As this would also support Promises, `rejects` seem reasonable.

[2015-11-06 16:42] forabi commented on #129
@TrySound Well, I thought that was the cause, so I switched to node 0.12 and npm 2, but the issue is still present. So it is not that either.

[2015-11-06 16:51] sindresorhus commented on #141
Cool! Makes sense. PR welcome.

[2015-11-06 17:36] sindresorhus commented on #118
@sebmck Oh cool. Are you ok with exposing the cache functionality? We're not using the require hook, so we need to be able to access the cache functionality from the Babel API.

[2015-11-06 17:46] Lalem001 commented on #130
Hello @sindresorhus, I have a case you may wish to consider.

I am looking to use AVA to test a node `^4.2.0` app that uses the built in ES6 features without babel.

Is this a case you would be willing to support?

[2015-11-06 17:54] sindresorhus opened #144 "Missing module error with the babelification"
@floatdrop after 1d5ef4c5f6fcb70f9e90e584dfd08865db1e93b4 landed I'm now getting this error when testing `got` using master.

[code]

[2015-11-06 18:29] sindresorhus commented on #133
Not sure about this. You only save 3 characters. I'll think about it.

-

In hindsight `test()` should have been purely sync and async would be activated by using an async function. That would have been so much cleaner.

[2015-11-06 18:39] floatdrop commented on #144
@sindresorhus babel transpile files with `async` and add

[code]

At the top, but in `module.paths` of test there is no `babel-runtime` module:

[code]

It looks like we should add some paths to `paths` property, but Node.js behaves the same way. Will look further in require hook for solution.

[2015-11-06 18:46] SamVerschueren commented on #142
`raises` seems more appropriate.

If we go for a name change, I would not keep `throws`. It will confuse people because it has two methods that are almost identical, just to be consistent with `assert`. Again, that is not the intention of AVA (but I guess you already know :)).

It's certainly not up to me to make this decisions.

[2015-11-06 18:48] SamVerschueren commented on #133
Actually, this is possible by "abusing" `async` :).

[code]

[2015-11-06 18:48] af commented on #133
It's a young project, pre-1.0, so it's not too late :)

IMO it helps for readability/comprehension to show that the test should be fully synchronous. It's not so much about saving characters (although that's nice), more to display the intent of the code more clearly, without any unnecessary elements.

[2015-11-06 18:54] SamVerschueren commented on #133
If all tests where written in ES2015, `t.end` could be dropped entirely. Either they are sync

[code]

or they are async

[code]

But I guess lot's of people are still using callbacks which makes `t.end` necessary. We can't force them to use promises, right? :)

[2015-11-06 19:02] floatdrop commented on #144
Removing `runtime` from `optional` helps.

[2015-11-06 19:51] floatdrop commented on #144
So including `runtime` into optional makes Babel place `require` at the top. Removing it will work for Node.js with generators.

For Node.js 0.10.x we need `regenerator` runtime, which is depends on global `Promise` - https://github.com/facebook/regenerator/issues/142 (like `co`). Babel includes regenerator runtime + core.js polyfills, when used with `babel-core/register`.

We could append regener

[2015-11-06 22:21] boneskull opened #145 "FAQ misconceptions"
1. Mocha does not require `describe`, etc to be in the global namespace; the default interface (`bdd`) does, however. It is one interface amongst several.

2. Mocha provides TAP output as an available reporter but is not otherwise tightly bound to TAP.

1) is a common misconception, but I'm not sure where 2) came from.

Addressing bloat and performance are two issues on Mocha's radar. Would apprec

[2015-11-06 22:22] boneskull commented on #145
3. Is not supposed to be in the list and instead refers to point 1. Sorry on mobile

[2015-11-06 22:22] boneskull commented on #145
3) dammit

[2015-11-06 22:42] vdemedes commented on #142
Oh no, let's not change the name of `throws()`. `rejects` looks like it supports only promises and `raises` is from Ruby.

All we have to do, is to fix & stabilize issues pointed out in the first comment.

[2015-11-07 02:33] uiureo commented on #129
This might be because `babel-plugin-espower` does not use a local babel.

https://github.com/sindresorhus/ava/blob/1d5ef4c5f6fcb70f9e90e584dfd08865db1e93b4/lib/babel.js#L12

[code]

This should be a mistake. I'll create a PR if I can reproduce it.

[2015-11-07 02:41] uiureo commented on #129
Reproduced in npm 2.14.2.

package.json
[code]

test.js
[code]

[code]

[2015-11-07 03:15] twada commented on #129
@sindresorhus I'm so sorry that I missed your ping.

@uiureo

Thanks a lot!

[2015-11-07 04:13] #129 closed

[2015-11-07 04:18] sindresorhus commented on #144
This sounds like the best solution, but I would say we go with the fastest solution now. We can do it properly later. This issue is blocking AVA 0.4.0, so would be nice to get it fixed as fast as possible.

[2015-11-07 04:19] sindresorhus commented on #144
Are we including this now? If not, that's a regression too.

[2015-11-07 04:45] uiureo commented on #129
@TrySound @forabi The patch has been merged into master. Could you try it?

[2015-11-07 04:51] jamestalmage commented on #130
@Lalem001

By default, AVA will only instrument your tests, not production code. There is no good reason not to take advantage of Babel instrumentation in your tests.

[2015-11-07 04:56] sindresorhus commented on #130
Node.js 4.2.0 is missing a lot of ES2015 features. Also nice being able to use ES2016 features like async functions. Disabling Babel will not only disable Babel, but also the enhanced asserts. I plan on looking into creating Node.js version specific presets, so it only transpiles what's not supported natively. This became a lot easier to achieve with Babel 6.

[2015-11-07 05:00] jamestalmage commented on #130
That was on my radar as well. Lets not duplicate effort.

[2015-11-07 05:04] jamestalmage commented on #96
@SamVerschueren - async/await fix is in master.

[2015-11-07 05:26] sindresorhus opened #148 "Node.js version specific Babel presets"
So Babel only transpiles features not already supported by the platform.

@jamestalmage said he's interested in looking into this.

[2015-11-07 05:27] sindresorhus commented on #130
@jamestalmage Yeah, only an idea yet. Feel free to take it on. Let's continue this in https://github.com/sindresorhus/ava/issues/148.

[2015-11-07 05:37] jamestalmage commented on #148
Looks like work has already begun:

https://www.npmjs.com/package/babel-preset-es2015-node5
https://www.npmjs.com/package/babel-preset-es2015-node4
https://www.npmjs.com/package/babel-preset-node5

Still, I think it might be better to automate this.

I am thinking of create a test-file for each of the [available plugins](https://babeljs.io/docs/plugins/#es2015) that uses the specific feature that

[2015-11-07 05:48] sindresorhus commented on #148
Wouldn't live feature testing be slow? I had a similar idea of doing the feature testing for every major Node.js version before publishing.

[2015-11-07 05:55] jamestalmage commented on #148
Yes - as part of the update process. Not live testing.

After the test suite runs we output a file for that specific version in a subfolder:

[code]

or something like that.

[2015-11-07 06:02] #145 closed

[2015-11-07 06:05] sindresorhus commented on #145
Ok, I've clarified it in the readme, but the reality is that most people just use the default interface. The TAP part is regarding node-tap/tape, not Mocha. Feel free to do a PR if you think anything else could be said better or something. I'm not trying to bash on Mocha. Just my opinion on it. I was a happy user for a long time.

[2015-11-07 06:06] sindresorhus commented on #148
:+1: That's exactly what I was thinking.

[2015-11-07 06:09] FuzzOli87 opened #149 "Can't upgrade to Babel 6"
I tried to install the latest Babel 6 since I'm starting a new project. When I installed the latest Babel to my devDependencies the two simple test kept failing. So I removed them from my devDependencies and it worked. I wrote my actual tests now and well, I need Babel to run my code.

Is it normal behavior to break AVA if I install the the updated Babel to my devDependencies?

[2015-11-07 06:10] jamestalmage commented on #148
It might be cool to fetch the actual plugins from `npm` on demand as well (so `npm install` goes faster in newer versions of node). We could give back a few CPU cycles to travis-ci.org that way.

Definitely not something to target for the first release, but might be interesting to play with down the road.

[2015-11-07 06:17] sindresorhus commented on #149
We don't support Babel 6 yet: https://github.com/sindresorhus/ava/issues/117

[2015-11-07 06:17] #149 closed

[2015-11-07 06:21] SamVerschueren commented on #96
Awesome! :+1:

[2015-11-07 06:26] boneskull commented on #145
Thanks.  I don't expect everyone to be in love with Mocha; it has some fundamental flaws that need addressing.  If we end up stealing some of your ideas, please consider it flattery. :smile:

[2015-11-07 06:33] sindresorhus commented on #145
Please do. I would like to see Mocha improve too. AVA is not for everyone. Most will continue using Mocha. I'm just trying to move testing forward for everyone :)

[2015-11-07 06:44] schnittstabil commented on #130
That seems to be true, but Babel polyfills are also available in production code, making AVA almost unusable for testing polyfills:

[code]

[code]

[code]

Or is this a bug?

[2015-11-07 06:53] jamestalmage commented on #130
Ah - that is a good point. Not sure if @1d5ef4c5f6fcb70f9e90e584dfd08865db1e93b4 (landed in master, but not published) will address that.

[2015-11-07 07:12] jamestalmage commented on #144
Simply installing `babel-runtime` locally fixed.

It seems to me the [`requireFromString` line](https://github.com/sindresorhus/ava/commit/1d5ef4c5f6fcb70f9e90e584dfd08865db1e93b4#diff-c56ba0fef1bb510acefb4680eb31e9c6R28) is causing the error.

requires in the transpiled code are trying to resolve from the wrong directory to get access to `babel-runtime`. The resolution is happening from the base

[2015-11-07 07:18] floatdrop commented on #144
@sindresorhus all polyfills now excluded from tests, because they affect tested code. I guess fastest way is to revet this commit and use `babel/register`.

@jamestalmage resolution is happening in right directory, but yes, there is no `babel-runtime` around, so we either need to append parts of it to code (`regenerator` and `Promise`).

[2015-11-07 07:54] sindresorhus commented on #142
I would prefer not to change the name of `.throws`. A lot of things will differ from the core `assert` module. Even more when we evolve further. I think we should rather fix the issues mentioned here and document clearly that the API is not core `assert` compatible.

As for `regexTest`, that unfortunate, but honestly, do we even need it now that we have `power-assert`? `t.true(/foobar/.test(foo));

[2015-11-07 08:37] sindresorhus commented on #121
I'm ok with switching to showing the first assertion instead of the last, but I'm still undecided about showing multiple asserts.

[2015-11-07 08:43] floatdrop commented on #130
@jamestalmage yep, thats what that fix was for, it still need some work thou (#150).

[2015-11-07 09:02] jamestalmage commented on #121
What if we created an alternate one-line format for all the subsequent failures:

https://github.com/power-assert-js/power-assert-formatter/issues/21

[2015-11-07 09:30] lijunle commented on #132
+1 on this feature.

I am considering to migrate from mocha to AVA. However, keep easy test failure debug experience is one of my concerns - `test.only` is the key to do so.

[2015-11-07 10:41] TrySound commented on #129
@uiureo Seems like it works. Great!  @sindresorhus Need to make hot patch. When you can release?

[2015-11-07 10:45] sindresorhus commented on #129
https://github.com/sindresorhus/ava/milestones/0.4.0

[2015-11-07 10:46] TrySound commented on #129
Okay. Thanks.

[2015-11-07 10:52] sindresorhus commented on #144
With Babel 6 we can use https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-runtime, right?

[2015-11-07 10:58] sindresorhus commented on #144
Actually, in the Babel 5 docs it says that the `runtime` plugin does not pollute globals:

https://github.com/babel/babel.github.io/blob/862b43db93e48762671267034a50c30c00e433e2/docs/usage/runtime.md

[2015-11-07 11:07] floatdrop commented on #144
@sindresorhus then it is worth to workaround require somehow:

- install `babel-runtime` as peer-dependency
- hack on `m.paths` in `require-from-string`
- replace runtime require path with resolved one

[2015-11-07 11:14] sindresorhus commented on #144
Are you sure you meant `peerDependency`? They don't install anything, but rather only warns the user to manually install it. I don't think we'd want that.

[2015-11-07 11:23] floatdrop commented on #144
@sindresorhus yeah. I think I give a `m.paths` a shot, because I don't want to mess with replacing `require` statements.

[2015-11-07 11:26] sindresorhus commented on #144
Agreed.

[2015-11-07 12:57] #144 closed

[2015-11-07 13:00] sindresorhus opened #152 "Improve babelification"
Continuation of https://github.com/sindresorhus/ava/issues/144.

From #151:

I don't think this is optimal. We should look into better solutions long-term.

[2015-11-07 13:21] sindresorhus commented on #139
https://github.com/sindresorhus/ava/releases/tag/v0.4.0

[2015-11-07 13:21] sindresorhus commented on #129
https://github.com/sindresorhus/ava/releases/tag/v0.4.0

[2015-11-07 13:22] TrySound commented on #129
@sindresorhus Thanks

[2015-11-07 15:29] sindresorhus opened #154 "No longer working on Node.js 0.10"
Not sure why the tests didn't catch this.

[code]

[code]

// @floatdrop

[2015-11-07 15:58] floatdrop commented on #154
@sindresorhus most likely, because [this line](https://github.com/sindresorhus/ava/blob/master/lib/fork.js#L36) rejects to `undefined` and `cli` trys to get `stack` from `undefined`.

[2015-11-07 16:01] sindresorhus commented on #154
Yup, but I'm unsure why. That test should pass, but it's rejecting somehow.

[2015-11-07 17:01] floatdrop commented on #154
@sindresorhus probably because we [kill](https://github.com/sindresorhus/ava/blob/master/lib/fork.js#L29) process after all tests are done - and sometimes Node.js 0.10 will return `SIGTERM` exit code (143) which is trigger `error` handler.

[2015-11-07 20:43] jamestalmage commented on #154
Should we be sending a different kill signal?

https://nodejs.org/api/process.html#process_signal_events

Maybe the forks should just be in charge of terminating themselves.

[2015-11-07 21:37] jamestalmage opened #156 "Allow babel transpilation of test helper files."
We are doing all this work to ensure babel does not leak into any file but the test file, but there is a downside for "helper" files, etc.

The other option would be to hook require and make them provide some sort of `include` / `exclude` glob.

[2015-11-07 23:25] rmg commented on #140
I think the docs could use a little more clarifying. A common problem with test plans is forgetting to update them when new assertions are added. In cases where the assertions happen asynchronously (the primary use case for test plans), they are not seen even if they fail. The suite will continue to pass, even though failing tests have been added.

While this is less of a problem if one is discipl

[2015-11-08 00:33] jamestalmage opened #157 "global cli broken if there is any babel version mismatch"
If there is any difference in the babel-version installed globally, vs that installed locally, you get:

[code]
We could use [`fallback-cli`](https://www.npmjs.com/package/fallback-cli) to always use the local install of ava if there is one. Things might get weird if they had no local install, but did have `babel-runtime` installed locally. I'd need to play with it.

@sindresorhus I'm happy to tac

[2015-11-08 03:37] uiureo commented on #157
The `babel-plugin-espower` issue is fixed in #129. Is it different?
Is there still the problem at master?

[2015-11-08 03:52] jamestalmage commented on #157
Yes. Still a problem (when executing `ava` directly from console - `npm test` works fine). Also fixed when I upgraded ava to match.

[2015-11-08 05:57] sindresorhus commented on #156
Why did you close?

[2015-11-08 05:59] #154 closed

[2015-11-08 06:01] jamestalmage commented on #156
Didn't mean to.

[2015-11-08 06:04] sindresorhus commented on #156
I'm open to it, as it would be very nice to be able to use ES2015 stuff in test helper files too. I think a `whitelist` would be better so we could still make use of the ES2015 `import` semantics.

[2015-11-08 06:07] SamVerschueren commented on #156
Would be very nice indeed! Maybe use something like `.es6.js` as extension? This way you don't need to update the whitelist.

[2015-11-08 06:09] sindresorhus commented on #157
@jamestalmage I'm warming up to the idea, but would like to hear some more peoples thought about it in   https://github.com/sindresorhus/xo/pull/32.

[2015-11-08 06:10] jamestalmage commented on #156
Or just default the whitelist to include `test/_*`, since the underscore prefix is already set aside to denote helpers.

Or just everything in the `test` directory? Event `test/fixtures/**`?

[2015-11-08 06:12] sindresorhus commented on #156
@jamestalmage I think defaulting the whitelist to `test/_*` is a good idea, not so sure about the whole test directory, though. I would definitely not want my fixtures implicitly transpiled.

[2015-11-08 06:13] jamestalmage commented on #156
Thats my feeling as well.

[2015-11-08 06:13] sindresorhus commented on #157
No matter which direction we go, I think it's important we find a way to get rid of the mismatch problems once and for all.

[2015-11-08 07:55] sindresorhus commented on #140
@rmg As far as I know there's no way to actually fix this (would be so happy to be proven wrong), as we would never know whether an async planned assertion will happen at some point. Currently, we end the test in the next event loop when all planned assertions are fulfilled.

I removed the test in https://github.com/sindresorhus/ava/commit/7a3f4444997099cd571118508f08783bce8a5526 when I realized i

[2015-11-08 08:32] rmg commented on #140
I'm planning on submitting a docs PR if I can remember to when I'm on a real computer. Meant to mention that in my comment above.

[2015-11-08 08:40] sindresorhus opened #160 "Improve documentation"
We've worked hard on making the documentation good, but we're biased as we made this thing and don't see it the way a first time users see it.

Documentation improvements of any kind are much appreciated. Anything to make things more explicit, more examples, fix grammar, anything.

[2015-11-08 08:51] jamestalmage commented on #140
If we are killing the process because we think we are done that's one thing, but the following should detect an issue:

[code]

Also, in the case of multiple test files `A`, `B`, `C` (in order of increasing execution time), how undesirable would it be to leave the forked process for `A` running until `B` and `C` have also finished (just to increase the chance of catching a plan error). Node forks

[2015-11-08 08:58] sindresorhus commented on #138
We could definitely use some help! At the moment, what we could really use are good opinions on the various open issues. We're trying to figure out the fundamentals as fast as possible and more opinions help us make the right choices.

As for code contributions, I've added a [`good for beginner`](https://github.com/sindresorhus/ava/labels/good%20for%20beginner) label, but we don't really have many

[2015-11-08 09:03] jamestalmage commented on #140
A setting that required you to *always* call `t.end()` might be helpful. In that case `t.plan(x)` just becomes another assertion for ... how many assertions you will have (meta).

Perhaps just `t.expect(3)`, means "expect 3 assertions before t.done() is called"

[2015-11-08 09:29] jamestalmage commented on #160
Are you open to github-pages documentation, or do you want to keep it all in the README?

http://documentation.js.org/ looks interesting. (particularly [this demo](https://www.mapbox.com/mapbox-gl-js/api/))

Also, you probably want to reserve `ava` at https://dns.js.org/ (that would get you https://ava.js.org)

[2015-11-08 09:35] sindresorhus commented on #160
I would prefer to keep it in the readme for now. I plan on having a website for AVA, but not until after 1.0.0. I want to focus on AVA itself for now. Marketing can be prioritized later.

Indeed. There's also https://readme.io/ (free for open-source).

I already have https://ava.li.

[2015-11-08 09:36] jamestalmage commented on #160
Wow, documentation.js produces really nice output.

Even the [base output](http://documentation.js.org/demo/demo-documentation/) is pretty slick. Each method has a link to the source on GitHub (that works really well). Base types automatically link to `developer.mozilla.org`

[2015-11-08 09:40] sindresorhus opened #161 "100% coverage"
We're currently at 96% coverage. Which is amazing. Getting us closer to 100% would be a good beginner task.

**Please leave this for first time contributors.**

See https://coveralls.io/github/avajs/ava?branch=master for uncovered code.

[2015-11-08 09:57] jamestalmage commented on #160
Another plus for generation API docs using some JSDoc based system is that it improves typing hints on Webstorm significantly (I am assuming other IDE's as well).

[2015-11-08 09:59] sindresorhus commented on #160
Agreed, documentation.js looks really good.

Not a big fan of JSDoc. If I wanted type-hints I would go with [Facebook Flow](https://github.com/facebook/flow).

[2015-11-08 10:05] sindresorhus opened #162 "Website"
This is just to gather ideas. Not going to do a website until after AVA 1.0.0, as we want to focus on AVA itself, not marketing.

[2015-11-08 10:05] sindresorhus commented on #162
Would be nice to embed the Gitter chat on the website: https://sidecar.gitter.im

[2015-11-08 10:05] sindresorhus commented on #160
@jamestalmage I opened a separate issue for a future website: https://github.com/sindresorhus/ava/issues/162

[2015-11-08 11:30] TrySound opened #164 "Invalid regular expression error when running from the CLI on Windows"
[code]

Structure
[code]

[2015-11-08 11:35] sindresorhus commented on #164
Never tested AVA on Windows, but we're in the process of setting up automated Windows testing.

Looks like we'll need to escape the `path.sep`.

[2015-11-08 11:35] sindresorhus commented on #164
// @vdemedes

[2015-11-08 11:36] TrySound commented on #164
@sindresorhus It's weird caz it worked yesterday

[2015-11-08 14:31] theaqua commented on #111
Hm, any progress on that? Still can't use external files.

[2015-11-08 14:32] vdemedes commented on #164
@TrySound what versions on node were you using?

[2015-11-08 14:34] TrySound commented on #164
@vdemedes
[code]

[2015-11-08 14:34] vdemedes commented on #164
@TrySound and yesterday...?

[2015-11-08 14:35] TrySound commented on #164
@vdemedes Yas ) My pr fix the problem. But something wrong in node5

[2015-11-08 14:35] sindresorhus commented on #111
@theaqua This issue is still open, so no. @floatdrop has already provided a workaround if you can't wait.

To move this issue forward, come up with a good name for a CLI flag to enable it.

[2015-11-08 14:39] #164 closed

[2015-11-08 14:41] TrySound commented on #164
@sindresorhus Thanks )

[2015-11-08 14:49] vdemedes commented on #162
How about a live code playground?

[2015-11-08 14:54] sindresorhus commented on #162
@vdemedes How would it work exactly? Not sure I understand the purpose.

[2015-11-08 14:59] vdemedes commented on #162
@sindresorhus We'd have a text editor on the left side and live output (result of running ava) on the right side. That way we could demonstrate our nice stuff, like super dope assertions.

[2015-11-08 15:00] vdemedes commented on #162
Although we'd need AVA to have support for browsers.

[2015-11-08 15:01] sindresorhus commented on #162
Oh yeah, that would be cool. We'll have browser support by the time we do a website anyways.

[2015-11-08 15:34] Qix- commented on #162
I don't think a live editor will help since this is a test framework. What would you have to test? Make sure to attach everything to analytics to see what's actually being used. :+1:

[2015-11-08 15:57] sindresorhus commented on #162
@Qix- Just to give the user a feel of how nice and simple the test syntax is and what the output will look like.

[2015-11-08 17:12] markthethomas commented on #138
@sindresorhus thanks so much for getting back to me! You've given me a great base for starting out. I'll check out some of those issues you mentioned and ask any questions I have here! Thanks, too, for the thorough response — I'm looking to get more and better involved with OSS and the best way I can do that I think is by learning and contributing to one project well first :+1:

[2015-11-08 17:28] markthethomas opened #167 "Contributing guidelines"
Has there been any thought/discussion to setting up a contributing guidelines doc? I know we've all seen them, but here are a few examples I've tended to like:
- [npm](https://github.com/npm/npm/wiki/Contributing-Guidelines)
- [babel](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [Contributor Code of Conduct](http://contributor-covenant.org/version/1/0/0/)

I've always appreciated

[2015-11-08 17:45] sindresorhus commented on #167
Not sure it's worth the time writing one. I've tried it with [awesome](https://github.com/sindresorhus/awesome/blob/master/contributing.md) and some other projects and after hundreds of pull requests, not even one person bothered to read it. I think the problem is that people that bothers to read a contribution guidelines are usually the kind of people that doesn't need to in the first place. That

[2015-11-08 17:56] markthethomas commented on #167
Ah, bummer that people never do. But I guess that's the way of all documentation.

I tend to like them because it gives me a sense of the project and how I might fit in etc., but it seems like that's just me :smile: Totally see your point about there being a mismatch in those who would need to read it and those who do.

Was just thinking with beginners (like myself) in mind :+1: Nothing I care dee

[2015-11-08 21:45] alexbooker opened #170 "SyntaxErorr When Module Contains Import Statement"
### Problem

When a module contains an ES2015 [import statement](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import) I get a `SyntaxError`:

[code]

### How to reproduce
[code]

`index.js`:

[code]

`test.js`

[code]

[code]

[2015-11-08 21:48] sindresorhus commented on #170
AVA doesn't transpile your code, only your test file.

You probably want https://github.com/sindresorhus/ava/issues/111.

[2015-11-08 21:48] #170 closed

[2015-11-08 22:05] alexbooker commented on #170
Thanks, @sindresorhus. I'll look into that now.

[2015-11-08 22:42] sotojuan commented on #162
The main thing I can think of is lots of examples for different kinds of tests. Simple assertions, testing promises/async, testing APIs, etc. Not too many (overwhelming users is bad), but examples help newbies a lot. They don't have to be interactive, just the code and what the output would be.

[2015-11-09 02:15] MarkTiedemann opened #171 "Add idle timeout support"
Just switched to AVA -- and I love it! -- but, -- and this is really a minor issue -- I also noticed that I kept reusing code like this:

[code]

And just to be clear, I don't like global test timeouts -- I think they're a terrible idea.

Yet again, I think something like `t.failAfter(time)` is not too bad.

What do you guys think? :)

[2015-11-09 02:17] jamestalmage commented on #171
Why?

[2015-11-09 02:19] MarkTiedemann commented on #171
@jamestalmage Well, I'm just kinda annoyed of having to change the limit, for example, in Mocha again and again.

[2015-11-09 02:33] jamestalmage commented on #171
Right now AVA hangs forever if you fail to call `t.end()`. That's no good. Especially if one of those tests make it to your CI server.

One thing I am always writing (in mocha) is:

[code]

I dislike having to wait to see my mistake during development, just to accommodate the slower CPU on my CI. It would be cool to build that in to AVA (though maybe not possible to do in a reliable way across all

[2015-11-09 02:38] sindresorhus commented on #171
What are sensible defaults in your opinion?

[2015-11-09 02:43] MarkTiedemann commented on #171
@jamestalmage You changed my mind. :) I agree, in CI defaults do make sense.

[2015-11-09 02:48] jamestalmage commented on #171
Ooh. That is a hard question. :smile:

Locally, I would prefer something really fast. `500 ms` or something. Some users might find that surprising (though it might also help to gently remind people that they should be writing small, fast tests). It may also unfairly inconvenience users with really old/slow CPU's.

[2015-11-09 03:40] jamestalmage commented on #130
Instead of "Disable Babel", How about an option to disable the lookup of the local version, and force `ava` to use whichever version it shipped with.

[2015-11-09 03:55] jamestalmage opened #172 "Calling test with missing produces odd output"
[code]
[code]

It should fail, or show it as a `skipped` test. I like the latter (since I can use it as a sort of TODO)

[2015-11-09 04:00] sindresorhus commented on #172
It should fail.

[2015-11-09 04:34] #172 closed

[2015-11-09 05:21] jamestalmage commented on #140
Or `t.end(4)` meaning - I'm done and should have 4 previous assertions

[2015-11-09 05:40] theaqua commented on #111
[pm2 uses](http://pm2.keymetrics.io/docs/usage/specifics/#babeljs) `execInterpreter` option. I think it's ok because most users will install custom interpreter (`coffeescript` or `babel`) as dependency and `ava` can search in local `node_modules` automagically.

[2015-11-09 09:10] alexbooker commented on #171
Hi,

I gathered some data on the default timeouts used by other popular tools. Hopefully it will aid you in reasoning about a "sensible default":

| Tool        | Default timeout for async tests           | Source  |
| ------------- |:-------------:| -----:|
| Mocha      | 2000ms (2s) | [source](https://github.com/mochajs/mocha/blob/c4393c456839d6bf2cbb4abb1cd177010ee06458/bin/_mocha#L76)|
| Jasmi

[2015-11-09 10:03] alexbooker commented on #111
@theaqua If I understand correctly, that is what Mocha does [too](https://babeljs.io/docs/setup/#mocha).

[2015-11-09 10:31] madbence commented on #111
@sindresorhus

- `--transpile-all -a`
- `--compile-all -a`
- or to be more flexible, do something like `--compilers js:babel/register` (like in mocha, istanbul, etc)

[2015-11-09 10:33] alexbooker commented on #111
@madbence I like `--transpile-all`.

I think `--transpile-transitive` is more descriptive/accurate, though.

[2015-11-09 16:15] markthethomas commented on #171
@jamestalmage @alexbooker I agree w/ the need for global/local timeouts and for me a faster default would be preferable and, to your point, encourage me to write smaller, faster tests :+1: Maybe it's crazy/overkill, but what about using something like `os.cpus()` and the `speed` prop to smart-set the timeout? I know estimating cpu perf is tough, but just a thought I had :)

[2015-11-09 17:35] alexbooker opened #175 "Problems with Relative Paths and Tests"
I am using the [config](https://github.com/lorenwest/node-config) module to load configuration files in my Node app.

config looks for a dir called `./config` relative to the _current working dir_.

When running tests via AVA, the current working directory is the location of the tests. This causes _config_ to look in the wrong place for the `./config` dir. (I think this is due to the way AVA spawn

[2015-11-09 17:37] MarkTiedemann commented on #171
`500 ms` seems reasonable to me since AVA is supposed to be fast. And it's also supposed to be minimal; that's why I think timeouts should be disabled by default.

@markthethomas - I don't think smart-setting the timeout based on CPU information is helpful. For normal tests, you don't really need timeouts anyway. At least, when I implement timeouts, it's usually because of possible network issues,

[2015-11-09 17:44] markthethomas commented on #171
@jamestalmage sounds good to me — just a thought I had :)

[2015-11-09 18:03] Qix- commented on #111
`--transpile-transitive` would be the longest command line flag I've seen in a while.

[2015-11-09 18:13] alexbooker commented on #111
@Qix- `-tt` for short

[2015-11-09 18:56] mattfysh opened #176 "How does this compare to Magellan?"
How would you compare ava to https://github.com/testarmada/magellan - is ava for paralellizing unit tests versus magellan for functional, selenium-powered tests? Are there any plans (or how easy would it be) to extend ava to support port management, https://github.com/FormidableLabs/rowdy, etc..?
thanks!!

[2015-11-09 19:35] Qix- commented on #111
Per GNU specs on arguments, `-tt` would be supplying the short-form argument `-t` twice. Doesn't make sense. `--transpile-all` would make the most sense whilst still being correct. `--compile-all` isn't *technically* correct but would still probably be easier for people to type.

[2015-11-09 19:36] markthethomas commented on #176
Not sure if I'm fully understanding the question, but ava is a library more akin to tape/mocha and is built for unit testing, while magellan looks like it's more of an integration suite for browser testing. Is that what you're getting at? If so, these are different libs for different testing types and at least as far as I know there aren't plans to move ava in the integration direction :) happy fo

[2015-11-09 19:39] madbence commented on #111
btw what's the rationale behind this behavior (ava transpiles tests only)? it's just slow?

[2015-11-09 19:47] mattfysh commented on #176
I see... it sounds like this is a test framework with parallelization built-in as a feature, as opposed to a parallelization framework that works to parallelize test suites written in other frameworks (mocha, jasmine, etc)?

[2015-11-09 19:58] markthethomas commented on #176
@mattfysh pretty much, yeah — parallelization is *a* feature, not *the* feature. I suppose you *could* use the runner to run other tests, but really then you're creating a modified version of the gorilla-banana problem with no extra inherent benefit :)

![cdijaprwmaawk3i](https://cloud.githubusercontent.com/assets/4926721/11044841/166de6f8-86d9-11e5-8dcd-6a8c0e0644eb.png)

[2015-11-09 20:12] alexbooker commented on #111
@madbence https://github.com/sindresorhus/ava/issues/50

[2015-11-09 20:24] jamestalmage commented on #111
It is more than just "ava transpiles tests only".

It is that ava allows you to write tests in ES2015 with zero impact on your production environment.
By zero impact, I mean no transpilation an **no polyfills**. (IMO polyfills are the sneakier harder to control bug).

For example, we make sure `Promise` is available inside your tests, without impacting it's availability in production code.

[code]

[2015-11-09 20:28] Qix- commented on #111
@jamestalmage very good points. However, one of the things to consider is the viability of backwards compatibility in Node. NPM thrives under the idea of progressive code reform. Node proper is no exception. I think one of the motivations behind AVA is that it is, indeed, very progressive and puts into low-priority the considerations it makes towards older versions of Node.

[2015-11-09 20:35] madbence commented on #111
hmm, i still don't get the point... why should i write my tests in es2015 if i can't write my lib in es2015? if i want to support some older node versions, i know that i *have* to publish a transpiled version of my lib (so i should test the transpiled code, which is not the default behavior right now). but maybe i'm just missing something about how one should develop modules in es2015...

[2015-11-09 20:39] alexbooker commented on #111
Good  points, @jamestalmage.

My situation is this: I am writing an Express application and using the [require hook](https://babeljs.io/docs/setup/#babel_register) in an entry-point to transpile my entire app ([example](https://github.com/alexbooker/communitycasts.co/blob/master/source/server/index.js).)

I have seen @floatdrop's [solution](https://github.com/sindresorhus/ava/issues/111#issuecomme

[2015-11-09 20:41] Qix- commented on #111
@madbence you don't have to write your lib in ES2015. The fact AVA allows you to write your tests in ES2015 is just a functional gain.

[2015-11-09 20:42] jamestalmage commented on #111
Because your tests are not used in the wild. Your production code might be. The idea is to let you use ES2015 for test code, even if you are not allowed to use it for production (because you wan't to support old Node without transpilation).

Another big issue with providing transpiled dependencies is, again, polyfills. For your code to run standalone, babel needs to include the polyfills in the ou

[2015-11-09 20:43] alexbooker commented on #111
By the way, I really like how Mocha allows you to plugin transpilers like Babel:

    mocha ./test --recursive --compilers js:babel-core/register

[2015-11-09 21:07] jamestalmage commented on #111
I don't think a cli-hook has been ruled out.

In the mean-time, `require('babel-core/register')` at the top of every test file should work.

[2015-11-09 22:54] codyhatch commented on #111
It doesn't seem to work for me.  I added `require('babel-core/register')` to the top of a test file, then ran `ava ./example/test-file.js`, and it spat out:

[code]

Am I missing something?  For reference I'm writing my entire browser-based app in ES2015, and I just want a solution that'll efficiently transpile *everything*.  Mocha handles this really smoothly as @alexbooker noted.  I wouldn't *mi

[2015-11-09 23:15] Whoaa512 commented on #111
@codyhatch, adding `require('babel-core/register')` at the top of the file will enabled it for further requires but not for the file in which it was required.

[2015-11-09 23:38] vdemedes commented on #176
@markthethomas gave a good answer on this one, I think it's safe to close.

@mattfysh If you have some questions regarding AVA, feel free to chat in our [gitter room](https://gitter.im/sindresorhus/ava?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2015-11-09 23:38] #176 closed

[2015-11-09 23:40] vdemedes commented on #175
Could you please post a few lines of your code?

Related: #32

[2015-11-09 23:42] vdemedes commented on #171
@markthethomas AVA is supposed to be fast, but that has nothing to do with user's tests. `500 ms` is too small imho, I think we'd better choose tap's default timeout - 30 seconds.

[2015-11-09 23:54] markthethomas commented on #171
Sorry, the "sounds good" was in reference to using the os module :)

Mark

Sent from my iPhone

@markthethomas everywhere

[2015-11-10 00:18] codyhatch commented on #111
So let's assume I have a project like:

[code]

So the workaround is to create a new `module2.wrapper.js` for every single test, which does nothing but register babel and then import the actual test?  That...seems to work.  But wow, that's a really ugly solution for a large project.  :(

Thanks though.

[2015-11-10 00:29] BarryThePenguin commented on #111
Should we expect different behavior for those writing tests for a library (used in many unknown environments) and those writing tests for an application (used in a single known environment e.g. electron)?

I'm just thinking of my scenario where I want to write tests for an application that is run in electron. I'm using `electron-compile` and I have full control over the environment my es6 applicat

[2015-11-10 00:48] jamestalmage commented on #111
A repo is worth a thousand comments:

https://github.com/jamestalmage/__ava_with_babel_for_production

// @codyhatch @BarryThePenguin @alexbooker @madbence @theaqua

[2015-11-10 01:55] MarkTiedemann commented on #171
`500 ms` seems reasonable if you want to enforce small, fast local tests. `30 s` seems reasonable if you just want to prevent CI from hanging.

So both defaults kinda make sense, in their own narrow context. So actually they don't: Because how do you know the context? You don't know.

But the solution is simple, I think. If the timeout is __disabled by default__, we don't need to pick a pseudo-rea

[2015-11-10 02:49] jamestalmage commented on #171
I think both cli and api hooks are a given. We are all just bikeshedding over what the defaults will be.

[2015-11-10 03:17] rmg commented on #140
I'm not sure I see the usefulness of `t.end(4)`.

I think the root of the conflict is that using `t.plan(4)` for auto-end and using `t.plan(4)` to assert than only 4 assertions were made are two someone contradictory goals. I'm not sure how to do both well at the same time.

[2015-11-10 03:27] jamestalmage commented on #140
`t.end(4)` is the assertion without the auto-ending that comes with `t.plan(4)`.

I don't think there is a great way to do both, and auto-ending is problematic for exactly the reasons you describe.

[2015-11-10 06:44] timoxley opened #178 "tape/tap transition guide"
Would make migrating from tape easier if AVA & tape shared the same API.

Below is the full list of `tape` apis that don't exist in AVA. Most of these would only require a simple alias e.g. `Test.prototype.deepEqual = Test.prototype.same`

Though it's possible there's benefit in divorcing the tape API entirely & just keeping the current, simpler API. For example, not sure if it was ever a good ide

[2015-11-10 06:45] Whoaa512 commented on #167
It would be useful if Github allowed you to pre-populate PRs and issues. I've had [isaacs/github/#99](https://github.com/isaacs/github/issues/99) opened for over 2 years now and the best they can do is query string params :unamused:

[2015-11-10 06:48] timoxley opened #179 "Better error when launched without AVA cli"
Perhaps throw a more explicit error because at the moment it appears to crash and complain about lack of `process.send`:

[code]

Related #97

[2015-11-10 06:53] sindresorhus commented on #178
I looked into this a while ago. The problem is that tape already have aliases for equal AVA methods, but with different behavior. Mainly, we have `t.same` which means deep strict equal, tape's `t.same` means deep *non-strict* equal. We have `t.true` which means `val === true`, while the tape version is just an alias for `t.ok` which is `!!val`.

[2015-11-10 06:54] sindresorhus commented on #179
Agreed. I've already seen this, but forgot to open an issue.

[2015-11-10 06:55] timoxley commented on #178
@sindresorhus ahh understood, this makes sense. Can close.

[2015-11-10 07:03] sindresorhus commented on #178
I'll keep it open as I want to do a transition guide, maybe even an automated script (that would be cool!).

[2015-11-10 07:11] BarryThePenguin commented on #111
@jamestalmage welp! I'm sold

Reading back through, it wasn't clear to me that you can

[code]

I'm happy with this as a solution

[2015-11-10 07:18] jamestalmage commented on #160
The documentation should cover how to get AVA working with production code.

There is a lot of confusion #111

It should incorporate the code from [this comment](https://github.com/sindresorhus/ava/issues/111#issuecomment-155334846).

It gets the point across pretty quick

[2015-11-10 07:21] timoxley commented on #97
Would be good to reverse this decision… the ability to run tests without the `ava` process simplifies things as it removes any complications and potentially subtle bugs created by having different versions of AVA installed globally and in `node_modules/.bin`, even if it required additional hoops such as loading a bootstrap file first e.g. via the `node --require` flag.

[2015-11-10 07:31] sindresorhus commented on #97
@timoxley Yes, we intend too, but shouldn't be default as it will (and did) cause subtle bugs.

Follow: https://github.com/sindresorhus/ava/issues/111

[2015-11-10 07:33] timoxley commented on #97
@sindresorhus ty.

[2015-11-10 07:34] sindresorhus commented on #171
@jamestalmage Yup. If we were to have a default it would be at least 30sec. The Mocha default at times drove me mad.

[2015-11-10 07:39] jamestalmage commented on #171
Me too. I found 2 seconds way too long! :laughing:

[2015-11-10 10:23] timoxley opened #180 "Support use of t.end as callback"
Passing `t.end` as a callback is a nice feature of `tape`. It'll end the test & automatically check first arg for an error.

If one wants to use AVA's `t.end` as a callback though, firstly, it doesn't check for error arg, but secondly it will break due to references to `this`.

This would provide built-in support for node's errback pattern, echoing AVA's built-in support for promises.

Current imp

[2015-11-10 10:24] vdemedes commented on #180
I like this idea, thank you for submitting it. @sindresorhus what do you think?

[2015-11-10 10:27] sindresorhus commented on #180
Sure, sounds like an easy win.

[2015-11-10 10:29] timoxley commented on #180
This *could* impact people interested in monkeypatching AVA Tests. To maintain extensibility via clever `thisArg` trickery, could perhaps do the binding external to the Test constructor e.g. in the Runner

[2015-11-10 10:39] vdemedes commented on #140
I agree with @rmg, `t.end(4)` does not really address this issue.

There's simply no way to detect, that more assertions are coming. We could just go mocha-way and display an error, if more assertions are happened after ending the test. That's the best we can do here.

[2015-11-10 10:59] jamestalmage commented on #140
`t.end(4)` would be useful if there were already more or less assertions than expected. The assertion happens at the time of invocation. It's just one more way to guard against mistakes.

[2015-11-10 11:16] MarkTiedemann commented on #171
Yeah, I know that feeling. In Mocha, I usually set the timeout to `10 s` just so I didn't have to worry about tests failing due to the timeout. Then again, I don't think that's good practice either. If a single test takes more than `1 s`, most likely, there's something wrong with the code or the test itself (unless we are talking about stuff that is supposed to be slow, like connecting to that 20-

[2015-11-10 11:20] jamestalmage commented on #171
We need some sort of default, just as a kindness to CI providers.

[2015-11-10 11:40] jamestalmage commented on #140
#181 is way better solution than my idea.

[2015-11-10 11:43] MarkTiedemann commented on #171
Well, yeah, kindness to CI providers is a good reason indeed. :)

Which reminds me: Most CI providers (including [Travis](http://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables), [Circle](https://circleci.com/docs/environment-variables) and [Codeship](https://codeship.com/documentation/continuous-integration/set-environment-variables/#default-environment-variables)) se

[2015-11-10 11:59] just-boris commented on #156
+1, I want this thing too. But why do you need all that stuff around `require-from-string`?

Why not just add babel hook using `require("babel-core/register");`?

[2015-11-10 12:02] jamestalmage commented on #156
Because, one goal of this library is not to pollute any of your production code with babel transforms/polyfills (unless you specifically ask it to).

[2015-11-10 12:09] just-boris commented on #156
But all my source code is written for babel too. Will there an option to transpile files from my `src/` folder in addition to `test/`?

[2015-11-10 12:17] jamestalmage opened #182 "Avoid loading babel in forked processes."
We are paying a hefty penalty to load Babel once per forked process.

I have played around with a way to share one Babel instances across every forked process (though it does not necessarily need to be limited to a single instance).

https://github.com/jamestalmage/__share_transpile_across_process

With some very naive benchmarks I am seeing < 3 seconds using this method compared to > 16 loading u

[2015-11-10 12:19] floatdrop commented on #182
@jamestalmage thought of this too. We can transpile files with babel in master process and load transpiled code from cache (as soon as I deal with #118).

[2015-11-10 12:20] sindresorhus commented on #182
That's a cool idea. I like it.

[2015-11-10 12:22] jamestalmage commented on #182
What is your plan for the cache? Write it all to disk before launching forks?

I'm actually firing up an http server and then using `child_process.execSync('cur', ...)` to fetch the transpiled code.

[2015-11-10 13:00] jamestalmage commented on #182
The major problem there is that it requires actually forking an entirely new process for every fetch, which is not free. Using a direct execution of `curl` vs forking another node process is way better, but still not great.

For the initial test file, we could use IPC (maybe even do static analysis of the Babel AST to find additional require calls).

Dynamic requires will be a problem. That is whe

[2015-11-10 13:05] floatdrop commented on #182
@jamestalmage yes, but do it step by step (transpile one test and launch it), not all at once.

[2015-11-10 13:06] jamestalmage commented on #182
Gotcha.
Seems reasonable.

[2015-11-10 13:35] jamestalmage commented on #182
@sindresorhus We need a good real-world library to performance test this against. I know pageres is mentioned in the readme, but given the nature of that project (I am just guessing), that a lot of time is spent on I/O. Is there one with a high test-file count where I/O is minimal (where improvements to the load time of AVA forks would be most noticeable).

[2015-11-10 15:19] sindresorhus commented on #182
@jamestalmage https://github.com/sindresorhus/got has a lot of tests and uses a local server for most, so the tests are pretty fast.

[2015-11-10 17:09] limafelipe opened #183 "Atom plugin"
Have any plugin to use in Atom?

[2015-11-10 17:15] sindresorhus commented on #183
For what purpose? What would it do?

[2015-11-10 17:22] limafelipe commented on #183
Something like this https://atom.io/packages/atom-mocha
I belive that can help to run tests directly in Atom to optimize time to alternate screens.

[2015-11-10 17:28] limafelipe commented on #183
In the WebStorm the test suite is pretty nice! See this print:

![print-webstorm](https://cloud.githubusercontent.com/assets/3782960/11069875/9162cf68-87bf-11e5-9dec-4337e6f90c9b.png)

[2015-11-10 17:34] vdemedes commented on #183
That's actually a nice idea! Although I think it should be postponed until we are more close to 1.0 release.

[2015-11-10 17:35] markthethomas commented on #183
I agree w/ @vdemedes; one of the most frustrating things I've encountered is when a plugin is out of sync with the api it's supposed to be helping me with. I usually just have to end up disabling it till it gets updated.

[2015-11-10 17:46] limafelipe commented on #183
Perfect, dude!

[2015-11-10 17:48] sindresorhus commented on #183
I don't think I would want to have a big tree view, but seeing the test result in the status bar and clicking it taking me to the failing test could be mildly useful. I think an editor plugin will be much more useful when we add support for incremental testing https://github.com/sindresorhus/ava/issues/115, as we could then show the test result almost instantly on save and even inline in the test

[2015-11-10 17:58] limafelipe commented on #183
Really, the tree view is more beautiful than useful, the only cool thing is when clicking in the icon with the test title it goes to file and line of the test. So, when a test has error is very easy go to him.

[2015-11-10 18:19] vdemedes commented on #182
Really good idea! Well done @jamestalmage

[2015-11-10 20:15] varemenos commented on #183
I understand this isn't an immediate goal for the project but I would also like to recommend another atom testing package for inspiration: https://github.com/jacobmendoza/rspec-tree-runner

[2015-11-10 21:02] sotojuan commented on #160
I said this on Gitter but putting it out here for further discussion:

In the async function support section, I think a short explanation of what `async`/`await` functions could be helpful for newbies. We could add something about how they make asynchronous code look synchronous. Perhaps add one more "real world" example to the examples there already? I just want people to find out about `async`/`

[2015-11-10 22:08] jamestalmage opened #184 "Why not write `lib` in ES6 and transpile in a post install script?"
A lot of libraries ship a `dist` folder of transpiled files to avoid having `babel-core` as a dependency (keeping it only as a dev dependency). I have never liked that, since it makes linking to hot-fixes troublesome (you need to to create an additional commit that includes the transpiled `dist` folder, which messes with your PR).

In our case, we are already downloading `babel-core` as a dependen

[2015-11-10 23:11] FuzzOli87 opened #185 "Code coverage ES6"
Hello,

You guys recommend to use NYC for coverage since it can handle spawned files. However, when testing since I have to transpile it first, it uses the transpiled code to test for coverage.

Is there a way to configure it so that it does not do this and so that it uses the ES6 code?

[2015-11-10 23:26] MoOx opened #186 "Consider a way to support/add equalJSX method"
I am currently using tape and I am considering switching to AVA.
There is just one piece missing atm: https://github.com/atabel/tape-jsx-equals
As you can see `tape-jsx-equals` use `extend-tape` to extends tape.
Are you open to add support of equalJSX in the core? If not will it be possible to provide a way to easily extends AVA?

[2015-11-10 23:29] MoOx commented on #186
Note: this is assertion is doable using https://github.com/algolia/react-element-to-jsx-string

[2015-11-10 23:32] MoOx commented on #186
Also please note that another method is really handy when testing react component: `includeJSX`. This one ignore whitespace differences which can be very handy.

[2015-11-11 00:05] jamestalmage commented on #185
NYC relies on `istanbul`. See this issue: https://github.com/gotwarlost/istanbul/issues/212

`istanbul` has a `source-map` branch that looks like it is getting pretty close, but looks like [it doesn't play well with some reporters](https://github.com/gotwarlost/istanbul/issues/212#issuecomment-154707794).

I have [been told](https://github.com/jamestalmage/istanbul-combine/issues/2#issuecomment-15

[2015-11-11 01:58] jamestalmage commented on #186
@MoOx The ability to add custom assertions is on the roadmap.

[2015-11-11 06:09] jamestalmage opened #188 "`npm run test-win` should use a verbose tap-reporter"
If it helps me avoid launching a VM whenever an AppVeyor builds fail, it's worth a few extra seconds of wading through verbose test output.

[2015-11-11 07:32] sindresorhus commented on #188
:+1: Agreed. Anything to make debugging easier. Just pick whichever reporter you like.

[2015-11-11 07:51] sindresorhus commented on #183
@varemenos That looks amazing! Much more in line with what I would like to see.

@jacobmendoza Would you be interested in modularizing it out into more reusable components? I imagine a lot of test runners could benefit from your work on this. This really shows the power of the editor just being JS and CSS. Would be cool to have something like [Atom Linter](https://github.com/AtomLinter), but for t

[2015-11-11 09:19] vdemedes commented on #184
Babel changes constantly, we can't publish source code and hope that after `npm install` code will be successfully transpiled and work fine. Also, when we want to test AVA on 0.10 and 0.12, we'll need to transpile that code before running the tests.

The most important concern is: what benefits could writing the code in ES6 bring to AVA?

[2015-11-11 09:20] vdemedes commented on #188
It'd also be good to do the same for `npm test` too, those dots don't really give an idea of what's going on.

[2015-11-11 09:24] sindresorhus commented on #184
Hah, no way ;P Transpiling on `postinstall` is so bad. Lots of CoffeeScript projects do that and I absolutely hate it. I'm not totally against writing AVA in ES2015, but it should be `prepublish` step, and I don't think we should use our resources on that right now. We can rewrite in ES2015 at a later time when AVA is more stable. Rewriting something when it's actively developed is a very popular

[2015-11-11 09:44] sindresorhus commented on #25
Please read the discussion in https://github.com/sindresorhus/ava/pull/49 before commenting.

[2015-11-11 09:53] sindresorhus commented on #160
@sotojuan I'm all for that, but would prefer to keep it succinct and rather link to a good blog post or two with more comprehensive explanation.

[2015-11-11 18:33] #105 closed

[2015-11-11 19:01] sindresorhus commented on #138
@vdemedes I'd like to keep this open for visibility for anyone looking to contribute.

[2015-11-11 19:05] #179 closed

[2015-11-11 19:10] vdemedes commented on #133
I think this will introduce more garbage in the `lib/test.js` and confusion about what to do (`test.sync` or `t.plan` or `t.end`) among AVA starters.

`.sync` is 5 characters, `t.end();` is 7 characters. So it's not really a shorthand, imo.

[2015-11-11 19:19] vdemedes opened #192 "Add test.skip()"
This issue's source is #9.

The aim is to add ability to skip certain tests.

[2015-11-11 19:22] sindresorhus commented on #133
@vdemedes Actually, a benefit with it is that it has clearer intent, and I've many times forgotten the `t.end()`...

[2015-11-11 19:28] sindresorhus commented on #132
:+1: We plan to add this. Help welcome as we have a lot of other things to deal with right now.

[2015-11-11 19:28] af commented on #133
100%. This is not about saving characters (the initial issue description overemphasized this, I think). It's about signalling intent.

[2015-11-11 19:31] sindresorhus commented on #186
You can already use any custom assertion. The only minus is that assertion counting doesn't work. We plan to add support for adding custom assertions, see #49.

[2015-11-11 20:26] #192 closed

[2015-11-11 20:30] sindresorhus commented on #9
Status update: `test.skip()` was just implemented. You can follow `test.only()` status in #132. We'll defer the other modifiers to later as we have more important things to focus on at the moment. Contributions are of course always welcome if you want something to be done sooner ;)

[2015-11-11 22:54] jamestalmage commented on #184
You do need to commit the transpiled dist if you want to temporarily rely on your hotfix:

[code]

You would need to have `dist` published in `somebranch`.

The brittle install is sufficient argument against.

[2015-11-11 22:54] #184 closed

[2015-11-12 00:16] jacobmendoza commented on #183
Hi!

@varemenos I really appreciate that you mentioned the plugin. Really, thank you :).

@sindresorhus, I'd be very interested in participating!. The first thought that comes to my mind (and I may very well be wrong) is that maybe the idea of modularizing the plugin could be too ambitious. I was wondering, if doing something specific for AVA could make more sense and be more realistic (I guess th

[2015-11-12 00:39] sindresorhus commented on #184
Not really. You can just publish it as a scoped package under your username namespace.

https://docs.npmjs.com/getting-started/scoped-packages

[2015-11-12 00:44] jamestalmage commented on #184
yeah, I thought of that.

It would be cool if `npm publish` had a `--scoped` that allowed you to do that without modifying package.json

[2015-11-12 00:47] sindresorhus commented on #183
I haven't really dug into the code yet. Was just my first thought to make it easier to reuse things in a potential AVA plugin. I just got an idea though. If you would add support for [TAP](https://testanything.org) potentially any test runner could be made compatible with it. AVA plans to add support for TAP (#27) and most existing test runners support it. What do you think?

[2015-11-12 01:18] jamestalmage commented on #183
TAP is a good idea, but a specific integration could to some really cool stuff too.

A few ideas:

 1. the `power-assert` instrumentation already captures the line numbers and values of every assertion. So we we could put check boxes next to every assertion in the code editor as it runs. When you mouse over (even a passed assertion), we could still output the espower graph in a popup. That could b

[2015-11-12 01:47] #188 closed

[2015-11-12 07:22] jamestalmage opened #197 "Tracking Issue for AppVeyor failures."
*Please Keep Chatter On This Thread Minimal*

I intend to use this to track AppVeyor failures and hopefully hunt down the problem. So far it seems random.

If you submit a PR that fails and you want to help me out, please post the following.

Please note that the `Failed Assertion` link is to a particular commit. Linking to master is less helpful because line numbers change over time.

The `relate

[2015-11-12 08:38] TrySound opened #198 "cli: Cannot read property 'stats' of undefined"
Hi got this error

[code]

Here's my code

[code]
When I remove console.log, error does not reject. It doesn't seem problem in rollup.

[2015-11-12 08:45] sindresorhus commented on #198
Thanks for report. We'll look into it.

-

You don't need this. AVA does this for you.

-

And btw, you should take advantage of async functions ;)

[code]

[2015-11-12 08:54] TrySound commented on #198
@sindresorhus Oh cool about chdir. I'm just afraid a little new syntax :)) But will try. Still babel is out of the box :)

[2015-11-12 11:32] BarryThePenguin opened #201 "Split up test.js"
test/test.js is quite long. Needs to be split into
- test.js
- promise.js
- observable.js

[ref](https://github.com/sindresorhus/ava/pull/165/files#r44509158)

[2015-11-12 11:34] sindresorhus commented on #201
:+1:

[2015-11-12 11:54] jamestalmage commented on #197
PR: #200
Failed Build: https://ci.appveyor.com/project/sindresorhus/ava/build/96
Failed Assertions:
 - https://github.com/jamestalmage/ava/blob/732b4c231b7dfd208703dea55713580e0f96e276/test/test.js#L1061
 - (this one twice): https://github.com/jamestalmage/ava/blob/732b4c231b7dfd208703dea55713580e0f96e276/test/test.js#L955

Related to stderr / stdout: YES

[2015-11-12 13:06] callumlocke opened #202 "Load Babel config from .babelrc, for each path"
Under [ES2015 support](https://github.com/sindresorhus/ava#es2015-support), the readme says "You can also use your own local Babel version" by specifying it in the package.json.

But this doesn't seem much use if we can't also provide our own Babel config. From the code [here](https://github.com/sindresorhus/ava/blob/186fd78009aebe9bf2cb3b487f60dcb5a9215085/lib/babel.js#L17-L27) it looks like AVA

[2015-11-12 19:00] FuzzOli87 commented on #185
@jamestalmage

Interesting. I should of done a bit more research before asking but I was stuck in traffic and I had it in my head. I'll give it a spin and report back.

[2015-11-12 22:32] blesh commented on #84
Sorry, this got lost in my GitHub inbox... Does this still need to happen? I'm not sure i have time to do the PR anytime soon, unfortunately.

[2015-11-13 05:39] twada commented on #117
Just released [babel-plugin-espower 2.0.0](https://github.com/power-assert-js/babel-plugin-espower/blob/master/CHANGELOG.md#200-2015-11-13). Now power-assert works with Babel6!

[2015-11-13 07:14] jamestalmage commented on #197
PR: #205
Failed Build: https://ci.appveyor.com/project/sindresorhus/ava/build/103
Failed Assertions:
(this one twice):
https://github.com/sindresorhus/ava/blob/0529ee2737e48d9e4e22217edcb9c5a10786b16c/test/test.js#L955

[2015-11-13 07:19] sindresorhus commented on #84
@blesh Not really. We just went with adding support for it directly in AVA.

[2015-11-13 12:10] jamestalmage commented on #197
PR: #206
Failed Build: https://ci.appveyor.com/project/sindresorhus/ava/build/106
Failed Assertions: https://github.com/sindresorhus/ava/blob/a54a6cf28b320359afc7ab5beb302bca079142a3/test/test.js#L1061
Related to stderr/stdout: YES

[2015-11-13 14:04] mnzt opened #207 "babel.Transformer is not a function"
error
[code]
package.json
[code]

[2015-11-13 14:06] mnzt commented on #207
My bad, there was a stray babel package in `node_modules`

[2015-11-13 15:48] GabiGrin commented on #198
I got this error too.
In my case, I saw that it was caused by padding ava an empty .js file.

I was able to recreate from scratch by running ava via cli on a directory containing one file with a valid test and another empty file.

[2015-11-13 18:39] GabiGrin opened #209 "error thrown when files do not require ava"
When running AVA against empty files or files that do not require ava, this error is thrown on v.0.4.2.
I tried with master, and it just hangs up.
getting the same error as in #198 (I opened a new issue because I'm not sure it's the same cause.):
[code]

In master, I saw that if the file transpiled by babel does is not processed by AVA and thus emits the needed events to end, the process will just

[2015-11-13 19:25] sindresorhus commented on #209
We're going to fix it, but I have to ask, why are you doing that?

[2015-11-13 19:48] jamestalmage commented on #197
PR: #209
Failed Build: https://ci.appveyor.com/project/sindresorhus/ava/build/111/job/9jpeuk7w1iqhtgy4#L892
Failed Assertions:
(three times): https://github.com/GabiGrin/ava/blob/baf9e5ca45b8b5d105c1ddfb6ba3c54082406d39/test/test.js#L955
Related to stderr/stdout

[2015-11-13 21:02] GabiGrin commented on #209
It wasn't intentional :)
On my first attempt to use AVA I ran it on a folder with another empty file and got into this issue. I thought that debugging and trying to fix it will be a nice way to understand how AVA works.

[2015-11-14 04:28] jamestalmage opened #214 "Use domains to track which test threw an error."
The goal would be to track which test threw a given uncaughtException.

Domains have been "soft deprecated". Unfortunately, there is no clear alternative at this time.

See [this discussion](https://github.com/nodejs/node/pull/141#commitcomment-8951851) in the node repo.

The gist is that the API is not going to disappear until a viable alternative exists.

The major arguments for deprecating doma

[2015-11-14 10:52] #198 closed

[2015-11-14 14:11] taylorhakes commented on #133
I definitely prefer `test.sync` because of intent (with named export), but I feel I will be using `test.sync` on 90% of my tests. As @sindresorhus said, for me, it would have been really nice if sync was the default.

Any chance sync by default could happen with `test.async` for async tests? I know that would be a huge breaking change, but I plan to use this library for a while and it will save so

[2015-11-14 22:11] af commented on #133
Agreed @taylorhakes, that would be the idea solution from my perspective as well. Obviously a big breaking change though!

[2015-11-15 22:45] Lokua opened #217 "npm test: TypeError: Cannot read property 'stats' of undefined"
When I run `ava test/**/*.test.js` from cli, everything runs beautifully  The same command under package.json > scripts > test, ran with `npm test` throws the error, though all the tests are still run and pass (I just don't get the "n tests passed" output due to the error afterward).

Here's the error output:
[code]

[2015-11-16 00:36] jamestalmage commented on #217
You probably have different versions installed locally and globally, run the following two commands.

[code]

There is a [way to fix this](https://github.com/sindresorhus/xo/pull/32), but it is fairly controversial.

[2015-11-16 00:40] jamestalmage commented on #209
Fix landed in @97409864e, you should be good to go on next release

[2015-11-16 00:41] jamestalmage commented on #197
This has adequately demonstrated that it's random errors with stdout / stderr not getting the complete output. The fix is known and submitted. No need to track errors anymore.

[2015-11-16 00:41] #197 closed

[2015-11-16 02:03] Lokua commented on #217
Both are version 0.4.2, and both of the above commands run successfully, however `npm test` still errors at the end - likewise if I use `./node_modules/.bin/ava test/**/*.test.js` as the npm test script. An odd thing I just noticed is that `npm test` _does_ pass every so often - about 1/4 runs, which is even more confusing.

[2015-11-16 02:13] jamestalmage commented on #217
Is the repo you are using this with open source? If so can you post a link?

[2015-11-16 02:18] jamestalmage commented on #217
@Lokua the fix for that issue is in. We now include a check for empty test files. It's odd that it is only happening in local installs and not global, but the next release should give you a clearer error at least.

[2015-11-16 02:25] Lokua commented on #217
I saw the empty files issue, I don't think this is the same (no empty *.test.js files, though there are non test files in the same folder). You can see my current test setup here (https://github.com/Lokua/o-/tree/postcss).

[2015-11-16 02:38] jamestalmage commented on #217
@Lokua
I had some initial problems with `global` on your repo, but got it working pretty easy.

Try the following in your project directory

[code]

Try it both ways again and report back.

[2015-11-16 03:09] Lokua commented on #217
Same thing. Global and local ava cli calls work fine, only from `npm test` does the same command error. I'm on Windows 10 btw. Perhaps that or npm has something to do with it. I noticed that putting the ava call in a shell script and running that from `npm test` also produced the same error, so yeah, I'm beginning to think this isn't really an ava specific issue. In any case I'm totally fine runni

[2015-11-16 03:44] jamestalmage commented on #217
Confirmed. AVA 0.4.1, Windows 7, Node 5.0.0, NPM 3.3.6

Already fixed in master.

`npm install -D sindresorhus/ava#78a6c56e`
`npm install -g -D sindresorhus/ava#78a6c56e`

[2015-11-16 10:11] jankuca opened #220 "Stop on first failed assertion"
I noticed that test cases are not stopped when an assertion fails. To be exact, they are stopped asynchronously. Here is an example:

[code]

The error I'd expect to see is "1 !== 2" while the actual error I get is "cannot read property 'name' of undefined" because execution is not stopped on the failed assertion (on the line above).

Is there a reason why `Test#exit()` is called asynchronously (b

[2015-11-16 11:16] sindresorhus commented on #142
Thoughts on deprecating `regexTest`?

[2015-11-16 11:16] sindresorhus commented on #142
@jamestalmage

[2015-11-16 11:17] vdemedes commented on #142
@sindresorhus I'd leave it, but rename to just `t.regex`. To me it looks a bit more convenient (less nesting of statements):

[code]

[2015-11-16 11:20] SamVerschueren commented on #142
I'm with @vdemedes on this one. Would leave it as well.

[2015-11-16 11:30] sindresorhus commented on #142
@vdemedes But the current one has the wrong argument order. I suggest we deprecate `regexTest` and add `regex` with the correct argument order then. Unless anyone has a better idea.

[code]

[2015-11-16 11:34] vdemedes commented on #142
@sindresorhus oh, in that case, definitely, `regexTest` should be deprecated and correct `regex` should be implemented.

[2015-11-16 11:51] twada commented on #142
In my opinion, reducing APIs that are easy to make mistakes is the most valuable point of power-assert.

So I'm :+1:  on
`t.true(/ok/.test('oh ok'));`

(But for this purpose I must [improve output depth of SuccinctRenderer](https://github.com/twada/power-assert-renderers/issues/3)! )

[2015-11-16 11:54] #84 closed

[2015-11-16 12:01] #217 closed

[2015-11-16 12:01] #209 closed

[2015-11-16 12:08] #180 closed

[2015-11-16 15:32] novemberborn opened #222 "Support nested groups?"
Currently the test files support a flat list of tests, each sharing all `before` , `beforeEach`, `afterEach` & `after` hooks. I find it useful to declare nested groups with their own hooks, while inheriting context from the parent.

For example I'm stubbing promise behavior and need to write test for if the promise is fulfilled or if it's rejected. Ideally I could do something like:

[code]

Each

[2015-11-16 15:55] vdemedes commented on #222
I think it has some potential as a feature request. Something like `describe` in mocha. At the moment, we'd like to merge currently open PRs and do a complete cleanup/refactoring, and then continue with feature development.

If you'd be interested in making a PR, that'd be great. I don't recommend you to do that now, because after the rewrite, your PR will have a lot of merge conflicts.

@sindreso

[2015-11-16 16:19] sindresorhus commented on #222
From a quick skim this looks like the same as https://github.com/sindresorhus/ava/issues/62 just with a different name.

I'm not a big fan of this kind of complication to be honest. If you think you need nested tests or groups, you're probably better off splitting it up into multiple files (and get the benefit of parallelism) or simplifying your tests.

I'll keep this open for discussion, but even

[2015-11-16 17:04] novemberborn commented on #222
Ah yes, apologies for not finding that myself.

Fair enough.

---

I'm writing some tests for functions that have reasonably complex behavior, based on stub objects that were set up in a `beforeEach`. Unfortunately these tests aren't easy to write or maintain. The best approach I've found is to define the various code paths in a single file with nested groups (using Mocha's `describe/context` help

[2015-11-16 17:10] novemberborn commented on #185
There's also <https://github.com/SitePen/remap-istanbul>. This seems to work for me:

[code]

[2015-11-16 17:13] novemberborn opened #223 "Add source-map-support"
<https://www.npmjs.com/package/source-map-support> could be added to `babel.js`. Configured properly this would work with any source maps in the files under test, as well as the transformed test file.

[2015-11-16 17:44] sindresorhus commented on #222
@novemberborn I'm not saying splitting up would work for every use-case and it does sound like yours is a difficult one. I just try very hard not to introduce new features until I'm absolutely certain it cannot be solved in a less complicated way. We'll still consider this, but we have a lot on our plates, and maintaining something like this with the level of code churn we currently have is not so

[2015-11-16 21:46] billyjanitsch opened #224 "index spec files fail"
[code]

Running AVA on this file yields:
[code]

Appears to be an issue with `require-from-string`.

[2015-11-16 21:55] vdemedes commented on #224
@floatdrop could you please confirm?

[2015-11-16 22:15] billyjanitsch commented on #111
+1 for a `--compilers` (or perhaps `--preprocessors`) flag that lets you use custom register hooks, like mocha does (as @alexbooker alluded to) with a pretty clean syntax. Other test runners (Karma, babel-tape-runner) do similar things.

Including `import babel-core/register` at the top of every test file is clunky enough, and gets much worse if you want to write a custom compiler (e.g. [like this

[2015-11-16 22:17] vdemedes commented on #18
@sindresorhus do you still want to work on this? I'd like to assign this to myself :)

[2015-11-16 22:19] jamestalmage commented on #224
The issue is not with `require-from-string`.

You have `deep-extend` installed, which ships with it's own `test/index.spec.js`, and that is getting picked up with whatever `grep` string you are using.

Maybe AVA should avoid picking up files in `node_modules`, even if their glob string says too.

https://github.com/unclechu/node-deep-extend/pull/21

[code]

[2015-11-16 22:32] sindresorhus commented on #18
Go ahead ;)

[2015-11-16 22:34] billyjanitsch commented on #224
Ah, my mistake, thanks for clarifying!

[2015-11-16 22:34] #224 closed

[2015-11-16 22:42] jamestalmage opened #226 "Automatically ignore test files in node_modules folder"
See #224

The glob string was picking up a test file that was deployed with a dependency. (Unclear if they were using the default glob string or not - that should be looked into as well).

Should we automatically ignore `basedir/node_modules`? I can't see why a user would ever want that.

[2015-11-16 22:43] jamestalmage commented on #224
@billyjanitsch
Were you using the default glob string, or specifying your own? We should probably prevent AVA from picking that sort of file up by default.

[2015-11-17 00:23] billyjanitsch opened #229 "Consider allowing custom test preprocessors"
I understand the philosophy of keeping the test environment separate from the lib environment. If I'm writing a lib in ES5 but want to write tests in ES6, it makes sense, and I think it should be kept as a default behavior. However, there are cases where AVA's custom transpiling and non-polluting `require` are more of a hinderance than a benefit.

Suppose I'm already transpiling my lib with a tran

[2015-11-17 00:31] billyjanitsch commented on #224
I was specifying my own, and forgot that it would pick up `node_modules`.

[2015-11-17 00:41] jamestalmage commented on #229
Off topic here, but Babel suffers from the same issue across processes. Since AVA runs each test in a separate process, if you import it `test-a.js`, and `test-b.js` it compiles it once in each process. There is work on a solution (#189), that might be usable to help with that.

Right now, the intricacies of getting this to work well and work fast are challenging enough targeting Babel only.

Any

[2015-11-17 01:00] jamestalmage commented on #224
happens to the best of us.

I opened #226 to discuss the possibility of protecting against this sort of mistake.

[2015-11-17 01:17] billyjanitsch commented on #229
Thanks for your thoughts!

It depends on how you want to develop the project, of course, but FWIW, AVA is currently unable to test *anything* that uses `webpack`'s require aliasing -- which includes a ton of projects these days. It would be great to at least think about a workaround for this case.

I agree that this would be nice, but I don't think it's immediately necessary. For now, I'd be fine

[2015-11-17 01:24] jamestalmage commented on #229
Wait for a project maintainer to chime in.

[2015-11-17 04:15] Lokua commented on #217
Awesomeness.

[2015-11-17 04:43] TrySound opened #232 "Unhandled rejection on node 0.10"
All catched rejections still throw on node 0.10
https://github.com/davidtheclark/cosmiconfig/pull/17

[2015-11-17 04:47] jamestalmage commented on #232
Do you know what promise library you are using?

[2015-11-17 04:49] TrySound commented on #232
@jamestalmage pinkie-promise

[2015-11-17 04:51] jamestalmage commented on #232
Try switching to bluebird and see if it fixes it.
We just added `unhandledRejection` to `pinkie` earlier this week, and there could be a bug in the implementation.

[2015-11-17 04:56] jamestalmage commented on #232
In fact, I'm pretty sure I see the bug already

[2015-11-17 05:18] TrySound commented on #232
Thanks :) We willl wait for your fix

[2015-11-17 05:18] #232 closed

[2015-11-17 05:22] jamestalmage commented on #232
it's the chaining that is the problem.

promise.catch() <- marks this as handled

promise.then().catch() <- only marks the last one as handled.

// @floatdrop - I'm working up a PR.